[2019-03-21 20:12] marcosc90 commented on #1641
It's probably related, but `nodemon` stopped working. The server is not restarting anymore.

[2019-03-21 20:29] AndyOGo commented on #667
I don't know current implementation.

But from what you say, I'm convinced that one `script` tag for each file is the best option.

Correct me, if I'm wrong. I would object that this is tricky at all.
If you do know, iterate over all files and `eval` their content?
You would just replace `eval` by `document.createElement('script'); ...`

[2019-03-21 20:42] PeterC66 commented on #1631
Thanks @lbogdan, that is very useful. I had not noticed anything about this in my previous reading, and am new to much of the node/npm/vue.js environment.  I will try it out and hopefully be able to close this issue soon.

[2019-03-21 20:46] Loilo commented on #1545
Alright. Thanks. :)

[2019-03-21 20:46] #1545 closed

[2019-03-21 20:49] ryanpcmcquen commented on #926
@lbogdan, here is one: https://codesandbox.io/s/github/SurLaTable/slt-ui/tree/bugfix/storeselector-doc-fix

Which now gives a module limit issue.

[2019-03-21 23:39] Developerayo commented on #1628
Alright, that's true, Since a trash folder can easily be found and you can recover, then this feature might not be needed.

[2019-03-21 23:41] Developerayo commented on #1628
Sanboxes that are deleted and are present in the Trash folder, does it take up space on the bandwidth of the host?

[2019-03-22 01:03] masaeedu opened #1642 "Dependency on branch of git repo not working"
# 🐛 bug report

## Description of the problem

Hi there. It seems I can't take a dependency on a git repo containing an npm package. Here's what I have in package.json (most of this is just the `node` template):

[code]

When I try to import the module using:

[code]

I get

[code]

## How has this issue affected you? What are you trying to accomplish?

I'm trying to discuss some code changes with

[2019-03-22 05:13] paramquery opened #1643 "unable to run simple Vue example in codesandbox"
Hi

I'm new to codesandbox and vue, learning by working on few simple exercises.

codesandbox looks an awesome tool for code prototyping and sharing.

One such example is https://codesandbox.io/s/kyo4n5ylo

It works fine in local environment but refuses to work in codesandbox with some clueless errors.

Can someone please help me out on this what's wrong here. Is it a bug or unsupported feature in

[2019-03-22 07:20] PeterC66 commented on #1631
@lbogdan, Consulting the ref you gave and [vue-cli-service build docs](https://github.com/vuejs/vue-cli/blob/dev/docs/guide/cli-service.md#vue-cli-service-build) helped me understand better what I need to do. I will close the issue as it is not about CodeSandbox.

[2019-03-22 07:20] #1631 closed

[2019-03-22 08:05] lbogdan commented on #1642
Hey @masaeedu ,

If you'll take a look in `node_modules` you'll see the files are there, the issue is that you don't have a root `index.js`, and your `package.json` points `main` to `dist/index.js`, which doesn't exist, either.

[2019-03-22 08:31] lbogdan commented on #926
That's a legitimate error, caused by out current limit of 250 modules (files, really) per sandbox.

[2019-03-22 08:41] lbogdan commented on #1643
Hey @paramquery ,

At a first glance, it looks like `pqgridtest1` uses ES6 syntax (see https://unpkg.com/pqgridtest1@0.0.0/index.js ), which a "normal" npm module shouldn't (see my comment [here](https://github.com/CompuIves/codesandbox-client/issues/1631#issuecomment-475332461) ). Nevertheless, we're transpiling modules to ES5 whenever we see ES6 syntax, so this should work, in theory. We'll take

[2019-03-22 08:46] lbogdan commented on #1631
@PeterC66 Happy to help! I would also suggest you to join the [official Vue.js Discord chat server](https://chat.vuejs.org/), there's an awesome community there (I know cause I'm part of it 🙂 ), and lots of people helping and answering other people questions.

[2019-03-22 08:51] libetl commented on #1603
Hi,

This is work in progress.
I first want to focus on compatibility with vue-cli, ember, preact and so on.
We will document and demo that then the feature is ready to ship.

[2019-03-22 08:58] lbogdan commented on #1610
Hey @davestewart ,

While you have a point, we chose this starter specifically because that's what `vue-cli` (and, more recently, `@vue/cli`) generates. Also, it's very hard to have one that satisfies everybody's needs.

A workaround (and at least what I do) to this is to define your own "starter template" (mine is https://codesandbox.io/s/n0y593z354 ), and fork that every time you want to *just s

[2019-03-22 09:02] davestewart commented on #1610
I guess it's good to have a baseline

I like it! Prepare to be forked 😜

[2019-03-22 09:07] lbogdan commented on #1525
Hey @dhuber666 ,

Did @ardeaf 's comment solve the issue for you? If so, can you please close this? Thanks!

And thanks @ardeaf for your comprehensive comment! 🙂

[2019-03-22 09:14] lbogdan commented on #1595
Hey @mindplay-dk , @AndrianMauricio ,

With the recent [switch to VSCode as the default editor](https://hackernoon.com/announcing-codesandbox-v3-4febbaba1963), I think this shouldn't be an issue any more. Can you please confirm, and if so, close this issue? Thanks!

[2019-03-22 09:34] lbogdan commented on #1602
Hey @eps1lon ,

That's because the `object-hash` package is using the [Node.js crypto API](https://nodejs.org/api/crypto.html), and as your sandbox is completely running in the browser, that's not available.

What you can do is use a server sandbox (which just [got out of beta yesterday](https://medium.com/@compuives/codesandbox-containers-out-of-beta-improvements-be79679df4cc)!), which runs in a

[2019-03-22 09:34] lbogdan commented on #1602
Also closing this, as it's expected behavior.

[2019-03-22 09:42] eps1lon commented on #1602
`object-hash` is supposed to run in the browser and has set the `browser` field in `package.json` specifically for that purpose.

[`webpack` respects this by default](https://webpack.js.org/configuration/resolve/#resolvemainfields). I guess codesandbox is either ignoring this or changing the priority. Is there a reason for this?

@lbogdan Please consider re-opening this. I suspect that there are p

[2019-03-22 09:56] lbogdan commented on #1602
Ah, sorry, I completely missed the `browser` entry in `package.json`! I remember we honoring this, we'll take a look at why that doesn't work in this case. Reopening and marking this as a bug.

[2019-03-22 10:55] lbogdan commented on #1602
**Update**: after @CompuIves took a look at it, we're indeed honoring the `browser` entry, the bug seems to be related to the code in `/dist/object_hash.js`.

[2019-03-22 10:59] lbogdan commented on #1601
Hey @dann4566165 ,

What are you trying to achieve, exactly? From what I understand, that's the Quasar CLI app, so I'm a bit confused of why you would want to open it in CodeSandbox.

[2019-03-22 11:01] lbogdan commented on #1565
Closing this, as I'm fairly certain the recent switch to VSCode as the default editor should have fixed this. Please reopen if that's not the case.

[2019-03-22 11:08] eps1lon commented on #1602
I updated my initial post to clarify what I meant with "locally":

So there is a difference between `webpack` and `sandpack`. `object-hash` is running in the browser if bundled by `webpack` with a config from `react-scripts`.

[2019-03-22 11:14] atomiks commented on #1565
From a few uses of v3 it indeed oesn't seem to be a problem anymore 💯

[2019-03-22 11:15] lbogdan commented on #1596
Hey @iofirag ,

I'm closing this, as we currently don't support this use case, and we don't provide root access, for obvious security reasons.

What you could do, though, is try to compile it inside the `/sandbox` folder, as you only need root access to copy the generated libraries and binaries to system folders. Also, make sure you have the folder where you cloned that repository in `.gitignore`,

[2019-03-22 11:15] #1596 closed

[2019-03-22 11:20] lbogdan commented on #1602
Coincidentally, it's also working with our new packager, which we're yet to switch to. We'll let you know as soon as we have an update on that!

[2019-03-22 11:22] lbogdan commented on #1565
Glad to hear, I'll close this for now, feel free to reopen if it somehow happens again!

[2019-03-22 11:24] lbogdan commented on #1565
Haha, I completely forgot I have already closed it, hopefully closing it for good now!

[2019-03-22 11:24] #1565 closed

[2019-03-22 11:41] lbogdan commented on #1590
Hey @00-1 ,

I see this as a non-issue, while some users might find this useful, I'm not sure we should do this by default. It's only a matter of running `git init; git config user.email "janedoe@example.com"; git config user.name "Jane Doe"; echo node_modules >.gitignore; git add -A; git commit -m "initial commit"` when needed.

I'll leave this opened, though, as we might switch to git repositori

[2019-03-22 11:46] lbogdan commented on #1380
(although this was opened first) Closing it as a duplicate of https://github.com/CompuIves/codesandbox-client/issues/1455 .

[2019-03-22 11:46] #1380 closed

[2019-03-22 11:49] j-oshb commented on #1590
Thanks for the reply @lbogdan

By the way I did try that but I ran in to rate-limiting issues & gave up with it. But I guess that's for a different issue.

[2019-03-22 12:03] lbogdan commented on #1594
Hey @BetterCallSky ,

As we're trying to exactly mirror `create-react-app` features, there's no support for HMR in the CRA CodeSandbox template, either.

If you look closely at the image you pointed to, you'll see that we're explicitly using the `module.hot` API there.

 Closing this, as it's expected behavior.

[2019-03-22 12:26] BetterCallSky commented on #1594
I am also using `module.hot` in my example. It's custom code, but HMR is not working.
Can you provide a code sandbox link for this demo?

![image](https://cdn-images-1.medium.com/max/2400/1*H04vTxKLqhaSir2XGv-PYw.gif)

The blog post doesn't have any references to the example demo. There is only a vue app.

[2019-03-22 12:45] lbogdan commented on #1590
If you mean the "10 updates in less than 2 seconds" notification, that should be fixed now.

[2019-03-22 13:04] lbogdan commented on #1594
Reopening and marking it as (maybe) a bug.

[2019-03-22 13:06] lbogdan commented on #1594
I can confirm it works locally, so I guess the question now is what exactly does that `onHmr()` imported from `typeless` does?
cc @CompuIves

[2019-03-22 13:08] BetterCallSky commented on #1594
https://github.com/typeless-js/typeless/blob/master/packages/typeless/src/onHmr.ts

It doesn't do anything related to webpack or `module.hot`.

[2019-03-22 13:12] lbogdan commented on #747
Hey @glen-84 ,

Can you please point us to a sandbox experiencing that issue?

[2019-03-22 13:13] donavon opened #1644 "PWA icon not visible"
# 🐛 bug report

## Description of the problem

If you install CodeSandbox as a PWA and you are on a dark background, then when you use Cmd-Tab to switch between apps, the CodeSandbox icon is barely visible. There are times when it's completely invisible if you're on the same background color. It works great on lighter backgrounds as the icon is back.

❤️ it as a PWA, BTW! 👏

![codesandbox2](https:

[2019-03-22 13:19] CompuIves commented on #1583
It's live 😄

[2019-03-22 13:23] lbogdan commented on #1583
Closing, as this now works as expected. Please reopen if you have further issues.

[2019-03-22 13:23] #1583 closed

[2019-03-22 13:29] lbogdan commented on #513
@gautamarora , @gillchristian Are you guys still interested in pursuing this?

[2019-03-22 13:35] lbogdan commented on #973
@ChuckJonas Can you please point us to a sandbox experiencing the issue?

[2019-03-22 13:52] lbogdan commented on #1577
Hey @danvega ,

Thanks for the willingness to contribute! Maybe [this write-up](https://github.com/CompuIves/codesandbox-client/blob/master/contributor-docs/adding-template.md) might help you to get started?

[2019-03-22 14:00] lbogdan commented on #1572
Hey @dekz , I can't see any (relevant) errors in the sandbox you linked to, is this still an issue? If so, can you paste / screenshot exactly what the error is?

[2019-03-22 14:15] lbogdan commented on #1570
Hey @brownbl1 ,

Did you try it and it didn't work? I'm asking because our packer uses `yarn`, and in theory it should support all of the following:
- `yarn add <git remote url>` installs a package from a remote git repository.
- `yarn add <git remote url>#<branch/commit/tag>` installs a package from a remote git repository at specific git branch, git commit or git tag.
- `yarn add https://my-proj

[2019-03-22 14:21] lbogdan commented on #502
@vpicone What OS / browser are you using? Also, I can see all 3 tests passing in the sandbox you linked to, and can't replicate your issue on Win/Chrome.

[2019-03-22 14:23] lbogdan commented on #502
@pavloDeshko @c089 @blikblum Are you still experiencing issues?

[2019-03-22 14:25] Haroenv commented on #502
I can still replicate this on Safari (TP) with the sandbox given by @vpicone https://codesandbox.io/s/728on5rpl0

[code]

[2019-03-22 14:34] lbogdan commented on #1303
@CompuIves swears this is now fixed 🙂 , are you folks still seeing issues?

[2019-03-22 14:39] lbogdan commented on #1566
Hey @dimaip ,

While a full-featured code review feature would be awesome, it's not really something we'll be pursuing in the foreseeable future. What you could do is fork his sandboxes and add lots of comments to them. 🙂
Or even export them to github, commit the fixes there, and import them back into CodeSandbox.

[2019-03-22 14:44] lbogdan commented on #639
@Komar0ff Did you get a chance to take a look at this?

Might be related to https://github.com/CompuIves/codesandbox-client/issues/1615 .

[2019-03-22 14:44] jimthedev commented on #1303
I added typescript as a dependency and everything is working now I think?

[2019-03-22 14:46] lbogdan commented on #504
Closing this, since it should be fixed by the recent switch to VSCode as the default editor. Feel free to reopen if this is still happening.

[2019-03-22 14:46] #504 closed

[2019-03-22 14:55] lbogdan commented on #1560
The container was most probably out of sync with the sandbox, should be fixed with the [moving to the new container infrastructure](https://medium.com/@compuives/codesandbox-containers-out-of-beta-improvements-be79679df4cc), as we regenerated all the containers.

![image](https://user-images.githubusercontent.com/2083930/54831552-3602d600-4cc3-11e9-95dd-35694737a374.png)

[2019-03-22 14:55] #1560 closed

[2019-03-22 14:57] lbogdan commented on #1559
Closing this, as it should be fixed by the recent switch to VSCode as the default editor. Feel free to reopen if you still have issues.

[2019-03-22 14:57] #1559 closed

[2019-03-22 15:01] lbogdan commented on #1558
Hey @evanoralph ,

Do you still have issues with logging in with GitHub? It should work without you having to install anything (which is the whole idea of using CodeSandbox 🙂 ). If you do, can you please tell us exactly what you're doing, step by step? Thanks!

[2019-03-22 15:12] brownbl1 commented on #1570
I did try that.

It works locally, but when I add this line to my `package.json` in codesandbox:
`"my-package": "https://my-package.blob.core.windows.net/test/my-package-0.3.2.tgz"`

I get the following error:
[code]

[2019-03-22 15:32] lbogdan commented on #1557
Hey @stefan0uh ,

We don't currently (and probably never will) support `@vue/cli` 3 in browser sandboxes.

You can however use a [server sandbox](https://medium.com/@compuives/codesandbox-containers-out-of-beta-improvements-be79679df4cc) ; I took your sandbox and made an example here: https://codesandbox.io/s/github/lbogdan/vue-svg-loader-demo .

Lots of server sandboxes improvements are coming so

[2019-03-22 15:32] #1557 closed

[2019-03-22 15:53] lbogdan commented on #1291
Closing this, as I'm pretty sure it was solved by the recent switch to VSCode as the default editor. Feel free to reopen if you still have issues.

[2019-03-22 15:53] #1291 closed

[2019-03-22 15:59] dekz commented on #1572
@lbogdan looks to be running better now. I'll re-open if it occurs again.

[2019-03-22 15:59] #1572 closed

[2019-03-22 16:16] lbogdan commented on #1522
@Ajar-Ajar @alemesa Are you still experiencing this?

[2019-03-22 16:19] lbogdan commented on #1537
Hey @zeitamin ,

Is this still an issue for you?

[2019-03-22 16:24] lbogdan commented on #671
I think what OP meant is running a private version of CodeSandbox in Heroku (not deploying a sandbox to Heroku). @kavink , can you please clarify?

[2019-03-22 16:29] lbogdan commented on #829
@makmm Are you still interested in pursuing this? If so, you could try taking a look at @SaraVieira 's PR here: https://github.com/codesandbox/codesandbox-importers/pull/19 .

[2019-03-22 16:32] lbogdan commented on #1549
Hey @donavon , are you still experiencing this issue? If not, we'd be very grateful for you to help us lowering the number of opened issues with one! 🙂

[2019-03-22 16:34] lbogdan commented on #1626
Closing this as duplicate of #565 .

[2019-03-22 16:34] #1626 closed

[2019-03-22 16:41] donavon commented on #1549
it went away. thx. closing

[2019-03-22 16:41] #1549 closed

[2019-03-22 16:42] lbogdan commented on #1549
Thanks! 😃

[2019-03-22 16:46] lbogdan commented on #630
This is a limitation of private sandboxes, as we assume all sandbox contents is sensitive, and we deny any request trying to access it.

As an aside, instead of `fetch`ing a `.json` file, you can simply `require` it.

I'll leave this open, maybe we can find a way to allow access to a private sandbox's resources to its owner.
cc @CompuIves

[2019-03-22 16:58] lbogdan commented on #1541
Hey @BTMPL ,

Closing this, as it seems to now error as expected (although I have no idea what fixed it). Please reopen if you don't agree. 🙂

[2019-03-22 16:58] #1541 closed

[2019-03-22 17:03] lbogdan commented on #1229
Closing this, as we're using [Stripe](https://stripe.com/) for credit card processing, and unfortunately we don't have any control over their card validation process.

[2019-03-22 17:03] #1229 closed

[2019-03-22 17:30] masaeedu commented on #1642
@lbogdan The module actually has a `prepare` script that builds it after it's installed as a dependency (using its own devdependencies). If you run the following in an empty directory you'll see that using it with yarn on a local system works ok:

[code]

[2019-03-22 17:33] lbogdan commented on #1504
Hey @cristiano-belloni ,

You can access the files in a sandbox's `public` folder using the `https://sandbox_id.codesandbox.io/public/filename.ext` url, e.g. https://oxqwr38pyy.codesandbox.io/public/test.json .

We should probably look into defining the `PUBLIC_URL` environment variable for `create-react-app` sandboxes.
cc @CompuIves

[2019-03-22 18:12] gregrob1 commented on #1639
I used nvm to run run node 10.15.3 and saw the same issue but realized I left out a step

The first time the project runs fine.  However *if* you make a change in a file when it tries to run the second time is when the problem occurs.

For example

Go to http://localhost:3000
It will display fine
Click `components`
Click `HelloWorld.vue`
Start typing next to the text for `Hello Vue in CodeSandbox!

[2019-03-22 18:25] lbogdan commented on #1528
I tried creating a simple example here https://codesandbox.io/s/github/lbogdan/react-static-demo , but it has two issues:
- clicking on links doesn't seem to work (although navigating with the preview's next / previous buttons does)
- the dev server is listening on port 3000, but it looks like the webpack socket, used for HMR, is on port 4000, and we currently don't suport multiple ports in a serv

[2019-03-22 18:30] lbogdan commented on #1482
Closing this as duplicate of #723 .

[2019-03-22 18:30] #1482 closed

[2019-03-22 18:41] lbogdan commented on #1516
Hey @tangert ,

Not going too much into details, we are using nginx, we define a `server {}` block with a `server_name` that matches `*.codesandbox.io`, we extract the sandbox id from that name and forward the requests together with the sandbox id to the API, which responds with the requested sandbox resource.

I'll close this for now, but if you want to discuss more about CodeSandbox, please join

[2019-03-22 18:41] #1516 closed

[2019-03-22 18:51] lbogdan commented on #1458
@AmyScript Can you please provide another link, as the sandbox you pointed to doesn't exist anymore?

@looeee That's because the `static` template doesn't support using npm packages.

[2019-03-22 19:22] lbogdan commented on #776
The news is that I just updated https://codesandbox.io/s/github/lbogdan/cs-vue-cli-3 to the latest versions, so until we release the `@vue/cli` server template (which will probably be **very** similar), you can just fork this.

[2019-03-22 19:30] lbogdan commented on #1513
Hey @ShimiSun ,

This appears to be working now. Can you please confirm and help us lower the number of opened issues by one? Thanks! 🙂

[2019-03-22 19:44] lbogdan commented on #1511
Hey @babakness ,

The private sandboxes will remain private, and the over-quota sandboxes will not be deleted. The only difference is that you won't be able to create any new private sandboxes, or any new sandboxes until you remove some old ones and get under the 50 sandbox limit for regular users.

I'll close this for now, if you need any additional information, please join us on [Spectrum](https

[2019-03-22 19:44] #1511 closed

[2019-03-22 20:01] lbogdan commented on #1382
Looks like the error in https://codesandbox.io/s/k2w94no31v went away in Chrome, but it doesn't render anything in Firefox. Maybe related to #1335 .

@blikblum Can you please give a status update?

[2019-03-22 20:05] lbogdan commented on #1502
@Mooninghnk The sandbox you linked to doesn't exist anymore, is this still an issue? If not, please help us lower the number of opened issues by one! Thanks! 🙂

[2019-03-22 20:23] lbogdan commented on #1135
Here's an example of a server sandbox, hope this helps: https://codesandbox.io/s/qkp0ojk8pj .

[2019-03-22 20:27] lbogdan commented on #1501
Closing this, as we recently switched to VSCode as the default editor. Please reopen if it's not working as expected.

[2019-03-22 20:27] #1501 closed

[2019-03-22 20:30] lbogdan commented on #1496
@Chi7519 @Mooninghnk Can you please give us more details on this? What exactly are you trying to do, what happens, what do you expect to happen?

[2019-03-22 20:30] glen-84 commented on #747
@lbogdan I think it was [this one](https://codesandbox.io/s/7wmzz6pwq), but there's some other sandbox error there now.

[2019-03-22 20:39] CompuIves commented on #1229
Hey everyone, I wanted to give some context on this.

When we just released CodeSandbox Patrons our country of residence (The Netherlands) had an embargo on Russia. We weren't sure whether we were allowed to sell Patron subscriptions to people living in Russia and we also didn't have the money to ask a lawyer about this issue. We asked Stripe to decline cards from Russia at the time and whenever I

[2019-03-22 20:49] lbogdan commented on #1421
Closing this, as it should've been fixed in https://github.com/CompuIves/codesandbox-client/pull/1396 . Please reopen if you have further issues.

I forked your sandbox, deployed it, and the images are there, e.g. https://csb-l9o9nyz7vq-dygamfyzbg.now.sh/images/loading.gif .

[2019-03-22 20:49] #1421 closed

[2019-03-22 21:05] lbogdan commented on #1489
Hey @tinymachine ,

As the sandbox you provided doesn't exist anymore, can you please point us to another one experiencing this?

[2019-03-22 21:08] lbogdan commented on #1486
@pieterbergwerff Is this still happening? (although I don't think we did anything to fix it)
If not, please help us lower the number of opened issues by one! Thanks! 🙂

[2019-03-22 21:10] tinymachine commented on #1489
Sorry! Restored it: https://codesandbox.io/s/91y8vz69pr

[2019-03-22 21:15] lbogdan commented on #845
@derkoe It seems to work just fine here, are you still seeing that behavior? If so, what OS / browser are you using?

[2019-03-22 21:22] lbogdan commented on #1479
It looks like `http` was the culprit here, I have a fixed version here: https://codesandbox.io/s/xor879jz1o . I used `target="_blank"`, otherwise you get `Refused to display 'https://github.com/prisma-csb/prisma-client-demo-ts/blob/master/SETUP.md' in a frame because an ancestor violates the following Content Security Policy directive: "frame-ancestors 'none'".` , which makes sense because the pre

[2019-03-22 21:22] #1479 closed

[2019-03-22 21:27] lbogdan commented on #872
Closing this, as by using server sandboxes (and a bit of imagination) you can handle virtually any such use case.

[2019-03-22 21:27] #872 closed

[2019-03-22 21:40] SaraVieira commented on #1475
Hey!

The problem is that React Scripts was not updated to the latest version for a while in some sandboxes, updating it manually fixes the issue:

https://codesandbox.io/s/387k3zzwr6

For new sandboxes this has been fixed

[2019-03-22 21:47] jonrimmer opened #1646 "The Angular template is fourteen months out of date"
# 🐛 bug report

## Description of the problem

Angular v5.2.0 was released 2018-01-10, but the Codesandbox Angular template is still using it as the dependency version in `package.json`. At the time of writing, the current version is v7.2.10, released 2019-03-20.

Compare this with the React template, which is at v16.8.3, released 2019-03-21.

Why is the React template kept up to date but the Angu

[2019-03-22 21:48] lbogdan commented on #1484
Hey @TongDaDa ,

If you'll take a look the the [contributing document](https://github.com/CompuIves/codesandbox-client/blob/master/CONTRIBUTING.md), you'll see that we're only using `yarn`, while you used `npm`.

I'll close this for now, if you need further assistance please find us on [Spectrum](https://spectrum.chat/codesandbox).

[2019-03-22 21:48] #1484 closed

[2019-03-22 21:48] SaraVieira commented on #1475
Sorry, my misunderstaning of how create-react-app typescript, just downloaded and see what you mean. it's supposed to totally break

Reopening

[2019-03-22 21:49] JasonGore opened #1647 "TypeScript Support Broken: API Lambda Failures"
# 🐛 bug report

## Description of the problem

TypeScript API lambda fetcher that CodeSandbox appears to use fails for NPM modules, resulting in `Cannot find module` errors.

![image](https://user-images.githubusercontent.com/26070760/54854758-3c885200-4cb1-11e9-9c8a-b237a11690eb.png)

![image](https://user-images.githubusercontent.com/26070760/54854707-0b0f8680-4cb1-11e9-82c2-e2447f817683.png)

A

[2019-03-22 21:52] lbogdan commented on #1474
Hey @moshemo , out of curiosity, can you please share what your use case is? As far as I'm concerned, you should **never** not use strict mode. 🙂

[2019-03-22 21:55] JasonGore commented on #1620
I'm seeing the same error:

![image](https://user-images.githubusercontent.com/26070760/54855120-5e360900-4cb2-11e9-8b21-d6dd0a008eea.png)

Browsing to https://api.zeit.co/v3/now/deployments results in `{"error":{"code":"forbidden","message":"Not authorized"}}`

I wonder if this could be related to #1647?

[2019-03-22 21:58] ShimiSun commented on #1513
Looks good, thank you guys!

[2019-03-22 22:02] lbogdan commented on #1461
@Saeris I just tested that the port defined in `container.port` in `sandbox.config.json` takes effect as soon as restarting the sandbox, although I don't remember specifically fixing this. Can you maybe take another shot at it, and let me know if you experience the same behavior?

[2019-03-22 22:07] lbogdan commented on #874
@Saeris Let's keep this one specifically for Netlify. Feel free to open other issues for other hosting providers.

[2019-03-22 22:30] blikblum commented on #1382
The message error does not occurs in Chrome anymore, so this specific issue (message not showing) can not reproduced anymore with my sandbox.

There's still a issue with this sandbox not working at all in Firefox reported at #1630

By my side, this issue can be closed. If i can reproduce i will reopen

[2019-03-22 22:36] blikblum commented on #502
The output of a failed test is still not show correctly in Firefox 66 although with a different error: https://codesandbox.io/s/52zzxpq32n

[code]

[2019-03-22 22:47] lbogdan commented on #1639
I can confirm I have the same behavior. Also, from the stack trace, this seems to be related to `console-feed`:
[code]
We'll take a look at this next week.

[2019-03-22 22:51] #926 closed

[2019-03-22 23:04] lbogdan commented on #1083
Hey @iliakan ,

Did the [static template](https://codesandbox.io/s/github/codesandbox-app/static-template) solve your problem? If not, do you still need this?

[2019-03-22 23:41] lbogdan commented on #1646
Hey @jonrimmer ,

The are two main reasons why we're lagging way behind the current Angular version:
- it takes **a lot** of effort for us (well, for @CompuIves , really 🙂 ) to update our in-browser bundler when the Angular major version changes - and sometimes that's true even for minor ones;
- since we released [CodeSandbox Containers](https://medium.com/@compuives/codesandbox-containers-out-of-

[2019-03-22 23:51] lbogdan commented on #1382
Closing this in favor of #1630 .

[2019-03-22 23:51] #1382 closed

[2019-03-22 23:59] lbogdan commented on #1620
@JasonGore You can't directly access that URL in the browser, as you need an authorization header. Can you please take a look in "Network" at a failed request and check that you're sending an `Authorization` header?

![image](https://user-images.githubusercontent.com/2083930/54858686-e8ac5600-4d0e-11e9-941b-a6e9f3653c7a.png)

If the header is there, and you still get a `403` error, can you please

[2019-03-23 00:03] lbogdan commented on #1437
Hey @tcozzens ,

Maybe my comment here https://github.com/CompuIves/codesandbox-client/issues/1646#issuecomment-475816695 helps.

I'll leave this open until we add the Angular server template.

[2019-03-23 00:13] lbogdan commented on #875
Hey @riwu ,

Doesn't the [dashboard](https://medium.com/@compuives/announcing-codesandbox-dashboard-teams-876f5933160b) solve your sandbox management needs?

[2019-03-23 01:44] samdenty commented on #1639
@lbogdan object getters throwing an error fixed in 2.8.6

[2019-03-23 06:18] iliakan commented on #1083
@lbogdan Maybe it solves. I'm not looking into it now.
There's another problem in the UI. It's overloaded, especially to the left.

A bunch of stuff should be removed/collapsed or made removable. It's crazy - I open the editor and the file list just doesn't fit. Less important stuff does.
https://jmp.sh/vLtHp2T

[2019-03-23 08:19] paramquery commented on #1643
Hi Bogdan

Thanks for checking it out.

Grid appears on http://localhost:8080/vue.html without any errors or issues.

pqgridtest1 module core is completely written in ES5, except few import and export statements ( ES6 syntax ) and require ( commonjs)

Any other clues?

Thanks a lot!
Paramvir

[2019-03-23 13:08] paramquery commented on #1643
I've replaced ES6 imports with commonjs require() in pqgridtest1 (v0.0.1)

I'm getting new set of errors, jQuery is not defined in jqueryui widgets.

As jqueryui modules are AMD modules, I'm wondering whether codesandbox supports only commonjs modules.

[2019-03-23 13:11] sun2rise commented on #323
Sure this is not a big issue, but if you want to use codesandbox for real projects with real data (like me), the fact that it will push to github all your keys is probably something quite limiting at the moment

[2019-03-23 14:15] mindplay-dk commented on #1595
It's much better, but it's still not 100%.

![image](https://user-images.githubusercontent.com/103348/54867242-4e83f680-4d7e-11e9-8677-8d7dd7df7d34.png)

That `return` statement is still off by half a character, which is enough to be distracting.

I'm not sure those two fonts play nice together?

(that cursive font is cute, but perhaps not very practical anyhow...)

[2019-03-23 14:21] lbogdan commented on #1595
@mindplay-dk What OS / browser are you using? Have you tried using other fonts?

[2019-03-23 14:46] lbogdan commented on #1639
@samdenty That seems to solve it, thanks!

@gregrob1 Can you please try with https://github.com/lbogdan/codesandbox-client/tree/update/console-feed ?

[2019-03-23 15:12] mindplay-dk commented on #1595
Win 10/Pro, latest Chrome.

Not sure what you mean by "using other fonts"? (I'd assume the editor defines which fonts it uses?)

It might not be just a font issue though - look at this:

![indetation-fudge](https://user-images.githubusercontent.com/103348/54867898-429c3280-4d86-11e9-831b-7c44d473f0d5.gif)

It looks like the vertical alignment is off for the whole editor, even if you're just editin

[2019-03-23 15:16] lbogdan commented on #1595
As we recently switched to VSCode as the default editor, you can change the font exactly the same way you would in the native VSCode application.

[2019-03-23 15:20] lbogdan commented on #1595
Looking at your image, it just occurred to me that the default font we're using, Dank Mono, might have different character widths at different font weights, and the syntax highlighting is using different weights for different syntactic units.

[2019-03-23 15:25] lbogdan commented on #1595
Sorry, I'm on my phone and I somehow managed to delete the previous comment. As I was saying, we recently switched to VSCode as the default editor, so you can change the font (family) exactly the same way you would in the native VSCode application.

[2019-03-23 19:33] jonrimmer commented on #1646
@lbogdan Thanks for the info. Here's hoping you do get this resolved soon, as I think, this issue aside, CS it is a great resource.

[2019-03-23 19:33] #1646 closed

[2019-03-23 20:32] RandomFractals commented on #1274
@SaraVieira see this repo and let me know what else we need to do to make this happen:

https://github.com/RandomFractals/vega-template

cc @domoritz & @CompuIves

[2019-03-23 22:22] RandomFractals commented on #1274
also this vega-template sandbox I started from parceljs, but could not quite make it work on your platform. so, I resorted to simple vega-template repo that still needs some work for a proper vanilla vega proj. template, but at least it works local. Not sure what's up with this error from your sandbox:

https://codesandbox.io/s/y3xj8p2z81

something nodejs || babel config related?

[2019-03-24 06:19] roy1210 commented on #1620
Hi @lbogdan ,
Below is the console when deploy error happen.
Please help to advice.

...
Screenshot:
https://gyazo.com/5c5693f78989e20f70e6e136daa11a25
...

raven.js:55 HttpProviderError: {"error":{"code":"invalid_files","message":"One or more file definitions contain errors in them","errors":[{"reason":"duplicated_file_path","path":"package.json"}]}}
    at t (https://codesandbox.io/static/js/ven

[2019-03-24 11:59] lbogdan commented on #1455
Sorry, didn't want to close this just yet, github did it without asking. 🙂

This should be fixed now, please test and let me know if you still experience unwanted behavior, together with the sandbox id.

Cc @Saeris

[2019-03-24 13:36] #1639 closed

[2019-03-24 14:34] mindplay-dk commented on #1595
Probable.

I changed it to just `Courier New` and the problem vanished.

I use `Courier New` in other desktop tools - unfortunately, it renders terribly in browsers 😐

I shouldn't need to though, right? You still consider this a bug?

I mean, the default font/theme ought to work with a standard, out-of-the-box Win 10/Pro, right?

[2019-03-24 16:49] gregrob1 commented on #1639
@lbogdan Can confirm that fixed.  Thank you and @samdenty !

[2019-03-24 20:24] lbogdan commented on #1595
Pinging @kitten (the creator of Dank Mono), as a font expert, can you please take a look at this? Thanks!

[2019-03-24 20:35] kitten commented on #1595
Oh I've noticed this issue myself and character weights are a perfect guess!

Dank Mono does not have different weights yet so I suppose when the browser interpolates the weight it also scales each character width.

I'd guess this can only be resolved by me actually finishing the bold weight at last 😅

[2019-03-24 20:44] lbogdan commented on #1595
Ok, I'll leave this open until then, please ping us with updates!

[2019-03-24 20:52] lbogdan commented on #1620
Yup, this looks like a bug on our part, will take a look at it this week!

Cc @SaraVieira

[2019-03-24 20:54] lbogdan commented on #1643
Cc @CompuIves

[2019-03-25 08:55] christiankaindl commented on #1249
@jthegedus I had the same issue. Missing tilde support breaks my app on CSB; it works locally with Parcel.

As a workaround, you can add an alias to your `package.json`:
[code]

After that tilde imports, e.g. `import placeImg from '~/assets/profile.svg';`, worked for me :fire:

Note: The Parcel docs don't recommend overriding the built in aliases with your own, but until it's fixed it seems like t

[2019-03-25 13:07] derkoe commented on #845
@lbogdan that's because I added a workaround checking if the element is already registered (`customElements.get()`). I changed it back - now it fails again.

Example: https://codesandbox.io/s/2vzmvyj0jp
Preview link: https://2vzmvyj0jp.codesandbox.io/

[2019-03-25 13:41] theianjones opened #1650 "Console.log broken in Static Template"
# 🐛 bug report

## Description of the problem
When you use the Static template, adding a `script.js` with a `console.log('hello world')` nothing gets logged when the sandbox runs. Adding the script to the body of the `index.html` like this:

[code]

Nothing gets logged out to the console.

## How has this issue affected you? What are you trying to accomplish?
Just trying to log something using the

[2019-03-25 14:04] lbogdan commented on #1650
Hey @ijones16 ,

Thanks for the report, I also saw that recently, but didn't get around to filing the bug.

[2019-03-25 14:07] lbogdan commented on #845
Confirmed as a `vanilla` (`parcel`) template bug.

[2019-03-25 14:29] pieterbergwerff commented on #1486
Hi Bogdan, I don't know for sure.
I will test it :) I will get back on this.

[2019-03-25 14:35] pieterbergwerff commented on #1486
Can't reproduce the bug on the moment. So I think it's fixed then :)
![Screenshot 2019-03-25 at 15 34 29](https://user-images.githubusercontent.com/1438112/54928054-9ab46f80-4f13-11e9-8971-c44a64c7ec5e.png)

[2019-03-25 15:01] CodeSpartan commented on #1621
Yes, it looks much better with `dm, monospace`, thanks!

[2019-03-25 15:09] gforceg opened #1651 "'Tests' links stacking up on the preview pane."
# 🐛 bug report

## Description of the problem

A bunch of 'Tests' links have stacked up on the preview pane obscuring the 'Browser' link. I didn't notice this until after I had forked several sandboxes so now they all have this issue.

![image](https://user-images.githubusercontent.com/14267747/54930262-9ae54880-4edc-11e9-8919-51f3a3e5ed24.png)

## How has this issue affected you? What are you try

[2019-03-25 15:16] lbogdan commented on #1621
Nice! Closing this, as I think there's nothing more we can do here.

[2019-03-25 15:17] #1621 closed

[2019-03-25 15:17] CompuIves commented on #1651
Wooow, so on every fork a new tab is added?

[2019-03-25 15:35] gforceg commented on #1651
@CompuIves I don't know that forking caused the problem. I just know that forking spread the problem to my other new sandboxes.

As I was working on the original sandbox I vaguely remember seeing two 'Tests' links, then three, etc... I figured that upon refresh / save they would go away. I forgot about the issue until it was too late.

[2019-03-25 17:08] lbogdan commented on #1486
Nice! I'll close this for now, feel free to reopen if the issue comes back.

[2019-03-25 17:08] #1486 closed

[2019-03-25 19:42] sajithneyo commented on #1537
@lbogdan  happening same here

[2019-03-25 20:39] #1582 closed

[2019-03-25 21:44] kavink commented on #671
Exactly what @lbogdan said do not want to deploy sandbox but is it possible to deploy private version of CodeSandbox or some basic instructions to create build pack /procfile etc to deploy private version CodeSandbox.

[2019-03-25 23:46] Saeris opened #1654 "🐛 Terminal does not resize with it's container"
As the title says, the terminal window's contents does not resize along with it's container.

Please see attached gif for example:

![terminal resize](https://user-images.githubusercontent.com/3144549/54961363-87a69d00-4f1d-11e9-86a4-81ea80efa782.gif)

PS: This was observed in Firefox 67 on Windows 10. This doesn't appear to occur in Chrome 73. The scrollbars being the system default also appears

[2019-03-25 23:58] Saeris commented on #1455
@lbogdan I don't appear to be experiencing duplicate files now, though I've been running into a lot of errors on saving new files recently. I'll make an issue for that later once I've got a solid grasp of how to reproduce the error.

[2019-03-26 00:28] IAMtheIAM commented on #18
It would be great if we could have this console open by default on our codesandboxes, right now it's "click to open"

[2019-03-26 00:28] Saeris commented on #1654
Just double-checked in Chrome 73, it appears to occur there too, though it has some weird jumping behavior too. See attached gif:

![terminal resize 2](https://user-images.githubusercontent.com/3144549/54962731-38636b00-4f23-11e9-9399-06561467e958.gif)

[2019-03-26 07:09] ccyytt opened #1655 "webpack config ？"
# ❔ Question

I need to set up webapck loader and need to run the react page after setup. What should I do
###  Link to sandbox: [link](https://codesandbox.io/s/1099qommkq) (optional)
### Your Environment I don't know which one to choose
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  |
| Browser |  google
| Operating System | macOs

[2019-03-26 08:26] eps1lon opened #1656 "text selection clipboard issues under ubuntu"
# 🐛 bug report

## Description of the problem
Selecting a text and pasting text from the clipboard does not replace the selection but moves the cursor to the end of the selection.
![codesandbox-clipboard](https://user-images.githubusercontent.com/12292047/54981586-f4b34480-4fa8-11e9-947c-a6e332e5a2b3.gif)

## How has this issue affected you? What are you trying to accomplish?
Basic text editing

#

[2019-03-26 08:47] lbogdan commented on #1654
Can confirm, noticed this too the other day, but was too caught up in stuff to file an issue. Thanks!

[2019-03-26 08:50] lbogdan commented on #1655
Hey @ccyytt ,

I don't think I understand what you want to do exactly, can you maybe rephrase / detail it a bit?

Also, we don't support webpack configuration in client sandboxes - the ones running inside the browser, so you'll probably want to use a [server sandbox](https://medium.com/@compuives/codesandbox-containers-out-of-beta-improvements-be79679df4cc).

[2019-03-26 08:54] lbogdan commented on #1656
That's very weird behavior, indeed, unfortunately I can't replicate it here, on either Windows or macOS.

[2019-03-26 09:00] lbogdan commented on #1455
@Saeris What kind of errors? Something along the lines of #1641 ?

It would be great if you could provide with steps to replicate this consistently, as I couldn't successfully replicate it so far. You can also buzz me on Discord whenever you're experiencing issues, and I can take a look.

[2019-03-26 09:00] ccyytt commented on #1655
@lbogdan  thanks

[2019-03-26 09:08] lbogdan commented on #1453
Hey @desenvolvedorIcotrade ,

I'm gonna close this, as we're not big fans of Facebook (the site, not the company and its open-source contributions 🙂 ). But if you want to chat, you can always join us - and the community - on [Spectrum](https://spectrum.chat/codesandbox).

[2019-03-26 09:08] #1453 closed

[2019-03-26 09:11] eps1lon commented on #1656
Indeed. If I use a windows machine through browserstack.com it is working.

[2019-03-26 09:13] lbogdan commented on #462
Hey @marcinczenko ,

Time for the spring cleanup 🙂 , any updates on this?

[2019-03-26 09:24] lbogdan commented on #1440
Hey @quangv ,

With the recent switch to VSCode as the default editor, this should be fixed. I just tested on your sandbox, and it looks like prettier is not messing with Pug code anymore. Please test and close this if everything's behaving as expected.

[2019-03-26 09:40] lbogdan commented on #1412
Closing this, as it's expected behavior. Please reopen if you have further issues.

[2019-03-26 09:40] #1412 closed

[2019-03-26 10:53] lbogdan commented on #1655
Closing this for now. If you want to discuss this further, please join us on [Spectrum](http://spectrum.chat/codesandbox).

[2019-03-26 10:53] #1655 closed

[2019-03-26 10:55] elrumordelaluz opened #1657 "ModuleNotFoundError"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?

Since the last version of [reactour](https://reactour.js.org/) is shipped as `module`, I am trying in a _codesandbox_ but getting
[code]
<img width="1261" alt="Screenshot 2019-03-26 at 11 54 46" src="https://user-images.githubusercontent.com/784056/54991806-fd624580-4fbd-11e9-9d56-

[2019-03-26 11:05] lbogdan commented on #1657
Hey @elrumordelaluz ,

That's an interesting issue, looks like the `browser` field in `package.json` [points to](https://github.com/elrumordelaluz/reactour/blob/master/package.json#L7) `dist/reactour.umd.js `dist/reactour.umd.js`, which doesn't exist in the npm package: https://unpkg.com/reactour@1.13.2/dist/reactour.umd.js .

As you say it's working locally, webpack probably falls back to `main`

[2019-03-26 11:12] elrumordelaluz commented on #1657
Yup! worked perfect! Updated the _Sandbox_.

Thanks @lbogdan for the input!

[2019-03-26 11:12] #1657 closed

[2019-03-26 11:29] marcinczenko commented on #462
I am sorry @lbogdan. As you see I am not dependable (I am just busy). I do not have feeling it something important to anyone at the moment.
I am fine with closing this issue.

[2019-03-26 14:36] christiankaindl opened #1658 "Could not find module in path: './apple-touch-icon.png?v1=00zQGABoWl' relative to '/src/index.html'"
# 🐛 bug report

Hello!
I was trying to see if I could develop my web app on Codesandbox and ran into this issue.

## Description of the problem
In the `/src` directory are icon assets, which fail to load because of the versioning that is appended via the question mark (?) in the `src` attribute in the `index.html` file.

[code]

Example icon link from the <head> of the HTML in `index.html` that fa

[2019-03-26 14:38] doasync commented on #1656
When you select any text it is automatically copied to clipboard. It a very annoying bug 🕷

Environment:
Chrome Version 73.0.3683.86 (64-bit)
Ubuntu 18.04.2 LTS

[2019-03-26 14:41] doasync commented on #1656
@eps1lon, I suggest you to rename the issue to something like "Autocopying text on selection"

[2019-03-26 14:47] eps1lon commented on #1656
But this is not my original issue. Maybe it's related, maybe not.

[2019-03-26 16:45] Seankps commented on #580
a year passed and no official response. Can we do this?

[2019-03-26 17:47] lbogdan commented on #1429
Can confirm, this is the behavior I get in latest Firefox (66.0.1) on Windows 10:
- load https://codesandbox.io/s/l28p1lrj0m , the "Transpiling modules" screen barely flashes, and then the preview remains blank, with no related error in the console, either;
- if I refresh the preview, the same thing happens, but now I have an error in the console:
[code]
![image](https://user-images.githubusercont

[2019-03-26 18:13] lbogdan commented on #1422
Closing this, as everything is working as expected. Please reopen if you have further issues.

[2019-03-26 18:13] #1422 closed

[2019-03-26 18:17] lbogdan commented on #1419
Hey @RichardJJacobs ,

I just tested the sandbox you provided, and it seems to be working now. I'm gonna close this, feel free to reopen if you still have issues.

[2019-03-26 18:17] #1419 closed

[2019-03-26 18:21] lbogdan commented on #1456
Hey @quangv ,

This used to work (as far as I remember), but looks it stopped working once we switched to VSCode as the default editor?

@CompuIves , is this an oversight?

[2019-03-26 18:24] lbogdan commented on #1445
I think I heard @CompuIves mentioning he's working on integrating the VSCode eslint plugin, now that we switched to VSCode as the default editor.

[2019-03-26 18:30] lbogdan commented on #1439
What do you mean by "the code of the embed"? The URL that's copied to the clipboard when you click "Copy Link"? If so, it's changing for me, so maybe you fixed it in the meanwhile?

Buuut, I get another weird behavior - for me, the **preview** never changes. 😞

[2019-03-26 18:37] lbogdan commented on #507
As I don't have an iPad, I didn't really follow the discussion here. Is this better with the recent switch to VSCode?

[2019-03-26 18:39] lbogdan commented on #1413
Closing this, as it looks like there was an isolated issue with uploading files at the time. @TheChosensW0rld Please feel free to reopen it, though, if you still have issues with uploading files.

[2019-03-26 18:39] #1413 closed

[2019-03-26 18:41] lbogdan commented on #1411
Closing this, as there's no actionable here.

@greggmojica If you want to discuss things further, please join us on [Spectrum](https://spectrum.chat/codesandbox).

[2019-03-26 18:41] #1411 closed

[2019-03-26 18:58] lbogdan commented on #1406
Closing this for now, as we recently switched to VSCode as the default editor, and the (auto-)formatting / prettifying experience is much improved.

@caiyanhu Feel free to reopen this if you still have issues.

[2019-03-26 18:58] #1406 closed

[2019-03-26 19:04] lbogdan commented on #1402
Closing this, as I can't replicate, so it was probably fixed in the meanwhile.

@lzxxxxx Feel free to reopen if you still have issues.

[2019-03-26 19:04] #1402 closed

[2019-03-26 19:11] lbogdan commented on #1398
Hey @georapbox , are you still experiencing this? We recently had a UI update with the switch to VSCode as the default editor, maybe this was fixed in the process?

[2019-03-26 19:13] lbogdan commented on #141
Will keep this open and label it as awesome!

[2019-03-26 19:14] lbogdan commented on #1363
Pinging @CompuIves , as the only one that knows all the intricacies of smooshpack!

[2019-03-26 19:19] lbogdan commented on #1378
Closing this as we recently switched to VSCode as the default editor, and comes with quite a lot of popular themes. You can also configure your own theme in Preferences -> Appearance -> Custom VSCode Theme.

[2019-03-26 19:19] #1378 closed

[2019-03-26 19:38] aadsm commented on #507
It will actually make things worse because vscode uses a textarea and not a
contenteditable element (which is able to manage its own cursor).

We’ve been discussing this on vscode github’s issue.

On Tue, Mar 26, 2019 at 11:38 Bogdan Luca <notifications@github.com> wrote:

--
Best regards,
António Afonso

[2019-03-26 19:47] georapbox commented on #1398
Hi @lbogdan , it seems that the issue has been fixed after the UI update. Testing with Firefox 15.1 and Brave 1.8 on iOS 12.2 and everything seems to be working as expected, so closing the issue. 👍

[2019-03-26 19:47] #1398 closed

[2019-03-26 19:49] lbogdan commented on #1035
I'm inclined to close this, as I [forked](https://codesandbox.io/s/6v3vppl9ok) @KKS1 's example, removed `redux-devtools-extension`, and it still works for me, even inside the editor preview, without opening it in a new window:

![image](https://user-images.githubusercontent.com/2083930/55028616-d7b25c00-5010-11e9-9118-7c4cf74e9f7f.png)

@euZebe Thoughts?

[2019-03-26 19:53] lbogdan commented on #1043
I was wondering if we can close this?

@samdenty Is there anything to fix / improve here, or is it just how things work?

[2019-03-26 19:54] lbogdan commented on #1208
@nickbreaton Any updates on this?

[2019-03-26 20:03] lbogdan commented on #1372
@MVSICA-FICTA Did you figure things out, can we close this?

[2019-03-26 20:07] lbogdan commented on #1057
Closing this, as it's expected browser behavior.

I'd probably disable the auto-focusing of form fields while working on something like that.

[2019-03-26 20:07] #1057 closed

[2019-03-26 20:10] lbogdan commented on #1370
Closing this, as I'm quite confident it was fixed with the switch to VSCode as the default editor.

However, @noobling feel free to reopen if you still experience this behavior.

[2019-03-26 20:10] #1370 closed

[2019-03-26 20:13] lbogdan commented on #1365
Closing this, as I can't replicate, and I'm quite confident it was fixed with the switch to VSCode as the default editor.

However, @gc feel free to reopen if you still experience this behavior.

[2019-03-26 20:13] #1365 closed

[2019-03-26 20:19] lbogdan commented on #668
As far as I know the flow type checker is written in OCaml and comes in binary form, so I'd say the probability of integrating it in CodeSandbox is minimal.

That being said, you could probably use it inside a [server sandbox](https://medium.com/@compuives/codesandbox-containers-out-of-beta-improvements-be79679df4cc), but it won't be integrated with the editor.

[2019-03-26 20:23] lbogdan commented on #1361
Hey @haxxxton ,

The files you change and save in the editor are automatically updated to the container the sandbox runs in (only on save, not on type), so you should be able to see the changed files in the terminal.

Can you please try again and check if this is still happening for you?

[2019-03-26 20:26] lbogdan commented on #1358
Closing this, as I can't replicate, and I'm quite confident it was fixed with the switch to VSCode as the default editor.

However, @LimeWub feel free to reopen if you still experience this behavior.

[2019-03-26 20:26] #1358 closed

[2019-03-26 20:28] lbogdan commented on #1343
Closing this, as there were no more comments since the fix. Feel free to reopen if it's still happening, though.

[2019-03-26 20:28] #1343 closed

[2019-03-26 20:33] lbogdan commented on #1357
Is this a docs issue only? I ask because the sandbox you provided currently errors with `jest.doMock is not a function`.

[2019-03-26 20:45] lbogdan commented on #1355
Can confirm, the root issue seems to be that the packager returns `pose-core@2.0.2` for https://d1jyvh0kxilfa7.cloudfront.net/v1/combinations/babel-runtime@7.3.1%2Bcsbbust@1.0.0%2Bpose-core@2.0.2%2Breact@16.6.3%2Breact-dom@16.6.3%2Breact-pose@4.0.3.json :
[code]

Doesn't look like a cache issue, though, because bumping `react` and `react-dom` to `16.7.0` doesn't seem to change anything: https://d1

[2019-03-26 20:47] lbogdan commented on #1353
Closing this, as I can't replicate, and I'm quite confident it was fixed with the switch to VSCode as the default editor.

However, @christosnc feel free to reopen if you still experience this behavior.

[2019-03-26 20:47] #1353 closed

[2019-03-26 20:51] lbogdan commented on #1330
@samdenty Can you maybe point us to the repo you were trying to open?

We'll soon add both the possibility of changing a client sandbox to a server one, and better auto-detection of imported git repos.

[2019-03-26 20:53] lbogdan commented on #1331
Maybe it makes sense to have a global per user configuration saved in the API?

Cc @CompuIves

[2019-03-26 20:56] lbogdan commented on #1147
Hey guys, is this still an issue? Maybe a [server sandbox](https://medium.com/@compuives/codesandbox-containers-out-of-beta-improvements-be79679df4cc) would help? If so, can you maybe close this? Thanks!

[2019-03-26 20:58] lbogdan commented on #1033
Closing this, as it's expected browser behavior.

[2019-03-26 20:58] #1033 closed

[2019-03-26 21:01] lbogdan commented on #1339
Hey @serdartkm ,

I try looking at the sandbox you provided, but it looks like you changed it in the meanwhile.

Is this still an issue? If not, can you please close it? Thanks!

[2019-03-26 21:03] lbogdan commented on #1334
Hey @jimscarver ,

Looks like the sandbox you provided was deleted in the meanwhile.

Is this still an issue for you? If not, can you please close it? Thanks!

[2019-03-26 21:07] lbogdan commented on #1299
Closing this, as `create-react-app` template not supporting `classProperties` is expected behavior. Also, it looks like you solved it in the meanwhile, so kudos! 🙂

[2019-03-26 21:07] #1299 closed

[2019-03-26 21:15] lbogdan commented on #1297
Closing this, as I can't reproduce it, and it was most probably just a temporary Facebook fluke.
![image](https://user-images.githubusercontent.com/2083930/55033892-d7b85900-501c-11e9-8757-80c51d4d0b9e.png)

@calpa If that still happens for you, feel free to reopen, and also provide us with the sandbox for which it happens.

[2019-03-26 21:15] #1297 closed

[2019-03-26 21:17] lbogdan commented on #1277
Closing this, as I can't replicate, and I'm quite confident it was fixed with the recent switch to VSCode as the default editor.

However, @KaneFreeman feel free to reopen if you still experience this behavior.

[2019-03-26 21:17] #1277 closed

[2019-03-26 21:20] lbogdan commented on #514
Also related: #1254 (that was however solved by adding the Aurelia template).

[2019-03-26 21:24] lbogdan commented on #1254
Closing this, as it was fixed with the adding of the Aurelia template. It's also a duplicate of #514 , you can track progress there if still interested in this feature.

[2019-03-26 21:24] #1254 closed

[2019-03-26 21:27] dangdennis commented on #1147
The client side template still has this problem. but I'll set up a reason react template with the server later this week.

[2019-03-26 21:31] lbogdan commented on #1251
Hey @bengry ,

This indeed looks like a complex package structure. What I'd suggest is using a [server sandbox](https://hackernoon.com/codesandbox-containers-5864a8f26715) - and until we add an Angular server template, I have a starter here https://codesandbox.io/s/github/lbogdan/cs-angular-starter , which you can fork and play with.

[2019-03-26 21:37] lbogdan commented on #1248
Can confirm this still happens.

[2019-03-26 21:41] lbogdan commented on #1192
Closing this, as (hopefully) it was solved with the adding of the Aurelia template. Please reopen if that's not the case and I'm in the wrong here.

[2019-03-26 21:41] #1192 closed

[2019-03-26 21:42] lbogdan commented on #1235
Hey @sylvainpolletvillard , can you please provide us with a sandbox in which this happens?

[2019-03-26 21:52] bengry commented on #1251
Hey @lbogdan,
Thanks for taking the time to look at this. I tried to [fork the sandbox](https://codesandbox.io/s/pkj24qln9m) you provided and add the functionality from the original (broken) one I linked to it, but it also fails with the following error (in the terminal):

info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.

I'm not sure what's going on there. Woul

[2019-03-26 21:53] lbogdan commented on #1241
Hey @gamedevsam ,

Seems like your project is much better suited to using a [server sandbox](https://medium.com/@compuives/codesandbox-containers-out-of-beta-improvements-be79679df4cc). I forked your repo and made it into a server sandbox by adding the `sandbox.config.json` file, you can check it here: https://codesandbox.io/s/github/lbogdan/react-simple-chatbot . It doesn't show anything, though

[2019-03-26 21:59] lbogdan commented on #1231
Looks like we don't support `@import`ing local files, marking this as bug.

[2019-03-26 22:01] sylvainpolletvillard commented on #1235
I made a new basic reproduction test here : https://codesandbox.io/s/1orx48309l

Basically my question is for any test that has a legit reason to take over 5000 ms. In my usecase, I do a JavaScript training exercise where trainees have to handle different async operations, that take more than 5 seconds in total. I solved it by reducing the delay of async operations, but my question remains unanswe

[2019-03-26 22:06] lbogdan commented on #1216
Closing this, as it's very vague, and we already support `less` and `sass` compilation in several templates. Please reopen with more details if you have a very specific use case.

[2019-03-26 22:06] #1216 closed

[2019-03-26 22:14] lbogdan commented on #1224
Closing this, as no complaints since last comment.

[2019-03-26 22:14] #1224 closed

[2019-03-26 22:19] bengry commented on #1251
Got it, that's pretty odd that it gets up this high though, don't you think?
I tried a more complete example (same dependencies, just one with more components going on etc.) and it used ~500MB memory, so the above should be well under 1GB.

I am referring to the backend (`node`) server's memory, not the client's. I assume the later is a non-issue, or is it? Anyway, I still presume the client I ran

[2019-03-26 22:19] lbogdan commented on #1147
Ok, nice, ping me whether you have any questions or issues!

[2019-03-26 22:23] lbogdan commented on #1251
It's whatever's running inside the sandbox (which in this case is the `ng serve`). As odd as it seems, I'm pretty sure it's actually trying to use more than 1GB than being a bug in Kubernetes. 🙂

[2019-03-26 22:30] lbogdan commented on #1227
Currently when you're trying to import / require a module that's not in dependencies, you'll get message prompting you to add it:

![image](https://user-images.githubusercontent.com/2083930/55037712-4ef2ea80-5027-11e9-8d1b-7b4910dc5d6d.png)

As this was there since before you opened this, I'm guessing this doesn't suit your needs?

[2019-03-26 22:38] lbogdan commented on #1213
The first part was fixed in https://github.com/CompuIves/codesandbox-client/commit/64297e142c61040edc3edd59601db8a21418a0a6 .

As for the second part, I can't say I agree - I usually open the preview in a new window to look at something, only to close it shortly after and continue to work in the editor; I would find it annoying to have to show the in-editor preview each time I do this.

[2019-03-26 22:43] lbogdan commented on #1129
It looks like with the recent move to VSCode as the default editor, we've lost ReasonML support completely?

Cc @CompuIves

[2019-03-26 22:45] bengry commented on #1251
I agree. I haven't watched the moment during boot (locally), maybe it's doing above 1GB when compiling, then drops to 500MB afterwards. I'll have a look.
Unfortunately, I'm not sure how I can reduce the memory usage here, since the app is pretty basic (functionality-wise), but compiling down the node_modules seems to be killing it.

Any suggestions?

Also, why 1GB? Is there a chance you'll increas

[2019-03-26 22:47] lbogdan commented on #1054
(labeled this as `github`, as it actually has a broader meaning; it's only called `github` because we only have GitHub integration ATM)

[2019-03-26 22:49] lbogdan commented on #1207
Hey @grant ,

Did the recent switch to VSCode as the default editor fixed this for you? If so, could you please close this?

[2019-03-26 22:53] lbogdan commented on #1006
Closing this, as the key bindings can now be edited from VSCode:

![image](https://user-images.githubusercontent.com/2083930/55038780-a6df2080-502a-11e9-9a4e-9983096f9eeb.png)

@cloud-walker Feel free to reopen if you still have issues, though.

[2019-03-26 22:53] #1006 closed

[2019-03-26 23:06] lbogdan commented on #1196
Hey @vegarringdal ,

Regarding the source map warnings, those are generated by the browser, and I'm not aware of any way to stop them, application-wise. A workaround would be to configure the console to not show the warnings, but this has the side-effect of maybe missing some relevant ones.

Also, TIL: You can also [disable source maps](https://stackoverflow.com/a/35004929), which will stop showin

[2019-03-26 23:10] lbogdan commented on #1198
Closing as duplicate of #1644 .

[2019-03-26 23:10] #1198 closed

[2019-03-26 23:11] haxxxton commented on #1361
@lbogdan it appears there is some lag time between the console files and those displayed in the editor. I saved the project, waited a while, then came back to the project and the file in the console then DID match that in the editor. I saved the project multiple times, and even closed and opened the tab several times to see if it was some caching bug. It appears time was the only factor that made

[2019-03-26 23:12] grant commented on #1207
It removes most autocompletion results, but for some reason there are Jest results and dom autocompletion results (`innerHTML`)

![Screen Shot 2019-03-26 at 16 09 47](https://user-images.githubusercontent.com/744973/55039566-d9b0f680-4fe1-11e9-999d-e5e4496fb34d.png)

I expect only valid TS symbols. Those other symbols are invalid.
As a result, I cannot close this.

[2019-03-26 23:12] lbogdan commented on #1193
Hey @jadjoubran , this sounds a bit vague, can you maybe detail such a use-case?

[2019-03-26 23:18] lbogdan commented on #452
I'm gonna name this "The great mystery of the [frenzied cubes](https://github.com/CompuIves/codesandbox-client/issues/799)". 🙂

@radi-cho Is this still happening for you?

[2019-03-26 23:22] lbogdan commented on #422
@shipstar Do you still need this?

[2019-03-26 23:24] lbogdan commented on #1186
Hey @taranvohra ,

I'm pretty confident this should be fixed. Can you please check, and if that's the case, close this? Thanks!

[2019-03-26 23:29] lbogdan commented on #1162
Closing this, as we only support `jest` for tests at the moment. Feel free to open a feature request for `enzyme`.

You can also try to use a [server sandbox](https://medium.com/@compuives/codesandbox-containers-out-of-beta-improvements-be79679df4cc), which basically supports anything you could do in a local development environment.

[2019-03-26 23:29] #1162 closed

[2019-03-26 23:33] lbogdan commented on #1160
Closing this, as I can't replicate with `react-textarea-autosize`, so I'd guess it was fixed. Please feel free to reopen if you still get this behavior.

[2019-03-26 23:33] #1160 closed

[2019-03-26 23:34] lbogdan commented on #1159
Hey @jthegedus , is this a docs issue, then?

[2019-03-26 23:36] lbogdan commented on #1145
I can confirm this is still happening.

@samdenty , do you have any idea?

[2019-03-26 23:45] lbogdan commented on #1136
Looks like an issue with the importer (or the API?), that returns `code: null` instead of `code: ""`:
[code]

Cc @CompuIves

[2019-03-26 23:47] pshrmn commented on #1213
@lbogdan this can be closed; the first part was the main purpose for the issue, so if that is fixed I'm good. For the second part, I don't really use the pop-out very often, so I'll defer to you for the ideal behavior.

[2019-03-26 23:49] lbogdan commented on #1126
Hey @ryanirilli ,

I can't seem to replicate this, is it still happening for you?

[2019-03-26 23:49] yancymin commented on #882
@CompuIves Hi... this bug hasn't fixed. I can only be added some tag that has some syntax in the Style tag.

[2019-03-26 23:54] lbogdan commented on #1119
Closing this, as we not have the possibility of defining secrets for server sandboxes. Feel free to reopen if that's not quite what you want, and maybe detail your use-case a bit more.

[2019-03-26 23:54] #1119 closed

[2019-03-26 23:57] lbogdan commented on #1115
Closing this, as I can't replicate, and I'm quite confident it was fixed with the switch to VSCode as the default editor.

However, @babakness feel free to reopen if you still experience this behavior.

[2019-03-26 23:57] #1115 closed

[2019-03-26 23:59] lbogdan commented on #1116
We have both the possibility of switching a client sandbox to a server one, and smarter heuristics for detecting server sandboxes when importing from GitHub on our short to-do list!

[2019-03-27 00:01] lbogdan commented on #1095
Closing this, as @arthurdenner mentioned, following the contributing guidelines should get you started in no time! 🙂

[2019-03-27 00:01] #1095 closed

[2019-03-27 00:04] lbogdan commented on #1101
Closing this, as I can't replicate, I'm thinking it was fixed with the switch to VSCode as the default editor.

However, @Haroenv feel free to reopen if you still experience this behavior.

[2019-03-27 00:04] #1101 closed

[2019-03-27 00:05] lbogdan commented on #1077
Hey @ppisljar ,

Are you still seeing this?

[2019-03-27 00:09] lbogdan commented on #1361
How much time are we taking about?

[2019-03-27 00:09] jthegedus commented on #1159
It was a lack of docs at the time. I have not investigated whether this issue is resolved after subsequent CSB releases.

[2019-03-27 00:11] lbogdan commented on #1213
Can you please check the first part is working for you, though? And if so, also close this? Thanks!

[2019-03-27 00:13] lbogdan commented on #882
@yancymin Can you please share a link to the sandbox you have issues with?

[2019-03-27 00:18] lbogdan commented on #1251
Because my estimation was that any well-behaved web development environment shouldn't use more than that - and as I mentioned above, this proved to be accurate... until now. Also, we don't have infinite system resources. 🙂

[2019-03-27 00:24] lbogdan commented on #1251
Also, just took a look at the process, and it's indeed getting to 1GB memory usage:
[code]
(see the `RES` column, which is in kB)

[2019-03-27 00:50] makmm commented on #829
@lbogdan honestly I don't care about it that much, but would be cool. what's wrong with SaraVieira's PR? I already some basic code a long time ago (see https://github.com/CompuIves/codesandbox-client/issues/829#issuecomment-426081070) but it kinda was ignored.

[2019-03-27 00:54] gkiely commented on #1227
Nice fix, yep this solves it 👍

[2019-03-27 01:02] yancymin commented on #882
@lbogdan it's going be OK while I had added some syntax in the style.

[2019-03-27 02:39] pshrmn commented on #1213
Looks good to me!

[2019-03-27 02:39] #1213 closed

[2019-03-27 04:17] tomer-ben-david commented on #300
Is it supporting backend as of today?

[2019-03-27 04:42] gorbypark opened #1659 "Stock vue template has a Babel error"
# 🐛 bug report

## Description of the problem
The stock vue template throws an error.  `[BABEL] /src/main.js: Invalid Option: corejs is not a valid top-level option.
        Maybe you meant to use 'targets'? (While processing: "base$0$0")`
###  Link to sandbox: [stock vue template](https://codesandbox.io/s/vue)
### Your Environment
| Software         | Name/Version|
| ---------------- | ----------

[2019-03-27 06:57] AndreasCag commented on #1659
Same issue. Today I published article about Vue.js form validations and found that all code examples not working.

I found fast fix:
Replace this in package.json
[code]

To this
[code]

[2019-03-27 07:04] taranvohra commented on #1186
Hey @lbogdan, I just checked and seems like the error is still there. This is what is present in the console again,
[code]

[2019-03-27 07:42] lbogdan commented on #300
Hey @tomer-ben-david ,

Not really, it's supporting backend as of [last September](https://hackernoon.com/codesandbox-containers-5864a8f26715), and it's been [out of beta](https://medium.com/@compuives/codesandbox-containers-out-of-beta-improvements-be79679df4cc) for about a week now.

[2019-03-27 07:51] LeeChar commented on #1659
It's starting to work properly.but why？

[2019-03-27 07:53] lbogdan commented on #1659
We're looking into this!

[2019-03-27 08:58] CompuIves commented on #1659
Hey! I found the issue, it's related to a recent new release of `@vue/cli-plugin-babel`. Some new configuration parameters were given to `@babel/preset-env` since `3.5.2`(https://github.com/vuejs/vue-cli/commit/156ef21c4238aa7ec3804db9d3c4817f8f69b209), but our `@babel/preset-env` installed in the sandbox was too old and threw a validation error.

I installed a new version of `preset-env` in the s

[2019-03-27 09:19] CompuIves commented on #1659
The fix is live and the issue should be resolved! Sorry for the inconvenience, I'll make sure to run our CI check periodically and find a better solution for the env preset.

Thanks for the workaround @AndreasCag, that helped a lot with pinpointing the issue!

Let me know if it's fixed for you, then we can close the issue.

[2019-03-27 09:21] lbogdan commented on #1659
For future reference, the fix commit is https://github.com/CompuIves/codesandbox-client/commit/7cb89e2c8db3ed5669d21c56941bf4f3cd9b784b .

[2019-03-27 09:55] lbogdan commented on #874
It's live! https://github.com/CompuIves/codesandbox-client/pull/1520

Please test it and let us know if you have any issues. If everything's working, let's close this!

[2019-03-27 10:11] jadjoubran commented on #1193
Hey! I personally don't need this anymore, so I will close the issue and explain the original use case

The original usecase was to allow embedding a codesandbox on a page, while also letting that page read the contents of the code editor (the one that's embedded via codesandbox)

[2019-03-27 10:11] #1193 closed

[2019-03-27 10:34] serdartkm commented on #1339
Hi @lbogdan, thank you for asking. It is not an issue any more.

[2019-03-27 10:34] #1339 closed

[2019-03-27 15:07] alexdevero commented on #1331
@lbogdan @CompuIves Another, maybe additional, option is storing configuration in a file in specific project. This would allow the user to have different default configuration across projects. This now works with prettier, now and sandbox. Or, what about extending the `sandbox.config.json`?

[2019-03-27 15:18] radi-cho commented on #452
@lbogdan Yes ;)
![image](https://user-images.githubusercontent.com/12954909/55088307-31b82d80-50b4-11e9-83d8-f727ffb96e18.png)

[2019-03-27 16:55] bengry commented on #1251
Yea, I totally get the limitation, just 1GB seems like an arbitrary number (i.e. could've been 500MB all the same).
Too bad that we wouldn't be able to showcase this project there, but online IDEs like Codesandbox have their limitations drawn at some point, I guess this project is just beyond that. No worries, fantastic product otherwise 👍.

Thanks for the help. I'm closing the issue even though i

[2019-03-27 16:55] #1251 closed

[2019-03-27 17:03] SaraVieira opened #1661 "Netlify deployment breaks when in CRA homepage property is set"
# 🐛 bug report

## Description of the problem
If I set the homepage property in the react template the deployment to netlify will fail as CRA expects it to be hosted where the homepage thing is

###  Link to sandbox: [link](https://codesandbox.io/s/j0y0vpz59?from-embed) (optional)

[2019-03-27 17:19] SaraVieira commented on #1620
Hey!

This is a bug on our side I will take a look this week, maybe today still

Sorry for the problem

[2019-03-27 17:40] nickbreaton commented on #1208
@lbogdan No I don't currently have a convenient way to test on high sierra. I think this is edge case and may become less relevant overtime as people upgrade their OS, unless of course this is more widespread than I originally thought.

[2019-03-27 22:31] roy1210 commented on #1620
Hi Sara,
Noted. Just FYI, I faced the same bug when deploying Vue.js too.
Let me know once bug fixed.

[2019-03-27 23:41] SaraVieira commented on #1620
It's a general thing I think

Debugging it now

[2019-03-27 23:45] Natetronn commented on #1620
This must be the same issue I am getting. I have an open conversation on Spectrum w/ Sara.

[2019-03-28 00:02] SaraVieira commented on #1620
Yes @Natetronn this seems like its the same issue

I just made a PR that fixes the bug

https://github.com/CompuIves/codesandbox-client/pull/1662

[2019-03-28 00:09] SaraVieira commented on #1620
This PR should have fixed the issue, I will post vhere when it's live :)

[2019-03-28 00:19] haxxxton commented on #1361
@lbogdan at least an hour :(

[2019-03-28 00:26] lbogdan commented on #1361
Can we maybe jump on a Slack and try to debug this in real-time?

[2019-03-28 00:52] haxxxton commented on #1361
@lbogdan absolutely, the sandbox in question is from more than 4 months ago, but ill try to remember the steps i took. email for slack is james at gaandder dot com

[2019-03-28 01:04] lbogdan commented on #1361
Oh, sorry, I meant Skype 🙂 (or whatever other IM you prefer). It's gotten pretty late here (already 3AM), so maybe leave it for tomorrow?

[2019-03-28 01:10] haxxxton commented on #1361
@lbogdan sure, im Australia based, so any time in the next 9-10 hours is good for me xD my discord tag is the same as my github username :)

[2019-03-28 05:28] SaraVieira commented on #1620
@Natetronn @roy1210 it has been deployed, let me know if you still have issues

Also I bumped into the thing that now only recognizes now-build in your package.json , it doesn't use build

[2019-03-28 07:22] roy1210 commented on #1620
@lbogdan  @SaraVieira  Noted, Thank you!

[2019-03-28 07:22] #1620 closed

[2019-03-28 07:42] lbogdan commented on #1361
Ok, I'm up, where do you want to chat?

[2019-03-28 08:27] hpohlmeyer opened #1663 "[Feature] White theme for embeds"
# 🌈 Feature

## What is this feature?
We use codesandbox embeds a lot for presentations. Unfortunately dark themes are way harder to read on a beamer. A white theme would improve the readability a lot. (We currently invert the screen colors to achieve that)

Support for themes (including white ones) came with #359 but [embeds do not have any parameters to configure a theme](https://codesandbox.io/

[2019-03-28 08:30] haxxxton commented on #1361
Thanks for the help tonight, will let you know if i can find any way to replicate in the future

[2019-03-28 08:30] #1361 closed

[2019-03-28 10:00] wpitallo commented on #258
Plus one vote!

[2019-03-28 11:31] loilo opened #1664 "<img> tags with SVG source file break in Vue template"
# 🐛 bug report

## Description of the problem
When using an `<img>` tag with an SVG source file (using a relative path, so it's handled by webpack), CodeSandbox tries to inline the SVG code into the `src` attribute of the `<img>` tag, which naturally does not work.

## How has this issue affected you? What are you trying to accomplish?
I wanted to display an SVG image but I couldn't. 🙂
(FWIW, it w

[2019-03-28 12:06] EmilTholin opened #1665 "Emptying trash with many sandboxes causes 504 Gateway Timeout"
# 🐛 bug report

## Description of the problem
Trying to empty trash with ~200 sandboxes (sorry, I didn't realise trashing a sandbox didn't delete it permanently...) gives a `504 Gateway Timeout` error, with the following popup:

<img width="318" alt="empty_trash_error_popup" src="https://user-images.githubusercontent.com/11573167/55156241-b0b37180-5159-11e9-8d5d-f91cce572765.png">

## How has this

[2019-03-28 12:09] lbogdan commented on #1665
Can you maybe take a look at the actual network request and paste / screenshot the response?

[2019-03-28 12:14] EmilTholin commented on #1665
<img width="687" alt="response_headers" src="https://user-images.githubusercontent.com/11573167/55156907-66cb8b00-515b-11e9-970b-0d68b6c09589.png">
<img width="717" alt="response_preview" src="https://user-images.githubusercontent.com/11573167/55156912-692de500-515b-11e9-8869-490a2ca71da2.png">

[2019-03-28 14:12] AniaMakes commented on #1656
@doasync I have the same issue (any text selected is automatically copied to the clipboard)

Chrome Version 73.0.3683.86 (Official Build) (64-bit)
Ubuntu 16.04 LTS

[2019-03-28 14:43] domi1kenobi opened #1666 "reset profile"
# 🐛 bug report

## Description of the problem
deleted the folder with the configuration for the exclude watchfolders and it's not coming back
## How has this issue affected you? What are you trying to accomplish?
trying to exclude a folder from being watched by the process that restarts node.
reproduce:
* go to settings
* editor
* files
* add path folder to be excluded
* in the explorer a new fold

[2019-03-28 14:47] domi1kenobi commented on #1666
in settings.json the excludes are still present
![image](https://user-images.githubusercontent.com/11361623/55167210-ce400580-5170-11e9-9431-bcbc39dc65cd.png)

[2019-03-28 14:48] domi1kenobi commented on #1666
the folder was created after adding the first exclusion via settings was located on top in the explorer
![image](https://user-images.githubusercontent.com/11361623/55167293-f891c300-5170-11e9-8531-5fe3275db757.png)

[2019-03-28 15:24] lbogdan commented on #1666
Hey @domi1kenobi ,

It might be a bit confusing, but that VSCode "Watcher Exclude" setting has nothing to do with `nodemon` that's running inside the container. To configure `nodemon` to exclude files from watching, just follow [its configuration documentation](https://github.com/remy/nodemon#config-files).

[2019-03-28 15:26] domi1kenobi commented on #1666
@lbogdan thanks a lot mate - was really on the wrong track here. You may close this.

[2019-03-28 15:28] lbogdan commented on #1666
You're welcome! I agree that we certainly need better server sandboxes documentation, hopefully that'll come soon-ish!

[2019-03-28 15:28] #1666 closed

[2019-03-28 15:30] lbogdan commented on #1656
@CompuIves I guess you'll have to install Ubuntu on your MacBook? 😃

[2019-03-28 15:33] lbogdan commented on #1665
Thanks, looks like an API bug. I also agree we should be more eloquent in the error notification, too.

[2019-03-28 15:41] lbogdan commented on #940
Not stale, but actually a duplicate of #258 . Closing this in favor of the older one, please follow that instead.

[2019-03-28 15:41] #940 closed

[2019-03-28 15:43] lbogdan commented on #609
@gautamarora Does the [CodeSandbox dashboard](https://medium.com/@compuives/announcing-codesandbox-dashboard-teams-876f5933160b) fulfill your needs here?

[2019-03-28 15:47] lbogdan commented on #122
Hey @ritz078 ,

Thanks for your feature request. Do you have a proposal of how that should work?

[2019-03-28 15:51] lbogdan commented on #110
Are we still pursuing this?

[2019-03-28 15:56] eps1lon commented on #1656
I could take a look as well. I just don't have any idea where to start.

[2019-03-28 15:56] lbogdan commented on #248
I'd say since the introduction of [server sandboxes](https://medium.com/@compuives/codesandbox-containers-out-of-beta-improvements-be79679df4cc), which (should) support `lerna` out-of-the-box, I don't think the effort to also implement it in client (browser) sandboxes makes sense anymore. Closing this for now, @artivilla feel free to reopen if you think otherwise.

[2019-03-28 15:56] #248 closed

[2019-03-28 15:59] lbogdan commented on #62
Closing this, as we now support highlighting in the embed, like @Haroenv said, there was no further activity since, and also I don't think highlighting makes that much sense in the main editor anyway. @faceyspacey Feel free to reopen if I'm talking nonsense. 🙂

[2019-03-28 15:59] #62 closed

[2019-03-28 16:07] lbogdan commented on #523
Closing this, as I can't really replicate it. Also, it looks like you have an intensive `console.log()` loop in that sandbox, that pretty much grinds everything to a halt. @pdngithub Fell free to reopen if you still have version issues.

[2019-03-28 16:07] #523 closed

[2019-03-28 16:10] lbogdan commented on #503
Hey @chakrihacker ,

Does redirecting / to the dashboard for logged in users solve this for you?

[2019-03-28 16:14] lbogdan commented on #705
Closing this, as it's expected behavior. @sompylasar Feel free to reopen if you still have issues.

[2019-03-28 16:14] #705 closed

[2019-03-28 16:17] lbogdan commented on #745
Closing this, as there were **lots** of UI changes since, and didn't get any other Edge issues complaints so far.

[2019-03-28 16:17] #745 closed

[2019-03-28 16:19] lbogdan commented on #1656
It's probably something deep inside the VSCode internals, so I have no idea, either. @CompuIves , can you please advise?

[2019-03-28 16:23] lbogdan commented on #1656
@eps1lon You could start by reading the [contributing guide](https://github.com/CompuIves/codesandbox-client/blob/master/CONTRIBUTING.md) and making CodeSandbox work locally, if you haven't already.

[2019-03-28 16:25] lbogdan commented on #775
@CompuIves Was this fixed? 😃

[2019-03-28 16:27] lbogdan commented on #721
Closing this as implemented.

[2019-03-28 16:27] #721 closed

[2019-03-28 16:37] lbogdan commented on #835
Closing this, as it's expected behavior - that's just how [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) works.

[2019-03-28 16:37] #835 closed

[2019-03-28 16:44] lbogdan commented on #838
Closing this, as I can't reproduce in the provided sandbox. We have some loop protection in place, but sometimes it's just impossible to prevent this kind of thing.

[2019-03-28 16:44] #838 closed

[2019-03-28 16:46] lbogdan commented on #844
THIS!

[2019-03-28 16:52] lbogdan commented on #846
Hey @yuchant ,

Is this still an issue for you?

[2019-03-28 16:53] eps1lon commented on #1656
Sure did. I already came in contact with the vscode-editor files in #1625. I'm not sure where those come from or what the difference between vscode and monaco is. I couldn only find a repo to the monaco editor and I have no clipboard issues in that playground.

[2019-03-28 16:57] lbogdan commented on #856
Hey @splincode ,

Looks like that branch is not there anymore. Is this still an issue for you?

[2019-03-28 17:00] lbogdan commented on #956
I can still [replicate this](https://codesandbox.io/s/github/lbogdan/ValueHelpUI5), looks like a bug in the github importer.

[2019-03-28 17:15] lbogdan commented on #984
Hey @arangates ,

Since the introduction of [server sandboxes](https://medium.com/@compuives/codesandbox-containers-out-of-beta-improvements-be79679df4cc) it's possible to run virtually anything you'd run in a local environment. You can see an Angular starter here https://codesandbox.io/s/github/lbogdan/cs-angular-starter , I tried doing that with your repo, too, but it has more than 250 files, wh

[2019-03-28 17:20] lbogdan commented on #1000
Closing this, as I can't reproduce, and I'm quite confident that it it was actually a bug, it has been fixed since. However, @bau123 feel free to reopen if it's still happening for you.

[2019-03-28 17:20] #1000 closed

[2019-03-28 17:27] #856 closed

[2019-03-28 17:30] lbogdan commented on #1012
Closing this as duplicate of #1595 , please follow that instead.

[2019-03-28 17:30] #1012 closed

[2019-03-28 17:31] lbogdan commented on #1009
Hey @Loilo ,

Is this still an issue? I tried to replicate, but the sandbox you provided is not there anymore.

[2019-03-28 17:34] Hotell commented on #1004
@lbogdan now we have another issue as well `"jsxFactory": "createElement",` is not supported, that's why you get that error. If you fall back to import `React` from 'react' the error is still there

[2019-03-28 17:35] lbogdan commented on #1641
Hey @marcosc90 ,

I can't really replicate this, has it been happening since? If so, do you have a consistent way to trigger it?

[2019-03-28 17:38] lbogdan commented on #1025
It does now! 🎉
https://codesandbox.io/s/github/nuxt/codesandbox-nuxt

[2019-03-28 17:38] #1025 closed

[2019-03-28 17:41] marcosc90 commented on #1641
It has happened again, but I don't have a consistent way of triggering it. Once the sandbox is is initialized again, everything is synced.

So as a workaround, maybe a button to reinitialize the Sandbox can be added, or just a button to force sync.

I'll update if I find a way to trigger it.

[2019-03-28 17:44] lbogdan commented on #1641
Yeah, we will add a button that allows restarting the whole container (instead of just the devserver) soon-ish!

Please buzz me as soon as this happens again if possible, it would be nice to be able to debug it live. Thanks!

[2019-03-28 17:47] lbogdan commented on #1019
Closing this, as I'm quite confident that all UI changes since, and the switch to VSCode as the default editor, should have fixed it. However, @tobiastimm feel free to reopen if it's still happening for you.

[2019-03-28 17:47] #1019 closed

[2019-03-28 17:50] kentcdodds commented on #1595
@kitten 👋 That would be fabulous! I actually notice this slightly in VSCode as well, so I'm guessing fixing that would fix it everywhere <3

[2019-03-28 17:51] lbogdan commented on #1026
@samdenty Is this still an issue? I tried to replicate it, but the sandbox you linked to is not there anymore.

[2019-03-28 17:53] lbogdan commented on #1028
Hey @dreamniker

There is an API endpoint that returns the contents of a sandbox: https://codesandbox.io/api/v1/sandboxes/new (replace `new` with your sandbox id).

If that answers your question, please help us keep the issue count low by closing this! 🙂

[2019-03-28 18:00] lbogdan commented on #861
Hey @SimeonC , is this still happening for you? I tried to replicate, but I only got those "Uncaught ReferenceError: isSelected is not defined" errors in a loop (which I think it's actually a sandbox issue, not a CodeSandbox one), which are now bounded to 900, (probably) because of the loop protection.

If it's not an issue anymore, we'd appreciate you helping us to keep the issue count low by clo

[2019-03-28 18:12] Loilo commented on #1009
Oh dang, just cleaned up my sandboxes the other day and thought it wouldn't be needed anymore. 🙈

Let me talk back to my coworker and see if he still has a sandbox where this can be reproduced. ☺️

[2019-03-28 19:59] ValentinH commented on #844
I actually forgot about this issue. Can I work on it?

[2019-03-29 00:14] Natetronn commented on #1620
Thanks, Sara! The Gatsby example is now working as expected.

I'm still getting the same error here, however: https://codesandbox.io/s/6v3v3yxy0k

https://github.com/Natetronn/now-examples/tree/master/static

Works locally and is an example direct from Zeit, with the added package.json to import from Github and work in codesanbox.

[2019-03-29 00:15] MarcoEscaleira opened #1668 "codesandbox.io - homepage - display problem"
# 🐛 bug report

## When I codesandbox.io on my smartphone some of the content gets behind the screen and it's stuck there
## I was looking up to CodeSandboxx and I noticed this little bug

### My environment
| Android          | 8.0.0 |

[1 - print](https://ibb.co/K0QGQfy)
[2 - print](https://ibb.co/j3wV5Yk)

[2019-03-29 00:29] Natetronn commented on #1620
[code]

[2019-03-29 00:45] ryanirilli commented on #1126
No actually thanks for checking, it no longer is!

[2019-03-29 00:45] #1126 closed

[2019-03-29 07:47] chakrihacker commented on #503
yes, thanks closing this issue

[2019-03-29 07:47] #503 closed

[2019-03-29 07:54] Loilo commented on #1009
So turns out my coworker actually cleaned up his sandboxes *yesterday*. This is really unfortunate, but that means we've got no more reproduction of the issue.

I'll close this for now, if anyone experiences the same problem, they'll open a new issue anyway. 🤷‍♂️

[2019-03-29 07:54] #1009 closed

[2019-03-29 10:43] giorgi-m commented on #1481
it seems I can't paste in code sandbox....

[2019-03-29 13:59] #844 closed

[2019-03-29 15:18] domi1kenobi commented on #1431
wasted hours cause of this.. :(

[2019-03-29 15:20] domi1kenobi commented on #1431
please disable the fork button when someone makes a private sandbox.

[2019-03-29 16:44] SaraVieira commented on #1668
Added le flex wrap and it does fix it :D
https://github.com/CompuIves/codesandbox-client/commit/2908c8c3ee09e91c0b9b7091479118b11670d216

[2019-03-29 17:52] jasonbronson opened #1669 "preferences not saving Safari ipad pro latest ver"
The preferences will not stick or even change in safari window if I adjust our theme to light version. I’m stuck on darkmode and in sunlight I cannot even see the screen.

[2019-03-29 18:12] SaraVieira commented on #1669
Hey!

Are you using incognito mode ?

[2019-03-29 19:21] tenjojeremy opened #1670 "Code snippets"
# 🌈 Feature

Ability to create file with code snippets

Just how VSCode handles them by using a

VSCode

[2019-03-29 22:15] Genroa opened #1671 "RavenJS kills performance."
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?
I'm working on a small game with PIXI and until quite recently, everything was fine. Then I started to get really poor performance. With Chrome, I ran a performance profiling. Here are the results:

![](https://image.noelshack.com/fichiers/2019/13/5/1553897425-capture.png)

Link to

[2019-03-29 22:16] CompuIves commented on #1671
Hey! Thanks for letting me know, that's unacceptable. I'm working on a fix.

[2019-03-29 22:19] CompuIves commented on #1670
Hey! Do you mean creating a new file from a snippet? Right now we support user snippets like VSCode, you can access it by selecting "Configure User Snippet..." in the quick opener.

[2019-03-29 22:24] Genroa commented on #1671
Thank you for your quick response !

[2019-03-29 22:37] cristiano-belloni commented on #1504
Hi @lbogdan - does this work with private sandboxes? Because I'm trying with one and it doesn't seem to work. Would this be part of the same bug report or should I open another?

[2019-03-29 22:40] CompuIves commented on #1671
Fix is live now!

[2019-03-29 22:49] Genroa commented on #1671
Hm... Sorry, but the problem remains exactly as it was before the fix, even after emptying my cache.

[2019-03-30 04:19] tenjojeremy commented on #1670
Okay, found it.

Great job with the project, thanks!

[2019-03-30 05:14] tony19 opened #1672 "Share-link for test view no longer opens tests"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?
I'm trying to share a link that opens the test view automatically. This used to work, but not sure exactly when it stopped (recent). Right now, it just opens the browser preview.

###  Link to sandbox: [link](https://codesandbox.io/s/n4m6185844?fontsize=14&module=%2Fsrc%2Fcomponents

[2019-03-30 07:04] SquidAnan opened #1673 "Some parts of UI are covered"
# 🐛 bug report

## Description of the problem
Some parts of UI are covered because the warning message pops up while the files haven't saved.

#### With wider window width
![bug_report](https://user-images.githubusercontent.com/26249039/55272676-fb202400-52fa-11e9-8ffa-ae82d767afc2.jpg)

#### With narrower window width
![bug_report2](https://user-images.githubusercontent.com/26249039/55272695-52be

[2019-03-30 11:26] CompuIves commented on #1672
Oh hmm, that's indeed weird. I'll try to fix it today. In the meantime you can drag the tests tab to be before the browser tab to make it the default. This way you don't have to change the url to show it.

[2019-03-30 11:28] CompuIves commented on #1671
Hmm, that is weird. Do you have a sandbox I can look into?

[2019-03-30 12:44] Genroa commented on #1671
Here is my sandbox : [https://codesandbox.io/s/lp12832xwl](https://codesandbox.io/s/lp12832xwl)

[2019-03-30 12:59] Saeris opened #1675 "🌈 Add "Default Start Script" dropdown to Server Control Panel"
Hey! This is a feature request for the Server Control Panel to improve the user experience.

While attempting to add Netlify Functions to the default Gatsby Starter as laid out by [this tutorial](https://www.gatsbyjs.org/blog/2018-12-17-turning-the-static-dynamic/) I ran into some confusion when the modified start commands didn't work as expected. Specifically it asks me to change the default scri

[2019-03-30 18:02] SaraVieira commented on #1670
Awesome!!

Gonna close as the feature already exists :)

Feel free to reopen with any issues

[2019-03-30 18:02] #1670 closed

[2019-03-30 19:44] farskid opened #1676 "Prettier config export alongside project"
# 🌈 Feature

When the project is exported, if prettier has been configured as well, the prettier config also is exported with the project.

Click on the Export button -> Export whole project -> if Prettier is configured, export `.prettierrc` as well.

I tried to dig into the codebase and find where the export service is implemented, but no luck yet.
Would love to do it and send a PR. just need a h

[2019-03-30 20:59] RandomFractals commented on #1274
just a quick update on this: @CompuIves helped me resolve some sandbox quirks.

Here is a working vega-template sandbox for now:

https://codesandbox.io/s/6lzn1398wr

I'll look into creating templates on codesandbox for the final PR to make it legit on your stack soon

[2019-03-30 21:14] akshaygarg834 commented on #1474
One of the ise case is when using particle js it thorws
error.

[2019-03-31 01:31] #1668 closed

[2019-03-31 05:09] SimaAmini opened #1677 "React Snippets"
# 🐛 bug report

## Description
I created a new react project and couldn't use react snippets like cc or imrc. I'm getting these errors in the console. TypeError and 422 error .

`TypeError: Cannot read property 'setAsyncMode' of undefined`

<img width="818" alt="codesandbox" src="https://user-images.githubusercontent.com/12030102/55285013-c1512b00-5397-11e9-92b2-c8b9f487974b.png">

| Software

[2019-03-31 10:42] YaroslavW commented on #1537
I have such a problem. It seems that our problems do not interest anyone here. I am going to delete this shit away from my computer.

[2019-03-31 11:30] jasonbronson commented on #1669
no

[2019-03-31 15:44] CompuIves commented on #1677
Hey! Did you install the React snippets? We don't preinstall them currently, but that would actually be a good idea.

[2019-03-31 16:30] SaraVieira commented on #1677
Hey!

Yeah, that error is unrelated, if you want to use snippets for now you need to create you own like this:

https://code.visualstudio.com/docs/editor/userdefinedsnippets#_creating-your-own-snippets

And you can copy the react snippets file
https://github.com/xabikos/vscode-react/blob/master/snippets/snippets.json

'm also gonna close as that is not something we have installed, please reopen if

[2019-03-31 16:30] #1677 closed

[2019-03-31 16:49] CompuIves commented on #1537
Do you have the same problem as the original issue? Impossible to put something in the CLI? I just tested it and it works for me, might be worth it looking into the dependencies.

[2019-03-31 16:53] #1673 closed

[2019-03-31 16:54] CompuIves commented on #1669
Hmm, could be maybe related to the new theme properties in VSCode, it might be that it isn't applied properly in the case of CodeMirror. I can look into this next week.

[2019-03-31 19:33] SaraVieira commented on #1096
Hey!

Sorry can you explain the issue better?

[2019-03-31 19:38] SaraVieira commented on #1090
Closed by https://github.com/CompuIves/codesandbox-client/pull/1467

[2019-03-31 19:38] #1090 closed

[2019-03-31 19:40] SaraVieira commented on #1070
Hey!

This is still an issue I am gonna close it as the reason is the one mentioned in https://github.com/CompuIves/codesandbox-client/issues/1050 and it has been bumped

[2019-03-31 19:40] #1070 closed

[2019-03-31 19:44] SaraVieira commented on #1037
Heey!

I am gonna close this as it seem changing to VSCode has made this property be recognized :D

[2019-03-31 19:44] #1037 closed

[2019-03-31 19:46] SaraVieira commented on #1051
Hey!

We don't currently support that :/

I will though close this issue because the main problem has been solved.

Please create an issue for alias if you want :)

[2019-03-31 19:46] #1051 closed

[2019-03-31 19:48] SaraVieira commented on #1062
Hey!

This is the expected behavior, we don't save anything so if you try to connect to a repo you deleted it will give you an error.

You will need to import the new one here: https://codesandbox.io/s/github

Closing as this is expected

[2019-03-31 19:48] #1062 closed

[2019-03-31 19:48] SaraVieira commented on #1039
Closing as issue seems to be fixed

[2019-03-31 19:48] #1039 closed

[2019-03-31 19:53] SaraVieira commented on #1045
Closing as this has been added in the meantime

https://codesandbox.io/s/vanilla

[2019-03-31 19:53] #1045 closed

[2019-03-31 19:59] farskid opened #1679 "React components methods don't throw binding error"
# 🐛 bug report

## Description of the problem

When we use an ES6 class to create a React component, if there is an access to `this` reference in a class method, the method needs to be bound to the class instance in constructor or be written as an arrow function, otherwise, there would be an error thrown, indicating that the mentioned method doesn't have access to `this`.

## How has this issue af

[2019-03-31 20:00] farskid commented on #1676
@SaraVieira Any hint where I could start adding this?

[2019-03-31 20:13] montogeek commented on #1045
Thanks @SaraVieira !

[2019-03-31 20:14] SaraVieira commented on #1007
Hey!

It was actually bumped to 250 :D

Closing this as fixed, feel free to re open :)

[2019-03-31 20:14] #1007 closed

[2019-03-31 20:15] SaraVieira commented on #982
Hey!

Is this still happening?

[2019-03-31 20:17] SaraVieira commented on #1091
Hey!

You are using a client sandbox and in those, we do not support it that is correct :/

I would advise you to start a new node container and try there: https://codesandbox.io/s/node

In here the npm start command will be run so it will support webpack :)

Closing as this is expected, feel free to reopen :)

[2019-03-31 20:17] #1091 closed

[2019-03-31 20:26] SaraVieira commented on #1676
Hey!

Not really :(

We also have the same issue with gitignore, it needs some fixing :(

[2019-03-31 20:28] farskid commented on #1676
Oh :( I'll try more to dig into this. I'll keep this issue posted.

[2019-03-31 20:29] SaraVieira commented on #1676
It should be here: https://github.com/codesandbox/codesandbox-importers

And not in the main project I think

[2019-03-31 20:31] SaraVieira commented on #880
Hey!

I will close as this has been made in the meantime by moving to normal Create React app and now our versions come from react scripts

Please reopen if needed :)

[2019-03-31 20:31] #880 closed

[2019-03-31 20:34] SaraVieira commented on #1067
Hey!

Sorry for the long time to reply but it seems to have been a weird bug that is now fixed

Feel free to reopen if any other issues appear :)

[2019-03-31 20:34] #1067 closed

[2019-03-31 20:35] SaraVieira commented on #1128
@CompuIves Has this been fixed with rewrite?

[2019-03-31 20:44] SaraVieira commented on #1049
Hey!

This seems to have been fixed in the meantime. I still get an issue saying `cannot read proprety date of undefined` but I think that's unrelated

Feel free to reopen

[2019-03-31 20:44] #1049 closed

[2019-03-31 21:38] CompuIves commented on #1097
Good that you mention it. I'll take a look, it may be high because it automatically caches VSCode from the copied files

[2019-03-31 23:05] guaiamum commented on #1096
Hey @SaraVieira ,
I just tested in a preact template and the problem seems to be resolved, although the _paste_ action with the middle button is not present anymore. The problem used to happen when closing a file tab, which would paste the clipboard content on the next file.
Thanks for the attention, and nice talk in the typeof conf, btw! ;)

[2019-03-31 23:51] farskid opened #1680 "FileName not changed on Sandbox name change from sidebar"
# 🐛 bug report

## Description of the problem
When changing the name of the Sandbox from the left sidebar, it's expected that the name on top of the Sandbox change as well.

## How has this issue affected you? What are you trying to accomplish?
I changed the name of the Sandbox on the left sidebar, but the name on top of the Editor didn't change at the same time. Refreshing fixes this.

## Screens

[2019-04-01 01:20] robertcoopercode commented on #1525
I run into the same issue as @dhuber666, but I'm able to get the cleanup to work as expected when I comment out the `render(...)` of my React app in the entry point of my app (as suggested by @ardeaf). Here's a sandbox that demonstrates the issue: https://codesandbox.io/s/l242wzo837

Ideally, we don't have to comment out the render method each time we want the cleanup to work as expected.

Thanks

[2019-04-01 08:11] dimaip commented on #1566
@lbogdan for now we go into Live mode and there I can leave comments in his code without forking.
Unfortunately it's not possible to keep the Live mode forever, so I have to keep on asking him to re-enable it when I want to leave feedback.

Anyways, I think the idea of online mentoring has a lot of potential, give it another thought ;)

[2019-04-01 08:51] SaraVieira commented on #1073
Hey!

TSLint is going to be deprecated as eslint now supports typescript and we do support eslint.

I will close this issue as implementing tslint now would not make sense

[2019-04-01 08:51] #1073 closed

[2019-04-01 08:54] SaraVieira commented on #1096
Hey!

We just use VSCode now so you should be able to add all the keybinds you want like this:

https://code.visualstudio.com/docs/getstarted/keybindings

Thank you :D

[2019-04-01 09:09] lbogdan commented on #1659
Closing this, as no feedback signals me this has been solved. Please reopen if that's not the case.

[2019-04-01 09:09] #1659 closed

[2019-04-01 09:14] lbogdan commented on #874
Well, I'm gonna close this for now, if you have any issues deploying to Netlify, please open a new issue.

[2019-04-01 09:14] #874 closed

[2019-04-01 09:16] lbogdan commented on #1455
Closing this, as I'm pretty confident I fixed it. Please reopen if you're still experiencing issues.

[2019-04-01 09:16] #1455 closed

[2019-04-01 09:37] #1615 closed

[2019-04-01 10:17] SaraVieira commented on #1171
This has also been fixed by moving the console under the browser :)

[2019-04-01 10:17] #1171 closed

[2019-04-01 10:27] hasparus opened #1683 "Upgrade to TypeScript version 3.4"
TS 3.4 adds new syntax ([const contexts](https://github.com/Microsoft/TypeScript/pull/29510) and [readonly tuples](https://github.com/Microsoft/TypeScript/pull/29435)) which isn't supported now. [Repro on CodeSandbox](https://codesandbox.io/s/7w0pwz6lj6?fontsize=14&module=%2Fsrc%2Findex.ts)

Could be solved with #942 but this is smaller scope, so I've created separate issue.

[2019-04-01 11:42] SaraVieira commented on #35
Closing this as I think all the issues here have been fixed 🎉

[2019-04-01 11:42] #35 closed

[2019-04-01 12:20] SaraVieira commented on #222
Hey!

As we jumped completely to VSCode thus can now be done in their UI: https://code.visualstudio.com/docs/getstarted/keybindings and just copy from the extension you wish.
Example for sublime: https://github.com/Microsoft/vscode-sublime-keybindings/blob/master/package.json#L57

We will in the future allow a user to add extensions but for now I think this covers most issues faced here

Feel free

[2019-04-01 12:20] #222 closed

[2019-04-01 12:35] CompuIves commented on #1355
Fixed this one with the new packager, hopefully live this week!

[2019-04-01 12:35] #1640 closed

[2019-04-01 14:06] Saeris commented on #1461
Appears to be working as expected now! Haven't run into any problems with it in the last week of working with containers.

[2019-04-01 14:08] lbogdan commented on #1461
Reopening, as we still want to get this feature in. 🙂

[2019-04-01 14:21] #1577 closed

[2019-04-01 14:30] #1355 closed

[2019-04-01 14:44] CompuIves commented on #1656
I found the cause of the issue! It was caused by some Linux clipboard override by VSCode, but this doesn't really work in the browser. Line is here: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/contrib/codeEditor/browser/selectionClipboard.ts#L95.

I changed this line:
https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/contrib/codeEditor/browser/selectionClipboard

[2019-04-01 15:19] samrith-s commented on #1680
If no one is taking this, can I pick this up?

[2019-04-01 15:19] farskid commented on #1680
@samrith-s Go ahead from my side!

[2019-04-01 15:35] SaraVieira commented on #1680
@farskid I am on this now and I don't know how to react

[2019-04-01 15:37] SaraVieira commented on #1680
It's in this file @samrith-s https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/app/pages/Sandbox/Editor/Header/CollectionInfo/index.js

[2019-04-01 15:37] farskid commented on #1680
@SaraVieira Oh! That's why I said from my side :) I'm truly sorry for the hassle Sara and I don't know what to do now :(

[2019-04-01 15:39] samrith-s commented on #1680
@SaraVieira Thanks! I'll create a PR soon-ish. Still cloning the fork. 😭

[2019-04-01 15:40] SaraVieira commented on #1104
Hey!

I am gonna close as in the latest version you can't move the preview to the bottom anymore

[2019-04-01 15:40] #1104 closed

[2019-04-01 16:03] SaraVieira commented on #1100
@Haroenv
![Screenshot 2019-04-01 at 18 02 40](https://user-images.githubusercontent.com/1051509/55342133-5e02ee00-54a8-11e9-990b-95a31f20d416.png)

I may have not read the last sentence 😂

[2019-04-01 17:41] lbogdan opened #1688 "Spurious console.log errors when loading the editor"
- [x] Mobx observer: You are using 'observer' on React.PureComponent. These two achieve two opposite goals and should not be used together

![image](https://user-images.githubusercontent.com/2083930/55346765-eccd3600-54bb-11e9-85b3-e8f894a9aa29.png)

- [x] Use `shouldComponentUpdate` in an `observer` based component breaks the behavior of `observer` and might lead to unexpected results. Manually i

[2019-04-01 17:46] eps1lon commented on #1656
Glad to hear, thanks. Really enjoyed the v3 release so far. Big :+1:  to the whole team.

[2019-04-01 21:24] #1024 closed

[2019-04-01 22:33] samrith-s commented on #639
If no one is on it, can I pick this up? @lbogdan @SaraVieira

[2019-04-01 23:15] samrith-s commented on #639
Created a PR for this. https://github.com/CompuIves/codesandbox-client/pull/1691

Do check it out whenever! 😄

[2019-04-01 23:24] lbogdan commented on #639
It can be tested here http://pr1691.cs.lbogdan.tk/s/new , btw.

[2019-04-01 23:34] samrith-s commented on #639
Cool, thanks!

[2019-04-02 00:19] samrith-s commented on #1439
Any way I can run the Explore page? I just get this some errors in the console.

![image](https://user-images.githubusercontent.com/9032162/55367499-09dd2580-550b-11e9-9e9e-94377e6891ae.png)

[2019-04-02 07:35] s-pace commented on #1100
Thanks @SaraVieira for applying. I have replied to your application by email, you can check the details.

You're now a few steps away from having it working on your website

- Copy the following CSS/JS snippets and add them to your page

[code]
- Add a search input in your page. Then update the inputSelector value in JS snippet to a CSS selector that targets your search input field.
- Optionally c

[2019-04-02 08:25] AniaMakes commented on #1656
Thank you for prompt action on this!

[2019-04-02 09:00] #1680 closed

[2019-04-02 09:06] CompuIves commented on #1439
Hey! You can start it by going to `packages/homepage` and running `yarn start:dev`. I think the origin of this issue is in the preview component (`packages/common/components/Preview`), so if you work on that component you also need to run `yarn start` in `packages/common`.

[2019-04-02 09:14] samrith-s commented on #1439
Hey, got it. I’ll do that and check out this issue. Faced the same thing yesterday. Thanks!

[2019-04-02 09:18] CompuIves commented on #1656
Fix is live! Let me know if it worked 😄.

You might have to refresh twice to see the update (service worker), the version is `bfa0322` which you can see in the bottom left.

[2019-04-02 09:19] HabelFoc commented on #930
for me i had to pass extra properties
[
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ]

[2019-04-02 09:24] CompuIves commented on #639
We can close this one now, thanks @samrith-s!!

[2019-04-02 09:24] #639 closed

[2019-04-02 09:29] CompuIves commented on #1207
Hmm, yes we auto install the jest types if `autoInstallTypes` is set to `true`  (which is the default). I'll need to make a check for automatic type acquisition to disable it.

[2019-04-02 09:32] SaraVieira commented on #1100
Thank you both @Haroenv and @s-pace :D

I made a PR to add it worked out of the box 💯

https://github.com/CompuIves/codesandbox-client/pull/1692

[2019-04-02 09:36] SaraVieira commented on #462
Closing as we are also changing the layout of the homepage

Feel free to reopen or maybe even create a new one with what you would like to see in the `developer docs` so someone else can also pick it up

Make sense @marcinczenko ?

Thank you again!

[2019-04-02 09:36] #462 closed

[2019-04-02 09:39] SaraVieira commented on #1357
Hey!

I am gonna close as this does not seem to be a Doc issue but a jest one because we don't yet support mocking and in that case it's a duplicate of https://github.com/CompuIves/codesandbox-client/issues/692 and some others

Thank you!

Feel free to reopen if you think opposite

[2019-04-02 09:39] #1357 closed

[2019-04-02 09:40] CompuIves commented on #1525
Hmm yes this definitely is an issue in CodeSandbox. I've been meaning to fix this for a while by running the tests on something like `jsdom` instead, I'll see what I can do!

[2019-04-02 09:43] samrith-s commented on #639
Welcome @CompuIves! 😊

[2019-04-02 09:50] eps1lon commented on #1656
Works like a charm. Thanks!

[2019-04-02 10:17] rnallu commented on #346
@CompuIves

I tried this steps suggested by you, its not updating to latest changes of code. Is there any improvement in this regard lately. Please update.

[2019-04-02 10:24] lbogdan commented on #346
@rnallu Can you please provide a link to your github repo, and also tell us what changes are not updating properly?

[2019-04-02 10:32] rnallu commented on #346
@lbogdan [Github repo](https://github.com/rnallu/nba-app)
the `feature_slider` branch is merged to `master` in github, same is not getting updated in [codesandbox](https://codesandbox.io/s/m76k4prww9) even after i tried to push a blank commit thru codesandbox.

[2019-04-02 11:35] CompuIves commented on #1656
Niiiiice! Closing this one then 😄

[2019-04-02 11:35] #1656 closed

[2019-04-02 12:35] Genroa commented on #1671
Update : RavenJS activity doesn't appear anymore in my sandbox app application profilings.

[2019-04-02 12:41] CompuIves commented on #1671
Yes, I deployed an update this morning that hopefully fixes this. Let me know if it works!

[2019-04-02 15:20] #1651 closed

[2019-04-02 15:20] #1672 closed

[2019-04-02 15:21] #1369 closed

[2019-04-02 16:51] BDMayhem commented on #1537
I'm experiencing the same with CodeSandbox CLI 2.1.1 on Windows 10 Build 17763.

It works for me as expected in Ubuntu 18.04.2.

[2019-04-03 02:44] slynch13 opened #1698 "Add setting to disable embed redirect for available width less then 800"
I have been using codesandbox.io from my pixel2 xl for a while, works great for when I want to sit and watch TV while working through something I what to do in one of my projects.

Its a minor thing, but I often miss the fact that I am redirected to the embed editor, so don't click on the "Open in Codesandbox" button. This results in occasionally needing to redo some work, which most of the time i

[2019-04-03 06:43] tinahir opened #1699 "Explore Codesendbox: Second picked sandbox doesn't open"
# 🐛 bug report
In explore codesendbox, second picked sandbox opens first picked sandbox

## Description of the problem
1. Open [https://codesandbox.io/explore](https://codesandbox.io/explore)
2. Select any sandbox
3. Close the current sandbox
4. Open any sandbox except previous selected
5. It will show previous selected sandbox
6. This bug is also is reproduce in left and right navigation of sandb

[2019-04-03 11:25] sapegin opened #1701 "Supported configurations unreadable with light themes"
# 🐛 bug report

## Description of the problem

When you use light theme, labels on Prettier and CodeSandbox configs are unreadable.

![image](https://user-images.githubusercontent.com/70067/55475263-bd314180-5613-11e9-8d5b-b6b7e1ecfeec.png)

![image](https://user-images.githubusercontent.com/70067/55475273-c7ebd680-5613-11e9-933b-e01f137f5670.png)

###  Link to sandbox: any
### Your Environment
|

[2019-04-03 11:27] sapegin opened #1702 "Insufficient color contrast on file delete modal button"
# 🐛 bug report

## Description of the problem

Text on cancel button is unreadable. Also both buttons have no focus styles.

![image](https://user-images.githubusercontent.com/70067/55475369-139e8000-5614-11e9-9f88-9f46b3b012cd.png)

###  Link to sandbox: any
### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  |  PROD-1554195707-bfa032269 |
| Br

[2019-04-03 11:31] sapegin opened #1703 "Insufficient color contrast on Quiet Light theme"
# 🐛 bug report

## Description of the problem

Light gray icons are barely visible:

![image](https://user-images.githubusercontent.com/70067/55475507-69732800-5614-11e9-94c0-35603e43d93a.png)

Light blue links have contrast ration of 1.45, minimum for WCAG AA is 4.5:

![image](https://user-images.githubusercontent.com/70067/55475566-932c4f00-5614-11e9-8a17-ba682008921b.png)

Contrast ratio on ver

[2019-04-03 12:08] guyfedwards opened #1704 "Vim mode not working in firefox"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?
Vim plugin does not load on Firefox

![2019-04-03_130637](https://user-images.githubusercontent.com/1794071/55477637-80644b00-5611-11e9-82e3-a025c76af353.png)

###  Link to sandbox: [https://codesandbox.io/s/vy8p1kr2j3](https://codesandbox.io/s/vy8p1kr2j3)
### Your Environment
| Sof

[2019-04-03 12:11] lbogdan commented on #1537
Unfortunately I can't reproduce on any of my 3 Windows 10 systems. @zeitamin @sajithneyo @BDMayhem  Would any of you be interested in doing a TeamViewer session to debug this live on your system?

[2019-04-03 12:27] CompuIves commented on #1704
Hmm, I'll take a look at this today. Interesting error, I hope that it's not this error (https://stackoverflow.com/questions/49816707/firefox-invalid-regex-group), as this would probably affect how the vim plugin works.

[2019-04-03 12:42] CompuIves commented on #669
Thanks for the reproduction @steventsao! I think we can close this one.

[2019-04-03 12:42] #669 closed

[2019-04-03 12:43] CompuIves commented on #606
This one is fixed!

[2019-04-03 12:43] #606 closed

[2019-04-03 12:46] CompuIves commented on #1458
We could potentially add support for node_modules in `static` template, but this would require some server side changes. I think the best way to currently handle this is by creating a sandbox based on a container, like https://codesandbox.io/s/node. These sandboxes are run on a server and correctly host the node_modules.

[2019-04-03 12:52] CompuIves commented on #1537
It could perhaps be related to the terminal? I've been testing with `iTerm` and `Terminal.app`.

[2019-04-03 12:54] CompuIves commented on #1439
Hey @samrith-s, did you find anything here? I'm thinking on taking a stab today.

[2019-04-03 12:57] lbogdan commented on #1537
All symptoms seem to point to a terminal issue, yeah. Although I tested with `powershell`, `cmd`, `cmder` and `Git Bash`, and couldn't reproduce with any of them.

[2019-04-03 13:24] CompuIves commented on #1335
I wasn't able to fix the issue with Privacy Badger. Privacy Badger marked the `iframes` as unsafe, because the user code in the sandbox was saving cookies. I don't think we're able to prevent users from writing cookies without also breaking code.

The other issue, with Firefox and vanilla template will be (finally!) fixed with this PR: #1697. 🎉

[2019-04-03 13:34] #845 closed

[2019-04-03 13:34] #1050 closed

[2019-04-03 13:34] #1220 closed

[2019-04-03 13:34] #1226 closed

[2019-04-03 13:34] #1335 closed

[2019-04-03 13:34] #1576 closed

[2019-04-03 13:34] #1630 closed

[2019-04-03 13:41] #1100 closed

[2019-04-03 14:08] samrith-s commented on #1439
Hey @CompuIves, I’m gonna have a stab at it later tonight! You can try as well, would love to know how you approach it!

[2019-04-03 14:58] farskid commented on #1676
My latest export does contain .prettier config and .gitignore file. Apparently, .gitignore is only generated once you connect the sandbox to a git repo. .prettierrc is also generated once you enable it from the settings.
Closing this.

[2019-04-03 14:58] #1676 closed

[2019-04-03 14:58] SaraVieira commented on #1676
oh yay!

[2019-04-03 15:29] olavgu opened #1707 "ReferenceError in preview panel when running next.js app"
# 🐛 bug report

## Description of the problem
In the preview panel, I get the error message "ReferenceError: dll_7aff549c98b978433226 is not defined". Upon refreshing the browser, the page preview flashes quickly, then is replaced with the error message. The problem started when I tried to add emotion as a dependency, but that could might as well be a coincidence.
## How has this issue affected yo

[2019-04-03 15:33] guyfedwards commented on #1704
That seems likely. There was a VS Code issue with the same error
https://github.com/VSCodeVim/Vim/issues/3522 which was fixed with an
update, not sure if that's something that can be applied here?

On Wed, 3 Apr 2019, 13:27 Ives van Hoorne, <notifications@github.com> wrote:

[2019-04-03 15:34] CompuIves commented on #1707
Heya! It seems like this is an issue with `next`, what happens when you restart the sandbox?

[2019-04-03 15:38] olavgu commented on #1707
That fixed it 👍 Thanks, I had no idea you could do a restart!

[2019-04-03 15:38] #1707 closed

[2019-04-03 15:56] BDMayhem commented on #1537
@lbogdan I can do TeamViewer

[2019-04-03 16:04] lbogdan commented on #1537
@BDMayhem Nice! Can we do a Skype to exchange connection details?

[2019-04-03 16:10] #1399 closed

[2019-04-03 16:10] #1701 closed

[2019-04-03 16:10] #1702 closed

[2019-04-03 16:10] #1703 closed

[2019-04-03 16:34] BDMayhem commented on #1537
Yes.  Also bdmayhem

[2019-04-03 16:38] iamricky commented on #667
Has this bug been addressed? or is the solution switching to codepen?

[2019-04-03 17:33] #1537 closed

[2019-04-03 17:39] lbogdan commented on #1537
We just published [codesandbox@2.1.3](https://yarnpkg.com/en/package/codesandbox), which should fix this. Please update, and if you still have issues, reopen to let us know.

[2019-04-03 17:43] CompuIves commented on #667
That's right! Implementation wise I think that it's not a lot of changes, I'm a bit afraid for sandboxes with >1000 files. Creating 1000 script tags for a sandbox might be expensive, but then again, I haven't tested it yet. We're on a bug fixing spree this week so I think we'll address this this week!

[2019-04-03 17:45] CompuIves opened #1710 "CodeSandbox freezes when using `toMatchObject` in tests"
# 🐛 bug report

This one is an important one, we should fix it ASAP.

Reference tweet: https://twitter.com/IMatt611/status/1113494800441827328

## Description of the problem
Change `toMatchInlineSnapshot` to `toMatchObject`, the whole editor freezes.

## How has this issue affected you? What are you trying to accomplish?
Freezes editor.

###  Link to sandbox: [link](https://codesandbox.io/s/3vzll0

[2019-04-03 17:46] tinahir commented on #1699
Can I working on this issue?

[2019-04-03 17:50] CompuIves commented on #1704
Ahh, nice find! It seems like the branch wasn't merged in the end, I'll make a comment: https://github.com/VSCodeVim/Vim/pull/3525.

[2019-04-03 17:57] imatt611 commented on #1710
Thanks so much for looking into this! If it helps, once I reached the point I left this at, any method change there was triggering the freeze, but I was trying to work on it there because of the failing test. `toMatchInlineSnapshot` is a `jest` method, so that's confusing, too, but perhaps distinct.

I tested on Chrome 73.0 and Safari 12.1.

[2019-04-03 18:08] SaraVieira commented on #667
No and yes

[2019-04-03 18:30] AndyOGo commented on #667
I see, that could be maaaany files 🤔
I haven't tested so many files either, but would it be possible to concatenate them or run a full fledged build?

How about the [`Function` constructor](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function)? Does it have the same cross origin issue?

[2019-04-03 18:32] Achilles1515 commented on #122
Something like how StackBlitz does it would be nice.

https://stackblitz.com/angular/yjjqrobmbdaj?file=app%2Fautocomplete-overview-example.ts

Hover over the "Dependencies" header on the left and a "refresh" icon appears to update all the dependencies to their latest version.

[2019-04-03 18:35] shrutikapoor08 commented on #667
I am still experiencing this issue. Here is a sandbox link I am working on: https://codesandbox.io/s/n4xno16npj. Not sure if this is GraphCMS setting or codesandbox issue.

[2019-04-03 19:00] AndyOGo commented on #667
@CompuIves I started to provide above PR, from a first quick github search I hope haven't missed something.

[2019-04-03 21:26] fnky opened #1712 "Option/Alt for menu takes focus away from editor"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?

When pressing Option/Alt to focus the menubar, while in an editor it will take away the focus when pressing Option/Alt once. This conflicts with moving the cursor by word—using Option/Alt + arrow keys.

A way to solve this could be to make it a preference to enable/disable focus th

[2019-04-04 01:14] mvolkmann opened #1713 "vscodevim and undo"
# 🐛 bug report

## Description of the problem

I have “Vim Mode” enabled in the Editor preferences. Most Vim keystrokes seem to work as expected, but if I delete some text and press the “u” key in command mode it doesn’t undo the delete. How does undo work in Vim Mode?

## How has this issue affected you? What are you trying to accomplish?

I can’t undo changes.

###  Link to sandbox: [link]() (op

[2019-04-04 07:28] Muhammed-Shaarawy commented on #1431
I am facing the same issue now. what is the solution please ?
Thanks in advance!

[2019-04-04 07:37] domi1kenobi commented on #1431
did you lock the sandbox? if you make it private it won't load anymore..
hope this helps

On Thu, 4 Apr 2019 at 09:28, Muhammed-Shaarawy <notifications@github.com>
wrote:

--
Leclercq Dominiek
D1K consultancy

[2019-04-04 07:51] tinahir commented on #1699
I am working on this bug

[2019-04-04 11:17] CompuIves opened #1719 ""Pick Sandbox" is not in the header anymore"
We need to put Pick Sandbox back. I think it should look something like this:

![Screenshot 2019-04-04 at 13 16 43](https://user-images.githubusercontent.com/587016/55551786-ec12ea80-56db-11e9-8c91-887ce42d096b.png)

[2019-04-04 11:33] CompuIves commented on #1712
Hey! This is a very valid request. I'm generating a new VSCode build with the option to disable it.

[2019-04-04 11:37] rabingaire commented on #1719
I would love to work on this :)

[2019-04-04 11:42] CompuIves commented on #1439
This (https://github.com/CompuIves/codesandbox-client/pull/1715) fixed this as well, so we can close this one!

[2019-04-04 11:42] #1439 closed

[2019-04-04 12:07] CompuIves commented on #1719
That's great!! The button needs to run something like

[code]

if I remember correctly.

[2019-04-04 12:18] samrith-s commented on #1679
Hey @farskid, what error are you not getting?

Afaik, the below error you get in the console is the best that can be achieved. Or am I missing something here?

![image](https://user-images.githubusercontent.com/9032162/55554986-c13b8d00-5701-11e9-8783-766709d31623.png)

[2019-04-04 12:29] SaraVieira commented on #1644
Hey @donavon

Noob question: How did you install it as a PWA? Was that in Chrome?

[2019-04-04 12:37] donavon commented on #1644
Yes. On Chrome 73+ you can "install" PWAs on macOS.

see: https://medium.com/@dhormale/install-pwa-on-windows-desktop-via-google-chrome-browser-6907c01eebe4#057f

[2019-04-04 13:42] SaraVieira commented on #1644
That is so weird, I don't get that on codesandbox :/

Can you test this link and see if the icons look better?

[2019-04-04 14:16] SaraVieira commented on #1679
Hey!

I tried it and it doesn't work, you can't slide it and I get the error on the console :/

[2019-04-04 14:17] SaraVieira commented on #1280
ohhhhh

This has actually been fixed https://github.com/CompuIves/codesandbox-client/pull/1592

[2019-04-04 14:17] #1280 closed

[2019-04-04 14:18] SaraVieira commented on #1699
Closed by #1715

[2019-04-04 14:18] #1699 closed

[2019-04-04 14:53] MarkHarper commented on #836
I'm also interested in contributing to this. I've setup my local for the client, but it does seem like there will have to be an update to the packager as well. I'm not sure how to get that service setup for testing.

[2019-04-04 15:41] shahidcodes opened #1722 "vuejs netlify deployment failing - build is failing"
# 🐛 bug report

## Description of the problem
Getting following error when deloying to netlify.
[code]
## How has this issue affected you? What are you trying to accomplish?
I was trying to deploy a vue-cli based app to netlify.
###  Link to sandbox: [https://codesandbox.io/s/wwvx9p2qrk](https://codesandbox.io/s/wwvx9p2qrk)
### Your Environment
| Software         | Name/Version|
| ----------------

[2019-04-04 15:45] SaraVieira commented on #1722
Heey

The vue build fails because you seem to have an error in your HTML in line 7:

[code]

you need to fix it to:
[code]

After doing it worked for me, can you please try?

[2019-04-04 15:50] rabingaire commented on #1719
Thank you for the hint and Yeah it pickSandboxModel 👍

[2019-04-04 15:58] shahidcodes commented on #1722
You're awesome. It worked 👍👍👍👍. Thanks @SaraVieira

[2019-04-04 15:58] #1722 closed

[2019-04-04 16:00] SaraVieira commented on #1722
Anytime! :D

[2019-04-04 16:38] lbogdan commented on #1642
Hey @masaeedu ,

Do you remember how you got to this state? Did you first install the "regular" `@masaeedu/fp`, and then tried with the git link?

What I did to make it work:
- forked your sandbox (because we're caching `node_modules` and `yarn.lock`, the fork was using the same `node_modules` files as your sandbox, so it still didn't work)
- removed `@masaeedu/fp` from `package.json`'s `dependenc

[2019-04-04 16:48] #1209 closed

[2019-04-04 16:52] SaraVieira commented on #1719
This can only appear if the person is a curator and you can check that in:

[code]
If this is not null they are one :)

[2019-04-04 17:06] lbogdan commented on #1226
@pshrmn Can you confirm this isn't an issue for you anymore?

As you can see from the PR that fixed it, the root issue was that we used to do `document.[open|write|close]()` to set the html, and this had the side-effect of removing all previously set `document` event handlers.

[2019-04-04 17:26] rabingaire commented on #1719
Oh !! that's the reason that I was getting `You're not a curator` Thank you :)

[2019-04-04 17:42] pshrmn commented on #1226
Looks good to me.

[2019-04-04 18:36] #1212 closed

[2019-04-04 19:58] ivulovic opened #1724 "File got deleted after refresh"
# 🐛 bug report

File got deleted after app freezed
The sandbox just got stuck and after refresh i lost everything

https://codesandbox.io/s/movk61ky48

Environment
| React  |
| Dragula |
| ---------------- | ---------- |
| Сodesandbox  |
| Chromium |
| Linux Mint |

[2019-04-04 21:40] RomainLanz opened #1725 "Instruction to add a new template point to 404 files"
# ❔ Question

The information provided in the [contributor documentation](https://github.com/CompuIves/codesandbox-client/blob/master/contributor-docs/adding-template.md) (under **App**) are wrong.

The links point to non-existing file (probably moved) or others repository.

[2019-04-04 21:45] #1725 closed

[2019-04-04 21:45] SaraVieira commented on #1725
Hey!

Thank you for pointing it out. Fixed here: https://github.com/CompuIves/codesandbox-client/commit/9d3eef2923b37423cd459abe8dbf7351128de6ac

 :)

[2019-04-04 21:47] SaraVieira commented on #1725
For an example or container templates look at this PR: https://github.com/CompuIves/codesandbox-client/pull/1684

Also has this PR: https://github.com/codesandbox/codesandbox-importers/pull/32

Ping me on twitter at @nikkitaFTW if you have any issues

[2019-04-04 22:38] marcosc90 commented on #1641
@lbogdan It's happening right now, if you give me a way to contact you privately, I can give you the link of the sandbox (It's an unlisted one)

[2019-04-05 03:25] Muhammed-Shaarawy commented on #1431
I just import repositories from a private GitHub repositories account after subscribing and become a CodeSandbox Patron.
I imported 2 repositories, one using React JavaScript which works and loads fine, the other repository using React Typescript which never loaded.

I do not know about locking the sandbox or make it private. i just did that.
What do you think?

Thank you @domi1kenobi

[2019-04-05 06:00] domi1kenobi commented on #1431
If your sandbox was made private you would see a locker on the sandbox in
the sandbox overview. That was the issue I had. Because it's private it
won't load due to access rights.

On Fri, 5 Apr 2019, 05:25 Muhammed-Shaarawy, <notifications@github.com>
wrote:

[2019-04-05 07:01] ImanMh commented on #982
@SaraVieira It's now worst! I can't even see the editor, I think the editor is now hosted on google too. This is what I see now:

![image](https://user-images.githubusercontent.com/4482199/55609575-3e184680-5796-11e9-9b93-33bff300c8c6.png)

URL: https://j0y0vpz59.codesandbox.io/

[2019-04-05 08:27] lbogdan commented on #1641
@marcosc90 Sorry, I was asleep when you commented, we're probably in quite different time zones. For next time, I'm `luca.bogdan` on Skype.

[2019-04-05 09:01] CompuIves commented on #1724
Hey @ivulovic, could you check your localStorage to see if the file maybe is there? Normally we save a local "backup" of a file by saving it to `localStorage` and recover it whenever you refresh.

I think that #1709 will reduce this case a lot.

[2019-04-05 09:13] rabingaire commented on #1650
I would like to work on this

[2019-04-05 09:14] rabingaire commented on #1650
It's not only `console.log` we can't run any JS code that is imported using script tag or written inside a script tag.

[2019-04-05 09:28] #1644 closed

[2019-04-05 09:32] SaraVieira commented on #982
We host our app on google cloud yes, only the SSE part is somewhere else.

I really don't know what we can do about this :(

[2019-04-05 09:33] SaraVieira commented on #1719
Closed by #1723

[2019-04-05 09:33] #1719 closed

[2019-04-05 11:50] jtheisen opened #1727 "Regression: Exception during build of previously working sandbox"
# 🐛 bug report

https://codesandbox.io/s/ll1wmkpqoq

The above sandbox fails with the message

It used to work previously, it strangely stopped working when I made a clone of it and the returned. Now both the clone and the original don't work any longer.

[2019-04-05 13:39] #1688 closed

[2019-04-05 14:45] SaraVieira commented on #1064
Hey!

Zen mode has been updated with VSCode so now it uses their zen mode and still shows tabs and toggle browser button

![Screenshot 2019-04-05 at 16 44 09](https://user-images.githubusercontent.com/1051509/55635945-25be2100-57c2-11e9-99d1-09bf04340a1a.png)

[2019-04-05 14:45] #1064 closed

[2019-04-05 15:47] kitze opened #1730 "Allow choosing a dependency version without removing it"
# 🌈 Feature

When clicking the version of a dependency it should show a dropdown and the user should be able to switch a version without removing the dependency and adding the new version.

[2019-04-05 15:49] SaraVieira commented on #1730
Nifty new github feature

Shame button:
![Screenshot 2019-04-05 at 17 48 44](https://user-images.githubusercontent.com/1051509/55640036-15f70a80-57cb-11e9-9aaf-63b199dc6a14.png)

[2019-04-05 15:50] CompuIves commented on #1730
This is a really good feature request. I'm thinking that we should show a subtle chevron next to the version, opening clicking the version turns into a dropdown. We can use the Algolia API to find possible versions.

[2019-04-05 16:46] Saeris opened #1731 "🌈 Add NPM Publishing Support"
This is a feature request to add support for publishing packages to NPM directly from within the client.

**Background:**

Yesterday I was running into some issues with my local environment while trying to publish a library using [`@pika/pack`](https://github.com/pikapkg/pack). Turns out it has some bugs running on Windows and I don't have a Mac or Linux machine readily available to me.

However,

[2019-04-05 16:53] kitze commented on #1730
Yeah I thought the comments will remain but then they disappeared and it looked really stupid without them.

@CompuIves yup, exactly!

[2019-04-05 17:22] Saeris opened #1732 "🐛 File Upload Buttons missing in v3 Editor?"
It appears that since the latest editor update, the file upload buttons in the file explorer are missing, though drag-and-drop file uploads still work. I couldn't find an option under the "File" menu to open a file upload dialog either.

[2019-04-05 18:59] masaeedu commented on #1642
Hi @lbogdan. Yup, creating a brand new vanilla sandbox and following your steps worked! Unfortunately I don't remember what I was doing exactly that caused the sandbox to get into a bad state, maybe I was using it wrong.

[2019-04-05 19:02] masaeedu commented on #1642
I'm working on a new codesandbox here and that seems to be in a weird state as well, although possibly this is unrelated: https://codesandbox.io/s/2vn5360z0

[2019-04-05 19:37] ValentinH commented on #1730
If this is the version you are mentioning, there is already a chevron on the right of the version to expand the row and show the sizes:
![image](https://user-images.githubusercontent.com/2678610/55652162-05ef2300-57eb-11e9-9ef7-4a2d2fdc3b3c.png)

[2019-04-06 00:23] cristiano-belloni opened #1737 "Invariant Violation Target container is not a DOM element in private CRA2 projects"
# 🐛 bug report

## Description of the problem
All my private sandboxes (and only the private ones) created with Create React App v2 fail with the `Invariant Violation Target container is not a DOM element.` exception. Public one work; I actually tried a working public one and set it private, without changing the code, and it stopped working with the aforementioned error (here's the now-private one

[2019-04-06 00:47] dance2die opened #1738 "🐛 Open Sandbox throws an error & Open Sandbox in new tab opens in current window"
# 🐛 bug report

I've spotted two issues

1. "Open Sandbox" doesn't open a sandbox and throws an error in console
1. "Open Sandbox in new tab" opens a sandbox in current tab

## 1st Error

Clicking on `Open Sandbox` does not open & throws following error in console.

    at Object.action (index.js:287)
    at onMouseUp (index.js:132)
    at Object.<anonymous> (react-dom.production.min.js:14)
    at

[2019-04-06 00:57] dance2die opened #1739 "🐛 Adding an additional main file fails to load Sandbox"
# 🐛 bug report

## Description of the problem

For [this Sandbox](https://codesandbox.io/s/jl2qpjn795), I've added an additional file to `main` property within `package.json` file.

`package.json`

[code]

Doing so **_auto_** reloaded the whole page & started displaying following loading screen with following error page (without loading the sandbox).

    at Object.t.absolute (path.js:111)
    at

[2019-04-06 05:08] sebas5384 commented on #1737
For me all my sandboxes are failing with React create app, but after saving a file it works again 😕

[2019-04-06 13:10] oliviertassinari opened #1741 "Regression with React"
# 🐛 bug report

## Description of the problem

For some reason, codesandbox fails to run with React. It used to work.

###  Link to sandbox

https://codesandbox.io/s/ykrxxomqlj

[2019-04-06 13:16] SaraVieira commented on #1741
Hey!

This is because our bundler changed its directory searching and to maximize compatibility with Create React App it's searching for the index.html file inside the public folder and you don't have one:

I moved it to that folder and it seems to work now

https://codesandbox.io/s/jnwpokv8m3

Sorry about the issues and let me know if that fixes it for you

[2019-04-06 13:20] oliviertassinari commented on #1741
@SaraVieira Should I change the Material-UI integration?

[2019-04-06 13:52] SaraVieira commented on #1741
I'm not sure we do, the best person to handle with the bundler may be @compuives

Ping ping

[2019-04-06 14:06] #1741 closed

[2019-04-06 14:07] CompuIves commented on #1741
I committed a fix for this, I'll add a test case for this as well. Sorry for the regression!

[2019-04-06 14:08] oliviertassinari commented on #1741
@CompuIves thanks ✨

[2019-04-06 14:27] CompuIves commented on #1741
It's lvie!

[2019-04-06 14:28] CompuIves commented on #1737
Sorry for the inconvenience! The fix for this should be live now.

[2019-04-06 14:28] #1737 closed

[2019-04-06 14:29] #1739 closed

[2019-04-06 14:32] CompuIves commented on #1739
Very good one! I made the `main` file resolvement more robust, the fix will be live in ~20 min.

[2019-04-06 14:33] oliviertassinari commented on #1741
It works.

[2019-04-06 14:34] #1730 closed

[2019-04-06 14:38] CompuIves commented on #1738
This is probably a regression from #1687. Taking a look now.

[2019-04-06 18:18] berlirumapea commented on #1525
I run the same issue with cleanup, tried the suggestion by @ardeaf and it works. But my fireEvent doesn't work. Link to the code: https://codesandbox.io/s/mqm2w49y1x

[2019-04-07 11:03] tinahir commented on #1738
If no one is working on this bug, I would like to work on the bug.

[2019-04-07 11:19] lbogdan commented on #1654
This should be fixed by #1740 , @Saeris can you please confirm?

[2019-04-07 15:27] JonShort commented on #1727
I received the same error you mention above when I opened the sandbox you linked 🤔

I managed to fix it locally (and don't seem to be able to reproduce it now) by:

1). Remove the decorator on line 31 (`@observer`)
2). Allow the app to recompile
3). Add the decorator back

It could be an erroneous babel compile was cached? It's a strange case, although I do remember seeing the babel error before i

[2019-04-07 16:53] farskid commented on #1679
@samrith-s The error is thrown and shown in browser console but not in sandbox console!
@SaraVieira Same experience for me on the mentioned sandbox.

[2019-04-07 18:02] JonShort commented on #1679
![image](https://user-images.githubusercontent.com/21317379/55687556-24c5f480-5966-11e9-807d-60aa5ddd9f1e.png)

Strangely enough the error is thrown correctly when running codesandbox locally 🤔
Could this be related to  #667?

[2019-04-07 19:52] Saeris commented on #1654
Appears to be fixed!

[2019-04-07 20:00] CompuIves commented on #1654
Great!

[2019-04-08 07:36] jtheisen commented on #1727
That did fix it. I'm closing this then.

[2019-04-08 07:36] #1727 closed

[2019-04-08 09:16] lbogdan commented on #1641
Closing this, as I'm pretty sure it's been resolved by #1729 . @marcosc90 feel free to reopen if it's still happening for you.

[2019-04-08 09:16] #1641 closed

[2019-04-08 10:37] lbogdan commented on #1641
@marcosc90 One more thing: before the sync issue happening, did you by any chance get a notification saying "10 updates in less than 2 seconds, disabling file synchronization"?

[2019-04-08 11:57] SaraVieira commented on #1712
We generated a new build and this should now be available :)

[2019-04-08 11:57] #1712 closed

[2019-04-08 14:46] hiredgunhouse commented on #1357
Yes, the tests run fine as long as I don't try to use mocking.

[2019-04-08 17:50] jimthedev opened #1744 "Firefox and Chrome on IOS: Error Unexpected frame by generating stack"
# 🐛 bug report

## Description of the problem

- In Firefox on MacOS (or Chrome on iOS)
- Visit https://7zlm67770j.codesandbox.io/log-in,
- Change the email to bob@bob.co or some other nonsense email.  Click the login button (password should be pre-filled and generic).
- You will not see an error even though you should. If you look in the browser's dev tools you should see an error relating to `Un

[2019-04-08 18:55] wpitallo commented on #1233
@CompuIves, hope you are well, whats the difference if its 250 or 2500, why does it matter?

[2019-04-08 18:57] wpitallo commented on #1007
@SaraVieira why does it matter how many modules there are? I am currently over the 250 mark as well for a project I was hopping to import :(

[2019-04-08 19:18] andreyberezhnoy commented on #1186
@lbogdan i have same issue

[code]

[2019-04-08 21:21] JonShort opened #1745 "🐛 Homepage - frameworks icons/text flow off the screen at mobile rez"
# 🐛 bug report

## Description
In the 'Tailored for web applications' section of the homepage, the framework icons and text flow off-screen on mobile.

This is mostly a cosmetic bug, but does leave the user unable to interact with the framework icons which are rendered off-screen.

<img width="219" alt="Screenshot 2019-04-08 at 22 02 39" src="https://user-images.githubusercontent.com/21317379/5575

[2019-04-09 05:19] lucasdellabella opened #1747 "Collab editing super flakey"
# 🐛 bug report
## Description of the problem

Collaborative editing for teams has flaked out ~90% of the time today, multiple different people in different teams have had client syncing issues when trying to use collab editing. text typed in one client doesn't show up in the other, shows up garbled etc. Issue seems to be significantly worse today than past few weeks where it has existed but not be

[2019-04-09 10:07] CompuIves commented on #1747
That's bad, I want to fix this as soon as possible.

This is super helpful! It seems like the problem is on the server, that the server doesn't process operations correctly. I'm going to take a closer look now.

[2019-04-09 10:39] taemon1337 opened #1748 "Trojan found in Docker image"
win.trojan.miner was found during a virus scan of the latest docker image.  I am looking into getting more details, but suggest you checkout your npm dependencies as that is a common vector.

[2019-04-09 11:08] CompuIves commented on #1748
Hey! We're taking a look, do you mean this docker image? `codesandbox/client:30f1fcb`

[2019-04-09 11:12] taemon1337 commented on #1748
I believe so, I just requested to import the image which gets scanned as part of our process, but it should be the latest image and it was just done yesterday.

[2019-04-09 13:16] lbogdan commented on #1748
@taemon1337 How exactly did you scan the image?

[2019-04-09 14:21] taemon1337 commented on #1748
![codemirrortroj](https://user-images.githubusercontent.com/2095857/55808000-3831a680-5ab1-11e9-89cd-6d206563ed95.png)

[2019-04-10 05:25] mhirapra opened #1750 "Sandbox's title is not changed, if the name change from dashboard"
# 🐛 bug report

## Description of the problem
When changing the name of the Sandbox from the dashboard, it's expected that the name on top of the Sandbox change as well
## How has this issue affected you? What are you trying to accomplish?
I changed the name of the Sandbox on the dashboard, but the name on top of the Editor didn't change at the same time.

###  Link to sandbox: [link]() (optional)

[2019-04-10 05:25] mhirapra commented on #1750
I am working on this issue.

[2019-04-10 08:01] Haroenv opened #1752 "selected file isn't readable in light themes"
# 🐛 bug report

## Description of the problem

Using the Visual Studio Light theme, the text of the selected file is in white, instead of a more correct color (probably dark grey)

## How has this issue affected you? What are you trying to accomplish?

<img width="263" alt="Screenshot 2019-04-10 at 09 56 35" src="https://user-images.githubusercontent.com/6270048/55861792-6da0c780-5b77-11e9-9c57-d4

[2019-04-10 13:50] NullVoxPopuli opened #1754 "Template buttons are not accessible"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?

I cannot ctrl+click templates to open them in a new tab.
I cannot right click a template button to get the link to share with someone.

The template buttons are not links, and kinda goes against A11y efforts

![image](https://user-images.githubusercontent.com/199018/55884359-f159b4

[2019-04-10 17:31] lucasdellabella commented on #1747
Wish I could help more. I was investigating more and it _seemed_ that it might have been related to other clients not receiving the event for me entering the room, but not sure about that. Wish I could offer a way to repro  🤷‍♂️

[2019-04-10 19:26] CompuIves commented on #1747
Yeah, these issues are super hard to find out. It could also be because of server latency and a race condition. Would you maybe have time to do a quick test with me somewhere next week? Only if you have time! You can e-mail me at ives@codesandbox.io if you have time 😄.

[2019-04-10 19:33] CompuIves commented on #1754
That's indeed very bad. In the case of the New Sandboox Page (codesandbox.io/s) we should pass a prop to the modal to show `a` elements instead. In the case of the dashboard it makes a bit less sense to show `a` because it does a POST request to create a sandbox, but we should at least make it a `button` there.

[2019-04-10 20:06] justinfagnani opened #1757 "node_modules URL for the static template"
# ❔ Question

I can't find the URL of the node_modules/ folder for the static template. In https://codesandbox.io/s/ov3vjqv9y9 I've installed lit-html, then try to load it like:

[code]

But `/node_modules/lit-html/lit-html.js` is actually return the contents of _`index.html`_.

###  Link to sandbox: [https://codesandbox.io/s/ov3vjqv9y9]()

### Your Environment
| Software         | Name/Version|
|

[2019-04-10 20:13] nicknisi opened #1758 "Editor not picking up CSS changes in Dojo templates"
# 🐛 bug report

## Description of the problem

![Napkin 04-10-19, 3 10 57 PM](https://user-images.githubusercontent.com/293805/55910015-f719bf00-5ba2-11e9-8af5-9397d9652f06.png)

When a .m.css file is changed in a Dojo template CodeSandbox, a new type definition is generated to represent the available classes in that css file, so that it can be imported and applied to a module. Previously, the edi

[2019-04-10 20:13] CompuIves commented on #1757
Yes! I'd love to add this functionality to CodeSandbox, it's currently not here yet. It's related to https://github.com/CompuIves/codesandbox-client/issues/1246.

You can already do this using a container sandbox: https://codesandbox.io/s/2p8ylq3rwr

But it would be nicer to make this a browser sandbox, so we can make it a bit more lightweight.

[2019-04-10 20:16] CompuIves commented on #1758
Ahh, I'm sorry for that. I actually do like your implementation very much with the `postMessage`. We now use the typescript extension, so it might be best to write a file or something in the method:

[code]

I think this would make it woork already.

[2019-04-10 20:25] justinfagnani commented on #1246
I'd rather have a truly static project, rather than doing the transforms that Pika does. Pika does some bundling for node_modules and is pretty opinionated about it. That might not be suitable for all projects. Either rewriting specifiers, or just relying on import maps to roll out, would be a much simpler and less opinionated transform.

[2019-04-10 20:26] justinfagnani commented on #1757
Thanks for the container tip, that'll work for now. I hadn't used those yet.

[2019-04-10 20:47] Saeris opened #1759 "🐛 Terminal doesn't display anything when moved"
See attached gif:

![codesadbox](https://user-images.githubusercontent.com/3144549/55912078-cc296e00-5b96-11e9-80c6-6f800e872dec.gif)

Appears that unless the terminal panel is in it's original position, it won't display any output when scripts are run from the server control panel. Steps to reproduce should be as simple as opening any container sandbox, dragging the terminal up next to the browse

[2019-04-10 20:59] JonShort commented on #1745
Fixed in #1746

[2019-04-10 20:59] #1745 closed

[2019-04-11 00:59] lucasdellabella commented on #1747
Yep for sure, I'll send you an email in a bit. Pretty free outside of standard 9 - 5.

[2019-04-11 01:28] tinahir commented on #1754
Can I work on this bug?

[2019-04-11 02:03] raytangRT opened #1760 "WebClient Crash when adding Formik"
# 🐛 bug report

## Description of the problem
I am using react with formik to build a form, and when I added a component build with `withFormik` the client is crashed,

One thing I notice is that the editor show `cannot find module formik` at the import statement.

Code circled with red is the error component, I have tried to comment it out and it still crashed the program.
![2019-04-11 09_52_51-q

[2019-04-11 02:20] raytangRT commented on #1760
Just found some circular referencing within my code

[2019-04-11 02:20] #1760 closed

[2019-04-11 10:10] pskelin opened #1762 "Relative imports of nested bare module imports do not work"
# 🐛 bug report

## Description of the problem
When the app imports modules of the "@ui5/webcomponents" npm package, it uses internally (via bare module imports) another npm package "@ui5/webcomponents-base" and the relative imports in the second npm package do not work.

## How has this issue affected you? What are you trying to accomplish?
The whole sample fails with the error message:
[code]

If

[2019-04-11 12:14] mhirapra commented on #1750
This issue is resolved in Prod.

[2019-04-11 12:14] #1750 closed

[2019-04-11 15:09] Shanery opened #1763 "Import fonts using font-face from "assets" (built/compiled)"
# 🌈 Feature

When doing a custom import of a font-face, we should support the file path in url("path/to/font.woff)... to be relative to src and not necessarily in public.

Currently you have to put the fonts in the "public" folder to be copied over during compiling. Then the url path for the css is handled by us. This has obvious problems.

It means that any boilerplate/tests I make and download,

[2019-04-11 20:16] anastl opened #1764 "I suddenly can´t use codesandbox"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?
     It doesn´t let me type or edit anything and all the menus have a "&" included
###  Link to sandbox: [link]() (optional)
### Your Environment
| Software         | Name/Version|
| Windows | XP |
| Сodesandbox  |  Vanilla
| Browser |  Chrome
| Operating System | Windows XP

[2019-04-11 21:42] nicknisi commented on #1758
Thanks for such a quick response! Is there a prefix required for the path? Something like `file:///` or `/sandbox/`?

[2019-04-12 08:06] nikosolihin opened #1765 "Error when using CSS Grid"
# 🐛 bug report

## Description of the problem
When using the naming option of `grid-template-columns`, I get this error:
[code]
I'm using the Parcel sandbox starter.

## How has this issue affected you? What are you trying to accomplish?
Trying to use CSS grid with Parcel.

###  Link to sandbox: [https://codesandbox.io/s/jlkm4o7kly](https://codesandbox.io/s/jlkm4o7kly)
### Your Environment
| Softw

[2019-04-12 19:56] SirBryan commented on #507
To summarize:

The problem is in UIKit (see https://bugs.webkit.org/show_bug.cgi?id=149054).

The Apple devs have commented that a radar has been opened for it, and that it "should have" been fixed (somewhere up the line), but it hasn't dropped in recent iOS releases (including 12.2).

Once the bug is fixed, arrow key up/down/left/right events will fire when an external keyboard is used and we'll

[2019-04-12 23:00] zxti opened #1766 "Understanding VSCode integration"
I'm kind of obsessed with this project.

How does the VSCode integration work?  I've just yesterday started poking around in the source code, and I see what looks like a Monaco editor in the standalone-packages/vscode-editor directory.  Is this where all the magic happens?  Is it closed-source for now?

I have *so many* questions, but a starting one is that I'm curious how you get the integration

[2019-04-13 04:53] kevinwarne opened #1767 "Resolving Symbolic Links"
# 🌈 Feature

Resolving symbolic links when pointing codesandbox to a github repository subdirectory.

I'm trying to load this repo subfolder into codesandbox: https://github.com/d2bjs/demos/tree/master/charts/sankey/basic

The package.json file here is a symbolic link, as all of the demos being built for this project will use the same config. I will probably go remove the symbolic links in order t

[2019-04-14 07:08] AndyOGo commented on #667
May it helps to enable CORS as suggested here:
https://stackoverflow.com/questions/48953727/display-cross-origin-react-error-boundary-errors-with-webpack-devtool-eval

[2019-04-14 08:45] adyz opened #1769 "Typescript not showing all errors"
# 🐛 bug report

## Description of the problem

I've started a new "React/TypeScript" and added some code.
I am not an expert in TypeScript so I usually rely on its errors or warnings to write code.

After building this little sandbox: https://codesandbox.io/s/1yp6np05o4  and hit the deploy with Netlify I've noticed in the Netlify logs that there where some TypeScript errors and the build failed (i

[2019-04-14 10:30] AndyOGo commented on #667
Also setting `'unsafe-eval'` For CSP header could help🤔
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src

[2019-04-14 13:33] neptunian opened #1770 "Get overwritten file"
Somehow one of my files seems to have been auto saved or something and I lost a lot of work I had done previously.  Is there any way to get back a previous recent version?  I think what happened is I wanted to make some changes so I forked my own sandbox and made the changes there.  But it seems to just have saved over the original.

[2019-04-14 19:17] pkl opened #1771 "react-smooshpack doesn't work when third party cookies are blocked"
# 🐛 bug report

## react-smooshpack throws SecurityError when third party cookies are blocked in browsers.

I'm trying to implement BrowserPreview from react-smooshpack in a CRA React app. It all works fine until Transpiling Modules is done, then Chrome throws a couple of errors:

[code]

[code]
I have **blocked** third party cookies in Chrome. When third party cookies are **allowed**, the preview

[2019-04-14 23:54] tlgreg commented on #1186
Happens here too, seems like the `/api/graphql` endpoint returns with 405.

[2019-04-15 07:17] pkl commented on #1771
It's probably easier to build and host the bundler code myself. I can write up the procedure if someone points me in the right direction :)

[2019-04-15 14:22] aadsm commented on #507
@SirBryan Yes, but you can already do this today with other platforms like www.glitch.com.

[2019-04-15 14:26] lgraziani2712 commented on #1658
I'm having a similar problem:

In this sandbox: https://codesandbox.io/s/zvk44njrp, I loaded a lib which loads files dynamically.

These are the errors I'm having:

I found something interesting too: when I revealed the file in the sidebar, I saw that the dynamic files aren't loaded:

![image](https://user-images.githubusercontent.com/15050200/56140406-37958600-5f71-11e9-940e-b78993afee89.png)

Al

[2019-04-15 14:50] lgraziani2712 commented on #1658
BTW, it isn't a CRA specific bug. It also happens with a Vue sandbox: https://codesandbox.io/s/1zmyrmykrl

[2019-04-15 14:55] lbogdan commented on #1658
Hey @lgraziani2712 , it doesn't look like it's related, though, can you please copy/paste ^^ to a new issue? Thanks!

[2019-04-15 15:30] lgraziani2712 opened #1774 "Packages failed to fetch dynamic files relative to them"
# 🐛 bug report

## Description of the problem

It seems like Codesandbox it isn't loading files that are dynamically imported by code from packages.

## How has this issue affected you? What are you trying to accomplish?

I'm trying to use `@validate-me/react` and `@validate-me/vue` packages, but the `@validate-me/core` modules dynamically imports other files inside it.

###  Link to sandbox:

- R

[2019-04-15 15:31] lgraziani2712 commented on #1658
Hello @lbogdan! Done! https://github.com/CompuIves/codesandbox-client/issues/1774

[2019-04-15 18:29] feedm3 commented on #1554
@SaraVieira, @CompuIves: Any updates on this? It looks like this issue is still not resolved.

I just started a new react templated and transfered it to a typescript project. In the `tsconfig.json` I added `"experimentalDecorators": true` but I still get "Support for the experimental syntax 'decorators-legacy' isn't currently enabled".
I also tried it with a react-ts template, same error.

Link to

[2019-04-15 22:39] SaraVieira commented on #1732
Hey!

Isn't this the only file upload button we had?
![Screenshot 2019-04-16 at 00 38 58](https://user-images.githubusercontent.com/1051509/56169932-1a4bd080-5fe0-11e9-96c6-8493ef750b0a.png)

Is something else missing?

[2019-04-15 22:40] SaraVieira commented on #1738
@CompuIves Did you look at this? OR should I fix this tomorrow?

[2019-04-15 22:41] SaraVieira commented on #1752
Damn, so close to fixing all the issues with the white themes

Will pick this up tomorrow

[2019-04-15 22:46] SaraVieira commented on #1765
Hey!

Can you point me in the direction of an example of that syntax? I have never seen that syntax with the [] being used anywhere

[2019-04-15 22:47] SaraVieira commented on #1764
Hey!

Can you please provide more info or a link to sandbox?

[2019-04-15 23:06] lgraziani2712 commented on #1631
@lbogdan I'm not sure this "bug" is related to not transpiling to es5. Today I have the same bug in a vue sandbox and wasn't dynamically importing a vue component, it was a JS file. The crazy thing is, the same code in a react sandbox works.

Tweeking the babelrc file from the vue sandbox I could make it work. This sandbox fixes the OP's one: https://codesandbox.io/s/j2zojo4ky3

[2019-04-16 02:10] nikosolihin commented on #1765
@SaraVieira  Sure thing!

The MDN docs about it is [here](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Layout_using_Named_Grid_Lines#Naming_lines_when_defining_a_grid).

[2019-04-16 04:47] lifeiscontent opened #1775 "CodeSandBox Favicon"
# 🐛 bug report

## Description of the problem
The Favicon looks weird on Chromebooks

## How has this issue affected you? What are you trying to accomplish?
N/A

![image](https://user-images.githubusercontent.com/180963/56182633-efee1900-5fc7-11e9-8b94-3dff97540435.png)

as you can see, in the bottom right of the menu bar the icon is almost invisible.

my suggestion is we change it to the codesand

[2019-04-16 11:53] SaraVieira commented on #1765
uh! Thank you! That is awesome!

This is def a bug with our sass bundler, will take a look, probably needs updating :/

[2019-04-16 14:01] #1752 closed

[2019-04-16 17:09] adam-acosta commented on #1620
![image](https://user-images.githubusercontent.com/1189675/56229844-da6d0380-6048-11e9-90be-50914c92f1f3.png)

[2019-04-16 17:59] IAMtheIAM opened #1780 "Editor completely not working"
# 🐛 bug report

## Description of the problem

The editor simply does not work. It will not render this simple code
https://k1wj0x45p5.codesandbox.io/

The full screen version appears blank, not even the HTML renders.

## How has this issue affected you? What are you trying to accomplish?
I copied the code from http://demo.nimius.net/debounce_throttle/ and put both javascript files into the index.

[2019-04-16 18:08] Saeris commented on #1732
Seems to be specific to container sandboxes. Regular sandboxes have the upload icons at the top of the explorer and on each folder when hovering. This isn't the case for containers. See the attached screenshots:

Container:
![image](https://user-images.githubusercontent.com/3144549/56233329-b2c16f80-6037-11e9-8d58-4dc6eb6a6be8.png)

Regular Sandbox:
![image](https://user-images.githubusercontent.c

[2019-04-17 08:24] CompuIves commented on #1780
Hey @IAMtheIAM, I checked the code of the sandbox and it seems like you're missing a `body` tag in the HTML and `</head>` and `</html>`. I added those parts and it seems to work now: https://codesandbox.io/s/qx0n82v7o4.

[2019-04-17 12:10] SumNeuron opened #1781 "Axios get throwing error even when it shouldn't?"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?

I am trying to test a light bundle which creates an [axios instance](https://github.com/axios/axios#axioscreateconfig) as detailed in their docs. I have used this before without issue.
The bundle did not work so to help debug I loaded the bundle source files under the directory `as

[2019-04-17 16:01] SaraVieira commented on #1620
hey!

These errors mean you need to use version 2 of now and you can't use version one anymore so this means you need a now.json

https://zeit.co/docs/v2/deployments/configuration

[2019-04-17 20:39] desean1625 opened #1784 "bundler does not correctly use inline loaders of dependencies raw-loader example"
# 🐛 bug report

## Description of the problem
Attempting to load dependency that uses the !raw-loader!./worker.js to and create a blob for to load the worker

The worker script is [object object] instead of the expected
[code]
## How has this issue affected you? What are you trying to accomplish?
I am trying to load worker scripts from dependencies
###  Link to sandbox: [https://codesandbox.io/s/k

[2019-04-18 09:15] CompuIves opened #1785 "VSCode Auto-Save creates file conflict"
# 🐛 bug report

## Description of the problem
When you turn on auto-save it can give the notification "Contents on disk are newer", but we don't show the action to compare last version with new version.

It's most often noticed when using auto-save.

###  Link to sandbox: [link]() (optional)
### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  |

[2019-04-18 18:24] anastl commented on #1764
The links wouldn't really provide more info because i can't even use the
"New" vanilla parcels.

If I open a new vanilla parcel, it should show me the default Doctype but
it doesn't even do that, it just tells me that there was a vscode error in
the html languages

On Mon, Apr 15, 2019 at 6:47 PM Sara Vieira <notifications@github.com>
wrote:

[2019-04-18 19:15] Natetronn commented on #1620
The box contained a version 2 now.json and deployed locally, with zero issues.

![codesandbox](https://user-images.githubusercontent.com/582149/56385250-77f43e80-61d3-11e9-81b1-d2b5d54a37f1.png)

[2019-04-19 08:21] lessp opened #1787 "Use new version of ReasonReact"
# 🌈 Feature

A new version of ReasonReact was recently released which pretty much maps 1-1 to vanilla React. It also brings a new API which should be more familiar to people using React with hooks today.

Would be really cool if the preset for ReasonReact was updated with the new version. 🙂

You can read more about the new API here:

https://reasonml.github.io/reason-react/docs/en/components

[2019-04-19 12:34] Komar0ff opened #1790 "Click events during tests"
# 🐛 bug report

## Description of the problem
I was testing the button for a click and noticed a mistake:
If the button is in the container and there is **onClick** in the props, the **onClick** function in the container is executed during the test

## How has this issue affected you? What are you trying to accomplish?
The **onClick** function in the test must be executed during the test

### Simp

[2019-04-19 19:12] NanobugXL commented on #1496
Plain and simple? I think they've expressed it that they cannot go offline. If it is said, stated or advertised, it should be able to live up to the statement or documents. Even if a developer had made it as a statement. There-fore, if it dont work, it dont work is pretty much is what I got out of it. What more can these two say? I dont see anywhere that says can be used offline myself. Now, if yo

[2019-04-20 02:30] 3sanket3 commented on #1465
Hey, can anyone guide me why https://codesandbox.io/s/79wz0k0v1 shows the 502 Bad Gateway error?

If I will keep the `index.js` in `src` folder it will work. But I don't want to do it for this such a basic tutorial.

[2019-04-20 04:49] elijahmanor commented on #1057
I was wondering about this as well...

I ended up adding a local function (that I found from StackOverflow https://stackoverflow.com/a/326076). Now, when I click the "Open in New Window" button it'll get `autoFocus` and when I'm in the native iframed view it'll not `autoFocus`

[code]

[code]

[2019-04-20 15:49] michals2 opened #1791 "Dependency search not finding the correct module"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?

- I'm trying to import 2 very common dependencies (`styled-components` and `react-virtualized`)
- When I click on _Add Dependency_, I search for these modules
- Other similar dependencies show up, but not the ones I'm looking for

<img width="613" alt="Screen Shot 2019-04-20 at 8 4

[2019-04-20 16:34] neptunian opened #1792 "Missing NPM modules in dependencies search?"
I used to be able to create examples using 'react-photo-gallery' library.  But now when I search to add it as a dependency it isn't there.  What determines this?

[2019-04-21 02:59] dance2die commented on #1791
Same error here. I can't seem to find react-/redux...

software | name/version
-- | --
CodeSandbox | PROD-1555328876-ca84dd686
Browser | Chrome & FireFox
OS | Windows 10 & Ubuntu 18.10

![error demo](https://user-images.githubusercontent.com/8465237/56464850-e85fb300-63bf-11e9-83e1-b6339c5f1d1c.gif)

[2019-04-21 13:22] CompuIves commented on #1792
Hey! It seems like something went wrong with the Algolia index. But everything is back to normal now!

I was going to suggest that you can 'circumvent' the issue by just pressing enter when you entered the name of the dependency, we'll manually add it to the `package.json`. In case this could occur again!

[2019-04-21 13:22] #1792 closed

[2019-04-21 13:22] CompuIves commented on #1791
Hey! It seems like something went wrong with the Algolia index. But everything is back to normal now!

I was going to suggest that you can 'circumvent' the issue by just pressing enter when you entered the name of the dependency, we'll manually add it to the `package.json`. In case this could occur again!

[2019-04-21 13:22] #1791 closed

[2019-04-21 13:40] CompuIves commented on #1790
Hey! I'm not sure if I understand the issue, when I run the tests I do get the message `"container called"` twice in the console. This is intended behaviour, right?

[2019-04-21 14:12] CompuIves commented on #1784
Very sharp! Thanks for the easy reproducible, I've pinpointed the issue. The fix should go live today!

[2019-04-21 14:30] #1784 closed

[2019-04-21 17:23] dance2die commented on #1791
Thank you @CompuIves.
It works great now.

[2019-04-21 17:52] Komar0ff commented on #1790
@CompuIves Hi Ives! No it's not intended behaviour. Must be 2 message "test container called" in console

[2019-04-21 17:56] Komar0ff commented on #1790
You can run my example locally and you'll know the difference

[2019-04-21 19:54] CompuIves commented on #1790
Ah, yep I understand now! We need to run the tests in a different context. I'll probably run the tests in a worker in a better version.

[2019-04-21 22:04] desean1625 commented on #1784
Looks good! Cheers.

[2019-04-22 05:05] ImanMh commented on #982
@SaraVieira the only solution is using a different service that has is less politically polluted than Google Cloud. This might be too much to ask but I just wanted you to know about it so if a future change is about to be made this issue is considered as well. Another reason for opening this issue is that Google people might see this and understand, how stupid these decisions(blocking everyone in

[2019-04-22 05:07] ImanMh commented on #982
@SaraVieira anyway your attention is appreciated.

[2019-04-22 06:46] SaraVieira commented on #1754
Issue fixed in #1761

[2019-04-22 06:46] #1754 closed

[2019-04-22 06:54] SaraVieira commented on #847
Closed by #1512

[2019-04-22 06:54] #847 closed

[2019-04-22 07:15] SaraVieira commented on #1026
Closed on lack of reply, please re open if the issue persist :)

[2019-04-22 07:15] #1026 closed

[2019-04-22 07:16] SaraVieira commented on #984
Issue closed as answer was provided.

Please reopen if you have any issue with the container :)

[2019-04-22 07:16] #984 closed

[2019-04-22 07:17] SaraVieira commented on #1096
Closed on lack of reply, please reopen if the issue persist :)

[2019-04-22 07:17] #1096 closed

[2019-04-22 07:18] SaraVieira commented on #1077
Closed on lack of reply, please re open if the issue persist :)

[2019-04-22 07:18] #1077 closed

[2019-04-22 07:18] SaraVieira commented on #1241
Closed on lack of reply, please re open if the issue persist :)

[2019-04-22 07:18] #1241 closed

[2019-04-22 07:18] SaraVieira commented on #1334
Closed on lack of reply, please re open if the issue persist :)

[2019-04-22 07:18] #1334 closed

[2019-04-22 07:18] SaraVieira commented on #1440
Closed on lack of reply, please re open if the issue persist :)

[2019-04-22 07:18] #1440 closed

[2019-04-22 07:19] SaraVieira commented on #1558
Closed on lack of reply, please re open if the issue persist :)

[2019-04-22 07:19] #1558 closed

[2019-04-22 07:19] SaraVieira commented on #1601
Closed on lack of reply, please re open if the issue persist :)

[2019-04-22 07:19] #1601 closed

[2019-04-22 10:52] layerdev commented on #1570
hello, please fix this, I can't add dependencies from git URL

[2019-04-22 12:42] pskelin commented on #1762
With the 0.10.0 version of @ui5/webcomponents, everything works as expected. Perhaps the change that is relevant is that import specifiers now state the extension explicitly:

`import { injectWebComponentStyle } from "../theming/StyleInjection.js";`
instead of
`import { injectWebComponentStyle } from "../theming/StyleInjection";`

Here is a working sandbox: https://codesandbox.io/s/1vn59wzl14

I a

[2019-04-22 12:42] #1762 closed

[2019-04-22 17:09] kentcdodds opened #1800 "Separate the app DOM from the tests DOM"
# 🌈 Feature

Right now the tests run in the same JavaScript/DOM environment as the app. This can lead to unexpected and pretty confusing results which I (and other maintainers/contributors) have to explain over and over again to people reporting issues to react-testing-library.

Here's a simple example: https://codesandbox.io/s/n3j6r28z10

We have to tell people that they need to NOT render anythi

[2019-04-22 17:10] kentcdodds commented on #1800
Note, as a long-time patron and lover of codesandbox, this is by far my biggest issue and has been for over a year. I will be very happy when this is fixed :)

[2019-04-22 18:55] anastl commented on #1764
Activating extension 'vscode.html-language-features' failed: Unexpected
identifier.

I get two or three notifications like this one

On Thu, Apr 18, 2019 at 2:24 PM Ana <anna.207346@gmail.com> wrote:

[2019-04-22 19:24] buzinas commented on #1027
It seems that `ngryman.code-sandbox-theme` is not up-to-date with the latest CodeSandbox theme?

[2019-04-23 06:47] SaraVieira commented on #1764
You using chrome on windows XP?

So I can test this on browserstack

[2019-04-23 07:40] ygorbunkov opened #1801 "Can't read file contents with 'fs'"
# 🐛 bug report

## Description of the problem
Simple code
[code]
Throws an error

While 'frame.html exists in the same directory as 'index.js'

## How has this issue affected you? What are you trying to accomplish?
Can't read other files, can't build up modular app structure.
###  Link to sandbox: [link](https://codesandbox.io/s/4jylx50xn9?fontsize=14)
### Your Environment
Windows 10 Enterprise; M

[2019-04-23 08:18] wanderbaby commented on #1570
I also have this problem.

[2019-04-23 08:19] wanderbaby commented on #1570
![image](https://user-images.githubusercontent.com/22704451/56565718-96977280-65e3-11e9-9eac-2f6160ad09b5.png)

[2019-04-23 08:22] wanderbaby commented on #1570
![image](https://user-images.githubusercontent.com/22704451/56565889-f68e1900-65e3-11e9-9f38-230d26d40108.png)

[2019-04-23 08:24] lbogdan commented on #1801
Hey @ygorbunkov ,

As specified in the [Node.js documentation](https://nodejs.org/api/fs.html#fs_file_paths), file paths are relative to `process.cwd()` - the folder in which the app was started - which in a server sandbox is `/`, so `fs.readFileSync('./frame.html', ...)` tries to read `/frame.html`, but your file is actually under `/src/frame.html`.

You should either do `fs.readFileSync('src/fra

[2019-04-23 08:24] #1801 closed

[2019-04-23 09:24] lbogdan commented on #1570
@brownbl1 @layerdev @wanderbaby Can you please provide a sandbox URL experiencing this behavior?

[2019-04-23 11:20] disjukr opened #1802 "unrecoverable sandbox error"
# 🐛 bug report

## Description of the problem

https://codesandbox.io/s/n08qvvxpj0

refreshed several times.. but it only shows `An unrecoverable sandbox error occurred. :-( Try refreshing the page.`

<img width="1113" alt="스크린샷 2019-04-23 오후 8 14 24" src="https://user-images.githubusercontent.com/690661/56576875-880d8300-6604-11e9-838c-5cef1b8b1e35.png">

## How has this issue affected yo

[2019-04-23 12:54] lbogdan opened #1803 ""Fork" button doesn't reset its state on fork error"
When there's an error forking a (server) sandbox (for example because the server sandboxes limit was reached), the "Fork" button doesn't reset its state and remains in the "forking" state:

![image](https://user-images.githubusercontent.com/2083930/56582505-14f21580-65e0-11e9-80d3-6075a607b781.png)

[2019-04-23 12:55] lbogdan commented on #1803
@ValentinH Can you maybe take a look?

[2019-04-23 12:58] ValentinH commented on #1803
The disabled/loading is shown when `store.editor.isForkingSandbox` is true. Thus, we probably need to reset it to false on error.

I'll have a look later today when I'm on the computer.

[2019-04-23 13:07] lbogdan opened #1804 "Console shows empty space in server sandboxes"
In server sandboxes the console has an initial empty space with a width equal to the parent panel width (see the scrollbar below):

![image](https://user-images.githubusercontent.com/2083930/56582790-c3965600-65e0-11e9-908c-9ed74f37fcc4.png)

Example sandbox: https://codesandbox.io/s/github/lbogdan/cs-vue-cli-3 .

[2019-04-23 13:08] lbogdan commented on #1804
Seems to be caused by #1740 .

@rabingaire Can you maybe take a look?

[2019-04-23 13:19] lbogdan commented on #1804
Looks like the terminal `div` is not hidden when the "Terminal" tab is not active (I manually added that `display: none`):

![image](https://user-images.githubusercontent.com/2083930/56583964-710a6900-65e3-11e9-864a-b94e1e416a52.png)

[2019-04-23 13:28] lbogdan commented on #1802
@disjukr Can you please try again now?

[2019-04-23 13:31] lbogdan commented on #1781
@SumNeuron I'm not sure I get what's wrong, exactly. Can you please tell us what are you expecting to happen vs. what's actually happening?

[2019-04-23 13:35] lbogdan commented on #1775
Closing as duplicate of #1644 , which was resolved in #1718 .

@lifeiscontent Please try re-adding the icon, and feel free to reopen this if you still get the wrong one.

[2019-04-23 13:35] #1775 closed

[2019-04-23 13:36] disjukr commented on #1802
now it works well. thank you :)

[2019-04-23 13:36] #1802 closed

[2019-04-23 13:39] lbogdan commented on #1767
@kevinwarne Looks like that repo and it's corresponding sandbox are not there anymore?

[2019-04-23 14:36] lbogdan commented on #1496
Well, it works offline, but with some common sense limitations, like you can't add dependencies, do API calls, use server sandboxes (which run in a container in the cloud, so you need network connectivity to work on them) etc.

[2019-04-23 14:43] lbogdan commented on #1504
@cristiano-belloni That's a known issue, and it's tracked in #630 .

[2019-04-23 14:50] rabingaire commented on #1804
Sure I will look into it

[2019-04-23 20:31] EvanBacon opened #1806 "Expo support"
# 🌈 Feature

## What

Now with Expo for web it would be great to get it working in code sandbox.

## How

Need to add/edit babel aliases.

https://github.com/facebook/create-react-app/pull/6813

[2019-04-24 02:26] anastl commented on #1764
Yes, Chrome on Windows XP

On Tuesday, April 23, 2019, Sara Vieira <notifications@github.com> wrote:

[2019-04-24 16:10] camflan opened #1809 "Update Svelte to 3.0"
# 🌈 Feature
Update Svelte template to use the brand new 3.0 version

[2019-04-24 19:05] babakness commented on #1500
@CompuIves

I didn't notice this documented. I'd like code to run ONLY run on save, is this possible?

[2019-04-24 19:07] babakness opened #1810 "Run code only on save"
# 🌈 Feature

## What is this feature?

Ability to only run code on save

## How the feature should work?

Save -> code runs

## You have examples or an idea how it can be implemented?
Way to disable re-runs on typing and only re-run on save. Similar to an option found on codepen

[2019-04-24 19:48] StringEpsilon opened #1811 "CodeSandbox editor interferes with history when using hashes in links."
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?

I was diagnosing an issue for react-router when I stumbled into an inconsistency in behavior. I wrongly tried to find the bug in react-router and history, until another user pointed out that the sandboxes I wrote work fine in a separate window.

See:

https://github.com/ReactTraini

[2019-04-24 21:39] lbogdan commented on #1810
Hey @babakness ,

User menu -> Preferences -> Preview -> disable "Preview on edit" should do just that.

[2019-04-24 21:43] lbogdan commented on #1811
Closing this as duplicate of #1463 , please subscribe to that instead. Also please re-open if you think it's not really related.

[2019-04-24 21:43] #1811 closed

[2019-04-25 07:44] nrossi12 opened #1814 "502: Bad Gateway"
502 Bad Gateway keeps appearing once I change a line in my http createServer function. No idea why as I expect it to produce results.

Completely confused as I think my code is correct
Trying to accomplish results with a date format in javascript

###  Link to sandbox: https://codesandbox.io/embed/2pzywqr6pn?fontsize=14
| Javascript         | Name/Version|
| ---------------- | ---------- |
| Сodes

[2019-04-25 08:34] lbogdan commented on #1814
Hey @nrossi12 ,

You have an error in your code:
[code]

I'm not sure what you're trying to do, maybe you want `moment().isoWeekday(1)`?

[2019-04-25 10:23] lbogdan commented on #1814
Also, I'd suggest you keep the terminal open at all times when working with a server sandbox, you'll be able to see those errors yourself:

![image](https://user-images.githubusercontent.com/2083930/56729181-4e03c480-675d-11e9-95ba-45b8c823fde8.png)

Closing this, as it's expected behavior.

[2019-04-25 10:23] #1814 closed

[2019-04-25 10:24] lbogdan commented on #1810
Hey @babakness , did that ^^ answered your question? If so, can you please close this? Thanks!

[2019-04-25 10:53] nrossi12 commented on #1814
Hi @lbogdan ,

I did see this but not sure why it is an error. This is for a task I'm doing. I had to create a line that sets the day to monday in a conditional statement to check if is is not monday and use isoWeekday to do it. I looked on moment.js to find the command and came across this.

[2019-04-25 10:56] lbogdan commented on #1814
@nrossi12 If you want help with that you could maybe try on our Spectrum chat: https://spectrum.chat/codesandbox/help .

[2019-04-25 15:39] ebrahim-tadbir commented on #347
Have the same problem! with no answers!

[2019-04-25 17:35] babakness commented on #1810
That was super helpful! Thanks @lbogdan

[2019-04-25 17:35] #1810 closed

[2019-04-25 18:02] bumpewto commented on #1641
Hi @lbogdan I have the same sync issue as @marcosc90 with the "10 updates..." notification.

So I managed to reproduce the issue in minimal conditions, and got hit with the notification as soon as I tried to install packages in a subdirectory. From there on, nothing in the editor got updated the via command line.
Here's the link for the sandbox, [https://zqlko706ol.sse.codesandbox.io/](https://zql

[2019-04-25 18:11] lbogdan commented on #1641
@bumpewto That's because, for now, we don't support syncing that many files. We honor `.gitignore`, though (only the one in the sandbox's root folder), so what you'll probably want to do is to put whatever you don't want to sync (like `node_modules`) in there, e.g.:
[code]

[2019-04-25 18:26] bumpewto commented on #1641
Alright that's crystal clear, thank you for your quick answer !

[2019-04-25 18:57] theangrybagel opened #1815 "Unable to access sandbox because of an infinite loop."
# 🐛 bug report

## Description of the problem
Earlier today, I was editing my sandbox code and I accidentally created a while(true){} loop. It goes on forever, and breaks the tab every time I open the sandbox. I currently have no way/idea of how to access my code.
## How has this issue affected you? What are you trying to accomplish?
I've gone through previous issues, but I haven't found any solut

[2019-04-25 19:08] theangrybagel opened #1816 "Download sandbox without opening it"
# 🌈 Feature

<h1>Download sandbox without <i>opening</i> the actual sandbox</h1>

<p>When a user right clicks a sandbox in the dashboard, they should also have the option to download the sandbox to their computer. This would fix a <b>major issue</b> where users need to edit their sandbox, without opening it, because opening it crashes the tab.</p>

[2019-04-26 06:21] Abinash3101 opened #1817 "ionic4-start-theme not loading start page"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?

###  Link to sandbox: [link]() (optional)
### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  |
| Browser |
| Operating System |

[2019-04-26 06:22] Abinash3101 commented on #1817
https://codesandbox.io/s/m41y3zp378

[2019-04-26 06:44] #966 closed

[2019-04-26 14:36] co16353sidak opened #1818 "Console Errors on the Main Website"
# 🐛 bug report

## Description of the problem
When opening the website for CodeSandbox, I found that the console gave out a few about of errors,
1. A CodeSandbox API `https://codesandbox.io/api/v1/users/current` gives 404
2. docsearch API, `https://unpkg.com/docsearch.js@2.4.1/dist/cdn/dist/cdn/docsearch.min.js.map` gives 404
3. A TypeError in `https://codesandbox.io/static/browserfs3/browserfs.mi

[2019-04-26 17:23] rabingaire commented on #1804
@lbogdan I think we can close this issue now 👍

[2019-04-26 18:15] pspeter3 commented on #1030
Is this still true?

[2019-04-27 14:18] SaraVieira commented on #1804
Closed by #1805

[2019-04-27 14:18] #1804 closed

[2019-04-27 18:48] gragland commented on #1363
@hobbes7878 Trying to do something similar. Were you ever able to figure this out?

[2019-04-27 19:10] SlavaMilin commented on #1363
Also try to figure this. Is it any way to have access to rusult that render in iframe?

[2019-04-27 19:33] jackwilsdon commented on #884
This is still an issue.

[2019-04-28 09:19] KenzoBenzo opened #1819 "Sandbox Container: /core is larger than maximum allowed file size (476160000 > 2097152), not synchronizing"
# 🐛 bug report

## Description of the problem
Starting a GatsbyJS container, a toast error pops up saying it's too large.

## How has this issue affected you? What are you trying to accomplish?
I'm trying to work on a new website, with no prevail.

###  Link to sandbox: [link](https://codesandbox.io/embed/woyy80xn5l)
### Your Environment
| Software         | Name/Version|
| ---------------- | ----

[2019-04-28 10:10] SaraVieira commented on #1765
New example http:// codesandbox.io/s/qx1ooj89y6

[2019-04-28 18:55] PhilipJohnBasile commented on #1650
Still an issue :(

[2019-04-29 03:10] loveky opened #1821 "need update README.md for react-sandpack/react-smooshpack"
# ❔ Question

In the `Getting Started` section, the doc says I should install `@codesandbox/react-sandpack` as dependency.  But in [package.json](https://github.com/codesandbox/codesandbox-client/blob/master/packages/react-sandpack/package.json), the package name is `react-smooshpack`.  Then, in the example code, we are importing from both `react-smooshpack` and `react-sandpack`:

<img width="464"

[2019-04-29 07:43] CompuIves commented on #1650
It seems like our hook for listening to console.log is mounted after the actual script, you can see this here: https://codesandbox.io/s/048o4k6ymp. If the console.log is in a setTimeout it actually does log, because the script loaded. We'll need to change the script order to make it work.

[2019-04-29 09:13] #1765 closed

[2019-04-29 09:13] #1809 closed

[2019-04-29 09:14] #1800 closed

[2019-04-29 09:35] ValentinH commented on #1809
I've just tried the new template and I get a weird error: `Cropper component is not defined` (Cropper is my component coming from a npm package).

Is it related to codesandbox or the way the component is exported?

Demo: https://codesandbox.io/s/z2l9zqv73x

[2019-04-29 09:47] rabingaire commented on #1650
I would love to work on this, can you point me in the right direction here which files I need to look into? @CompuIves

[2019-04-29 10:43] #1461 closed

[2019-04-29 12:38] ValentinH opened #1825 "Svelte 3 weird error"
I've just tried the new Svelte 3 template and I get a weird error: `Cropper component is not defined` (Cropper is my component coming from a npm package).

Is it related to codesandbox or the way the component is exported?

Demo: codesandbox.io/s/z2l9zqv73x

[2019-04-29 12:41] SaraVieira commented on #1825
Hey!

Svelte 3 has not been deployed yet, so you are still using version 2 for the compiler there

I'm gonna close as we will deploy this tonight and please re open if you still have issues tomorrow

[2019-04-29 12:41] #1825 closed

[2019-04-29 12:47] ValentinH commented on #1825
OK makes sense, I was too impatient! 😄

I don't know if it changes anything, but I had the same error with the deployed branch at http://pr1820.cs.lbogdan.tk/s/z2l9zqv73x though.

[2019-04-29 14:25] SumNeuron commented on #1781
I also do not get what is wrong. I think it might be codesandbox specific... but for whatever reason, the rolluped axios instance doesnt work there :upside_down_face:

[2019-04-29 14:35] SaraVieira commented on #1825
Makes sense because it's using the old template with version two of the svelte

We check what version svelte is in to show the accurate compiler :/

I will try your thing as soon as it's live and let you know :)

[2019-04-29 15:03] pshrmn opened #1826 "Dynamic import does not work with Svelte template"
# 🐛 bug report

## Description of the problem

Using dynamic `import()` in a Svelte sandbox results in the error:

I believe that this is because the Svelte preset [uses an empty Babel config](https://github.com/codesandbox/codesandbox-client/blob/e48ce4192843b000a8fc5ccb2d8846a8acb75e57/packages/app/src/sandbox/eval/presets/svelte/index.js).

The quick solution is to add `@babel/plugin-syntax-dyn

[2019-04-29 15:09] SaraVieira commented on #1825
Hey!

Updated with the new template I get an error in the module
https://codesandbox.io/s/xj4mr8zzxq

[2019-04-29 15:13] CompuIves commented on #1826
Good catch, adding and testing now!

[2019-04-29 15:14] SaraVieira commented on #1826
Im already on it

[2019-04-29 15:14] SaraVieira commented on #1826
aaaaaaaaaa

[2019-04-29 15:16] SaraVieira commented on #1826
@pshrmn

I get this error now

![Screenshot 2019-04-29 at 17 15 28](https://user-images.githubusercontent.com/1051509/56906392-6f88e700-6aa2-11e9-9e3d-c3fe4e1aa030.png)

Any idea why?

[2019-04-29 15:22] #1826 closed

[2019-04-29 15:29] pshrmn commented on #1826
Does the f3b273e change work? I'm not seeing that default export error locally.

[2019-04-29 15:33] CompuIves commented on #1826
It works for me! Need to deploy it still

[2019-04-29 16:04] ValentinH commented on #1825
OK, then something is wrong on my module. I've actually noticed this behavior as well when manually importing the `index.js` (compiled code).

Just to share what I understand: when importing a Svelte shared module in a Svelte application, it should directly read the source file (the one pointed by [the `"svelte"` property of package.json](https://github.com/ValentinH/svelte-easy-crop/blob/master/p

[2019-04-29 16:43] douglasg14b opened #1827 "Using extreme amounts of RAM if left open"
# 🐛 bug report

## Description of the problem

I left codesandbox open for a few days in a tab. Came back to it using 14GB of Ram...

###  Link to sandbox: https://codesandbox.io/s/7o2zmk302j

### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  | PROD-1555877577-92d70e914
| Browser | Firefox
| Operating System | Linux (Ubuntu 18.10)

![image](ht

[2019-04-29 18:03] SaraVieira commented on #1825
OHHH!

So we get these things from unpkg and that always redirects to the main in the package.json

https://unpkg.com/svelte-easy-crop

[2019-04-29 18:06] ValentinH commented on #1825
AH yes, I understand better now 🙂

How complex would it be to detect the `svelte` property of the package.json and retrieve the correct file? For instance, here it would be: https://unpkg.com/svelte-easy-crop@1.0.0/src/Cropper.svelte.

[2019-04-29 19:19] kentcdodds commented on #1800
Awesome!!! Thank you @CompuIves! When can we expect this to be released?

[2019-04-29 22:31] hodgef opened #1828 "Error: "Invalid regular expression... Range out of order in character class""
# 🐛 bug report

## Description of the problem
While visiting [one of my sandboxes](https://codesandbox.io/s/github/hodgef/simple-keyboard-npm-demos/tree/master/), I notice it is now outputting the following error:

"Invalid regular expression... Range out of order in character class".

![image](https://user-images.githubusercontent.com/25509135/56930865-1aea6980-6aac-11e9-8f50-562d96a14bf8.png)

N

[2019-04-29 23:07] sunyatasattva commented on #1048
@babakness Since no one has replied, and someone else might stumble upon this (like I did), here is what you have to do:

`Settings > User settings > Text Editor`

Find the section saying `Code actions on save`, there is a link to `settings.json`.

Inside that file, change `"editor.formatOnSave": true,` to `false`.

[2019-04-30 00:45] gragland commented on #1765
I'm seeing this issue today with projects that were loading fine before. Here's an example: https://codesandbox.io/s/2wjxzz707r

[2019-04-30 02:47] Saeris opened #1829 "🔧 Add Container Control Panel for Maintainers of a Repository"
If a user is the owner/maintainer of a repository, when they visit the GitHub Import Link for that repository, they should have access to the Container Control Panel for that imported container sandbox, allowing them to restart/reboot the container instance for the github import sandbox ID.

This is important for library developers, such that if they release a new version and they use CodeSandbox

[2019-04-30 04:08] Jakobo commented on #1744
Just adding to this thread that I was able to recreate this case with simply an intentionally failing Jest test. Firefox only (works in Chrome), which seems to imply an issue with the error polyfill.

Software | Name / Version
---|---
Codesandbox | `PROD-1556551783-3c533b67a`
Browser | Firefox 66.0.3 (64 bit)
Operating System | MacOS

* Sandbox: https://codesandbox.io/s/6xvrzj03xn

[code]

[2019-04-30 07:30] SaraVieira commented on #1828
Hey!

This seems to be an issue with the new implementation we have of JSDom

Will take a look today

[2019-04-30 08:03] CompuIves commented on #1827
It seems like the extension host of our vscode implementation is taking a looooot of memory. Makes me think that they use manual garbage collection or something. I'm taking a look now.

[2019-04-30 17:00] prmichaelsen commented on #581
This is really interesting as a concept! I am keen to follow this closely!

[2019-05-01 05:37] zhaoyi0113 commented on #733
Have the same issue. Is it still not resolved?

[2019-05-01 07:55] CompuIves commented on #733
We support aliases on the parcel template (codesandbox.io/s/vanilla) inside CodeSandbox, you can define them in package.json under "alias". If you want more Webpack like behaviour I recommend using a container sandbox (like codesandbox.io/s/node or https://codesandbox.io/s/github/zeit/next.js/tree/master/examples/hello-world for example). These sandboxes run on a server and will behave like your l

[2019-05-01 17:08] hodgef commented on #1828
@SaraVieira, this seems to be fixed now. Thanks!

I'll close the ticket and keep an eye out in case it comes back.

Best,
Francisco Hodge

[2019-05-01 21:54] vrunjeti opened #1833 "Vanilla Sandbox Linting Errors"
# Vanilla Sandbox Linting Errors

## Description of the problem
When creating a new vanilla sandbox, the entire html file has a bunch of linting errors. This is the default state without changing anything.

<img width="1003" alt="Screenshot 2019-05-01 14 46 46" src="https://user-images.githubusercontent.com/6979696/57044751-70e01e00-6c20-11e9-86b9-0124322ab87f.png">

## How has this issue affected

[2019-05-01 23:59] zhaoyi0113 commented on #733
I am using this page `https://codesandbox.io/s/` to import a github project in `Client Template` tab. Is it running in a container mode? If not, how can I make it run inside a container?

[2019-05-02 09:10] DisasterMan78 opened #1835 "React sandboxes: TypeError Cannot read property 'hasFileResolver' of undefined"
# 🐛 bug report

## Description of the problem
Unable to run React sandboxes - TypeError Cannot read property 'hasFileResolver' of undefined

###  Link to sandbox: [link]() (optional)
Every sandbox listed on this page [https://github.com/erikras/redux-form]()
New React sandbox started from scratch [https://codesandbox.io/s/y2x0orz40v]()

### Your Environment
| Software         | Name/Version|
| ---

[2019-05-02 09:16] SaraVieira commented on #1835
Hey!

When I load these sandboxes everything seems okay, Can you please try and unregister the service worker here:

![Screenshot 2019-05-02 at 11 16 08](https://user-images.githubusercontent.com/1051509/57066153-b9a0e100-6ccb-11e9-820c-d2c8f6430a31.png)

Just to make sure it's not that :/

[2019-05-02 09:59] vikasaditya opened #1836 "Changes made on githib are not picked back by codesandbox"
# 🐛 bug report
note: I have looked at #1587
##  Changes made on githib are not picked back by codesandbox.
## Using nelifycms.
Changes made in the CMS are committed to github, but are not reflected in sandbox. Also, made a direct commit but still not getting picked up. Changes made in sandbox are getting committed okey.
Tried - restart server & sandbox

###  Link to sandbox: [https://codesandbox.i

[2019-05-02 10:31] #1806 closed

[2019-05-02 10:37] CompuIves commented on #1836
Hi! I believe you're looking at a fork of the original sandbox that's linked to GitHub, does the original sandbox (https://codesandbox.io/s/github/vikasaditya/gatsby-starter-netlify-cms/tree/master/) have the latest changes?

[2019-05-02 10:45] CompuIves commented on #1833
The svelte extension is leaking into the `html` files. We need to find a way to only enable it for `svelte` files.

(although this linting error is completely valid 😅)

[2019-05-02 10:50] vikasaditya commented on #1836
hi,

Yes, you a right. The original has the changes.

It means that I wil need to always fork from the original for every change.
I thought that I would be able to  git pull to my sandbox.

So you would suggest that I need to keep track of changes to github and if
any changes then make a fork again and delete the existing sanbox?

I think we should document this work flow and it's benefits, as thi

[2019-05-02 12:26] ngryman commented on #1027
Sorry I didn't have time to get back to that theme 😅 The repo is here: https://github.com/ngryman/codesandbox-theme. Do you mind dropping suggestions or PRs there? Thanks!

[2019-05-02 13:11] SlavaMilin opened #1837 "react-sandpack head access"
# ❔ Question

###  Link to sandbox: [link](https://mml90qwy1p.codesandbox.io/) (optional)
### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  | browser
| Browser | chrome
| Operating System | macos mojave

Hi! Thanks for awesome lib.

We serve some static file on hosting. And I want to replace relative links in my document. I use`base` tag for t