[2018-03-13 00:56] CompuIves commented on #75
The React template in CodeSandbox is based on `create-react-app`, which doesn't support SCSS (https://github.com/facebook/create-react-app/issues/2498). If you'd download the sandbox and run it locally with CRA it would fail to load.

You can, however, start a sandbox based on `parcel` and use React with that, here's an example sandbox: https://codesandbox.io/s/rjj38yzm14.

[2018-03-13 01:42] RavenHursT commented on #75
Awesome. Thanks for the explaination!

[2018-03-13 05:49] NataliaTepluhina commented on #640
I have `ERR_NAME_RESOLUTION_FAILED` error on any added dependency (and one 403 at the start of fetching):
![2018-03-13_7-45-37](https://user-images.githubusercontent.com/18719025/37324644-069cbbee-2693-11e8-9ad7-6a4d84ec0809.png)

[2018-03-13 10:23] aulisius commented on #640
@CompuIves , Yes that was the issue. Fixed at library's end with https://github.com/kamranahmedse/driver.js/pull/12. The sandbox is loading now. Closing the issue. 👍

[2018-03-13 10:23] #640 closed

[2018-03-13 12:20] joeynimu commented on #592
I could look at this @CompuIves

[2018-03-13 12:21] CompuIves commented on #592
@joeynimu is working on this 😄

[2018-03-13 13:54] zocky commented on #492
This now works (although there is some noticeable scroll jumping), so I will close it.

[2018-03-13 13:54] #492 closed

[2018-03-13 17:47] RavenHursT opened #641 "Static class properties don't work w/ the Parcel JS template?"
This works on the typical React project.  But seems to not be working for the Parcel template one:

https://codesandbox.io/s/40m6k0x31w

[2018-03-13 17:49] RavenHursT commented on #641
Hmmm.. apparently neither does object destructuring (`let foo = {...obj}`). :-/

[2018-03-13 18:10] ryanpcmcquen opened #642 "Is there a way to edit the name displayed on the profile page?"
I cannot seem to find anything in the menus or preferences ...

[2018-03-13 18:10] ryanpcmcquen commented on #344
Thanks @CompuIves!

[2018-03-13 18:36] CompuIves commented on #641
Hmm, does it work in the Parcel template locally? You can fix it by
creating a .babelrc config and adding the `stage-0` or `env` preset.

On Tue, Mar 13, 2018, 18:49 Matthew Marcus <notifications@github.com> wrote:

[2018-03-13 19:22] CompuIves commented on #641
Example: https://codesandbox.io/s/rlo9k7q6o4

[2018-03-13 19:46] RavenHursT commented on #641
Perfect! Thank you!

[2018-03-13 19:46] #641 closed

[2018-03-14 15:58] RavenHursT opened #644 "Component build w/ ParcelJS Template Breaks on code changes"
I've built out a "rating" component here: https://codesandbox.io/s/v3rrrzw2j5

Code changes aren't taking properly in the iframe.  Seems like all JS "freezes" (doesn't crash though, still does initial render. Just seems like all window events (click/mouse movements) are ignored)

Please see this screen capture:
http://gph.is/2IsGTdw

[2018-03-16 05:03] ivinjose opened #645 "Could not find module in path: 'redux-persist/integration/react'"
First of all, thanks for the codesandbox project. First time user and loving it.

Im getting the below error.
`Could not find module in path: 'redux-persist/integration/react'`

In Index.js this is what Im doing:
`import { PersistGate } from "redux-persist/integration/react";`

Couldnt find any leads on net. Same repo runs fine on my local.

Any hints on what this might be?

[2018-03-16 14:49] aaronrosenthal opened #646 "Unable to import vendor stylus files"
I am trying to import a vendor stylus file but I get an error like this:

    ReferenceError
    /node_modules/vuetify/src/stylus/main.styl:298:9
       294|
       295| index(list, value)
       296|   for val, i in list
       297|     return i if val == value
       298| @import './app'
    ----------------^
       299| @import './components/*'
       300|

    glob is not defined

Am I doing s

[2018-03-16 18:16] sourav-kumar commented on #457
Hey @CompuIves ,

I am trying to add a static json file, just to add a ajax call on that. I have added that json file inside the static folder, still I am unable to access that, please let me know if I am missing anything.

Here is the react sandbox example : https://codesandbox.io/s/jn75o98449

[2018-03-16 18:58] CompuIves commented on #457
Hey! It should work if you put the file in `public`, that's how
create-react-app works internally. Here's a fixed sandbox:
https://codesandbox.io/s/kq352rvq5.

On Fri, Mar 16, 2018 at 7:16 PM SOURAV <notifications@github.com> wrote:

[2018-03-16 19:01] CompuIves commented on #645
Ah, I think I know why this is happening. It seems like we have trouble resolving the `main` in `package.json` in https://unpkg.com/redux-persist/integration/react/. This is an interesting case, because it seems like there's only a package.json in the folder which then resolves to a parent directory.

I think it should work by changing the statement to:

`import { PersistGate } from "redux-persist

[2018-03-17 04:48] sourav-kumar commented on #457
Thanks @CompuIves for your quick help!!

[2018-03-18 10:10] PavelPZ commented on #637
Ok, thanks a lot for info. Problem is a bit more serious, see my comment in [636](https://github.com/CompuIves/codesandbox-client/issues/636)

[2018-03-18 10:25] PavelPZ commented on #636
Hi @CompuIves, thanks for info.

I thing that problem is more serious. It looks like CodeSandbox compiles project *file by file* without preserving any global contexts. See
[![Edit 0m3plorznl](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/0m3plorznl)
and error in line 9 in index.tsx.

Is any chance to solve it (at least in the future)? I am working on framework

[2018-03-18 10:25] #637 closed

[2018-03-18 11:35] PavelPZ commented on #636
... a little progress, see
[![Edit mor043329x](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/mor043329x)

```export as namespace``` does not show error, but
- typing is loosed
- cannot share ```const enum {}```

[2018-03-18 15:04] emzero opened #648 "React: A cross-origin error was thrown."
When using the React template, the errors are not displayed properly. Instead this message is shown:

[code]
Per the documentation: If you use Webpack, we recommend using the cheap-module-source-map setting in development to avoid this problem.

Can this be applied in Codesandbox so we get proper error descriptions?

[2018-03-18 21:18] corysimmons opened #649 "Feat req: Customize UI"
Writing tests with Jest, browser just takes up space.

[2018-03-19 00:02] corysimmons opened #650 ""Run All Tests" doesn't seem to work"
Tests run fine on load, don't auto-add new tests, and when I push "Run All Tests" button they don't run. Terminal just blanks.

[2018-03-19 00:03] corysimmons commented on #649
For that matter, it'd be nice to set defaults for UI in settings. Like "Browser > Disabled", "Tests > Enabled".

[2018-03-19 00:12] CompuIves commented on #649
Makes sense. I want to be able to swap out the browser with other views, like console, jest view. Kind of like you suggested 😄.

[2018-03-19 00:16] CompuIves commented on #650
Heh, interesting. Maybe the cache is not reset.

Do you have a sandbox with a small reproducible example? It seems to work here for me: https://codesandbox.io/s/n9m2w9q8x0

[2018-03-19 00:55] corysimmons commented on #650
Oh, maybe I'm crap. 😅
Trying to make a reduced test case, I noticed I kept trying to use `@cerebral/mobx-state-tree` because it was first in list when adding deps. rip.

I still suspect there's some weirdness and will keep my eyes peeled and create some reduced test cases if I run into it.

Sorry! Love your site/work-ethic! Can't wait for CodeSandbox to take over the world.

[2018-03-19 00:55] #650 closed

[2018-03-19 00:56] corysimmons commented on #649
Yea that'd be really nice! Like some sort of dropdown at the top-right of these panels that let's you swap out what's there with a different panel, or hide the view entirely. Then just cache the user's preference might be best UX.

[2018-03-19 18:25] sompylasar opened #651 "TypeError: Cannot read property 'map' of null"
[code]

`r._originalScriptCode` is `null` at `Math.max.apply(Math, D()(r._originalScriptCode.map(function(e) {`:
[code]

### Repro

https://codesandbox.io/s/4q3zol71y9
[code]

Type `'TypeError'` into `.toThrow();`

[2018-03-19 23:16] treyeckels commented on #635
Hello! I can take a shot at this if no one else is working on it...

[2018-03-20 10:47] CompuIves commented on #635
Absolutely @treyeckels, thank you very much! I'll create an `mdelete` `DELETE` API endpoint on the server (`/api/v1/sandboxes/mdelete?ids=:id1,:id2,:id3`).

In the meantime you can already work on the implementation of selecting multiple sandboxes with a delete button, if you have time. Here is our Discord channel if you have any questions: https://discord.gg/CCrg4rt. 😄

[2018-03-20 10:51] CompuIves commented on #606
I think I fixed this one with a release I'm going to do somewhere this week. Thanks for the clear report!

[2018-03-20 12:30] ferdaber opened #654 "feature: add link from homepage to login"
I often go to the codesandbox home page directly via the URL (codesandbox.io), it looks like when I'm already logged in, I will see a link to my user page on the top right corner, but when I'm not logged in, there isn't any link at all. It'd be nice for me to be able to log in to my user profile via the home page.

Currently the workflow is that I have to go into one of the template pages and log

[2018-03-20 15:15] CompuIves commented on #636
Ah, this is really good info. We indeed transpile file by file, and want to let the editor handle all error messages about types. This creates a clear separation of concerns. I think many problems will be solved when we move to Monaco v11 (#647), I need to do some more testing on there to make sure everything works.

[2018-03-21 19:17] emzero commented on #206
+1 I really want collab mode in Codesandbox. I will certainly pay on Patreon for this!

[2018-03-22 00:28] JosefJezek commented on #207
@CompuIves any progress?

[2018-03-22 01:48] CompuIves commented on #207
For the initial issue there was a problem with the polymer version. The `main` field was not set in pre-1 which caused CodeSandbox to think the dependency was not installed. A sandbox with a newer version is here: https://codesandbox.io/s/w6joz94m88.

I believe this is also the case for `polymer@1.6.1` on unpkg you can see that it cannot resolve https://unpkg.com/@polymer/polymer@1.6.1/. I'm not s

[2018-03-22 03:53] steventsao commented on #592
What is the expected tab name for the react template? @gautamarora

[2018-03-22 08:56] tryzniak opened #656 "Can't find variable: regeneratorRuntime"
Hi. I think I found a bug. Running the following code in the vanilla template:
[code]
Produces the following error `ReferenceError
Can't find variable: regeneratorRuntime`.
That code works perfectly fine on node v8.9.4.

I hope that was helpful and thank you for your great editor 👍

[2018-03-22 10:24] JosefJezek commented on #207
@CompuIves loading is ok, please close.

[2018-03-22 10:32] JosefJezek opened #657 "Polymer - Failed to execute 'define' on 'CustomElementRegistry'"
After update any file I get this error message...

[code]

https://codesandbox.io/s/m7p0vpvzox

The code is working in Plunker.
https://polymer-3-sandbox.firebaseapp.com/

Only Hard Reload on Change is working :-/

[2018-03-22 17:41] justinfagnani commented on #207
@CompuIves some of our packages might not have main fields set. We're likely to unset it in Polymer 3.0.0 core in a upcoming release.

[2018-03-22 18:06] CompuIves commented on #207
That's good to know @justinfagnani! We resolve the files the same way as node, so I think we should be fine. Our error messages are rather cryptic though, I'll put more effort to fix that!

I'll close this one now 😄

[2018-03-22 18:06] #207 closed

[2018-03-22 19:00] edm00se opened #658 "app: can't download project"
Inexplicably, I can't download a project I worked on for a couple hours. I've tried in Chrome (latest stable) and Firefox (latest stable), to the same result of nothing happening. No download triggers, no alert or warning, nothing being logged to the JS console in the browser.

![codesandbox_nodownloadforme](https://user-images.githubusercontent.com/622118/37792444-d273fb22-2dd9-11e8-8821-396c0f66

[2018-03-22 19:09] CompuIves commented on #658
Hmm, that's weird. It works for me here, on which template is this happening?

[2018-03-22 19:09] edm00se commented on #658
A parcel template.

[2018-03-22 19:11] CompuIves commented on #658
Hmm, okay. I'll do a quick test on Windows to see if it happens there now.

[2018-03-22 19:11] edm00se commented on #658
I am on Windows, so that might be something. Still, strange it would be OS specific. Thanks.

[2018-03-22 19:13] CompuIves commented on #658
Hm, seems like I can download https://codesandbox.io/s/vanilla on Windows as well.

I think I see what's going wrong after taking a look at the code. Does your project have a `src` directory?

[2018-03-22 19:14] edm00se commented on #658
It does not have a src directory.

The vanilla template downloaded fine.

[2018-03-22 19:15] CompuIves commented on #658
Ah, I found the issue then! Sorry for that, I'll commit a fix now

[2018-03-22 19:15] edm00se commented on #658
Cool. Thank you.

[2018-03-22 19:17] #658 closed

[2018-03-22 19:18] CompuIves commented on #658
Commited to master, it should take about ~20 minutes before it's deployed

[2018-03-22 19:18] edm00se commented on #658
Excellent. I'll check again in about half an hour.

[2018-03-22 19:21] CompuIves commented on #658
Great! You might have to refresh twice to see the changes: the first load the client will install the new application which will be applied the second load. Otherwise opening in incognito works as well 😄

[2018-03-22 19:33] CompuIves commented on #658
New deploy has version `PROD-1521746611`, it's in the bottom left corner!

[2018-03-22 19:35] edm00se commented on #658
I checked early, the client picked up the change, I reloaded and was able to see the new deployed version. Download works, thanks!

[2018-03-22 19:36] CompuIves commented on #658
Perfect! 😄

[2018-03-22 19:42] CompuIves commented on #656
Hey! Thanks for submitting this issue, it's a good one.
I found a similar issue here https://github.com/parcel-bundler/parcel/issues/871, it seems that CodeSandbox handles `babel-preset-env` in an incorrect way. I have a branch open that will fix this. In the meantime you can use the proposed solution in the thread, this one: https://github.com/parcel-bundler/parcel/issues/871#issuecomment-3701351

[2018-03-22 19:42] #656 closed

[2018-03-23 09:34] hiteshsahu opened #659 "Can't Upload project using CLI"
While using CLI tool I am keep getting error:

I have logged into Sandbox client using my GitHub credentials

Attached screenshot for reference:

<img width="546" alt="screen shot 2018-03-23 at 3 01 28 pm" src="https://user-images.githubusercontent.com/4076925/37822048-617816ba-2eab-11e8-897c-9e8a8e5f54d7.png">

[2018-03-23 13:49] mstijak commented on #628
I need help. It was pretty straightforward to add a new template in the UI, but I have problems understanding how the rest works. Where do template files live?

https://github.com/mstijak/codesandbox-client/tree/cxjs-template

[2018-03-23 14:13] CompuIves commented on #263
Small followup, @Noviny built a really nice library that makes it incredibly easy to export an example to CodeSandbox. It's called `react-sandboxer` and is already used by Atlassian for Atlaskit and for the new React-Select: https://github.com/Noviny/react-codesandboxer.

[2018-03-23 14:39] CompuIves commented on #507
Hey! I think I have a (hacky) fix for this, could you test it for me?

PR is here: https://github.com/CompuIves/codesandbox-client/pull/660
And it's hosted here: http://pr660.cs.lbogdan.tk/s/new (will be online 10 minutes after this comment)

[2018-03-23 15:00] CompuIves commented on #628
Ah, yep that's understandable.

To define a new template we need to change three things:

## Template Definition

We need to add a template definition, this is used for our editor and the homepage to determine what the template is and what it can do. All templates are stored here: https://github.com/CompuIves/codesandbox-client/blob/master/packages/common/templates/index.js. You can create one by

[2018-03-23 15:35] mstijak commented on #628
The thing is that when a new sandbox is created (based on the CxJS template) the app tries to fetch `/s/cxjs` which is currently non-existent. How to create that initial sandbox with default project files?

Regarding the `template` field, should I save the project afterward to persist the change? The problem is that I'm not able to log in with GitHub in development mode. Page not found `/auth/gith

[2018-03-23 15:40] CompuIves commented on #628
Hmm, you could just create a new sandbox at a random ID and manually set the template field of that sandbox to `cxjs` for now. That's how I do most development for templates as well.

No, that's not needed. If you just set your receiving side to override the field you will get the cxjs for every template, which is desired behaviour when you're developing for that template I believe.

We're setting

[2018-03-23 17:34] CompuIves commented on #611
IE11 is back!

[2018-03-23 18:46] huy-nguyen opened #661 "Error with alpha version of `jest`"
I encountered errors with [my sandbox](https://codesandbox.io/s/04lv91nk7p) while trying out the new [asymmetric matcher feature](https://github.com/facebook/jest/pull/5503) that will be released in `jest` 23. In my sandbox, I requested `jest@23.0.0-alpha.1`. The only file I changed/created was `src/__tests__/approximatelyEqualNumbers.js`.

This is the error:
[code]
I did some googling and it look

[2018-03-23 21:44] krimple commented on #507
I will check this out tonight. Looking forward to it.

Sent from my iPhone

[2018-03-23 23:00] krimple commented on #507
Ok, if I click the keyboard icon and hold it, the arrow keys become active, but they sort of scroll the view as well as the text, and it zooms in a bit.

If I navigate or click somewhere else the arrows stop working. So it’s kind of half-there.

What is the significance of the keyboard icon? Does it activate some sort of editing mode where the cursor keys are active?

Thanks,

Ken

Sent from my iP

[2018-03-24 06:50] artalar opened #662 "Broken transpiler"
PROD-1521819790
Yandex Browser 18.1.1.952 beta (64-bit) (same as the Chrome)

I'm creating the new extended class, but methods not apply:
![image](https://user-images.githubusercontent.com/27290320/37861311-3cafa01c-2f48-11e8-91f1-75d3cda495ea.png)

In the browser  console all right:
![image](https://user-images.githubusercontent.com/27290320/37861339-affed86c-2f48-11e8-9127-830ce5ce5467.png)

[2018-03-25 07:28] YazanAabeed opened #663 "Export & Import for React applications"
## I have a question:

### Is this case right? or I missing something?
When I use this code in code sandbox its work:
[code]

But when I install the project using GitHub on my local machine its not working until I change the code to this:
[code]

The error is shown on my local machine `'./../components' does not contain an export named 'Photo'`

[2018-03-26 01:31] artivilla opened #664 "Inaccurate views on public sandboxes"
I could be entirely wrong but is there a way to validate if the views on public sandboxes represent views by other people and not myself? What about incognito mode? How is this measured and is there a FAQ I might have missed?

[2018-03-26 04:49] donysukardi opened #666 "[Website] Improving Feature Highlights section"
Currently the Feature Highlights section is a bit cluttered. It could be improved by adding separators between the grid items.

I have two proposals below for the improvement. I'm leaning more towards Design 2 as left aligned text is easier to read.

Design 1:
<img width="1066" alt="design-1" src="https://user-images.githubusercontent.com/410792/37887270-68c01c8e-30f3-11e8-8fec-175eab27582f.png">

[2018-03-26 12:12] mescalito opened #667 "how to get rid of cross-origin error?"
**IN FIREFOX**: When I execute my code the typical error I should get is: "TypeError: Cannot read property 'setState' of undefined", instead I received a very weird cross-origin error.

Here is a screenshot of the error:
http://prntscr.com/iwipnb
![image](https://user-images.githubusercontent.com/687283/37905732-ccd11514-30cd-11e8-944d-b7a3b9ef84dd.png)

here is my code: https://codesandbox.io/s/4

[2018-03-26 14:48] mescalito commented on #667
It looks like you need to enable CORS on your S3 bucket that serves: https://s3-eu-west-1.amazonaws.com/codesandbox-downtime/downtime.json

To do so, just navigate to your bucket, then click the Permissions tab, then in the CORS box enter an XML document with the permissions you'd like. Sample permissions to allow any host to make a GET request:

<?xml version="1.0" encoding="UTF-8"?>
<CORSConfigu

[2018-03-26 17:21] mcin-armintaheri-archive opened #668 "Flow types support?"
I seem to have a lot of trouble finding information about codesandbox and flow types support. I am basically trying to follow these instructions https://flow.org/en/docs/tools/create-react-app/ and am hoping that codesandbox will give me type errors the same way react typescript projects would on codesandbox.

My exact commands locally are:
[code]

Which uploads the code to a live sandbox but does

[2018-03-26 17:35] CompuIves commented on #206
Hah I've been working on this for the past few weeks and it was soooo hard not to respond on this issue! Well, it's here now 😄

https://medium.com/@compuives/introducing-codesandbox-live-real-time-code-collaboration-in-the-browser-6d508cfc70c9

[2018-03-26 19:15] ReneCode opened #669 "User Menu is missing after deleting the current Sandbox"
- open a sandbox from "my sandboxes"
- in "project info" click "delete sandbox"
- => a new blank (react) sandbox apears
- => the User Menu (top right corner) is missing when clicking on the user-avatar. (only the hint apears)

[2018-03-26 19:39] maciejmyslinski opened #670 "No way to scroll files list in embed mode"
There is no way to scroll files list in embed mode 😢

![Alt text](https://monosnap.com/file/VAkYRsM5hFXMfgeWYQk7NZOlGDGVi8.png)

[2018-03-26 21:28] kavink opened #671 "Is there a way to deploy private code sandbox to Heroku?"
Is it possible to deploy code sandbox server and UI on heroku for private teams? i.e. not use the code sandbox site ?

[2018-03-26 21:57] jrock2004 commented on #442
Is there documentation on how to implement a new framework? If so I would not be opposed to helping out

[2018-03-27 04:51] Komar0ff commented on #648
There is a similar issue #667

[2018-03-27 05:12] Komar0ff commented on #639
I can take it upon myself if no one is against it

[2018-03-27 10:59] CompuIves commented on #669
Very interesting, thanks for sending the bug report!

This is probably because there is an inconsistency in the Cerebral state.

[2018-03-27 11:11] CompuIves commented on #670
Yep, you're completely right. The embed deserves much more UI work, I'm doing that today!

[2018-03-27 11:13] CompuIves commented on #666
This is **so** nice! I briefly discussed your suggestions with @bazzjuh, I personally find the second suggestion the most beautiful. But I'd like to hear Bas' thoughts on this as well 😄

[2018-03-27 11:13] CompuIves commented on #639
Awesome @Komar0ff! That would be very nice

[2018-03-27 11:28] CompuIves commented on #667
This is a serious issue, we need to fix this quick. The reason for these cross origin errors is that we use `eval` to evaluate the code in the browser (https://reactjs.org/docs/cross-origin-errors.html#source-maps). The solution is to put the code in script tags, and we can definitely do that, but it's a big change to our bundler.

I will take a look at it this weekend, and check if performance is

[2018-03-27 11:29] CompuIves commented on #648
Yes, I'm closing this one for #667, even though this one is older. I responded to the other issue and just saw this one 😅.

[2018-03-27 11:29] #648 closed

[2018-03-27 12:35] adyz opened #672 "Not loading page - Showing just the logo (Full page)"
If I try to access any sandbox, eg: https://codesandbox.io/s/v818xwl670, just the logo is shown.

If I open the devtools I see:

[code]

Only with my console open, If I do a hard Force Reload (Shift + Command + R) the page will load properly.

[2018-03-27 12:35] adyz commented on #672
<img width="1439" alt="screen shot 2018-03-27 at 15 34 43" src="https://user-images.githubusercontent.com/611174/37967557-75a083c6-31d4-11e8-8658-cb7a6077f921.png">

[2018-03-27 12:37] adyz commented on #672
Also, if I close the developer tools and I hit refresh, the error is back.

[2018-03-27 12:47] Komar0ff commented on #672
Hi @adyz

It's strange. data does not come.
You tried to run on other browsers?

[2018-03-27 12:54] adyz commented on #672
No, I think it's due to the fact that I am already logged in and I have some corrupted cache or cookies. I tried in chrome with private mode and it works fine.

I logout/login did not help.

Going in the chrome devtools, application -> clear storage and clicking on clear all data worked.

[2018-03-27 15:08] CompuIves opened #673 "React File Icon performance issues"
This is an interesting issue to solve. For the files in the sidebar we show icons related to the file type, for React we check the module code with a Regex for an import statement.

I noticed that this impacted performance by a large amount, for every keystroke we had to rerender the sidebar and tabs (all components that use `getType`), to run the RegEx again. I disabled the functionality for now

[2018-03-27 15:59] CompuIves commented on #672
Extremely weird, looks like this indeed has to do with the cache. It seems like the chunk hashes didn't update. I'll look into this!

[2018-03-27 16:04] ecwyne commented on #204
This is all seriously so cool. The one last **killer** feature for me I think is the ability to work with private repositories.

Have you had any thoughts about supporting private repos @CompuIves?

And thank you SO much for codesandbox, it makes working with remote coworkers awesome!

[2018-03-27 18:41] YazanAabeed commented on #663
Hello @Komar0ff
Thank you for your help and your time 😄 🔥

[2018-03-27 20:24] CompuIves commented on #670
Fixed and deployed!

[2018-03-27 20:24] #670 closed

[2018-03-28 05:54] donysukardi commented on #666
If there's no further objection, I'll go ahead and work on it. We can take it from there :D Wait for my PR!

[2018-03-28 12:06] CompuIves commented on #664
Hey! We keep track of who viewed the sandbox to make sure that someone cannot press refresh 10 times to get 10 views. However, I found a leak in this, we use cookies to track uniques, but this doesn't work exactly when we process a view from eg. `new.codesandbox.io`. We'll disable counting those views. Thanks for letting me know!

I'll close this issue as soon as that's in.

[2018-03-28 12:07] CompuIves commented on #671
Not yet! But would certainly be good functionality to have. I'm wondering if Heroku has a kind of API for this?

[2018-03-28 12:08] CompuIves commented on #663
Closing this one since it's solved! Thanks @Komar0ff 😄

[2018-03-28 12:08] #663 closed

[2018-03-28 12:10] CompuIves commented on #442
Hey @jrock2004, that would be really nice!

We don't have official documentation yet, however we have reference work and a small explanation.

We recently got a PR for a new custom template: https://github.com/CompuIves/codesandbox-client/pull/665. This PR does a really good job at implementing a new template. I also wrote an explanation here: https://github.com/CompuIves/codesandbox-client/issues

[2018-03-28 15:31] alexvcasillas opened #674 "[UX/UI Suggestion] Close icon on tab"
Hello @CompuIves !

I've been playing around with CodeSandbox and saw this "issue" that is related to the UI and UX more than business logic :)

![image](https://user-images.githubusercontent.com/9496960/38039309-443c3792-32ad-11e8-9a27-2b4d898db982.png)

If you have pending changes on the file and you hover it's tab, it doesn't show up the cross icon (x) to close that tab as if the file has no ch

[2018-03-30 18:45] FDiskas opened #677 "Proposal: add ability to run tests or add a documentation how todo so"
It would be very handy if it will be possible to run tests

[2018-03-30 19:14] FDiskas commented on #677
example: https://codesandbox.io/s/q9624qv3x9

[2018-03-30 19:37] CompuIves commented on #677
Hey! Thanks for the example sandbox, I was a bit confused. We already have test support, but it seems like we don't detect .tsx tests properly. If I change the file to .ts it seems to be detected: https://codesandbox.io/s/24w96p9jop. But that of course will throw.

So this is just a matter of adding .tsx to the extension list to check :smile:. Would you be interested in adding it? We do the check

[2018-03-30 21:06] jimthedev commented on #204
Codesandbox hosts a github key

It seems like you would need the ability for codesandbox to generate an ssh key pair for a given github account in the settings. Then when a given codesandbox users is in a given repo the commits would need to be performed on a codesandbox server using the "safe" key. This could be dangerous if you don't trust codesandbox to keep your keys.

Local git strategy

Anot

[2018-03-31 07:43] FDiskas commented on #677
Ok I will try to create a pull request

[2018-03-31 16:09] vinzloh opened #678 "Unable to load public sandbox"
A few of my sandboxes have this error when I click to open them:

<img width="1279" alt="screen shot 2018-04-01 at 12 03 54 am" src="https://user-images.githubusercontent.com/5501845/38165075-8169bbc2-3540-11e8-8816-18e4f3d551f1.png">

I haven't opened them in a while, are they broken and no longer accessible?
Link here: https://codesandbox.io/s/42lz4l4z1x

[2018-03-31 16:11] vinzloh commented on #678
Never mind it's ok now.

[2018-03-31 16:11] #678 closed

[2018-03-31 16:49] CompuIves commented on #678
Hey Vincent, sorry for that! We were getting DDOSed, still are actually. I started doing more rate limiting now.

[2018-03-31 16:59] vinzloh commented on #678
No probs. Really appreciate the work you're doing. Big fan. Keep it up!

[2018-03-31 23:58] MAPESO opened #680 "Deploy failed with React"
Try to deploy 2 times but keep failing :(

<img width="1280" alt="screen shot 2018-03-31 at 5 50 26 pm" src="https://user-images.githubusercontent.com/16585386/38168554-b5047f50-350c-11e8-9885-24488a6f98da.png">

[2018-04-01 09:12] FDiskas commented on #680
source code needed :) :crown:

[2018-04-01 16:43] trainorpj opened #684 "Sandbox Icons are all React logo"
Hi there!

I found a small issue when going through some users sandboxes.  Basically, all projects have the React logo, even though they're not React projects.

* [You can see my page here, with mostly Vue projects](https://codesandbox.io/u/trainorpj/sandboxes)
* [Here's another example, with lots of Vue projects](https://codesandbox.io/u/chrisvfritz/sandboxes)
* [And a preact-heavy user, for good

[2018-04-02 09:16] FDiskas commented on #684
Demo: http://pr686.cs.lbogdan.tk/u/developit/sandboxes :headphones:

[2018-04-02 10:46] francoischalifour opened #687 "Relative images not showing up with Parcel"
Hey there!

It seems like `img`s with relative paths are not working with the Parcel template (they're not displayed).

* Example not working on CodeSandbox: https://codesandbox.io/s/github/francoischalifour/medium-zoom/tree/master/examples/dropbox-paper-template
* Example working on Zeit: https://medium-zoom-dropbox-paper-oiahlcqkke.now.sh
* Source code: https://github.com/francoischalifour/mediu

[2018-04-02 10:56] #684 closed

[2018-04-02 11:49] CompuIves commented on #687
This is a perfect reproduction and super clear issue. I'll fix this now!

[2018-04-02 12:15] CompuIves commented on #687
It's live, you may need to do a hard reload to see the changes!

[2018-04-02 12:15] #687 closed

[2018-04-02 12:18] francoischalifour commented on #687
You're awesome! Thank you so much!

[2018-04-02 14:55] aadsm commented on #507
@krimple if you switch the text editor to CodeMirror in the preferences menu the arrow keys work as expected.

However, there’s still a bunch of stuff that is not working as well on the iPad. Key bindings like cmd-shift-P don’t work for instance :(.
Also, is it possible to hide the left panel and increase/decrease the font size or zoom level?

[2018-04-02 15:26] CompuIves commented on #507
Interesting...

Hmm, maybe the iPad sends out different events?

Yep! You can hide the side panel by clicking the active icon, you can change font size in preferences.

[2018-04-02 15:28] #677 closed

[2018-04-02 21:46] TaroWong opened #689 "Issue with exporting Sandbox to Github"
Hi!

I tried to export a new sandbox to my Github account but there was an error. I am using `Firefox 59.0.2(64-bit)` if that helps.

**Error Message**
`405 Not Allowed`

<img width="1276" alt="issue" src="https://user-images.githubusercontent.com/8980164/38217707-e8439a9e-3701-11e8-91ce-9e369e735515.png">

[Sandbox link](https://codesandbox.io/s/rr6kkpm39o)

**Sandbox dependencies**
[code]

[2018-04-02 22:16] CompuIves commented on #689
Interesting, I cannot reproduce this locally. It's maybe because of the title. I'll check it out more tomorrow!

[2018-04-02 22:39] TaroWong commented on #689
Sorry @CompuIves , you are right! `[]` is not allowed on Github.

[2018-04-02 22:39] #689 closed

[2018-04-03 12:51] #649 closed

[2018-04-03 15:04] ryanpcmcquen opened #691 "[error] Could not find package.json"
Any ideas what would be causing this?
[code]

[2018-04-03 16:42] aadsm commented on #507
Thanks! I guess what I want is the zoom instead :) Which one is the “active icon”?

![cdf70f20-7438-4c84-b188-e460b47a66f1](https://user-images.githubusercontent.com/78122/38262816-32e8a000-3723-11e8-8bda-acbedb050400.jpeg)

[2018-04-03 17:04] krimple commented on #507
I see the same things now that I switch to CodeMirror. This thing zipped up
into a React Native app with custom keystrokes would be a killer app.

I don't see code completion, and CTRL-SPACE shows a keyboard pick list /
emoji selector. But this is progress.

Ken

Ken Rimple
Training and Mentoring Services
Chariot Solutions
610-608-3935
@RimpleOnTech

On Mon, Apr 2, 2018 at 11:26 AM, Ives van Hoorn

[2018-04-03 19:44] FDiskas opened #692 "require.resolve is not a function when using jest.mock"
Trying to mock something with jest and got `require.resolve is not a function`
https://codesandbox.io/s/003vnm1wrn?module=%2Fsrc%2Ftests%2FHello.test.tsx
![error](https://static.md/a7e6b35c6cb343258e8608cbccc32f83.png)

[2018-04-03 19:48] FDiskas commented on #691
what output of? :wolf:
[code]

[2018-04-03 19:49] ryanpcmcquen commented on #691
[code]

[2018-04-03 19:51] FDiskas commented on #691
You are on windows OS?

[2018-04-03 20:01] ryanpcmcquen commented on #691
Yes.

[2018-04-04 11:20] MartinKolarik opened #693 "jsDelivr 404 errors"
Hi, this is Martin from jsDelivr.

I noticed an unusually high number of CDN requests failing with a 404 error in the recent days. It seems that most of those are for packages from `@types` and come from https://codesandbox.io. I just wanted to ask if this is expected (e.g. you try to fetch `@types/<name>` for every installed package automatically and expect an error when it doesn't exist) or if i

[2018-04-04 11:25] CompuIves commented on #693
Hey Martin,

That's true, we query `@types/<name>` to find out if there is an official type definition available for the library.

We do these steps to get typings:

1. We check if there is a `types` field on the `package.json` of the dep, and use that if available.
2. If not available, we check the tree of the dependency for `index.d.ts`.
3. If that's not available we try to fetch at `@types/<nam

[2018-04-04 11:53] MartinKolarik commented on #693
The load is not a problem, I just wanted to make sure everything is alright.

Btw I also noticed sometimes you make requests like https://cdn.jsdelivr.net/npm/@angular/common@5.2.9/src/directives/index, which fail because we don't resolve the file to `index.d.ts`. You might want to ensure that the requested files always have the `.d.ts` extension (I guess this would be a common problem since the e

[2018-04-04 11:53] #693 closed

[2018-04-04 12:06] #666 closed

[2018-04-04 14:34] donysukardi commented on #673
What if you only set the icon for every save? That would be a decent compromise.

[2018-04-04 16:12] cswl opened #694 "Why you no do error handling."
I just used the vanilla template.. and Ctrl+A delete...  then the editor stuck..

Browser: Firefox 59.0.2

https://i.imgur.com/o13xLgg.png

[2018-04-04 18:11] CompuIves commented on #694
Hey! I did some debugging and I was able to reproduce the issue in Firefox. Sometimes when you do a fork we get a race condition which causes Monaco to crash. It's fixed with a refresh.

We should fix this one.

[2018-04-04 18:11] CompuIves commented on #691
Interesting, this could be related to Windows. Which version of codesandbox-cli do you have installed?

[2018-04-04 18:13] CompuIves commented on #692
Ahh, yes good one. We need to build `jest.mock` support since we use our own resolver and executor for modules.

I will try to build this this week, regardless I'll keep this issue open for everyone to pickup in the meantime.

We need to get all `jest.mock` calls and add them to the `aliases` field on `Manager`. I think that should do the trick and make `jest.mock` work.

[2018-04-04 18:27] ryanpcmcquen commented on #691
`1.2.7`

[2018-04-05 06:30] aadsm commented on #507
@CompuIves I’ve checked the code, and according to https://github.com/CompuIves/codesandbox-client/blob/a911927458058fa3ca10a84b0f41066f8f3a84b0/packages/app/src/app/store/providers/KeybindingManager.js#L22 and https://github.com/CompuIves/codesandbox-client/blob/41301707af5926de266069074651fc5bc93f9544/packages/common/utils/keybindings.js#L7 the `editor.open-quick-actions` binding will only match

[2018-04-05 06:48] FDiskas commented on #692
jest.spyOn is another one :)

[2018-04-05 10:57] CompuIves commented on #507
Ahh, that makes it more complicated. I used `event.metaKey` before, but noticed that the behaviour was different between multiple browsers when more than 2 keys were pressed at the same time. Hmm, maybe we can do both, or select a way to handle it based on the platform.

I'm curious, does it work on this page? http://wangchujiang.com/hotkeys/

[2018-04-05 10:58] CompuIves commented on #673
Hmm yes that makes the most sense. Then we would add an extra field to module maybe? Or create a separate map that maps moduleId to type.

[2018-04-05 20:06] giggioz opened #696 "Read Only Mode for the owner?"
Hi,

i shared a codesandbox for the first time and i was wondering if i can put that box in a read only mode *even for me*.
I want to avoid to edit that box after a while because i forgot that i shared it.

Thanks!

[2018-04-05 20:46] ValentinH opened #698 "Clear console on change"
When using the Console Preview mode, it would be nice to be able to clear it automatically on each code change.

I was thinking about adding a configuration item like `clearConsoleOnChange`
 in the `sandbox.config.json` file.
Another solution could be to add a toggle directly in the Console view header (both devtools and preview) so it's more obvious to find this feature.

What do you think about

[2018-04-06 14:44] MichMich opened #699 "Lines mixed together during live code."
Hi Ives,

As requested hereby a screenshot of what happens during live coding:
![screen shot 2018-04-06 at 16 41 33](https://user-images.githubusercontent.com/210954/38427472-9ad8906a-39b9-11e8-94df-375be1e677c3.png)

In your Twitch feed you were just typing on a new line, in the code sandbox feed, lines were mixed up.

OS: macOS 10.13.3 (17D102)
Browser: Safari 11.0.3 (13604.5.6)

[2018-04-06 14:48] MichMich commented on #699
Not sure if it's true, but it 'feels' like not all (socket) messages are received, resulting in missing necessary context data (line and character position of cursor).

[2018-04-06 15:12] CompuIves commented on #699
Interesting, do you remember approximately when the out-of-sync started happening? After an undo or maybe after a module view change?

[2018-04-06 15:14] MichMich commented on #699
Every so often. Happend more than once. No particular time or event to pinpoint.

[2018-04-06 15:15] CompuIves commented on #699
Hmmm okay, I'll test some more!

[2018-04-06 15:15] aadsm commented on #507
@CompuIves is it possible to install codesandbox locally so I can run a few tests w.r.t. keyboard?

[2018-04-06 15:16] MichMich commented on #699
Idea for debugging: add an incremental id to all socket messages, and check if you receive everything.

[2018-04-06 20:57] CompuIves commented on #699
Yes, characters were inserted out of place. Not sure if this was the only thing causing the problem. Will have to test some more!

[2018-04-06 21:02] CompuIves commented on #698
Hmmm, I think we have this one in preferences already? In the Preview setting. I think we should enable it by default though, so I'm open for a PR for that!

[2018-04-06 21:15] ValentinH commented on #698
You are right, I forgot about these preferences :) I only looked at the sandbox config file.
Let's go for a PR to change this default!

[2018-04-06 21:27] #698 closed

[2018-04-07 08:55] gangsthub commented on #691
same here, windows, using https://github.com/pi0/codesandbox-nuxt

[2018-04-07 11:55] CompuIves commented on #460
Should be fixed with this commit: https://github.com/CompuIves/codesandbox-client/commit/07f16383d73d23442acaa8a349a9da346b1d23c9

[2018-04-07 11:57] CompuIves commented on #674
Ah, that's an interesting one. I copied this logic over from `vscode`.

I think we should just disable the close icon when the module is unsaved, does that make sense?

Good one, I like this!

Would you be interested in opening a PR for this? 😄

[2018-04-07 12:00] alexvcasillas commented on #674
If the module is unsaved and we get the mouse hover the tab we should replace the dot icon with the cross icon, so even though it's unsaved, the action will be closing this unsaved tab so, the close icon it's more likely to be there : )
And yeah, for sure, I would be interested in PR-ing this : )

[2018-04-07 12:00] CompuIves commented on #662
Interesting, I think this is an issue with the Babel transpiler. I reproduced it here: https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=MYGwhgzhAEAqCmEAu14A8nwHYBMYEEAnQsAT2gG8AoaABwFcIALACgEpKbppD4l7CWaAHJMyYQG4aAXyqyqwAPZYIikPAB0IRQHMWLLPADucREhYBtALps2GhsxYBGW0A&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=true&fileSize=false&l

[2018-04-07 12:00] #662 closed

[2018-04-07 12:01] CompuIves commented on #659
Hey! Sorry for the late response, I'm looking into it now. Which version of CodeSandbox CLI are you using?

[2018-04-07 12:43] #644 closed

[2018-04-07 14:04] CompuIves commented on #664
Fixed with https://github.com/CompuIves/codesandbox-client/commit/54b97d9f22d13ca3a2d18cf7e102a7af26ff758b

[2018-04-07 14:04] #664 closed

[2018-04-07 14:06] CompuIves commented on #674
That's even better! Good suggestion.

[2018-04-07 14:15] CompuIves commented on #672
I added an expiration to all chunks of a day, that should fix filling up the storage and preventing updates!

[2018-04-07 14:15] #672 closed

[2018-04-07 16:49] ArStah commented on #631
Agree on that

[2018-04-07 17:40] CompuIves commented on #693
Yap! You're right, I fixed it with this commit: https://github.com/CompuIves/codesandbox-client/commit/4ce8eb63f6c5db52e0f1b2eeef9e8b6582455248. Thanks for the headsup!

[2018-04-07 18:03] CompuIves commented on #631
Agreed as well, would someone be interested in opening a PR for this?

[2018-04-07 18:04] CompuIves commented on #460
Confirmed to be fixed!

[2018-04-07 18:04] #460 closed

[2018-04-07 18:33] jdonor commented on #631
Sounds good. Are we using something for icons already? FontAwesome, etc.

[2018-04-07 19:43] 4mitch opened #704 "Adding Reagent / ClojureScript project support"
Thank you for such great project!
I am wondering if you has plans for adding **Reagent ClojureScript** support?
Since Reagent is based on React but in the same time is using very different base language ClojureScript which compiled to JavaScript, it will be very interesting to have ability to use you magnificent project to compare projects on both them.

I just thought that since there are such in

[2018-04-07 20:53] MartinKolarik commented on #693
👍

[2018-04-07 21:12] sompylasar opened #705 "With a circular dependency, `TypeError: Cannot redefine property` from the bundler"
https://codesandbox.io/s/61zjk5n05k?module=%2Fsrc%2Findex.js

[code]

<img width="1440" alt="screen shot 2018-04-07 at 2 10 05 pm" src="https://user-images.githubusercontent.com/498274/38460388-95187eec-3a6d-11e8-9146-c7e6f10d5710.png">

[2018-04-07 21:21] sompylasar opened #706 "New file, New directory buttons are missing on Android (touch screen)"
Repro video from the phone sent over Twitter DM to @CompuIves – also reproducible in Chrome DevTools Device Emulation.

[2018-04-07 22:35] CompuIves commented on #706
Hmm, is this still the case? I thought I fixed this yesterday and can't reproduce the issue at this moment.

[2018-04-07 22:46] CompuIves commented on #705
Interesting, I'm getting a different error: (0 , _.a) is not a function.
Which is intended behavior I think since on initial run a should export {}.

I'm on a phone right now, but I can debug further tomorrow!

On Sat, Apr 7, 2018, 23:12 Ivan Babak <notifications@github.com> wrote:

[2018-04-08 00:39] sompylasar commented on #706
@CompuIves I believe I checked via DevTools and still saw it, but I went to check again from Android now and the buttons are in place. Probably the app didn't reload. Closing.

[2018-04-08 00:39] #706 closed

[2018-04-08 00:51] sompylasar commented on #705
Yes, I expected `a` to be `undefined`, this sandbox is supposed to illustrate circular dependency issue, but stumbled upon this when I finished the code on desktop.

I'm on mobile (Android Chrome) now, too, and this sandbox is stuck on the loading screen.
![screenshot_20180407-174246](https://user-images.githubusercontent.com/498274/38461724-49cf2f20-3a8c-11e8-8522-b578340d3201.png)

[2018-04-08 16:32] pshrmn opened #707 "Cannot remove default key bindings"
I'm trying to get rid of the "Toggle Sidebar" <kbd>ctrl</kbd> then <kbd>shift</kbd> binding, but even when I assign something else, <kbd>ctrl</kbd> then <kbd>shift</kbd> still toggles. The same applies to the other key bindings.

[2018-04-08 17:54] #707 closed

[2018-04-08 17:57] CompuIves commented on #707
Fixed! Thanks for letting me know 😄

[2018-04-08 17:59] CompuIves commented on #705
Hm weird, this is what I'm getting:

![screen shot 2018-04-08 at 19 58 19](https://user-images.githubusercontent.com/587016/38470717-41fcfd32-3b67-11e8-8484-479494a6b73d.png)

The earlier redefine error is certainly possible. We do Hot Module Replacement when you make changes, so in that case `a.js` could already have been evaluated before `b.js` was created. A full refresh should still give the `

[2018-04-08 18:03] CompuIves commented on #631
Yep, we're using `react-icons` for our icons 😄. http://gorangajic.github.io/react-icons/md.html

[2018-04-08 20:47] alexvictoor opened #708 "TypeScript null check is off in embedded mode"
Hello
First thanks for your work on this wonderful tool.
When codesandbox is embedded in a iframe, TypeScript null checks seem disabled. For example if I have something like below:
[code]
In the 'full screen' codesandbox I get a TypeScript warning (this is the expected behaviour) whereas there is no warning in embedded mode.

[2018-04-08 20:55] CompuIves commented on #704
Yeah this sounds like a great template to have! I'd be open for a PR adding this template. I will write documentation on how to write a custom template soon.

[2018-04-09 00:02] Infining opened #710 "Matching tag highlighting"
I find it difficult to find the matching opening/closing html tags in the editor at the moment. For ease of use, it might be useful to add functionality similar to this vscode plugin: [highlight-matching-tag](https://marketplace.visualstudio.com/items?itemName=vincaslt.highlight-matching-tag).

ps: Amazingly useful tool! Thank you so much.

[2018-04-09 14:58] CompuIves commented on #507
Yep @aadsm! If you clone this repo and run `yarn && yarn start` you should be able to access it at `localhost:3000`

[2018-04-09 15:04] aadsm commented on #507
Thanks! I figured it out in the meanwhile by reading the package.json but my raspberry pi said no :D (there’s a point in time where yarn fails). Need to find a real computer to make it work.

[2018-04-09 15:12] krimple commented on #507
Works for me on OS X. Is there a code branch with the iOS changes in it or
is it in master?

Ken

Ken Rimple
Training and Mentoring Services
Chariot Solutions
610-608-3935
@RimpleOnTech

On Mon, Apr 9, 2018 at 11:04 AM, António Afonso <notifications@github.com>
wrote:

[2018-04-09 16:10] singletoncoding commented on #699
@CompuIves has that commit been pushed that fixes this issue to the app?  I was having the same problem last night when I was streaming on twitch and someone else was coding along with  me.

[2018-04-09 16:43] CompuIves commented on #699
I pushed it, but this could definitely be a separate issue @singletoncoding. Or it could be a version mismatch, which version are you on (you can find it in the bottom left)? Approximately when did it start happening? After an undo or save or  prettify?

I'm going to do a new test run tonight, I'll keep you posted!

[2018-04-09 17:05] singletoncoding opened #714 "Delete Line key binding"
It would be nice to have a key binding that allows you to delete the current line that the cursor is in.  I normally use this a lot in most local editors that I'm working in, generally something like ctrl + D as a shortcut.

[2018-04-09 17:26] singletoncoding opened #715 "Auto-tag others in live coding session for commits"
I think it would be cool to have a feature where you can check a box when committing on the github tab to tag other people that are current live coding with you.  Perhaps an additional feature when the user joins a live coding session to indicate if they want to be able to be tagged or not, just so that they can opt out.

After others have joined and the host goes to perform a commit, there will b

[2018-04-09 17:40] singletoncoding opened #716 "Consistent Live Coding Session URL"
I was streaming last night and because of #699, I was having to refresh to see the code changes that people who joined were making.  When I did this, it kicks all of the users out of the session because a new URL is generated.  While I realize that the fix is to deal with #699, I think it would still be beneficial of there was a way to create a consistent URL that is used for live coding sessions

[2018-04-09 17:44] singletoncoding commented on #716
Another way to accomplish this that I just thought of is instead of generating a URL, just have it such that when someone navigates to your sandbox, there is a "join live coding session" button available.  An example of what sandbox page I'm talking about is this:

https://codesandbox.io/s/9y3978199o

[2018-04-09 17:45] CompuIves commented on #716
This is a good one. I think a good solution for this would be to close the session if the author has been away for ~2 minutes for example.

It would also be cool to show such a button, if the author marks the live session as 'public'.

[2018-04-09 18:30] CompuIves opened #717 "Issue Template"
It would be nice to have an Issue Template. The main information I'm missing from issues currently is: CodeSandbox version (can be found in the bottom of the sidebar) and a sandbox in which the error can be reproduced. It would also be good to know if the error cannot be reproduced when you download the sandbox locally and run it.

[2018-04-09 18:39] singletoncoding commented on #717
Perhaps additional information such as browser, browser version, OS?  I'm not sure of the architecture of code sandbox, but perhaps user OS makes a difference, such as when considering line endings.

[2018-04-09 19:04] CompuIves commented on #717
That's a good one! Would be good to have indeed.

[2018-04-09 19:59] ValentinH commented on #714
The key bindings are the same than VSCode.

You can use ⇧⌘K to delete a line on Mac (Probably something similar on Windows).

[2018-04-09 20:11] singletoncoding commented on #714
Looks like VS Code is ctrl + shift + k for vs code (https://code.visualstudio.com/docs/getstarted/keybindings#_basic-editing).  Still, I think that there is a good mix of editors that default with ctrl + d, etc, so being able to bind it would be a really nice feature.

[2018-04-09 21:01] ValentinH commented on #714
Actually, being like VSCode is not just a choice for key bindings: the editor part uses Monaco which is the editor that powers VS Code: https://github.com/Microsoft/monaco-editor

[2018-04-10 18:44] Komar0ff commented on #717
@CompuIves awesome idea!

I think it should look something like this:
{ description of the problem }
<b>Link to sandbox: [link]()</b> (optional)
### Environment
| Software         | Name/Version/Link |
| ---------------- | ---------- |
| Сodesandbox  |
| Browser |
| Operating System |

I think you can add something else😊

[2018-04-10 18:52] 4mitch commented on #704
Great! Looking forward for such doc

[2018-04-10 19:03] CompuIves commented on #717
Wow, that's beautiful @Komar0ff, definitely what we need!

[2018-04-10 19:04] CompuIves commented on #699
Hmm, I wasn't able to reproduce it yet. I'm curious, do you have a recording of the moment you went out of sync @singletoncoding? Maybe I can derive from that which action caused the loss of sync.

[2018-04-10 19:58] Komar0ff commented on #710
@Infining What is the difficulty? The highlighting of the tags is there and it works

![gif](https://user-images.githubusercontent.com/10588170/38580297-46721116-3d12-11e8-9eaf-6933fcb11377.gif)

[2018-04-10 22:22] mnm5774 opened #718 "Can't import from Github"
Hello,
My name is Marc. I'm pretty new to coding. Hopefully this is the right place for this.
I'm trying to import my existing repo on github to a new sandbox, and for some reason I always get a message similar to below.
"Something went wrong
should be at most 48 character(s)"
In the console I see a "failed to load resource: server responded with a status of 422" error.
I created a test repo and i

[2018-04-11 04:57] donysukardi commented on #673
I think it'd be better to have it inside the module itself or a derived state from module. That way, we don't have to handle file removal separately. I'm not familiar with celebral, still wrapping my head around it

[2018-04-11 07:00] singletoncoding commented on #699
This is the 2nd session now where I've experienced this issue really heavily.  It seems to correct sometimes when other save, but not always.  Below is the version that we were using:
PROD-1523365492

I plan to stream tomorrow night at 7PM CST, not sure if someone could show up that is more familiar with being able to diagnose and what to look for.  Tonight, we had a live coding session with 4 sim

[2018-04-11 08:53] CompuIves commented on #699
Ah, that's such a shame to hear! Do you know where I can find the video? I will work on this today and make sure that every sync bug gets squashed.

[2018-04-11 09:36] divyanshu013 opened #721 "Allow changing sandbox name by clicking on the title"
Currently, the title of sandbox ('multilist' in the attached screenshot) takes me to the homepage. I was thinking probably it would be good for it to instead open the project info view to edit the sandbox title or maybe allow editing it inline? I usually end up clicking the title later to realize that I got redirected to the homepage 😅.

Let me know if this makes sense to you CompuIves, will be ha

[2018-04-11 09:56] CompuIves commented on #721
This is a good UX improvement, someone else mentioned this issue last week as well and I 'fixed' it by changing the title field to `Sandbox Editor`, regardless of the sandbox title. Seems like you haven't received that update yet for some reason 🤔.

I think it makes the most sense to show 'Sandbox Editor' there, to keep consistency with Profile page (/u/:username) where we show 'Profile Page' inst

[2018-04-11 10:07] CompuIves commented on #718
Hi! Thanks for letting me know, I updated our limits to make it work with your github repository. We had a limit of maximum 48 characters in a filename, I raised it to 64.

I think the sandbox will start working of you add `parcel-bundler` to your `devDependencies` in the `package.json` in your GitHub repository.

[2018-04-11 10:07] #718 closed

[2018-04-11 10:09] CompuIves commented on #708
Hmm interesting, this is probably because I forgot to add the `tsconfig` as a value in the embed mode here: https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/embed/components/Content/index.js#L367-L377. In the app we do give the config here: https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/app/pages/Sandbox/Editor/Content/index.js#L433. I can

[2018-04-11 10:12] CompuIves commented on #699
GitHub was too optimistic haha, we need to test this more first.

[2018-04-11 10:28] #522 closed

[2018-04-11 11:40] CompuIves commented on #721
Ugh, that's probably the service worker -again. I agree with you, it's best
if we show the title. Would you be interested in opening a PR where
clicking on the title allows you to edit it (or any alternative way to
edit)?

On Wed, Apr 11, 2018, 12:23 Divyanshu Maithani <notifications@github.com>
wrote:

[2018-04-11 11:49] mdugue commented on #680
Can confirm. This happens when you try to deploy the default React-Template to `now`. For example this: https://codesandbox.io/s/1yp7l1mkxj one. Not sure what the reason is, but the now logs show repeated running of the `npm run now-start` script

<img width="820" alt="image" src="https://user-images.githubusercontent.com/894149/38614871-01729c0c-3d8f-11e8-84f2-92f140f5b026.png">

[2018-04-11 12:00] mdugue commented on #680
Actually I just realized that this is due to the `homepage` setting in `package.json` (as the log indicates). Removing this solved the problem for me.

[2018-04-11 12:07] mdugue commented on #680
@CompuIves what would be the preferred solution, simply removing the `homepage` entry from `package.json`-template or are you planning to adjust the deployment scripts?

For the first solution I could try to provide you a PR 😄.

[2018-04-11 12:32] CompuIves commented on #680
Ah that makes a lot of sense. Thanks for the clear debugging @mdugue! Seems like it's best to just remove the `homepage` field from the `new` sandbox. I think I'm only able to fix this one since I only have permissions to change the `new` sandbox. I'll add you as collaborator for debugging this issue!

[2018-04-11 12:34] CompuIves commented on #680
Hmm, to make it backwards compatible it would still be smart to remove the homepage field if template is `create-react-app`. Would you be interested in adding this logic @mdugue? We do package.json logic here:

https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/app/store/modules/deployment/actions.js#L30

[2018-04-11 12:46] mdugue commented on #680
Sure!

Von meinem iPhone gesendet

[2018-04-11 12:51] divyanshu013 commented on #721
Sure, I think I'll be able to get to it this weekend, will keep you posted here 😄

Any heads up on where to look into for this?

[2018-04-11 13:24] mdugue commented on #680
@CompuIves not sure if I can label this issue. Do I need to do sth special or could you assign this "someone is working on it"?

[2018-04-11 13:28] CompuIves commented on #680
I'll do it now!

[2018-04-11 13:29] mdugue commented on #680
Thanks.
Also, do you have instructions somewhere pointing to how to setup the github-auth-workflow for local development. As I understand this is required to be able to trigger deployments.

[2018-04-11 13:30] mdugue commented on #680
If not – nevermind – I'll figure it out…

[2018-04-11 14:51] singletoncoding commented on #699
I'm not sure if I can clip on twitch or not.  Perhaps I can.  If not, the stream is located at https://twitch.tv/singletoncoding  I'll be coding again tonight at 7 PM CST, so I'll try to grab a clip.

[2018-04-11 15:25] Infining commented on #710
Wow, do I feel like such an idiot! I was trying this by putting my cursor after the closing carrot of an html tag. Thanks for clearing that up @Komar0ff!

[2018-04-11 15:25] #710 closed

[2018-04-11 15:42] CompuIves commented on #699
I did a bigger test (1.5 hours session) with some friends today, with one friend I never had any kind of desync, but with the other friend we got desynced. It turned out that the 'desynced' friend was running on a broken build of CodeSandbox because the service worker had cached half of the assets. It was really confusing, because also other functionalities like HMR didn't work for him.

Resetting

[2018-04-11 23:27] JollyBrackets opened #723 "Add require.context for Vue automatic global component registration"
**What I'm trying to do:**
I would like to use the automatic global component registration from Vue as outlined in this [guide](https://vuejs.org/v2/guide/components-registration.html#Automatic-Global-Registration-of-Base-Components).
This approach however relies on webpacks _require.context_ method, which is outlined [here](https://github.com/webpack/docs/wiki/context#requirecontext).

**Problem*

[2018-04-12 15:38] CompuIves commented on #723
Very good request, makes a lot of sense to add this. I'm actually surprised that we didn't see this request before 😄.

If I understand the behaviour of `require.context` well enough it should work like this:

[code]

[2018-04-12 16:40] singletoncoding commented on #699
Here are a few clips that I took last night with this issue (I have no idea what is going on with the name of the url):
https://clips.twitch.tv/SolidGlutenFreeMinkFreakinStinkin - This is an example of how it had done it.
https://clips.twitch.tv/DeliciousEnjoyableChinchillaBleedPurple - This shows when the user save it corrects the desync
https://clips.twitch.tv/LightDelightfulDeerFrankerZ

None o

[2018-04-12 16:48] singletoncoding opened #726 "Ctrl + Click On Consumed class causes contents to be copied into the current file"
This is a really weird one that I seem to keep see happening.  In my code sandbox located [here](https://codesandbox.io/s/5zyj7k470n) when I have the BudgetContainer open (located in src/components/BudgetContainer/BudgetContainer.js) and I ctrl + click on the BudgetCategory component in the render method, it actually copies the contents of the BudgetCategory component into the BudgetContainer comp

[2018-04-12 16:50] singletoncoding commented on #726
Also, I forked my repo that was causing this issue for your usage, feel free to do whatever, the issue should stick around as I won't be changing that repo.

[2018-04-12 16:52] singletoncoding commented on #699
One other thing too.  People have been notifying me during these times that it tells them they do not have permissions to save, even though they have been given access.  Perhaps this is a different issue?  I know that when things get out of sync a lot, people will perform a refresh to try to get back in.

[2018-04-12 17:01] CompuIves commented on #699
Hmm, maybe there is a version mismatch. I think the desync actually happens because of the save, so I disabled that functionality yesterday.

What first happened is this: when someone saves they send the code of the module as they know it. All clients receiving this code will then set the code to what's sent if it's different.

I think the desync happens here because of a race issue.

An example s

[2018-04-12 18:45] #726 closed

[2018-04-12 18:45] CompuIves commented on #726
Fixed with https://github.com/CompuIves/codesandbox-client/commit/f8df5c136b7afb824ba5317542af908d711188b2.

[2018-04-12 20:07] singletoncoding commented on #726
I'm not super familiar with the deployment approach used here.  When an issue is resolved, is the code pushed already?  I still seem to be seeing the issue.

[2018-04-12 20:10] CompuIves commented on #726
The update has not been deployed yet, will do that within an hour!

On Thu, Apr 12, 2018, 22:07 Dustin Singleton <notifications@github.com>
wrote:

[2018-04-12 20:42] sompylasar opened #728 "Ligatures `fl`, `fi` within a monospace font in the code editor"
I noticed that the code editor uses ligatures (i.e. when two letters are glued together and occupy less space), and that looks weird for pairs like `fl`, `fi` in code where these are supposed to occupy two characters.

Is this by design?

`font-family: Menlo, "Source Code Pro", monospace;` in the `monaco-editor`:
[code]

### Actual

<img width="524" alt="screen shot 2018-04-12 at 1 35 20 pm" src="

[2018-04-12 20:47] CompuIves commented on #728
Haha, I fixed this one today already (https://github.com/CompuIves/codesandbox-client/commit/3453bbce5f1986da3e46884a5625f5b0d6fb8e5e). I'm deploying this within ~30 minutes.

[2018-04-12 20:47] #728 closed

[2018-04-12 23:56] Infining opened #729 "Misaligned Cursor In Recent Version"
### Misaligned Cursor In Recent Version
1. While working on a sandbox I got the notification to refresh after an update. Afterward ,my cursor was misaligned.
![misalign](https://user-images.githubusercontent.com/9121936/38709788-1a4d29f4-3e7a-11e8-82d4-05e73db518ba.gif)
2. Makes it difficult to type.

### Link to sandbox: [link](https://codesandbox.io/s/llw3lywnoq)
### Environment
Software | Name/

[2018-04-13 02:49] aadsm commented on #507
@CompuIves what do you mean with “your own sandbox”? I thought that was the case actually :-).
I believe the issue with your PR is that Monaco uses a textarea which will not make the cursor keys trigger keyDown on iOS :(. CodeMirror is a contenteditable on mobile to avoid that issue. You can find more about this here: https://github.com/Microsoft/monaco-editor/issues/293.

However, from my own exp

[2018-04-13 04:21] kentcdodds opened #731 "snapshots failing due to style prop differences"
Hi :wave:

So these snapshots pass locally and in CI, but not in codesandbox. https://codesandbox.io/s/249l243k5j

All the differences are in the style prop:

[code]

I'm not sure why though... Seems like a bug.

[2018-04-13 04:27] Infining commented on #729
I'm not using a custom font.

[2018-04-13 04:35] CompuIves commented on #729
Hmm interesting. I found out that you can fix it by enabling ligatures in Preferences. I will take a closer look later.

[2018-04-13 05:16] CompuIves commented on #729
I enabled ligatures again by default as temporary fix. Will take a closer look at it today!

[2018-04-13 09:53] CompuIves commented on #126
It's back when I disable ligatures on Windows (tracking #729)

[2018-04-13 16:28] Infining commented on #729
That looks to have been fixed with ligatures enabled on my end as well.

[2018-04-14 17:32] davestewart opened #733 "Webpack aliases / config"
I realise there's been a few posts on aliases, but I'm just responding to [this](https://twitter.com/dave_stewart/status/985199715124998145) tweet.

This is my sandbox:

- https://codesandbox.io/s/github/davestewart/vuex-pathify/tree/feature/demo-aliased/demo

Unfortunately, none of my webpack aliases seem to work in CodeSandbox, so the project won't compile.

Saying that, the webpack file itself

[2018-04-15 01:14] PandaSandStudio opened #734 "Github synced sandbox does not recognise that I am owner"
I synced my sandbox with github and it does not recognise that I am the owner, and when I make an edit it forks the sandbox and creates a new one with the edit which is not synced to github.

Here's the screenshot of the sandbox not seeing me as owner even though I am (it is synced with github)

![screenshot 2018-04-15 at 11 11 37](https://user-images.githubusercontent.com/28838817/38773955-2dc32f

[2018-04-15 23:11] drcmda opened #735 "Feature request: comments-section"
Forgive me if this has been asked for a thousand times, i've tried to search issues.

But that would be a major addition, because people could ask questions in there, or give hints, generally just interact with one another. I'd also love to receive input, if people are satisfied with, say, a component, or have further suggestions that could be discussed right there.

[2018-04-16 08:35] davestewart opened #737 "Vue SFC styles do not get compiled"
It seems that the styles in a Vue SFC do not get compiled into the final output.

Is this correct?

[2018-04-16 08:39] CompuIves commented on #737
Hmm, the styles should be transpiled and applied to the components (like here https://codesandbox.io/s/vue). What do you mean with 'compiled in the final output'?

[2018-04-16 09:26] CompuIves commented on #734
Hey @PandaSandStudio, that's indeed true. GitHub sandboxes are marked immutable. We have more documentation on this here: https://codesandbox.io/docs/git#base-concept.

This part explains it:

"An imported sandbox will automatically stay in sync with the GitHub repository; if you make a commit to GitHub it will reflect immediately in the sandbox. For that reason we've made GitHub sandboxes immutab

[2018-04-16 09:26] #734 closed

[2018-04-16 09:50] alexvcasillas commented on #674
PR [https://github.com/CompuIves/codesandbox-client/pull/738](https://github.com/CompuIves/codesandbox-client/pull/738) 😄

[2018-04-16 10:02] #737 closed

[2018-04-16 10:17] alexvcasillas commented on #674
Solved with #738 :)

[2018-04-16 10:17] #674 closed

[2018-04-16 13:00] wanglong167 opened #739 "local deployment document"
`npm i

npm start`

![image](https://user-images.githubusercontent.com/456516/38810314-040ab1f6-41b9-11e8-8cf9-0df3fea66b45.png)
Compilation complete 。。。。。。
Wait for ten minutes。。。No port

[2018-04-16 17:03] M-Zuber opened #740 "vue+typescript render components not working"
https://codesandbox.io/s/6n0p42o72r

I am trying to put together an example that shows a render only component, using `vue-property-decorator`

if I use a `ts` file, there are no errors about lacking generator support, but then I get `Could not find module in path: './collapsible'`

Probable I am simply missing some setup...<br>
Would prefer if there is a way to get the ts version working

[2018-04-17 04:00] TENsaga opened #741 "React Error Boundaries"
Are Error Boundaries not working with code sandbox? Or did I not write this correctly 😄

example: https://codesandbox.io/s/qxxqv1qkv4

Was staring at this for awhile, I found another sandbox with the same outcome: https://codesandbox.io/s/3yxmxw9lj5

This seems like it works, but it's a bit of a workaround: https://codesandbox.io/s/64n5k8y87k

Thanks for the amazing tool.

[2018-04-17 05:21] PandaSandStudio opened #742 "CodeSandbox crashing when running unit tests"
As soon as I open up the unit tests panel, nothing happens for a second, then it freezes for a few seconds, then the sandbox crashes and shows an empty blue screen (https://codesandbox.io/s/zlvkw42x3p)

(opening unit tests)
![screenshot 2018-04-17 at 15 18 54](https://user-images.githubusercontent.com/28838817/38850044-fa1f2a7e-4252-11e8-9ce8-2de1be34297c.png)

(screen freezing)
![screenshot 2018-

[2018-04-17 06:25] #742 closed

[2018-04-17 06:26] CompuIves commented on #742
This is a big issue, thanks for reporting this! It seems like the `expect(...).toThrow` doesn't give source mappings, which caused the jest runner to get a null exception. I added a null check to fix it. It will be live somewhere later today, depending on when I get a network connection 🙂.

[2018-04-17 06:29] CompuIves commented on #740
Hmm, I think it is fixed by changing

`import Collapsible from "./collapsible"` to `import Collapsible from "./collapsible.ts"`. Could you verify that this is the case? I will change the Vue template to also ignore `ts` extensions with resolving in the meantime.

[2018-04-17 06:30] CompuIves commented on #740
Oh, also, is it expected that the `ts` code also gets transpiled by `babel`? Just curious if I should add that step 😄

[2018-04-17 06:41] CompuIves commented on #739
Could you try again with using `yarn`? We use `yarn` because of their workspaces feature, I'm not sure of `npm` works.

[2018-04-17 06:43] CompuIves commented on #735
Good to have an issue for this open! Yep, certainly good to have a discussion around this. I'm curious what others think.

I'm certain that I want to add this feature, the main question now is 'how' to add it in the best possible way. I want to work on this starting next week.

[2018-04-17 06:51] CompuIves commented on #731
Heh that's indeed very weird... Also interesting to see that so many styles are different. Seems like `justify-content: space-around; align-items: center;` is constantly added for flex items for some reason... Maybe because it's ran for a second time in the same context?

I'll do some debugging on this!

[2018-04-17 06:54] kentcdodds commented on #731
In the meantime I removed the use of the `style` prop in those components to side-step the issue :)

[2018-04-17 08:11] PandaSandStudio commented on #742
Thanks!
Also thanks for your work at CodeSandbox -- Its a great editor and lets me prototype quickly when I don't have access to my usual computer!

[2018-04-17 08:15] M-Zuber commented on #740
adding `.ts` to the import path was what I was missing, thank you!!

the .babelrc was in there because I was trying anything too get it to work, but it is not needed

[2018-04-17 08:15] #740 closed

[2018-04-17 20:49] pbastowski opened #743 "Importing css using an import statement sometimes produces different results to linking the same css in index.html using a link tag"
It seems to me that css imports using the `import` statement in `main.js` are not working properly in CodeSandbox. However, when the same css file is linked in index.html using a `LINK` tag then everything works as expected.

See this https://codesandbox.io/s/z1610no8p

Please notice the alignment of the checkbox and the input that says "What needs to be done".  They align vertically in the centre

[2018-04-17 22:42] ryanpcmcquen commented on #204
I see that using 'Open PR' creates a branch. Is there a plan to allow naming this branch? Also, is there a plan to allow importing from branches and committing directly to certain branches?

[2018-04-18 08:29] wanglong167 commented on #739
Depend on the environment too much
![image](https://user-images.githubusercontent.com/456516/38920346-9da1cd64-4325-11e8-8a89-95e64b051897.png)

[2018-04-18 17:11] chakrihacker opened #745 "Scroll is not working in EDGE browser"
Not able to scroll through code in editor when using edge browser

[2018-04-19 09:06] davestewart opened #747 "Webpack inline loader syntax not working"
Afternoon @CompuIves

I have a need to load in the text of an SVG so I can manipulate the curves. As such, I'm trying to use the raw-loader to load in the text verbatim.

Locally, I can force the loader for the required resource using `!!raw-loader!./path/to.svg`:

- https://github.com/davestewart/vuex-pathify/blob/develop/demo/src/assets/svg/index.js

However, in CodeSandbox, rather than loading

[2018-04-20 18:17] smiller171 commented on #127
Could you not respect the eslint config files in the file tree?

[2018-04-21 08:08] singletoncoding commented on #699
It seems to still be having issues.  These were recorded on Wednesday night, April 18th:
https://clips.twitch.tv/BlatantSolidCakeBudBlast - I'm thinking that it desynced when the other person used the left arrow after creating open and close curly braces.
https://clips.twitch.tv/AntediluvianCredulousLyrebirdPraiseIt - Ignore me giving someone a hard time about how their code was breaking the appli

[2018-04-21 16:02] serranoarevalo opened #748 "Embed live sessions?"
Is it possible to embed live sessions? When I open a live session people can join it via the link but if I embed it they don't get connected to the stream or can't see the chat.

[2018-04-22 06:48] aadsm commented on #507
Here’s some more thoughts on this: from what I can see you can’t detect any of these keys (shift, alt, ctrl, cmd, cursor) on either textarea or contenteditable. CodeMirror uses contenteditable on mobile because the browser itself handles the cursor.

What is possible though is to detect “Option+<key>” and “Shift+Option+<key>” so you could potentially have different keybindings just for iOS. It wol

[2018-04-22 08:29] davestewart commented on #747
Hey, that's great! Looking forward to it!

[2018-04-23 00:10] singletoncoding commented on #699
This happened April 18th, around 10 PM CST.  Hope that helps.  I stream on Tuesday and Wednesday nights in CST time, so if it keeps happening, I'll give you another update this coming week.

I'm loving the system and really excited to get rid of the last few quirks.

I'll keep them coming as long as needed!  I just hope they help you figure out what's going on.  Let me know if there's anything tha

[2018-04-23 07:39] alexvcasillas commented on #741
I'm able to see the problem here: [https://codesandbox.io/s/m45q3lz0pp](https://codesandbox.io/s/m45q3lz0pp)

The sandbox I gave you there is an exact reproduction of [this pen](https://codepen.io/gaearon/pen/wqvxGa?editors=0010) by Dan Abramov where he shows how to handle errors in React 16 with the componentDidCatch.

Somehow the sandbox is not being able to reproduce the behaviour and we should

[2018-04-23 11:06] CompuIves commented on #741
Hmm, I'm curious if `create-react-app` locally is showing the same behaviour as CodeSandbox. We catch errors and show them in the overlay the same way CRA does. It seems like we catch the error boundary error as well, before React does. Hmmm 🤔

[2018-04-23 11:10] alexvcasillas commented on #741
Yes, that's what I'm thinking about, it has to be related to `create-react-app` because in the Dan's example, it's just the UMD version of React + ReactDOM so... I bet it has to be related to that... I'm giving a try to create-react-app right now and I'll tell you whenever I've tested it @CompuIves : )

[2018-04-23 11:44] CompuIves commented on #741
Ah yes, so I think it comes down to that we need to fix the exit button of the error overlay? I think I broke it in a recent release.

[2018-04-23 11:47] alexvcasillas commented on #741
Yes, I also think that could solve the problem :)
If you know where it is maybe it could be simple, but if you point me at the right direction maybe I could fix it for you if your so busy :)

[2018-04-23 17:30] JoshRosenstein opened #750 "Package dependencies from GitHub URLs Not Refreshing"
Hello, I am running into an issue of dependencies not updating when using gitHub URLs. For Example in Package json:
{
  "name": "foo",
  "version": "0.0.0",
  "dependencies": {
    "express": "expressjs/express",
    "mocha": "mochajs/mocha#4727d357ea",
    "module": "user/repo"
  }
}

If i make a commit on the master branch, my sandbox does not load the newest commit. I've tried removing it and r

[2018-04-23 22:37] madou opened #752 "Console logs not being redirected to console in sandbox"
![image](https://user-images.githubusercontent.com/6801309/39156681-a5c06356-479a-11e8-82d9-f664bb2a971c.png)

Thanks for the service! It's great.

[2018-04-23 23:44] tkrotoff opened #753 "Internal Server Error with empty package.json"
In this codesandbox: https://codesandbox.io/s/qk0zro1qm4, there is a package.json that when logged in I cannot delete ("Cannot delete package.json") nor edit and save ("Internal Server Error"). The package.json is empty.

When not logged, the empty package.json fails to be parsed: "Cannot read property 'parsed' of undefined"

[2018-04-24 00:42] imcodingideas opened #754 "ReferenceError: __dirname is not defined"
Hello,

I've pushed my code: https://codesandbox.io/s/xjmvj910nq and I'm getting an error: `ReferenceError: __dirname is not defined` but this works locally.

Any ideas?

[2018-04-24 01:59] gautamarora commented on #754
@imcodingideas - 👋 well, hello there!! 😄 glad to see you trying out codesandbox!

codesandbox currently only supports frontend projects, and it appears that the project you have is an electron app, right?

[2018-04-24 14:56] Dhallagan opened #756 "Double "<" opening tag after selecting template scaffold in code editor"
When creating a new module (specifically in Vue), when using the scaffolding auto complete (fuzzy search?), the original "<" tag is not being over written.  This results in the first tag repeating like so "<<".

Needs to over write rather than append.

![scaffold1](https://user-images.githubusercontent.com/10410145/39195583-24ae42f6-47ae-11e8-810e-fab54369be57.png)
![scaffold2](https://user-images

[2018-04-24 17:40] sag1v commented on #564
Is anyone working on this feature yet?
Is there something i can help with? 🙂

[2018-04-24 19:46] lbogdan commented on #756
Might be related to [monaco-vue](https://github.com/rebornix/monaco-vue) (which is the [vetur](https://github.com/vuejs/vetur) variant for the [monaco editor](https://github.com/Microsoft/monaco-editor)).

Cc @rebornix, can you please take a quick look at this?

[2018-04-24 20:39] rebornix commented on #756
It's not a monaco-vue issue. I don't know which code/repo contributes these scaffolding auto completes, but it seems they are triggered by any keystroke but didn't replace the triggering key with the target code snippet.

I'd love to help with this case if anyone points me to the code which registers this auto complete provider, thanks.

[2018-04-24 21:14] Dhallagan commented on #756
It's a Vetur issue: https://github.com/vuejs/vetur/issues/367

[2018-04-24 21:36] imcodingideas commented on #754
Hey @gautamarora thanks for explaining this to me. :) See you on slack!

[2018-04-24 21:36] #754 closed

[2018-04-25 07:42] yesmeck opened #757 "Duplicate search result"
Search `antd redux-form` shows two duplicate codesandboxes.

<img width="767" alt="screen shot 2018-04-25 at 13 54 29" src="https://user-images.githubusercontent.com/465125/39232086-be5eeb26-489e-11e8-9d40-d2af2786ff17.png">

The first result has been deleted which now recovered by @CompuIves

Looks like algolia treats two same URL with different cases as two different URLs.

The first codesandbox

[2018-04-25 09:53] CompuIves commented on #564
I think this is the perfect time to start building this feature!

No one started yet, so feel free to start @sag1v!

I think what we need is a new switch in the Project sidebar, called 'Mark as template'. When you change the switch we should do a `POST` call to

`/api/v1/sandboxes/:id/template` with body `{ "template": true/false }`. I can write the backend for it in the meantime.

The next step w

[2018-04-25 09:53] CompuIves commented on #752
Interesting, so in this case the console message you enter in the console is not sent to the sandboxes if I understand correctly?

[2018-04-25 09:56] CompuIves commented on #753
Good one! I added a commit that will fix the `Cannot read property` error. Will then check why the server is throwing.

[2018-04-25 16:32] MiguelAraCo opened #758 "404 error when committing changes to an organization github repo"
## Steps to reproduce:

- Create a sandbox based on a Github organization's repository (public)
- Make some changes
- Fill commit form
- Hit "Commit"

## Expected behavior

Loading modal appears and after a couple of seconds confirms that the commit was successful (or not).

## Actual behavior

- Loading modal appears ("Creating commit...")
- Toast appears saying: "Request failed with status code

[2018-04-25 18:24] colshacol opened #759 "File Upload "Entity Too Big""
Just wondering about upload filesize limits after this tweet by the all mighty @CompuIves last night.

https://twitter.com/CompuIves/status/988899843656568833

I've confirmed that the filesize limit is larger than the 1mb that I originally thought, but I have tested and found that I can not upload a 4.2mb file, although a 3.9mb file works just fine. I have tested these files with both drag and dro

[2018-04-25 20:52] singletoncoding commented on #300
+1, this would be a fantastic feature for code sandbox.

[2018-04-25 21:09] corysimmons commented on #300
Just mentioning Up here as I think it could work really well as well. Pinging you @tj in case you have feelings about this.

[2018-04-26 15:13] adyz opened #760 "413 Request Entity Too Large"
I want to save a 54000 lines JSON in a sandbox and I get a notification like this:

![screen shot 2018-04-26 at 18 08 51](https://user-images.githubusercontent.com/611174/39314556-2c410550-497d-11e8-988e-c6dc37c09c03.png)

I understand if you don't allow people to have such large files, but I think that the error message is kind of strange.

When I paste the JSON all works fine, but the file is no

[2018-04-26 15:13] #760 closed

[2018-04-26 15:14] adyz commented on #760
Duplicate of https://github.com/CompuIves/codesandbox-client/issues/759

[2018-04-26 15:16] MiguelAraCo commented on #758
Maybe the difference is that the fork you are creating is tied to a sandbox linked to a personal repository. And in my case the sandbox is linked to an organization repository.

Here's the info of the request/response info:

Request:
[code]

Response:
[code]

[2018-04-26 15:17] MiguelAraCo commented on #758
I don't know if the merge you referred to has already been deployed, but I just tested it again (after making a hard refresh) and it's still not working.

Still, thanks for your hard work! 😀

[2018-04-26 18:00] tlrmlr commented on #303
Would love to see this changed!

[2018-04-26 19:41] lbogdan commented on #747
Hey @davestewart , I can't reproduce this, it seems to work here: https://codesandbox.io/s/v619vmqzl5 .

Do you have another reproduction URL, as I see that https://codesandbox.io/s/github/davestewart/vuex-pathify/tree/develop/demo?initialpath=api/properties already has svg files renamed to `.svg.txt`?

[2018-04-26 20:01] davestewart commented on #747
Hey @lbogdan

Thanks for looking at this!

Hmm, that's reassuring it works.

Here's a temp branch with the originally-named svg files:

https://codesandbox.io/s/github/davestewart/vuex-pathify/tree/temp/svg/demo?initialpath=api/properties

Check `src/assets/svg/weather/index.js` for the requires.

It doesn't work for me.

Perhaps this is something to do with my webpack setup?

TBH, I don't really

[2018-04-26 21:15] lbogdan commented on #747
CS uses some kind of internal webpack configs, defined for each template (`create-react-app`, `vue-cli` etc.). This configs are called `presets` in CS slang and can be found at https://github.com/CompuIves/codesandbox-client/tree/master/packages/app/src/sandbox/eval/presets . For example, the `vue-cli` preset is at https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/sandbo

[2018-04-26 21:19] davestewart commented on #747
Ah! So that's why my webpack config wasn't running! Thanks for explaining that one :)

[2018-04-26 21:24] GingerBear opened #761 "Ctrl + Tab to switch between two files"
Thanks for creating such a great tool that makes programming much easier and accessible.

One of my pain point of writing code on codesandbox is that, switching between two files is not very easy using keyboard shortcuts (like Ctrl + Tab on most editor). I need to use mouse to select the other files, or use cmd + p and type the file name.

[2018-04-26 22:10] lbogdan commented on #747
After a bit more digging around, it seems that .svg files are imported as binary from github, meaning that they actually contain the URL (e.g. https://rawgit.com/davestewart/vuex-pathify/c0cb454cb7dc341727ad562c5227fcda7158d4b5/demo/src/assets/svg/travel/balloon.svg ) instead of the actual SVG text contents, so `require('!raw-loader!./path/to/file.svg')` is working, but the file contents is wrong

[2018-04-27 17:50] sag1v commented on #564
@CompuIves Ok, i just started the process [you can take a look](https://github.com/sag1v/codesandbox-client).
I hope it will go as expected as i never used `mobx` nor `Cerebral` :thinking:

[2018-04-28 03:44] hemanth opened #762 "'return' outside of function"
<img width="665" alt="screen shot 2018-04-27 at 11 41 03 pm" src="https://user-images.githubusercontent.com/18315/39391625-547011ea-4ac4-11e8-9a35-664b1c20c686.png">

[here](https://codesandbox.io/s/o5wr6x8z2z) is the code.

[2018-04-28 06:35] rajatvijay commented on #346
@CompuIves is the syncing with GitHub one way only.

I mean, I manually changed the README on GitHub using their online editor but the change is not reflecting on my sandbox. Is there a way I can do a `git pull`?

[2018-04-28 09:08] OllieJennings opened #763 "Scrolling in the iFrame doesn't work in Safari"
Safari version: 11.0.3

No matter how large the content is inside of the iFrame, you cannot scroll.

MacOSX 10.12.6

[2018-04-28 13:50] hemanth commented on #762
@lbogdan from the error it looks more like a babel issue.

[2018-04-28 15:12] donavon opened #764 "Dank dat font"
Following up on this [Twitter thread](https://twitter.com/donavon/status/989921196681695234).
Let's make the [Dank Mono](https://dank.sh/) font available in CodeSandbox! 🙌

![image](https://user-images.githubusercontent.com/887639/39397886-54567946-4ad4-11e8-838d-cb8b072a204f.png)

cc: @kitten

[2018-04-28 15:58] krajasekhar opened #765 "Mongoose not transpiling correctly"
Getting error 'mongoose.model is not a function' with a simple mongoose function. Checked many existing sandboxes and everywhere it is throwing the error with mongoose. Please check the below sandbox.
https://codesandbox.io/s/9zpv1v0oyo

[2018-04-28 16:07] lbogdan commented on #765
Hey @krajasekhar,

It's probably not possible to make `mongoose` work fully in a browser - hence not in CodeSandbox. This https://unpkg.com/mongoose@5.0.16/lib/browser.js is the file that's used when importing `mongoose` in a browser context, and it doesn't seem to have a `.model`.

[2018-04-28 16:35] lbogdan commented on #759
The limit in nginx is 5MB (`client_max_body_size 5M;`), but considering files are transferred in base64, the maximum file size can be anywhere between 4-5MB, depending on its contents.

Now, about the errors (cc @CompuIves ):
* we should have a descriptive error, something like `File too large, upload file size limit is 5MB`, probably returned from https://github.com/CompuIves/codesandbox-client/b

[2018-04-28 17:09] lbogdan commented on #759
You can test it here http://pr766.cs.lbogdan.tk/s/new by forking and trying to upload a file larger than 5MB. The error notification should look like this:
![](https://bogdanl.tinytake.com/media/75461f?filename=1524935206675_28-04-2018-08-06-42.png&sub_type=thumbnail_preview&type=attachment&width=422&height=103)

[2018-04-28 17:39] lbogdan commented on #628
Added in #683 .

[2018-04-28 17:39] #628 closed

[2018-04-28 20:44] lbogdan commented on #597
Hey @vvo ,

Unfortunately it's very hard to synchronise loading of external resource scripts with sandbox code execution. A workaround would be to wait for the script to load (in this particular case, wait until the global `instantsearch` is available on `window`) before running your code.

I made a naive example implementation here https://codesandbox.io/s/wk26r3qo3l , please take a look and let

[2018-04-28 20:49] lbogdan commented on #752
Hey @madou ,

Can you please give us more details, like how to reproduce this, what's the expected behaviour, what's the actual behaviour etc.?

[2018-04-28 21:35] lbogdan commented on #743
Hey @pbastowski ,

That's pretty much an issue with how CSS rules apply depending on the styles loading and evaluation order. In your case the material icons font has to be loaded before Vuetify styles (otherwise font's `.material-icons` class will override Vuetify's `.icon` class, changing `display` from `inline-flex` to `inline-block` and messing the checkbox alignment). When one css is loaded f

[2018-04-28 22:41] lbogdan commented on #741
@TENsaga , @alexvcasillas
Take a look at http://pr768.cs.lbogdan.tk/s/qxxqv1qkv4 , it should work as expected. You can close the error overlay by clicking on the **x** close button or by pressing ESC. I also made it translucent, so you can peek *behind* it.

@CompuIves Btw, we forked from `react-error-overlay` 1.0.10 and not it's already at 4.0.0. :smile:

[2018-04-29 09:16] lbogdan commented on #729
I'll close this for now, please re-open if you encounter any more issues.

[2018-04-29 09:16] #729 closed

[2018-04-29 10:11] lbogdan commented on #747
Made a naive approach to fix this here #770 . You can test your branch with the originally named svg files here http://pr770.cs.lbogdan.tk/s/github/davestewart/vuex-pathify/tree/temp/svg/demo?initialpath=#/api/properties .

[2018-04-29 10:39] lbogdan commented on #756
Fixed by @rebornix in https://github.com/rebornix/monaco-vue/commit/c637f980230397904f5cdf077c3dcfe677bf24c3 , I opened #771 to upgrade `monaco-vue` to `0.2.3`. You can test it here http://pr771.cs.lbogdan.tk/s/vue .

[2018-04-29 11:08] davestewart commented on #733
Aha, well that makes sense!

How much of a stretch would it be to have some kind of webpack config merge, if not for entire configs then at least certain blocks (aliases, plugins) ?

[2018-04-29 11:13] adrienharnay opened #772 ""regeneratorRuntime is not defined", goes away when running in local"
Hey,

Again, thanks a lot for Codesandbox, which is an awesome project!

I've been running into a weird issue lately, where my project has an error when I run it in Codesandbox: https://codesandbox.io/s/y36r9vxr6z

[code]

but when I download it and run it locally (Open Codesandbox > Download > yarn > yarn start) I have no error. I also have this in [my library entry point](https://github.com/Brig

[2018-04-29 11:16] lbogdan commented on #733
If you think about it, `webpack.config.js` is evaluated in a Node.js context, which would be quite hard to *emulate* inside the browser. To take the example of your project, here's what's needed for the aliases to get evaluated:
[code]
so we'd have to mock `path.resolve()`, `__dirname` and only execute code related to aliases.

Also webpack plugins are pretty much out of the question, as the CS bu

[2018-04-29 11:26] lbogdan commented on #772
If you import the regenerator runtime first thing in `index.js` like here https://codesandbox.io/s/71x6570zl6 it should work. Not sure why it works locally, though.

[2018-04-29 11:27] davestewart commented on #733
Thanks for the reply, and I expected an answer like this. I didn't preempt it in my question at all as you guys have a much more complete understanding of the build process than I.

Does CS do everything inside the browser!? I thought at least some of it would need to be done on the server. Pretty amazing if so.

What would you think of something like an "alias" section in the settings? A develope

[2018-04-29 11:33] adrienharnay commented on #772
Yeah but the point is to not bother the user with this, by importing it in my library instead (which I did).

[2018-04-29 11:35] lbogdan commented on #733
Yes, everything in CS runs inside the browser.

The alias section is a good idea worth exploring, with the only drawback that you'll have to manage your aliases in two places. We'll have to think about where it should go and how defining aliases should look like.

If you want to read more about how CS works, I would recommend the awesome articles written by @CompuIves on Medium https://medium.com/

[2018-04-29 11:42] lbogdan commented on #772
You're right, that's why I marked this as a `workaround` for now. 😄 I'll take a better look at this and let you know.

[2018-04-29 11:43] adrienharnay commented on #772
Alright, thank you very much! I'll keep digging too :)

[2018-04-29 13:48] stackninigi opened #773 "Could not fetch dependencies, please try again in a couple seconds: Your key is too long"
Hi, I'm trying to publish my code using codesandbox. I pushed it to github(https://github.com/stackninigi/haveiseenit). It works fine on my localmachine but I cannot get it running on codesandbox. Firstly I changed entry point in package.json to point to src/index.js as there were some issues with my webpack configuration. Then codesandbox was not able to see my devDependencies, so I moved them al

[2018-04-29 14:04] lbogdan commented on #773
Hey @stackninigi , thanks for your report!

That error is most probably because there are way too many dependencies. Can you leave in `dependencies` only the packages you're directly importing in your project (like `react`, `react-icons` etc.), and move the rest back to `devDependencies`? Don't worry if it won't work in CS, from there I'll be able to debug it further.

[2018-04-29 14:10] lbogdan commented on #773
Here's a working version https://codesandbox.io/s/k0w29kn4w5 (it still gives some React / browser warnings, but that's not a dependencies issue).

[2018-04-29 15:14] lbogdan commented on #750
Hey @JoshRosenstein , can you please give us a link to your github repo and the corresponding sandbox so that we can take a look at what's happening? Thanks!

[2018-04-29 15:37] stackninigi commented on #773
Hi, thank you for your help. Previously I had majority of them in devDependencies but codesandbox seemd to have some issues with fetching them. Also I can see that in codesandbox provided by you React dnd and scss doesn't work. As for styling my guess would be that it's because my webpack is ignored. Can I add webpack for codesandbox? And do you have any idea why react dnd doesn't work while the s

[2018-04-29 16:10] CompuIves commented on #773
Heylo @stackninigi! At this moment CodeSandbox only supports unejected CLIs, like `create-react-app` and `vue-cli` for example. This is the reason that we're not picking up the `webpack.config.js` yet. This functionality is currently in the works, but is not here yet.

[2018-04-29 16:15] CompuIves commented on #750
Hmm yes, I think our cache is flawed in this case. I believe we cache by branch name but should cache by commit sha. So before we request the dependency we need to find the latest commit sha and add it to the branch (`master#e49ajf` for example). This will make our cache slower but fixes this issue.

A workaround for now is to add the hash manually to the branch name @JoshRosenstein, I can take a

[2018-04-29 16:27] #631 closed

[2018-04-29 16:27] lbogdan commented on #747
Yeah, the PR was more to illustrate the idea, not necessarily to be merged. Reopened.

[2018-04-29 16:28] CompuIves commented on #764
Yasss!! So I'm not 200% sure how this would work, would we have something like a webfont that only works on codesandbox.io domain?

[2018-04-29 16:29] CompuIves commented on #763
Could this one be related to #102?

[2018-04-29 16:32] CompuIves commented on #346
Hey @rajatvijay, do you have a link to the GitHub repo? The sandbox should automatically sync with the latest changes, but sometimes there's a race condition where GitHub still gives old content for the new sha I think. I've had 2 other reports over the past time that a sync didn't happen.

The solution would be to create a new blank commit and push, then the latest changes should reflect automati

[2018-04-29 16:32] CompuIves commented on #761
Good one! I like this addition.

[2018-04-29 16:34] CompuIves commented on #303
Yes absolutely, I think we should just remove the whole size listener from the sandbox (which adds the relative).

So we use the size listener to measure the size of the sandbox for eg. auto sizing Medium posts, however it seems like it pollutes the sandbox. I'm curious if there's a way to find the size of the content without any body changes.

[2018-04-29 16:36] CompuIves commented on #758
This is super good information @MiguelAraCo, we indeed need to add an extra check whether the user is part of the given organization. I'll give a closer look at it this week.

[2018-04-29 16:41] #759 closed

[2018-04-29 16:44] CompuIves commented on #204
This part is already done, just open the branch in GitHub and open that URL in CodeSandbox again.

Yes, that's a good one to add. Would you be interested in opening a separate issue for this?

[2018-04-29 16:46] CompuIves commented on #204
Agreed, we'd need to extend the rights to also have control over private repos. Which is absolutely possible, but imposes some extra checks we need to make (like th 2FA check).

That would work, but we'd require the user to install something locally and it wouldn't work anymore for eg. iPads. So I'm not 100% sure how much the feature then would be used. Still worth exploring more though.

I'll clo

[2018-04-29 16:46] #204 closed

[2018-04-29 16:47] CompuIves commented on #754
I'll open a PR to add `__filename` and `__dirname` to the globals, it seems like Webpack is doing the same I think.

[2018-04-29 17:07] #741 closed

[2018-04-29 20:05] kitten commented on #764
@Compulves right now I have an obfuscated version here: https://dank.sh/static/dmvendor.css

The ligatures in that one don’t work right now, but I’m trying to figure that out. I’m trusting people not to include it elsewhere as I think everyone’s got the decency for that :)

[2018-04-29 22:36] TENsaga commented on #741
@lbogdan right on, looks great! Thanks for digging into this.

[2018-04-30 04:34] stackninigi commented on #773
Hi @CompuIves, thank you for the information.

[2018-04-30 08:26] OllieJennings commented on #763
Yeah i think so?

[2018-04-30 15:06] adrienharnay commented on #772
It seems Codesandbox is picking the `module` field of my libary's package.json, while in local the `main` field is used.

[code]

My es build seems to be broken, which causes the error. Still a bit weird that it doesn't work the same in Codesandbox as in local imo

[2018-04-30 15:34] lbogdan commented on #772
Hm, how did you reach that conclusion? On my side I see it resolves just fine:
[code]

[2018-04-30 15:38] adrienharnay commented on #772
Mmmhhh indeed, I jumped to this conclusion but was wrong.

I tried importing from `@brigad/redux-rest-easy/lib`, `dist`, and `es` in Codesandbox; none of them work. Locally, all of them work. I'm a bit lost on what is going on here...

[2018-04-30 15:50] lbogdan commented on #772
Hm, but shouldn't everything in `lib` be ES5?! Right now I can see `import`s and `export`s there: https://unpkg.com/@brigad/redux-rest-easy@2.8.5/lib/index.js .

[2018-04-30 16:02] adrienharnay commented on #772
Mmhhh you are indeed right, so the difference comes from Codesandbox transpiling node_modules I guess. Thanks for your help, I will fix my `lib` build!

[2018-04-30 16:02] #772 closed

[2018-04-30 16:24] lbogdan opened #775 "[Bundler] Modules from which symbols are re-exported are not returned in "requires" field"
If moduleA is re-exporting symbols (or the default export) from moduleB using `export { default as someName } from './moduleB'`, moduleB does not appear in moduleA's `requires`.

### Example:

Bundle: https://s3-eu-west-1.amazonaws.com/dev.packager.packages/v1/combinations/brigad-redux-rest-easy@2.8.3%2Bnormalizr@3.2.4%2Breact@16.3.2%2Breact-dom@16.3.2%2Breact-redux@5.0.7%2Bredux@4.0.0%2Bredux-thu

[2018-04-30 16:27] pbastowski commented on #743
Hi @lbogdan

Thanks for the explanation.

There must be a difference in the load order of css chinks between CodeSandbox and the same app bundled and served by vue-cli 3. With vue-cli I don't get this problem. Only in CodeSandbox.

[2018-04-30 16:40] lbogdan commented on #773
I'll close this for now, please re-open if you have any more related issues.

[2018-04-30 16:41] lbogdan commented on #773
I'll close this for now, please re-open if you have any more related issues.

[2018-04-30 16:41] #773 closed

[2018-04-30 16:48] lbogdan commented on #773
@stackninigi Sorry for deleting your comment, wanted to delete one of mine, but clicked on yours instead. Unfortunately I see there's no way to undo that. :confused:

@stackninigi said:

[2018-04-30 16:53] lbogdan opened #776 "[Presets] Add @vue/cli 3.0 preset when it'll be released"
Just a reminder issue to add a `@vue/cli` 3.0 preset when it will be released (it's currently 3.0.0-beta.9).

[2018-04-30 16:59] lbogdan commented on #743
We currently only support the legacy `vue-cli` 2.x template. We'll add `@vue/cli` 3.0 support as soon as it's released. I opened a reminder issue here #776, you can follow it if you want to be notified.
I'll close this now, please re-open if you have any more related issues.

[2018-04-30 16:59] #743 closed

[2018-04-30 17:13] lbogdan commented on #721
@divyanshu013 As dev is actually using the production API, you can copy the JWT auth token from `https://codesandbox.io`'s local storage to `http://localhost:3000` (its key is `jwt`). **Be careful with how you handle the token**, as anyone that has access to it can login as you.

![](https://bogdanl.tinytake.com/media/757524?filename=1525108254414_30-04-2018-08-10-50.png&sub_type=thumbnail_preview

[2018-04-30 17:39] divyanshu013 commented on #721
Thanks @lbogdan :)

[2018-04-30 20:09] pbastowski commented on #743
@lbogdan
Thanks

[2018-04-30 20:11] CompuIves commented on #763
Hmm yes I'm curious what happens if you either update Safari or add the code mentioned in the other issue. I'll also do some more checks

[2018-04-30 20:12] CompuIves commented on #764
Cool great! I'll add it now!

[2018-04-30 22:48] juanda99 opened #778 "json syntax error"
It throws syntax error if json props or values are not double quoted. Could it be set somewhere?

[2018-04-30 22:52] lbogdan commented on #778
Hey @juanda99 ,

Not sure I understand, props are supposed to be double quoted as per JSON standard, and quoting of values depends on their type. Can you give us more details regarding your issue?

[2018-04-30 22:56] juanda99 commented on #778
I prefer not to use quotes for props and just single quotes for values (when required).
I can config it with eslint, see https://eslint.org/docs/rules/quote-props
But I can't see they way to do it here (I can't find eslint) and I don't think prettier has that option.

[2018-04-30 22:59] lbogdan commented on #778
If we're talking about .json files, you can't really do that.

[2018-04-30 23:06] juanda99 commented on #778
ok, thank you!

[2018-04-30 23:06] #778 closed

[2018-05-01 02:49] rajatvijay opened #779 "Support for a terminal"
@CompuIves
There are many reasons for an inbuilt terminal and biggest of them is freedom. Is this in the plan for future releases?

[2018-05-01 02:52] rajatvijay commented on #346
@CompuIves

I cant since I am unable to do a `git satsh` or remove all the current changes that I don't want to push to the repo.

[2018-05-01 07:57] OllieJennings commented on #763
I will try adding in the code first, then do an update tonight

[2018-05-01 10:57] sag1v commented on #564
@CompuIves Did you take a look? let me know if this is going in the write direction...

[2018-05-01 11:54] lbogdan commented on #502
@Haroenv Closing this for now, as it seems fixed. Please re-open if you have any more related issues.

[2018-05-01 14:01] lbogdan commented on #174
Closing this as we can now load scripts and style-sheets from `index.html`.

[2018-05-01 14:01] #174 closed

[2018-05-01 14:55] JoshRosenstein commented on #750
@CompuIves
10-4, i can just make a temp branch for each update, i'd rather do that than publish each time.
However, i am not having luck with the "package": "username/package#branch" syntax .

[![Edit codesandbox-client/issues/750](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/040zjo8rrp)

[2018-05-01 14:59] lbogdan commented on #750
@JoshRosenstein Hm, should that sandbox error or something? Because it seems to work here.

[2018-05-01 15:10] JoshRosenstein opened #782 "Feature request: Search Personal Sandboxes and/Or Sort by Updated Date"
This would be super helpful. Currently, have to scroll page by page for a sandbox that has been created a while back but is frequently updated. Allowing to just sort by updated date will help, but search functionality for personal boxes would be best. Also, when using the general search, you cannot search for your private or unlisted boxes. Current workaround is bookmarking and searching bookmarks

[2018-05-01 16:06] JonShort commented on #23
For others which find this issue after searching something like 'React devtools codesandbox' and need a workaround - You can now use the React DevTools by opening the iframe in a new window:
![image](https://user-images.githubusercontent.com/21317379/39480728-008447be-4d61-11e8-9f22-f505ddbb9f42.png)

Then use the DevTools on the new tab 👍

Thanks to [Kent C Dodds](https://github.com/kentcdodds) f

[2018-05-01 16:09] lbogdan commented on #731
@kentcdodds @CompuIves
Seems like there's an issue with the snapshots? For example, for test no. 12, the snapshot is
[code]
but if I run it locally, go to `/12/final` and take a look at the html it's actually
[code]
It looks like, locally, jest's snapshot renderer is stripping CSS attributes related to flexbox.

[2018-05-01 16:19] lbogdan commented on #23
And for those who search for "vue devtools codesandbox", this also works for Vue! :slightly_smiling_face:

[2018-05-01 16:48] radi-cho opened #783 "Add section with featured quotes/organizations/events"
It will be good to has section on the home page above the Patron part with organizations, websites, events that use CodeSandbox. Its purpose will be to show new users that CodeSandbox is already popular between developer communities. For example the [React Finland](https://react-finland.fi/) speakers [used](https://twitter.com/mweststrate/status/989043014990487552) CodeSandbox and you can feature

[2018-05-01 16:58] radi-cho commented on #783
Example: "Who is using [Jest](https://facebook.github.io/jest/)?" section
![image](https://user-images.githubusercontent.com/12954909/39483081-ee4ba2d6-4d79-11e8-8084-cbc3a79f6922.png)

[2018-05-01 17:31] davestewart commented on #747
Hey @lbogdan @CompuIves - did this get deployed?

I'm getting the original behaviour still:

- https://codesandbox.io/s/github/davestewart/vuex-pathify/tree/master/demo?initialpath=api/properties

[2018-05-01 17:40] lbogdan commented on #747
Hey @davestewart ,

Unfortunately the PR was reverted because it broke backwards compatibility - in `vue-cli` webpack template (and even other webpack templates, like `create-react-app`) importing image assets should return a string containing their URL (using `url-loader`). So I don't really see how we could do this now, without having configurable loaders.

[2018-05-01 18:05] davestewart commented on #747
That's a shame, thanks for the info though.

One for the feature list!

[2018-05-01 18:08] lbogdan commented on #747
But instead of using a webpack loader, knowing that when you import an .svg you get its URL, can't you load its contents on the application side?

[2018-05-01 18:30] CompuIves commented on #783
But yeah, I think this is one of the best things to have at this moment! Would you be interested in opening a PR for this? Then I can send a list of companies and projects using CodeSandbox with some quotes. I've been meaning to add the @kenwheeler quote for some time now.

[2018-05-01 19:14] radi-cho commented on #783
I can do it in my free time, but I'm not sure is there more of it this week, so if there are people who can do it faster let them do it...

[2018-05-02 13:53] borm opened #785 "React scripts is not found on cdn.jsdelivr.net"
Steps to reproduce

1. go to [codesandbox](https://codesandbox.io/)
2. choose create new react box

![image](https://user-images.githubusercontent.com/4027842/39527042-1ff807f2-4e29-11e8-8d3e-ddba2b2b9231.png)

[2018-05-02 16:39] ElliotPsyIT commented on #611
Using IE11 to bring up a codesandbox demo [Vue-Highcharts Demo](https://codesandbox.io/s/jjyqvv0k13), I ran across this error (below).  No problem viewing the demo on Chrome.  Also, the codesandbox.io URL also seems broken on IE11 - I get a quick page flash, and then a frozen black page.

Is it me?

![image](https://user-images.githubusercontent.com/1060159/39536661-e5f6950e-4dfc-11e8-9a55-21f5035

[2018-05-02 16:47] lbogdan commented on #785
Hey @borm , thank you for the report!

This error is expected (it's a feature, not a bug :slightly_smiling_face: ), and it's caused by [monaco-editor](https://github.com/Microsoft/monaco-editor), the default editor used by CodeSandbox, as it tries to load TypeScript definition files (notice the `.d.ts` extension, also the definitions are, by default, found in a separate typings package named `@typ

[2018-05-02 16:49] lbogdan commented on #785
You can also turn off the automatic download of typings using the "Automatic Type Acquisition" setting in your preferences.

[2018-05-02 16:49] #785 closed

[2018-05-02 17:00] lbogdan commented on #611
Loading the homepage I get `Object doesn't support property or method 'find'` in the console, which seems to suggest a missing polyfill (for `Array.find()`, specifically). I'll reopen this until we take a look at it.
Out of curiosity, what is your use case for still using IE11?

[2018-05-02 17:15] ElliotPsyIT commented on #611
I work for the U.S. federal government and within our internal network IE11 is the standard installation.  Chrome is being allowed as an optional download, but I can't rely on that for apps.

[2018-05-02 17:34] borm commented on #785
Hey, okay, can you set `CodeMirror` as default editor until the error with monaco is eliminated?

And if you can, please show me where i can change default editor

[2018-05-02 17:39] CompuIves commented on #785
Note that that error message is only to notify the user, it doesn't change
behavior since it's caught. I'm not sure if it makes sense to change the
editor for a console.error statement.

You can change the editor in preferences, you can find preferences in the
header under your user menu.

On Wed, May 2, 2018, 10:34 borm <notifications@github.com> wrote:

[2018-05-02 17:40] CompuIves commented on #611
We automatically check if new.codesandbox.io works with a test suite. Maybe
something goes wrong with the Vue template and IE11. I have a hunch where
that could be, I can take a look today and hopefully fix it!

On Wed, May 2, 2018, 10:15 elliotfielstein <notifications@github.com> wrote:

[2018-05-02 17:44] lbogdan commented on #611
@CompuIves While looking around the homepage I've noticed we're not using polyfills there - Gatsby only loads some polyfills it needs, like the Promise one, but no Array methods, so the homepage is broken in IE11.

[2018-05-02 17:54] taylorham commented on #277
Pretty sure this one's safe to close. I haven't been able to replicate it since opening the issue.

[2018-05-02 17:54] #277 closed

[2018-05-02 18:32] lbogdan commented on #611
Fixed the homepage in #786 , @ElliotPsyIT can you please test it at http://pr786.cs.lbogdan.tk/ ? Thanks!

[2018-05-02 19:10] ElliotPsyIT commented on #611
Unfortunately, since I'm testing within our network I'm unable to access that URL ...

![image](https://user-images.githubusercontent.com/1060159/39544050-802c94a6-4e12-11e8-88d7-08cf730132ad.png)

[2018-05-02 21:51] lbogdan commented on #301
Fixed in #360 .

[2018-05-02 21:51] #301 closed

[2018-05-02 21:58] lbogdan commented on #329
Added in #571 .

[2018-05-02 21:58] #329 closed

[2018-05-02 22:02] lbogdan commented on #349
Closing this since there was a major UI refactor meanwhile and the layout selector was removed.

[2018-05-02 22:02] #349 closed

[2018-05-02 22:07] lbogdan commented on #361
Closing this since there was a major UI refactor meanwhile.

[2018-05-02 22:07] #361 closed

[2018-05-02 22:09] lbogdan commented on #365
@kblodget Are you still struggling with those old browser versions?

[2018-05-02 22:27] kblodget commented on #365
Thank you for all the help. I can close this issue

[2018-05-02 22:27] #365 closed

[2018-05-02 22:53] lbogdan commented on #274
@CompuIves Is this still an issue?

[2018-05-02 23:00] lbogdan commented on #415
@Peretz30 Just doing a routine spring cleanup here, do you still have this issue?

[2018-05-02 23:03] lbogdan commented on #421
@danielsegura Just doing a routine spring cleanup here, do you still have this issue?

[2018-05-02 23:08] lbogdan commented on #244
Closing as fixed.

[2018-05-02 23:08] #244 closed

[2018-05-02 23:11] lbogdan commented on #427
`@` alias added in #225 (and fixed in #769 ).

[2018-05-02 23:11] #427 closed

[2018-05-02 23:14] lbogdan commented on #209
@NikxDa , @martenbjork Do you still have this issue? If yes, can you give us an URL where this happens?

[2018-05-02 23:25] lbogdan commented on #456
Closing as duplicate of #507 .

[2018-05-02 23:28] lbogdan commented on #447
Added in #665 .

[2018-05-02 23:28] #447 closed

[2018-05-02 23:37] lbogdan commented on #462
@marcinczenko Just doing a routine spring cleanup here, are you still willing / available to work on this? I think this would be a very good encouragement for people that want to contribute, but are being put off by the apparent complexity of the project. I too plan to make an overview of how the eval manager does its magic, sometime soon.

[2018-05-02 23:41] lbogdan commented on #481
Added vanilla (Parcel) template in #593 .

[2018-05-02 23:41] #481 closed

[2018-05-02 23:50] lbogdan commented on #515
@jtheisen Do you still have this issue?

[2018-05-02 23:53] lbogdan commented on #625
Closing this as duplicate of #480 .

[2018-05-02 23:53] #625 closed

[2018-05-02 23:59] lbogdan commented on #496
@viankakrisna Is this https://www.npmjs.com/package/smooshpack what you were thinking of?

[2018-05-03 00:02] lbogdan commented on #100
Added in #685 .

[2018-05-03 00:02] #100 closed

[2018-05-03 00:02] singletoncoding commented on #699
Any update on this?  I've continued to see some behavior that has made it be hard for me to use it on stream, such as this last night (May 2nd)...

https://clips.twitch.tv/AttractiveJoyousScallionKappaRoss

[2018-05-03 00:07] lbogdan commented on #563
Aaand... we finally moved to Google Kubernetes Engine! :smiley:

[2018-05-03 00:08] CompuIves commented on #209
I found out that Medium does this for all embeds, regardless of their DNT policies. Nowadays we do follow DNT policies and disable Google Analytics when we detect that DNT is enabled. So I think this one can be closed 😄.

[2018-05-03 00:08] #209 closed

[2018-05-03 00:08] lbogdan commented on #493
Added in #685 .

[2018-05-03 00:08] #493 closed

[2018-05-03 00:12] CompuIves commented on #699
The video you just sent is perfect @singletoncoding! It perfectly a bug that I can pinpoint, it seems like the prettify on the side of the other doesn't sync perfectly.

I'm sorry for the silence on this issue by the way, I wasn't sure if there was still an issue in the latest version but now see a perfect reproduction. I'll take a look at it this week (I'm in SF right now, so similar timezone) an

[2018-05-03 00:33] lbogdan commented on #556
@bbeaumatin Are you still having this issue? I can't seem to reproduce it.
@CompuIves Was this fixed?

[2018-05-03 00:49] lbogdan commented on #583
@kpldvnpne Do you still have this issue? It's strange, because it should show warnings / errors if you comment CSS with `//`:

![](https://bogdanl.tinytake.com/media/75bdb6?filename=1525308362800_03-05-2018-03-45-57.png&sub_type=thumbnail_preview&type=attachment&width=480&height=173)

[2018-05-03 00:52] lbogdan commented on #587
Hey @diegohaz , just doing a routine spring cleanup here, does @CompuIves's comment answer your question?

[2018-05-03 00:54] lbogdan commented on #595
Note to self: this was broken for far too long, I need to look into it ASAP!

[2018-05-03 01:07] lbogdan commented on #540
@AWolf81 , @gautamarora Are you guys still seeing this? I can't seem to reproduce it here.

[2018-05-03 01:44] CompuIves commented on #556
This (https://github.com/CompuIves/codesandbox-client/pull/702) will fix it, I can finish that PR soonish.

[2018-05-03 02:01] weishijun14 opened #787 "Can't use package memoizee?"
In my new create-react-app, I install dependency `memoizee`,
then :
[code]

/node_modules/es5-ext/array/#/e-index-of.js hasn't been transpiled yet.

[2018-05-03 02:39] #787 closed

[2018-05-03 02:40] kentcdodds opened #788 "Support chalk in output"
If you check out the failing test here: https://codesandbox.io/s/7ko213ovzj

You'll see:

<img width="641" alt="screen shot 2018-05-02 at 8 37 10 pm" src="https://user-images.githubusercontent.com/1500684/39558014-b363ed3e-4e48-11e8-9d3f-4ffb59a73dc3.png">

As you can see, the output is using whatever magic they use to make colors work in the terminal, but it's not colored in the output. I'm prett

[2018-05-03 03:27] justinfagnani opened #789 "Allow script tags in <head>"
I'm trying to add script tags to load critical polyfills, but it looks like their stripped out in the preview.

See this example here: https://codesandbox.io/s/lyx2rr076q

[2018-05-03 08:42] marcinczenko commented on #462
@lbogdan Sorry about this. I was blocked by my work. I am still willing to handle that, but I am very limited in time before 14th of May. As I agreed last time with @CompuIves the task is:

Of course, if I happen to block someone with this, let me know.

[2018-05-03 09:43] jtheisen commented on #515
@lbogdan Actually no, I forgot this is still open.

A while ago Ives suggested on twitter to clear all cookies and that fixed it.

[2018-05-03 09:43] #515 closed

[2018-05-03 10:40] davestewart opened #791 "Is there a way to alias Github URLs?"
Hey Ives,

I hope you're doing well today :)

I'm using CS as the main way to demo my OS project Pathify, and I love it!

- https://codesandbox.io/s/github/davestewart/vuex-pathify/tree/master/demo

I want to add a second, simpler, demo to the project though, so the folder structure will change from:

[code]

to:

[code]

However, the problem is going to be, that the originally-shared `/s/github/.

[2018-05-03 17:09] justinfagnani opened #792 "Add ability to configure or disable compilation."
Now that browsers support native modules, we'd like to show that working in samples. We need to turn off compilation completely though.

[2018-05-03 17:41] ElliotPsyIT commented on #611
Checking again, I see no change.  It still looks like a polyfill issue on the codesandbox.io site.  I've made sure in IE11 settings to look for a new version of every page with each visit to avoid this being a caching issue. Also, I still see the same errors I posted above on the example vue-highcharts sandbox ...

Maybe something on my end now?

![image](https://user-images.githubusercontent.com/

[2018-05-03 19:06] lbogdan commented on #611
@ElliotPsyIT We didn't deploy it to production just yet, we'll let you know.

Btw, is https://codesandbox.io/s/vue working for you? It doesn't seem to work for me in IE11.

[2018-05-03 19:34] lbogdan commented on #789
Hey @justinfagnani , thanks for your report.

`<script>`s in `<head>` are already allowed, it doesn't seem that's the issue with your sandbox. I instead tried to load `webcomponents` from `unpkg.com` - https://codesandbox.io/s/n4zolm8rmm - it loads (you can see that `window.WebComponents` is defined), but I still get the same error - `Class constructor LitElement cannot be invoked without 'new'`.

[2018-05-03 19:43] lbogdan commented on #789
And this is the same, but loading `webcomponents` from the `node_modules` dependecy -https://codesandbox.io/s/0q03vy7wkv (basically your example with some `index.js` changes). You'll notice that if you comment out `webcomponents-bundle.js`, the 'scripts loaded' console log isn't showing anymore.

[2018-05-03 19:48] ElliotPsyIT commented on #611
My apologies.  And yes, that sandbox works in IE11!

[2018-05-03 20:12] luiscarbonell opened #793 "Cursor Alignment Bug"
The further right a cursor move on a line the more left displaced it becomes.

So far I've realized:
- The cursor moves every time arrow keys are pressed.
- The shift or displacement becomes smaller as I move rightward and smaller when translating leftward

Currently running CodeSandbox on ChromesOS Version 65.0.3325.209.

Attached is a picture of a full line selection of a `create-react-app` temp

[2018-05-03 20:18] luiscarbonell commented on #793
I enabled the `Use CodeMirror` Setting and it appears to fix the issue. Seems to be a problem with the `Monako` editor

[2018-05-03 22:11] AWolf81 commented on #540
@Ibogdan I re-tested my sandbox and the other mentioned sandboxes. But I also can't reproduce the behaviour in FF 59.0.3.  Test panel opens immediately and shows the results.

No error messages in the console anymore.

[2018-05-04 04:13] singletoncoding commented on #699
No undo from me, at least.  I can't speak for the other person.

[2018-05-04 06:15] bbeaumatin commented on #556
@lbogdan Yes the issue is still here, if you try to create a new React app, open the preview in a new window and inspect the DOM with Chrome Dev Tools for exemple, and you can see <head> markup in <body>.

@CompuIves Thanks for solving this soonish 👍

Btw great quality tool overall i'm using it very often and i'm always enjoying it, the live session feature is amazing. It has become my tool of cho

[2018-05-04 07:31] adrianfaciu commented on #623
I've experienced the same problem but in my case it does not load the module. I was trying to write a sample test for Angular and it does fail to load some of these modules.

Error message: "Could not find module in path: '@angular/core/testing'"

Sample can be viewed here: https://codesandbox.io/s/53pkll5ykp
There is a test file inside src/app/http that references that module.

Not sure if this i

[2018-05-04 10:06] davestewart opened #795 "[Feature Request] Share this state button"
I find when I'm sharing an SPA setup, that I want to share the current file and AND the current app page.

The sharing page is cool! But it would be cool to be able to grab the current file and preview route with the click of a button:

https://codesandbox.io/s/github/davestewart/vuex-pathify/tree/master/demo?initialpath=code%2Ftypical%2Fpathify&module=%2Fsrc%2Fexamples%2Ftypical%2FPathify.vue

[2018-05-04 12:34] lbogdan commented on #540
Ok, I'll close this for now. If you come across any related issues, please re-open.

[2018-05-04 12:34] #540 closed

[2018-05-04 12:39] lbogdan commented on #623
@adrianfaciu It's working here (well, I still get a `Cannot read property 'get' of undefined` error in `sample.interceptor.spec.ts`, but not the error you're getting). Can you give us more info about your environment (OS, browser etc.). A stack trace paste (or screenshot) would also help. Thanks!

[2018-05-04 12:50] adrianfaciu commented on #623
Initially I saw that error with 'get of undefined' also but after I refreshed the browser once it went away and could not reproduce it anymore. Instead I ended up with the one reported above.

Env:
Windows 10 Version 1607
Chrome Version 66.0.3359.139

[Stacktrace](https://github.com/CompuIves/codesandbox-client/files/1974442/codesandbox.txt)

Later today I'll be able to check this on macOS as well

[2018-05-04 15:33] ElliotPsyIT commented on #611
@lbogdan I'm curious about the problem you see with [https://codesandbox.io/s/vue](codesandbox.io/s/vue) on IE11?  For me during loading, it took a really long time to compile but finally completed and ran without error.

[2018-05-04 17:54] CompuIves commented on #793
I think we've had this issue before... Hmm, it could be related to our custom font loading later than the default font, after the width calculations of the characters are done.

[2018-05-04 17:55] lbogdan commented on #623
Also try doing a full site data clear (for both https://codesandbox.io/ and https://53pkll5ykp.codesandbox.io/ ) to be sure it's not a (service workers) cache issue.

[2018-05-04 18:46] nicknisi opened #796 "Dojo template not reporting syntax errors"
Given code with syntax errors such as

[code]

The editor is not highlighting this code as having issues (see sandbox [here](https://codesandbox.io/s/j2ynw71wlv)), but this code does get properly marked in a React-TS template ([sample](https://codesandbox.io/s/6w3knpmpy3)).

We've looked into the TypeScript worker, and `ts.transpileModule` is fed the broken code and it comes out correct, but no er

[2018-05-04 19:34] prateekbh opened #797 "🐛 Some packages' sub files are unable to be accessed"
As stated in https://twitter.com/codesandboxapp/status/992483491269890049.

I am unable to access the files inside this package.

[2018-05-04 19:48] yuchant opened #798 "Component recursion causes full project crash. Dangerous because the semi permanent crash occurs if code *ever* in this state."
Hey team,

I lost some work because my sandbox crashed for good, including in my profile page, after I was renaming some components and ended up rendering a component from within the same component.

Please help!

[code]

[2018-05-04 21:14] CompuIves commented on #798
Ahh, I'm really sorry to hear that @yuchant! Recursion is still a way fo code execution that we should fix. Do you have the sandbox id? I can make a manual change to it to make it work again.

[2018-05-04 21:16] CompuIves commented on #796
That is really weird. The Monaco editor should show an error in this case. Maybe updating Monaco first #647 makes sense.

[2018-05-05 18:17] hobbes7878 commented on #496
Just want to raise my hand here. For my team, having a browser-based editor that can bundle scripts would really change the game.

In case it's at all useful to point out a concrete use case, here's a simple one: an open source [chart builder](http://dallasmorningnews.github.io/chartwerk-editor/) we made. Chart templates are developed by designers entirely in the browser and then tweaked as users

[2018-05-05 18:41] CompuIves commented on #496
That is a perfect case for Sandpack @hobbes7878. Really nice to hear this, I will dedicate the coming week to release everything so you can start using it!

[2018-05-05 21:51] Komar0ff opened #799 "Frenzied cubes"
**Switched to another tab, and then went back and saw it:**

![image](https://user-images.githubusercontent.com/10588170/39667759-b191c24a-50c5-11e8-97da-a59d972c733e.png)
**Until I understood how to fix**

| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  | -
| Browser | Chrome/66.0.3359.139
| Operating System | Linux/4.15.15-1-ARCH

[2018-05-05 21:54] Komar0ff commented on #717
@lbogdan okay, i can do it!

[2018-05-05 23:11] yuchant commented on #798
@CompuIves it seemed to auto revert (nice feature!) or if it was your hand, thank you! This is an incredible thing you've built.

[2018-05-06 04:58] yxuchen opened #801 "[Bug report] Export to github doesn't work after changing github username"
## Description
I was modified my `GitHub` account from `forzeny` to `yxcchen`

when i was using `codesandbox` to create `react project` and  Export `Sandbox to GitHub`, Error throw `Could not find the specified repository or directory` and always show `Creating Repository...`

## Expected Behavior
Export `Sandbox to GitHub`

## Observed Behavior
Create `GitHub` rep and `readme` file, but no other

[2018-05-06 07:13] lbogdan commented on #739
Hey @wanglong167 ,

I improved the scripts a bit, and also the [documentation](https://github.com/CompuIves/codesandbox-client/blob/master/CONTRIBUTING.md#setting-up-the-project-locally), can you please try again, from scratch, and let me know if it works? Make sure you have a recent Node.js version (8.11.1 or higher) and use `yarn`, not `npm`.

[2018-05-06 07:31] babakness opened #802 "Is it possible to deploy static websites (and include "alias") using Zeit/Now?"
Hello, I tried to deploy a static site by modify package.json and by adding a now.json file both which would hint to `now` that `{ "type": "static"}` as I have no need for server rendering for a particular experiment.

However, it seems that when clicking on "deploy" both `package.json` and `now.json` are ignored. Another use for `now.json` would be to include an `alias` configuration.

Please let

[2018-05-06 07:33] babakness opened #803 "Run an npm command before deploying using Zeit (optionally static)"
Hello, this is mostly a feature request--it would be amazing if a command could be executed before doing a deploy, for example `npm run generate` which would generate static assets, then deploy from the `dist` folder statically.

[2018-05-06 15:16] canda commented on #581
Could you help me understand why would I need an enterprise license? The license included in the repo says it's free software. Do I have any restrictions if I want to host it myself inside our company?

[2018-05-07 06:53] adrianfaciu commented on #623
You were right, doing a data clear removed the module error. Modules are loaded correctly even though the red underline is there. Thanks.

However the `Cannot read property 'get' of undefined` error is a bit weird since I cannot reproduce that locally, on my dev environment. When I have some time I'll investigate it a bit.

[2018-05-07 15:28] yuchant opened #805 "Suddenly `public` folder not accessible in any projects. No images, no JSON files. Critical bug."
@CompuIves hey there, as of today the public folder for `create-react-app` projects isn't accessible. Any URL loads the index.

Seems like an emergency!

[2018-05-07 15:29] yuchant commented on #805
Seems to be affecting more than just my project.

Here's a project you pointed to to show how you can host `list.json` as a static asset: https://n74m8py83l.codesandbox.io/list.json

[2018-05-07 16:15] CompuIves commented on #805
Thanks for letting me know! Deploying fix now...

[2018-05-07 16:15] #805 closed

[2018-05-07 16:17] yuchant commented on #805
@CompuIves you're amazing! Thank you!

[2018-05-08 05:01] kamranayub opened #807 "tsconfig paths not supported?"
I am hoping to use CodeSandbox for an upcoming presentation to have an in-browser editor experience. I tried importing my (working) local TypeScript create-react-app repo: https://github.com/kamranayub/sample-react-ts-app (sandbox: https://codesandbox.io/s/n1kn3z5l9m)

When I import it into CodeSandbox, it doesn't like the tsconfig `paths` options. This is a useful feature for a lot of reasons (sh

[2018-05-08 07:26] yoonwaiyan opened #808 "Couldn't Select Dependency Version"
I was trying to play around with an older version of a React UI Framework but realized that I couldn't select the version I want to install while adding dependency. The dropdown closed immediately after I clicked while trying to select the package version.

![dependency](https://user-images.githubusercontent.com/3081772/39743665-2ffc7d36-52d4-11e8-9f79-b8f9c6587808.gif)

[2018-05-08 07:57] CompuIves commented on #808
This is very weird, it seems like this started happening with the new Chrome on OSX only. I'll do some more debugging.

[2018-05-08 08:56] CompuIves commented on #807
We don't support this yet, but is definitely aligned with one of our goals. So it'd be great to have this.

We already have alias support in the sandbox compiler, so the one thing we need to do is have a way to be able to convert a path using the `paths` object. Something like

[code]

I expect that a similar function is already somewhere out there because it's used in the local `tsc` compiler.

[2018-05-08 09:01] CompuIves commented on #581
Hey @canda,

The CodeSandbox client itself is distributed with the GNU GPLv3 license, which means that you can freely copy and distribute the client, as long as modifications are open sourced as well.

The CodeSandbox server is closed source currently, which means that self hosting is quite hard at this moment. We're still exploring options with regards to self hosting, which is why we haven't ope

[2018-05-08 12:59] NMinhNguyen commented on #581
Hey @CompuIves, I sent a message to hello@codesandbox.io, not sure if you've seen it, but I'd also like to discuss the possibility of self-hosting the CodeSandbox server :slightly_smiling_face:

[2018-05-08 13:33] grady-lad commented on #761
@CompuIves I can take a look at this one if it is still available?

[2018-05-08 14:01] CompuIves commented on #761
That'd be great @grady-lad! It's still available.

We store keybindings here: https://github.com/CompuIves/codesandbox-client/blob/master/packages/common/utils/keybindings.js. These keybindings fire signals. The signals that are important are defined here: https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/app/store/modules/editor/sequences.js#L29-L36.

Let me know if you

[2018-05-08 14:04] lbogdan commented on #761
Maybe not Ctrl-Tab, though, as that's usually the native "next tab" browser keyboard shortcut, and it might not be over-writable across browsers.

[2018-05-08 14:51] CompuIves commented on #801
Hey @yxuchen, did you also change your e-mail when you changed your username? Maybe there's something wrong with us updating the username.

[2018-05-08 15:01] CompuIves commented on #802
Hey! I think we need to manually tell the API of now to use `static` as upload method. Which shouldn't be too hard since we have the files available to infer this. We can do that here: https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/app/store/modules/deployment/actions.js#L44-L45.

[2018-05-08 15:37] yxuchen commented on #801
doesn't

[2018-05-08 20:10] #469 closed

[2018-05-08 20:31] lbogdan commented on #373
Hey @jamaldewitte , thanks for your report, and sorry for the "small" delay! :slightly_smiling_face:

So, this is an interesting one. I could trace it back to ["Class properties work differently with transform-decorators-legacy"](https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy/issues/17), and it's caused by [`transform-decorators-legacy` coming before `transform-class-prope

[2018-05-08 21:40] nicknisi opened #813 "Errors thrown when `yarn start` run"
# 🐛 bug report

## Description of the problem
The following errors are thrown when setting up a local codesandbox development environment and running `yarn start`:

[code]

## How has this issue affected you? What are you trying to accomplish?
It is unclear how to build codesandbox locally with these errors being thrown. @lbogdan recommended the following commands in Discord, which does work aroun

[2018-05-08 21:43] #813 closed

[2018-05-09 08:00] lbogdan commented on #564
@sag1v Can you please create a PR for this, as it would be easier to follow?

[2018-05-09 08:53] CompuIves commented on #373
This is a hard one. Our `new` template has one difference with CRA, which is that we support decorators. We released with this support and I realized this too late to remove it from the template. As I understand this is the cause of the error, having decorator support and class transform, right?

If that's the case there's not much that we can do currently except for waiting for either:

1. Create

[2018-05-09 09:25] CompuIves commented on #792
This is a good one, would be really cool if we could have a native module example without the setup. We already have a loader that skips transpilation in some templates (`noop-loader`), which can be enforced by running `require(!noop-loader!./test.js)`. But I believe that another requirement is that the code should be in a `script` tag with `type="module"`, right?

I think it would make most sense

[2018-05-09 09:26] CompuIves commented on #108
We got the overlay now, so I think we can close this 😄.

[2018-05-09 09:26] #108 closed

[2018-05-09 09:27] CompuIves commented on #219
We can close this with the vanilla template 😄

[2018-05-09 09:27] #219 closed

[2018-05-09 09:28] CompuIves commented on #586
We now have anchoring which returns browser to normal size in case it's not moved yet.

[2018-05-09 09:28] #586 closed

[2018-05-09 09:29] CompuIves commented on #208
This one should be fixed I believe. We fixed the `Error.captureStackTrace` but forgot to close this!

[2018-05-09 09:29] #208 closed

[2018-05-09 09:31] CompuIves commented on #381
We got `runonclick` now, which defers execution of the sandbox on click. We're also working on Sandpack, which allows you to kind of embed CodeSandbox as a component. I'm closing this one now, but we can always reopen it if there are new suggestions.

[2018-05-09 09:31] #381 closed

[2018-05-09 09:32] CompuIves commented on #544
Fixed this one!

[2018-05-09 09:32] #544 closed

[2018-05-09 09:34] CompuIves commented on #501
Ah, sorry for the late reply @den1k. The define API can only create sandboxes manually currently, to save the hassle of handling with authorization tokens.

It would definitely be good functionality to have though. We already have support of creating user sandboxes in the CodeSandbox CLI, so I don't see a reason not to support this.

[2018-05-09 09:35] CompuIves commented on #651
This one was fixed, I forgot to leave a message here though. Sorry for that!

[2018-05-09 09:35] #651 closed

[2018-05-09 09:37] CompuIves commented on #799
Ah yes, this one haha. This one should be fixed one day, but is on the low prio list for me currently 😄.

[2018-05-09 10:04] #433 closed

[2018-05-09 10:06] #796 closed

[2018-05-09 10:11] #559 closed

[2018-05-09 10:14] #595 closed

[2018-05-09 11:28] sag1v commented on #564
@lbogdan oops i was sure i created it already. anyway PR created #816

[2018-05-09 11:54] sompylasar commented on #651
@CompuIves Thanks!

[2018-05-09 11:58] kof commented on #381
So we have now a light iframe solution that renders editor and preview?

[2018-05-09 12:31] CompuIves commented on #381
I think we had this since release already (
https://codesandbox.io/docs/embedding#smallest-embed). Unless you mean
something else?

On Wed, May 9, 2018, 13:58 Oleg Isonen <notifications@github.com> wrote:

[2018-05-09 12:39] kof commented on #381
Ok so the difference now is that we don't run user code when he didn't click and runonclick is true, we would see only the editor, but its a full monaco editor initiated immediately, right?

[2018-05-09 13:00] CompuIves commented on #381
Yep! Unless you set the editor to codemirror (by setting codemirror=1),
then it will load the lighter codemirror.

On Wed, May 9, 2018, 14:39 Oleg Isonen <notifications@github.com> wrote:

[2018-05-09 13:02] kof commented on #381
Do you think we can use  a bunch of playgrounds with codemirror and runonclick on a landing page now without making it ugly slow?

[2018-05-09 22:56] SirBryan commented on #667
I'm seeing the same issue with a simple Node service running on Now (Zeit). I can send POST's to the service, but GET's and any data returned on POST's is ignored (fetch is showing CORS errors and XHTTP puts up a response status of 0 instead of 200).

[2018-05-10 03:13] nicknisi opened #819 "imports from .d.ts files are not found"
# 🐛 bug report

## Description of the problem

If a TypeScript file in CodeSandbox imports an interface from a .d.ts file it's not found and results in a `ModuleNotFoundError`.

In the following code where the `interfaces` module is actually a file called `interfaces.d.ts`, the sandbox fails when the import is actually used.

[code]

I started digging into what might be causing this. In the case o

[2018-05-10 04:08] lazyTai commented on #691
![mark](http://p7whtc26y.bkt.clouddn.com/blog/180510/5327cKFFA6.png?imageslim)
![mark](http://p7whtc26y.bkt.clouddn.com/blog/180510/Am630KE97D.png?imageslim)
![mark](http://p7whtc26y.bkt.clouddn.com/blog/180510/I31mLkHCDE.png?imageslim)
any help?

[2018-05-10 04:49] jamesopti opened #820 "Live editor updates to dependencies dont update for viewers"
# 🐛 bug report

## Description of the problem
When a live "Editor" updates the dependencies of a sandbox, the updates take effect for them but appear broken for viewers, causing the 2 to become out of sync.

If the live owner reloads the page, the live session ends.

## How has this issue affected you? What are you trying to accomplish?
Id like to watch editors add packages and not have it appear

[2018-05-10 05:43] jsonnull commented on #208
Great to hear @CompuIves, hope you're doing well!

[2018-05-10 07:31] CompuIves commented on #820
Thanks for the report! I will fix this today.

[2018-05-10 07:37] CompuIves commented on #819
Thanks for the report! Hmm, after taking a look I think that our resolver cannot infer the extension. The solution would be adding `.d.ts` to https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/sandbox/eval/presets/dojo/index.js#L14 I believe.

[2018-05-10 07:40] CompuIves commented on #819
When changing the sandbox to explicitly get the `.d.ts` I get this weird thing: https://codesandbox.io/s/px8j3xz80

[2018-05-10 07:49] yuanyan opened #821 "Rax template support"
# 🌈 Feature

Could codesandbox support rax template, rax is a universal React-compatible render engine. It works on weex and web.

Rax Example: https://github.com/alibaba/rax/tree/master/examples/hello

[2018-05-10 09:21] donysukardi opened #822 "ESLint validating against previous code instead (one char behind)"
# 🐛 bug report

## Description of the problem
It seems like eslint validation always runs against one character behind (prev state)

![image](https://user-images.githubusercontent.com/410792/39862395-4087a8d0-5476-11e8-9e3d-4d72a0a009d8.png)

## How has this issue affected you? What are you trying to accomplish?
Unable to get accurate linting errors

###  Link to sandbox: Any sandbox will do
### Y

[2018-05-10 12:56] davestewart opened #823 ""Max packages" warning for repo with no defined packages"
# 🐛 bug report

## Description of the problem

I'm getting the "Only a max of 120 modules is allowed in a sandbox" error for a repo with no defined packages:

- https://github.com/davestewart/vuex-pathify-demos/tree/test

It's actually a container for sub-folders which I will be running separately on CodeSandbox, but want to group with an index page.

## How has this issue affected you? What are y

[2018-05-10 13:40] davestewart opened #824 "Erroneous "Cannot find the specified entry point" message"
# ❔ Question

I have a subfolder in my main repo with demo files, that I run via code sandbox:

- https://codesandbox.io/s/github/davestewart/vuex-pathify/tree/master/demo

This runs just fine.

However I've decided to move all the files to a new repository, and instead host an HTML page which shows links to the new repo.

Unfortunately, the updated folder + package does not seem to want to displa

[2018-05-10 13:55] nicknisi commented on #819
Ah, ok I did look into adding the extension in the preset and I also get the same error. I'll continue digging into why. Thanks for the help!

[2018-05-10 14:08] jamesopti opened #825 "🌈Allow "anonymous" account access to LIVE editing"
# 🌈 Feature

When using the LIVE feature, it would be great to be able to send out live links for editing without requiring the recipient be logged into Github.

I came from using [webpackbin](https://github.com/cerebral/webpackbin) where it was really easy to allow anonymous access.

When navigating to a LIVE link shared with you by a Patron, editing should be enabled via the link without having

[2018-05-10 14:11] jamesopti commented on #822
+1 I've noticed this too. But it seems to be more than just "1 character behind"

I'm unable to fix the lint error here even by adding/removing the semicolon or adding and removing a character from the string itself:

<img width="720" alt="screen shot 2018-05-10 at 7 09 49 am" src="https://user-images.githubusercontent.com/3718812/39874001-62d3a45c-5421-11e8-9635-f6ba0b591115.png">

[2018-05-10 14:28] lbogdan commented on #823
Hey, @davestewart ! `modules` here actually refers to files, so error means that you have more than 120 files inside your github repository.

[2018-05-10 14:35] davestewart commented on #823
Oh! Is there any way round that?

[2018-05-10 14:36] lbogdan commented on #717
Thanks to @Komar0ff , we now have different templates for bugs / features / questions. Good job!

[2018-05-10 14:36] #717 closed

[2018-05-10 14:41] #456 closed

[2018-05-10 14:43] lbogdan commented on #421
Closing this, as there was no reply in a while, so I'm assuming it's solved. If not, please reopen.

[2018-05-10 14:43] #421 closed

[2018-05-10 14:47] lbogdan commented on #823
Not at this time, as far as I know. But I think I saw @CompuIves talking about increasing the limits for patrons.

[2018-05-10 14:55] davestewart commented on #823
OK, thanks for the info :)

[2018-05-10 14:55] lbogdan commented on #127
Hey @chakrihacker , I saw that you closed the PR, are you still working on this?

[2018-05-10 15:05] lbogdan commented on #592
@acdcjunior @gautamarora @joeynimu Tab names look ok to me now, was this solved meanwhile?

[2018-05-10 15:12] lbogdan commented on #121
Closing this as duplicate of #609 .

[2018-05-10 15:12] #121 closed

[2018-05-10 15:13] lbogdan commented on #567
Closing this as duplicate of #609 .

[2018-05-10 15:13] #567 closed

[2018-05-10 15:17] lbogdan commented on #194
@CompuIves Is this deployed?

[2018-05-10 15:41] lbogdan commented on #177
Looks like the Monaco editor was updated meanwhile.

[2018-05-10 15:41] #177 closed

[2018-05-10 15:44] lbogdan commented on #63
Closing as duplicate of #47 .

[2018-05-10 15:44] #63 closed

[2018-05-10 15:48] lbogdan commented on #799
Closing this as duplicate of #452 .

[2018-05-10 15:48] #799 closed

[2018-05-10 16:32] CompuIves commented on #194
Deployed!

On Thu, May 10, 2018, 17:17 Bogdan Luca <notifications@github.com> wrote:

[2018-05-10 16:32] CompuIves commented on #592
I fixed it.

On Thu, May 10, 2018, 17:05 Bogdan Luca <notifications@github.com> wrote:

[2018-05-10 16:33] CompuIves commented on #823
I think we can safely raise the limit to 150 since we moved to kubernetes.
What do you think @lbogdan?

On Thu, May 10, 2018, 16:55 Dave Stewart <notifications@github.com> wrote:

[2018-05-10 16:33] #592 closed

[2018-05-10 16:39] lbogdan commented on #823
I can't say I have a clear image of the impact. :slightly_smiling_face:

[2018-05-10 16:46] chakrihacker commented on #127
Nope, you can take it

[2018-05-10 17:27] davestewart commented on #823
Just for interest's sake, my repo seems to be 169 files.

[2018-05-11 06:57] hackerxian opened #827 "'yarn start' throw errors"
# 🐛 bug report

## Description of the problem
I use yarn start, now throw this error

[code]

I can not see use 'react-hot-loader' in codesandbox-client/packages/common/utils/badges

### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
|yarn  | 1.6.0|
| Node  | v8.11.1|
| Operating System |Mac|

[2018-05-11 07:01] lbogdan commented on #827
Hey, @dickeyxian ! Can you please share the whole output, including the one for `yarn`?

[2018-05-11 07:02] Loilo opened #828 "# 🐛 Vue Template Keeps Refreshing"
# 🐛 Vue Template Keeps Refreshing

## Description of the problem
Just opening the [Vue default preset](https://codesandbox.io/s/vue) sends the browser into an infinite refresh loop in the preview.

I've used an incognito window, tried different browsers (Chrome, Firefox, Safari) but the behaviour is the same everywhere.

Console does not show anything, I've captured the screen including DevTools w

[2018-05-11 07:12] dickeyxian commented on #827
@lbogdan

[code]

[2018-05-11 07:19] lbogdan commented on #827
Ok, try this: do a clean `git clone`, run `yarn` inside of it, and paste the output.

[2018-05-11 07:41] CompuIves commented on #828
Looking at this now!

[2018-05-11 07:42] dickeyxian commented on #827
@lbogdan By the way, I  removed 'packages/homepage' in package.json, because install dependencies -  gatsby image compile too slow. this will be impact??

[2018-05-11 07:50] dickeyxian commented on #827
removed 'packages/homepage' in package.json, and run yarn
[code]

[2018-05-11 07:57] AlessandroAnnini opened #829 "Add GitLab integration"
# 🌈 Add GitLab integration
It should work just like the Github integration

[2018-05-11 07:59] lbogdan commented on #827
I did the same (clean clone, remove packages/homepage, yarn, yarn start), and I got the same error as you, so removing homepage breaks the app.

[2018-05-11 08:18] CompuIves commented on #828
It's fixed, I'll deploy something today to make sure it won't happen again!

[2018-05-11 09:38] HackAfro commented on #802
I'll like to take a stab at this. Will changing the deploymentType to `static` solve this? @CompuIves

[2018-05-11 09:45] JoshRosenstein commented on #750
@lbogdan  Sorry missed your comment, yeah, i had a copy of the package.json, that wasnt working, I updated the real package.json now to show the issue. Resolving Dependencies Loops..

[2018-05-11 09:52] CompuIves commented on #802
That will fix it @HackAfro! I'd greatly appreciate the help 😄! Please check `CONTRIBUTING.md` to find out how sign in works in local environment (we will make this easier in the future).

Also, let me know when you have any questions of course! 😄

[2018-05-11 10:56] HackAfro commented on #802
No problems. Working on this.

[2018-05-11 10:58] borm commented on #785
![image](https://user-images.githubusercontent.com/4027842/39921367-4793db32-5523-11e8-8058-8af2222b679a.png)

What wrong? https://codesandbox.io/s/4xq2qpzw79

[2018-05-11 11:40] CompuIves commented on #824
Hey! I think you need to add another `demo` to the end of the path to make it work!

https://codesandbox.io/s/github/davestewart/vuex-pathify/tree/feature/demo/demo

[2018-05-11 11:52] davestewart commented on #824
BOY, DO I FEEL STUPID!!!

* facepalm *

Thanks :D

[2018-05-11 11:52] #824 closed

[2018-05-11 17:37] niwsa opened #833 "eslint error"
# ❔ Is it ok to set a Date object as key value

Setting value inside h.3 throws a eslint error (Parsing error unexpected token).
However the code works perfectly.
![image](https://user-images.githubusercontent.com/3107922/39938005-1bc5253c-556f-11e8-9874-5ec12a7346bd.png)

###  Link to sandbox: [link](https://codesandbox.io/s/x23rn3rw5z) (optional)
### Your Environment
| Software         | Name/Ve

[2018-05-12 13:29] #820 closed

[2018-05-12 13:33] #822 closed

[2018-05-12 18:53] the0neWhoKnocks commented on #556
@CompuIves Any traction on your PR? Looks like the last commit was Apr 7, but there are `test-integrations` errors on the PR.

@lbogdan It's definitely still an issue. Currently I'm adding ids to link tags so I can clean them out of the body.

[2018-05-13 08:44] deadcoder0904 opened #835 "Locally Apollo fetches Coinbase data but on CodeSandbox it gives error"
# 🐛 bug report

## Description of the problem

Locally it fetches the data from [this Coinbase Launchpad](https://launchpad.graphql.com/w5xlvm3vzz) but on CodeSandbox it throws an error

## How has this issue affected you? What are you trying to accomplish?

I can't show the demo to people bcz of this issue

###  Link to sandbox: [link](https://codesandbox.io/s/github/deadcoder0904/apollo-coinbase

[2018-05-13 12:25] lbogdan commented on #833
Hey, @niwsa ! Loading your sandbox, I can't reproduce this behavior. We also just deployed some eslint fixes, please try again and let us know if that fixes your issue.

[2018-05-13 12:27] lbogdan commented on #828
@CompuIves Did you do anything about preventing this issue in the future? Can we close this?

[2018-05-13 12:31] lbogdan commented on #611
@ElliotPsyIT Hey, the IE fixes were just deployed, and, at least for me, the [Vue-Highcharts Demo sandbox](https://codesandbox.io/s/jjyqvv0k13) is working smoothly. Please test (the homepage should work fine, too) and let us know.

[2018-05-13 12:38] lbogdan commented on #798
I'll close this, as it's now prevented to happen in the future by https://github.com/CompuIves/codesandbox-client/commit/8cfdc431c8c89cc408fc626f5527f14cecbbc9c4 .

[2018-05-13 12:38] #798 closed

[2018-05-13 13:05] lbogdan commented on #547
Closing this, as this is expected behavior, and #548 was also closed.

[2018-05-13 13:06] #547 closed

[2018-05-13 14:26] CompuIves commented on #828
Yup! Fixed this one by detecting errored caches and clearing them.

[2018-05-13 14:26] #828 closed

[2018-05-13 15:41] ElliotPsyIT commented on #611
Bingo!  I can confirm that both the codesandbox homepage and the Vue-Highcharts sandbox work fine in my IE11 testing.  Thank you so much for your kind assistance and willingness to support of IE11 (at least for now)!!

[2018-05-14 08:17] schabluk opened #836 "Add support for custom .npmrc"
# Please add support for custom .npmrc file.

This feature allows to add configuration option to NPM. For example _authToken for private pakcages.

User should be able to create his own .npmrc file in the project root directory, or it could be added to the "Configuration Files" section.

[2018-05-14 08:49] lbogdan commented on #218
@souporserious IE11 support is back!

[2018-05-14 08:51] lbogdan commented on #611
@theetrain Your sandbox should now work in IE11. I'm closing this, please reopen if you have other IE11 related issues.

[2018-05-14 08:51] #611 closed

[2018-05-14 10:09] CompuIves commented on #836
I really like this idea. We've been talking about custom npm registry support before, but I didn't think of an implementation like this. This seems like the most simple and straightforward solution to it.

[2018-05-14 10:28] CompuIves opened #837 "Bundler Web Workers"
# 🌈 Feature

We support web workers currently by placing them in the `public` folder, however they are sent 'as is'. It would be great if we'd bundle the web workers too, with something like a `worker-loader!` syntax like Webpack. This way you can import `npm` modules etc. in a web worker.

The challenge here is that we need to find a way to generate a smaller JS file with just the runtime logic a

[2018-05-14 14:32] MiguelAraCo commented on #758
Any update on this? Or is it something that can be fixed on the open source part of the codesandbox codebase? If so, if you could point me to where, I may be able to contribute with a PR :).

[2018-05-14 16:14] rdiazv commented on #513
Fake timers 🙏

`jest.useFakeTimers is not a function`

[2018-05-14 21:32] tkrotoff commented on #753
@CompuIves any news on this?

[2018-05-15 14:46] vvo commented on #597
Hi @lbogdan I never imagined it to be hard frankly because I don't know the internal code of the loading at all. But I thought since those are just script tags it could be achieved (again I am sure this is hard yes). For our own usecase yes we can find workarounds like using actual npm imports but I guess most people using external dependencies will have the same issue.

Maybe for now since it's u

[2018-05-15 15:19] YazanAabeed opened #838 "I can't open one of my sandboxes because of Maximum call stack size exceeded"
# 🐛 bug report

## Description of the problem
When I do something wrong that makes a recursion calls the site stop working without any response.

## How has this issue affected you? What are you trying to accomplish?
It not really affected me, but every time I do something wrong I need to force quit my chrome to continue working with code sandbox.

Is there is a way with vanilla JavaScript to hand

[2018-05-15 15:29] CompuIves commented on #597
Hmm, I think this should work without a workaround regardless. I was expecting that it would work on an event, I can fix this with this PR #702. Let's keep it open until that one is merged in.

[2018-05-16 00:17] winkerVSbecks opened #839 "Multiple CodeSandbox embeds crashing on iOS Safari"
# 🐛 bug report

## Description of the problem
Site with multiple CodeSandbox embeds crashing on iOS Safari.

## How has this issue affected you? What are you trying to accomplish?
I have blog post with multiple CodeSandbox embeds on a single page. This was causing my site to crash on iOS Safari. Through trial and error I discovered that if I had more than 3 CodeSandbox embeds that would cause the

[2018-05-16 02:27] winklerjenn opened #840 "Steven Hester statikx421"

[2018-05-16 02:31] winklerjenn opened #841 "https://tweeter.com"

[2018-05-16 02:32] winklerjenn opened #842 "Steven Hester statikx421"

[2018-05-16 03:27] #842 closed

[2018-05-16 03:49] winklerjenn opened #843 "Steven Hester statikx421"

[2018-05-16 06:52] lbogdan commented on #840
Closing as spam.

[2018-05-16 06:52] #840 closed

[2018-05-16 06:53] lbogdan commented on #841
Closing as spam.

[2018-05-16 06:53] #841 closed

[2018-05-16 06:53] lbogdan commented on #843
Closing as spam.

[2018-05-16 06:53] #843 closed

[2018-05-16 09:50] NullVoxPopuli commented on #442
I would also very much appreciate ember support :-)

[2018-05-16 11:55] ValentinH opened #844 "Fork button doesn't show feedback while forking"
# 🐛 bug report

## Description of the problem
Today at React-Europe, we used CodeSandbox (again) and had to fork a sandbox. However, the wifi was pretty slow and thus the fork was not immediate. Thus, it feels like it wasn't working so I clicked again (many times ^^). Then the sandbox reloaded several times with each time a new fork.

## Suggestion
Display a loader while forking or disable the but

[2018-05-16 15:53] mindplay-dk opened #845 "Code in index.ts gets run twice?"
# 🐛 bug report

## Description of the problem

My Typescript file appears to *periodically* run twice (?)

I'm getting an error like the following:

![image](https://user-images.githubusercontent.com/103348/40128208-5726073e-5931-11e8-9a7f-50519bd0608c.png)

There's only one call to `customElements.define()`, so I could not have called it twice, and there's no reason this line would somehow get ru

[2018-05-16 16:22] yuchant opened #846 "Local storage sometimes outdated without hard refresh. Should re-fetch all data if localStorage timestamp is older than server copy."
# 🌈 Feature

I have been using codesandbox for only 30 hours, and have lost my changes numerous times due to completely accidental backwards swipes. I've rewritten quite a lot of code due to accidental back navigation.

This last instance felt like at least 3+ minutes of data lost.

Codesandbox should save unsaved history into local storage as much as possible. Not a true "save" but a state save.

[2018-05-16 16:31] yuchant commented on #846
Actually, I think something else is going on with the back button.

I lost my work, started re-writing what I had lost, then tried to add a new file and got a Internal Server Error. I then refreshed, and got my original, unlost state back on reload.

This implies back->forward navigation is loading a stale state not from the server?

[2018-05-16 20:31] pkanal commented on #47
@CompuIves did you end up making an API endpoint for this? Is there anyway I can contribute or help make this feature?

[2018-05-17 02:35] marquez138 commented on #691
Same error..anyone have any suggestions?

[2018-05-17 06:45] rafael-abuawad opened #847 "Marko JS template support"
# 🌈 Feature

Add a Marko JS framework template

https://markojs.com

[2018-05-17 11:16] akki-jat commented on #646
I am getting the same error

[2018-05-17 15:19] farskid commented on #359
I'd like to help with this issue. Any particular steps to start from?

[2018-05-17 22:02] CompuIves commented on #359
Ahh that's absolutely perfect @farskid!

We're already using `styled-components` and our styles are defined in `common/theme.js`. It may be too good to be true, but maybe just changing those colors will already make it possible to create a light theme. That would be a very good start.

[2018-05-17 22:33] SirBryan commented on #667
Thanks for that reminder. It had been a while since I had to mess with headers on the *server* end...

[2018-05-18 07:14] farskid commented on #359
@CompuIves Very nice! I'll start right away and will keep this issue posted :)

[2018-05-18 08:51] ghoullier commented on #119
Hi!
Seems ReasonML support is very near 🎉

https://twitter.com/jaredforsyth/status/997148166318411778

[2018-05-18 15:54] yuchant commented on #846
I've run into this problem several times now. It seems the app is prioritizing some old localStorage state even when remote is updated.

Each time I "lose" progress, I do a hard refresh and see my updated files.

Perhaps a timestamp check is in order on load where the localStorage can be compared to the live data + re-fetch if old? Optionally only if history is in latest state.

[2018-05-18 23:09] the0neWhoKnocks commented on #692
Not sure if it's related, but I'm seeing similar behavior with enzyme. I have a `jest.config.js` file that works fine locally but seems to be ignored in the sandbox. When I inline the jest config into the `package.json` it still doesn't load the `setupTestFrameworkScriptFile` or `setupFiles` files. So I then tried to add the enzyme configuration code at the top of my test files and got more errors

[2018-05-18 23:54] babakness commented on #802
Thanks @CompuIves I've cloned this repo and did some work. While deploying `static` is pretty nice, its not as useful as being able to somehow deploy the compiled / bundled version as static. Ultimately, one works in a dev environment to make rapid changes; yet we deploy the optimized build. Static build can benefits from easier global distributions on CDNs.

It would really be a game changer to w

[2018-05-19 04:31] edm00se opened #848 "Unable to Load Private Sandbox on iOS"
I’m on iOS 11.3.1 (latest stable) and in mobile Safari, navigating to an existing, private sandbox (“only you can see the sandbox”), I end up at the “not found” page.

Possibly related to #630?

[2018-05-19 04:34] edm00se commented on #848
As an aside, but possibly related, I wound up at the same not found page on attempting to start a new sandbox from a GitHub repo (specified branch w/ /tree/... in url), also on iOS.

[2018-05-19 13:36] bjankord opened #849 "Support CSS modules in imported npm packages"
# 🌈 Feature

# What is this feature?
I'd like to be able to run SCSS files / CSS files through CSS modules when included in an imported npm package if the file ends in `.module.scss` or `.module.css` similar to a feature @ro-savage added to create-react-app v2 branch.

## Opt-in only
The feature would be entirely optional and a user would have to explicitly opt in by using the naming convention an

[2018-05-19 19:18] shovelend commented on #296
Bitbucket support would be amazing 👍 Great demo on the React-Europe conf!

[2018-05-20 10:51] drcmda commented on #274
@CompuIves I was just about to open an issue, then i saw this ... I've noticed it for a while now and it's still there. I tried to capture it, but i'm not sure if it's visible there:

![perf](https://user-images.githubusercontent.com/2223602/40278137-c370a2f8-5c2b-11e8-82c2-7ff2f23f1813.gif)

The editor gets really janky, though, the embed is fine.

I tried to profile it and the only difference i

[2018-05-20 11:35] CompuIves commented on #274
That's very interesting. I'm curious what the cause could be of longer composite layer drawing in the editor vs the embed, maybe the amount of elements or the amount of css on a page? I think that @tkh44 has done some research on this.

If we know the cause and can fix it we will get a muuch smoother editor experience.

[2018-05-20 11:36] CompuIves commented on #848
Hmm, I think this one isn't related. Are you signed in when you try to access the sandbox on IOS?

[2018-05-20 11:39] CompuIves commented on #849
I think this one shouldn't be too hard to add 😄. We can add a check for `.module.css` and automatically export css modules, this would also work on `node_modules`.

I think it would make sense to add this to the `create-react-app` template as soon as CRA v2 is officially released, to prevent confusion. So let's keep this one open until then!

[2018-05-20 11:43] CompuIves commented on #846
Hmm, that is interesting. We don't put any files of the editor in the `localStorage`, we only do this for caches by our bundler.

OH, I think that I know what it could be! Our Service Worker caches API responses, so if you load a sandbox without internet connection it will load the latest known version of the sandbox, which can be older. Hmm, yes, this is indeed bad behaviour, because it can behav

[2018-05-20 11:43] CompuIves commented on #119
Yep, starting to work on it now again!

[2018-05-20 12:12] johann-sonntagbauer commented on #119
@CompuIves is there anything I can support you with?

[2018-05-20 12:50] edm00se commented on #848
I was, but Interestingly enough, I did have to sign back in a couple of times. Specifically, I would log in, go to my profile, tap on the sandbox, get the “not found page”, go back to my profile/sandbox page, then sign in again. I tried to see if it would be consistent in that fashion, but I wasn’t able to confirm that.

[2018-05-20 12:54] bjankord commented on #849
Sounds good, can you also add a check for `.module.scss` [similar to CRA v2](https://github.com/facebook/create-react-app/pull/4195/files#diff-a7f98c18479be87c9f33e7604dbd1a09R53) when it rolls out.

[2018-05-20 18:11] hobbes7878 commented on #496
@CompuIves Just to say we're still eagerly checking in every now and again on sandpack. Can't wait to kick the tires once it's ready!

[2018-05-20 20:13] #556 closed

[2018-05-20 20:13] CompuIves commented on #597
Fixed in master, will be deployed either this evening or tomorrow morning.

[2018-05-20 20:13] #597 closed

[2018-05-20 20:13] CompuIves commented on #303
Fixed in master, will be deployed either this evening or tomorrow morning.

[2018-05-20 20:13] #303 closed

[2018-05-20 20:14] CompuIves commented on #556
Fixed in master, will be deployed either this evening or tomorrow morning.

[2018-05-21 08:36] FDiskas commented on #692
Did you tried to install https://www.npmjs.com/package/enzyme-adapter-react-16 and https://www.npmjs.com/package/enzyme
?:goat:
It works if you add all configuration to each test file
https://codesandbox.io/s/vm6xrzp0y7

[2018-05-21 13:16] the0neWhoKnocks commented on #692
@FDiskas yeah I tried that, but that's not a solution when jest has `setupTestFrameworkScriptFile` built in. Also, even after doing that, a lot of tests didn't work due to the usage of mock and useFakeTimers. It'd be nice if in the meantime, codesandbox would display a message saying "sorry, these testing features aren't available" or "these tests have been disabled due to lack of api support". So

[2018-05-21 15:23] canda opened #851 "Jest tests not auto running when modifying .spec file"
When modifying a component spec, the tests doesn't run automatically as it does when I modify the component. Not even if I save the file.

To run the tests I either need to click on the run tests button or modify the component file.
It's a bit confusing because there is a flashing on the ui that gives the feeling of the tests having run again but they actually don't and the output message is from

[2018-05-21 17:50] FDiskas commented on #692
@the0neWhoKnocks so lets wait for https://github.com/CompuIves/codesandbox-client/issues/513

[2018-05-22 09:39] zkwsk commented on #836
Would love to see this feature too!

[2018-05-22 18:03] yakotika opened #852 "After I got out of your profile, then I need to refresh the page to return to the main menu"
# 🐛 bug report

## Description of the problem
After I got out of your profile, then I need to refresh the page to return to the main menu. Otherwise I just have a black screen

[2018-05-23 10:41] CompuIves commented on #808
Just deployed a fix for this!

[2018-05-23 10:41] #808 closed

[2018-05-23 11:51] CompuIves commented on #467
#467 Will allow you to create your own aliases by defining them on the `alias` field in `package.json` on the `vanilla` template!

[2018-05-23 14:00] vvo commented on #597
You 🤘

[2018-05-23 14:24] yuche commented on #467
Great job! keep up the good work. 👍

[2018-05-24 11:14] mikael1000 opened #855 "Crash over and over on exact same point"
# 🐛 bug report

## Description of the problem

I'm following this tutorial:

https://www.youtube.com/watch?v=HjToX1WWE3w&list=PLcCp4mjO-z98WAu4sd0eVha1g-NMfzHZk&index=2

And at the time mark 15:52 he copies a line and paste it under. I did not do that, I tried to write it but the whole thing just freezes over and over at the exact same point. I write:
**import RightPane from '.**   ...and there it

[2018-05-24 13:39] splincode opened #856 "Could not fetch dependencies for relative package"
# 🐛 bug report

https://github.com/splincodewd/client-logger/tree/sandbox
https://codesandbox.io/s/github/splincodewd/client-logger/tree/sandbox

I use a library relative to the root
package.json

[code]

Could not fetch dependencies, please try again in a couple seconds: Could not fetch version for @splincode/client-logger@file:./lib/: ENOENT: no such file or directory, open '/var/task/lib/packag

[2018-05-24 18:07] dekz opened #857 "Differences when running Parcel, parcel-bundler typescript locally versus in CodeSandbox"
# 🐛 bug report

## Description of the problem
Parcel with parcel-bundler and typescript produces different results when executed locally versus in the codesandbox.

Imports work correctly when ran locally but in Codesandbox they return undefined.

![sandbox](https://media.discordapp.net/attachments/446901265348296705/448526351855517696/unknown.png)
![local](https://cdn.discordapp.com/attachments/4

[2018-05-24 18:11] wordofchristian opened #858 "Can't search for sandboxes that use a specific dependency"
# 🐛 bug report

## Description of the problem

In the [Search](https://codesandbox.io/search?refinementList%5Btemplate%5D=&page=1) screen I want to search for sandboxes using the dependency `reas`. I can't accomplish this through the UI however because the dependency selector seems to only prioritize results by popularity and the result I'm looking for is not listed:

<img width="344" alt="capture

[2018-05-24 23:18] bcbrian opened #860 "Not able to import private github repos"
# 🐛 bug report

## Description of the problem
Unable to import private github repo.
The website says [here](https://codesandbox.io/docs/git#base-concept) that "any" github repo works. It would be nice if you are a patron that your could edit private repos.
This PR https://github.com/CompuIves/codesandbox-client/pull/859 helps clear it in the docs.
## How has this issue affected you? What are you t

[2018-05-25 12:41] pbastowski commented on #440
Is it possible to add code colouring for the PUG code in Vue components?

Currently it looks like this:

![image](https://user-images.githubusercontent.com/5649024/40544579-17f45012-6029-11e8-9ae9-5e055b606ae2.png)

I would expect the code to be coloured, something like this (the colours are from another editor):

![image](https://user-images.githubusercontent.com/5649024/40544678-70ffda78-6029-11

[2018-05-25 23:51] DTrejo commented on #802
@babakness one idea: set up CI to do the build & deploy to now for you? One risk: not sure how easy it is to set up CI to do that for you. If you figure something out let me know? (I haven't tried this myself yet)

[2018-05-26 03:28] babakness commented on #802
Hey guys, I have an easier way, although it can be improved once GitLab support arrives.

GitLab has CI tools and task runners via Docker that can be triggered on `push` to a particular branch, let's say `master`. You can sync your repo to GitHub and then automate the push to GitLab, which will build your project. From there you can publish via GitLab and serve through CloudFlare.

Another route i

[2018-05-27 09:54] SimeonC opened #861 "Crashing the editor on creating an undefined variable reference"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?
I'm just playing with code and the editor will become unresponsive.

In the linked sandbox go to line 82 and change it to `const { isSelectedw } = this.props;`
Wait for a few seconds and the page will crash/hang.

###  Link to sandbox: [https://codesandbox.io/s/y2my7x547v](https://c

[2018-05-27 16:52] anasshad opened #862 "Internal Server Error for Project Imported from Github"
# 🐛 Internal Server Error for Project Imported from Github

## Internal Server Error when I tried to import a project from github. The project works fine when I import it on c9.io so theres nothing wrong with the project.

###  Link to sandbox: https://codesandbox.io/s/github/anasshad/aqsashad-

[2018-05-27 21:32] alejo4373 opened #863 "Imposible to get to Preferences through the GUI"
# :bug: Bug
First of all thanks for the awesome work. Codesanbox has been a great resource for me personally and lots of my classmates learning to code.

I was wondering if you guys just forgot to put a way to get to Preferences through the GUI where you can set stuff like editor mode or keybindings, or I just couldn't find it.

I found [this](https://codesandbox.io/changelog/#key-bindings) googli

[2018-05-28 12:04] OllieJennings commented on #763
So am finally on latest everything, Safari 11.1, MacOSX 10.13.4 and the scrolling still doesn't work in the iframe, it doesn't work either if using the code mentioned in the issue above

[2018-05-28 19:47] unleashit commented on #364
@gautamarora just tried your link in both Chrome and Firefox and for me it's stuck forever on "Running Test Suites...". In my own sandbox, the problem happens as soon as I add setupTests.js. When I take it away, tests work again except its impossible to import from Enzyme. Maybe a recent update to Codesandbox broke things?

[2018-05-28 20:48] fzaninotto opened #864 "Ability to change template"
Currently, whether I create a sandbox from the ui, from a GitHub repo, or from the CLI, a template is chosen for me (e.g. create-react-app, parcel). But the detection is sometimes wrong (e.g. creating a sandbox from https://github.com/marmelab/react-admin/tree/master/examples/simple detects it as "create-react-app", which is wrong), or we may want to change our minds.

So the ability to switch to

[2018-05-29 03:32] some-code opened #865 "Vue sandbox is not work well"
# 🐛 bug report

## Vue is not work
## How has this issue affected you? What are you trying to accomplish?

###  Link to sandbox: [showcase code](https://codesandbox.io/s/r9xnqv57m)
### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  | vue
| Browser |  chrome65
| Operating System | win10 x64

[2018-05-29 07:02] cloggy45 opened #866 "Component tests no longer work."
# 🐛 bug report

## Description of the problem

When using Enzyme and Jest to run component tests they generate the following message
[code]

## How has this issue affected you? What are you trying to accomplish?

Unable to run component tests.

###  Link to sandbox: [link]() (optional)

[sandbox](https://codesandbox.io/s/qv5vl50j1w)

### Your Environment
| Software         | Name/Version|
| ------

[2018-05-29 19:57] georgschlenkhoff commented on #300
@CompuIves you just need to add one LOC (a simple if file exists statement) to make this feature (deploy e.g. Express app) work. Problem now is that codesandbox overrides my `package.json`:

[code]

Especially `now-start` becomes `cd dist && serve ...`. Solution: When deploying to Zeit, you should ask if a `scripts.now-start` property exists inside `package.json`. If yes, do not write the extra li

[2018-05-30 13:10] miukimiu opened #869 "Question: Is the React-app-rewired supported?"
# ❔ Question

Thank you for this awesome project! 🎉

I'm trying to override the create-react-app webpack configs using the **react-app-rewired**.  In the **package.json** I changed the scripts start, build and test to use **react-app-rewired** instead of **react-scripts**.

The reason to do this is that I want to override, using the file `config-overrides.js`, some LESS variables from the "antd" l

[2018-05-31 02:41] xucongli1989 opened #870 "Can it switch to white theme?"
Can it switch to white theme? I don't like the black theme.

[2018-05-31 14:31] CompuIves commented on #793
Related issues: #729.

[2018-05-31 14:53] CompuIves commented on #870
Not yet, but we already have an issue for this here! #359

[2018-05-31 14:53] #870 closed

[2018-05-31 14:53] CompuIves commented on #869
Thank you very much! You have a very valid use case, it's currently not yet possible but we're working currently on making it work. So expect it somewhere in the coming days to work 😄

[2018-05-31 15:53] CompuIves commented on #863
Ahh I see what you mean. You can find preferences under the user menu, which probably is not the first place where you'll look for this haha. I'll create a fix for this now.

[2018-05-31 15:55] CompuIves commented on #863
Fixed with last commit, will deploy later today.

[2018-05-31 15:55] #863 closed

[2018-05-31 15:55] #866 closed

[2018-05-31 16:08] alejo4373 commented on #863
Yes, it wasn't intuitive to click on the user profile photo to get to the user menu you mentioned.
Thank you though!

[2018-05-31 19:52] Saeris opened #872 "Feature Request: Support Node.js Server Development in Parallel with Client"
## What is this feature?

This feature would allow users to write and run Node.js servers that would run in parallel with their client application. For example: a GraphQL API server which can be queried by a React client application, both running in the same sandbox.

## How the feature should work?

Not sure how this could be supported in CodeSandbox's environment, but in my own projects I use `n

[2018-05-31 19:57] Saeris opened #873 "Feature Request: Add a Gatsby Template"
## What is this feature?

As the title says, create a new template for building Gatsby based sites within CodeSandbox!

## How the feature should work?

I would expect the template to work similar to the existing templates. It would be ideal if it could detect and use `gatsby-config.js` to allow users to customize their site similar to how they would in a local development environment.

[2018-05-31 20:02] Saeris opened #874 "Feature Request: Add Netlify Deployment Option"
## What is this feature?

This feature would allow users to deploy to services other than ZEIT Now, such as Netlify.

## How the feature should work?

It would vary per deployment service target. As far as Netlify goes, I would take a look at their CLI deployment process: https://www.netlify.com/docs/cli/

[2018-05-31 23:57] alistair-hmh commented on #764
OMGAWESOME

[2018-05-31 23:58] F1LT3R commented on #764
OMGAWESOME

[2018-06-01 08:20] miukimiu commented on #869
Thanks! Keep up the good work! 😄

[2018-06-01 08:20] #869 closed

[2018-06-01 10:39] georgschlenkhoff commented on #485
Monaco does not support Vim mode.

[2018-06-02 01:36] riwu opened #875 "Feature Request: Allow project to be unlinked from account"
I want the list of sandboxes under my profile to contain only important sandboxes (for easier access).
Please add a button to allow a sandbox to be dissociated from account, so that I can remove inactive sandboxes from my profile (rather than having to delete them).

[2018-06-02 01:48] riwu opened #876 "CLI not uploading anything"
# 🐛 bug report

## Description of the problem
CLI did not detect JS files.
I couldn't find the files it claimed to be uploading (`.DS_STORE`, `favicon`) on my profile too.
[code]

### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  |  1.2.10
| Browser |  Chrome Version 67.0.3396.62 (Official Build) (64-bit)
| Operating System | macOS Sierra 10.1

[2018-06-02 02:59] jbolda commented on #793
This was happening to me on a Chromebook. Enabling CodeMirror or enabling ligatures both seemed to resolve it.

(I had a hard time finding this thread as my keywords were not turning up results so for others, a few more keywords: cursor position was off, cursor misalignment / misaligned.)

[2018-06-02 13:43] javiersvg opened #877 "Angular styles.css not being loaded"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?
The styles of my angular application loaded from github are not being loaded.
As you can see from the console in the sandbox the styles from src/styles.css are not being loaded, even though they are defined in the angular.json file. Sometimes a dependency issue rices but reloading t

[2018-06-02 13:54] vp93 commented on #877
You need to include the stylesheet in the <head> element of your index.html. Adding '<link rel="stylesheet" href="styles.css">' in the first line in <head> solves the problem.

[2018-06-02 18:30] emersonlaurentino opened #878 "CLI url homepage"
# 🐛 bug report

## Description of the problem
The url of cli on homepage is broken
## How has this issue affected you? What are you trying to accomplish?
Can't find CLI repository
###  Link to sandbox: [link]() (optional)
### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  | 0.1.0
| Browser | Chrome@66
| Operating System | Ubuntu@18.04

[2018-06-02 21:18] javiersvg commented on #877
I updated the code to reflect this but the issue is still there. It can still be seen in the same link. Maybe I am doing something wrong. The head tag inside the index.html looks like this:
[code]

[2018-06-04 07:51] yxuchen commented on #801
@CompuIves Tell me you email address, I can provide my `GitHub` account and password to solve this problem .i hope that it can solved quickly 😭 😭 😭 😭 😭

[2018-06-04 08:05] PandaSandStudio opened #880 "Upgrade to TypeScript version 2.9"
# 🌈 Feature

Upgrade to TypeScript 2.9 (Expecially in the react-ts template)

TypeScript 2.9 should be supported (or the latest version / the one at https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-8.html)

This would allow people to use the `Extract`, `conditional types` and many other features of typescript 2.8+

Update: upgrading to the latest version of typescript (3.0+)

[2018-06-04 09:41] davestewart opened #881 "Cannot read property 'Expression' of undefined"
# 🐛 Bug report

## Description of the problem

In a couple of sandboxes now, I keep getting this error when compiling Vue projects:

[code]

###  Links to sandboxes

- https://codesandbox.io/s/2pn9rnnx0j
- https://codesandbox.io/s/github/davestewart/vuex-pathify-demos/tree/master/simple

### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  | Onli

[2018-06-04 11:19] CompuIves commented on #881
I'll take a look at it now!

[2018-06-04 11:31] CompuIves commented on #877
Hey @javiersvg! Changing the path from `src/styles.css` to `styles.css` should do the trick in the HTML file. I noticed that you're using Angular 6, we don't officially support Angular 6 yet, but I'll look into adding support soon!

[2018-06-04 11:33] CompuIves commented on #876
Hey! I think your `NODE_ENV` is set to `development` by default, because it's trying to upload to our staging server. I'm now publishing a `1.2.11` to use another env variable for it.

[2018-06-04 11:33] #876 closed

[2018-06-04 11:37] yxuchen commented on #801
@CompuIves yes, i was update my pwd and re sign in and solve this problems thanks 😀

[2018-06-04 11:37] #801 closed

[2018-06-04 11:48] CompuIves commented on #881
Hmm, I'm afraid that I cannot fix it right now. The fix is very easy though, if you remove:

[code]

from the `package.json` we will see it as a `vue-cli: 2.0` project and it will work.

[2018-06-04 11:48] CompuIves commented on #881
I'll keep this open to track my progress on vue v3 support.

[2018-06-04 11:50] davestewart commented on #881
That's great!

Thanks Ives, hugely appreciated as always.

[2018-06-04 12:38] davestewart opened #882 "Cannot read property 'toString' of undefined"
# 🐛 bug report

## Description of the problem

Quite a simple project, get the following error:

[code]

This is the same sandbox as #881 but ported to a Vue CLI 2 project.

The CS UI shows `core/ui/UiButton.vue` as being the problem file:

![image](https://user-images.githubusercontent.com/132681/40917724-1e7b0c70-67fc-11e8-8d47-33548a4ea7f2.png)

The import chain (I'm globally registering the UI

[2018-06-04 12:40] philholden opened #883 "CodeSandbox VPN private mode"
# 🌈 Feature
If a sandbox is tagged as VPN private then no files are exposed to CodeSandbox servers. Allows people to use CodeSandbox to develop and present on a corporate network without exposing code and packages.

**MVP**

- public packages can be loaded from public npm as normal
- private packages can be loaded from git repo (or tar) via https

[code]

- bundles and filesystem stored to IndexDB

[2018-06-04 12:47] #878 closed

[2018-06-04 12:57] vp93 commented on #877
I should have been clearer. You need to add the code exactly as I mentioned it into your head tag.
You are referencing `src/styles.css` which is an absolute path, so your are technically referencing `src/src/styles.css` . You need to reference the relative path which is `styles.css` .

[2018-06-04 13:04] CompuIves commented on #882
Ooh I think I know what it is. Stupid mistake on my side. It seems like our
bundler has problems with empty style tags, as soon as you add something in
the tag it should work.

On Mon, Jun 4, 2018, 14:39 Dave Stewart <notifications@github.com> wrote:

[2018-06-04 13:19] davestewart commented on #882
I decided to just remove the empty style tags, and FYI the error does not always show in the component that is the cause of the error.

In my case:

- if A, B and C had empty style tags
- and are imported in that order

Fixing A (removing the style tag) will still show an error in A
Fixing B will then remove the error for A, but show the error in B
Fixing C will then remove the error for B, and C

[2018-06-04 23:29] quintondang opened #884 "App is unresponsive/crashes when an infinite loop is called with a console.log"
# 🐛 bug report

## Description of the problem
If the code sandbox has a console.log() in the code and creates an infinite loop (i.e. with recursion) and the console in the app is open, it causes it to freeze and become unusable.

## How has this issue affected you? What are you trying to accomplish?
We were trying to actively collaborate with another user who accidentally created an infinite loop

[2018-06-05 10:15] jtheisen opened #885 "GitHub Sync appears to be broken"
# 🐛 bug report

## Description of the problem

I pushed a change to the master branch of the [respective GitHub repo](https://github.com/jtheisen/brazen-bindings), but the code sandbox didn't sync.

Pushing further from the code sandbox to GitHub caused a popup warning me about a merge conflict.

I see that another branch was created by code sandbox.

###  Link to sandbox: [link](https://codesandb

[2018-06-05 10:26] CompuIves commented on #885
Hey!

To be completely sure, is this sandbox (https://codesandbox.io/s/github/jtheisen/brazen-bindings) synced with the GitHub repository?

[2018-06-05 11:28] jtheisen commented on #885
Yes!

[2018-06-05 11:29] jtheisen commented on #885
Yes!

[2018-06-05 17:46] developit commented on #793
For those on a Chromebook / Pixelbook: you can fix this and stick with Monaco as your editor!  Just head to the Codesandbox settings, reduce the font size by one and manually set your font (I set mine to Source Code Pro). Works like a charm.

[2018-06-05 17:51] developit commented on #645
Just wanted to bump this up a bit - seems like this issue applies to any node_modules import where the package.json cannot be resolved within `dirname(<import>)`. For example:

[code]

[2018-06-05 18:46] ryanpcmcquen commented on #563
Is this still happening? Would love this for my team.

[2018-06-05 19:51] drcmda opened #887 "Can CSB handle es-modules?"
This line causes trouble in CSB:

[code]

It will lead to a regular es flat bundle: https://unpkg.com/react-spring@5.3.8/dist/addons.js which works in webpack at least.

In CSB only the commonjs variant work (by adding the ".cjs" extension). Is this a known issue, or do i export something in a way that's wrong?

PS.

Sandbox: https://codesandbox.io/embed/q9lozyymr9 (removing the .cjs will trigger

[2018-06-06 02:34] arthurdenner commented on #861
Hey, @SimeonC. is this still happening to you? I tried to reproduce it a few times, but I couldn't. After changing line 82, as you described, I only got `isSelected is not defined` (which was expected).

PS: If this is not happening anymore, could you please close the issue?

[2018-06-06 02:40] arthurdenner commented on #855
Hey, @mikael1000, is this still happening to you? I tried to reproduce it a few times, but I couldn't. I typed `import RightPane from './RightPane'`, as you described and it's shown in the video, but none of the times the sandbox froze.

PS: If this is not happening anymore, could you please close the issue?

[2018-06-06 02:45] arthurdenner commented on #852
Hey @yakotika, could you please provide more information about this issue? Sorry about this, but I didn't get what you mean with "got out of your profile", therefore, I couldn't reproduce what you described. I visited a few profiles, clicked here and there, but never got stuck in a black screen.

PS: If this is not happening anymore, could you please close the issue?

[2018-06-06 14:58] SimeonC commented on #861
Yea, it still happens for me. Though I did notice it only occurs if you have the preview open.
Heres a (rather large) screen cap.
After I took this it said: `index.js:26 Could not consume error: Error: Something is *really* wrong.
    at overlay.js:272` in the browser console.

You're right that `isSelected is not defined` appears in the Codesandbox console, but it seems to keep trying which makes

[2018-06-06 17:36] yakotika commented on #852
@arthurdenner
![jun-06-2018 20-30-16-min](https://user-images.githubusercontent.com/22033385/41055206-44d8e81e-69c9-11e8-8e24-f90c575a8121.gif)

[2018-06-06 18:00] arthurdenner commented on #852
Thank you very much for the GIF, @yakotika, very helpful! I'll try to fix this as soon as I can.

[2018-06-06 18:29] emersonlaurentino commented on #480
@CompuIves maybe the [Awesome Hyperapp](https://github.com/hyperapp/awesome-hyperapp) help you.

[2018-06-06 20:13] lukyanovas opened #888 "ModuleNotFoundError for devextreme module"
# ❔ Question

Hi!
When I try to import [devextreme-vue](https://github.com/DevExpress/devextreme-vue), I get the ModuleNotFoundError. What do you think? Is it a bug?
###  Link to sandbox: [link](https://codesandbox.io/s/pm5q0klwxx) (optional)
### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  |
| Browser | Chrome 66.0.3359.181
| Operating Syste

[2018-06-06 23:14] ericbschwartz opened #889 "upload not available for private sandboxes"
# ❔ Question
Upload button is available for public sandboxes:
![screen shot 2018-06-06 at 7 12 08 pm](https://user-images.githubusercontent.com/1041207/41069840-9d3dcc92-69bd-11e8-966c-6e9331664682.png)

not private:
![screen shot 2018-06-06 at 7 11 46 pm](https://user-images.githubusercontent.com/1041207/41069858-afcf3760-69bd-11e8-9efa-f18362a10355.png)

Is this by design or a bug?

[2018-06-07 13:39] bvaughn opened #890 "Code Sandbox crashes when loaded in incognito tab"
# 🐛 bug report

## Description of the problem
One of my sandboxes (https://codesandbox.io/s/mz5w04xpz9) crashes when loaded in an incognito Chrome tab.

## How has this issue affected you? What are you trying to accomplish?
I'm hoping to publish a new blog post on reactjs.org that links to this sandbox.

###  Link to sandbox: [link](https://codesandbox.io/s/mz5w04xpz9)
### Your Environment
| Softw

[2018-06-07 13:40] bvaughn commented on #890
![screen shot 2018-06-07 at 9 36 45 am](https://user-images.githubusercontent.com/29597/41103314-d86175d4-6a36-11e8-84b7-658ec120e0f8.png)

[2018-06-07 13:45] CompuIves commented on #890
So sorry for that! Deploying fix now...

[2018-06-07 13:49] bvaughn commented on #890
No problem! 🙇 Thanks for the quick response!

[2018-06-07 13:50] CompuIves commented on #890
It's live! Thanks for reporting this, really stupid mistake on my part.

[2018-06-07 13:50] #890 closed

[2018-06-07 16:30] arthurdenner commented on #861
Thanks for providing more information, @SimeonC. I'll try to find out why this is happening.

[2018-06-07 18:22] FernandoGOT commented on #883
+1

[2018-06-07 18:57] FernandoGOT commented on #580
+1

[2018-06-08 09:47] #852 closed

[2018-06-08 09:50] #173 closed

[2018-06-08 11:13] CompuIves commented on #887
Ah, it turns out that our function to detect es-modules didn't really work with minified es modules code. I fixed it with https://github.com/CompuIves/codesandbox-client/commit/437075170e195f2f0e81c452f6a3c42b7f3e77e6 and will deploy that somewhere today.

[2018-06-08 11:13] #887 closed

[2018-06-08 11:16] CompuIves commented on #888
Ahh, I took a look and it turns out that `devextreme` is a huge package. I improved our packager to detect this, so in future versions the sandbox should load faster. I also fixed the issue you mentioned, the sandbox will now load, and if you update `devextreme` in the future it *should* also load fast.

[2018-06-08 11:16] #888 closed

[2018-06-08 12:43] drcmda commented on #887
@CompuIves what! i didn't know. I ever there's something i can help you with in the process, i'm here. 😃And thank you for the fix!

[2018-06-08 20:12] badillosoft opened #893 "Error loading sandboxes"
# 🐛 bug report

## Description of the problem

When I open any sandbox (logged) shows black screen and inside console raise and error:

TypeError: Cannot read property 'name' of undefined

Only opens sandbox un-logged

## How has this issue affected you? What are you trying to accomplish?

I can´t open any sandbox

###  Link to sandbox: [link]() (optional)

https://codesandbox.io/s/k3kr3qrvlo

###

[2018-06-08 20:18] CompuIves commented on #893
Thanks for reporting! Deploying fix now.

[2018-06-08 20:26] JoshRosenstein opened #894 "raven.js Error when signed in"
# 🐛 bug report

## Description of the problem
Cannot view any sandboxes post login. Errors thrown from raven.js. Only after logging in.

## How has this issue affected you? What are you trying to accomplish?
Blank screen...
### Your Environment
Error occurs in multiple Browsers.

## Temp Solution
Got everything back to normal after request blocking raven.min.js

## Console Error
[code]

[2018-06-08 20:28] CompuIves commented on #894
Hey! Thanks for the report, I think this one is a duplicate of #893. I just deployed a fix, could you try a refresh? Don't hesitate to re-open if you still have the issue.

[2018-06-08 20:28] #894 closed

[2018-06-08 23:46] ericbschwartz commented on #889
I see that drag-n-drop of files into sandbox works fine, so the upload button seems to be an inconsistency between public/private.

[2018-06-09 12:31] javiersvg commented on #877
Thank you for the answer guys. I will make these changes and let you know how it goes.

[2018-06-09 13:28] CompuIves commented on #889
Hey! Yep, I added this by design. Uploaded binary files, like images, are
public by default and I don't want to confuse people by giving the option.
Maybe it's better to just show a warning though, what do you think?

On Sat, Jun 9, 2018, 01:46 Eric Schwartz <notifications@github.com> wrote:

[2018-06-09 14:32] easycss opened #895 "run 'yarn start' error"
# 🐛 bug report

## Description of the problem
Terminal displays when the 'yarn start'  is run:
[code]

Related file:
[code]
https://github.com/CompuIves/codesandbox-client/blob/0cf30c06093933d0648a8c93ebce1ee4a85e7715/packages/codesandbox-api/src/dispatcher/index.ts#L54

![image](https://user-images.githubusercontent.com/1883467/41192590-a96e9330-6c32-11e8-8494-a7adb4b20765.png)

### My Environmen