[2017-12-01 03:07] gricard commented on #347
I did the above in Chrome. I tried it in Safari as well just now, to see what happens with a clean slate. It looked fine after I modified/added the files, saved and then signed in. But, when I reloaded, the content of index.js was replaced with the default code, and Modal.js had the Hello.js in it.

Here is the sandbox I created: https://codesandbox.io/s/3r54w224k5

[2017-12-01 19:10] maciej-ka opened #349 "Mode select causes layout flickering"
Good Morning, CodeSandbox-Vietnam!

Bug reproduction:
1. Open a project
1. Move cursor over mode select
1. Hover on Preview mode
1. Move cursor down, out of header

Expected behavior:
mode options disappear, the layout looks good

Actual behavior:
after mode options disappear for a short moment page gets a margin on the right side.

![codesandbox-flicker](https://user-images.githubusercontent.com/

[2017-12-01 21:08] colshacol opened #351 "Sentry/Raven errors in navtive developer console."
In my native console I am getting errors from Raven about `yarn.lock` and `.gitignore` files missing. This only happens when I have a fresh preview and switch files. The three errors come in synchronously, each about 0.2s after the previous, and the errors are not initiated for about 1 second after switching files.

This is not affecting my work as a user, and not effecting my code, so it is not a

[2017-12-01 22:52] happylynx opened #352 "Github 'Open integrations' button broken"
... when user is not signed in using Github.

The click producess following error message in browser console:

[code]

![image](https://user-images.githubusercontent.com/8846779/33506873-ea871508-d6f1-11e7-9789-daee0774a7d9.png)

[2017-12-01 23:02] happylynx opened #353 "'Expand console' share option broken in editor (works in embed)"
Expand console in 'Share' dialog doesn't work. It adds `?expanddevtools=1` suffix to the url. However the suffix is not honored when the page is loaded.

Test page: https://codesandbox.io/s/1319n0kv44?expanddevtools=1

Steps to reproduce:
1. Create new sandbox and save it
2. Click 'Share'
3. Enable 'Expand console' option
4. Copy url form 'Editor url (also works on Medium)' field
5. Open the url i

[2017-12-02 13:32] bram-l commented on #75
It seems like sass support in the `preact-cli` template is not working as expected. A small change in the default style shows that the scss is not transpiled into css:  https://codesandbox.io/s/m3m6vl05rj

Changing the same stylesheet to sass syntax actually throws an error: https://codesandbox.io/s/8z8q40ok1l

[2017-12-03 01:35] CompuIves commented on #352
Thanks for reporting this! I fixed it with this commit: https://github.com/CompuIves/codesandbox-client/commit/6afd95aaa1858910f113a243fac92e9b8c0bcabe. Will deploy it now.

[2017-12-03 01:35] #352 closed

[2017-12-03 01:55] CompuIves commented on #348
Thanks for letting me know! The line throwing the error is here: https://github.com/codesandbox-app/git-extractor/blob/master/src/routes/github/api.ts#L479. The zip of the repo is 112MB, which was above the 30MB limit we set, we set this limit to make sure we don't hit any memory limit. I raised the limit to 128MB now, but there seems to be another limit that's hit. I can check tomorrow what limit

[2017-12-03 01:58] CompuIves commented on #351
Very interesting, it seems like the Monaco editor is throwing these errors. I haven't seen them before, but I see them in Sentry from time to time. Thanks for sending this, maybe we can squash these errors now 😄 .

Which operating system are you on?

[2017-12-03 04:43] colshacol commented on #351
I confirmed that it is happening only on Monaco and not on CodeMirror. **thumbs up emoji?**

Adding this finding to the initial report.

As for OS, I use CodeSandbox on Windows when the misses makes me play video games with her. Have not experimented with it on Arch yet, but I will soon.

(Adding this to bug report, too.)

[2017-12-03 12:13] lbogdan commented on #345
I just played around with `puppeteer` a bit, it has a pretty comprehensive API, something like this seems to work:
[code]

[2017-12-03 12:44] viankakrisna commented on #345
nice! but 1000 seems like a magic number to me. isn't it? have you tried with a heavier sandbox?

[2017-12-03 12:50] lbogdan commented on #345
It is a bit of a magic number, indeed. It means "1 second after all network requests finished", which should be enough for running the sandbox code.

[2017-12-03 12:54] viankakrisna commented on #345
I think it's better for sandbox compiler to dispatch an event so puppeteer can listen to that.
https://github.com/GoogleChrome/puppeteer/blob/master/examples/custom-event.js

[2017-12-03 12:59] lbogdan commented on #345
You'll still have to wait a bit after the compiler finishes - for the actual code to execute, so it's not really a solution to get rid of that magic number. 😄

[2017-12-03 13:07] CompuIves commented on #345
Yes I'd love to have this system in place! I think the best approach is to check every 5 minutes for sandboxes changed within that time, then we invoke for every sandbox a serverless function that makes a screenshot and saves it to an S3 bucket.

We already have puppeteer testing for integration tests: https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/integration-tests/tests

[2017-12-03 13:16] viankakrisna commented on #345
@lbogdan ah, yes, I think I found a solution in the question below. how can we start working on this solution? @CompuIves some questions:

1. what is actually running when we share a sandbox? I want to know where we can put the url for the thumbnail :grin:
2. Isn't it better to have the serverless function running when the user click save? or is it more costly that way?
3. We still need to let the

[2017-12-03 13:21] viankakrisna commented on #345
I see that you use
[code]
I actually think it's better for puppeteer to wait for that rather than custom event 😄

[2017-12-03 13:23] CompuIves commented on #345
I think we should put the URL in the HTML of the editor + the embed page. When you share on Slack/Twitter/etc you will then see the image as a thumbnail.

That would be best case scenario, but I think it'd also be too expensive. In the past week alone we had 69728 saves for 6202 sandboxes.

I'm not sure if this would work with every sandbox, because some sandboxes work on different selectors (like

[2017-12-03 13:28] lbogdan commented on #345
@CompuIves Do you see any reason why my solution wouldn't work? (it also accounts for the situation where the sandbox does one or more API requests - like the preact sandbox)

[2017-12-03 13:30] viankakrisna commented on #345
is the html is processed in anyway by server side script? i mean the thumbnail url should change based on the sandbox id right?

yea I think it's best to wait for known selector first, then wait for the timeout,
one of the use case of using `Promise.race` I think 😄  https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/race

[2017-12-03 13:30] CompuIves commented on #345
Oh interesting @lbogdan! I'm curious if this works in more cases. Could you adept https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/integration-tests/tests/sandboxes.test.js with your code and open a PR? Then we can check if it works for multiple examples.

[2017-12-03 13:31] CompuIves commented on #345
Yes, that's another thing I'll need to build. Luckily we do something similar already for the sandbox HTML.

[2017-12-03 13:34] lbogdan commented on #345
@CompuIves I just tested with your presentation, and it worked! 😄
![](https://i.imgur.com/NJDcsmG.png)

[2017-12-03 15:40] lbogdan commented on #345
Just made a PR, seems to be working: https://github.com/CompuIves/codesandbox-client/pull/357.

[2017-12-03 15:46] CompuIves commented on #345
Wooow that's great @lbogdan!! Okay great, in that case we have a flexible way to create screenshots. Now we need to get puppeteer working on AWS Lambda as next step.

[2017-12-03 16:04] CompuIves opened #358 "Use React-Show for sidebar"
The sidebar has multiple sections (WorkshopItem) that can be expanded and collapsed. This happens without any animation. I just found out about https://github.com/react-tools/React-Show and I think it would be interesting if we'd use this to animate the collapsing/expanding.

[2017-12-03 16:13] lbogdan commented on #345
I'm thinking of something like:
- sandboxes have a boolean flag (let's say `is_thumb_generated`) which is `false` by default;
- there a sandbox thumb url under the API, like `https://codesandbox.io/api/thumb/{sandboxId}.png`;
- the handler for that url looks as `is_thumb_generated` and:
  - if `false`, it calls the AWS lambda function that generates the thumbnail, waits for it to finish, and sets

[2017-12-03 16:20] lbogdan commented on #345
Also, found this: https://github.com/sambaiz/puppeteer-lambda-starter-kit .

[2017-12-03 17:24] CompuIves opened #359 "White theme"
Would be nice to have an optional white theme for embeds and editor for people that prefer it.

[2017-12-03 18:22] j13l commented on #358
React-Show looks neat, I'd give this a shot.

By WorkshopItem you mean WorkspaceItem, right? And the requirements are to animate opening/closing the Project, Files & Dependencies tabs with React-Show. Correct?

I'm a first-time contributor, so could you please provide an outline of what you expect to be done?Shall I write tests? I don't see any inside the pages folder.

Thanks!

[2017-12-03 18:32] CompuIves commented on #358
That's great @j13l!! Very much appreciated 😄 .

Yep, I don't know what I was thinking when I wrote WorkshopItem haha.

Exactly.

There are no tests needed for this functionality. We have a PR pipeline for code styling, we generally follow Prettier which is automated. The main requirement is the animation of collapsing/expanding those sections, like you mentioned 🙂 .

Also, if you have any quick qu

[2017-12-03 18:38] j13l commented on #358
Alright, sounds simple enough 🙂
I'm on it and also joined Discord for any follow-up questions.

Thanks!

[2017-12-03 20:59] j13l commented on #358
Seems like there's an issue with ReactShow & nested components. The parent's height does not get updated when a child expands. This is the case when we open a directory inside the Files Workspace.

Opened up an issue here https://github.com/react-tools/react-show/issues/2, including a Codesandbox example to reproduce it.

Couldn't find any quick workaround yet. 🙁

[2017-12-03 21:47] pfftdammitchris opened #361 "Tabs disappear out of no where"
For some reason the tabs seem to disappear randomly. I don't know why this happens but I can leave this here for now for the heads up.
Screenshot provided below. (I had 5-6 tabs open at once before they magically disappeared in the screen).

![image](https://user-images.githubusercontent.com/20717348/33530172-706cc606-d830-11e7-84a8-62c0238b9c05.png)

# Edit: After careful examination it actually

[2017-12-03 22:22] pfftdammitchris commented on #358
I think this would be a great feature. Maybe providing some settings option in the settings to disable/configure the speed based on user preferences. I feel like users who are suffering from laggy animations due to some cpu resourceful operation happening in their background processes might want to turn it off somehow.

[2017-12-04 17:35] tannerlinsley commented on #358
By the way guys, I'll have the option for width animation as well next week. Stay tuned!

[2017-12-04 21:41] gautamarora opened #364 "Running Unit Tests in CodeSandbox"
After some early conversations with @CompuIves in Discord, I'm starting this issue to begin discussions for adding support to run unit tests in CodeSandbox.

What i was thinking was a way to use codesandbox as a tool to support "learn by doing" environment where others can learn JS/React or any other topic by writing code to pass failing tests. There are other coding environments that allow this l

[2017-12-05 14:11] kblodget opened #365 "Browser compatability"
I am starting to learn React and wanted to use codesandbox. I can not open the codesandbox in firefox version 31 or chrome version 36 using this url https://codesandbox.io/s/XDAE3x0W8. It hangs loading the sandbox. Unfortunately I have to use these browsers. Is there any way I can use this tool?

[2017-12-05 21:11] corysimmons opened #366 "New projects w/o templates?"
![image](https://user-images.githubusercontent.com/224636/33630873-d19e6aa4-d9d6-11e7-95a8-85067978426a.png)

Is there a way to just create a fresh project w/o any framework from the client?

[2017-12-05 23:05] corysimmons commented on #300
+1 million to this as a feature request.
CodeSandbox is the first online editor I've really enjoyed and zeit/now supports backend on deployment, but allowing API dev on CodeSandbox (with the same attention-to-detail you put into the frontend experience) would actually make me patron indefinitely.

Happy to wait on this feature, but please don't underestimate how amazing the experience of this woul

[2017-12-06 04:46] chakrihacker commented on #366
No

[2017-12-06 05:02] chakrihacker commented on #365
Codesandbox uses service workers which are not supported by the version you are using, can you upgrade to v33 in ff or v40 in Chrome, so you can use it

[2017-12-06 07:36] colshacol commented on #351
**Update:** I noticed that it was not happening on a new sandbox. But as soon as I exported it to GitHub and the page refreshed, the error began.

[2017-12-06 11:51] CompuIves commented on #351
Good observation! Maybe we're remounting the Monaco editor on fork, and it complains of duplicate instances?

[2017-12-06 12:18] CompuIves commented on #365
Hey @kblodget, I did some checking with BrowserStack and found out that the root cause of incompatibility is that you don't have `Set` and `Map`.

I have a PR that could solve it here: https://github.com/CompuIves/codesandbox-client/pull/367. The one problem that's left is that we import `loader.js` in HTML (https://github.com/CompuIves/codesandbox-client/blob/polyfill-old-browsers/packages/app/sr

[2017-12-06 12:20] CompuIves commented on #366
Not yet @corysimmons. I'd love to add a vanilla template though. The main question is what kind of template (like Babel config, Webpack config, maybe other bundler?) we'd use for vanilla.

I'd like to keep this issue open to discuss this.

[2017-12-06 12:23] CompuIves commented on #364
Nice! I was thinking that we could detect all files that have a `.test.js` or `.spec.js`. We could run these files using `jest-matchers`, which works in the browser.

Then we can show all results in a tab besides `Console` (under the preview).

What do you think?

[2017-12-06 13:54] Piterden commented on #328
Monako is now has it, thanx)

PS CodeMirror has lost all highlights, but Monako has became normal.

[2017-12-06 13:54] #328 closed

[2017-12-06 13:55] chakrihacker commented on #366
Hey, @compuives I heard about https://parceljs.org/, may be it suits to create vanilla template

[2017-12-06 14:58] CompuIves commented on #366
Yah I saw it @chakrihacker, it looks awesome! I think it's too young to use yet, but it gave me an idea on how to handle vanilla templates.

I think we should just enable all features:

- TS Support
- CSS modules support (we detect it same way parcel does)
- Global CSS support
- Sass support
- Less support
- Stylus support
- Vue support
- Babel support
- Raw support

And enable them conditionally

[2017-12-06 15:17] Nufflee opened #368 ""Relative" paths in the code preview panel"
Not sure if this is in development and/or reported before but I encoutered this issue earlier today while working on a 720p screen. It is not really an issue, but it was kind of annoying to scroll all the way till the en d of the url bar just to change the current route. There should be an option to only show the part of the url, for instance https://sandbox.io/ [my route here] and not the mile lo

[2017-12-06 15:24] CompuIves commented on #346
Hey @alansouzati. I checked what caused the syncing issue, it turns out to be a limit on our side.

We have a limit of 100 files currently, it seems like there are 115 files in the Grommet site repo right now. The main reason of this is the 50 images here: https://github.com/grommet/grommet-site/tree/master/public/img. Would it be possible to remove some images? If that's not desired I can raise t

[2017-12-06 17:30] alansouzati commented on #346
Hey @CompuIves good to hear from you again. Hopefully all is going well on your side.

Our v2 site is not finished yet, so we plan to add more files and pages for the new components what we are slowly adding.

With regards to the images, you can see that it is being used by the Selection component: http://v2.grommet.io/selection. I will go ahead and reduce the number, maybe 25 or so. But it would

[2017-12-06 17:31] #346 closed

[2017-12-06 23:36] gautamarora commented on #364
@CompuIves thats a really good idea for native integration.

In my earlier Test component approach ([sandbox here](https://codesandbox.io/s/716lx85wk6)), the tests would need to be written in a new style but in the approach you suggest, we would be able to have tests written and viewed in a more real-world setup.

I was quite easily able to switch using `expect` from `chai` to `jest-matchers` - th

[2017-12-07 00:50] CompuIves commented on #364
Wow, this is really great @gautamarora. I completely agree with the approach. Let's start with a simple version, like your runner.js, and put the results in a separate Tests tab. I think a good benchmark would be to get the tests in the [redux example](https://codesandbox.io/s/github/reactjs/redux/tree/master/examples/todomvc) running.

Yes. We could first evaluate the sandbox itself, then evaluat

[2017-12-07 07:31] corysimmons commented on #366
Possibly, but I wonder how slow live-reload would be for that.. Worth doing some benchmarks and possibly considering Parcel (this is the first I've heard of it, but its bundling speed looks like it could make your solution fast enough).

[2017-12-07 07:33] corysimmons commented on #366
I'd also suggest doing a flow UI where people could start by selecting their preferred bundler, then checkbox what things they wanted to support and generate the bundler config that way.

Allow people to save these configs as their own templates and possibly share them in the community.

Seems cleaner/better.

[2017-12-07 15:37] gautamarora commented on #364
@CompuIves agree with everything above 👍

Exciting updates...

I forked the redux example you shared, imported the `tester/runner.js` into the test files and the tests in `actions` and `reducers` just worked!
Check it out here: https://codesandbox.io/s/wn6o8mmx8l

![image](https://user-images.githubusercontent.com/1215971/33723086-ac66a6ac-db39-11e7-80e6-e2054509aa7f.png)

Only the tests in `compo

[2017-12-07 16:06] kblodget commented on #365
Thank you for looking into this. I wish I could upgrade to FF33 but that is a requirement. Once the PR has been merged would I be able to use this tool. I am currently using it in FF 54 then download the changes and run the app on the older browser it  has been very helpful getting prototypes up and running quickly.

[2017-12-07 17:11] #114 closed

[2017-12-07 23:50] gautamarora commented on #364
Needed to add `jest-mock` to runner. Tests in `components` pass as well now!

![image](https://user-images.githubusercontent.com/1215971/33744490-644bbd1c-db7f-11e7-9310-33b9024f19e5.png)

[2017-12-08 00:12] CompuIves commented on #364
Wow!! This is really cool. So the next thing would be integrated evaluation, right?

For that we'd need to evaluate the code with globals `describe`, `it`, `test` and `expect` set I reckon. We have `manager.evaluateModule` https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/sandbox/eval/manager.js#L113 that we could use. But we should add functionality to specify globals.

[2017-12-08 01:32] gautamarora commented on #364
yes, next step is integrated evaluation. Will get started on a PR for us to work on 👍

[2017-12-08 10:37] jamaldewitte opened #373 "Refering to static property's within static property's of a React Class gives error"
Hi, upon using codesandbox I found the following issue:

Code:

[code]

Expected:`  static hi `to be equal to `'__hello__'`
Result: `_TypeError. Cannot read property 'hello' of undefined`

Kind regards,

Jamal

[2017-12-08 12:37] angeliski commented on #97
Hey man, great job in the Codesandbox.
I would like that too

[2017-12-08 12:57] divyenduz opened #374 "Support console.table in editor console"
How about supporting [`console.table`](https://developer.mozilla.org/en-US/docs/Web/API/Console/table) in the console?
I can take this up if we think that this will add to the editor.

Thanks,

P.S. Thanks for putting in all the hard work

[2017-12-08 13:05] CompuIves commented on #374
That would be great @divyenduz! We do all rendering of messages here: https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/app/components/sandbox/Preview/DevTools/Console/Message.js.

[2017-12-09 08:24] crazyyi commented on #75
When will this be implemented? Anything I can do to contribute to this project?

[2017-12-10 05:37] dnlsandiego commented on #342
@CompuIves Is this a feature that has the go ahead to be on the app? If so, I'd like to give it a shot!

[2017-12-10 11:46] kof opened #381 "Lazy, lightweight sandbox for embedding on sites"
Hey,  heads up, codesandbox is by far best tool today!

Right now we wanted to use it on [JSS landing](https://github.com/cssinjs/jss/issues/524) page and we want many playgrounds, here current status https://typical000.github.io/cssinjs/

The problem is that the sandbox is still too heavy weight for this. We already initialize it only when user scrolls down to it, but eventually we should go even

[2017-12-10 18:44] CompuIves commented on #381
Hey @kof! I think you can get a light implementation (without loaded editor) with this url:

https://codesandbox.io/embed/new?codemirror=1&view=preview

The embed version is a separate application, made to be lightweight. With that url it only loads the preview, and loads the editor when the user changes view to editor. I also made the editor `codemirror` to lower payload size.

Let me know if thi

[2017-12-10 18:44] CompuIves commented on #381
Oh I think I now see what you mean. Do you mean that we could add an option to only load the sandbox on click?

[2017-12-10 18:47] kof commented on #381
I would render something immediately and the rest on click. Maybe it should be done using separate react components, using codesandbox as a library, because whatever we do in the iframe, it is still a bit too much for a landing page.

[2017-12-10 18:48] kof commented on #381
In that case codesandbox would become also a client-side API.

[2017-12-10 20:10] CompuIves commented on #381
Interesting, I've been thinking of creating a React component out of the preview of CodeSandbox.

It would still involve an iframe, for a realistic html document, but the iframe would not point to anything. This sounds like a cool mind exercise. I'll set up a PR for this today.

I'll also look into some more lazy rendering for the embed, would also make our homepage lighter 😄 .

[2017-12-10 20:18] CompuIves commented on #335
This one slipped my notifications, sorry! We can absolutely make an Angular template, I will add that before 2018.

[2017-12-10 21:09] CompuIves commented on #193
Whoo, this one is released! I should keep up with the issues 😅

[2017-12-10 21:09] #193 closed

[2017-12-11 13:13] #358 closed

[2017-12-13 19:04] ryanpcmcquen commented on #344
Also, hitting <kbd>Tab</kbd> when set to _4 spaces_ indents only _2 spaces_.

[2017-12-13 20:08] CompuIves commented on #344
Oh, I missed this in my notifications, sorry!

I think this is a problem in `Monaco.js`. We need to get this from preferences: https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/app/components/sandbox/CodeEditor/Monaco.js#L795-L796.

[2017-12-13 20:09] CompuIves opened #390 "New Share Modal"
Our current share modal is very unintuitive and outdated, it'd be good to refactor this. Would love to hear some discussion on this.

[2017-12-13 20:52] ryanpcmcquen commented on #344
@CompuIves, would that look something like this?

[code]

[2017-12-14 04:59] IndeDude opened #395 "codesandbox CLI:[error] This project is too big, it contains 67 files which is more than the max of 50"
I liked **codesandbox** as an IDE for react, and decided to upload a project I am working on and got this error. IMO 50 is too small a number for any non trivial application. Now, I could lessen the number of files - for example by combining all common components in one index file and concatenating all the CSS files for the components in to a single,  unwieldy monster.  For obvious reasons I would

[2017-12-14 05:01] CompuIves commented on #395
Hey! You're right, in the meantime we have increased the limit to 120. I forgot to update the cli to reflect that change 😅. I was about to go to bed, but I can do this tomorrow!

[2017-12-14 11:18] hoschi opened #396 "paste key combo closes file panes instead"
When I want to paste from clipboard with `Ctrl+V`, it closes the current file pane instead. Copy works. I'm on Linux with Chrome 62.0.3202.75

[2017-12-14 13:10] CompuIves commented on #396
Hey @hoschi! Just to be sure, did you change any keybindings in the preferences? We check [here](https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/app/components/sandbox/CodeEditor/Tabs/index.js#L107) for closing the pane, but I can't see why it's called for a V. Also interesting to know is what keyboard layout you are using.

[2017-12-14 13:16] CompuIves commented on #344
Exactly @ryanpcmcquen! Thank you very much, could you open a PR for it?

[2017-12-14 13:19] hoschi commented on #396
nope

It is [neo2](https://en.wikipedia.org/wiki/Keyboard_layout#Neo ) a variant of the german (QWERTZ) keyboard layout. When I use QWERTZ pasting works.

It closes the pane because the key `W` is my `V`, so it seams the code given in the line you linked matches the hardware keyboard but not the layout.

[2017-12-14 13:22] CompuIves commented on #396
Interesting, what keyCode do you see when you press V in the preview here?

http://jsfiddle.net/laelitenetwork/zrz141ox/

[2017-12-14 13:27] hoschi commented on #396
hehe did the same http://jsfiddle.net/huchengtw/Wk7jR/
86 which is v which is right, also the `key` property prints 'v'
![2017-12-14-142748_601x493_scrot](https://user-images.githubusercontent.com/163128/33994490-f74b570c-e0da-11e7-8006-7afc1642ee7a.png)

[2017-12-14 13:28] CompuIves commented on #396
Okay, that says enough! Would you be interested in opening a PR to change the check to keyCode? If you're too busy I can do it as well around this evening.

[2017-12-14 13:30] hoschi commented on #396
I have no time, sorry :disappointed:

[2017-12-14 13:31] CompuIves commented on #396
No problem, thanks a lot for the quick responses! You'll see a fix this evening 😄

[2017-12-14 13:41] CompuIves commented on #263
Documentation is here: https://codesandbox.io/docs/importing#define-api

[2017-12-14 13:41] #263 closed

[2017-12-14 13:51] ryanpcmcquen commented on #344
@CompuIves, tests are running now!
https://github.com/CompuIves/codesandbox-client/pull/397

[2017-12-14 14:05] #344 closed

[2017-12-14 14:09] CompuIves commented on #345
That's perfect @lbogdan. I like your solution much better as well, let's start working on this!

One limitation is that a serverless lambda should be able to generate a screenshot within 30 seconds, though this seems doable, right? Anyone wants to write the code for the lambda? Then I'll connect the server.

[2017-12-14 21:49] rhall91 commented on #366
@CompuIves as a noob to things like webpack, sass, etc I like @corysimmons idea with the check boxes/toggles to pic the things you want to use.

[2017-12-15 01:21] lukePeavey commented on #396
@CompuIves Is it ok if submit a PR to fix this?

[2017-12-15 14:02] crazyyi commented on #274
How did you measure the page loading?
I use https://tools.pingdom.com to measure.
Took 1.51s to load 594 kB for https://codesandbox.io/s/new.
It took 1.11s to load 426.3kB for https://codesandbox.io/embed/new.

But to be honest I don't feel too much difference on my computer (Macbook pro 2017)

[2017-12-15 15:30] ryanpcmcquen opened #400 "Import from another sandbox?"
Maybe this is already a feature, but I cannot seem to figure out how to do it. Is there a way to import from another sandbox? The idea here is import a React component from one sandbox to the next.

[2017-12-15 17:02] ryanpcmcquen commented on #87
@CompuIves, is there any way to save this to the cloud and not LocalStorage? It'd be nice to have it synced between all machines.

[2017-12-16 10:37] Anenth commented on #390
- I feel the name share doesn't suit the content inside the modal, Shouldn't it be Embed?
- Showing a preview of the embedding content would be really useful

[2017-12-16 15:46] #50 closed

[2017-12-16 15:59] CompuIves commented on #390
Wow yes, I completely agree. We will change the name with the redesign.

Agreed!

[2017-12-16 15:59] #271 closed

[2017-12-16 15:59] CompuIves commented on #87
Yep, we need this @ryanpcmcquen. Could you open an issue for it?

[2017-12-16 16:04] CompuIves commented on #366
I also like the points of @corysimmons very much. Having so many transpilers shouldn't have effect on performance, because the bundler of CodeSandbox lazy loads its transpilers based on usage.

Would be really cool to have an option for a 'Generate Template' where you can create your own config like @corysimmons and @rhall91 suggest. Though I like the approach of Parcel as well, requires no config

[2017-12-16 21:05] corysimmons commented on #366
I don't see why Parcel + checkboxes can't co-exist. I haven't had time to play with Parcel, but if it lives up to the claims, then Parcel + checkboxes should be nice and easy*.

[2017-12-17 02:25] Anenth commented on #390
@CompuIves would love to help you in the redesign.

[2017-12-17 12:19] #148 closed

[2017-12-17 12:19] #396 closed

[2017-12-17 12:20] CompuIves commented on #395
If you update codesandbox-cli it should be possible to upload bigger projects 😄.

[2017-12-17 12:20] #395 closed

[2017-12-18 09:18] gary-menzel opened #403 "Range Error on loops with more than 5000 iterations"
I'm assisting with the maintenance of react-table that uses codesandbox for the majority of the examples.  Many of the examples generate just over 5000 rows of data in a loop and have been working correctly until recently (not sure when - but it is being reported in the last 24 hours of writing this issue).

The following error is being triggered when the data is being created.  Changing the call

[2017-12-18 09:50] CompuIves commented on #403
Ah, I'm very sorry for this. Thanks for letting me know! Deploying a fix
now.

On Mon, Dec 18, 2017, 10:18 Gary Menzel <notifications@github.com> wrote:

[2017-12-18 10:00] gary-menzel commented on #403
Thanks for the quick response it will save a lot of rework on the examples.

[2017-12-18 10:11] CompuIves commented on #403
Deployed, it works again! I'll add this sandbox to our tests as soon as I'm at my laptop 😄

[2017-12-18 10:11] #403 closed

[2017-12-18 14:49] hoschi commented on #396
works now :+1:

[2017-12-18 17:06] im1dermike opened #404 "How can you use jQuery's $?"
I'm trying to create a React sandbox with the following code:

    declare const $: any;

This works in my own codebase without having to do anything special.  I get an "Unexpected token, expected" error, though.

How can I get use jQuery in CodeSandbox and get `$` to work?

[2017-12-18 17:48] ryanpcmcquen opened #405 "Store preferences server side."
That way they will persist from machine to machine. This would be a nice user experience.

[2017-12-18 17:48] ryanpcmcquen commented on #87
@CompuIves: https://github.com/CompuIves/codesandbox-client/issues/405

[2017-12-18 18:14] SuperOl3g commented on #76
Hi there!
Firstly, thanks for cool service!
Secondly, maybe I don't understand something but why we can't insert iframe with a live example like [this](https://iframely.com/embed/http%3A%2F%2Fjsfiddle.net%2FRichardinho%2Fbrvc80rj%2F) instead of buttons or screenhots?

[2017-12-18 18:58] CompuIves commented on #76
Hey @SuperOl3g! Yep, we support this. You can read more about this here: https://codesandbox.io/docs/embedding 😄

[2017-12-18 23:02] YassineGherbi opened #406 "Syntax highlighting doesn't work in .vue file when switching to VIM mode"
Reproduce:

1. Create an vue-cli project in CSB
2. See the syntax highlighting
3. Switch to VI mode in preferences
4. The syntax highlighting is gone and the autocompletion doesn't work properly anymore

<img width="1680" alt="screen shot 2017-12-18 at 23 59 32" src="https://user-images.githubusercontent.com/15906337/34132313-8cd5be62-e44f-11e7-8d58-ab1168900024.png">

<img width="1522" alt="scree

[2017-12-19 00:04] eschafer commented on #174
As a workaround, it looks like you can just add '.css' to the end of the url and it'll work: https://fonts.googleapis.com/css?family=Roboto:400,700.css

[2017-12-19 02:22] mfix22 opened #407 "Carbon Integration"
This issue is to discuss integration with carbon.now.sh 😄

Here is a link [the original tweet from @CompuIves](https://twitter.com/CompuIves/status/942399628863041537)

Initial ideas:
- [ ] Link that opens current file up in a new tab to `carbon.now.sh?code=<your_code>` (currently supported, including colors and themes 👍)
- [x] Embedded Carbon editor view

Please feel free to leave your thoughts a

[2017-12-19 10:02] kof commented on #381
A generated iframe shouldn't be much of a problem as long as you don't load all the js into it, because that would make a lot of js evaluations given many playgrounds on one page.

[2017-12-19 10:03] kof commented on #381
If the only reason for iframe is isolation of css btw. I might have an idea on how to do this without iframe, using jss-isolate, I am using it in production for an embeddable widget.

[2017-12-19 11:43] CompuIves commented on #381
There are some other reasons, the editor has some web workers for tasks and the Monaco editor needs to lazy load files for it to work. But I started with a library for a simple version, that has a simpler editor but uses the fullon preview of CodeSandbox. I'm definitely interested in how css can be solved, that's something I haven't figured out yet. I'll look at `jss-isolate`!

[2017-12-19 19:09] sandervspl opened #408 "Not all props are logged to console"
I tried to log my props to the client's console, and I noticed the object is not complete. The browser's console does however show the complete props object.

Example sandbox: https://codesandbox.io/s/7wymwmq80j

Not sure if other objects are affected.

[2017-12-20 06:20] meetzaveri opened #410 "[ERROR] Firebase initializeapp() not working on loading multiple times"
##  Problem

I have been trying this - https://codesandbox.io/s/w0nvzjy218 in my desktop with local server. It's been working fine.

But when I moved it to codesandbox platform, on multiple refreshing/loading it crashes as two types of error occur simultaneoulsy.

1. Firebase: Firebase App named '[DEFAULT]' already exists (app/duplicate-app)

![scr1codesand](https://user-images.githubusercontent.c

[2017-12-20 18:42] #278 closed

[2017-12-20 22:55] CompuIves commented on #410
Heya! You hit a good point: our HMR doesn't work well yet with stateful applications (like with a firebase config). We're working on fixing this here: #313. For now the thing to make it work is to reload the browser window everytime.

I want to work on this issue some more the coming weekend, do you perhaps have a GitHub repo of the project as a real-world test application for CodeSandbox?

[2017-12-20 22:58] CompuIves commented on #408
Thanks for reporting this! Seems like we should check out our JSON.stringify here: https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/sandbox/console/transform-json.js#L21 to see why several properties are not stringified.

[2017-12-20 23:02] CompuIves commented on #407
Great! I love Carbon, generated images are beautiful.

I think we can fit this perfectly with our redesign, maybe this also works together with #390. The coolest thing would be to have an embedded carbon view, that would make it seamless to share. Do you think it would perhaps be possible to make an embeddable version for it?

[2017-12-20 23:03] CompuIves commented on #405
Thinking of making a CodeSandbox specific config file, like vscode does, that's tied per user. Then our UI can generate the config, or the users can share it by copying and pasting.

[2017-12-20 23:05] CompuIves commented on #404
Heya! You can use jQuery by doing something like this:

[code]

or you can add jQuery (https://code.jquery.com/jquery-3.2.1.min.js) under External Resources under Dependencies in the sidebar.

We have plans to add better support for custom aliases, so that would make it possible to do this in the future.

[2017-12-20 23:05] #404 closed

[2017-12-20 23:06] CompuIves commented on #400
There's no way yet. But definitely an interesting concept, we wanted to do something like this at the beginning of CodeSandbox, but decided to not to do it in initial release to keep our use cases broad.

[2017-12-20 23:34] ryanpcmcquen opened #413 "Cannot import full Redux module."
Small example sandbox:
https://codesandbox.io/s/6vkz096m5r

This code:
[code]

Causes this error:
[code]

Is this an issue with the Redux library or the way it is being imported? I tried the UMD build of Redux in a different environment and did not have the same issue:
https://jsfiddle.net/ryanpcmcquen/8dyf2o02/

[2017-12-20 23:39] CompuIves commented on #413
Hey! This is how the Redux library works, the `default` export is null.

You can fix it by doing this:

[code]

instead.

[2017-12-20 23:39] #413 closed

[2017-12-21 00:02] ryanpcmcquen commented on #413
Oh! Is there any way to import the whole library?

[2017-12-21 00:03] CompuIves commented on #413
import * as Redux from 'redux' ;

On Thu, Dec 21, 2017, 01:02 Ryan P.C. McQuen <notifications@github.com>
wrote:

[2017-12-21 00:07] ryanpcmcquen commented on #413
Thank you! Does that use more memory than just importing one part (like `createStore`)?

[2017-12-21 02:53] meetzaveri commented on #410
@CompuIves Yes for sure I have, but you have to mess/hack with it to find out that two different bugs. Link- https://codesandbox.io/s/w0nvzjy218

[2017-12-21 05:47] lukePeavey commented on #408
Is it ok if i take a look at this?

[2017-12-21 12:37] CompuIves commented on #408
Yep, absolutely @lukePeavey!

[2017-12-21 14:06] lukePeavey commented on #408
Ill do some work on it today and see if i can figure it out.

On Dec 21, 2017 7:37 AM, "Ives van Hoorne" <notifications@github.com> wrote:

Yep, absolutely @lukePeavey <https://github.com/lukepeavey>!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/CompuIves/codesandbox-client/issues/408#issuecomment-353340531>,
or mute the

[2017-12-21 14:57] lbogdan commented on #408
That's simply because `JSON.stringify()` ignores functions.

[2017-12-22 10:43] Peretz30 opened #415 "Blank screen in Chrome"
Hello! I am using Google Chrome version 39.0.2171.71 m. When I click on "Create Sandbox" blank screen appears. Same thing with trying to open different sandboxes. Just white blank screen with no errors in console.

[2017-12-22 22:18] gary-menzel commented on #403
Sorry to be a pain on this one @CompuIves but there is also a very big 100K example for ReactTable which now violates the 25000.  Tanner Linsley was wondering if there could be a config option for this.

[2017-12-23 12:32] CompuIves commented on #390
That's great! Nowadays we have a full list of what we support here:

https://codesandbox.io/docs/embedding

The challenge is how we're showing all these options in an intuitive way. A live preview of the embed would also be really great.

[2017-12-23 12:41] Tushkiz commented on #390
Also, we will need tabs like we have for preference modal to support multiple sharing platforms (e.g. Carbon)

[2017-12-23 17:31] crazyyi opened #418 "Page not found error when tried to view profile page"
Possibly a bug?

I can't view my profile page. I get this error:

`{"errors":{"detail":["Page not found"]}}` with a white screen.

The username is the same as my github account. I can go to the homepage of codesandbox.io though.

[2017-12-23 17:35] CompuIves commented on #418
Thanks for letting us know! It's fixed now 😄

[2017-12-23 17:35] #418 closed

[2017-12-23 21:23] mfix22 commented on #407
@CompuIves I think we definitely could! We definitely want to keep the Carbon brand apparent (much like Zeit has done with the Now integration 😄).

I am going to start extracting the editor out into it's own component, and I don't think it should be too hard. I will update here on my progress.

[2017-12-24 16:19] charlietfl commented on #410
Quick hack is firebase stores initializations in `apps` array

Can workaround it doing:
[code]

not likely a good production approach but prevents having to refresh for every change in the sandbox

[2017-12-25 10:57] CompuIves commented on #403
Haha, that's pretty funny. It's not a pain at all, I can add a sandbox
specific config right after Christmas.

On Fri, Dec 22, 2017, 23:18 Gary Menzel <notifications@github.com> wrote:

[2017-12-26 04:03] meetzaveri commented on #410
@charlietfl I tried that also, but after one or two attempts, it started showing that error again.

[2017-12-26 04:37] danielsegura opened #421 "Error when add redux dependency in Chrome"
I'm trying to use redux (3.7.2) in my CodeSanbox project but it never finish to load, in the browser (Chrome) only appears "Downloading Dependencies..."; I thinked maybe it was only my problem so I explored other CodeSanbox projects where the redux dependency is use and all have the same issue (no matter what version of redux had been use).

Thanks for any help!

[2017-12-26 14:24] lbogdan commented on #345
Great success!

[2017-12-26 14:24] #345 closed

[2017-12-26 14:33] lbogdan commented on #421
Hey @danielsegura , can you give us more details, please? What OS, browser, version, are there any (error) messages in the console, are there any network errors? Thanks!

[2017-12-27 22:36] petermbenjamin commented on #207
Same here.
Tried with `polymer` version `1.6.1` and `1.6.2` from a base Svelte template and received: `Could not find version: 1.6.1`

[2017-12-28 18:19] stormasm commented on #346
I am observing that the syncing is not working, and I have only a couple of files...  You can try testing it by forking my repo, doing the import, and then make a change to the repo you just forked and you will probably observe that the syncing does not appear to be working...

[2017-12-28 18:27] CompuIves commented on #346
Hey @stormasm! To be sure, did you commit the changes of the fork back to GitHub? You can do that in the sidebar:

![screen shot 2017-12-28 at 19 26 13](https://user-images.githubusercontent.com/587016/34419608-196a0ec0-ec05-11e7-9a6a-11c5e69fd24e.png)

[2017-12-28 21:33] shipstar opened #422 "Last Modified timestamp"
We're planning to use CodeSandbox as part of a hiring process to provide candidates with a starter project, have them fork it and make a few updates, then submit their fork. I'm trying to figure out a good way to check that candidates are not editing a sandbox after submission.

It seems like a lightweight approach might be capturing a "Last Updated" timestamp. If we capture the same on our side,

[2017-12-28 23:31] rasdaniil opened #423 "typescript disappeared?"
Is it just me or there really was a react-typescript template? I'm sure there was one.. ? Thanks

[2017-12-28 23:31] rasdaniil commented on #423
Sorry I've just found it https://codesandbox.io/s/react-ts
Thanks guys

[2017-12-28 23:31] #423 closed

[2017-12-28 23:33] iamdanthedev opened #424 "eslint in typescript projects"
Hello. Is it possible to switch off eslint in typescript projects? Obviously it produces messy results. Maybe it would be possible to replace is with tslint or nothing.. Thanks

[2017-12-29 03:08] stormasm commented on #346
@CompuIves  --- Unfortunately, it is NOT working...

https://github.com/stormasm/csbox-mui-demos/commits/master

If you look at these 4 commits...

Commit number 3 was done on the Codesandbox side
Which was ButtonAppBar

Commit number 4 was done on the Github side and Codesandbox did NOT sync it back up...
Update index.js

In other words, index.js on the codesandbox did not sync back up with this

[2017-12-29 17:05] stormasm commented on #346
@CompuIves In thinking about this further maybe it is my lack of understanding....

After importing a repo from Github into my sandbox...
Then I make a change on the sandbox and commit that back to Github...
Up to this point everything works.

Here is my question...

Later on --- on my home computer I make a another change and commit that to Github.
And then go back to the tab on sandbox ---- will

[2017-12-29 19:07] CompuIves commented on #346
You can see a fork of a Github sandbox (sandbox urls starting with /s/github) as creating a new branch. When you press 'Commit' you merge the changes of your fork back to master, but you stay on the fork. To get the latest version of a git sandbox you'll need to go back to 'master', which is the original git url, in your case this is https://codesandbox.io/s/github/stormasm/csbox-mui-demos/commits

[2017-12-29 19:11] CompuIves commented on #422
Hey @shipstar. I love to hear that you want to use CodeSandbox for the hiring process, happy to help in any way!

Right now we provide the field `version` on the sandbox payload to determine if a sandbox changed, I can also add `updated_at` to the payload if that's easier for you.

[2017-12-29 19:14] CompuIves commented on #424
Hey @rasdaniil. This is a good suggestion, for now you can disable it manually by going to preferences (CMD/Alt + ,).

If anyone's interested in contributing, we could add a check for `this. hasNativeTypescript()` here https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/app/components/sandbox/CodeEditor/Monaco.js#563

[2017-12-29 19:57] shipstar commented on #422
I think `updated_at` would be ideal for our current use case, although we might be able to leverage `version` down the road as well.

Thanks for the prompt response!

[2017-12-29 20:05] stormasm commented on #346
@CompuIves Yes !  That does clear things up....  And now I see everything is working as well...

My problem here was not understanding the **fork issue**... And your intuition to redirect people **back to master** to clear up any confusion is probably a very good idea...

I appreciate you taking the time to explain this to me...

Have a very nice weekend !  And again many thanks for creating codes

[2017-12-31 04:37] phyninja commented on #256
Hey @CompuIves I'm having problems when I export a codesandbox project to github.
I get this error:
*.default is not a constructor
![screen shot 2017-12-30 at 9 36 29 pm](https://user-images.githubusercontent.com/10854442/34459296-9668e464-eda9-11e7-8bef-0ec7661dc002.png)
 Could you please suggest ways of fixing this?

[2017-12-31 05:20] Hum4n01d commented on #256
This doesn't look like an issue with codesanbox, you could ask in reactiflux.com

[2017-12-31 17:45] rbiggs commented on #366
Hmmm... I like what you guys have done with Codesandbox, but I would never use it because it forces you to use the frameworks you've chosen: React, Preact, Vue, and Svelt. I'd never use them. I prefer to use lesser known libraries and frameworks, but you currently offer no way to create a project without your current templates. I'll be sticking with Codepen for now.

[2017-12-31 22:01] Hum4n01d opened #425 "Improve import from GitHub url validation"
There are a few improvements that could be made to the import from GitHub page. I will attempt to make these changes and submit a PR.

- The page should accept `hum4n01d/hogwash-client`, `github.com/hum4n01d/hogwash-client`, and `https://github.com/hum4n01d/hogwash-client` as valid GitHub repo urls
- The validator should check for `github.com/username/repo` rather than just `github.com`

Right now

[2018-01-01 03:57] DrSensor opened #426 "BUG: Vue `ref` doesn't work"
Found bug when [ref](https://vuejs.org/v2/api/#ref) doesn't output anything when using predefined Vue project.

[code]

[![Edit v-ref not w not work](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/1ov3zl8v43?autoresize=1&expanddevtools=1&hidenavigation=1&module=%2FApp.vue)

[2018-01-01 17:02] aprather51 commented on #75
Maybe Codesandbox.io could try use ParcelJS Template too. Connecting SCSS is lot easier.

[2018-01-02 03:23] CompuIves commented on #425
Yes, we could definitely use better parsing!

[2018-01-02 14:34] divyanshu013 commented on #244
Hi @CompuIves, facing the same internal server error. Any clues? Here is the github path https://github.com/appbaseio/reactivesearch/tree/dev/site

Also tried another app built with cra but facing the same issue https://github.com/appbaseio-apps/booksearch

Thanks!

[2018-01-02 14:43] CompuIves commented on #244
Thanks for letting me know! I fixed the error, could you try again?

On Tue, Jan 2, 2018, 15:34 Divyanshu Maithani <notifications@github.com>
wrote:

[2018-01-02 15:02] divyanshu013 commented on #244
Thank you Ives, works now :smile:

[2018-01-02 15:14] maple3142 opened #427 "Cannot resolve webpack's "alias" and "extensions""
Open [https://codesandbox.io/s/github/maple3142/WynnStats/](https://codesandbox.io/s/github/maple3142/WynnStats/) and get a "ModuleNotFoundError"
But inside `webpack.config.dev.js` has
[code]

[2018-01-02 22:39] gillchristian commented on #364
Wow this is really cool! :muscle: :rocket:

I've been working on a couple of projects lately that involved a lot of helpers and utils so I wanted to test them but at the same time I did not want to leave CodeSandbox.

I'd like to help (if needed of course). I'm not really familiar with CodeSandbox internals but this could be a great chance to get into it :wink:

[2018-01-02 22:51] gillchristian commented on #155
This would be a really awesome addition to CodeSandbox!

I know there's Ellie, but having Elm in CodeSandbox one could benefit from the `now` & GitHub integrations. Another benefit I see (personally it's the main reason why I would like Elm support) is to be able to use the same tool and have all your projects in the same place.

[2018-01-03 01:29] BurntCaramel commented on #155
I understand is priority isn’t high. However I’ll just add some more points.

- The author of Ellie has said he will be just keeping it for editing a single file, like a playground, making it pretty unsuitable for ‘real’ projects
- I think Ellie managed to convert the Elm compiler into a web assembler version

Is there somewhere we can see how CodeSandbox works architecturally today, if we did wan

[2018-01-03 19:10] DisasterMan78 commented on #364
This looks absolutely fantastic.
It would be amazing if the feature could be developed to work with other testing libraries added as dependencies. I came across codesandbox today and am seriously impressed, but had hoped to create a reduced test example to share and get some help with testing issues I'm having - converting my tests would be impractical, and not very helpful for getting help with m

[2018-01-03 20:51] gautamarora commented on #364
Thanks for the votes of excitement @gillchristian & @DisasterMan78. I am glad that you are find this early work exciting and in a direction that will be useful for you in your projects.

@gillchristian - I'll take a shot at starting the native integration for unit testing in code sandbox based on the notes from Ives above, and create a PR to collaborate on next week. I'm sure there will be enough

[2018-01-03 21:22] CompuIves commented on #155
With the current bundler we should be able to support Elm from what I know. I see two points:

1. Elm has its own packages/registry (right?), so we should find a way to support that.
2. We should let the user know that we only support WASM environments

Other than that, it should be possible. I'm interested to see the Elm transpiler, sounds really cool!

[2018-01-03 21:47] CompuIves commented on #422
I added the `updated_at` field to the sandboxes! 😄

[2018-01-03 22:08] CompuIves commented on #426
Hey! I looked at the sandbox, and it looks like it works for me:

![screen shot 2018-01-03 at 23 02 34](https://user-images.githubusercontent.com/587016/34541881-4599bf16-f0da-11e7-9bf2-9492e582fafd.png)

I saw that the CodeSandbox DevTools returned an object though, could that maybe be it?

[2018-01-03 22:10] CompuIves commented on #427
Hey @maple3142! We don't parse Webpack configs yet, we're still looking for ways to approach this. However, since `@` is a default configuration, I'll add it to the preset. Should be live today!

[2018-01-04 02:48] shipstar commented on #422
_And_ you put it in ISO8601 format?

![ezgif-5-1641133877](https://user-images.githubusercontent.com/115918/34548326-7a96de3e-f0cf-11e7-81e6-984310d8eaf1.gif)

If anyone else might be interested in this, I'm happy to submit a PR to add an unobtrusive "Last modified at: {timestamp}" to the frontend.

Either way, thanks for all of the help and feel free to close this issue if you'd like!

[2018-01-04 09:54] martenbjork commented on #209
Same on Chrome 63.0.3239.108.

[2018-01-05 18:31] cantyjeffrey commented on #425
@Hum4n01d
This would be great, as I have been trying (but unable) to import `https://github.com/cantyjeffrey/react-boilerplate` and have tried the following combinations with no such luck:

* https://github.com/cantyjeffrey/react-boilerplate.git
* https://github.com/cantyjeffrey/react-boilerplate
* github.com/cantyjeffrey/react-boilerplate
* cantyjeffrey/react-boilerplate

Am I missing something o

[2018-01-05 20:00] Hum4n01d commented on #425
@cantyjeffrey I’ve had the same problem, though I don’t think it’s related to this issue :)

[2018-01-05 20:09] cantyjeffrey commented on #425
I agree. I tried uploading via CLI and think that the culprit is the fact that it’s an ejected CRA repo, which puts dependencies over the 40 dependency limit. Just a guess.

[2018-01-05 20:10] cantyjeffrey commented on #425
CLI threw error, but for GH import it’s a generic error message.

[2018-01-07 01:49] marcinczenko opened #429 ""could not find the Sandbox you're looking for..." when importing from github"
I have a very basic project created with create-react-app in a public repository with URL:

https://github.com/marcinczenko/personas.git

## Intended

1. Create a new sandbox by importing from github:

[code]

2. After clicking `Open Sandbox` I expect to see a sandbox that reflects the content of the imported repository and is associated with that repository (meaning I can commit, PR, etc). I also

[2018-01-07 13:03] CompuIves commented on #429
Ah, good one! We currently aren't parsing the `.git` correctly, removing that should work:

https://codesandbox.io/s/github/marcinczenko/personas

I'll fix that.

[2018-01-08 07:22] darrenjennings opened #431 "vue jsx not transformed correctly"
`babel-plugin-transform-vue-jsx` converts vue jsx to createElement using `h`. It appears codesandbox is converting jsx to React.createElement instead of `h`.

Sample codesandbox with error:
https://codesandbox.io/s/q9zm2j1jr9

This is a recent issue as my sandboxes were functional a few days ago.

[code]

[2018-01-08 12:17] CompuIves commented on #431
Thanks for letting me know! Will write a fix now...

[2018-01-08 12:23] CompuIves commented on #431
Fixed with https://github.com/CompuIves/codesandbox-client/commit/e573a4cbf6a496c0e56633c0a82e8d78e92434a8, will deploy now...

[2018-01-08 12:28] harlley opened #432 "Console is not working"
it shows this message:
Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('https://23m6zmlkwj.codesandbox.io') does not match the recipient window's origin ('https://new.codesandbox.io').

[2018-01-08 13:53] CompuIves commented on #431
Deployed and fixed!

[2018-01-08 13:53] #431 closed

[2018-01-08 16:30] deadcoder0904 opened #433 "CodeSandbox Changes Pages even though I have Zero Sandbox"
Its a bug. See below.

![codesandbox](https://user-images.githubusercontent.com/16436270/34680391-f5ce11ba-f4be-11e7-9cdb-d43dea460889.png)

Also, I had 1 sandbox which I never deleted & its not showing there. The sandbox is https://codesandbox.io/s/github/deadcoder0904/todo-react-redux-reselect-normalizr-sagas but it won't show there. Idk if that's intentional 🤔

[2018-01-08 19:11] zephraph commented on #199
I know this is closed, but I can't seem to get pug working. Should I open a new ticket for this?

[2018-01-08 20:49] ZeeCoder opened #435 "Dependency dialog closes after typing "cq-d""
![screenshot from 2018-01-07 17-24-28](https://user-images.githubusercontent.com/3679506/34691608-05dbad9c-f4b5-11e7-9be0-8e8758b5632b.png)
👆
 This is what I see in the console.
Pretty random. 😅

[2018-01-08 20:54] lbogdan commented on #435
Hey @ZeeCoder, thanks for your report! That's pretty random, all right! :smile: Found the issue, will fix it shortly.

[2018-01-08 20:55] ZeeCoder opened #436 "postcss<6.0.10 works, postcss>=6.0.10 fails transpiling with missing module"
Based on: https://twitter.com/ZeeCoder/status/950051949952618496

![screenshot from 2018-01-07 17-07-21](https://user-images.githubusercontent.com/3679506/34691947-3dfd26c8-f4b6-11e7-97bb-fd61e7f9d666.png)

I get this error when I try to use `postcss@>=6.0.10`.
Works fine with 6.0.9, and as far as I can tell the module (supports-color) codesandbox complains about is the exact same dep in both post

[2018-01-08 20:56] ZeeCoder commented on #435
Awesome mate, thanks 👍

[2018-01-08 21:24] #435 closed

[2018-01-08 22:10] lbogdan commented on #436
Again, thanks for your report!
I found the culprit, if you take a look at https://unpkg.com/postcss@6.0.9/package.json and https://unpkg.com/postcss@6.0.10/package.json, you'll see that the latter contains `{ supports-color: false, chalk: false }` in the `browser` field (meaning that these packages [should be ignored in the browser] (https://github.com/defunctzombie/package-browser-field-spec#igno

[2018-01-08 22:36] ZeeCoder commented on #436
Awesome, thanks for the update! 👍
I've figured I found some edge-cases. 😅

And I was this 👌 close to getting my Container-Query solution finally work online this sunday. :D

[2018-01-09 01:07] zephraph opened #440 "Support pug in .vue files"
It was mentioned in #199, but having support for [pug](https://pugjs.org/api/getting-started.html) files in vue's single file components would be nice.

Generally vue-loader supports pug out of the box when it's installed... but it looks like it might be a little more involved here.

I can do a PR if desired, but I'm not sure I'll catch all the references.

Files to update:
- .../Frameworks/index.

[2018-01-09 07:21] kpats commented on #335
Well.. Its 2018.. But still no Angular support.. It is a big framework and good for marketing/advertising you know. :-)

[2018-01-09 10:19] #436 closed

[2018-01-09 17:43] marcinczenko commented on #364
I am getting error when trying to run any test in `components`:

[code]

[2018-01-09 17:56] marcinczenko commented on #364
Great work guys!

I like the solution for its simplicity, but I am also wondering if the tests cannot be run more "natively".
For me the most important value of the CodeSandbox is that each sandbox follows the `create-react-app` pattern, which means you can really develop production code using CodeSandbox. Running tests should IMHO be handled in the same idiomatic way without having to resort to s

[2018-01-09 19:10] CompuIves commented on #364
I completely agree @marcinczenko, for that reason we want to build the test functionality right into CodeSandbox, so you don't have to do:

[code]

etc. The given demo by @gautamarora was more of a way to show that it's possible, and as a pointer on how to implement it natively on CodeSandbox 😄

[2018-01-09 22:40] marcinczenko commented on #364
That's great. As I said I still miss basic understanding of how CodeSandbox works. That's why I thought that it is obvious that you can implement it natively and it looked obvious to me that it would be completely different from the proposed solution, which in turn is why I do not see in which does it shows that something obviously possible is possible when what is obviously possible would have no

[2018-01-10 02:08] gautamarora commented on #364
@marcinczenko - TBH i have been trying to wrap my head around how such an integration would look and the demo above was me trying to understand how things could fit together. My very first implementation of trying to implement testing in CodeSandbox was very very non-native as you can see [here](https://codesandbox.io/s/716lx85wk6); then the the idea of native integration was suggested by Ives and

[2018-01-10 02:11] gautamarora commented on #364
@marcinczenko yes, the browser preview UI currently shows the warnings, but if you open up the Console and scroll to top then you should see the test passing (let me know if you dont). Since these were warnings and not errors, I did not dig deeper into them yet but will certainly review them when we are working on native integration.

[2018-01-10 06:10] mfix22 commented on #407
Hey @CompuIves,
Just published `carbon-editor@0.0.2`. I haven't tested it _too_ extensively, but it encapsulates the carbon editor into a React component.

Will post more updates and thoughts on integration when I get to them!

[2018-01-10 08:42] gillchristian commented on #364
@gautamarora this is an awesome work you are doing :muscle:

I like the approach you are taking to support something like a "jest lite" (exposing `describe`, `it`, `expect`, `jestMock`) on CodeSandbox. If more advanced features are required the user can eject and keep working with the full fledged Jest locally. And of course we (_I say we as if I were doing something already haha_) could iterate o

[2018-01-10 08:42] gillchristian commented on #364
Btw, @kentcdodds sorry to ping you but I believe you would like this :wink:

[2018-01-10 12:28] marcinczenko commented on #364
@gillchristian:

From my current perspective (I am trying to convince people locally to use CodeSanbox for actual project and production code), the value of CodeSandbox will be much lower if you cannot continuously switch between local installation and the Sandbox. I am sure we will get there and of course, having subset of Jest temporarily is ok, but I hope CodeSandbox will be able to provide exp

[2018-01-10 12:31] marcinczenko commented on #364
@gillchristian  Hmm...I learned about CodeSandbox from an interview with @kentcdodds on EggHead :).

[2018-01-10 13:14] gillchristian commented on #364
Totally agree with that. But is better to start with something and then as I said, iterate on it and to aim for something really ambitious and the not be able to complete it.

Yes, indeed!

[2018-01-10 13:50] kentcdodds commented on #364
Yes I am excited by this! The other day I built something at a meetup with some folks in codesandbox and they wanted to learn about testing, so I built this: https://codesandbox.io/s/l5no8yznmq

It would be super to have a "Jest Lite" built-in.

There's been a lot of great discussion here. Let's not forget that CRA supports finding test files in a `__tests__` directory as well :+1:

Also, in the f

[2018-01-10 19:59] jrock2004 opened #442 "Ember support"
Any thoughts about getting Ember added in here?

[2018-01-10 21:28] marcinczenko commented on #364
@gautamarora Perhaps something that can be helpful. There is something called [jest-editor-support](https://www.npmjs.com/package/jest-editor-support), [jest-editor-support/src](https://github.com/facebook/jest/tree/master/packages/jest-editor-support/src). This package is used as a dependency in [vscode-jest](https://github.com/jest-community/vscode-jest) which is a *jest* extension to Visual Stu

[2018-01-10 22:45] gautamarora commented on #364
@marcinczenko that sounds like a very interesting idea, and yeah if we can feed it test results differently it could work. I havent tried it (or knew of it), so please go ahead and try it out 👍

[2018-01-10 23:01] gautamarora commented on #364
@kentcdodds - the tic tac toe example is really cool. Getting to learn a lot about Code Sandbox, Jest and CRA :)

[2018-01-11 01:15] tristan-shelton commented on #440
This is a huge one for me. I hardly ever write HTML components any more.

[2018-01-11 05:55] zephraph commented on #440
I'm gonna give it a go. 🤞

[2018-01-11 06:07] xyc commented on #408
Is it necessary to stringify/parse messages?

[2018-01-11 14:02] lbogdan commented on #408
@xyc Yes, because the sandbox preview is loaded in an iframe, running in a different JS context than the console, and you can't just pass objects across contexts.

One solution would be to **compose** the console message data directly in the sandbox preview, including functions and other non-passable data, **stringify it and send it** to the console that would just **display** it (right now it's t

[2018-01-11 14:36] CompuIves commented on #408
Interesting, what do you mean exactly with `compose`? One approach I was thinking of was traversing all keys and stringify it based on type (eg. for `function` we'd do `toString`). Maybe yours is better

[2018-01-11 14:38] CompuIves commented on #364
That would be super @marcinczenko! We already do the watching, so would be really cool to feed the results in Jest for every update.

[2018-01-11 14:39] CompuIves commented on #442
Not yet set in stone, but I'm open to it!

I'm curious what Ember uses for bundling, does it use Webpack?

[2018-01-11 14:40] CompuIves commented on #407
That's greaat @mfix22! I'm currently working on a redesign of the CodeSandbox editor, would be cool to put this in the same release. I'll play some with it!

[2018-01-11 14:41] lbogdan commented on #408
I wasn't thinking about a specific approach, but yeah, something along the lines of correctly serializing the console message **before** in the sandbox preview, before passing it to the console, so pretty what you said. :smile:

[2018-01-11 17:45] marcinczenko opened #444 "Potential uPort/crypto problem"
The following sandbox:

https://codesandbox.io/s/407vljolv0

uses [uPort](https://www.uport.me) (a blockchain identity system) that apparently depends on `Crypto` (`v0.0.3`). When exported and run in the local environment the app works. Only when installing dependencies (`yarn install`) there is a warning:

[code]

When running in the sandbox, the console reports on the top-level:

[code]

and in

[2018-01-12 02:33] gautamarora commented on #364
@CompuIves @gillchristian @DisasterMan78 @marcinczenko - based on the pointers and discussions above, we have finally have a PR to collaborate on https://github.com/CompuIves/codesandbox-client/pull/445

[2018-01-12 07:20] xyc commented on #408
@lbogdan Got it, so a reliable way to serialize/deserialize functions is needed and then it can be passed betwen sandbox frame and console.

[2018-01-12 10:13] CompuIves commented on #408
Exactly @xyc!

[2018-01-12 10:46] Haroenv commented on #277
Yep, I can prettify now but couldn't earlier in november

[2018-01-12 11:53] kimroen commented on #442
I've been thinking about this ever since I first tried out CodeSandbox, and I came here today to look at what would be needed to support Ember. I'd love to help get something working if there's any interest at all 👍

Ember uses [Broccoli](https://github.com/broccolijs/broccoli), which is pretty low-level. There's a lot of tooling built on top of it, all handled through [`ember-cli`](https://ember-

[2018-01-12 22:11] gautamarora commented on #364
Latest screenshot with tests being run and sent to the Test Manager...

![image](https://user-images.githubusercontent.com/1215971/34897331-8a3aa09e-f7bb-11e7-82b8-5a167931e2fa.png)

[2018-01-12 22:36] lbogdan commented on #364
@gautamarora Just wanted to let you know you can access that PR at http://pr445.cs.lbogdan.tk/s/new (it also updates as you add commits).

[2018-01-12 23:45] marcinczenko commented on #364
@gautamarora Nice! Thanks to this pull request it is faster for me to learn where things are happening ;).

@CompuIves I will try to experiment with native integration with `jest` via `jest-editor-support`. Is it ok that I create a separate issue for that to keep the relevant discussion (if any) easier to track?

[2018-01-13 02:41] gautamarora commented on #364
@lbogdan - wow! 😮 Thanks for that tip!

Demo for native integration using jest lite is here: http://pr445.cs.lbogdan.tk/s/4jw49300kx
give it a spin everyone and let me know how it goes!

_pending: send output to new tests tab_

[2018-01-13 03:21] YassineGherbi commented on #406
Can anyone confirm this bug, please?

[2018-01-13 04:22] xyc commented on #408
@CompuIves Maybe an alternative approach is to make react-inspector fetch its data async and "query" the sandbox frame as needed. Just an idea.

[2018-01-13 09:41] agubler opened #447 "Dojo 2 Support"
It would be awesome if we could get support for a Dojo 2 template.

Dojo 2 uses Webpack for bundling via the [dojo cli](https://github.com/dojo/cli-build-app). Please let us know if there is anything we can do to help with this!

[2018-01-13 13:47] CompuIves commented on #447
Great! Thanks @agubler, we're certainly going to support Dojo 😄

[2018-01-13 13:49] CompuIves commented on #408
Hmm, that makes a lot more sense @xyc, a much more sophisticated approach. It would also solve the circular structure problems. I think we should go this way instead, more reliable.

[2018-01-13 13:53] CompuIves commented on #406
Hey @YassineGherbi, thanks for reporting this issue. I can confirm it.

I think CodeMirror is getting the wrong file type here: https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/app/components/sandbox/CodeEditor/CodeMirror.js#L316 for vue files. I'll try to fix this today if someone doesn't pick this up 😄

[2018-01-13 14:11] gautamarora commented on #364
Happy to report that for the all tests pass for React Redux TodoMVC App using the native integration!
http://pr445.cs.lbogdan.tk/s/github/reactjs/redux/tree/master/examples/todomvc

[2018-01-13 14:53] CompuIves commented on #429
Well, it got fixed by @arthurdenner 😄 .

[2018-01-13 14:53] #429 closed

[2018-01-13 15:01] radi-cho opened #449 "Add framework info in user's list of sandboxes"
## Is this a bug or a feature request?
Feature request.

## Current behavior
When you go to someone's profile page -> SANDBOXES you will view something like this:

![image](https://user-images.githubusercontent.com/12954909/34907066-7cfddbaa-f881-11e7-8220-b2bdc7ca59e8.png)

Table/Grid with links to the sandboxes, their titles, date of creation, likes, forks, ect...

## Expected behavior
It'll be

[2018-01-13 15:08] CompuIves commented on #449
Hey @radi-cho! This looks really beautiful, I'd love to have this in CodeSandbox 😄 .

[2018-01-13 15:27] radi-cho commented on #449
So I'm gonna work on it and open new PR for it.
But do you have any preferences @CompuIves ? SVG icons or PNG images?

[2018-01-13 15:32] CompuIves commented on #449
I'd prefer SVG, I think we have something already that we have here: https://github.com/CompuIves/codesandbox-client/blob/master/packages/common/templates/index.js#L11

[2018-01-13 16:12] radi-cho commented on #449
OK. So you can add `someone working on it` label. I'll open PR or chat you within a day. 😄

[2018-01-13 16:21] CompuIves commented on #449
Great @radi-cho! Thank you 😄

[2018-01-13 22:53] ZeeCoder opened #450 ""fs hasn't been transpiled yet." on every other refresh"
This is another weird one:
https://codesandbox.io/s/mo7nr90vmj

If you keep refreshing the preview for this one, on every other refresh you'll be greeted with the following error:

![screenshot from 2018-01-13 22-51-16](https://user-images.githubusercontent.com/3679506/34910805-7eba1e94-f8b4-11e7-84a3-c66484f93444.png)

[2018-01-14 08:19] mfix22 commented on #407
Right now the component that is exported can be instantiated without any props, but we can probably play with it and add more configuration as a stand-alone component.

Let me know if you see any issues, or if you would like any help integrating it in one of your repos as well. We are here to help.

[2018-01-14 11:19] radi-cho opened #451 "Question: Why there isn't option `svelte` in templates getDefinition function?"
I was just working on #449 and saw [this function](https://github.com/CompuIves/codesandbox-client/blob/master/packages/common/templates/index.js#L118). Why there isn't option `svelte` for `themes` in function's arguments? Is this just gap or there are reasons for this? Should I fix it with the PR for #449?

![image](https://user-images.githubusercontent.com/12954909/34915336-6d20e626-f92d-11e7-9f

[2018-01-14 11:49] CompuIves commented on #451
Ah, that's wrong in the code. `svelte` should be there, sorry 😅

[2018-01-14 13:20] radi-cho opened #452 "Cube animations messed after switching tabs."
## Is this bug or feature request?
The great mystery of the frenzied cubes. - bug

## Current behavior and how to reproduce?
If you open codesandbox.io switch the tab and return back after few seconds the Cube animations are bit messed.

![image](https://user-images.githubusercontent.com/12954909/34916267-25f172b4-f93e-11e7-9e53-b35009e09526.png)

[2018-01-14 13:24] CompuIves commented on #451
I'll close this one as it's more a code related question. I'll fix this in the redesign branch 😄

[2018-01-14 13:24] #451 closed

[2018-01-14 13:30] radi-cho commented on #451
I added this in my PR, #453 - Take a look at it and leave review.

[2018-01-14 20:10] omarirose commented on #100
Was this feature ever implemented?

[2018-01-15 18:08] gautamarora commented on #364
Update: Support for describe blocks, formatted test summary (like jest cli)

![image](https://user-images.githubusercontent.com/1215971/34956018-2cda23d4-f9f5-11e7-9a3c-ac116cbb3dd9.png)

[2018-01-15 18:11] nicknisi commented on #447
I can take a look at implementing this.

[2018-01-15 18:26] CompuIves commented on #447
That's great @nicknisi!

Since we run all the code in the browser we don't support node applications, but we will support them from ~April. We're working on supporting that. If implementing Dojo proves to be too hard to implement because of its reliance on node we could also postpone implementation until we have proper Node support.

[2018-01-15 18:27] CompuIves commented on #100
Sadly not, it's not very hard to implement though. We support it, but don't have a UI for it.

If we supply the field `isBinary` with the create file (`createModule`) it will be recognized as an image. Is someone interested in implementing that?

[2018-01-16 08:34] vvo opened #455 "GitHub import not working for some urls"
Hi! I am trying to display a CRA app from one our of repositories with CodeSandbox without luck:
- https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/React%20InstantSearch
- https://github.com/algolia/instantsearch-templates/tree/master/React%20InstantSearch

What are we doing wrong?

Thanks!

[2018-01-16 12:03] CompuIves commented on #455
Ohh this is interesting. I think it has problems with parsing the space, I'll do some more investigating 🤓

[2018-01-16 12:04] CompuIves commented on #455
Ah, okay, it seems like we don't propagate errors from our extractor properly anymore. These 404s are confusing. Let me fix that first.

[2018-01-16 12:17] CompuIves commented on #455
Okay, we now show the proper errors again.

For this one:
https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/InstantSearch.js

We're trying to get an entry point that doesn't exist.

For this one:
https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/React%20InstantSearch

I think we have a bug because of the space.

[2018-01-16 12:22] CompuIves commented on #455
Fixed!

[2018-01-16 12:22] #455 closed

[2018-01-16 13:23] cannap commented on #452
i think this is because when you switch the tab  animation is paused and when you switch back it resumes
this can have unexpected side effects and then does not look right anymore for some small ms

[2018-01-16 13:56] gnumaniac opened #456 "Improve keybinding"
Using a bluetooth keyboard on ios platform, the arrows key does not work.
According to the keybinding settings section, events from a key press are "uikeyinputR/L/U/D" rather than ArrowUP/DOWN/LEFT/RIGHT.

[2018-01-16 17:24] geoidesic opened #457 "How to include static json file for ajax REST call?"
So generally web apps pull json data and then use that.
How can we emulate this on codesandbox without CORS?

I tried creating a static json file `list.json` in the app root and pointing the ajax call at `/list.json` but it returned HTML instead of json. Presumably that's because it's being delivered with the wrong headers.

Is there documentation that covers this? (I couldn't find documentation f

[2018-01-16 19:36] gautamarora commented on #364
Updated Demo URL: http://pr458.cs.lbogdan.tk/s/github/reactjs/redux/tree/master/examples/todomvc

[2018-01-17 02:51] techniq commented on #403
@CompuIves I appear to be running into this running as well on my [marchingsquares.js image outline](https://codesandbox.io/s/w00kr6k887) codesandbox (worked when I first wrote it).

[2018-01-17 09:06] vvo commented on #455
Thanks for this!

[2018-01-17 09:11] vvo opened #460 "public/ folder and using stylesheets"
Hey hi, I am trying to inject a stylesheet on https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/InstantSearch.js.

It seems to be using create-react-app by default so inside public/index.html I put:

[code]

And I have a `public/search.css` file, but it's not loading. Hints?

[2018-01-17 09:18] vvo commented on #460
Workaround: just put style.css in src/ and do `import './style.css';` it works by default.

But still there might be a bug so leaving opened here

[2018-01-17 12:24] Haroenv commented on #306
#359 is a subset of this AFAICT

[2018-01-17 12:29] Haroenv commented on #113
handled in #126

[2018-01-17 12:29] #113 closed

[2018-01-17 12:31] Haroenv commented on #62
This is possible in embed now, is that also in the main editor?  https://codesandbox.io/docs/embedding/#embed-options

[2018-01-17 14:52] radi-cho commented on #449
It's ready! #453 is merged and deployed and #451 is done so I'll close this.

[2018-01-17 14:52] #449 closed

[2018-01-17 16:01] gautamarora commented on #364
early release of jest unit testing in codesandbox has landed! https://codesandbox.io/s/github/reactjs/redux/tree/master/examples/todomvc

![image](https://user-images.githubusercontent.com/1215971/35052354-646a9cda-fb75-11e7-8451-10a4c60073e2.png)

@gillchristian @kentcdodds @DisasterMan78 @marcinczenko - give it a spin if you can. want to resolve any major bugs before next codesandbox version rel

[2018-01-17 17:38] marcinczenko opened #462 "Create entry for the developer documentation"
I've just created this issue to make it visible. As discussed with @CompuIves on discord:

That would encourage users looking around to read it
If you are on this page [https://codesandbox.io/docs/](https://codesandbox.io/docs/) We could show 2 collapsible menus in the navigation. One called `Documentation` and one called `Developer Documentation`

I will try to have it ready soon. As an initial d

[2018-01-17 17:39] kentcdodds commented on #364
Cool! It's a great first-step!

I think the most important next step would be to improve the error displayed.

I think it would also be great to get a dedicated UI for tests so it shows the error messages and you can focus on the tests.

This is cool. Thanks for working on it @gautamarora!

[2018-01-17 17:41] marcinczenko commented on #364
@gautamarora I will. I've just created an issue #462 where I will start adding Developer Documentation. I will put some initial docs on how Unit Tests are currently implemented (I hope @gautamarora will able to correct me where I am wrong).

[2018-01-17 17:55] gautamarora commented on #364
@kentcdodds - totally agree. Dedicated UI is coming real soon 😄

@marcinczenko - 😮 thats awesome!! so exciting.

[2018-01-17 17:55] gautamarora commented on #462
@marcinczenko - amazing!! so excited for this.

[2018-01-17 21:08] gillchristian commented on #364
It's already merged :scream: Really nice work @gautamarora !!

![that escalated quickly](https://media.giphy.com/media/ToMjGpjpXMFPshSYGLm/giphy.gif)

Please let me know if you want some help in the UI part. I was thinking we could toggle the runner so test aren't running all the time, and maybe some way of manually triggering the run, and Kent's suggestion of a dedicated UI would be awesome too.

[2018-01-17 21:52] gautamarora commented on #364
@gillchristian - thank you! everyone was way too encouraging, had to give it a shot!! 🙇

For the UI, having a toggle to make it run/stop is a good idea vs tests running all the time (even though they are super fast to run!). @CompuIves is working on the dedicated UI in the redesign branch. I am excited to see what he has in the works!!

As next steps on the testing side, I want to take a look into

[2018-01-17 22:03] CompuIves commented on #444
Hmm, this is interesting. We've had problems with `string_decoder` before, I'll fix this issue tomorrow.

[2018-01-18 02:00] Nufflee opened #465 "Dart support"
I've been playing around with [Dart](https://www.dartlang.org/) lately and this could be a nice addition but I'm sure it'll involve a ton of work. I may or may not try to do it myself ;).  [Dart](https://www.dartlang.org/) is a programming language developed by Google which compiles to JS but also runs on a VM (virtual machine) and mobile (with Flutter). A one complication here might be that I did

[2018-01-18 02:06] Nufflee commented on #447
This might also be the case with Dart support (#465) because it doesn't have JS API for invoking the compiler/transpiler as of yet.

[2018-01-18 04:43] gautamarora commented on #432
Hey Harlley - are you still seeing this issue?

I tried out the sandbox at https://codesandbox.io/s/23m6zmlkwj and am not seeing any errors.

![image](https://user-images.githubusercontent.com/1215971/35081144-3083494c-fbe0-11e7-9fd0-30bafaf19624.png)

[2018-01-18 09:04] yuche opened #467 "Alias support?"
Is there a way to define alias ? Like webpack config:

![image](https://user-images.githubusercontent.com/7202516/35089336-91461674-fc71-11e7-8eb2-832ce06fff78.png)

[2018-01-18 09:07] wuweiweiwu commented on #100
@CompuIves I'd like to take it if its not already taken :)

[2018-01-18 12:23] gautamarora commented on #432
awesome! could you close this issue in that case?

[2018-01-18 12:26] harlley commented on #432
Yes. Thanks again.

[2018-01-18 12:26] #432 closed

[2018-01-18 15:29] CompuIves commented on #100
That would be really great @wuweiweiwu!

I think the best implementation would be to add the option to create a 'Binary File', a binary file is a file marked with `isBinary`. An example is `public/favicon.ico` in https://codesandbox.io/s/github/CompuIves/codesandbox-test-git-app. These files can be created by adding `isBinary: true` to the payload when calling the API to create a module.

[2018-01-18 15:30] CompuIves commented on #403
Progress update on this issue: I've worked on this and am planning to release this with CodeSandbox 2.5, somewhere next week.

It looks like this:
![screen shot 2018-01-18 at 16 27 37](https://user-images.githubusercontent.com/587016/35105813-e729d74c-fc6c-11e7-8760-904bf3dfd35d.png)

[2018-01-18 15:45] techniq commented on #403
@CompuIves That looks and sounds good.  Thanks for the update.

[2018-01-18 22:17] CompuIves commented on #444
Okay! Fixed it in https://github.com/CompuIves/codesandbox-client/pull/468, it's a big change. So I'll test it more tomorrow and merge it in.

[2018-01-18 22:28] marcinczenko commented on #444
Nice. I checked and it looks ok. Thanks!

[2018-01-18 22:43] CompuIves commented on #364
@cpojer would certainly be interested in this!

[2018-01-19 08:35] cpojer commented on #364
Woah, this is cool.

[2018-01-19 13:04] ZeeCoder commented on #450
Any way I could help with this?

[2018-01-19 13:06] ZeeCoder commented on #450
Actually, I think one of my deps requires "fs", but doesn't actually use it.
The weird thing is though, that instead of consistently failing, on every other refresh it just works. 🤔

[2018-01-19 13:08] ZeeCoder commented on #450
This is the exact file that uses fs:
https://github.com/ZeeCoder/container-query/blob/master/packages/postcss-container-query/src/saveJSON.js

[2018-01-19 14:42] divyanshu013 opened #469 "Back and forward on search are not updating the filters or current page"
Hi @CompuIves, there appears to be an issue with the codesandbox search.

If I select or modify some filters (say select react, vue, ...) then change the page number the state is getting pushed to the history but on going back or forward (using the browser back/forward navigation) the filters are not updating.

Replicating
1. Go to https://codesandbox.io/search
2. Select any page number
3. Try goi

[2018-01-20 09:31] wuweiweiwu commented on #100
@CompuIves Sounds good! I'll get on it!

[2018-01-21 23:53] wuweiweiwu commented on #100
@CompuIves I was thinking of adding a upload image button by the add file. And then sending the payload with the image and `isBinary: true`

Would that work?

[2018-01-22 11:11] vvo opened #470 "Display the actual dependency version along `latest`"
When showing the dependencies I see:

![image](https://user-images.githubusercontent.com/123822/35217936-353e3998-ff6d-11e7-9d08-57fcabc114fa.png)

And I am fine with the usage of `latest` because that's what I actually want as a behaviour (to have the sandbox use whatever latest version).

But still, for transparency/observability/exhaustivity I would like to actually know the exact version. So s

[2018-01-22 14:35] CompuIves commented on #470
That's a perfect & helpful suggestion! Would love to have this.

[2018-01-22 14:36] CompuIves commented on #100
Interesting, then we'd have an upload version immediately as well. I like it, that'd work!

[2018-01-22 17:45] CompuIves commented on #450
I found the issue for this: it seems like we cache some paths wrongly for native modules. I'll investigate further tomorrow 🤓

[2018-01-22 22:00] souporserious commented on #218
It looks like a similar bug might be back. I'm getting this when trying to test something in IE11:

![image](https://user-images.githubusercontent.com/2762082/35246721-8d43bb86-ff7c-11e7-9e27-605e11398b2d.png)

[2018-01-22 22:53] wuweiweiwu commented on #100
@CompuIves A thing that I don't fully understand is that creating a binary file like favicon.ico in the example. When you send the request for that, is the link to the actual resource sent in the payload? I mightve misunderstood

[2018-01-23 02:59] mockdeep opened #471 "Crashes documentation on react-transition-group page"
This is a copy/pasta from https://github.com/reactjs/react-transition-group/issues/278

**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current behavior?**

When I visit the documentation page at https://reactcommunity.org/react-transition-group/ I see the documentation initially, but I quickly get an "Aw, snap!" error from Chrome. It appears to be caused by

[2018-01-23 03:01] mockdeep commented on #471
It does not, however, crash if I visit a page directly on codesandbox.io, say https://codesandbox.io/s/preact.

[2018-01-23 03:43] bigopon opened #472 "Feature Request: Top / Bottom layout"
At the moment only left / right layout is supported. It would be nice to have ability to have code on top, preview at the bottom. This layout is better for embed environment

[2018-01-23 09:11] vvo commented on #335
Any pointers on where to add the relevant template code to support Angular @CompuIves? Thanks

[2018-01-24 18:16] rasdaniil commented on #424
Hi!
I should report, that now the problem seems to have disappeared and it works perfectly in monaco editor

[2018-01-24 23:08] RavenHursT opened #473 "Adding NPM Request package and importing causes exception"
Why is this causing so many errors in the dev console?

https://codesandbox.io/s/wn98lm3j5w

[2018-01-25 01:18] rosenfeld commented on #467
I'm +1 to this, but they would probably have to be aliased to `inferno-compat` though. I have the same use case. Sometime I'd like to report issues to React-like alternatives such as Dio.js, Inferno.js, Preact and NervJS and it would be awesome if CodeSandbox could support alias to allow some libraries to be easily tested against the React-compatible alternative libraries.

[2018-01-25 11:43] CompuIves commented on #467
Heya! We already have support for aliases (we use them eg. in Vue and Preact), though we don't expose them yet.

I'm releasing an update somewhere next week that allows you to set your own aliases in a 'custom' template, this would also make it easier to have `Dio.js`, 'Inferno.js' sandboxes etc.

[2018-01-25 11:43] CompuIves commented on #473
Hmm, this seems to be related to this issue #444. It's fixed with #264, I'll deploy that either today or tomorrow morning.

[2018-01-25 11:44] CompuIves commented on #424
That's good to hear! It could be related to the DevTools console upgrade 😄.

[2018-01-25 11:44] #424 closed

[2018-01-25 11:44] CompuIves commented on #335
Heya! I'm releasing an update next week with Angular template support, stay tuned 😄.

[2018-01-25 11:50] CompuIves commented on #471
This is a really bad situation. It may be related to the OS since some of my friends had the same issue when opening the homepage with ~4 embeds a couple months ago in Linux.

I'm thinking of adding a 'Click to Run' (https://codesandbox.io/docs/embedding/#embed-options) by default for embeds (if not explicitly specified) for Linux users, to be on the safe side.

I'll investigate further for a long

[2018-01-25 11:57] CompuIves commented on #472
Hah, I have this ready in our redesign! It allows you to resize the preview in any way.

It looks like this:

![screen shot 2018-01-19 at 13 38 58](https://user-images.githubusercontent.com/587016/35387243-320a587e-01cf-11e8-9381-22fc16e15c04.png)

Will be released somewhere next week :).

[2018-01-25 12:00] CompuIves commented on #100
That's how we currently handle binary files, the code is just a url to the resource.

We still want to add an upload service that allows the user to upload a file, we return the url which in turn will be placed in the code.

For example, if you want to upload an image then I imagine we'd first do an upload to an endpoint like `/api/v1/upload`. That would then return a URL which can be used for the

[2018-01-25 12:13] CompuIves commented on #462
This would be reaaally good to have! Thank you @marcinczenko

[2018-01-25 12:19] marcinczenko commented on #462
Yes, it is coming very soon :).

[2018-01-25 12:23] rosenfeld commented on #467
Oh, that would be awesome :) Please let us know once it's out :)

[2018-01-25 19:33] rgtk commented on #471
@CompuIves, I have noticed that crash happens after requesting these via Service Worker:

https://codesandbox.io/monaco-typings-ata.1383fafa041b0c5876ae.worker.js
https://codesandbox.io/monaco-syntax-highlighter.c900a81d5350f8f4244b.worker.js
https://codesandbox.io/monaco-typings-ata.1383fafa041b0c5876ae.worker.js

All of these seems to be related to polyfills that might do some crazy stuff to bui

[2018-01-26 04:47] nicknisi opened #475 "CodeSandbox not loading inline .d.ts files in node modules"
For TypeScript examples, CodeSandbox is not currently looking for inline type definition files that may be distributed in the npm package, and that are not called out in the `types` property in package.json.

As an example, all of the Dojo 2 modules ([core](https://github.com/dojo/core) as an example) distribute UMD modules for each TypeScript module, along with a .d.ts file for each, rather than

[2018-01-26 15:35] timothyis opened #477 "Sync GitHub name change"
I recently changed my name on GitHub and there's no way to sync that change to CodeSandbox as of yet. Would be great to have it!

[2018-01-26 21:23] goodmind commented on #278
It can't install from master?

[2018-01-27 14:14] #444 closed

[2018-01-27 14:28] CompuIves commented on #473
Just deployed a fix and verified that it works!

[2018-01-27 14:28] #473 closed

[2018-01-27 14:48] RavenHursT commented on #473
👍🏼👍🏼👍🏼

[2018-01-27 15:13] #450 closed

[2018-01-27 16:07] CompuIves commented on #278
Hey! Do you have an example sandbox? It works for me.

[2018-01-27 16:14] #475 closed

[2018-01-28 09:39] tyhof opened #480 "Hyperapp support"
Any chance for Hyperapp support?

[2018-01-28 20:09] CompuIves commented on #477
Should be fixed now! If you sign in again (so sign out -> sign in) your username should be updated.

[2018-01-28 20:09] #477 closed

[2018-01-29 05:17] radixzz opened #481 "Framework agnostic setup with webpack"
Hi guys, I'm loving what you are doing thank you!.

Do you have a template to start a project without a framework? It would be great to have the option when starting a new project to setup something like HTML+Stylus+Babel. Pretty much like the Vue.js skeleton but without the framework. So I'm currently trying to mod the Vue.js by removing the framework entirely (from all the webpack and package.js

[2018-01-29 21:48] CompuIves commented on #470
Just merged, will deploy tomorrow morning!

[2018-01-29 21:48] #470 closed

[2018-01-30 21:27] bogdansoare opened #484 "Module not found although is added as a dependency"
<img width="1439" alt="screen shot 2018-01-30 at 23 26 03" src="https://user-images.githubusercontent.com/2750170/35592267-1f955d84-0615-11e8-97db-b182728826b5.png">

[2018-01-31 00:21] dekryptic opened #485 "React Typescript and Vim Mode Not Working"
For example, if I attempt to create an interface, I get `eslint: Parsing error...`. With Vim mode off, it works as expected.

[2018-01-31 06:23] bigopon commented on #472
Awesome 1111. Thanks for the info :+1

[2018-01-31 06:40] EisenbergEffect commented on #472
FYI, once you have this ready, we'd love to start incorporating it in our Aurelia documentation. Should provide some great visibility for the cool service you are building. Looking forward to it!

[2018-01-31 07:21] yesmeck opened #486 "Sandbox created by define API can not download as a CRA application"
Here is a [sandbox](https://codesandbox.io/s/jnw46698m3) created by define API, and the sidebar on the left shows it's template is `create-react-app`,  I'd expect it can be download as a `create-react-app` application.

[2018-01-31 13:53] Andarist opened #487 "[bug] Importing projects with "proxy" directories fails"
I suspect this is a bug in a module resolver, wasnt sure in which repo I should report it.

**Input**
[code]

**Output**
[code]

[This](https://github.com/redux-saga/redux-saga/tree/master/utils) is how `redux-saga/utils` is structured. It is a directory which proxies to appropriate files (so main/module can be appropriately resolved in cjs/es environments) using private `package.json`.

[2018-01-31 14:42] akiran opened #488 "Include lock file when we download codesandbox"
Recently I ran into an issue where my code works on codesandbox but it doesn't work if I download codesandbox  code and run on my machine.  lock files can help debug there issues.

Can you include yarn.lock or package-lock.json also when we download a codesandbox

[2018-01-31 15:12] zocky opened #489 "The pipe character cannot be entered on Slovenian, Croatian, Serbian keyboard layouts"
On my (Slovenian) keyboard layout, the pipe character "|" is on right alt +W , which transmits the same keycodes as alt + ctrl + W, which closes the current tab in Code Sandbox. This makes it very hard for me to enter pipes. There are also other important characters on Slovenian and other keyboard layouts that are entered with alt+ctrl+[some key].

It would be therefore very helpful if key binding

[2018-01-31 18:24] alansouzati commented on #217
hey @CompuIves how you doing? 😄

Is the `module` param still working? I cannot get this URL to open in the Button module.

https://codesandbox.io/s/github/grommet/grommet-sandbox?initialpath=button&module=%2FButton.js

[2018-01-31 18:26] alansouzati commented on #217
never mind we need src now.

https://codesandbox.io/s/github/grommet/grommet-sandbox?initialpath=button&module=%2Fsrc%2FButton.js

[2018-01-31 19:21] CompuIves commented on #487
Hmm, seems like https://github.com/CompuIves/codesandbox-client/pull/468 introduced this bug. I'll investigate and write a fix now.

[2018-01-31 19:34] #487 closed

[2018-02-01 22:56] zocky opened #492 "Scroll position is not preserved when switching between tabs"
When I switch forth and back between editors in tabs, the cursor position is preserved, but the scroll position isn't. The editor is always scrolled to the top after switching tabs.

[2018-02-02 05:41] CodeLover19 opened #493 "CodeSandbox feature Upload files would be great."
It would be great if, you were able to add a feature to drag and drop files from our local to the codesandbox. I was thinking there would be an option some how, to click on the right position maybe an icon saying Upload then what would appear would be upload files, upload folders.

Simply having this feature would be great so you can test your projects on both local and codesandbox to compare.

So

[2018-02-02 22:50] den1k opened #494 "Read from codesandbox"
I'd like to write aws lambda functions as part of a codesandbox prpject. To load/deploy a lambda I need to be able to get & set the editor's files and dependencies. Is there any way to do this today? If not, are there any plans to add this feature?

[2018-02-03 06:49] CompuIves commented on #494
That should be possible at this moment! If I understand correctly you want
something like this: https://codesandbox.io/docs/importing/#define api.
Right?

On Fri, Feb 2, 2018, 23:50 Dennis Heihoff <notifications@github.com> wrote:

[2018-02-03 21:13] den1k commented on #494
This let's me make a new sandbox but how do I *get* the code and dependencies of an existing sandbox programmatically?

[2018-02-04 01:29] viankakrisna opened #496 "Consider publishing the bundler as a separate package"
Hi! I'm currently working on a CMS that store their asset source in the database, the idea is to make the assets editable on the dashboard UI and save the generated file to the server, that way the server does not need to have any bundler/transpiler running/installed.

Looking through the source of this repository, I think it would be beneficial for my use case to have https://github.com/CompuIves

[2018-02-04 04:18] gautamarora commented on #494
@den1k - this is a really cool idea!

I did some digging around and think the api to get code & deps is:
`https://codesandbox.io/api/v1/sandboxes/m3nv37wx28`
`https://codesandbox.io/api/v1/sandboxes/github/reactjs/redux/tree/master/examples/todomvc`

using the response, the code is under `modules` & `directories` and the deps under `npm_dependencies`

[2018-02-05 13:45] ZeeCoder opened #497 "Showing version numbers for transitive deps"
I experiment a lot on the platform, and I often times notice weird behaviours where I can't be sure whether it's a caching issue on your side, or it's just that dependencies were not resolved the way I thought they would be.

I basically find myself a lot of times wondering whether I got the right dep versions or not.

Take this for example:
https://codesandbox.io/s/l4xny9m59q

here, `@zeecoder/re

[2018-02-05 14:21] CompuIves commented on #497
Hey @ZeeCoder,

We cache by dependency combinations, the example you've shown is an interesting one. `@zeecoder/cq-demo-utils` requires 2.3.0 and `@zeecoder/react-container-query` requires 2.4.0. I'll do some more investigating on why the sizes are not shown now.

[2018-02-05 14:30] ZeeCoder commented on #497
Sizes?
You mean versions, right?

So that must've been it, but that's still weird because react-container-query should then use it's 2.4.0 version, while cq-demo-utils is not even using that dependency in this example.

But yeah, so here I could've probably resolved the issue sooner by adding the caret version range to cq-demo-utils - although it's probably a good thing that we seem to have notice

[2018-02-05 14:36] CompuIves commented on #497
That's awesome @ZeeCoder! I found the issue, there was a bug in our dependency conflict resolver for scoped packages. I'll deploy a fix now.

[2018-02-05 14:41] CompuIves commented on #497
I agree with showing all dependency versions, I'll keep this issue open as a reference to that.

[2018-02-05 14:48] CompuIves commented on #43
Hey @jthegedus, I'm sorry for the late response. I missed your reply.

I'm deploying an update today or tomorrow that will allow arbitrary directory structures, we will attach a custom template for those sandboxes 😄

[2018-02-05 14:48] CompuIves commented on #43
Oh, and this issue can be closed, the documentation is here now: https://codesandbox.io/docs

[2018-02-05 14:48] #43 closed

[2018-02-05 14:49] CompuIves commented on #497
Reopening for reference!

[2018-02-05 14:53] CompuIves commented on #496
Hey @viankakrisna, I actually was working on this for some time. But stopped when I got other things to work on.

It would be perfect if we create a separate package for the sandbox, it would also fit perfectly with our workspaces.

I started working on it in this branch https://github.com/CompuIves/codesandbox-client/tree/playground, I had a post about it here https://medium.com/@compuives/announ

[2018-02-05 14:59] CompuIves commented on #486
This is a good one @yesmeck, we didn't create a CRA boilerplate around the project because we detected `package.json` and assumed the project to be CRA already.

I'll fix this.

[2018-02-05 15:13] ZeeCoder commented on #497
Yep, demo works now, awesome work as usual  🙌

I'll leave the issue open then until that feature lands, can't wait 👍

[2018-02-05 19:14] den1k commented on #494
@gautamarora thank you! Will give this a shot!

[2018-02-05 19:14] #494 closed

[2018-02-05 20:34] drcmda opened #499 "× ModuleNotFoundError Could not find module in path"
I seem to have problems including anything that imports ESM. Here is the sandbox: https://codesandbox.io/s/vjzy5o7yy0

I bablify sources using the following:

[code]

and package.json points to:

      "module": "dist/index.js",

It works fine locally but something throws it off in CSB.

<img width="692" alt="screen shot 2018-02-05 at 21 35 43" src="https://user-images.githubusercontent.com/222360

[2018-02-05 21:31] CompuIves commented on #499
Hey @drcmda! Thanks for showing this issue, it seems like our resolver doesn't use package.json#module at all. I'll open a PR for a fix.

Small note:
In the case of CodeSandbox es modules are **less** performant, the reason for that is that we don't transpile our `node_modules` by default, but we have to if we find any `export` or `import` statements. We shouldn't block your development though. Fi

[2018-02-05 21:35] CompuIves commented on #499
Just saw react-contextual by the way, that looks **really** cool! I love the simplicity of it.

[2018-02-05 21:36] #499 closed

[2018-02-05 21:48] CompuIves commented on #499
Oh, it seems like it only works if you add a package.json in the root. We will deploy an update tomorrow that will add the `package.json` by default.

[2018-02-05 22:10] drcmda commented on #499
@CompuIves thanks so much for all you do, couldn't be happier about csb! I just saw it's already working now, holy cow, that was fast!

Wow, that means a lot to me, thank you! 😊

[2018-02-05 23:31] jthegedus commented on #43
:100: Thanks!

[2018-02-06 16:02] CompuIves commented on #335
Tomorrow!

[2018-02-06 20:32] vvo commented on #335
❤️

[2018-02-06 21:34] den1k opened #501 "Define user-owned, private Sandbox"
I looked into the `define` API but didn't see a way to a) define a sandbox for a particular user and b) set it to be private? Is this possible?

[2018-02-07 13:48] #31 closed

[2018-02-07 13:48] #68 closed

[2018-02-07 13:48] #70 closed

[2018-02-07 13:48] #85 closed

[2018-02-07 14:36] Haroenv opened #502 "Test failures don't have the correct stack trace"
Amazing new feature with the tests!!

I noticed that if your test assertion is failing, there's an error, instead of the stack trace and failed assertion

[code]

<img width="1439" alt="screen shot 2018-02-07 at 15 32 36" src="https://user-images.githubusercontent.com/6270048/35921868-37e95fc2-0c1c-11e8-8316-29e0853ee422.png">

This only happens in Safari, there might be something wrong with the r

[2018-02-07 14:49] chakrihacker opened #503 "Add Searchbox on home page"
Sometimes, I may want to search sandboxes and I don't want to go to my profile or create sandbox just to search, I think there will be other devs who are lazy like me 🥇 .

Puns apart, Search box will help to find a demo sandbox about a topic

[2018-02-07 14:50] chakrihacker commented on #503
If you like adding search box, I will add it

[2018-02-07 15:08] k15a opened #504 "New preview can overflow the sidebar"
Hey,

nice work on codesandbox 2.5!
I've found a little ui bug:

![screen shot 2018-02-07 at 16 07 15](https://user-images.githubusercontent.com/20357450/35923636-17512164-0c21-11e8-9a98-9bd6c862d309.png)

[2018-02-07 15:13] rajjejosefsson opened #505 "Cannot read property 'instantiate' of undefined"
Can't go to my sandbox https://codesandbox.io/s/612l1j41vr

Chrome version: Version 64.0.3282.140 (Official Build) (64-bit)

Getting following error:

[code]

[2018-02-07 15:16] CompuIves commented on #505
Hey @rajjejosefsson, thanks for noticing us, we're looking into it!

[2018-02-07 15:22] #505 closed

[2018-02-07 15:22] CompuIves commented on #505
Pushed a fix just now, will be live in 5 min!

[2018-02-07 15:23] CompuIves commented on #504
Thank you! That's a good one, funny bug.

[2018-02-07 15:23] CompuIves commented on #502
Okay, thank you! Will deploy a fix now!

[2018-02-07 15:25] CompuIves commented on #335
Deployed! https://medium.com/@compuives/announcing-codesandbox-2-5-be767d15ffd

[2018-02-07 15:25] #335 closed

[2018-02-07 15:25] k15a commented on #504
`z-index: 1000000;` and fixed 😀

[2018-02-07 19:36] ForsakenHarmony opened #506 "Closing all tabs leads to a grey screen"
Close all tabs -> Whole page is grey

[2018-02-07 19:38] CompuIves commented on #503
This is a really good one! Where do you think the best place would be to place the search?

[2018-02-07 20:44] CompuIves commented on #403
Hey! This is live now, if you create a `sandbox.config.json` you will be able to disable infinite loop protection 😄

[2018-02-07 20:44] Hum4n01d commented on #334
This is still missing... @CompuIves

[2018-02-07 20:45] CompuIves commented on #36
This is live now! 😄

[2018-02-07 20:45] #36 closed

[2018-02-07 20:46] CompuIves commented on #472
Whoop! Live now! 😄

That's awesome!! Would be really cool to have an Aurelia template, do you have any default setup you recommend to most users?

I'll close this one now :).

[2018-02-07 20:59] EisenbergEffect commented on #472
Oh, heck yeah! I'll give it a try this week and see what we can do for a default template. @bigopon Do you have some ideas on this? I'd love to move quickly to re-write our getting started tutorial, incorporate and do a blog post to help promote it and Code Sandbox.

[2018-02-07 21:01] CompuIves commented on #334
Hmm yes, I'm definitely open to it. We could create a page called /signin or something and start the auth flow there. Then we can open a popup from the homepage that goes that page.

[2018-02-07 21:26] Hum4n01d commented on #334
My thoughts exactly. Wasn’t that what I said in the Discord server?

[2018-02-07 21:29] CompuIves commented on #334
Yep, exactly!

[2018-02-07 21:31] krimple opened #507 "Add (nonstandard) support for Apple iPad keyboards"
Issue comes from twitter conversation with @CompuIves who suggested logging it here.

According to this response to the lack of arrow key support on iOS Webkit/Safari, in https://bugs.webkit.org/show_bug.cgi?id=149054#c6 it is actually possible to get events from the Apple iPad keyboard. They are, of course, nonstandard, but making it possible to use arrow cursor keys in an editor box makes it a g

[2018-02-07 23:19] CompuIves opened #509 "Github dependencies stopped working"
Seems like github dependencies don't work as expected. Should fix!

[2018-02-08 00:11] samdenty99 opened #510 "Resizable window preview can get too small"
Loving the new update ❤️

The minimum height should be something like:
![image](https://user-images.githubusercontent.com/13242392/35948417-4d8e2158-0c64-11e8-9fef-f9acf6f744a5.png)

Instead of:
![image](https://user-images.githubusercontent.com/13242392/35948457-6e416aae-0c64-11e8-9669-f39a9fb3726c.png)

Once it gets to that point, it's bad from a ux perspective as it's difficult to resize again.

[2018-02-08 02:37] yesmeck commented on #486
Can confirm this issue has been fixed, thanks!

[2018-02-08 02:37] #486 closed

[2018-02-08 07:29] chakrihacker commented on #503
A search icon next to create sandbox button, when clicked expand search input or a search modal when text entered goes to search page

[2018-02-08 10:16] alekhka opened #512 "Can't find the prettify button in the new UI"
The prettify button which used to be in the top right corner, now isn't there at all.

[2018-02-08 12:28] gautamarora commented on #364
A fully baked Jest Integration shipped with [CodeSandbox 2.5]
(https://hackernoon.com/announcing-codesandbox-2-5-be767d15ffd) yesterday!

@CompuIves added a shiny new UI (he really knows how to interfacivize things!), `jest-circus` to make tests run async and `jest-snapshot` for snapshot testing.

![image](https://user-images.githubusercontent.com/1215971/35972739-03caf068-0ca1-11e8-9773-caf780666

[2018-02-08 12:28] #364 closed

[2018-02-08 12:33] gautamarora opened #513 "Jest in CodeSandbox 3.0"
Creating an issue to discuss future features for Jest integration in CodeSandbox...

Jest in 2.5 - [issue](https://github.com/CompuIves/codesandbox-client/issues/364) | [release](https://hackernoon.com/announcing-codesandbox-2-5-be767d15ffd)
- [x] Unit testing
- [x] Mock functions
- [x] Snapshot testing (read only, does not create new snapshots)

Jest in CodeSandbox 3
- [ ] Snapshot saving
- [ ] M

[2018-02-08 12:50] jthegedus opened #514 "Settings inference without requiring main field in package.json or src/index.js"
Is there a way that the [settings inference](https://codesandbox.io/docs/importing#setting-inference) could be done without the `main` field in the `package.json`. This requirement is blocking me, as specifying a `main` field will conflict with other tools I use, messing up their configuration (https://github.com/firebase/firebase-tools/issues/662).

With an empty `main` field my other tooling wor

[2018-02-08 13:07] CompuIves commented on #514
Hmm, interesting. We have a list of entry points we traverse specific per template. The package.json entry is the first one we try. Do you have a link to the sandbox? I could definitely add an override based on sandbox.config.json!

[2018-02-08 13:26] jthegedus commented on #514
An override would be great!

This sandbox load fine as I've got an empty file `src/index.js` and a `main` field: https://codesandbox.io/s/github/jthegedus/blog-examples/tree/master/firebase-functions-express . But this breaks the Firebase deployment as it concates the `main` field to the deployment dir. An issue I have raised with Firebase.

This sandbox fails to load as there is no `main` field i

[2018-02-08 14:08] jtheisen opened #515 "Typescript in-editor support partially broken at least in create-react-app-typescript"
When you select the "React TypeScript" template, you get in-editor complaints about react modules not being found.

The sandbox compiles and runs fine, but the editor doesn't seem to think so:

![image](https://user-images.githubusercontent.com/1516294/35976934-ed72703e-0ce1-11e8-88fc-1c9bb281534a.png)

[2018-02-08 16:01] gautamarora commented on #513
also cc @gillchristian - interested to help with code or ideas? :)

[2018-02-08 16:28] gillchristian commented on #513
Yeah, I just joined Discord, we can talk there :smile:

[2018-02-08 16:35] CompuIves commented on #515
Interesting, I can't reproduce this on my side. I'll do some more investigation!

[2018-02-08 17:33] gautamarora opened #516 "jest integration - initializing test environment"
As reported by jonstuebe in discord, the `src/setupTests.js` should be executed by default in create-react-app template. This is documented [here](https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#initializing-test-environment)

Sandbox where issue was reported: https://codesandbox.io/s/009pr18q10
Sandbox showing issue can be resolved by copying ove

[2018-02-08 18:13] dreyn74 opened #517 "Preview window: auto resize"
Since the last update, the preview window fails to auto resize when the tests or console windows is minimized.
Also, the preview windows shakes back and forth when hovering the mouse over the items in the "File Editor" tree view.

[2018-02-08 20:15] #516 closed

[2018-02-08 21:21] #517 closed

[2018-02-08 21:21] CompuIves commented on #510
Fixed with PR #519! Will be live in 10min

[2018-02-08 21:21] #510 closed

[2018-02-08 21:42] CompuIves commented on #512
Thanks for letting us know! I added it back for nostalgia sake ;D. Fixed with #520. Should be live in 10 min.

We also have something called quick actions since recently (activate with CMD/Ctrl+Shift+P), this way you can prettify without touching your mouse. Another way is by setting keybinding for prettify in your preferences.

[2018-02-08 21:42] #512 closed

[2018-02-09 01:35] noinkling opened #522 "undefined is logged as null in the built-in console"
`console.log(undefined)` results in `null` being printed in the built-in console, rather than `undefined` as expected.

[2018-02-09 03:40] pdngithub opened #523 "version of bootstrap changed on import from github"
I imported a project from github (https://github.com/pdngithub/NavbarComp) into https://codesandbox.io/s/qzwn6lmzr6. The version of bootstrap changed from the one I that is specified (^3.3.7) in the github package.json to the latest. I deleted it, then used "dependencies", "Add Dependency" button on the sidebar to try to add it back in. The first time I got the latest again, but I don't know what

[2018-02-09 03:51] pdngithub opened #524 "bootstrap not found in ng cli project"
In sandbox https://codesandbox.io/s/qzwn6lmzr6 I am trying to use bootstrap. I am doing so by adding it to the .angular-cli.json. The configuration is:

    {
      ...
          "styles": [
            "styles.css",
            "../node_modules/bootstrap/dist/css/bootstrap.min.css"
          ],
          "scripts": [
            "../node_modules/jquery/dist/jquery.min.js",
            "../node_mo

[2018-02-09 06:18] alekhka commented on #512
Works perfectly! Didn't know of the quick actions, it is awesome!

[2018-02-09 08:35] jtheisen commented on #515
I'm talking about the version hosted at codesandbox.io I should add.

[2018-02-09 10:57] FDiskas opened #525 "TypeError g.testRunner.reportError is not a function"
![sss](https://i.imgur.com/whWqvHo.png)
https://codesandbox.io/s/43wk3mpkj9

[2018-02-09 10:58] FDiskas commented on #525
It works now :/

[2018-02-09 10:58] #525 closed

[2018-02-09 11:14] CompuIves commented on #525
Thank you! This is good to know, probably happens because of SW inconsistencies. Happens only on first load, but still important to fix.

[2018-02-09 11:16] CompuIves commented on #523
Hmm, that's interesting. That means that we have changed the package.json during import. I'll check if there is any step where we do that unknowingly or deliberately.

[2018-02-09 12:44] CompuIves commented on #522
Hmm, interesting. This is probably related to #511. Maybe we need to separately check for undefined @samdenty99?

[2018-02-09 12:46] CompuIves commented on #484
This one was fixed by #490 😄

[2018-02-09 12:46] #484 closed

[2018-02-09 12:57] CompuIves commented on #524
Hey @pdngithub, I found the origin of this error. I'll deploy a fix somewhere in the next 2 hours!

That's right. CodeSandbox does everything in the browser, from bundling to evaluation. This means that we don't always have native integration with angular cli.

This problem occurred because we hadn't downloaded `bootstrap/dist/css/bootstrap.min.css` yet and couldn't find it. I now added the functi

[2018-02-09 13:05] CompuIves commented on #250
It seems like we fixed it in the meantime 😄!

Closing...

[2018-02-09 13:05] #250 closed

[2018-02-09 13:06] CompuIves commented on #509
Was a different issue, still works!

[2018-02-09 13:06] #509 closed

[2018-02-09 13:06] #524 closed

[2018-02-09 13:07] CompuIves commented on #61
This has been fixed!

[2018-02-09 13:07] #61 closed

[2018-02-09 13:08] CompuIves commented on #88
This has been fixed!

[2018-02-09 13:08] #88 closed

[2018-02-09 13:09] CompuIves commented on #207
Good ones, I'll look into this this month.

[2018-02-09 13:09] CompuIves commented on #332
Yoep, this is here now!

[2018-02-09 13:09] #332 closed

[2018-02-09 13:12] CompuIves commented on #514
Okay!

So if I understand correctly, you want to show https://github.com/jthegedus/blog-examples/blob/master/firebase-functions-es6-babel/src/functions/index.js from the https://github.com/jthegedus/blog-examples/blob/master/firebase-functions-es6-babel repo, without setting `main` in `package.json`, right?

[2018-02-09 14:52] CompuIves commented on #457
Hey! I'm sorry for the delayed response.

You can create a `list.json` file in the `static` directory, you should be able to access it then by going to `/list.json`. A vue example would be:

https://n74m8py83l.codesandbox.io/list.json
for
https://codesandbox.io/s/n74m8py83l

I hope this clarifies how it works, we should get some documentation on this 😄

[2018-02-09 14:52] #457 closed

[2018-02-09 14:58] CompuIves commented on #480
Absolutely! Is there a default starter template that's normally used for Hyperapp apps?

[2018-02-09 14:59] #126 closed

[2018-02-09 14:59] #313 closed

[2018-02-09 14:59] #347 closed

[2018-02-09 15:00] CompuIves commented on #410
You can now configure your sandbox to do a full reload by creating a `sandbox.config.json`, that should fix this issue!

[2018-02-09 15:00] #410 closed

[2018-02-09 15:00] CompuIves commented on #492
Good one! This definitely needs to be built.

[2018-02-09 15:00] CompuIves commented on #506
Yep, bug!

[2018-02-09 15:01] CompuIves commented on #503
Hmm, I'm not sure if that would fit in all cases. Maybe we can also add something in the header instead? Or maybe that wouldn't fit as well 🤔

[2018-02-09 15:28] jthegedus commented on #514
That's correct.

I want to add the project to CodeSandbox **without** the `main` field being used to determine **anything** about the project structure.

I understand that it is common practice to use `main` to determine the entry point of the app, but the repo structure I have is a stripped down monorepo, without a single entry point.

The discussion here https://github.com/firebase/firebase-tool

[2018-02-09 16:25] donavon opened #528 "Possible to drag preview "off-screen""
It's possible to drag the preview to where you can't move it again. A page reload is necessary to regain control.

![codesandbox drag bug](https://user-images.githubusercontent.com/887639/36037808-d7f74298-0d8b-11e8-8b6d-e9988bcd686e.gif)

[2018-02-09 16:34] CompuIves opened #529 "Sass resolves underscore vars wrongly"
We need to fix resolving `@import "base"` -> `./_base.scss`

Thinking of using https://github.com/dadish/sass-import-resolve.

[2018-02-09 16:56] samdenty99 commented on #522
I've started adding the actual types to the dispatcher => https://github.com/samdenty99/codesandbox-client/commit/f2442aa4f174a4e93c9abacfa1ac3e7a235d4c83. All that's left is to integrate the react components + the test logs.

It'll also allow the use of the DOM inspector from the `react-inspector` package + `console.table`

[2018-02-09 17:01] CompuIves commented on #489
Yap, absolutely! This could be related to our recent changes in KeybindingManager, maybe @christianalfoni knows what the reason for this could be?

[2018-02-09 17:04] CompuIves commented on #522
Wow, that looks badass @samdenty99!

[2018-02-09 17:14] aaronshaf commented on #528
Same problem here. Related issue: I need a way to hide the browser (especially when I already have the preview in another tab).

[2018-02-09 17:16] aaronshaf opened #530 "Ability to hide the preview browser"
I need this especially when I have opened the preview browser in a new tab. Thanks!

[2018-02-09 17:32] zocky commented on #489
Oh, I think that "not closing the tab" isn't intentional. This is what happens when I press altGr+W  or alt+ctrl+W:

[code]

[2018-02-09 18:44] christianalfoni commented on #489
@CompuIves Raven error? Seems weird. It might be blocking what codesandbox is trying to do :)

[2018-02-09 19:08] zocky commented on #489
I think raven.js might be just reporting the error, the error is really in `closeListener` in `Editor/Content/Tabs/index.js`. Which, BTW, checks directly for keyCode 87.

Please, when/if you fix that, don't make it close the tab on hardcoded alt+ctrl+W, or I still won't be able to type a pipe.

[2018-02-09 22:47] CompuIves commented on #530
Very good one, I knew that I forgot something with the redesign! 😅

[2018-02-09 22:56] #528 closed

[2018-02-09 22:59] CompuIves commented on #529
Fix deployed

[2018-02-09 22:59] #529 closed

[2018-02-09 23:12] rajjejosefsson opened #531 "Removing sandbox doesn't update the state of the counter"
When you are in your profile page and want to remove a sandbox, the counter of sandboxes in the Navigation Link doesn't get updated until refresh.

[2018-02-10 02:09] chakrihacker commented on #531
nice catch

[2018-02-10 06:33] kaidoj opened #532 "Reopening sandbox using the blue "play" like button stays stuck on loading git repositories"
Reopening sandbox using the blue "play" like button stays stuck on "fetching git repository". I have to refresh the page and then it loads sandbox. Firefox 58.0.2.

[2018-02-10 07:22] bernardodsanderson opened #533 "Add Stencil JS Support"
It would be great to have Stencil support.

Repo: https://github.com/ionic-team/stencil

Getting started:
[code]

[2018-02-10 11:25] chakrihacker commented on #492
Hey, I can get position from this line
https://github.com/CompuIves/codesandbox-client/blob/a9934ced5758d84a5bbbe9d9fc4f342a489c7640/packages/app/src/app/components/CodeEditor/Monaco/index.js#L588

I want to save this position locally...
 and then monaco has this function

```editor.revealPositionInCenter({ lineNumber: 50, column: 120 });```

looking where to add this, need little help

[2018-02-10 16:52] CompuIves commented on #492
That's perfect! We already cache the pos here:

https://github.com/CompuIves/codesandbox-client/blob/a9934ced5758d84a5bbbe9d9fc4f342a489c7640/packages/app/src/app/components/CodeEditor/Monaco/index.js#L598

So we only have to add that functionality here:

https://github.com/CompuIves/codesandbox-client/blob/a9934ced5758d84a5bbbe9d9fc4f342a489c7640/packages/app/src/app/components/CodeEditor/Monaco/

[2018-02-10 16:58] #531 closed

[2018-02-10 21:55] HillLiu opened #535 "Loader 'worker-loader' could not be found."
Could you point me how to resolve it?

I use inline worker-loader in my code, such as.

[code]

[2018-02-11 08:42] chakrihacker commented on #506
How can you close all tabs, the opened tab can't be closed

[2018-02-11 11:39] vedam opened #537 "import gists"
Hi all,
first of all thx for this great tool.
I'm wondering if codesandbox has an option to define a gist as external ressource.
i.e. I created a basic css-reset-gist and wanted to integrate it in all of my sandboxes.
I was not able to find some info about such a use-case, so I'm asking here.
thx in advance

PS: I saw the git-repo-support, but I think a complete repo is too much for a simple code-

[2018-02-11 12:10] chakrihacker commented on #334
@CompuIves do you want a new page in gatsby for authentication or is it ok to handle auth on home page??

[2018-02-11 19:15] ForsakenHarmony commented on #506
Middle click

[2018-02-11 19:33] CompuIves commented on #334
I think we should have a page in the editor app itself that calls the required logic (I think `props.signals.signInClicked`). We don't have the logic for it on the homepage.

[2018-02-11 21:48] #530 closed

[2018-02-11 22:24] br1anchen opened #538 "Errors updates from other module does not update after module changed in monaco editor"
I am fairly new user to codesandbox.io, it might be an user error after all :P

**Bug reproduce**:
If user removed template file `Hello.js`, and recreated an new `Hello.js` file, and export correct default module.
Original `index.js` will still have error info about `Can not find module in path './Hello'`

**Screenshot**:
<img width="1918" alt="screen shot 2018-02-11 at 23 03 30" src="https://user

[2018-02-11 23:29] AWolf81 opened #540 "Jest testing issue in Firefox"
The following [example](https://codesandbox.io/s/4lwz2mw4px) doesn't start properly in Firefox  58.0.2 (64-Bit) Windows 10.

I'm getting multiple errors in the console that I'm not able to fix and displaying of the test panel is taking really long 5-10 seconds.

After a click on the play button in the test panel I'm getting errors like in the following screenshot:
![Error](https://user-images.gith

[2018-02-12 10:04] viankakrisna commented on #537
why not publish it to npm? or you can use https://rawgit.com/ to serve it as an external asset

[2018-02-12 10:07] viankakrisna commented on #496
@CompuIves nice! I'm a bit tight for time recently, but I'll see if I can do it :)

[2018-02-12 10:15] vedam commented on #537
thx for the hint.
I wanted to avoid publishing to npm for such a small snippet.
I'll give rawgit a try.
Thx again

PS: Should I close or is this still an interesting info for anyone else?

[2018-02-12 15:56] zocky opened #544 "ctrl+S occasionally shows the browser Save As dialog"
I haven't figured out the pattern, but sometimes the keyboard event handler that should handle ctrl+S fails to suppress the default behaviour, and the Save As dialog pops up.

[2018-02-12 19:14] CompuIves commented on #544
Ah, a friend of mine found the scenario: if you press CTRL+V, then remove your finger from V and move it to S you get the dialog.

Pretty interesting issue, do you think this is fixable @christianalfoni?

[2018-02-12 22:04] CompuIves commented on #406
Fixed with https://github.com/CompuIves/codesandbox-client/commit/eafb0d8264e3d66f6e7e90183e8e8015ddb252ef, will go live tonight or tomorrow morning!

[2018-02-12 22:04] #406 closed

[2018-02-12 22:08] CompuIves commented on #538
Fixed by you! :D

[2018-02-12 22:08] #538 closed

[2018-02-12 22:09] CompuIves commented on #328
This works now for CodeMirror too, will go live tomorrow morning!

[2018-02-12 22:11] CompuIves commented on #351
I found this origin of this issue. It seems like it happens for modules with `code: null`. I think I have fixed this, I'll close this issue now.

We can reopen it if it reoccurs!

[2018-02-12 22:11] #351 closed

[2018-02-12 22:15] Piterden commented on #328
Thnx. You rock, man!! ) :+1:

[2018-02-12 22:19] CompuIves commented on #176
I think we can close this one, to allow more specific issues about the homepage.

[2018-02-12 22:19] #176 closed

[2018-02-13 06:20] wuweiweiwu opened #545 "developing on localhost cannot create project"
0.0.0.0:8000/s/new

displays this page instead of creating a new project

<img width="775" alt="screen shot 2018-02-12 at 10 20 01 pm" src="https://user-images.githubusercontent.com/35270620/36135968-f26462c8-1042-11e8-99d9-c4e9bb4761c5.png">

[2018-02-13 06:46] wuweiweiwu commented on #100
@CompuIves I have it rewritten using the cerebral modules :) But blocked on #545. Can't create a new project to test it.

Hope that can get resolved soon Thanks!

[2018-02-13 07:37] chakrihacker commented on #545
Go to localhost:3000

On Tue 13 Feb, 2018, 11:50 AM Wei-Wei Wu, <notifications@github.com> wrote:

[2018-02-13 08:11] wuweiweiwu commented on #545
Thanks!

[2018-02-13 08:12] #545 closed

[2018-02-13 08:38] wuweiweiwu commented on #100
@CompuIves Seems like the `is_binary` key in the post request no longer creates files with 'code' field as links. I also noticed that `isBinary` is converted to `is_binary` when you send the request.

Does the api still support isBinary key?

[2018-02-13 09:28] alekhka commented on #532
Same with me in Chrome version 63.0.3239.132 , it is easily solved by refreshing the page as you told, but it's a little annoying.

[2018-02-13 12:03] gautamarora commented on #540
@AWolf81 - I am getting the same errors for your sandbox and [even a simpler one that was working earlier](https://codesandbox.io/s/009pr18q10) on Chrome. It appears when I start a sandbox in chrome incognito mode, it works fine but then on second load I get the same error as you are reporting.

Also, the dev tools panel is certainly taking a long time to load but its way quicker for a sandbox wit

[2018-02-13 12:19] gautamarora commented on #540
actually, the speed of testing doesnt seem to be an issue in the examples, when run for the first time in incognito window, the test run is completed in ~50ms.

![image](https://user-images.githubusercontent.com/1215971/36149519-064d86d6-10e6-11e8-81cc-5a48f0665a77.png)

cc @CompuIves for ideas on how we can debug this further.

[2018-02-13 12:35] TryingToImprove opened #546 "Zen mode does not use full height"
Going into Zen-mode does not use the space the removed top bar had. See picture

![image](https://user-images.githubusercontent.com/1690457/36150088-b6b42f8a-10c2-11e8-8bf8-9f1912374009.png)

[2018-02-13 12:41] CompuIves commented on #546
Hmm, I've never seen this before. Which browser are you using?

On Tue, Feb 13, 2018 at 1:35 PM Oliver <notifications@github.com> wrote:

[2018-02-13 12:45] TryingToImprove commented on #546
Google Chrome is up to date
Version 64.0.3282.140 (Official Build) (64-bit)

[2018-02-13 12:45] CompuIves commented on #540
Hm, this could be related to our caching mechanism.

It can maybe be solved if we add the `isEntry` value to the cache save/load here:

https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/sandbox/eval/transpiled-module.js#L814

and here:

https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/sandbox/eval/transpiled-module.js#L778

I cannot reproduce

[2018-02-13 12:47] CompuIves commented on #546
Oh! I see what you mean now, I'll write a fix now.

[2018-02-13 12:47] TryingToImprove commented on #546
Here is a animated GIF of the issue:

![codesandbox](https://user-images.githubusercontent.com/1690457/36150563-6966ab48-10c4-11e8-9cc1-1b30542b419c.gif)

[2018-02-13 12:51] #546 closed

[2018-02-13 12:51] CompuIves commented on #546
Pushed! Will go live somewhere this afternoon :smile:

[2018-02-13 14:24] Williammer opened #547 "The Navigator in Preview failed to behave as a normal browser."
The Navigator in Preview acts quite strange when I'm playing with it. :(
For example, if I inputted a new url in the addressBar and press Enter, the 'Back' icon didn't activate and Navigator has no history new added.

Although it's quite minor as there's not much need to use the Navigator as a normal browser, it'll be more user-friendly to have it feature-completed.

I can create a PR for this iss

[2018-02-14 08:52] robertheessels opened #552 "Make optional what tabs are opened in an embed."
I would like to have the option in embeds to hide package.json.
And better yet, an option to state which file(s) tabs to show.

[2018-02-14 16:08] zocky commented on #544
I don't think that's the only way it occurs. And showing the save as dialog isn't the only symptom, it also doesn't actually save the file. My guess is that saving fails silently for some reason, and `event.preventDefault()` never gets called.

[2018-02-14 16:22] venkat4541 opened #554 "Visibility issue of Helper text for errors/issues in code."
The tooltip prompt that explains possible reason for an error is not visible completely if the error is towards the top of the editor(screenshot attached).

It should be easy to fix by mentioning a higher z-index but I think the dev/maintainer should decide on the behavior: if the z-index should be edited or if the tooltip should show up below the mouse pointer to avoid overlapping with editors ta

[2018-02-14 16:50] #554 closed

[2018-02-14 16:51] CompuIves commented on #554
Good one! I committed a fix, I decided to show the text over the tabs so we don't have to change the render logic of Monaco.

[2018-02-14 16:52] CompuIves commented on #554
Oh, should be live in an hour 😄. I'm first getting dinner

[2018-02-14 17:08] zocky opened #555 "Make multi-line error messages in the console shorter"
Basically, error messages in the console should be wrapped with `<details><summary>{firstLine}</summary>{otherLines}</details>`, to reduce extreme clutter in the console resulting from React error messages.

It would also be nice if filenames/line numbers in the error message were clickable, like they're in the preview window.

[2018-02-14 20:13] evgenyrodionov commented on #425
Also not working with branches with `/`

https://github.com/mrzvdesign/aviasales-demo-frontend/tree/feat%2Fmain-page

imported as
`https://codesandbox.io/s/github/mrzvdesign/aviasales-demo-frontend/tree/feat%2Fmain-page`
or with manually replaced to `/`
`https://codesandbox.io/s/github/mrzvdesign/aviasales-demo-frontend/tree/feat/main-page`

leads to
[code]

[2018-02-14 20:20] evgenyrodionov commented on #425
Interesting, it works on another repo

https://codesandbox.io/s/github/Rainbowhorseproduction/aviasales-demo-frontend/tree/feat%2Fmain-page

[2018-02-15 05:24] DanWahlin commented on #457
First off - thanks for creating such as great tool! Really appreciate all your hard work. Been telling a lot of people about it in training classes lately.

I know this issue is closed and you provided a viable workaround, but any chance of enabling the "assets" folder in Angular projects or providing a setting where any folder could be defined as the "static" files folder? While I can make the st

[2018-02-15 10:49] bbeaumatin opened #556 "React App Template: HTML <head> tags in <body>"
Hello,

When I create a new React App, all the `<head>` tags get duplicated in the `<body>`.
The file is correct when received by the browser (see network tab in chrome devtools), but the browser puts `<head>` tags in the `<body>` when interpreted (that or a CSB related script is causing this effect).

It doesn't really prevent me to use codesandbox but it has a few drawbacks, for example if I put

[2018-02-15 14:16] smably opened #557 "Content jumps when hovering on file tree"
Noticed a little UI issue, repro'd in latest Chrome. Hovering over the entries in the file tree causes a glitch on the right side of the page:
![codesandbox_bug](https://user-images.githubusercontent.com/1466970/36260820-820ee0d0-1230-11e8-8170-5a17fe5423c9.gif)
(Please excuse my bad tab hygiene!)

[2018-02-16 06:23] tsaiDavid commented on #505
@CompuIves - Patron here, keep up the awesome work! I'm actually still seeing this same issue. Does this have anything to do with public, unlisted, private settings?

PS - on the same note, is there any way to run private repos from Github?

[2018-02-16 09:44] CompuIves commented on #505
Hmm, I think you have the right hunch @tsaiDavid. I'll check on dev now.

[2018-02-16 09:47] wuweiweiwu commented on #493
Related to #495

[2018-02-16 10:15] CompuIves commented on #505
I think I found this issue! Should be live in 10 minutes.

Regarding your other question:

We don't support importing private repos yet, I think this is a good feature to add though since we now support committing as well. Would you be interested in opening an issue for it?

[2018-02-16 15:01] pavloDeshko opened #558 "CodeMirror scrolling is not working"
when using CodeMirror editor scrolling moves only the browser's viewport, not editor's. PageDn/PageUp works fine
Firefox 58

[2018-02-16 15:21] mcristiano opened #559 "Cannot find module 'angular-bootstrap-md'."
I'm trying to use the mdbootstrap free enterprise component but I'm not getting it, I followed all the installation and configuration steps and it still will not, could anyone help me?

See my project: [https://codesandbox.io/s/kkpplyrqqo](https://codesandbox.io/s/kkpplyrqqo)
See in my app.module.ts erro in line **import { MDBBootstrapModule } from "angular-bootstrap-md";**

Instructions
[https://

[2018-02-16 20:09] phpsmarter commented on #558
yeah .Same way . when close CodeMirror , can't see content of files, because of  console screen. My browser is safari,  Chrome  working is normal .

[2018-02-16 22:02] ryanpcmcquen opened #560 "Pasting HTML re-formats without following styling in preferences."
To reproduce this, take a chunk of HTML and paste it into an HTML file, you will see the reformatting take place. Here's a sample for reference:

[code]

![hyfy-recording-481755-459283-1518817731908-1](https://user-images.githubusercontent.com/772937/36331228-d0821466-1321-11e8-87fa-f499c71f6d2e.gif)

[2018-02-16 22:20] ryanpcmcquen commented on #344
This bug is back @CompuIves, regression?

[2018-02-16 22:39] ddoria921 commented on #442
I'm also interested in this. Any help on where to get started implementing this?

[2018-02-17 11:16] HamedPour commented on #194
Hi Van, have to agree with kenyk7 there. I've been trying to us use Ctrl+F10 but its exceptionally cumbersome. Which is a shame coz I really like codesandbox. I'd be much happier with something that can be done with one hand. Crtl + E or even Ctrl + Alt + A  etc

[2018-02-17 12:31] LAITONEN opened #562 "Codesandbox does not work on Safari"
Keep getting errors like this when opening any project:
<img width="1280" alt="screen shot 2018-02-17 at 2 27 54 pm" src="https://user-images.githubusercontent.com/23742868/36340913-d30a1648-13ee-11e8-9e29-1659b944cd99.png">

The errors above came from [this project](https://codesandbox.io/s/lr6qm56637).

This is what I see in the browser window when I open a new project:
<img width="1280" alt="sc

[2018-02-17 14:23] TurboTobias opened #563 "Paid versions with less limitations"
Problem: project limit is 120 files and our project is already beyond that.

Solution: Paid versions could either increase the number of files or the size of the project in GB. This would make it more suitable for professional use and it would generate cash moneyy 💰

[2018-02-17 19:09] CompuIves commented on #562
Thanks for letting me know if this! I'll check this out tomorrow.

On Sat, Feb 17, 2018, 13:31 Eduard Rastoropov <notifications@github.com>
wrote:

[2018-02-17 22:28] sag1v opened #564 "[Feature]: default new project template"
Hi, Thanks for this great tool.

Is there a way we can configure or create a default project snippet instead of the built in one?
For example, i often find myself editing the default react `App` component from a stateless component to a `class` component with a `state` etc.

I would love to configure my own starting template or maybe even have some snippets of code.

[2018-02-18 00:23] pshrmn opened #565 "Simplify adding multiple dependencies"
Currently, dependencies must be added one at a time, which leads to the dependency modal opening and closing multiple times. It would be nice to queue a number of dependencies to be added at once to simplify this workflow.

[2018-02-18 04:35] EisenbergEffect commented on #472
@CompuIves Thanks for doing this! I was playing with it today and noticed that this option wasn't available for embed ;( Any chance of adding that? Embedding is the primary context in which we need the top/bottom layout. Thanks!

[2018-02-18 11:14] lbogdan commented on #564
A workaround I use is to have "template" sandboxes from which you then fork. The only drawback is that sometimes I open a "template" sandbox and forget to fork it, so I end up overwriting the template, so it needs some getting used to, but over all it works.

[2018-02-18 11:28] lbogdan commented on #565
Would showing a notification that the package has been added and not closing the dependency modal after that suffice?

[2018-02-18 11:47] CompuIves commented on #564
I think we could have the 'Mark as Template' functionality. Wouldn't be too
hard to build too.

On Sun, Feb 18, 2018, 12:15 Bogdan Luca <notifications@github.com> wrote:

[2018-02-18 11:55] lbogdan commented on #564
So that when you open it, make changes and save, it should automatically fork it?

[2018-02-18 12:15] sag1v commented on #564
@lbogdan This is exactly what I'm doing and exactly the problems i face with this approach.
I end up overriding the "template". 😞

[2018-02-18 12:16] sag1v commented on #564
@CompuIves Sounds great, you will need a special "Edit Template mode" though.

[2018-02-18 12:17] CompuIves commented on #564
Yep, and we could also show all 'marked' as templates sandboxes when you open 'Create New Sandbox' modal 😄

[2018-02-18 12:27] CompuIves commented on #194
I completely agree, this is too cumbersome right now. I'll experiment with CTRL+E/CMD+E a bit!

[2018-02-18 15:44] pshrmn commented on #565
A notification would probably work too. My one concern with a notification is that I'm not sure how the user would indicate that they are done adding deps (so that the modal can be closed). With building a list of dependencies to add, I think that a "finish" button would make sense to add to the flow.

![modal-idea](https://user-images.githubusercontent.com/1127037/36353679-06126dce-148f-11e8-9dbf

[2018-02-18 16:09] CompuIves commented on #194
Some updates on this! I've been experimenting a bit and got it working with Tab, will deploy that today. It only works for HTML now, but I'm working on an vscode like implementation:

![screen shot 2018-02-18 at 16 44 43](https://user-images.githubusercontent.com/587016/36354024-76157f64-14ce-11e8-8928-798d24dc4adb.png)

[2018-02-18 16:28] CompuIves commented on #565
Hmm, yes. I think we could do this in the dependency window:

<button>Add Dependency</button>
          or
<input>dependency names</input>

This way users have a choice to either search or enter directly.

[2018-02-18 17:07] CompuIves commented on #472
Ah that makes a lot of sense @EisenbergEffect, I'll add that as an option!

[2018-02-18 17:08] CompuIves commented on #344
Yep, I'll commit a fix now.

[2018-02-18 17:11] CompuIves commented on #425
Found the issue @evgenyrodionov 😄. There was a file with a different unicode character than 'c', but it looked like 'c'. I changed the file validation to make it work. Should work now.

[2018-02-18 17:12] ryanpcmcquen commented on #560
Probably tied to this regression:
https://github.com/CompuIves/codesandbox-client/issues/344

[2018-02-18 20:08] CompuIves commented on #425
Just took a look at your sandbox @cantyjeffrey, the project will work if you put all dependencies that are used for building are put in `devDependencies` in `package.json`. We will autodetect used dependencies in the future 😄

[2018-02-18 20:08] CompuIves commented on #425
I'll close this one now since the initial GitHub URL converter issues are fixes. For any new issues we can open a new issue.

[2018-02-18 20:08] #425 closed

[2018-02-18 20:10] CompuIves commented on #563
Really good one @TurboTobias! Also thanks a ton for becoming a patron 😄.

We will do this as soon as we've moved to Kubernetes, which should be within a month

[2018-02-18 20:42] CompuIves commented on #532
Good one! This must be a regression from the rewrite to Cerebral.

[2018-02-18 21:27] CompuIves commented on #559
This is a very good one. The editor shows it as an error, though it's working in the bundler. The reason is that we don't have the `node_modules` `.ts` files available for the Monaco editor.

What we need to do is this:

Our `fetch-dependency-typings` worker (https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/app/components/CodeEditor/Monaco/workers/fetch-dependency-typin

[2018-02-18 21:28] CompuIves commented on #557
Oii this is really bugging me! It seems like a scroll bar appears or something?

Would someone be interested in investigating this one? I can look at it at the end of this week if it's still open.

[2018-02-18 21:30] CompuIves commented on #558
Good one, I'm working on a layout refactor that should fix this. Hopefully done this week!

[2018-02-19 09:38] rajjejosefsson opened #567 "[Feature] Folders for your sandboxes"
Hey
I would like to have a option to order my codesandboxes in folders to organize common stuff, this would be super super amazing to have 😄

[2018-02-19 10:30] benatkin opened #568 "EFF PrivacyBadger blocks it on Medium by default, but not GitHub gists"
I added an embed to Medium and it wasn't working, and I found it was because of EFF's Privacy Badger. It doesn't block GitHub gists so I think maybe there's a way they have to keep track of legit embedded documents like CodeSandbox vs share buttons. [Here's my post which fails to load CodeSandbox with the default Privacy Badger settings.](https://medium.com/@batkin/making-an-infinity-symbol-with-s

[2018-02-19 13:58] CompuIves commented on #558
Fixed, will deploy today!

[2018-02-19 13:58] #558 closed

[2018-02-19 13:58] CompuIves commented on #562
Fixed, will deploy today!

[2018-02-19 13:58] #562 closed

[2018-02-19 13:59] #557 closed

[2018-02-19 14:21] CompuIves commented on #556
Good one! I know how to fix this one, but need to find a way to fix this without breaking local dev environment for the contributors.

[2018-02-19 14:22] CompuIves commented on #537
Good tip @viankakrisna, I think we can close this one. Hopefully people will find this issue when they have a similar question 🙂.

[2018-02-19 14:22] #537 closed

[2018-02-19 14:30] #472 closed

[2018-02-19 14:30] CompuIves commented on #472
Will this deploy this afternoon, you can then do this:

https://codesandbox.io/embed/new?verticallayout=1

[2018-02-19 14:32] CompuIves commented on #535
Hey! We don't have support for the worker-loader yet, I'm thinking whether it would be possible to support it.

Looking at the Webpack loader (https://github.com/webpack-contrib/worker-loader/blob/master/src/index.js) we'd need to emit a file, which we then need to require externally. We would require something like a service worker to make it seemingly statically available...

Interesting, I'll t

[2018-02-19 14:47] CompuIves commented on #532
Fixed, will be live later today!

[2018-02-19 14:47] #532 closed

[2018-02-19 14:56] ryanpcmcquen commented on #560
Nice!

[2018-02-19 15:20] CompuIves commented on #460
Haha, I just found the problem. It looks like we have our own styles.css there as well. Found out by testing it in this sandbox: https://codesandbox.io/s/yjm821kq91.

I'll fix this by removing the styles.css, it was for our old homepage.

[2018-02-19 15:39] phpsmarter commented on #558
Thank you. Provide so wonderful tools !

[2018-02-20 05:13] EisenbergEffect commented on #472
Awesome! I'll start experimenting with it this week. Do you guys think you could provide official Aurelia support like you do for other frameworks? We'd be happy to do some cross promotion of your product on our official blog if you do. Let me know @CompuIves Thanks!

[2018-02-20 05:26] altano opened #572 "Sub-ideal first experience with a React typescript app"
I tried working on a new project in code sandbox, which is super awesome in so many ways, but ended up having a bad experience. My sandbox is here: https://codesandbox.io/s/2zp6rqpvp

1. emmet expansion + ctrl+z takes you back further in your edit history than right before the emmet expansion.
1. My anchors were not working and I was going crazy trying to figure out why only to try and reproduce o

[2018-02-20 11:47] HillLiu commented on #535
Cool, thanks @CompuIves

[2018-02-20 15:24] CompuIves commented on #572
Wow @altano, thank you so much for taking the time to write all this out!

I'll make sure to address your feedback this week, this is really valuable and clear information. Also, thanks for showing the sandbox that's having this!

[2018-02-20 15:41] CompuIves commented on #572
Okay, I committed fixes for:

3.i (https://github.com/CompuIves/codesandbox-client/commit/403f82b432b7984c13b87a2b314e1f42ecc58df8)
3.ii (https://github.com/CompuIves/codesandbox-client/commit/f2a01f163cebfe44b70d6e71fa4090431e782f79)
3.iii (changed defaults for the default sandbox `react-ts`)

I will allow configuration of `tsconfig.json` in CodeSandbox tomorrow, this will fix 3.iv and 3.v with t

[2018-02-20 15:50] CompuIves commented on #472
That sounds like a good idea @EisenbergEffect! Do you have a recommended default template we could use?

[2018-02-20 17:39] pavloDeshko opened #573 "CodeMirrow auto-scrolling on input"
another problem with CodeMirror - on input editor scrolls itself to the line of input (puts this line to the very bottom of the viewport)
Provided there are more lines above than editor's height, of course
Firefox 58

[2018-02-20 18:19] bigstoef opened #574 "prettify does not prettify within vue <template>"
This does behave the same as a clean setup of visual studio code with vetur locally, but locally it's configurable by adding: "vetur.format.defaultFormatter.html": "js-beautify-html"
to user or workspace (and probably project) settings. I Could not find any references to Vetur in the repository so not sure how the single file components are supported within codesandbox.

Is html formatting within

[2018-02-20 19:57] crh225 opened #575 "github import"
while trying to import my [reposityory](https://codesandbox.io/s/github/crh225/angular-github-issues)
I get an error that only 120 modules are allowed in the sandbox. This is an angular-cli generated application.
![image](https://user-images.githubusercontent.com/19475195/36446125-f744e336-1645-11e8-85f2-20854223db64.png)

side note:I think the error message should say 120 messages are allowed

[2018-02-20 19:59] crh225 commented on #575
I think it is related to https://github.com/CompuIves/codesandbox-client/issues/563

[2018-02-20 19:59] #575 closed

[2018-02-20 20:35] pavloDeshko commented on #502
same issue on Firefox..

[2018-02-20 21:55] Haroenv commented on #502
It was actually something to do with having the wrong service worker running I thought

[2018-02-21 03:22] BellenWalker opened #576 "Error: Cannot find module 'quasar-framework' from '/'"
Today I’m encountering this error that cannot find quasar-framework module, it’s working fine until this morning.
I removed this dependency and reload it, but still didn’t fix it.

When launching the application,  it didn’t scan dependency folder I can see from the error log, but scanned components folder instead, turn out it couldn’t find it.
Any ideas on this? really appreciate it.

Error log:
E

[2018-02-21 04:44] trevorwhealy commented on #206
@CompuIves hey Ives, what's the ETA on this? Doing front end interviews in codesandbox would be a dream - I've tried it by watching interviewees screens via Skype, Hangouts, etc and it was mostly great, but I really missed this feature.

I'd like to introduce this to more people in our org, but many will probably require real-time collaboration (at least viewing in real time, if not editing).

[2018-02-21 06:09] altano commented on #572
Wow you're too fast. Thanks for fixing so many of the issues so quickly. I look forward to giving it another shot!

[2018-02-21 07:04] EisenbergEffect commented on #472
@bigopon Didn't you put one together? Is this one good? https://codesandbox.io/s/215vp3v1xj

[2018-02-21 07:10] EisenbergEffect commented on #472
Actually, that one seems to have issues. Maybe this one is better: https://codesandbox.io/s/0wpjv6yp0

[2018-02-21 07:18] EisenbergEffect commented on #472
There are a lot of things happening in the console. Not sure if that's something wrong with the sample or a different underlying issue. @CompuIves Let me know what you think our nest step is. Thanks!

[2018-02-21 10:24] dfsq commented on #194
However Emmer seems to have stopped working for anything else but HTML. For example in JSX I'm no longer able to use abbreviations, nor in CSS.

[2018-02-21 11:54] CompuIves commented on #576
Hmm, that's really weird. I haven't deployed anything yesterday.

I'll do some more investigating now1

[2018-02-21 11:55] CompuIves commented on #206
Hey @trevorwhealy. There is some progress on this, the redesign allows us now to start building the realtime collab mode. I'm excited for this feature, so I'll start working on it today!

[2018-02-21 12:05] CompuIves commented on #576
Hmm, it seems like `quasar-framework` removed its `main` fields in `package.json` from `0.15.0`, which is required for the framework to work if you call `import 'quasar-framework';`.

You can see the difference here:

If you go to https://unpkg.com/quasar-framework@0.15.1 you will see a `Not Found`. If you go to https://unpkg.com/quasar-framework@0.14.9 you will see the necessary file.

If you dow

[2018-02-21 12:06] #576 closed

[2018-02-21 12:15] CompuIves commented on #194
I'll deploy the old functionality for in JSX as well to fix that!

On Wed, Feb 21, 2018 at 11:24 AM Aliaksandr Astashenkau <
notifications@github.com> wrote:

[2018-02-21 12:35] dfsq commented on #545
http://localhost:3000/s/new doesn't seem to work. I see several Uncaugh Errors breaking /s/new page. I wonder how people run the project? Not sure if I'm missing something or this is the issue.

[2018-02-21 14:39] CompuIves commented on #545
Hmm, I think this has to do with a build step that I forgot to add. Will be fixed with #577 and that one will be merged within the hour :).

[2018-02-21 14:50] CompuIves commented on #472
Interesting, I see a lot of require statements in https://codesandbox.io/s/0wpjv6yp0 that resolve to a file that doesn't exist (for example `aurelia-templating-router/router-view`, which I think should be `aurelia-templating-router/dist/commonjs/router-view`).

I find the sandbox loader file really interesting, do you think it's better to build expose this one from within CodeSandbox itself?

For

[2018-02-21 14:54] CompuIves commented on #573
Hey! I think this is intended behaviour, right?

So if I understand correctly, if your cursor is not in view and you start typing, it scrolls to the cursor?

[2018-02-21 14:57] CompuIves commented on #574
Good one! I'm not sure how Vetur handles prettifying the HTML, it seems like it takes everything within template, runs the prettify and then puts prettified code back in there?

Hmm, the question is if we should write this functionality, or wait for Prettier to support it (https://github.com/prettier/prettier/issues/1882). If anyone's interested, we do prettifying here currently: https://github.co

[2018-02-21 15:24] pavloDeshko commented on #573
nope, it jumps to cursor anyway, whether out of view or in
![jump](https://user-images.githubusercontent.com/27104046/36488389-ffdb6f60-172b-11e8-9c4d-e53d7c49138c.gif)

[2018-02-21 19:15] joeynimu commented on #555
Seems like it's not that complex I can have a look at this.

[2018-02-21 19:16] CompuIves commented on #555
That's great, thank you @joeynimu!

[2018-02-21 20:38] EisenbergEffect commented on #472
I believe @niieani built the original that I forked. He's an Aurelia core team member and has a strong Webpack background so is probably the best person to describe what's happening with the module ID discrepancy.

I'd love to have something like this built into a standard Aurelia template so that people don't have to see it. It's really an infrastructure thing that isn't visible in a real Aurelia

[2018-02-22 09:11] dfsq commented on #545
@CompuIves I see you now merged #577. However even with additional build step something is still breaking, as it's impossible to run the project by just running `yarn start` due to big amount of uncaught errors (like `Uncaught Error: _processChildContext is not available in React 16+.`, etc.). I assume it has something to do with Modal component using React 15 and the app 16. But not sure.

[2018-02-22 09:20] niieani opened #578 "Not possible to try/catch dynamic import()"
Continuing from #472 conversation with @EisenbergEffect and @CompuIves:

@CompuIves What seems like a new bug to me, it seems to be impossible to catch dynamic `import()` statements within CodeSandbox. It used to work, but now you get these errors in the console and in the view. So even though everything works, the error overlay kicks in. Here's the code for the `getModule` that I'm using [here](h

[2018-02-22 09:20] niieani commented on #472
@EisenbergEffect @CompuIves Continued in #578.

[2018-02-22 12:53] CompuIves commented on #578
Ah, yes I see what happens here. It seems like a change got through that causes us to throw during transpilation when we can't find the module. I'll write a fix for that now.

When we integrate the loader into CodeSandbox we can easily use the `Manager` instance of CodeSandbox to test file existence. I think that's the best way to approach it 😄. You can see an example here:

https://github.com/Com

[2018-02-22 14:22] #578 closed

[2018-02-22 15:57] pyros2097 opened #580 "Using codesandbox as a local IDE"
I'm thinking of a way I can package a local version of codesandbox editor so that any developer can just add that to package to their project and then it would run a local version of codesandbox for the current project. That way even your job of getting/downloading an IDE for coding is removed and everything for you to get started on the project lies within the package.json.

Is this even feasible

[2018-02-22 16:11] CompuIves commented on #580
I find this idea really interesting, I also think it isn't **too** hard to do (don't mark my words!).

I'm working on moving all data of a sandbox to files, as soon as we completely moved over the the files as source of truth we can create multiple implementations of the CodeSandbox API. For example, we could swap it out with Dropbox API, or swap it out with S3 API. Or even swap it out with the lo

[2018-02-22 19:51] knksmith57 opened #581 "team functionality or enterprise (self-hosted) offering?"
Heya @CompuIves, really love the product. Thanks for putting together such a high quality tool!

I became a patron a few weeks ago to test drive the private sandbox functionality. The primary motivator was to enable hosting of sandboxes that may contain proprietary or sensitive code that I could hide from the public and easily share w/ coworkers.

The bummer I'm running into is the constant sharin

[2018-02-23 12:04] davestewart opened #582 "Is it possible to programatically show files?"
Hi there,

Firstly, this project is amazing! Thanks so much for creating it. Certainly the most awe-inspiring talk at the VueJS conf too 😃

So, questions:

- Is there any way to programatically show a file in the editor?
- And if so, is there, or would there be any way to trigger that from the running app preview?

I ask because I'm wondering if I could write my next talk / demo in CS and it would

[2018-02-23 12:52] CompuIves commented on #582
Hey @davestewart, I'm really happy to say that's actually possible already!

Here's an example sandbox of the usage:

https://codesandbox.io/s/3k03oxm471

The necessary code:

[code]

[2018-02-23 12:52] #582 closed

[2018-02-23 12:54] davestewart commented on #582
YOU. ARE. AMAZING.

Out if interest, is that documented?

[2018-02-23 12:55] CompuIves commented on #581
Hey @knksmith57,

I think this is a really good question, something we'd definitely like to explore more. I have something interesting in the works that'll make CodeSandbox more interesting for companies. Nothing is set in stone yet though, so I think it's better to discuss this by email or via Skype first.

Could you send us an email to hello@codesandbox.io?

[2018-02-23 12:56] CompuIves commented on #572
Another small update, I committed https://github.com/CompuIves/codesandbox-client/commit/d75cc6f065dc6ffb089c79a7cb8e47668c2e8374 yesterday. This adds support for configuration of `tsconfig.json`. I will add `tsconfig.json` and `tslint.json` later today by default to the `react-ts` project.

[2018-02-23 12:59] CompuIves commented on #582
This is quite hidden currently 😅. We could definitely use documentation for this, would you be interested in writing some?

We store all documentation here: https://github.com/CompuIves/codesandbox-client/tree/master/packages/homepage/content/docs. I think it makes sense to create a separate entry for `codesandbox-api`.

All generated docs can be found in `/packages/codesandbox-api/docs`. Hmm, now

[2018-02-23 13:16] davestewart commented on #582
Flattered that you would ask!

I do like docs writing, but finding the time at the moment is sooo difficult.

Why don't I get used to the platform and maybe it will come naturally out of that?

[2018-02-23 13:22] CompuIves commented on #582
Sounds good! Let me know if you have any questions 😄

[2018-02-23 15:40] kpldvnpne opened #583 "Editor does not mark // comments as errors in css files"
I stumbled upon this editor recently, and so far I'm loving it. However, just now, I wasted about 3 hours to notice that I had // comments in .css files, which the editor didn't point out. Considering how far this editor goes on to show minute errors or redundant codes, I think this simple task of pointing // comments in .css as error should be addressed.

I am just a beginner, so I might not know

[2018-02-23 16:43] chakrihacker opened #584 "Zeit integration is not working"
I am working on this [https://codesandbox.io/s/4q3qj58l4x](sandbox) and tried to deploy in [https://csb-4q3qj58l4x-dteqvombqa.now.sh/](zeit) and it's not working and then I tried deploying new sandbox, it also didn't worked. So I started looking into zeit logs and `The project was built assuming it is hosted at /s/new/.`

And there is another issue.

Let's say you deployed a sandbox to zeit and th

[2018-02-23 17:58] mdxprograms opened #585 "Documentation nav links using relative path"
I noticed that when clicking on a left nav link instead of going to `https://codesandbox.io/docs/importing` it goes to `https://codesandbox.io/docs/docs/importing`

After being on `docs/importing` and clicking on configuration it goes to:
`https://codesandbox.io/docs/importing/docs/configuration`

[2018-02-23 19:23] ryanpcmcquen commented on #344
@CompuIves, is this fix live? Because I am still seeing the issue. It also seems that the tab width setting disappeared from preferences.

[2018-02-24 08:15] radi-cho opened #586 "The browser component doesn't return to normal size after hiding the console"
![sandbox](https://user-images.githubusercontent.com/12954909/36627431-47096718-194b-11e8-8337-88d769de2696.gif)

It will be fine to restore the normal size of the browser window when we hide the console.

[2018-02-24 11:13] jthegedus commented on #585
I second this. All navigation from the docs page
[https://codesandbox.io/docs/](https://codesandbox.io/docs/)
 an additional `docs/` added to the subsequent route
[https://codesandbox.io/docs/ **docs/** embedding](https://codesandbox.io/docs/docs/embedding)

[2018-02-24 11:58] lbogdan commented on #586
It seems to happen after you manually move or resize the browser window. What if you press the "Align to Right" button and try showing / hiding the console again?

[2018-02-24 12:10] CompuIves commented on #586
Yep, that's intended behaviour. However, when you press a button (like 'Refresh') it will also see that as dragging, which causes it to lose its alignment.

Would be great if we could detect/fix this.

[2018-02-24 12:12] CompuIves commented on #585
Good one! I think it should be fixed if we put a `/` before the url here: https://github.com/CompuIves/codesandbox-client/blob/master/packages/homepage/src/components/StickyNavigation.js#L163 and here: https://github.com/CompuIves/codesandbox-client/blob/master/packages/homepage/src/components/StickyNavigation.js#L173

Is anyone interested in opening a PR for this?

[2018-02-24 16:18] diegohaz opened #587 "Use existing repository folder instead of different repository"
First of all, @CompuIves, thank you so much for yours and all the contributors work. The more I use CodeSandbox the more I get amazed. That's a really fantastic tool.

I'm working on some examples for https://github.com/diegohaz/reas using CodeSandbox (see README).

I see that there's GitHub integration, but it seems like it only exports to a different repository.

I would like to have each of the

[2018-02-24 18:49] CompuIves commented on #366
Some progress on this! I got a Parcel template running in CodeSandbox 😄

![screen shot 2018-02-24 at 19 48 24](https://user-images.githubusercontent.com/587016/36633815-c9e9620a-199b-11e8-957d-72f37cfeae66.png)

[2018-02-24 22:53] corysimmons commented on #366
Pretty sick. CodeSandbox keeps marching forward with actually implementing feature requests. :)

[2018-02-24 23:16] MicheleBertoli opened #589 "Upgrade/Sync dependencies"
First of all, thank you very much - I love Codesandbox :)

Maybe I misunderstood how dependencies work on Codesandbox, but this is my problem:
I updated a dependency (`react-automata`) in https://codesandbox.io/s/n5vvn4jrpm and the app still uses the old version.
I can even remove the dependency from the UI clicking 'X', and the app works.
Also, when I download the source, the `package.json` and t

[2018-02-24 23:44] CompuIves commented on #589
Ah, I'm sorry for that. I think that this is a caching issue where the
state has gone into an inconsistent state. I thought it wouldn't be
possible,  but apparently it is.

Some questions. Did this happen after upgrading the dependency? Was the
dependency added with the 'latest' tag?

You can fix it by clearing your IndexedDB storage, I can take a closer look
at what causes this tomorrow first thi

[2018-02-25 07:25] MicheleBertoli commented on #589
Thank you very much, @CompuIves.

When I first created the box, I used version `1.0.0-4` (which is the one I see when I download the package).
Then, I updated the dependency to `1.2.0` a few weeks ago (and it seemed to worke).
Yesterday, I tried to install `2.0.0-0` using the UI and, although the version in the sidebar and the `package.json` looks good, the version in use is the old one (I can tel

[2018-02-25 14:57] CompuIves commented on #589
Wow that's really strange indeed. Which new feature is missing? I'll do some testing now.

[2018-02-25 15:12] MicheleBertoli commented on #589
So, I finally managed to get it working with 2.0 in the browser (I repeated the operation N times) - yay!
However, when I download the source it still uses `1.0.0.-4`.
This is not an issue for me as I wanted to use the latest version on the online sandbox, but you might want to investigate if there are problems syncing the package.
Thank you very much for your support!

[2018-02-25 15:12] #589 closed

[2018-02-25 20:43] sdaves commented on #366
Amazing work @CompuIves !

I tried out https://github.com/emaren84/ts-react-parcel a few months ago and was pleasantly surprised with parcel's abilities.

@CompuIves Can you share the superpowers in package.json from yesterday's parcel example?

[2018-02-25 20:53] CompuIves commented on #366
Thank you @sdaves! I'm planning to release the Parcel template next Wednesday, from then on I can also share some example projects.

[2018-02-25 20:56] sdaves commented on #366
Awesome, can't wait!

[2018-02-26 03:19] acdcjunior opened #592 "Tab name is wrong for link"
Check the tab name:

https://codesandbox.io/s/l22y3yk1vm?module=%2Fsrc%2Finput%2FField.vue

[2018-02-26 18:15] vvo opened #594 "Angular styles support information"
Hey hi, using this project: https://github.com/algolia/instantsearch-templates/tree/master/src/Angular%20InstantSearch which is an angular-cli regular project, I cannot import css files from node_modules.

The project is working locally though, but on CodeSandbox it fails for some reason I cannot understand.

Here's the code I am trying to use:

[code]

Which means "load node_modules/angular-insta

[2018-02-26 18:25] ryanpcmcquen commented on #560
@CompuIves, this is still an issue because the tab width setting disappeared from preferences.

[2018-02-26 20:50] CompuIves commented on #594
Heh, interesting. It seems like it doesn't understand the `~`. I'll check it out now.

[2018-02-26 21:13] #594 closed

[2018-02-26 21:15] CompuIves commented on #592
Good find! Seems like something goes wrong in the state management.

[2018-02-26 21:16] CompuIves commented on #585
That's super great @mdxprograms! Thank you 😄

[2018-02-26 21:17] CompuIves commented on #587
Heya! Thanks for the kind words, that's really appreciated 😄.

Yep, that should be possible.

If you have an example in eg. `examples/test` then the corresponding GitHub URL should be https://codesandbox.io/s/github/diegohaz/reas/tree/master/examples/test (notice the last part, it's the directory).

Or do you mean something else?

[2018-02-26 21:21] CompuIves commented on #594
Will deploy a fix in a couple minutes! By the way, I noticed that the sandbox is using `lodash-es` (I'm not sure if via dependency or directly). The sandbox can load a bit slow, the reason is that it needs to transpile all used files in `lodash-es` first, to convert it to commonjs. Normally we don't transpile `node_modules` unless we detect `import`/`export` statements in the code. Just a small he

[2018-02-26 23:16] CompuIves opened #595 "Hash routes not working"
https://codesandbox.io/s/pk8807zz0

[2018-02-27 07:04] richardanaya commented on #207
Looking forward to this!

[2018-02-27 08:08] vvo commented on #594
Interesting, thanks for being so responsive too!

[2018-02-27 12:44] CompuIves commented on #344
Yep it's live! We infer it from `Prettier` settings though, that's why it's not in `Code Editor` preferencecs anymore. Do you think it'd be better if it was in Code Editor?

[2018-02-27 12:57] CompuIves commented on #364
Hey @apieceofbart, do you have an example sandbox I can test?

[2018-02-27 13:45] ryanpcmcquen commented on #344
Well, I have it set to `4` in Prettier settings and am still getting an indent of `2`.

[2018-02-28 11:59] vvo opened #597 "External dependencies sometime are not yet loaded"
On this CodeSandbox preview: https://24zn89jm5p.codesandbox.io/?cities=Boston&productTypes=Speaker

I get:
![image](https://user-images.githubusercontent.com/123822/36786569-21cf83b2-1c87-11e8-8b99-7932fd876e14.png)

The preview only seems to constantly fail while the editor fails one time out of two.

Shouldn't the dependencies be loaded before the actual sandbox code?

[2018-02-28 18:22] vvo opened #599 "parcel-bundler examples failing"
Excited by the release of this new template, I tried it immediately, with mixed results unfortunately for now:
- https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/src/InstantSearch.js (error loading external script)
- https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/src/JavaScript%20client (html is not displayed)

[2018-02-28 18:31] CompuIves commented on #599
Ah, I forgot to override the `entry` for the Parcel template. Big mistake on my side, I'll commit a fix now!

[2018-02-28 18:35] CompuIves commented on #599
Not too fast! This last commit fixes the last example, I'll fix the first example now.

[2018-02-28 18:48] CompuIves commented on #599
Confirming:

http://pr600.cs.lbogdan.tk/s/github/algolia/instantsearch-templates/tree/master/src/InstantSearch.js

http://pr600.cs.lbogdan.tk/s/github/algolia/instantsearch-templates/tree/master/src/JavaScript%20client

[2018-02-28 18:49] #599 closed

[2018-02-28 18:52] vvo commented on #599
👌 thanks a lot

[2018-02-28 18:53] vvo commented on #599
Oops one thing though, the http://pr600.cs.lbogdan.tk/s/github/algolia/instantsearch-templates/tree/master/src/JavaScript%20client now shows only the html page, but does not executes js or css

[2018-02-28 18:58] CompuIves commented on #599
Hm, I should add some intergration tests for Parcel. I'll look into it no!

[2018-02-28 19:11] CompuIves commented on #599
New URLs:

http://pr601.cs.lbogdan.tk/s/github/algolia/instantsearch-templates/tree/master/src/InstantSearch.js

http://pr601.cs.lbogdan.tk/s/github/algolia/instantsearch-templates/tree/master/src/JavaScript%20client

[2018-03-01 05:17] Noviny opened #603 "Update default template of parcel bundler"
Components that would default to create-react-app now default to parcel. Specifying an main of a .js does not resolve.

Handy example link: https://codesandbox.io/s/l58n9yjq5m

This is a fork of the official example of how to use the post API. Added a `{ main: index.js }` as my assumption is that only files with a `.html` as a main should use parcel.

[2018-03-01 05:18] Noviny commented on #603
(Forgot to add, codesandbox is awesome and amazing, and I have absolutely been loving using it)

[2018-03-01 09:33] CompuIves commented on #603
Heya, thanks for letting me know of this! I reverted the default back to `create-react-app` for now, until we have a better solution.

I'll keep this issue open until we know how to handle this 😄

[2018-03-01 09:52] vvo opened #604 "Previously react-create-app detected template is now parcel"
Example: https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/src/React%20InstantSearch

I tried to look where the detection was done without luck.

[2018-03-01 09:54] CompuIves commented on #604
I just deployed something for this (about 10 minutes ago). It should work
again if you make an empty commit to bust cache.

Sorry for the inconvenience!

On Thu, Mar 1, 2018, 10:52 Vincent Voyer <notifications@github.com> wrote:

[2018-03-01 09:55] vvo commented on #604
Lemme try

[2018-03-01 09:56] CompuIves commented on #604
The code can be found here by the way 😄

https://github.com/codesandbox-app/codesandbox-importers/commit/d0dbc6674ccb403f1912d52423e813be6a460d09

[2018-03-01 09:57] vvo commented on #604
Does it means we miss some dependencies in our templates for them to be considered create-react-app?

[2018-03-01 09:58] vvo commented on #604
Why not do:

[code]

So that by default it's parcel when we don't know what to do.

[2018-03-01 10:01] CompuIves commented on #604
Yes, that was the initial setting. However, templates that are created using the POST API expect until now that it is `create-react-app`. It's sort of a breaking change I noticed (related #603).

I'm thinking of using `create-react-app` when we detect `react-scripts` || `react`. I think that will solve most cases. I'm open to other ideas though, maybe there's a much better way to fix this.

[2018-03-01 10:03] vvo commented on #604
Weirdly our template was a GitHub one, with a dependency of react-scripts so I am failing at understanding why it was failing

[2018-03-01 10:05] CompuIves commented on #604
Ah, the deploy of yesterday went later than I expected which caused it to default to `parcel` regardless of `react-scripts`. Maybe the repo was used at that time.

Yesterday was quite a hectic day 😅. But everything seems to be back to normal now.

[2018-03-01 10:14] vvo commented on #604
Thanks, it works now :)

[2018-03-01 10:14] #604 closed

[2018-03-01 11:17] Noviny commented on #603
Thanks for resolving that so quickly!

[2018-03-01 12:33] bitblitter commented on #573
Same thing happening in Chrome 64.0.3282.186
If it's intended, could there be an option to disable this behaviour?

[2018-03-01 13:42] maxfrigge opened #605 "Pass view=split in url does not load a view"
When loading codesandbox and passing the query param `view=split` it doesn't load the split view. It seems that this was working before as for example `react-table` uses it for their docs.

I have also created an issue in `react-table`.
https://github.com/react-tools/react-table/issues/834

[2018-03-01 14:39] koyta opened #606 ""go to definition" event (ctrl+LMB) occasionally change file content to content from opened func"
I lost my code (but rebuilt with GitHub) because of bug. CTRL + LMB opens the function definition, but for some reason replaces all the code of the initially opened file with the code from the file where the function definition is located. As a result, there are two files with the same code. Fortunately, the code can be returned to CTRL + Z, otherwise, all the code is overwritten (for example, if

[2018-03-01 20:45] Khaledgarbaya opened #608 "Adding Gatsbyjs project support"
Hey, Folks, I would like to add Gatsby project support.
This will help users who are new to Gatsby and get them going very fast.
Is this something that you consider a fit for codesandbox?
I already started hacking around a version of that, you can find it [here](https://github.com/CompuIves/codesandbox-client/compare/master...Khaledgarbaya:gatsbyjs?expand=1) but I am having some issues with the ro

[2018-03-01 21:38] gautamarora commented on #364
@apieceofbart - checkout this sandbox as an example for adding enzyme for testing https://codesandbox.io/s/009pr18q10
specifically, take a look at the `setupTests.js`

Let me know if that doesn't work.

[2018-03-01 21:49] gautamarora commented on #540
@CompuIves - i tested the sandboxes reported above, and am seeing the same issue. Tests run successfully on first page load, on second page load the test view doesn't complete the test run.

Affected sandboxes:
React-TDD Example by @AWolf81 - https://codesandbox.io/s/4lwz2mw4px
React-TDD Example by me (forked from the above one and replaces chai/sinon with jest): https://codesandbox.io/s/0ox4k14yv

[2018-03-01 23:52] gautamarora opened #609 "Collection pages"
Starting an issue based on discussion in discord on Feb 2, 2018 for creating Collection pages...

As per discussion, there are 2 different types of Collections that are most interesting:
1. Personal collection pages
These are collections of your sandboxes (personal & private). One possibility would be to use `tags` as the collection mechanism, and then use the algolia search to get sandboxes for t

[2018-03-01 23:56] gautamarora commented on #121
I've started an issue that summarizes recent discussions on this feature here: https://github.com/CompuIves/codesandbox-client/issues/609

@ritz078 @Arthelon - please leave your comments and feedback in that issue.

if you want to jump in and help build/test this feature, that will be great too

[2018-03-02 12:36] gautamarora commented on #592
this seems to be an issue for react templates too: https://codesandbox.io/s/81m8q639q0?module=%2Fsrc%2FXMLToReact.js

[2018-03-02 15:29] theetrain opened #611 "Polyfilling React applications for IE11"
First of all, great job on codesandbox. I'm thoroughly impressed with how fast the text editor loads, and how responsive everything is!

## Issue

I'm working on a React project, and I'm guessing it runs `npm start` automatically as I make changes in code. I tried running my project's web page in IE11, however there is a syntax error since arrow functions are not converted to ES5.

## Proposal

Is

[2018-03-02 16:40] boriskaiser opened #613 "CompileError: Sass file in a subfolder could not found"
If I import a new Sass file in a subfolder, it will not be found.

I noticed that the path is wrong:

![image](https://user-images.githubusercontent.com/252113/36910254-7ae2ef92-1e40-11e8-9af1-89bbcbd3f858.png)

The correct path is not `/src/styles/variables`, but `/src/styles/module/variables`.

I use `parcel` template.

Link to CodeSandbox: https://codesandbox.io/s/4l28y68ow

Is there a solution

[2018-03-02 17:44] CompuIves commented on #613
Hey! Thanks for the detailed report and reproduction sandbox. I'm now looking into a fix.

[2018-03-02 18:05] #613 closed

[2018-03-02 18:05] CompuIves commented on #613
Should be live in ~15 min!

[2018-03-02 18:12] CompuIves commented on #605
Ah, this seems to be broken because of the redesign. I opened a PR to fix it, will merge it in today and deploy it in about 2 hours 😄.

[2018-03-02 18:28] #605 closed

[2018-03-02 19:44] boriskaiser commented on #613
Unfortunately, this still does not work:

![image](https://user-images.githubusercontent.com/252113/36918189-562611ac-1e59-11e8-84dc-548e3ef4650a.png)

[2018-03-02 19:59] CompuIves commented on #613
Hmm, what happens if you refresh? Our service worker could still have the old cached version.

[2018-03-02 20:37] CompuIves commented on #609
I really like this idea! Makes it much easier to collaborate and works outside of CodeSandbox as well. And would allow for generators too, possibilities are endless!

I also noticed that when users import a sandbox from GitHub they expect the sandbox to be on their profile, also something we could think about.

I love all the ideas mentioned. I also like the idea by @rajjejosefsson to have directo

[2018-03-02 20:44] Samuell1 opened #617 "More options for API"
Its there a way to use same options for post API as Embed options? Mostly i like to see `view` and `module`

[2018-03-02 21:10] boriskaiser commented on #613
Yo, I had a cached version — Now it works:

![image](https://user-images.githubusercontent.com/252113/36920683-d01e5caa-1e61-11e8-8952-54de870a5525.png)

---

But 😊 ...

I just tested the same thing with an NPM package. And the path is unfortunately not correct:

![image](https://user-images.githubusercontent.com/252113/36921301-21a0665c-1e64-11e8-983a-16d682fe0420.png)

When I import a `node_modu

[2018-03-02 21:11] CompuIves commented on #613
Hah, this is great! I'll make sure to fix that tomorrow, could you open a
new issue for it?

On Fri, Mar 2, 2018, 22:10 Boris Kaiser <notifications@github.com> wrote:

[2018-03-02 21:12] CompuIves commented on #613
With that being great I mean, thanks for finding these inconsistencies  😊

On Fri, Mar 2, 2018, 22:11 Ives van Hoorne <ives.v.h@gmail.com> wrote:

[2018-03-02 21:21] boriskaiser opened #618 "CompileError: Sass file inside an NPM package could not found"
After #613 I just tested the same thing with an NPM package.

And the path is unfortunately not correct:

![image](https://user-images.githubusercontent.com/252113/36921301-21a0665c-1e64-11e8-983a-16d682fe0420.png)

When I import a `node_modules` package with a tilde `~`, it works fine.

But if something is imported inside the package — like this one at [srbreakpoints](https://github.com/superReal

[2018-03-04 08:20] joeynimu commented on #555
I addressed this here https://github.com/CompuIves/codesandbox-client/pull/620 I guess this can be closed?

[2018-03-04 12:15] CompuIves commented on #555
Yep! Thank you very much 😄

[2018-03-04 12:15] #555 closed

[2018-03-04 13:05] CompuIves commented on #403
Hey! I want to lower the loop iteration count to 10.001, but first want to make sure that everyone in here disabled `Infinite Loop Protection`. Can I lower it tonight? 😄

[2018-03-04 13:08] gary-menzel commented on #403
I don't control those sandboxes (Tanner does) - I am not sure he has been able to change them (but that would mean they are still breaking - so it probably doesn't matter for the really large one).

Also, I don't know if you have thought about "shared" sandboxes (where an owner can invite others to maintain them) - just a thought.

[2018-03-04 13:55] techniq commented on #403
@CompuIves I just revisited my [marchingsquares.js image outline](https://codesandbox.io/s/w00kr6k887) and it's working without turning off the infinity loop protection turned of.  I went ahead and added the sandbox.config to test it out, but it's working regardless.  I'm assuming because it went from 5k to 100k.  I'll turn off  infinity loop protection if I see it return after you drop it.  Thank

[2018-03-04 19:45] kylecordes opened #622 "MIME type problem, interferes with styles and likely other things"
Consider this Angular CLI project, one of a long series of short examples I help publish online:

https://github.com/AngularBootCamp/filtered-list-via-observable

It works locally, and it works in StackBlitz:

https://stackblitz.com/github/AngularBootCamp/filtered-list-via-observable

The code works in CodeSandBox, but the **styles are broken**:

https://codesandbox.io/s/github/AngularBootCamp/fil

[2018-03-04 20:12] CompuIves commented on #622
Hey @kylecordes, thanks for taking the time to let me know!

I found the problem behind it, the request to the file fell back to the `index.html` because our server couldn't resolve the correct file. I fixed that and the sandbox should work now.

[2018-03-04 20:12] #622 closed

[2018-03-04 21:03] kylecordes opened #623 "Deep import problem with @angular/common/http"
For some reason Code Sandbox has some difficulty with certain "deep" imports from Angular packages. See the following screenshot for an example:

![screen shot 2018-03-04 at 2 52 59 pm](https://user-images.githubusercontent.com/8799/36950516-a04a8bb4-1fbc-11e8-9544-44fe7ff0fb33.png)

Incidentally though, this import is not exactly "deep" in the traditional sense. It is not for example, pointing to

[2018-03-04 21:42] wuweiweiwu commented on #374
@CompuIves Ill take a look at this in the next couple of days :)

[2018-03-04 21:43] wuweiweiwu commented on #506
@CompuIves What should be the behavior/view when all tabs are closed

[2018-03-05 02:31] mrchief commented on #174
Same thing happens with Material icons: https://fonts.googleapis.com/icon?family=Material+Icons. ANd adding `.css` to the URL doesn't work.

[2018-03-05 03:04] ForsakenHarmony commented on #506
it should probably just not allow the last tab to be closed

[2018-03-05 07:15] eschafer commented on #174
If you add the weight, it works:
https://fonts.googleapis.com/icon?family=Material+Icons:400.css

[2018-03-05 14:48] im-martijn opened #624 "Prettier trailing comma setting is being ignored"
It seems that the trailing comma prettier setting always acts as if `none` is selected, even if `es5` or `all` is the selected value in the settings panel.

[2018-03-05 15:21] artyprog opened #625 "Hyperapp Support"
Hy,

Thank you very much for CodeSandbox.

Regards

[2018-03-05 20:29] CompuIves commented on #506
Yes, I think we should add a check for middle click as well.

[2018-03-05 20:30] CompuIves commented on #617
This one is a fun one to think about. We could add a separate parameter called `query` maybe and add that to the redirect if it exists. I think that's the simplest solution. What do you think? I can do that tomorrow morning if that's fine by you 😄

[2018-03-05 20:33] Samuell1 commented on #617
Yeah i think that will be fine

[2018-03-06 13:23] CompuIves commented on #617
Hey! Just deployed the changes, I also wrote some documentation about it here: https://github.com/CompuIves/codesandbox-client/blob/master/packages/homepage/content/docs/2-importing.md#define-api

[2018-03-06 13:23] #617 closed

[2018-03-06 14:22] tomkuehl commented on #625
there already exists an issue for hyperapp support: https://github.com/CompuIves/codesandbox-client/issues/480

[2018-03-06 15:27] tomkuehl commented on #611
Hi,

do you try to run the finished bundle in IE11 or the sandbox? codesandbox already uses create-react-app as a template for new react sandboxes, so the bundle should work just fine in IE11.

If you want to add custom Babel plugins/presets etc. you can already do with the new vanilla template (based on Parcel). Here is an example i've created: https://codesandbox.io/s/nrx2x32k90

However i don't

[2018-03-06 15:32] CompuIves commented on #611
Heya, I think since we added test support we lost compatibility with IE11. I started looking into it here #612, but got distracted along the way.

I think the problem is that we now include `ansi-styles` in the bundle, and it seems like they are using arrow functions in their code. I tried transpiling `ansi-styles` explicitly but something didn't work correctly with that...

[2018-03-06 18:45] washingtonsteven commented on #278
Hi, has this been pushed to http://codesandbox.io or is it only available in a self-hosted client? I am trying to import http://github.com/washingtonsteven/react-json-component@0.1.0 and getting an error.

Sandbox: https://codesandbox.io/s/pwlxp2yj8j

[2018-03-06 19:13] CompuIves commented on #278
Hey Steven, I believe that it should be specified differently in
package.json to work. I forked it and made the change and it works for me
now: https://codesandbox.io/s/1810xvpqyj.

On Tue, Mar 6, 2018 at 7:45 PM Steven Washington <notifications@github.com>
wrote:

[2018-03-06 19:21] washingtonsteven commented on #278
Oh I see, I was using the Add Dependency button and having trouble there. Thanks!

[2018-03-07 08:05] mstijak opened #627 "Debugging SCSS errors"
I'm trying out CxJS with the new Parcel-based template. Everything works fine except importing SCSS, which I cannot figure it out. What would be the best way to debug this?

https://codesandbox.io/s/o4kk3061n9

It seems that resolving SCSS files inside node_moduls works (#618), so it must be something else.

[2018-03-07 13:03] mstijak opened #628 "CxJS Template"
CodeSandbox is truly an amazing project and I would love to see [CxJS](https://cxjs.io/) on the list of the supported frameworks. It's a perfect solution for prototyping, sharing examples and tutorials.

I made a couple of CxJS examples based on the vanilla template to see if it works. Except some linting and SCSS (#627), everything seems fine.

https://codesandbox.io/s/qv2w1v5qlw
https://codesand

[2018-03-07 13:15] CompuIves commented on #627
Hey! I found this issue of this, the required sass files were not included in the dependency bundle by default (we don't add `src` to it, I think that's the reason). I opened a PR where we download the necessary missing files from `unpkg.com` if we notice the missing files.

[2018-03-07 13:33] CompuIves commented on #628
That sounds like a great idea! I'm going to start writing custom documentation this weekend on how to write custom templates in CodeSandbox and open a PR for it, would you be interested in opening a PR with CxJS support using that?

[2018-03-07 13:39] alexilyaev commented on #513
`jest.config.js` support would be really nice.

[2018-03-07 13:41] CompuIves commented on #75
We can close this one now :smile:. We have parcel support!

[2018-03-07 13:41] #75 closed

[2018-03-07 13:49] CompuIves commented on #608
Wow, this is super great @Khaledgarbaya! I'm really impressed that you found all the steps to implement a new template without any documentation.

We've been talking with @gatsbyjs about implementing Gatsby in CodeSandbox. This one is a bit tricky, because the fundamentals of Gatsby rely a lot on Node utilities. We certainly want to do this though, so we're now working on a solution that will allo

[2018-03-07 13:56] mstijak commented on #628
Definitely. I was going to try to do it on my own, but having the documentation will surely make things much easier. Thanks!

[2018-03-07 14:01] gillchristian commented on #513
@alexilyaev indeed, in the [Discord](https://discordapp.com/channels/333980639973867521) I mentioned I'd like to work on it but haven't found the time yet :grimacing:

[2018-03-07 14:12] Khaledgarbaya commented on #608
@CompuIves Thanks for your comment, still didn't grasp how you would run Gatsby there, I thought It would be easy as it is similar to `create-react-app` as one dependency for building etc...
I'll be more than happy to help with the integration just let me know.

[2018-03-07 15:29] lbogdan commented on #608
@Khaledgarbaya Gatsby runs in a Node.JS JS environment and heavily depends on its APIs (think [filesystem](https://nodejs.org/api/fs.html), [net](https://nodejs.org/api/net.html), [stream](https://nodejs.org/api/stream.html) etc.). As CodeSanbox's runtime runs **everything** in the browser JS environment (that doesn't have those APIs), it cannot properly support Gatsby right now. The reason React,

[2018-03-07 16:03] zocky opened #630 "Private sandboxes cannot fetch their own resources"
Any files that are put into `/public` cannot be accessed if the sandbox is set to private.

E.g. creating a file called `/public/example.json` and then trying to load it with `fetch` will not work.

[2018-03-07 16:13] zocky opened #631 "Make the "delete sandbox" button red"
And possibly add a trash icon to it.

As it is, blue and sitting under the dropdown for changing sandbox privacy, it looks very much like confirmation button for the form.

[2018-03-08 17:59] rogovdm commented on #206
@CompuIves superb news! Can I dare asking about ETA? I am thinking how to organize my class with a student and collaboration mode is a perfect fit for this.

[2018-03-08 18:41] pshrmn opened #633 "Reverting history pop not reflected in address bar"
If an application "blocks" a navigation that is triggered using the browser's back button, the URL in the address bar is inconsistent with the actual location.

Clicking the back (or forward) buttons immediately update the location, which an application must detect by listening for `popstate` events. "Blocking" in this case consists of using `history.go` to revert to the previous location. This be

[2018-03-08 18:57] lbogdan commented on #633
Hello, @pshrmn, thanks for the detailed report! I was the one implementing the "fake browser", I'll take a quick look at it now.
If you also want to take a look, the code is in https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/sandbox/url-listeners.js and the pr is #198 .

[2018-03-08 19:45] CompuIves commented on #633
Hmm yes, I think we should also take a look at hash route handling. I've seen some use cases where it behaves differently from the browser.

[2018-03-08 23:02] lbogdan commented on #633
That was actually an easy fix, the overriden `history.go()` inside the preview iframe was not sending the URL changes to the editor.

@CompuIves The only other ongoing issue with the "fake browser" that I know of is that clicking on a hash link (i.e. `<a href="#somehash">`) doesn't get you to the DOM element with `somehash` id - issue #572 2nd point.

[2018-03-09 15:15] #633 closed

[2018-03-09 15:21] CompuIves commented on #344
Ah I'm so sorry for that! Just committed a fix and will go live today.

[2018-03-09 15:21] CompuIves commented on #624
Good find! I committed a fix and it will go live today.

[2018-03-09 15:21] #624 closed

[2018-03-09 15:22] CompuIves commented on #506
Fixed this together with another issue. Will go live today!

[2018-03-09 15:22] #506 closed

[2018-03-09 15:23] CompuIves commented on #585
Can close this one now 😄

[2018-03-09 15:23] #585 closed

[2018-03-09 17:38] bvaughn opened #635 "Bulk delete feature"
Deleting a sandbox is currently a little cumbersome:

1. Load "Sandboxes" page
2. Click trash can button
3. Click confirmation popup
4. Wait for "Sandboxes" page to reload

It would be great if there was a way to shift+select (or similar) multiple sandboxes for deletion at the same time.

[2018-03-09 19:29] PavelPZ opened #636 "Typescript 2.7?"
Hi, I am experimenting with your great tool (thanks a lot for it).

**Are you using last Typescript version (2.7)? It allows this typescript definition file (e.g. ```index.d.ts```)**:

[code]
CodeSandbox shows ```A computed property name in an interface must directly refer to a built-in symbol.``` error.

See
[![Edit k0pxwv2k5o](https://codesandbox.io/static/img/play-codesandbox.svg)](https://code

[2018-03-09 19:47] PavelPZ opened #637 ""include" section in tsconfig.json"
I have this section in tsconfig.json:

[code]

It seems than CodeSandbox build process ignote it, see

[![Edit reactxx](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/1zro5x26zq?module=%2Ftsconfig.json)

I have some ambient definitions in NPM packages, which must be included explicitly

Thanks a lot for clarification

[2018-03-10 05:32] dbkaplun commented on #50
This is still a bug in the React TypeScript starter.

[2018-03-12 04:01] dbkaplun commented on #50
To freeze your tab, open https://codesandbox.io/s/react-ts and type `while (true) {}`.

[2018-03-12 11:53] TryingToImprove opened #638 "Border on "file explorer" overlaps the preview"
See the picture below...

![image](https://user-images.githubusercontent.com/1690457/37282343-5d97249c-25f4-11e8-9ce5-925c8bb2a88e.png)

[2018-03-12 12:32] samdenty opened #639 "Drag resizers haven't got a max-height set"
The drag resizers can be unexpectedly resized larger than their parents boundaries. Setting the `maxHeight` prop to `100%` should resolve it.

### Resizing the component beyond it's boundaries

![](https://i.imgur.com/tIkgORr.gif)

[2018-03-12 16:26] aulisius opened #640 "TypeError - Could not fetch Dependencies: Failed to fetch"
I believe  #144 is repeating again. My console has gone crazy

![image](https://user-images.githubusercontent.com/6629172/37296200-3491cf24-2640-11e8-962d-babc57582344.png)

[2018-03-12 16:29] zocky commented on #489
This works now, so I will close it.

[2018-03-12 16:29] #489 closed

[2018-03-12 20:45] CompuIves commented on #640
Heh, interesting. It seems like it can't find the resource because it has trouble with the `.` in the URL. I'll check if I can fix that.

[2018-03-12 20:53] CompuIves commented on #640
Oh hmm I think it's something different. It seems like the file pointed out by `main` in `driver.js` doesn't exist: https://unpkg.com/driver.js@0.1.4

[2018-03-12 22:05] CompuIves commented on #636
Hey @PavelPZ, our bundler uses TypeScript 2.7, but it seems like that Monaco is using an older version still. I've read that Monaco will get an update to the latest version soon, so we'll update as soon as that's in!

[2018-03-12 22:06] #366 closed

[2018-03-12 22:08] CompuIves commented on #584
I found this issue of this! It seems like the `homepage` field prevents the deployment from happening. Will write a fix for it now.

[2018-03-12 22:08] #584 closed

[2018-03-12 22:09] CompuIves commented on #635
Really good one, I think this one fits well with #609. Our Profile page desperately needs an overhaul, having many sandboxes is unmanageable right now.

[2018-03-12 22:11] CompuIves commented on #639
Oh I didn't know the fix would be that easy! Would you be interested in opening a PR for this @samdenty99?

[2018-03-12 22:17] CompuIves commented on #637
Ah, yes, our bundler only transpiles files that are directly required. We only use `compilerOptions` from the config at this moment. We could implement the behaviour of `ts-loader` from `webpack`, do they handle `include` currently?

[2018-03-13 00:50] RavenHursT commented on #75
@CompuIves why was this closed?

`import './styles.css'`
works in my react apps that I roll on CodeSandbox.io

But...
`import './styles.scss'` still doesn't do anything. Not even throwing an error...