[2017-06-07 11:36] CompuIves opened #18 "Integrated console"
A console you can expand from the editor pane, should work both in embed view and editor view.

![screen shot 2017-06-07 at 13 33 53](https://user-images.githubusercontent.com/587016/26876373-2cabf6da-4b86-11e7-886a-cee27e6db8e9.png)

[2017-06-12 07:53] varunkumar opened #19 "Issues with prettier"
I am getting the below error when I try to start a local instance
[code]
The instance is coming up fine though. Issue seems to be similar to https://github.com/prettier/prettier/issues/986

[2017-06-12 10:29] CompuIves commented on #19
Thanks for reporting this! It seems related to the issue you mentioned, I'll take a look at it today.

[2017-06-12 10:31] CompuIves opened #20 "Emmet.io support"
I've had some requests for emmet.io support. This should be possible with https://github.com/emmetio/codemirror.

[2017-06-12 12:01] CompuIves commented on #20
It's better to use this: https://github.com/emmetio/codemirror-plugin

[2017-06-12 21:07] CompuIves opened #21 "Ability to specify file and line number when sharing embed"
Suggestion by jschr:

"Actually I do have one suggestion. It would be awesome to be able to link to a specific file and even line number so I can direct the reader to the appropriate spot when clicking on the "Edit on CodeSandbox" from an embed. You could take a page from Gist and do something like https://codesandbox.io/s/[id]#file-[filename]-L[linenumber].
This would allow me to link to specific

[2017-06-12 21:47] pshrmn opened #22 "Could not find 'history'"
Currently, CodeSandbox fails to import the [`history`](https://www.npmjs.com/package/history) package even if it is an imported dependency.

Demo: https://codesandbox.io/s/wpRWxgNxz

This is not an issue for projects that have implicit `history` dependencies, such as React Router v4 (https://codesandbox.io/s/r0wXp0Njw).

[2017-06-13 19:20] pshrmn commented on #22
As a slight expansion on this, the issue does not occur when importing from specific modules within the `history` package (https://codesandbox.io/s/qx8Ey6lry).

[code]

I had also created a temporary fork of `history` called `tmp-history` and that fails as well for imports from `tmp-history` but works for imports from `tmp-history/___`.

The `manifest.json` file from @jsdelivr does not contain a `

[2017-06-14 22:18] CompuIves opened #23 "React DevTools doesn't work on sandbox"
Currently the DevTools defaults to the React version of CodeSandbox, it should default to the sandbox.

[2017-06-17 22:54] donavon commented on #19
Yes, I get that too. I ignored it for now. :)

[2017-06-18 11:15] CompuIves commented on #22
Thanks a lot for the clarification @pshrmn, the issue was that `history` didn't have a `main` entry in its `package.json`. Thanks to the fix of @christianalfoni [here](https://github.com/cerebral/webpack-packager/pull/18) we now default to a main of `index.js` if none is specified.

[2017-06-18 11:15] #22 closed

[2017-06-18 11:25] CompuIves opened #25 "I18n support"
CodeSandbox is used by a lot of users in China and Russia, I think it'll be very valuable to have an i18n system in place that people could contribute to.

This will make CodeSandbox much more accessible.

Thinks that need to happen:

- [ ] Change build system to use [i18n-next](https://github.com/i18next/react-i18next/)
- [ ] Add a world icon to the header with a dropdown to select language, stor

[2017-06-18 16:15] pshrmn commented on #22
Thanks! That sounds like the type of problem that I would have spent way too much time looking in the wrong places for a solution for. I just opened a PR in the `history` package, so at least one less package will soon have this issue.

[2017-06-18 18:35] CompuIves commented on #22
Ah that's great to hear!

[2017-06-28 15:50] vueu commented on #20
Hey, I've begun working on this and managed to get it functioning.

The only issue right now is that [these](https://github.com/CompuIves/codesandbox-client/blob/master/src/app/components/sandbox/CodeEditor/index.js#L240-L248) lines are interfering with defining `Tab` onto `emmetExpandAbbreviations`.

[2017-06-28 16:22] CompuIves commented on #20
Awesome, this is great @vueu!

I think you could do something like this to make it work,

[code]

This way we still have Tab indenting and emmet autocomplete.

Thanks for your work!

[2017-06-28 16:38] vueu commented on #20
Sounds great, I'll get on it.

[2017-06-28 16:56] CompuIves commented on #20
Also one thing: right now `emmet` autocompletes to `<div class="" />` while React only understands cases like `<div className="" />`. I did a quick lookup and it seems that we can change this by adding an emmet addon(?). I found it here: https://github.com/emmetio/expand-abbreviation/issues/2

[2017-06-28 17:52] vueu commented on #20
I had totally spaced that fact, I'll include that `jsx` addon.

On another note, I'm back here with a roadblock. It seems the `lib` folder of `@emmetio/codemirror-plugin` is not included in the node module itself upon installing via yarn/npm, leaving `emmetExpandAbbreviation` inaccessible. What actually happens is it gives a built version of the package, ditching the source files.

In the reposito

[2017-06-28 19:08] CompuIves commented on #20
Ah, I think I found it! From the emmet source I see that they register both commands to the CodeMirror instance, which means we can call them using `cm.execCommand` (https://codemirror.net/doc/manual.html#execCommand).

So (I hope) it should be possible to do something like this:

[code]

[2017-06-28 19:15] vueu commented on #20
Great find! That has fixed the issue. Now, in the meantime I did a little work on the `class` vs. `className`. So I've got it working slightly, only in `jsx` files.

The link, [emmetio/expand-abbreviation#2](https://github.com/emmetio/expand-abbreviation/issues/2), you sent does lead me in the right direction, because it shows how to set default syntax and remap profiles.

I'll check in soon.

[2017-06-28 19:17] CompuIves commented on #20
Great! Again, thanks a lot for this contribution. It's a heavily requested one 😄

[2017-06-29 18:26] faceyspacey opened #30 "HMR with Redux (redux store currently on keydown)"
First off, excellent stuff. I think I've written this to you in like 4 places now.

I'm going to create a sandbox for [Redux-First Router](https://github.com/faceyspacey/redux-first-router). There's just one problem, and I'm sure you know it: the store resets again when you type anything.

I'd be interested to know how you built "instant preview." It's fantastic. Let's figure out how to make it su

[2017-06-29 18:28] faceyspacey commented on #30
well, i figured it out lol:

[code]

[2017-06-29 18:28] faceyspacey commented on #30
very very ***VERY*** nice.

[2017-06-29 18:28] CompuIves commented on #30
Wow! This is great!!

[2017-06-29 18:29] CompuIves commented on #30
A `module.hot` api sounds really great too, I haven't thought of this before. I'll put some more thought to it :smile:.

[2017-06-29 18:30] faceyspacey commented on #30
bro i'm in love. i dont even know what to say. ...can u give me a summary of how instant preview works. and link to me the relevant source files.

[2017-06-29 18:30] CompuIves commented on #30
The speed of the instant preview could be attributed to the fact that we cache all files that have been executed, because of this you only have to evaluate 1-3 (propagates up) files when you make a change.

[2017-06-29 18:30] faceyspacey commented on #30
just makes me wonder why webpack doesn't work that fast..

[2017-06-29 18:31] CompuIves commented on #30
Code can be found [here](https://github.com/CompuIves/codesandbox-client/blob/master/src/sandbox/eval/js.js). Not the most beautiful code, but readable 😅 .

[2017-06-29 18:32] faceyspacey commented on #30
all good. thanks.

[2017-06-29 18:36] faceyspacey commented on #30
one thing we/u should do sooner than later: get a React Native Web demo up on the homepage. ...this could be a great way to build RN apps since it's so fast. I'm literally scheming right now how I'll mock React Navigation to be a crappy web version so i can just build it here, and then just run the code in the simulator later.

Not sure if u have experience with React Navigation but basically it h

[2017-06-29 18:46] faceyspacey commented on #30
is there something im doing wrong with the css:

https://codesandbox.io/embed/nZNlvYLLY?module=5WRAA

u got css modules support right?

[2017-06-29 18:51] CompuIves commented on #30
Interesting! Are you interested in building something like that? 😄

No, we did support it in earlier iterations, but I'm trying to have full compatability with `create-react-app`, so I dropped the feature.

Do you mean to the module?

[2017-06-29 18:57] faceyspacey commented on #30
yea. the main link doesnt deep link.

...i'll probably do the RFR demo first. but later RN is on my radar for this, should everything go smoothly :)

...i dont use CRA--they dont have css modules? ...i think it's a must. most people still use them, and for serious apps i wont use true css-in-js. i only recommend cacheable stylesheets and never to use solutions that do work in you render functions

[2017-06-29 19:00] faceyspacey commented on #30
here's what i'll be bringing ur way soon:

https://github.com/faceyspacey/redux-first-router-demo

give that a git clone and a yarn start if u get a chance. ...let me know what u recommend to port the css.

[2017-06-29 19:05] CompuIves commented on #30
I agree, I also use `css-modules` for my majority of React dev. My main reason to support `create-react-app` compatibility is to make it easier for users to recognize the project. The advantage of this is that you don't have to think about what build system is used, since this is universal over all `create-react-app` projects. You can completely focus on the code itself.

I do agree that there sho

[2017-06-29 19:14] faceyspacey commented on #30
didnt know CRA doesnt support them

...the class names appeared...oh i get it. i gotta embed the stylesheet manually.

[2017-06-29 19:35] faceyspacey commented on #30
...figured it out, after learning [a bit about CRA](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-a-stylesheet):

...just had to use the class name as a string (e.g. `className='foo'`), rather than a key on the imported css module (`className={styles.foo}`).

However, I found a PR from a month ago for css modules support within C

[2017-06-29 20:40] CompuIves opened #31 "Custom plugin/rendering system"
Jupyter like preview of `.md` files where code blocks are actually evaluated as 'mini modules'.

[2017-06-29 21:05] CompuIves commented on #30
This is really interesting. I think libraries like [emotion](https://github.com/tkh44/emotion) do something similar with a `babel` plugin. But I think not like you mentioned, with static css.

I hope that PR will land, since it does allow you to optionally use css-modules.

[2017-06-29 22:34] vueu commented on #20
Hey, checking in. Almost done here. Apparently there was a bug in the CodeMirror Emmet Plugin, and the Emmet expand-abbreviation config, linked above, was not being loaded into CodeMirror!

I created an issue and it was *very* quickly solved, so now I'm on the home stretch with this.

[2017-06-30 03:09] faceyspacey commented on #30
That pr won't land. They don't want CSS modules support. Or at least in the past in issue 90 they didn't. They may want to replace webpack one day and don't want to break people's apps.

[2017-06-30 15:49] #20 closed

[2017-07-02 02:50] prescottprue commented on #31
Love this idea. Was working on something similar when I was building [devshare.io](devshare.io), but would love to build it for codesandbox.

It would be great to set this up as a "plugin" system (similar to atom) so that user's can make custom plugins. Then load them within the codesandbox editor, and maybe even have stuff enabled through user preferences.

This could also lead to building the pl

[2017-07-02 11:26] CompuIves commented on #31
I've been thinking about this some more since talking with @mattiamanzati a bit about the idea of custom renderers. I really like the idea of creating a plugin system so other developers can help by developing in CodeSandbox itself.

I think we should start approaching this by creating an API for a custom renderers. I also think that the first version should not be pluggable (like dynamic install)

[2017-07-02 11:33] CompuIves commented on #31
CodeSandbox has a very basic version of this by the way right now. I called it `boilerplates`, this if for example the javascript boilerplate:

[code]

A boilerplate gets evaluated when nothing is rendered to the DOM, so this still renders a React component if ReactDOM.render() has not been executed.

[2017-07-03 06:16] prescottprue commented on #31
@CompuIves Really love what you were saying about rendering and the stuff with `evaluateCode` for the JS blocks, and totally aligns with what I was thinking. Especially with every library having their own render. It would also be great if each library/plugin was its own npm module with a shared prefix (i.e. `codesandbox-plugin-markdown-preview` for a markdown preview plugin)

In my mind this is th

[2017-07-03 14:31] CompuIves commented on #18
This will be integrated using a custom renderer, issue is here: https://github.com/CompuIves/codesandbox-client/issues/31

[2017-07-03 20:57] CompuIves opened #35 "Responsiveness"
We're moving more and more to touch devices, CodeSandbox is in the unique position that it already works on any device.

Let's make CodeSandbox responsive and start brainstorming on React Native support.

[2017-07-03 22:05] Haroenv commented on #35
I checked using the iPad simulator, and it seems to work just fine, except the menu starting to overlap. iPhone size is a different story, since there definitely is space too little right now. Even editor view is overflowing. We could maybe give that a max width of the whole width.

Screenshots:

<img width="332" alt="screen shot 2017-07-04 at 00 04 39" src="https://user-images.githubusercontent.c

[2017-07-03 22:33] CompuIves commented on #35
Thanks for the screenshots!

The iPad version looks better than I expected, maybe we should do something about the header icons, but otherwise it looks pretty great.

I think that we should do some overhauling for the iPhone view. CodeSandbox is divided in 3 parts ([workspace, editor, preview]). I'm thinking that we could maybe put these as view options at the bottom of the screen, so you can swit

[2017-07-04 00:00] haraldur12 commented on #35
In my iPhone the page does not even load after the animation is rendered. Is it a normal behaviour ?

[2017-07-04 07:54] sprmn commented on #35
Would love a better mobile experience as well! I think for mobile (at least in portrait mode) a horizontal split screen would fit better than a vertical split screen. Most of the time I click on an example of a certain something on twitter. I don't know yet wether I'd prefer to see the code first or the rendered result, but I guess I'd take a quick look at the result before checking out the code,

[2017-07-04 11:48] CompuIves opened #36 "Horizontal split"
An option to have a horizontal split over the vertical split.

[2017-07-04 11:50] CompuIves commented on #35
That's definitely not normal behaviour, I'll look into it today. Thanks for letting me know!

Good points @sprmn. I think a horizontal split option would really beneficial in general, also for desktops. I opened an [issue](https://github.com/CompuIves/codesandbox-client/issues/36) for it.

Great to hear that you want to help with React Native support! Building on client side sounds indeed most ben

[2017-07-04 11:54] Haroenv commented on #35
It's interesting to remind that the keyboard blocks a significant part of the screen when using a horizontal layout. It might not be ideal to show more than one thing at the same time. It's more important to have the view switcher prominently visible on the mobile view

[2017-07-04 12:41] CompuIves commented on #35
@Haroenv Good point.

I made a quick rough mockup of what it could look like:

![mobile](https://user-images.githubusercontent.com/587016/27830476-e4653e6c-60c6-11e7-880b-78503927c8a8.png)

[2017-07-04 15:16] sprmn commented on #35
Looks very promising! A prominent switcher that switches between single views would indeed work better with the keyboard. I think you could hide even more data and focus on showing the directory tree and dependencies.

Regarding the benefit of RN support on CodeSandbox over snack.expo.io, I'd say all features of CodeSandbox would add great value: supporting multiple files and directories, publishi

[2017-07-05 19:31] wellyal opened #37 "Uncaught TypeError: Cannot read property 'call' of undefined"
Something is wrong trying to access this url
https://codesandbox.io/s/new

Error:
[code]

Google Chrome Version 59.0.3071.115

The application gets freezed on this screen

![image](https://user-images.githubusercontent.com/3047016/27881513-4cb8ec4c-619f-11e7-9b43-814fe8b391b2.png)

[2017-07-05 19:32] CompuIves commented on #37
Thanks for sending this! Seems like a deploy went wrong halfway? Redeploying...

[2017-07-05 19:34] wellyal commented on #37
@CompuIves no problem. Thanks for the fastest response I`ve ever seen on github :)

[2017-07-05 19:37] CompuIves commented on #37
Should work again now! This is really strange, since it works in dev mode. I'll investigate.

[2017-07-05 19:38] #37 closed

[2017-07-06 07:44] harbin1053020115 commented on #19
It seems the problem still exists.

`
Failed to compile.

Error in ./node_modules/_prettier@1.5.2@prettier/parser-typescript.js
Module not found: Error: Can't resolve 'fs' in '/Users/zhangermin/Project/alibaba/github/react-ide/codesandbox-client/node_modules/_prettier@1.5.2@prettier'
 @ ./node_modules/_prettier@1.5.2@prettier/parser-typescript.js 1:17883-17896
 @ ./node_modules/_prettier@1.5.2@pre

[2017-07-06 09:35] zhhyang commented on #19
+1

[2017-07-06 10:12] CompuIves commented on #19
I 'fixed' the issue by mocking `module` and `fs`. I'll look into replacing the `./~/prettier/src/parser-typescript.js` later, but this will do for now 🙂.

[2017-07-06 10:12] #19 closed

[2017-07-09 19:53] faceyspacey opened #39 "can the github file limit be increased?"
It's currently 30. What about 60?

[2017-07-09 19:59] CompuIves commented on #39
Sounds okay to me, which repository are you trying to import?

[2017-07-09 20:00] faceyspacey commented on #39
this one:

https://github.com/faceyspacey/cra-test

but I'm going to change the name after I get this working.

[2017-07-09 20:02] CompuIves commented on #39
Okay! I'll increase it in 15 min.

On Sun, Jul 9, 2017, 22:00 James Gillmore <notifications@github.com> wrote:

[2017-07-09 20:02] faceyspacey commented on #39
awesome thanks brother!

[2017-07-09 20:34] CompuIves commented on #39
Done! Took some longer than expected because I saw you had a dynamic import, we support that too now 😄 .

[2017-07-09 20:34] CompuIves commented on #39
Currently deploying...

[2017-07-09 20:34] faceyspacey commented on #39
awesome!!!

[2017-07-09 20:34] faceyspacey commented on #39
im changing the styles to match codesandbox right now fyi

[2017-07-09 20:35] CompuIves commented on #39
Great! Let me know if you come across anything strange in the process. I'm closing this issue now.

[2017-07-09 20:35] #39 closed

[2017-07-09 20:50] faceyspacey opened #40 "exceeded the maximum required depth"
I guess this isn't supported. Is it something that can be supported. You'd figure if it works in CRA it works here. Thoughts?

[2017-07-09 21:01] CompuIves commented on #40
You're right should work in CodeSandbox too then. This is an issue that I don't know how to handle yet, I should investigate.

What currently happens is this:

You have module A and B, module A requires B and B requires A.

When A is executed, it will first execute all imports of A (unless they are cached), so B gets executed, but first all imports of B get executed, which is A again. You'll get a

[2017-07-09 21:10] CompuIves commented on #40
Ah, okay, found it. Node does it like this:

if a requires b, and b requires a, then a will be an empty object for the first execution of b.

This is really strange behaviour, can cause some strange bugs. But I'll work according to spec, I'll build it in 😄 .

[2017-07-09 21:11] faceyspacey commented on #40
solid brother. i worked around it temporarily.

[2017-07-09 21:38] faceyspacey commented on #40
hey brother, one quick thing, i put a `<link />` tag in `index.html` and it's getting embedded in the body, but it's styles are not being displayed:

https://codesandbox.io/s/6R5OR5q0n

click one of the tabs in the left side sidebar that isn't home, then click a row and u will see a large circle overlayed over a video image with no play button displayed in it. It's supposed to have a PLAY button.

[2017-07-09 21:49] CompuIves commented on #40
Ah I see, doesn't look right. The dependency is blocked because of a mixed-content issue. You need to use the `https` version instead, it's blocked now because an `http` url is requested over `https`.

Fix: https://codesandbox.io/s/wpYJy8nMg

[2017-07-09 21:52] faceyspacey commented on #40
excellent. shoulda checked the console, but i've been styles ur styles :)

[2017-07-09 21:53] faceyspacey commented on #40
...im wrappin up. check this URL:

https://codesandbox.io/s/6R5OR5q0n

...any recommendations on finalizing the styles? If it was urs how would u like it?

[2017-07-09 21:54] faceyspacey commented on #40
...by the way, sometimes things dont save. i just reloaded and lost a bunch of stuff.

[2017-07-09 21:56] faceyspacey commented on #40
put it all back, so it's nice when u look at it. ...the BACK/NEXT buttons in ur fake address bar work perfectly with Redux-First Router by the way. ...I had previously made this long ago in Webpack bin and had to make my own fake address bar.

[2017-07-09 22:01] CompuIves commented on #40
Wow this looks great! Love the styles (naturally ;D).

The issue with not saving is really strange, I'll take a look in the logs.

[2017-07-09 22:03] faceyspacey commented on #40
im movin pretty fast and saving a lot. probably has something to do with it.

also fyi, the error about https is still in the console even though it's correct and everything is working. maybe it's remembering the file from the github repo which had http instead of https.

[2017-07-09 22:09] CompuIves commented on #40
Yes, it's a bit duplicate right now. It's both in external resources and in the index.html. It will be fixed if you use the github version again with https.

[2017-07-09 22:14] CompuIves commented on #40
Cyclic dependency support has landed!

[2017-07-09 22:14] #40 closed

[2017-07-09 22:15] faceyspacey commented on #40
Excellent, i'm about to do a medium post and promote this. You down to put this on the homepage?

[2017-07-09 22:16] CompuIves commented on #40
Okay, sounds good!

[2017-07-09 22:22] faceyspacey commented on #40
there's no way to sync back to github right? (im grabbin my code, putting it back on the correct repo, than pushing to a new codesandbox URL).

[2017-07-09 22:25] CompuIves commented on #40
Not yet, in the future there'll be an export to GitHub branch feature, but sadly it's not here yet.

[2017-07-09 22:43] faceyspacey commented on #40
ok, here it is:

https://codesandbox.io/s/github/faceyspacey/redux-first-router-codesandbox

[2017-07-09 22:48] faceyspacey commented on #40
the URL changed after i reloaded it. Here's that one:

https://codesandbox.io/s/R66kAGKDE

[2017-07-09 23:02] faceyspacey commented on #40
also you need to add the `sandbox="allow-presentation"` attribute to your iframe:

https://www.chromestatus.com/feature/5462833647058944

to avoid this:
![screen shot 2017-07-09 at 4 00 40 pm](https://user-images.githubusercontent.com/154732/27998253-c804f738-64bf-11e7-9e8a-10f8c02c0453.png)

That exception occurs when the video plays.

The video plays nevertheless, but sometimes things slow down

[2017-07-09 23:10] CompuIves commented on #40
Okay, deploying the fix. I'd use the long URL regardless, that one stays in sync with the git repo.

[2017-07-09 23:10] faceyspacey commented on #40
the "Forked From" link by the way should link to the actual REPO if a github a repo. Also, you should be able to edit the original repo synced from github. Instead, as soon as you save, it forks the sandbox, and in fact you have to re-apply what you just did. It would be nice to keep the URLs from github.

[2017-07-09 23:10] faceyspacey commented on #40
It does? That's excellent. I guess I need to apply my changes to github and then it will be reflected there.

[2017-07-09 23:11] CompuIves commented on #40
I just deployed a fix for the 'forked from'. The choice to make the github version non-editable is because this could generate conflicts as soon as the GitHub repo changes.

[2017-07-09 23:11] faceyspacey commented on #40
totally understand the choice

[2017-07-09 23:15] faceyspacey commented on #40
confirmed that it picks up changes from github. VERY NICE! this is a good stop-gap solution until you get around to full-featured github syncing.

...ok so u got my original URL. do whatever u need to do with that. i may make some more tweaks here and there. Now that I feel secure about what repo is powering this, i'm in good shape.

..small thing: the link for "forked from" goes to "../tree/maste

[2017-07-09 23:18] faceyspacey commented on #40
there's unfortunately another problem: when you edit the Title or Description, it forks it.

[2017-07-09 23:18] CompuIves commented on #40
Cool! I'll embed it on the homepage.

I think I can't change this, since some repos have another branch (like `dev`) as default view. Which means that I need to explicitly specify what branch it is since I can't get the default view.

[2017-07-09 23:24] CompuIves commented on #40
Hmm, you're right. I need to find something to determine who the owner is. For now you can specify the description and title in `package.json` and it'll use those values.

[2017-07-09 23:29] faceyspacey commented on #40
you're the man!

[2017-07-09 23:30] faceyspacey commented on #40
it looks fantastic on the homepage. Anyway possibly it could get one of the links in the Example projects? I know it's newer, but maybe just while it gets a bunch of traffic over the next few days.

[2017-07-09 23:36] CompuIves commented on #40
Sure! deploying it, I'm going to bed now, it's getting late. Have fun with the Medium post!

[2017-07-09 23:36] faceyspacey commented on #40
thank you!

[2017-07-09 23:37] faceyspacey commented on #40
damn, the title + description doesn't update appear

[2017-07-09 23:39] faceyspacey commented on #40
also, the link on the homepage has a typo. there's a "K" added as the last character

[2017-07-09 23:48] CompuIves commented on #40
Deploying fix for both

[2017-07-09 23:49] faceyspacey commented on #40
excellent. i added some css media queries to fix the squished design in the iframe on the homepage. and now it looks far better. sleep well brother. thanks again!

[2017-07-09 23:55] faceyspacey commented on #40
im sorry to bug u if ur still around, but now my sandbox is completely gone:

https://codesandbox.io/s/github/faceyspacey/redux-first-router-codesandbox
403

[2017-07-09 23:57] CompuIves commented on #40
Oh no! I think we just hit the rate limit on GitHub, I'll check.

[2017-07-10 00:21] CompuIves commented on #40
Okay, some API keys were not set what caused GitHub to rate limit. Fixed it but found another issue because of a wrong commit I did now. I'm making a lot of mistakes right now because of my tiredness. I'll quickly fix this and then rush to bed 😅 .

[2017-07-10 00:33] CompuIves commented on #40
Fixed! 😴

[2017-07-10 00:34] faceyspacey commented on #40
excellent work. sleep well!

[2017-07-10 08:24] Andarist opened #43 "Docs on how to create synced github examples"
I would like to incorporate sandboxes as live examples in [redux-saga](https://github.com/redux-saga/redux-saga), but as those were not generated by CRA, I'm not 100% sure what are the exact requirements.

Would be great if the list of requirements would be listed in the main README.

[2017-07-10 10:25] faceyspacey commented on #40
ok, the article is finally done:

https://medium.com/faceyspacey/redux-first-router-lookin-sexy-on-code-sandbox-d9d9bea15053

[2017-07-10 10:26] faceyspacey commented on #40
im gonna promote it in a few minutes. give it a read. let me know if u want me to make any edits. it's a very casual article compared to my others. hopefully a fun article. may not even make sense to people not yet familiar with RFR. but a picture says a thousand words, and there are a great number of those from ur sexy UI. If anything it will inspire people to play with Code Sandbox.

[2017-07-10 10:28] faceyspacey opened #44 "embed URL doesn't work on the repo URL"
when i was first trying to figure out how to paste a full on iframe embed to Medium, I couldn't get it to work. Try it:

https://codesandbox.io/s/github/faceyspacey/redux-first-router-codesandbox

Then i realized only forks with proper IDs have this feature working.

Also, links to this sort of URL with module IDs you want opened in the editor do not open with that file.

[2017-07-10 10:30] faceyspacey opened #45 "when u deep link into files, apps dont work"
all these apps are just starting on the entry point. i think the app should run based on the entry point (index.js) even if u deep link into a module u want showing in the editor. my 2 cents.

[2017-07-10 10:49] faceyspacey opened #46 "you can't view the code files in the embeddable widget"
check it:

https://medium.com/faceyspacey/redux-first-router-lookin-sexy-on-code-sandbox-d9d9bea15053

open the sidebar. try to view a file.

[2017-07-10 11:09] CompuIves commented on #46
It works for me, it could be because you're viewing the embed as author on Medium. You can't interact with Medium widgets while editing, I always open the article in incognito to fix this.

[2017-07-10 11:10] CompuIves commented on #45
You're right, I need to make this an option. I'm planning to work this out with custom renderer support.

[2017-07-10 11:16] faceyspacey commented on #46
that's not it. I've tried other different browsers.

im not sure what ur desired experience is in the widget. I'm expecting to click a file and see the code. Instead some of the files actually render, but some like CSS and true javascript files (rather than components) show the yellow and pink page of death.

Are u supposed to be able to code in the widget?

![screen shot 2017-07-10 at 4 16 43 am]

[2017-07-10 11:36] CompuIves commented on #46
Ah, I see what you mean. What URL do you use for the embed?

[2017-07-10 11:36] CompuIves commented on #44
Deploying fix.

[2017-07-10 11:36] #44 closed

[2017-07-10 11:38] CompuIves commented on #43
That's a good point! We need more documentation for CodeSandbox in general, this would fit right in. Thanks for the feedback.

As temporary solution, this is what I check for:

1. `package.json` in root
2. `src` folder
3. `src/index.js`

Not very strict, if you put have `public/index.html` we will also import the `index.html` separately.

[2017-07-10 11:39] Andarist commented on #43
what about webpack/babel configs?

[2017-07-10 11:41] CompuIves commented on #46
It should work if you remove the `module=:id` part from the embed url, module view/project view is a good exploration point in general. I'll think some more on this.

[2017-07-10 11:46] CompuIves commented on #43
Babel/webpack configs are not parsed yet, because CRA apps don't expose these files. Support for this is the next thing on my list though, it will come with templating + ejecting support.

[2017-07-10 11:52] faceyspacey commented on #46
i used a non-deep-linked URL since the deep links weren't working. But if they were, I'd link to the routesMap.js file. I'm not sure what you mean about `module=:id`. But it's all good. I'm going to bed. I'm tired now :). As long as u know the issue, its urs to prioritize. I just wanna be able to see all my code in a widget via the sidebar.

[2017-07-10 11:52] faceyspacey commented on #46
ps. i edited the article. it came off foolish. hopefully it's better now.

[2017-07-10 11:53] faceyspacey commented on #46
ps. tweet if u feel it

[2017-07-10 11:59] faceyspacey commented on #46
...oh, it's the same issue regarding not being able to evaluate any file except the entry point. ..i didnt click the switches to change to code mode or split mode. now i get it. so if u make it always render just the entry point (or perhaps have a default mode for this), as per the other Issue, ur good to go. closing this.

[2017-07-10 11:59] #46 closed

[2017-07-10 12:04] faceyspacey commented on #46
lol. i finally figured it out. it's this switch:

![screen shot 2017-07-10 at 5 03 54 am](https://user-images.githubusercontent.com/154732/28017244-3142c514-652d-11e7-8c97-78b02a7d1508.png)

i've been wondering what that does. if that is beige, while u change files, it wont break. u have exactly what i want already. now i just need to see if i can make it default in the embed.

[2017-07-10 12:08] faceyspacey commented on #46
all better now. no more beige + pink screens of death lol.

[2017-07-10 12:40] Andarist commented on #43
so only stock CRA configs r supported right now?

[2017-07-10 12:54] CompuIves commented on #43
Yes, which loaders are you missing?

[2017-07-10 22:11] faceyspacey commented on #45
this will be huge for people doing the medium thing. here's why:

i want to show multiple sandboxes in the article, highlighting a specific area INSTEAD OF PASTING SCREENSHOTS OR CODE SNIPPETS.

Because I could not do that, i had to paste all these graphics. But really it should be ur widget in the correct context.

In addition, u should be able to specify the URL of the inner iframe. I realize th

[2017-07-11 03:40] faceyspacey opened #47 "link to forks when you click the fork icon or count"
to display the forks, probably a modal makes the most sense and is the easiest.

[2017-07-11 08:28] Andarist commented on #43
Oh, maybe none :P was just asking, so I would know in advance what to expect

[2017-07-11 10:26] CompuIves commented on #43
Okies! Let me know when you need a loader, I can keep it in mind for the templates later on.

[2017-07-11 10:28] CompuIves commented on #47
Good point, I'll need to build an API endpoint for it, so I'll add it to the list.

[2017-07-13 09:50] CompuIves opened #50 "Find a way to detect endless loops"
When a sandbox has an endless loop it won't stop executing until the tab kills the editor. This means that users can lose their sandbox.

Maybe there is a way to limit execution time of a sandbox, or maybe we should add a 'Run' button when you're editing your own sandbox. Would love to hear some thoughts.

[2017-07-13 09:54] CompuIves opened #51 ".jsx file extension support"
This one should be easy to do, I found out that create-react-app does support the `jsx` extension. We should update the sandbox to handle these cases.

All the code for this resides in `src/sandbox/`, if you'd search for `js` you'll find where we check for the extension.

I *believe* all logic is in `src/sandbox/eval/js/index.js` and `src/sandbox/utils/resolve-module.js`.

[2017-07-13 13:32] donavon opened #52 "Delete sandboxes from Profile/Sandboxes"
Allow the user to delete one of their sandboxes from their Profile/Sandboxes page. Either on hover, hamburger menu, or static icon. We probably want a confirmation as well, warning the user that: _"This action is permanent and **can not be undone**! Are you sure?"_

[2017-07-13 13:36] CompuIves commented on #52
Great idea! Thanks a lot for opening this.

We could also show an 'undo' button in the notification before sending. I know that the notification still has some functionality for it as I built it for that intention. Sadly I didn't have time to implement it at that time.

The API also has the functionality to 'undelete' a sandbox, fully depends on what's easier to implement.

[2017-07-13 14:31] donavon commented on #52
Undelete functionality would require that we keep and display a list of sandboxes in your "recycle bin". Probably overkill. Delete. Gone. (for MVP)

What is your preference on showing the delete icon? Additional column, on hover, or Delete from a hamburger menu. And if on hover, where would the icon be?

This just in case I take a stab at the feature (no promises). 😉

[2017-07-13 14:39] CompuIves commented on #52
Yap, you're right. I'd say that it should be a (small) additional column, this way the user can easily find it without having to interact with it first.

[2017-07-13 15:31] donavon commented on #52
Something like this? (faint, then brighter on hover)

![image](https://user-images.githubusercontent.com/887639/28174153-af315d94-67be-11e7-9659-5f45acea8a22.png)

[2017-07-13 15:34] CompuIves commented on #52
Ex-act-ly!

[2017-07-13 16:04] bengummer commented on #51
Hey @CompuIves I am keen to have a go at this issue in the next week or so. Been wanting to get to know the codebase so this seems like a good starting point.

P.S. I was initially confused by the issue title, thought it meant JSX support in the editor rather than filenames. Maybe "JSX file extension support"? No big deal either way :)

[2017-07-13 16:06] CompuIves commented on #51
That's really great @bengummer! I updated the title, don't hesitate to message me if you have any questions 😄 .

[2017-07-13 19:05] #51 closed

[2017-07-13 20:36] bengummer opened #54 ""Import from GitHub" page sometimes shows invalid output URL"
If I go to https://codesandbox.io/s/github and enter `http://github.com/test/123` it output a sandbox URL of `https://codesandbox.iohttp://github.com/test/123` (or `https://www.github.com/test/123`) it outputs something like `https://codesandbox.iohttps://www.github.com/test/123`.

Should be a relatively uncommon edge case if people are copy + pasting GH URLs directly from their browser into the p

[2017-07-13 20:38] CompuIves commented on #54
Oh good find! I probably didn't check good enough.

Would be great if you could take a look at it 😄 .

[2017-07-14 12:02] #54 closed

[2017-07-16 13:04] phiresky opened #57 "Allow directly linking to a URL"
I can't see a way to do this currently. Example:

I want to directly link `/topics/props-v-state` for the react-router example https://codesandbox.io/s/r0wXp0Njw

Same thing for URL parameters, I want to pass external data to a sandbox via an URL parameter, but that doesn't seem possible currently.

I'm assuming this is not implemented right now because [getSandboxOptions](https://github.com/Compu

[2017-07-16 13:48] CompuIves commented on #57
Thanks for sending in this feature request!

To be clear, you want a way to specify the default url to open when sharing a sandbox? In that case this PR: https://github.com/CompuIves/codesandbox-client/pull/49 will allow that. I can finish up the PR today and deploy it.

[2017-07-16 14:01] phiresky commented on #57
Exactly. I didn't see that PR. Nice!

[2017-07-16 14:02] CompuIves commented on #57
Credits to @faceyspacey 😄 . I'll close this issue as soon it's deployed.

[2017-07-16 17:33] faceyspacey commented on #57
General configuration vars would be nice too--then u can customize how ur embed looks/behaves in different places. Similar to vars passed to flash embeds back in the day.

Let me know if u need anything to finalize module+URL deep linking.

[2017-07-16 18:58] faceyspacey opened #59 "sandbox with github repo as parent does not show on profile > sandboxes/showcase"
For example, go here:

https://codesandbox.io/u/faceyspacey/likes

You will see my main codesandbox there, but it does not appear here:

https://codesandbox.io/u/faceyspacey/sandboxes

and also it cannot be selected as for "showcase."

[2017-07-16 19:00] CompuIves commented on #59
You're right, there is no current way to map a github sandbox to a user.

It's definitely on the roadmap to add this functionality, though it's not here right now for the reason that the user shouldn't be able to edit the sandbox. I need to change functionality on the server and client to allow changes to the title/description/tags etc, but to disable editing files.

[2017-07-16 19:04] faceyspacey commented on #59
Thought so. Would be nice to be getting credit for my codesandbox stats. Very important for developers serious about promoting their sandboxes.

...for the showcase maybe u could paste the URL of any sandbox. Or select from liked sandboxes as well.

[2017-07-16 21:48] #52 closed

[2017-07-17 18:30] CompuIves commented on #57
Oops, forgot to mention it here! Yesterday I deployed the functionality, thanks to @faceyspacey for building this. Cc @phiresky

[2017-07-17 18:30] #57 closed

[2017-07-17 20:21] phiresky commented on #57
Thank you!

[2017-07-18 04:20] faceyspacey opened #61 "when you delete a dep and then re-add it, you have to refresh to see it"
What I'm doing is deleting a dependency, and then adding it right back `@next`. You can do things to try trigger it to be used like flipping our favorite module/project switch, but you have to refresh.

In general, the `loading dependencies` UI elements are not quite in sync with when it's really ready.

It's a small edge case, but at some point deleting/editing/re-adding deps is something you're

[2017-07-18 04:47] faceyspacey opened #62 "feature: URL param for line # to highlight :)"

[2017-07-18 07:29] CompuIves commented on #61
Ah, good points. I kept the dependency loading only after you type something because I don't want to trigger a build for a list of dependencies that's not going to be used. Since we only have 2 packagers that can bundle. Or am I missing something?

The refresh of the inner frame is a very good suggestion, that's something that definitely needs to happen.

[2017-07-18 07:30] CompuIves commented on #62
Yes! I've heard this more, I need to look into how to line highlight properly.

[2017-07-18 20:05] faceyspacey opened #63 "feature: modal showing forks when clicking fork icon/count"

[2017-07-18 20:11] faceyspacey opened #64 "feature: custom sidebar widget + custom explanation modal"
I think it would be incredibly useful and save you from having to build lots of features if, for example, users could embed their own chatbox iframe in a sidebar WorkspaceItem.

I'd like to put chat in, and perhaps other things like a youtube video iframe, and wouldn't have to request these features if I could embed things *somewhere*.

Another place is your own modal where you can do all sorts of

[2017-07-20 22:35] ryanbraganza commented on #23
It looks like to debug an iframe, the React devtools electron app can be used. See https://github.com/facebook/react-devtools/issues/76

Is there a way to modify the `<head>` to add a `<script>` before the bundle?

![screen shot 2017-07-21 at 8 34 34 am](https://user-images.githubusercontent.com/290242/28441695-74a393a4-6def-11e7-8269-2d8d32e3e57f.png)

[2017-07-21 20:37] faceyspacey opened #68 "Tags and other new options missing from sidebar for GitHub-repo-based sandbox"
![img_3097](https://user-images.githubusercontent.com/154732/28481411-a9a947e0-6e19-11e7-873b-6a29d74d1a6c.PNG)

That stuff isn't showing in my repo. Only in forks, ie regular sandboxes

[2017-07-21 20:38] faceyspacey commented on #68
Would be nice to have this to tag the RFR repo

[2017-07-21 21:17] donavon opened #69 "Icon for Private/Hidden/Public sandboxes on Profile page"
In the list view, show if a sandbox is private, hidden, or public (default). Maybe show a lock icon for private. Hidden... not sure.

[2017-07-21 21:17] donavon opened #70 "Allow sandbox owner to change Private/Hidden/Public state in Profile"
Also allow the user to change the state without having to open the sandbox. Simular to the delete option.

[2017-07-21 21:19] donavon opened #71 "Give me a contributor badge, dammit! 😄"

[2017-07-21 22:22] donavon opened #72 "Create new Sandbox Popup Menu"
When you click the ➕  to create a new sandbox, have a popup menu appear asking: "Create: Public, Private, or Hidden".

[2017-07-21 22:26] donavon commented on #69
Sorry... Just noticed it now.

![image](https://user-images.githubusercontent.com/887639/28484716-0492bd8a-6e42-11e7-9dc0-d8a3f31d45a8.png)

[2017-07-21 22:26] #69 closed

[2017-07-22 02:18] donavon opened #73 "Show tags on Profile page"
Show tags under each title on my profile page. Allow me to filter by tag.

[2017-07-22 02:20] donavon opened #74 "Make column headers sortable in Profile page"
Clicking on the title of a column in my profile page will sort the list of sandboxes by that column. Currently, they are sorted by creation date (?).

[2017-07-22 12:19] CompuIves commented on #69
Haha, one step ahead! 😉

[2017-07-22 12:20] CompuIves commented on #73
This is a really good one! Definitely something we need asap. I'm thinking of using Algolia search for these sandboxes as well, allows you to filter on deps, tags, name, etc.

[2017-07-22 12:20] CompuIves commented on #74
Yes, also a good one. Profile page could use a lot of love in this sense. This can also be possible with Algolia.

[2017-07-22 12:21] CompuIves commented on #72
Hmm, I need some thinking on this one. It will remove the 'Create a React project in one click' motto...

[2017-07-22 12:22] CompuIves commented on #71
Hahaha, it's in the making! 😉

[2017-07-22 12:23] CompuIves commented on #70
Good one, this shouldn't be too hard to make.

[2017-07-22 12:23] CompuIves commented on #68
Yes, exactly. This is related with claiming ownership over a git repo. I'll try my hand at this this weekend.

[2017-07-22 12:59] manuschiller opened #75 "SCSS support"
Hi!
Is it possible to include .scss files in the codesandbox-client and import the styles to our jsx files?

[2017-07-22 13:07] CompuIves commented on #75
Hey!

Yep, it's not released yet, but I'll work on this in the coming month. This comes with support for other frameworks.

[2017-07-22 16:13] donavon commented on #74
May the profile page is simply the search page filtered to just this person's sandboxes? You can then drop the old code and any enhancements that search gets, the profile page will get.

[2017-07-22 16:14] donavon commented on #72
well when you get templates, you'll want the plus to popup with a "From what template" anyway, I would imagine.

[2017-07-22 16:19] CompuIves commented on #72
You're right, this could go right in the templates filter.

[2017-07-22 16:20] CompuIves commented on #74
Yep, that sounds good. Just reuse the search page component on the profile page in a way. Then we need to have a separate page for the private/unlisted sandboxes though, since the unlisted/private sandboxes are not in algolia.

[2017-07-22 21:07] faceyspacey opened #76 "feature: button to tweet a sandbox"
A highly visible tweet button that allows users to share the sandbox.

Perhaps near the view/heart/fork counts.

[2017-07-23 00:54] CompuIves commented on #76
Very good one! Would be even cooler if it would automatically 'screenshot' the preview to add to the tweet. Not sure what kind of APIs are open for this.

[2017-07-24 03:09] Arthelon opened #81 "feature: language translations"
I'd love to share this platform with people I know (some of whom are not native English speakers). Any thoughts on using react-intl or a platform like [transifex](https://www.transifex.com) (free for OSS) for translations?

[2017-07-24 05:46] faceyspacey opened #82 "issue: module IDs change whenever you update a sandbox, which invalidates all embeds"
Ideally module IDs stay the same once created. Not sure how they are determined, but if it's based on file-content, that shouldn't be the case either. It seems every single module ID name changes whenever you update the sandbox.

For example, the 2 links on the homepage (and all my articles) don't correctly deep-link anymore after making some updates.

[2017-07-24 06:09] CompuIves commented on #82
Oh yes I forgot about this issue. A solution would be to make shortid deterministic based on `title` and `directoryshortid`. That should work. I don't have time today to try it out, but I'll keep you posted!

[2017-07-24 06:12] CompuIves commented on #81
Yes, this is *very* important and will help a lot for new users. I haven't taken a detailed look on i18n yet, do you have a recommended system?

Let's further discuss it in this issue: https://github.com/CompuIves/codesandbox-client/issues/25

[2017-07-24 06:12] #81 closed

[2017-07-24 12:17] Arthelon commented on #25
I've previously used react-intl (FormatJS) for as an i18n library and transifex for managing translations (free for OSS). React-intl is more popular at the moment and has better in-built formatting but it's great that i18n-next comes with its own compatible translation management system.

I'd love to give this a try!

[2017-07-24 12:39] Arthelon commented on #25
Their docs are also much nicer! This [essentials section](https://www.i18next.com/essentials.html) is quite neat.

[2017-07-24 13:07] CompuIves commented on #25
That would be really awesome @Arthelon! This is a major feature and would benefit a lot for CodeSandbox.

I propose that we first store the translations in the repo as json files, because most developers that will translate already know github and so the barrier is lower to contribute in translations.

I'm open to any suggestion though, let me know what you think or if you have any questions!

[2017-07-24 14:02] haraldur12 commented on #25
Hey guys, I would love to help you out with i18n as well. Wouldn't it be good to first strip all the text from the code and then use a localisation service that offers free service to open source projects ?

[2017-07-24 15:07] vueu opened #83 "resizer shows over the settings modal"
When in settings, the bar that resizes the file tree, and the editor, is shown above the modal. Seen here:
![Resizer over](https://i.gyazo.com/c67182d4d621936aa2619def372c8175.png)

The modal had a z-index of 20. Bumping it up to 30 fixed it, as seen here:
![Resizer under](https://i.gyazo.com/4459edce5aee60dd6e72ad552448f03f.png)

I can put in a pull request on this tonight, let me know what you t

[2017-07-25 13:00] Arthelon opened #85 "Make react and react-dom mandatory dependencies (or show error message when these deps are missing)"
I noticed that if you remove the `react` and `react-dom` deps no error message appears but the output remains frozen.

### Solution:
Show error message when this happens or make these 2 packages mandatory dependencies.

[2017-07-26 03:48] CompuIves commented on #83
This is great! I always thought my screen was broken when I saw this line, good that we can finally fix this issue.

[2017-07-26 04:03] CompuIves commented on #85
Oh that's really strange! I think we should solve the underlying issue of the output staying frozen. I don't want to make `react` and `react-dom` required, because we do allow other frameworks to be used. We're just not focussing on improving other frameworks yet.

I was not able to reproduce the issue, I'm probably doing different steps.

Could you give a step by step on how to reproduce this?

[2017-07-26 12:49] Arthelon commented on #85
Sure, here are the steps:
- Remove `react` from Dependencies list
- Remove `react-dom` from Dependencies list
- Click "Save" button in Editor view

Running on Chrome 59.0.3071.115 (64 bit)

[2017-07-26 14:14] vueu commented on #83
😆

[2017-07-26 20:47] rhernandog opened #87 "Make preferences permanent"
Hello Ives,

First of all, thanks for the great work, I love how easy is to create React live samples with this app.

More than an issue is an enhancement request actually. Right now if I create a new sandbox and then go back to it later that day, I have to set up all the preferences again, such as autocomplete, line height, prettier settings, etc. It would be nice to either saver those for each s

[2017-07-26 20:49] alansouzati opened #88 "Support for dependency from Github branch?"
First of all, really cool stuff. I first learned about codesandbox from `styled-components` issue template. I'm impressed with it, great job @CompuIves!

I want to replace Grommet base codepen with codesandbox. I like that I can use imports and have a structure that is very close to my local environment.

Our codepen today is used to test things in a branch called "stable" that is updated multiple

[2017-07-27 05:40] CompuIves commented on #87
Hey @rhernandog! You encountered a bug haha, the preferences weren't properly saved to localStorage. I fixed the bug and now the settings should persist again.

Thanks for opening the issue, I hadn't even noticed this bug yet!

[2017-07-27 05:40] #87 closed

[2017-07-27 05:45] CompuIves commented on #88
Ah, good one @alansouzati! I now remember that I disabled Github imports at the beginning of CodeSandbox as it would maybe become a Patron feature later. I now decided that this should be an option for free users as well.

I'll add the functionality back in somewhere this week, thanks for making me aware of this!

[2017-07-27 06:16] CompuIves commented on #82
I have a better idea, let's put the path in the URL, like you said before. This is easier to read for the user and stays consistent between updates. Waddaya think @faceyspacey?

[2017-07-27 08:59] jamesmcallister opened #89 "Badge for readme files"
Would be nice to have a small badge image, so we can use it to link from the readme on the repo to its sandbox.

[2017-07-27 09:14] CompuIves commented on #89
We have something like this already, if you open the share view (by clicking on share in the header) you can also copy the markdown for a button image. Or do you mean something else?

Nevertheless we should make this button more clear, it's a bit hidden away right now 😅

[2017-07-27 09:18] jamesmcallister commented on #89
I didn't even look in there.

Just added it to the readme now, thanks!

[2017-07-27 09:18] #89 closed

[2017-07-28 02:11] faceyspacey commented on #82
that's the way to go. u mentioned that it didn't work well with the inner iframe. You said that when you push on the parent window it breaks the inner iframe.

If we can work around that, this is a must. I have a hard time believing that's an issue, but if it is, *it is*.

[2017-07-28 02:48] faceyspacey commented on #59
I need this brotha. as well as to show my logo in the sandbox instead of just the github logo. And the ability to have this appear on my profile etc.

I get that less users probably use this feature. But the most important sandboxes will. The github connection needs to be flawless for CodeSandBox to achieve the "seriousness" it is capable of.

If the github connection is propped up, made feature c

[2017-07-28 02:59] faceyspacey commented on #82
need this asap by the way. u should just change how u do module IDs immediately and worry about the paths later.

[2017-07-28 03:00] faceyspacey commented on #45
we did this. why isnt this closed.

[2017-07-28 03:01] faceyspacey commented on #30
solved long ago too.

[2017-07-28 03:01] #30 closed

[2017-07-28 03:03] faceyspacey commented on #76
use html2canvas as i mentioned in the other Issue. ...ur gonna need to render the page sever-side with the image in some meta tags. so basically when ever someone goes to share it you want to re-generate the sandbox's unique image.

but forget that for now. put a tweet button in 5 minutes RIGHT NOW.

[2017-07-28 03:06] faceyspacey commented on #68
i need this brotha. im a paying customer. this is bullshit. ...im just messin wid u. tell me what to do, i'll do it. i'd like to see the RFR tags gain meaning in the algolia search.

git repo-based sandboxes should not be treated like second class citizens. it's what the power users use. see what im saying. they would at least if it was working and promoted better as described in the other thread,

[2017-07-28 03:08] faceyspacey commented on #64
this feature needs a simple V1, which is just a markdown display of ur readme. thats it. But it needs a special tab or button to draw the user's attention to it, similar to how u have an Embed field in the ShareView which is the same as the Editor URL. Ur smart brother.  U get it. So just get that markdown renderer done, add a fancy button to view the README at the top of the sidebar, et voila.

[2017-07-28 04:07] CompuIves commented on #45
Because someone is working on highlighting lines. Look, I'm in the jungle right now, I'll respond when I get to a proper location.

Be glad that I'm still offering support while on this vacation, which was planned before I even started working on CodeSandbox.

[2017-07-28 04:25] faceyspacey commented on #45
Highlighting lines isn't related. It's an enhancement.

Brother man, i barely need support. Im just letting u know so ur sandbox is correct. I'd be fine using gists, and I might have to if im showing the wrong stuff in all my articles. However, it's just better for the community to work together. This is only in [small] part about my needs. I didn't really care that much about the issues, but afte

[2017-07-28 07:52] wagon1104 opened #91 "Uncaught SyntaxError: Unexpected token ="
![o 4a5 pwk xoetpqwbtx6j](https://user-images.githubusercontent.com/29653018/28708019-21622f84-73ad-11e7-93fa-1d167d1cf9cd.png)

[2017-07-29 13:52] CompuIves commented on #91
Hmm, this is strange. I haven't encountered this issue before.

Have you tried doing:

[code]

from the codesandbox directory?

[2017-07-29 13:56] CompuIves commented on #82
Ah, I think I misunderstood then. It does work with inner frame, but it doesn't if we mess with the history (so update browser url on each click). It's possible to use paths in url.

I have changed the shortid generation to be deterministic based on path, this means that the shortids will be consistent. I need to find a time to deploy, I'm on an unstable connection atm. This will just be a quick s

[2017-07-29 14:18] CompuIves commented on #59
Export to GitHub feature would be an awesome feature, but we first need to lay some groundwork before we can start with it.

The biggest one being that we need to set up a snapshot system, where users can make branches of their sandboxes so they can work open a pull request after doing several saves instead of one. I don't want to have a save == 1 commit, that will be very messy for users like me

[2017-07-29 14:20] CompuIves commented on #68
Coming somewhere this week. Need to find a stable internet connection.

You'll be able to set tags using the `keywords` feature of `npm`.

[2017-07-29 14:21] CompuIves commented on #45
Whoops, you're right. Will close this issue.

Sorry for the snarky comment, I hadn't slept that night and was trekking through a jungle on 35 degrees Celcius, I was exhausted. Shouldn't have commented until I had some sleep.

[2017-07-29 14:21] #45 closed

[2017-07-31 07:56] mBeierl opened #92 "TypeError: CSS2Properties doesn't have an indexed property setter for '0'"
My project at https://codesandbox.io/s/Q5AE9vG0 works fine in Chrome, but shows this error in Firefox:
`Error in index.js: TypeError: CSS2Properties doesn't have an indexed property setter for '0'`.

I removed the inline styling of the App's root-div element. Maybe it has something to do with that?

[2017-07-31 11:05] Arthelon commented on #92
This seems to be an issue with your sandbox code.

When I logged the `style.container` field in the `CustomContainer` component the output is an array. Removing that invalid `style` prop fixed this for me.

[2017-07-31 11:11] Arthelon commented on #91
@CompuIves I've run into these error messages when running the development server as well.

[2017-07-31 11:27] Arthelon commented on #36
Hmm should the button to trigger this be an additional split view button in the header bar? (It's getting a bit crowded there). Alternatively I was thinking the middle split view button can toggle between horizontal/vertical with additional clicks but this may be misleading even with a hover message.

[2017-07-31 13:03] mBeierl commented on #92
Thanks! That fixed it. Weird that it doesn't throw any error in Chrome.

[2017-07-31 13:03] #92 closed

[2017-07-31 15:08] CompuIves commented on #91
Okay, good to know. Thanks @Arthelon, I'll look into fixing these 2 errors when I'm back from Vietnam.

[2017-07-31 15:11] CompuIves commented on #36
I agree. I'm thinking of moving the three buttons in the header altogether, since they're taking up so much space. Maybe we should rework the buttons or just put them in another place. I haven't found a good solution yet... Maybe a dropdown, or a smaller, more efficient version 🤔.

[2017-08-03 09:32] CompuIves commented on #82
This is done! Now we use paths for modules.

[2017-08-03 09:32] #82 closed

[2017-08-03 14:11] faceyspacey commented on #82
that's excellent. this should give codesandbox deep linking lots of mileage.

[2017-08-07 20:29] jayjaycross opened #96 "embedded editor not reflecting changes"
I'm seeing this issue for all embedded sandboxes, as an example you can checkout [Formik Example](https://codesandbox.io/embed/zKrK5YLDZ).

Editing the sandbox results in the changes being reflected in the Preview view but not in the Editor view.

![aug-07-2017 16-28-15](https://user-images.githubusercontent.com/1153686/29044438-749dc55e-7b8d-11e7-9f1a-e40bef89b705.gif)

[2017-08-09 02:50] loliver opened #97 "Specify private npm repo for scoped packages."
I've had a quick play around attempting to set this in .yarnrc and .npmrc but it appears the dependencies api call isn't parsing these when looking for a newly added dependency.

For example I ran `npm config set @myco:registry http://reg.example.com` (with correct details for our registry) but it's still looking at the official npm registry for `@myco` components.

[2017-08-09 03:37] tkh44 opened #98 "Search box should auto focus after navigating to the search page."

[2017-08-09 03:39] tkh44 opened #99 "Missing dependency detection should support scoped packages"
![image](https://user-images.githubusercontent.com/662750/29104332-09df35fe-7c82-11e7-9dfd-5ec4543fee29.png)

[2017-08-09 04:50] manoaj opened #100 "Add an ability to include images"
I love this editor so much it is an awesome tool. Currently there is no provision to add images it would be useful when having static image files in a directory instead of fetching from a URL.

[2017-08-09 15:18] CompuIves commented on #100
Thanks for the kind words! This is feature is high in the pipeline, I'm planning to release this somewhere at the end of the month or next month. 😄

[2017-08-09 15:19] CompuIves commented on #99
Oi, good one. I'll fix this as soon as I get my hands on my MacBook.

[2017-08-09 15:19] CompuIves commented on #98
Also good one, also an easy fix!

[2017-08-09 15:20] CompuIves commented on #99
If you're feeling adventurous, you can add a test case to `dependency-not-found-error.test.js` (out the top of my head).

[2017-08-09 22:25] AlokJoshi opened #101 "Vuejs"
Is it possible to use this for Vue based projects?

[2017-08-10 12:30] Haroenv opened #102 "Allow scrolling a sandbox in Safari"
When making bigger things, it's useful to be able to scroll. I think somewhere in the styles `iframe { overflow: hidden;}` is specified, which will disable someone from scrolling through a code sandbox.

An example is: https://codesandbox.io/s/7LD7EJ14r

[2017-08-10 12:55] CompuIves commented on #102
Thanks for reporting this! Hmm, this is strange. I'm able to scroll the
iframe (I'm on phone though). What browser are you using?

On Thu, Aug 10, 2017, 14:30 Haroen Viaene <notifications@github.com> wrote:

[2017-08-10 13:24] Haroenv commented on #102
Safari Technology Preview Release 36 (Safari 11.0, WebKit 12604.1.32.0.1), just checked and it's possible to scroll in Chrome

[2017-08-12 09:35] CompuIves commented on #98
Fixed with https://github.com/CompuIves/codesandbox-client/commit/3e97c9cecedea65d97b26c4c0d365e2ee5b13b52

[2017-08-12 09:35] #98 closed

[2017-08-12 09:41] CompuIves commented on #99
Fixed with https://github.com/CompuIves/codesandbox-client/commit/78298467ce1055b92b81629008149b6a52e88f30

[2017-08-12 09:41] #99 closed

[2017-08-12 09:49] CompuIves commented on #96
Really good report, thanks for the clear issue! Fixed it with https://github.com/CompuIves/codesandbox-client/commit/eb9687942edfddefe690bc0744e8296b785d282b.

[2017-08-12 09:49] #96 closed

[2017-08-12 09:57] CompuIves commented on #88
It turns out that this is a bit harder to implement than I expected 😅 . I'm currently rewriting the packager and I hope to add this to the release, I need to find a way to extract a version from a git package.

[2017-08-12 15:18] ritz078 opened #103 "Manipulating DOM without React"
Thanks for your awesome work. codesandbox is really solving problem of many and it has a great UI.

Following up on https://twitter.com/CompuIves/status/896386969755897856

Here is my demo https://codesandbox.io/s/kR3rvmYY6

I am trying to read text from the HTML file, modify it and then render it back. Is there anything I am doing wrong ?

[2017-08-12 15:28] CompuIves commented on #103
Ah, I think I know what happens. The rendering happens in a delay, in this case CodeSandbox checks if the DOM has changed, it didn't, show it shows an error. But 500ms after that the DOM gets changed. I'll remove the DOM check, the preview is currently in a rewrite and the new version also doesn't have it. Should work in ~15 min!

[2017-08-12 15:31] ritz078 commented on #103
That was quick.
Thanks a lot. Let me know when I can check.

[2017-08-12 15:42] CompuIves commented on #103
Okay! Deployed, it seems like your sandbox doesn't work yet, but I see an error in the console. Maybe there's something wrong with the code or the dependencies...

[2017-08-12 16:32] ritz078 commented on #103
Yes I see the error. Thank you for your help. I can take it from here.

[2017-08-12 16:32] #103 closed

[2017-08-13 02:11] coryhouse opened #104 "Icons misplaced when zoomed"
If you zoom, the "Support Sandbox" link sits over the view selection boxes. Occurs in both Chrome and Safari.

Thanks for the awesome tool! 💯

[2017-08-13 10:44] Arthelon commented on #76
imo it makes more sense to replace the current "contact" button in the header with this.

[2017-08-13 10:56] faceyspacey commented on #76
definitely now that CodeSandBox is popular. u probably dont want all these people contacting u anymore.

[2017-08-13 13:54] CompuIves commented on #76
I like the recognition of the button though, show who's the creator. Tweet button should not be too hard to add, we could add it under the description field.

[2017-08-13 15:05] Arthelon opened #105 "Move "preferences" button to Sandbox header"
Current location of the "Preferences" button in the user dropdown is un-intuitive and hard to find. This can be remedied by moving the button toggle to the right side of the Sandbox header.

[2017-08-13 15:08] Arthelon opened #106 "Make "+" button in Sandbox header a dropdown"
To reduce space occupied in the header, the github import, default new sandbox, and cli upload behaviour should be combined into a single dropdown.

[2017-08-13 19:39] vueu commented on #101
https://codesandbox.io/s/pQA0685yr

[2017-08-14 08:16] Haroenv commented on #102
Found a workaround, by adding this css _inside_ the `<iframe>`:

[code]

Not exactly sure _why_ it's needed, and where I should add it though

[2017-08-14 13:09] Haroenv commented on #102
I just realised that this is a bug in Safari Technology Preview and will probably be fixed at the next release. It's not present in the main version, and we can also see this bug on codepen. Let's close this as out of scope for now.

[2017-08-14 13:09] #102 closed

[2017-08-14 15:18] ritz078 opened #108 "Better flow for dependency installation"
Currently if you want to load any dependency, it asks if you want to add it and adds the latest stable dependency. If I want to change the version I have to go to the dependencies tree and then remove it and then add it with new version. This flow is a bit tedious.

<img width="1379" alt="screen shot 2017-08-14 at 8 43 01 pm" src="https://user-images.githubusercontent.com/5389035/29278302-f35dfea0

[2017-08-14 15:22] ritz078 opened #109 "Don't change the case of author username."
I think people want their username to remain in the case they want as its their online identity.

<img width="257" alt="screen shot 2017-08-14 at 8 51 02 pm" src="https://user-images.githubusercontent.com/5389035/29278455-6c8477d2-8132-11e7-8736-ac3b25e96bf0.png">

[2017-08-14 18:17] faceyspacey opened #110 "history.push(?module=moduleName) on file navigation"
As requested, here's the issue to further discuss this. I'd be happy to do this one with a little direction.

I've done a little test in chrome where I entered the following in the console:

[code]

It worked fine and did not break the iframe in any way. Perhaps the issue you ran into was the result of changing the path...did that too:

[code]

No issues, the iframe continued to behave fine, even

[2017-08-14 18:52] CompuIves commented on #110
Thanks for opening this issue!

I have a way to reproduce the problem:

1. Open https://codesandbox.io/s/github/faceyspacey/redux-first-router-codesandbox
2. Go to a route in the sandbox
3. run `history.pushState({}, '', window.location.pathname + '?module=foo')` in console
4. Press the back button of the sandbox

In my case the back button doesn't work anymore, since the `back()` of history is ca

[2017-08-15 06:18] faceyspacey commented on #110
if thats all we can do, its all we can do. the most important thing is URLs u can deep link to that u can copy paste from the native place they live, the address bar.

[2017-08-15 08:49] gyoshev opened #111 "TypeScript support"
Do you plan on supporting sandboxes based on TypeScript? At first glance it appears that it can be achieved by compiling TypeScript files through the sandbox eval, not unlike SystemJS does.

[2017-08-15 12:38] CompuIves commented on #97
Hmm, this is an interesting one. It should be possible if we add it as a config to the packager before we install, though we need to open an API to remember the custom registries per sandbox. I'll put it in the pipeline.

[2017-08-15 12:39] CompuIves commented on #104
Good one, we definitely need to free up some space in the header. Will work on this today.

[2017-08-15 22:16] CompuIves commented on #101
Yep! Like @vueu said, certainly possible. There is not 'official' support yet (download function still downloads CRA). I'll work on that this week, hopefully you'll see native support this week 😄 .

[2017-08-16 07:15] Vill3m opened #112 "can't select all code"
Hi! Why can't select all the code and how to disabled minimap? This problem is in chrome, firefox works well
![codesandbox](https://user-images.githubusercontent.com/12127927/29351391-34e3c3e8-826b-11e7-9f34-49707cee9077.gif)

[2017-08-16 09:46] Radi123 commented on #112
Yes I saw this problem for first time yesterday on 11 PM UTC +03:00
Actually if you copy it (CTRL+C) All'll be copied. The problem is in the cursor and selection. They're three positions left.

[2017-08-16 09:49] Radi123 commented on #112
View this: https://www.youtube.com/watch?v=tY2w5NAlvLM&feature=youtu.be

[2017-08-16 09:55] Haroenv opened #113 "Main editor doesn’t take all settings in account"
The new Monaco editor is really cool, I love using it, but since it probably has a bunch of settings, it might be nice to take more of them in account.

- show minimap (especially on a smaller screen, this takes a lot of space)
- fontFamily (it seems to only apply in vim mode)

There are some other settings I use in VS Code on desktop, and would be nice if I could set some of those here too.

[2017-08-16 10:00] Vill3m commented on #112
@Radi123  yes all code'll be copied, but work is not comfortable

[2017-08-16 10:05] Radi123 commented on #112
@Vill3m I'm trying to find the problem in the source & fix it, but we need expert in the sandbox.
Please help - @CompuIves

[2017-08-16 10:09] Radi123 commented on #112
I think the problem is around lines 332 & 625 of `/src/app/components/sandbox/CodeEditor/Monaco.js`
https://github.com/CompuIves/codesandbox-client/blob/master/src/app/components/sandbox/CodeEditor/Monaco.js#L332
https://github.com/CompuIves/codesandbox-client/blob/master/src/app/components/sandbox/CodeEditor/Monaco.js#L625

[2017-08-16 12:37] Tushkiz commented on #105
Did you mean moving it between '+' and user dropdown?
Also can I take this up?

[2017-08-16 12:51] AlokJoshi commented on #101
@vueu and @CompuIves thanks for your responses. Incidentally I love codesandbox. Looking forward to native support for vue.

[2017-08-16 13:26] CompuIves commented on #105
@Tushkiz That would be awesome! 😄 . Indeed between the + and the user dropdown. You don't have to remove the preferences from the dropdown itself, let's keep that one for better UX on other pages.

[2017-08-16 13:28] CompuIves commented on #106
The idea is that the + icon will open a dropdown, An example mockup is this:

![screen shot 2017-08-16 at 15 23 31](https://user-images.githubusercontent.com/587016/29365375-16fdf1e2-8297-11e7-9951-b4c0507e7c68.png)

This will give us more space in the header and lets the user know that we have more than 'New Sandbox' (I think no one knows of the CLI...)

The New Sandbox should go to `/s/new`, the

[2017-08-16 13:32] Arthelon commented on #113
The editor uses monaco-editor by default but when you switch to vim mode it switches back to the old codemirror editor. Seems like the `fontFamily` preference isn't properly setup with the new editor implementation.

As for the minimap, it can be configured with monaco's [editor options](https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.ieditoroptions.html#selectonlinenumbers)

[2017-08-16 13:36] CompuIves commented on #113
Good info @Haroenv, will make the changes now. It seems like `fontFamily` broke along the way. Minimap should be an easy option to add thanks to the nice preferences system built by @viankakrisna.

[2017-08-16 13:36] CompuIves commented on #113
Oh nice @Arthelon! You're making my job really easy 😄 .

[2017-08-16 13:39] CompuIves commented on #112
Looking into it.

[2017-08-16 13:42] CompuIves commented on #112
This is good info, thanks for the clear examples @Vill3m and @Radi123. What operating systems are you using?

[2017-08-16 13:48] CompuIves commented on #112
Okay, deployed a new version with minimap disabled. Could you verify if the issue has been fixed?

[2017-08-16 13:48] CompuIves commented on #113
Disabled the minimap by default for now, seems to have more issues than anticipated atm.

[2017-08-16 13:59] Radi123 commented on #112
I'm using Windows `10.0.15063`, Chrome 60 (`v60.0.3112.101  64-bit`)

[2017-08-16 14:15] Tushkiz commented on #105
Cool, I will create a PR.
Do we have label for "someone working on this"?

[2017-08-16 14:21] CompuIves commented on #112
Ah I see, I think this issue only happens on Windows. Does it also happen without the minimap?

[2017-08-16 14:22] Radi123 commented on #112
Yes @CompuIves https://www.youtube.com/watch?v=3wkSvNjNlFk

[2017-08-16 14:26] CompuIves commented on #112
Aii, hmm. What does your console show after load? Also, could you take screenshot of this? Thanks for the quick responses! Really valuable.
![screen shot 2017-08-16 at 16 25 40](https://user-images.githubusercontent.com/587016/29368289-93c259c2-829f-11e7-9c8f-5127e31db52e.png)

[2017-08-16 14:27] CompuIves opened #114 "Zen Mode"
A mode that removes all save buttons, side bar details. Ideal for presentations.

[2017-08-16 14:29] Radi123 commented on #112
@CompuIves
![image](https://user-images.githubusercontent.com/12954909/29368397-4466f49c-82a8-11e7-9b61-2d8b9aa8e626.png)

![image](https://user-images.githubusercontent.com/12954909/29368442-65fbbbf6-82a8-11e7-9d04-7e600ef39189.png)

[2017-08-16 14:32] Vill3m commented on #112
@CompuIves win7x64 chrome last version and chrome canary have this bug

[2017-08-16 14:35] CompuIves commented on #112
Okay, I'm able to reproduce it using BrowserStack. Will find out what's causing this.

[2017-08-16 14:42] CompuIves commented on #112
Think I found the cause, has to do with font families. Trying to fix it...

[2017-08-16 14:43] CompuIves commented on #112
That's it! Deploying new version for now that disables font family editing.

[2017-08-16 14:49] CompuIves commented on #112
Deployed, could you verify that it's fixed @Vill3m?

[2017-08-16 14:56] CompuIves commented on #111
Yep, I'm implementing TypeScript this week. 😃

[2017-08-16 14:56] Vill3m commented on #112
@CompuIves It's working)

[2017-08-16 14:56] CompuIves commented on #110
Agreed, let's keep the current functionality for now.

[2017-08-16 14:57] CompuIves commented on #112
Great!! Marking 'fixed' with https://github.com/CompuIves/codesandbox-client/commit/d45ff5cc8c4ffc172107b491bafe2124f3516d58.

[2017-08-16 14:57] #112 closed

[2017-08-16 14:58] faceyspacey commented on #110
What I was saying is we build it just without back functionality. So as u navigate the module Id is in the URL. That's the important part. It's not only useful but gives visibility to this feature to people who otherwise might not know.

[2017-08-16 15:21] Radi123 commented on #112
Working! @CompuIves Now you can try to return the mini map by default - it was cool.

[2017-08-16 15:33] donavon opened #115 "Doesn't update URL when using React Router 4 and HashRouter"
see this [sandbox](https://codesandbox.io/s/73756zzk46)

Click on the links and the app works, but you don't see this reflected in the URL.

In `index.js` change this:
[code]
to this:
[code]
and the app still works PLUS the URL properly updates.

[2017-08-16 15:39] CompuIves commented on #115
Good one, I remember adding this but then net deploying it for some reason, should've documented it.

Should be fixed by updating this code

https://github.com/CompuIves/codesandbox-client/blob/master/src/sandbox/url-listeners.js#L34-L48

To add hash, also a deduplication might be in order 😅 .

[2017-08-16 18:38] #105 closed

[2017-08-16 19:21] johann-sonntagbauer opened #117 "Error Overlay styling"
The error indicator is positioned absolute which makes is very hard to see the indicator at all. Also because of the positioning it doesn't scroll.

![problem](https://user-images.githubusercontent.com/1239401/29381173-9e61671e-82c8-11e7-8453-c51dfc8825cc.png)

My suggestion would be to style it the following way which makes it very clear where the error is and also no special positioning is neede

[2017-08-16 19:29] radi-cho opened #118 "When disable Vim mode the code disappears"
Hello! When I click `preferences` and select `Vim mode` everything is great, **but when open `preferences` again and disable the Vim mode**, the code _**disappears**_... View:

![image](https://user-images.githubusercontent.com/12954909/29381446-e5783d5e-82d1-11e7-8d2a-6df3e47c7abd.png)

Video: https://youtu.be/KOo8K0i_Uog
I'm using Windows 10 x64bit, Chrome 60

[2017-08-16 19:33] johann-sonntagbauer opened #119 "ReasonML support"
First of all I am very impressed by the excellent work. The online editing experience is very pleasing.
I would like to invest time to build ReasonML support for code sandbox. The basic infrastructure is very well layed out already and I think ReasonML could be integrated quite well.
Please let me know if you think the idea could be benifitial for your project as well as ReasonML.

Some links as b

[2017-08-16 19:49] CompuIves commented on #117
Completely agree, really good suggestion @johann-sonntagbauer. Would love to see a PR for this!

[2017-08-16 19:51] CompuIves commented on #119
Completely agree with this. I'm starting with a rewrite of the loader system right now, which should make it easier to allow loaders like BuckleScript to exist. I'm planning to finish that this week.

The biggest unknown for me with ReasonML is how we are going to support the syntax in Monaco, vscode extensions are partially convertible to Monaco. So we could handpick the extension to add support

[2017-08-16 20:00] johann-sonntagbauer commented on #119
Nice! I could start with the ground work to get the Editor setup with all necessary pieces of the plugin already.

[2017-08-16 20:02] CompuIves commented on #119
That would be **really** great. It would help a ton!

[2017-08-16 20:17] CompuIves commented on #104
Fixed with https://github.com/CompuIves/codesandbox-client/commit/73aab24d786c605e93c3b92cd20fd5536dad6e9f

[2017-08-16 20:17] #104 closed

[2017-08-16 20:24] CompuIves commented on #110
Hmm, I do not completely understand what you mean. I think there is a solution though, we could use `history.replaceState` instead of `pushState`, this way we don't pollute the history and are still able to change the URL.

[2017-08-16 20:25] CompuIves commented on #112
Will come as an option @Radi123 😄

[2017-08-16 20:35] CompuIves commented on #108
This is a really nice suggestion, and would fit really well with the new suggestions (since we can now add multiple suggestions).

[2017-08-16 20:36] CompuIves commented on #109
Hmm, you could be right. I agree that we should disable it in that case.

[2017-08-16 20:44] ritz078 opened #121 "Support creating projects"
When I make demos I would like to group them. Something called 'Project'. Also I would like a shareable URL for a project.

[2017-08-16 20:46] ritz078 opened #122 "Manage project dependencies"
Followup to #121

When I create multiple demos, sometimes I would like to upgrade the dependencies in all of them at once. Doing it manually in each will take a lot of time. It will be great if somehow I can update the dependencies of all demos in a project at once.

[2017-08-16 21:18] coryhouse commented on #104
Great! Thanks! 👍

[2017-08-16 23:25] #117 closed

[2017-08-17 05:16] johann-sonntagbauer commented on #118
After a quick look it seems that there are two problems here:

1. code mirror keeps some references on the dom nodes
solution would be to call setValue('') to clean up the internal document of the editor during unmount

2. eslint throws because it tries to load babel-polyfill, which only alows one instance to be loaded at the same time.

All in all it seems that there is a migration path from code

[2017-08-17 07:44] Radi123 commented on #112
Cool

[2017-08-17 10:37] CompuIves commented on #106
Assigned @Tushkiz to it!

[2017-08-17 10:39] CompuIves opened #125 "Monaco VIM Support"
Create VIM support for the Monaco editor, allows us to drop codemirror.

[2017-08-17 10:42] CompuIves commented on #118
Ah, I see. Didn't know that codemirror kept its references, but makes sense.

Getting VIM support in Monaco is high priority, because it's the only thing keeping us from dropping codemirror support, now we have to support both. Just created an issue for it: https://github.com/CompuIves/codesandbox-client/issues/125.

If the bugs aren't hard to fix, then we can still fix them. I reckon it is just a

[2017-08-17 10:47] johann-sonntagbauer commented on #118
@CompuIves the code mirror problem is easy to fix.

Much bigger trouble is the second one with es-lint.
There I don't know for now how to fix that because babel-polyfill is part of both es-lint plugins.
Maybe loading babel-polyfill beforhand can solve that, but don't know exactly if that will help.

[2017-08-17 10:58] CompuIves commented on #118
Hmm, yes. There are two linting modules. One in a web worker, used by Monaco, and one in a simple module (so on the window).

I think it would be smart to move the simple module to the web worker as well and make the web worker a singleton that can be used both Monaco and CodeMirror.

On a related note, I also put some thought in how to get `babel-eslint` working in ESLint. For that to happen we n

[2017-08-17 11:02] johann-sonntagbauer commented on #118
Looks promising. I have to analyse further but it seems reasonable.

[2017-08-17 11:03] CompuIves opened #126 "Fix custom font families in Monaco"
I had to disable the custom font family feature in Monaco due to a problem with Windows recalculating the widths of the characters. This feature is very important though and it would be nice to get it working again. I don't have a Windows PC, so this makes it hard for me to fix this.

This is the commented out code:
https://github.com/CompuIves/codesandbox-client/blob/master/src/app/components/san

[2017-08-17 12:07] Tushkiz commented on #106
Great, Thanks 😅

[2017-08-17 12:38] Arthelon commented on #121
Being able to group your sandbox sounds like a good idea, stick with using tags for now. As for getting shareable urls, you can find them in the 'Share' popover in the header.

[2017-08-17 12:46] chakrihacker commented on #115
I tried logging document.location but it's not working with hashrouter, any idea??

[2017-08-17 13:05] Arthelon commented on #83
@CompuIves Seems like this issue can be closed

[2017-08-17 13:15] CompuIves commented on #121
I had a similar request recently by @kentcdodds. A feature that allows you to create public (or private) collections, and add sandboxes to the collection. Then the collection is sharable.

Is that the same as your proposal @ritz078?

[2017-08-17 13:16] CompuIves commented on #113
Related: https://github.com/CompuIves/codesandbox-client/issues/126

[2017-08-17 13:37] ritz078 commented on #121
Yes that is a similar proposal.

[2017-08-17 14:04] rhernandog commented on #87
Hi @CompuIves,

Sorry to re-open this, but the issue is happening again. Every time I open a sandbox I have to set my preferences again. Mostly what I do is change the line height and font family.

Again, this is not too urgent, I can live changing this when I work on my sandboxes, so whenever you have the time to solve it.

Cheers,
Rodrigo.

[2017-08-17 14:10] rhernandog opened #127 "Global definitions in ESLint."
Hi,

I normally use GSAP in all of my projects which uses some classes (TweenLite/Max, TimelineLite/Max, Draggable, etc) which are not defined all the time. For reasons out of the scope of this particular issue I normally work with GSAP from the CDN links.

Is there a way to config within the Codesanbox editor global elements to avoid getting those errors displayed?

Thanks in advance,
Rodrigo.

[2017-08-18 15:18] #118 closed

[2017-08-18 15:21] CompuIves commented on #127
This shouldn't be too hard to add. We could add an `Eslint` config section like `Prettier Config` and include the option to add globals like we do with dependency adding.

[2017-08-18 17:55] kylegach opened #133 "Feature idea: view a diff comparing saved sandbox to whichever sandbox the user started from"
This could be useful to illustrate how to properly use a package, for instance. It would allow the viewer to separate the relevant bits from the boilerplate.

[2017-08-18 19:51] radi-cho commented on #126
I'm from the phone now

[2017-08-19 12:52] jseminck opened #134 "Action tooltips are not consistently aligned."
If you compare the tooltip for Feedback and the tooltip for Contact, you can see they are not properly aligned.

![old_feeback](https://user-images.githubusercontent.com/9586897/29486728-d15cdad4-84f5-11e7-9b23-e19ea09f4e02.png)

![old_contact](https://user-images.githubusercontent.com/9586897/29486729-d36bf90e-84f5-11e7-9c80-1d721a789a6a.png)

I suspect that Contact tooltip is incorrect. It's pla

[2017-08-19 14:05] Haroenv commented on #102
This magically became fixed a few days ago. 🆒

[2017-08-20 19:36] radi-cho commented on #126
I want to enable the custom font family feature but i don't have write permissions. Can you enable it?

[2017-08-20 19:56] radi-cho commented on #126
View this - https://github.com/CompuIves/codesandbox-client/pull/136
Please merge #136 to test the bug

[2017-08-21 06:56] radi-cho commented on #126
### Update: I'll test this locally

[2017-08-21 13:30] #83 closed

[2017-08-21 13:50] jseminck opened #138 "ESLint complains about decorators, even though everything works."
Example project: https://codesandbox.io/s/w0op701mn5

The linter complains about not being able to parse decorators. Yet the project runs without issues.

<img width="530" alt="screen shot 2017-08-21 at 16 49 36" src="https://user-images.githubusercontent.com/9586897/29522143-ec8fc0b8-8690-11e7-8420-7f51e3d6d9dd.png">

[2017-08-21 14:38] CompuIves commented on #138
Right, I need to finish this pr: https://github.com/eslint/eslint/pull/9119. So we can define `babel-eslint` as parser and it should work.

[2017-08-21 15:04] CompuIves commented on #134
Closing thanks to your fix! Fix!

[2017-08-21 15:04] #134 closed

[2017-08-21 16:23] CompuIves commented on #133
This is a nice idea, especially since both CodeMirror and Monaco already support diff views. I'm thinking of adding a snapshot feature that lets you save different 'snapshots' or 'versions' of a sandbox and a diff view between them would be very beneficial.

A snapshot system would also be very nice for creating tutorials with different steps, or even as a _basic_ version control.

[2017-08-22 15:51] chakrihacker commented on #127
I am working on this

[2017-08-22 16:54] imbhargav5 opened #141 "Just wanted to drop by and say "Thanks!!""
I love codesandbox. I use it everyday. It's so cool! You save me tons of time every day as a developer and I am eager to help you guys out starting with the help-wanted issues.

Thanks once again. You are awesome!!

[2017-08-22 19:58] renegoretzka opened #142 "Switching "Use CodeMirror" twice causes empty files."
Switching "Use CodeMirror" twice causes empty files when Option is deactivated
See short video here: https://cl.ly/3L1V0j0s0v13

I use Safari 10.1.2 on MacOS Sierra.

I also found that the option switch is not switching when clicking after first time.

[2017-08-23 06:34] Arthelon commented on #142
I don't see this issue in the HEAD of the current development branch. Should be fixed with the next update!

[2017-08-23 07:58] Arthelon commented on #114
Maybe something like this? ![](https://i.gyazo.com/f61e8727c8a059702e5afacda13c569e.png)

[2017-08-23 08:02] Arthelon commented on #114
Another iteration without the Editor header (containing filepath) and the Project section in the sidebat:
![](https://i.gyazo.com/61aed3b21a488dd7ad9a2b4bf920b489.png)

[2017-08-23 08:04] Arthelon commented on #114
It would also be cool if Zen mode toggled fullscreen, just like with VSCode's zen mode.

[2017-08-23 12:28] CompuIves commented on #141
Oooh this is so nice to hear! Thank you so much, you instantly made me happier 😄 .

[2017-08-23 14:55] CompuIves commented on #101
It's here 😄 ! https://codesandbox.io/s/vue

[2017-08-23 14:55] #101 closed

[2017-08-23 15:07] CompuIves commented on #114
Wow, 😱  that looks really good. That's exactly what we need, fullscreen mode with it would be ultimate!

[2017-08-23 15:11] CompuIves commented on #142
Hmm, yes, I remember this being fixed by this https://github.com/CompuIves/codesandbox-client/pull/129 PR. But it seems like I get the error again in production when switching:

![screen shot 2017-08-23 at 17 10 22](https://user-images.githubusercontent.com/587016/29623234-fcc6fef6-8825-11e7-8b73-2964ac98408a.png)

Do you recognize this error @johann-sonntagbauer? Maybe I did something that broke

[2017-08-23 15:16] johann-sonntagbauer commented on #142
I am on it already :).
The "fix" of mine is more a hack to circumvent the eslint module loading quirks. Hope that Monaco will become the default editor in the near future to save us from these headaches.

[2017-08-23 15:22] CompuIves commented on #142
I really hope so too. Only thing holding me back is https://github.com/CompuIves/codesandbox-client/issues/125, we have a lot of VIM users.

[2017-08-24 03:34] AlokJoshi commented on #101
Thanks. That is great news. 

Sent from my T-Mobile 4G LTE Device

-------- Original message --------
From: Ives van Hoorne <notifications@github.com>
Date: 08/23/2017  7:55 AM  (GMT-08:00)
To: CompuIves/codesandbox-client <codesandbox-client@noreply.github.com>
Cc: AlokJoshiOfAarmax <ajoshi@flash.net>, Author <author@noreply.github.com>
Subject: Re: [CompuIves/codesandbox-client] Vuejs (#101)

Cl

[2017-08-24 03:36] AlokJoshi commented on #101
@compulves. Thank you very much. Greatly appreciated.

Sent from my T-Mobile 4G LTE Device

-------- Original message --------
From: Ives van Hoorne <notifications@github.com>
Date: 08/23/2017  7:55 AM  (GMT-08:00)
To: CompuIves/codesandbox-client <codesandbox-client@noreply.github.com>
Cc: AlokJoshiOfAarmax <ajoshi@flash.net>, Author <author@noreply.github.com>
Subject: Re: [CompuIves/codesandbox

[2017-08-24 08:40] Tiriel opened #144 "TypeError - Could not fetch Dependencies: Failed to fetch"
Hi!

Since this morning, I have the following error on all sandboxes I use, on every browser:
[code]

The console displays this:
[code]

Needless to say I didn't touch anything remotely linked to headers that I know of.
Anything I'm doing wrong?

[2017-08-24 08:46] Tiriel commented on #144
Closing the issue as it seems to be back to normal.
But if anyone has an explanation, I'd be glad to have it!

[2017-08-24 08:46] #144 closed

[2017-08-24 11:35] CompuIves commented on #144
Yap, this morning was quite hectic.

Tonight the MongoDB responsible for the cache reached its max capacity and started throwing. Also simultaneously our backup server went down. So both servers stopped responding.

I added more packagers and cleared the cache. I'm working on a Google cloud function version of the packager and from then on we won't ever have this particular issue again.

[2017-08-24 13:01] Tiriel commented on #144
Oh boy. Well, I'm glad you managed this so quickly!

Thanks!

[2017-08-25 11:17] ndelangen commented on #126
I'm able to set a custom font for the editor, what is this issue exactly about? this code is commented out: https://github.com/CompuIves/codesandbox-client/blob/master/src/app/components/sandbox/CodeEditor/Monaco.js#L762

But I can set custom font here:
<img width="1788" alt="screen shot 2017-08-25 at 13 14 05" src="https://user-images.githubusercontent.com/3070389/29711884-5ec473d2-8997-11e7-93af

[2017-08-25 11:41] radi-cho commented on #126
@ndelangen This issue is for Monaco editor. You're using CodeMirror (I saw on the screenshot)
And the code is commented because there is another bug

[2017-08-26 00:29] tcosentino commented on #109
I think this has already been fixed?

<img width="262" alt="screen shot 2017-08-25 at 8 27 38 pm" src="https://user-images.githubusercontent.com/1531641/29736923-f85655a6-89d3-11e7-9bd0-a65b68412f0f.png">

[2017-08-26 07:06] chakrihacker commented on #109
yes @tcosentino

[2017-08-26 07:32] CompuIves commented on #109
Oh yep right, marking as fixed.

[2017-08-26 07:32] #109 closed

[2017-08-26 14:25] jthegedus commented on #43
Are there plans to support arbitrary directory structures in repos?

[2017-08-27 04:24] rebornix commented on #125
This is Peng from VSCode team. I was thinking about adding Vim support for Monaco as well (very likely as an extension). I'm maintaining VSCodeVim (Vim emulator for VSCode) at the same time, considering VSCode API and Monaco API share the same semantics, we may be able to reuse most of the code logic in VSCodeVim.

BTW, your work is insanely awesome (especially when you need to tweak Monaco to mak

[2017-08-27 09:59] CompuIves commented on #125
Hey @rebornix, thank you so much for your work on vscode! I want to thank you and your team for making Monaco standalone, it's really valuable for the online editor progression.

VIM support for Monaco would be really valuable. I'd like to help in any possible way. I know that I'm getting ahead of myself, but If you need any kind of access to CodeSandbox for the extension I can add it. There alrea

[2017-08-28 17:36] CompuIves opened #148 "A gitbook documentation"
We're getting more and more features, it would be nice if we'd have a Gitbook (or any alternative(?)) as documentation. We could documentate things like git import there.

[2017-08-28 21:21] rebornix commented on #125
@CompuIves thanks for all your kind words ;) I dig into our monaco interface and try to see how easy it is to build similar Vim extensions on top of it but unluckily it's not as powerful as VSCode one (which we did some undocumented change to unlock Vim). However due to Monaco's AMD nature, we can easily require necessary module and make the API ourselves.

For example, the API we need to implemen

[2017-08-29 00:15] elado opened #151 "babel plugin order error"
the order of babel plugins matter, and decorators should come before class-properties.

here's an example for code that fails with the current order:
https://codesandbox.io/s/38q5q47xv5

the higher-order component defaultProps are gone. if decorators-legacy is moved before class-properties this will resolve.

https://github.com/CompuIves/codesandbox-client/blob/7e02b45587110f995f2aa898f2b0679193a3

[2017-08-29 13:05] MartynasZilinskas opened #152 "Tries to load @types when package has included it's own"
![image](https://user-images.githubusercontent.com/562658/29822135-1fcf9e4c-8cd3-11e7-9e1f-4d51d2a6f8ab.png)

I have noticed that it tries to load types from https://unpkg.com/@types/@simplr/react-forms-dom/index.d.ts.

Expected behavior:
- Checks if package has `types` property and load from relative path [reference](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html)

[2017-08-30 01:57] Arthelon commented on #125
I've been using [this library](https://github.com/superRaytin/react-monaco-editor) as a React wrapper for monaco-editor

[2017-08-30 14:25] niieani commented on #111
Hey @CompuIves, any news on this? :) Would love to use TS in CodeSandbox!

[2017-08-30 15:22] CompuIves commented on #111
Hey @niieani, TS support has been added. It's only in the Vue template at this moment, because the Vue cli supports it natively.

I'm adding template ejecting (so you can customize CRA) next week, so it'll probably be supported in CRA next week!

[2017-08-30 17:52] niieani commented on #111
That's great news indeed! Thanks. Does ejecting mean we will be able to make our own, custom presets? Also, what's a CRA?

[2017-08-30 19:25] CompuIves commented on #111
Exactly, you'll be able to specify if you use sass, css modules, typescript, babel config, etc.

Sorry for being a bit unclear! I mean `create-react-app` with that.

[2017-08-30 19:43] CompuIves commented on #125
@rebornix Thank you very much for this info, this is incredibly valuable! `codesandbox-api` is really basic at this moment, it's in the repo: you can find the barebones here: https://github.com/CompuIves/codesandbox-client/tree/master/src/node_modules/codesandbox-api. It's really basic, but we can easily expand functionality, it's also in TypeScript ;D. For example the type example, we could also

[2017-08-30 21:55] niieani commented on #111
Fantastic. Some time ago I've hacked-in Aurelia support by removing React defaults here: https://codesandbox.io/s/2w8J7n9W. It would be nice to have a template/preset for it too!

[2017-08-31 19:31] #151 closed

[2017-09-01 12:54] BurntCaramel opened #155 "Elm support"
Would be pretty amazing to get Elm support, with its simple language, handy libraries, and excellent errors. Currently on holiday but can have a stab at the end of September. There's a webpack plugin which I imagine would make it easier to integrate. However, I think the actual compiler is built using Haskell which would make offline support harder.

[2017-09-01 16:02] CompuIves commented on #152
Fixed with https://github.com/CompuIves/codesandbox-client/commit/6728a5190ce30916d48f662fe805baf15782543e.

TS support is reaaaally close! 😄

[2017-09-01 16:02] #152 closed

[2017-09-02 09:08] James2516 opened #156 "React Modal no animation?"
https://codesandbox.io/s/l5lj2x12kz

why isn't the modal animation showing on the code snippet above?

[2017-09-02 10:45] CompuIves commented on #156
Hey @James2516, I just tested your sandbox locally and it also doesn't show any animation there. I can't help with debugging sandboxes if the bug is not related with CodeSandbox, for that I'd like to refer you to [Reactiflux](https://www.reactiflux.com/). Reactiflux is an amazing community that always is on standby if you need any help.

[2017-09-02 10:45] #156 closed

[2017-09-02 10:51] CompuIves commented on #155
Interesting, I haven't worked with Elm yet, but do know an editor called [Ellie](https://ellie-app.com/new) that's built for Elm. I'm not sure if it's worth it to write an implementation in CodeSandbox, since it would require us to build logic for server side compiling and forces us to build exceptions into offline support.

But I'm open for discussion if there are more reasons, keeping this issue

[2017-09-02 11:41] lbogdan opened #157 "Warning after starting the server - gitignore"
After starting the server I get the following warning:
[code]
Already talked to @CompuIves on Discord about it, this is just a reminder. :smile:

[2017-09-02 12:42] lbogdan opened #158 "/embed/:sandboxId doesn't work"
Accessing `http://localhost:3000/embed/:sandboxId` shows
[code]

[2017-09-02 13:13] #158 closed

[2017-09-02 13:59] lbogdan opened #160 "/ shows a file browser instead of the homepage"
Accessing http://localhost:3000/ shows a file browser instead of the homepage.

[2017-09-02 14:20] #160 closed

[2017-09-02 14:42] lbogdan opened #162 "React warning when pressing "Share" button"
When pressing the "Share" button for the first time, you get this React warning in the console:
[code]

[2017-09-02 14:54] lbogdan opened #164 "console.log() in manager.js"
There's a `console.log()` in https://github.com/CompuIves/codesandbox-client/blob/master/src/sandbox/eval/manager.js#L45 , which also shows in production. Is this needed?

[2017-09-02 15:10] #162 closed

[2017-09-02 15:10] CompuIves commented on #164
Yep, this is on purpose for easier debugging. I'm planning to keep it until next week.

[2017-09-02 15:15] lbogdan opened #165 "React Hot Loader error"
Loading the editor shows this error in the console:
[code]

[2017-09-02 15:22] lbogdan commented on #164
Roger that. :smile:

[2017-09-02 15:23] lbogdan commented on #164
Actually, I'll just leave this opened as a reminder. :smile:

[2017-09-02 15:40] #165 closed

[2017-09-02 16:28] CompuIves commented on #111
Wow, nice @niieani! I'll add Aurelia to the list.

[2017-09-02 19:29] #106 closed

[2017-09-02 20:59] pandemm opened #168 "Sandbox imported from Github shows wrong template"
After importing a sandbox from Github, the left side pane displays create-react-app as template. As sandboxes imported from Github can't be directly based on template sandboxes, I think the template field should be hidden.
![cra](https://user-images.githubusercontent.com/10899207/29998701-9ae749bc-903a-11e7-96d8-ada9513066ce.PNG)

[2017-09-03 15:33] tcosentino commented on #76
First off thanks for the project @CompuIves. Been really fun to use and want to get involved helping out. Is anything on this being worked on? I wouldn't mind taking a stab at something along these lines.

@CompuIves I am curious if you have thought much about sharing links and how they appear as well? I think this could be grouped into one solution but need to do some more research still. For exa

[2017-09-03 17:18] CompuIves commented on #76
Ah this is an interesting topic @tcosentino. I always thought you need to add the metadata to the HTML itself, but in the case of oEmbed this isn't really needed. The only thing I had to do is open a PR here: https://github.com/iamcal/oembed/pull/245, since we already have the oEmbed url for Medium embed support.

Now there is a second thing I'd still like to add using a serverless architecture, w

[2017-09-03 19:10] tcosentino commented on #76
Do you have anything else running serverless so far? Or have a plan for how you'd like to do it? It does look very easy with Puppeteer to generate the screenshot.

I should probably be looking at the `help wanted` issues instead, lol!

[2017-09-03 19:52] pshrmn opened #171 "Styles lost when importing from GitHub"
When I import from GitHub, the `index.html` file that is included in the sandbox contains the `<body>` contents from the source `index.html`, but not the `<head>` contents. This means that any `<style>` tags from the source will be removed.

Example:

https://github.com/pshrmn/curi/tree/master/examples/active-links
https://codesandbox.io/s/github/pshrmn/curi/tree/master/examples/active-links

Here

[2017-09-03 23:31] lbogdan opened #173 "Two confirm() dialogs when pressing on the sandbox link under "Forked from""
I have a sandbox forked from another one. If I click on the sandbox link under "Forked from" in the left pane, I get a confirm() dialog saying `You have unsaved changes. Are you sure you want to navigate away?`, and if I click OK I get another one saying `You have not saved this sandbox, are you sure you want to navigate away?`.

[2017-09-03 23:40] lbogdan commented on #133
^ this! :heart:

[2017-09-03 23:43] lbogdan commented on #142
Related (or maybe not?) when switching from Monaco to CodeMirror (actually when initializing CodeMirror) I get this `Warning: Unknown props `isLoading`, `pastDelay`, `error` on <div> tag. Remove these props from the element. For details, see https://fb.me/react-unknown-prop
    in div (created by Loadable)`.

[2017-09-03 23:58] lbogdan opened #174 "Google fonts are loaded as <script> instead of <link>"
![](https://i.imgur.com/ta37mjS.png)
![](https://i.imgur.com/3PTpZEX.png)

[2017-09-04 06:53] CompuIves commented on #174
Ooh good one, logic for this resides here: https://github.com/CompuIves/codesandbox-client/blob/master/src/sandbox/external-resources.js.

Maybe we should either do a manual check, or do a preflight request to find out the `Content Type`?

[2017-09-04 08:24] pandemm commented on #171
I think it is because of the html parser at the [Git-extractor project](https://github.com/CompuIves/codesandbox-git-extractor/blob/master/src/routes/github/create-sandbox/html-parser.ts). It extracts external css and js assets and the body content, but not style tags for example.

@CompuIves  Am I correct that adding parsing for <style> tags would fix this? What other tags are there that we might

[2017-09-04 17:28] CompuIves commented on #171
Ahh, interesting issue. You're both right @pshrmn and @pandemm, thanks for the digging!

I see two solutions:

The first possible solution is that we should have separate fields for script/style tags inserted in the head. This way we can reconstruct them back in the sandbox.

The second possible solution seems like we should just save the whole HTML file without the script/style tags, and let the

[2017-09-04 18:10] CompuIves opened #176 "New Homepage"
Coming week I want to put effort in building the new homepage. This homepage will be built using Next, so we can retain our SEO.

The main focus points of this homepage will be:

1. New, more compelling design with headline of 3d flying cubes
  a. Show search bar as well, if users want to search
2. Special view for logged in users
  a. Show sandboxes of user
  b. Show templates (upcoming feature)

[2017-09-04 19:02] pshrmn commented on #171
Besides not losing the original styles, I think my biggest concern is just that someone who forks the imported project is able to easily edit the `<style>`s. I was imagining a system where the `index.html` has both `<head>` and `<body>` tags. However, I can understand why you wouldn't necessarily want a `<head>` in the `index.html` as it would lead to having to handle multiple use cases (whereas y

[2017-09-04 19:41] lbogdan commented on #174
It would be nice if the API could figure out the type when you add a resource (even return an error if it's neither JS, nor CSS), and return it. I don't know about the backwards compatibility, though.

[2017-09-04 20:09] lbogdan opened #177 "MonacoReactComponent.js PropTypes warning"
When loading the editor I get this warning:
[code]

This is caused by these: https://github.com/CompuIves/codesandbox-client/blob/master/src/app/components/sandbox/CodeEditor/monaco/MonacoReactComponent.js#L299

[2017-09-04 20:15] lbogdan opened #178 "React Hot Loader warnings"
When I load the editor I get these errors:
[code]
, and the same for `<StyledPrivate>`.

[2017-09-04 22:38] tcosentino commented on #76
Yes I was thinking it would be a good way to try out the serverless stuff. You would just need to be able to pass a url (the subdomain sandbox url) and get back the image as a file?

Yes I was thinking about the frequency too. If it is just being used when sharing (via a button in the UI) you could generate it on the fly. To enable it via link sharing or to use as thumbnail for search etc, I think

[2017-09-05 06:45] alexvcasillas opened #179 "Styled Components Unexpected Behavior"
Hi there, @CompuIves !
I'm opening this issue as we spoke at Twitter about the unexpected behavior we've been experiencing at CodeSandbox Client with Animated Styled Components.

**Unexpected Behavior**
I drop you here a link to the [Video](https://www.dropbox.com/s/9b6mnzt617yu43t/Animated%20Styled%20Components%20CodeSandbox%20Unexpected%20Behavior.webm?dl=0) to better showcase the unexpected beh

[2017-09-05 07:57] lbogdan opened #180 "CodeMirror / Loadable warning"
When loading the CodeMirror editor I get this warning:
[code]
This happens because the `Loadable` that loads CodeMirror has its `LoadingComponent` set to a `div` https://github.com/CompuIves/codesandbox-client/blob/master/src/app/components/sandbox/CodeEditor/index.js#L8
(should be a loading component).

[2017-09-05 20:43] TrevorSayre opened #183 "Current Module View does not transpile before viewing"
When switching to `Current Module View` and then looking at a module file, the following error is presented:

[code]

This can be bypassed by modifying and saving the file.

![](https://media.giphy.com/media/3ohhwD7jI4j4lkss9y/giphy.gif)

Also, if you press the refresh button in the preview area, you can get duplicate render:

![image](https://user-images.githubusercontent.com/421548/30083062-0d99

[2017-09-05 20:45] TrevorSayre opened #184 "Feature Request: Add deep link to file"
It would be nice to be able to link directly to a file in my sandbox. This way I can control which file someone will see when they load the sandbox based on the link I give them.

[2017-09-05 21:11] jseminck opened #185 "Clicking prettify when there is a syntax error will clear the editor"
This is pretty annoying 😄

![prettyfy-clear](https://user-images.githubusercontent.com/9586897/30083623-e1558364-9297-11e7-996d-f657e9c68fba.gif)

[2017-09-06 15:10] CompuIves commented on #185
Fixed by your PR! ❤️

[2017-09-06 15:10] #185 closed

[2017-09-06 17:41] CompuIves commented on #157
Fixed with https://github.com/CompuIves/codesandbox-client/commit/885ceed0df0b5524457387dbd33708c92a8294ad!

[2017-09-06 17:41] #157 closed

[2017-09-06 20:23] #142 closed

[2017-09-06 20:24] #180 closed

[2017-09-06 20:31] CompuIves commented on #183
Fixed with https://github.com/CompuIves/codesandbox-client/pull/187!

[2017-09-06 20:31] #183 closed

[2017-09-06 20:49] CompuIves commented on #184
Hmm, maybe we support this already if I'm not wrong. Here's an example:

https://codesandbox.io/s/new?module=/Hello.js

[2017-09-06 21:02] TrevorSayre opened #188 "Feature Request: Link to enable Current Module View"
When I link to a project, it would help our interview process to have it open in Current Module View instead of Project View.

Perhaps:
* `https://codesandbox.io/s/30r9pxq5zq?view=module`
* `https://codesandbox.io/s/30r9pxq5zq?view=project`

[2017-09-06 21:03] TrevorSayre commented on #184
In that case, it would be nice to have the URL update when I click on a file to make this feature more discoverable :)

[2017-09-06 21:05] CompuIves commented on #188
We have this already in the current version :smile:. You can find it when you click on 'Share' in the editor, for your example: https://codesandbox.io/s/30r9pxq5zq?moduleview=1.

[2017-09-06 21:05] #188 closed

[2017-09-06 21:05] TrevorSayre commented on #188
@CompuIves I just now updated the post 😂

[2017-09-06 21:07] CompuIves commented on #184
Ah, yes. I've added this at the beginning of CodeSandbox, but it puts the simulated browser in an inconsistent state. There is maybe an option to fix it, we're discussing it here: https://github.com/CompuIves/codesandbox-client/issues/110

[2017-09-06 21:09] TrevorSayre commented on #110
Perhaps this should include updating `moduleview=1` on view toggle as mentioned in #188

[2017-09-08 20:19] CompuIves commented on #111
This is landing tomorrow. There, I said it!

[2017-09-09 19:48] CompuIves commented on #111
Almost merging it in, PR is here: https://github.com/CompuIves/codesandbox-client/pull/192

[2017-09-09 20:51] CompuIves commented on #111
Hah, just in time for the deadline! 😄

TypeScript support is now available:

https://codesandbox.io/s/react-ts

[2017-09-09 20:51] #111 closed

[2017-09-10 01:27] tkh44 opened #193 "Feature Request: Create github repo from project"
This could be handy for people like me who start with sketches on the site and then move on to real repos.

[2017-09-10 09:12] tomsdev commented on #119
Any progress on this? This could really impact ReasonML adoption (and codesandbox!)

[2017-09-10 12:49] CompuIves commented on #193
Nice one, this should definitely be possible with the current system we have.

[2017-09-10 12:52] CompuIves commented on #119
Yep, there has been a lot of progress on this. I released the new loader system ~10 days ago, so we are now able to very easily expand our existing templates with eg. ReasonML.

The remaining tasks for ReasonML support are:

1. Create a loader for ReasonML files using BuckleScript
2. Build better support for Reason in the Monaco editor

Point 1 isn't a lot of work, but point 2 is pretty big. I'm n

[2017-09-10 18:37] rebornix commented on #119
The major differences between VSCode API and Monaco API are:

* VSCode API is declarative, Monaco one is more functional.
* VSCode extension runs in extension host, which is a node process. Monaco language services run in web worker.
* VSCode extensions are nodejs apps while Monaco extensions run in browser, so the language can only be JS/WASM.

I'll write a detailed guidance about how to convert

[2017-09-10 19:33] kenyk7 opened #194 "Add emmet support"

[2017-09-10 22:10] lbogdan commented on #194
There is already support for emmet in the (default) Monaco editor, you can access it with Ctrl+F10.
![](https://i.imgur.com/UjJY8BL.png)

[2017-09-10 22:20] lbogdan opened #195 "Back button active in the sandbox preview's navigator when first loading the sandbox"
The back button in the sandbox preview's navigator is active when first loading the sandbox:
![](https://i.imgur.com/emxNBwJ.png)
What's worse, though, is that if you press it, strange things happen. :smile:

[2017-09-10 22:56] kenyk7 commented on #194
You can change the keys to use the key tab :)

[2017-09-11 09:38] CompuIves commented on #194
Initially I tried binding it to the Tab character, but it overrode the existing behaviour (eg. autocomplete). Maybe there is a way to retain existing functionality and add emmet behind the Tab press, we need to look into this. Would be possible if we can call the functionality behind Tab manually.

[2017-09-11 09:54] viankakrisna commented on #194
Ctrl+E would be the alternative, at least on sublime

[2017-09-11 15:40] CompuIves commented on #119
That would be really helpful! Thanks a lot 😄

[2017-09-11 19:49] tansongyang commented on #174
I'm interested in working on this.

It seems like you could just use a `HEAD` request and then check the returned `Content-Type`. Example pseudocode:

[code]

Some questions:

1. Does calling code expect `addResource` to be synchronous?
2. Is there a standard way of doing resource fetching in this project?

[2017-09-11 22:08] CompuIves commented on #174
That's really great @tansongyang! Your proposal sounds great.

Answering the questions:

1. addResource can be asynchronous, everything in the sandbox itself is executed in an asynchronous manner
2. For the sandbox we don't have a standard way of fetching, mostly to keep the bundle size low. I'd use `window.fetch` to fetch the resource.

I think we should log the error using `console.error`, mostl

[2017-09-12 01:52] tansongyang commented on #174
@CompuIves OK. One possible issue with `fetch` is that it isn't supported in IE11. Are you OK with codesandbox not supporting IE11?

[2017-09-12 08:04] CompuIves commented on #174
@tansongyang No problem! We polyfill fetch, so it should also work on IE11.

[2017-09-12 08:05] lbogdan commented on #174
Maybe also check for javascript `Content-Type` and error otherwise?

[2017-09-12 08:38] CompuIves commented on #174
Sounds good, throwing an error is the best way. This way we can notify the
developer that a external resource isn't available.

On Tue, Sep 12, 2017, 10:05 lbogdan <notifications@github.com> wrote:

[2017-09-12 12:36] tansongyang commented on #174
Sounds good. I'll post here when I have a PR.

[2017-09-12 14:26] lbogdan commented on #119
Is there any ongoing effort to add vetur to codesandbox?

[2017-09-12 21:21] #195 closed

[2017-09-14 01:23] TheJaredWilcurt opened #199 "Meta Language support in .vue files"
https://vuejs.org/v2/guide/single-file-components.html

One feature of Vue is to allow for metalanguage support, such as:

* Markdown, Pug, HAML
* TypeScript, JSX, CoffeeScript
* Sass, SCSS, Less, Stylus

I should be able to write this and have it work:

[code]

[2017-09-14 06:32] CompuIves commented on #199
I believe this should already work for TypeScript, Sass, SCSS, Less and Stylus. Which language didn't work for you?

[2017-09-14 14:58] CompuIves commented on #199
Ahh, I understand what's happening. We only supported the `scss` syntax, let me write a fix for `sass`.

[2017-09-14 15:27] CompuIves commented on #199
Just deployed!

https://codesandbox.io/s/zq613qp63p?module=%2FApp.vue

[2017-09-14 16:38] kenyk7 commented on #194
For css or sass: Ctrl + F10  it works badly :(

[2017-09-14 19:57] TheJaredWilcurt commented on #199
This is the best day ever!

[2017-09-14 19:57] #199 closed

[2017-09-15 00:08] tcosentino commented on #76
Hi @CompuIves I have been a little busy so it took a while, but I ran into an issue with puppeteer running in google cloud functions (or other serverless environments: https://github.com/GoogleChrome/puppeteer/issues/726

Since it requires certain dependencies installed and you do not have control over that, it is not possible. Any thoughts on how you would like to proceed?

[2017-09-15 02:03] tansongyang commented on #174
Made PR. See the comments and commit messages for more details.

[2017-09-15 20:07] CompuIves commented on #76
Hmm okay, in that case we could maybe use Zeit Now for this service. They have dockerfile support.

[2017-09-19 10:36] CompuIves commented on #138
Fixed with https://github.com/CompuIves/codesandbox-client/commit/994bbcb92d60af17eb1403ad3c321dd94bddeadc

[2017-09-19 10:36] #138 closed

[2017-09-23 20:35] rebornix commented on #119
@lbogdan https://github.com/rebornix/monaco-vue ports Vetur to Monaco, which is used by codesandbox.

[2017-09-23 20:38] rebornix commented on #119
There is already a LSP for ocaml https://github.com/freebroccolo/ocaml-language-server , which is used by VSCode-Reason as well. Since it's written in TypeScript, so it can be ported to Monaco the same way as monaco-vue.

[2017-09-25 06:09] viankakrisna opened #204 "Integrate more with github"
@CompuIves this is a continuation of our discussion in twitter DMs :D Right now when you import a repo and edit the files, you create a forked version of that repo in CodeSandbox. It would be nice if we have `commit` and `PR` button.

So basically we follow the GitHub PR flow.

1. Import from GitHub
2. Edit
3. Save  => create a branch in the user GH account if not already, warns if the user leaves

[2017-09-25 15:00] mweststrate opened #205 "Exception when importing from github"
When going to this url:

https://codesandbox.io/s/github/mweststrate/react-next-2017-demo

I get his exception:

[code]

[2017-09-25 15:49] CompuIves commented on #205
Ah, I know the cause of this error. Expect a fix this evening! It's because
devDependencies or dependencies is undefined.

Thanks for reporting it☺️

On Mon, Sep 25, 2017, 17:00 Michel Weststrate <notifications@github.com>
wrote:

[2017-09-25 15:54] CompuIves commented on #205
Decided to tick off deployment from Schiphol from my bucketlist. Should be fixed now! (https://github.com/CompuIves/codesandbox-git-extractor/commit/56f48f0fbf417b0c2a1011b853347783c9900f3e)

[2017-09-25 15:54] #205 closed

[2017-09-26 12:43] Telokis opened #206 "Add a collaborative mode"
I think adding a collab feature similar to jsfiddle's one would be a nice thing.

I am currently trying to find a good sandbox to teach my friend how to use React and I would really love being able to do that on codesandbox.io!

[2017-09-26 14:12] CompuIves commented on #206
Ah, interesting. Realtime updates is a good feature to add, very useful in classroom scenarios as well.

Are both users able to edit in the collab mode of jsfiddle?

[2017-09-26 14:16] CompuIves commented on #204
Yaaah, this is a very wanted feature and also a very interesting one!

I like your flow, I'd suggest some adjustments though.

I think it would be very beneficial if CodeSandbox would get a `branches` or `snapshots` feature in general. Where you can have these of any sandbox. This way you can create a branch of a git sandbox, and still switch back to master/other branches. Then the branch could ha

[2017-09-26 14:42] Telokis commented on #206
Yes!

Both people are able to edit simultaneously. I can ever see my friend's mouse pointer moving in real time and there is a little bubble when he clicks somewhere.

You can see it quickly by looking at this link: https://jsfiddle.net/Telokis/syco2sfu/#&togetherjs=OOfThS7L0k

[2017-09-26 14:47] CompuIves commented on #206
Our transcript in the fiddle for 'documentation purposes' 😅

[code]

[2017-09-26 19:17] justinfagnani opened #207 "Can't seem to load pre-release versions of packages?"
I'm trying to create a sandbox that uses Polymer 3.0 preview, with the dependency `@polymer/polymer` at version `3.0.0-pre.1`. I don't see any errors from the dependency installation (maybe I don't know where to look?), but importing `@polymer/polymer` gives an error:

`Could not find dependency: '@polymer/polymer'`

I'm using the React template for lack of a better vanilla template.

Example sand

[2017-09-26 19:21] justinfagnani commented on #207
Same problem starting from the Vue template: https://codesandbox.io/s/m71717wol8

[2017-09-26 23:23] jsonnull opened #208 "Infer dependencies with new imports"
This is an idea I had for an enhancement. When there's a module import which is not yet a dependency, prompt the user to allow the dependency to be added automatically.

For instance, if I type this line into the default React sandbox:

```import { createStore } from 'redux'```

A dialog may appear which says something along the lines of "Unrecognized module `redux`. Would you like to add this to

[2017-09-27 00:08] viankakrisna commented on #204
Nice! It can act as a 'local' git branch. I can't say anything more because I'm not familiar with CSB backend etc.

For simplicity, I think we can just follow the GitHub flow at first, so this feature is only for the sandbox that is imported from GitHub.

1. >How do we allow multiple users to create branches on one git repo. Do they kind of 'clone' the repo so they are working on their GitHub vers

[2017-09-27 09:09] NikxDa opened #209 "Do Not Track warning on embed"
CodeSandbox doesn't seem to comply with the browsers DNT-settings, and Medium will prevent a direct embed:

![screen shot 2017-09-27 at 11 07 38](https://user-images.githubusercontent.com/3141005/30905134-3c7e4522-a374-11e7-9422-27edcea6a3bd.png)

The privacy policy however says:

Can this be fixed, or does this happen on purpose?

[2017-09-27 09:50] CompuIves commented on #209
Wow, I've never seen this before. We should definitely fix this. Which browser are you using @NikxDa?

[2017-09-27 09:57] CompuIves commented on #208
Hey! We do have the suggestion to install dependencies already when they're missing:

![screen shot 2017-09-27 at 11 55 58](https://user-images.githubusercontent.com/587016/30907446-eff9de44-a37a-11e7-9bac-800575d2e8cc.png)

Buuut, we only support this for 1 dependency at a time, would be really helpful if we could show 1 error message for all dependencies immediately. We do already have a list of

[2017-09-27 10:46] NikxDa commented on #209
I'm on macOS, and I use Chrome `Version 61.0.3163.100 (Official Build) (64-bit)` - should you need any help with this, feel free to contact me!

[2017-09-27 11:10] CompuIves commented on #18
Decided that this will not be done by the custom renderer, this functionality is global.

[2017-09-27 16:56] jsonnull commented on #208
Wow, I missed that somehow. Do you have to refresh the page to see the error? I only saw the error reported in devtools.

[2017-09-28 01:28] CompuIves commented on #208
Hmmm, then that must've been a bug! I've seen this before, need to investigate it.

[2017-09-28 23:03] jsonnull commented on #208
@CompuIves let me know if you are able to find steps to reproduce, I'm happy to send a PR with a fix.

[2017-09-29 09:39] CompuIves commented on #208
@jsonnull Just found how to reproduce it!

If you load a sandbox, you need to make an error before the sandbox has been loaded (eg. `throw new Error('awdaw')`). The error will throw before the react-error-overlay has been ejected which causes it to get in an inconsistent state (at least that's my theory). We inject the error overlay in `src/sandbox/compile.js`.

[2017-09-30 16:51] jsonnull commented on #208
I've tried and failed to get the error you found, but it's not happening for me.

This may be unrelated: when introducing a syntax error, the transpiler produces an error but there's a failure in the `ModuleError` class.

```Error.captureStackTrace is not a function```

It looks like this is what's used to report syntax errors by the transpiler but these just result in a white screen for me becaus

[2017-10-02 03:25] rebornix commented on #119
After digging into https://github.com/freebroccolo/ocaml-language-server for a while, this task turns out to a bit complex (whcih means it requires more than one day or two to finish) since https://github.com/freebroccolo/ocaml-language-server doesn't have an abstraction of Language Service which can be shared in both local env and browser. One good approach can be tweaking ocam lsp by https://git

[2017-10-02 03:59] rebornix commented on #125
I'd like to share more of my investigation with Vim in Monaco. The fastest way is always converting one existing Vim extension for VSCode to Monaco one. If you take a look at [VSCodeVim](https://github.com/VSCodeVim/Vim)'s code, you'll know that following changes need to be done when porting it to Monaco

* The core part of the Vim emulator should be *off VSCode*. For example, VSCodeVim defines al

[2017-10-02 13:13] CompuIves commented on #204
Wow, this is funny. I think I misread your reply last week because I just wanted to reply with a suggestion of the exact flow you described!

Very eager to build this, I'm already experimenting with the GitHub API for a bit. So to go into the details:

1. Open import GitHub Sandbox
2. Edit
3. Save => create forked sandbox
4. Show "Commit on GitHub" button, but we always have one flow(!)
    a. If

[2017-10-02 13:15] CompuIves commented on #204
Oh, just thought of this: we cannot allow the user to select an existing branch besides the branch the user has worked on. So the UI changes a bit: we show either existing branch, or the option to enter a new name (creation).

[2017-10-02 13:16] CompuIves commented on #204
Would be good to make this step by step process, don't overflow the user with choices. Ooooh I'm really eager to build this, will start some mockups today!

[2017-10-02 19:16] viankakrisna commented on #204
Hahaha, maybe the way I write it makes you misread it... English is haaaard.

I think selecting files to commit is too much, maybe follow the behavior of `git add --all && git commit -am "the commit message"` ?

Yup, so the option is only to commit in current branch (if in branch) or to create the commit in a new branch (give a text input to name it, maybe generate a name as default?).

Exactly! T

[2017-10-03 05:56] Tushkiz commented on #179
whoever looks into it, here is the link to the sandbox https://codesandbox.io/s/x7nxpw700z

[2017-10-03 07:52] alexvcasillas commented on #179
Oh, can't believe I forgot to put a link to the sandbox 😱
Thanks @Tushkiz !!

[2017-10-03 13:43] renanpvaz commented on #18
I'd like to help if possible. Do you already have an idea of how this should this be done? In which context should this console execute?

[2017-10-04 20:39] lbogdan commented on #18
@renanpvaz Do you want to take this? I already started playing with it, I only got some layout going, no functionality. Let me know, so we don't both work on the same feature. :smile:

[2017-10-04 21:04] renanpvaz commented on #18
@lbogdan oh don't mind me, if you've started it then keep it up.

[2017-10-05 04:11] alansouzati opened #217 "Internal routing capabilities"
Using this codesandbox as an example [https://codesandbox.io/s/r0wXp0Njw](https://codesandbox.io/s/r0wXp0Njw) it would be great to have a way that we can open the simulated browser in a specific page. For example: navigating to `https://codesandbox.io/s/r0wXp0Njw/about` would open the codesandbox in edit mode with that view. The closest I got was to use `https://r0wxp0njw.codesandbox.io/about` whi

[2017-10-05 04:14] alansouzati commented on #217
Also it would be great if we could open the view in a specific folder. I don't know how to do that in a clean way though 😢

Maybe something like?

`https://codesandbox.io/s/r0wXp0Njw/about?view=components/about.js`

[2017-10-05 04:15] alansouzati commented on #217
or keep the two arguments as a query param: `https://codesandbox.io/s/r0wXp0Njw?r=/about&v=components/about.js`

[2017-10-05 12:37] CompuIves commented on #217
Hey! I believe we support this already, though it's hidden away. If you open the Share modal in the header you can select these options, example:

https://codesandbox.io/s/r0wXp0Njw?initialpath=%2Fabout&module=%2Fcomponents%2FAbout.js

[2017-10-05 12:37] #217 closed

[2017-10-05 12:38] CompuIves opened #218 "IE11 Support"
I believe we are not transpiling a file, which causes IE11 to choke on an arrow expression. This should be an easy fix as soon as we find which files are not being transpiled.

[2017-10-05 23:47] #115 closed

[2017-10-06 05:36] jseminck commented on #218
It fails here:

The filename `extract-abbreviation.es.js` makes me think that this wasn't transpiled properly to ES5?

[code]

[2017-10-06 19:01] jsonnull commented on #218
[code]

[2017-10-06 19:35] CompuIves commented on #218
Hmm, we use the module for emmet support in CodeMirror. We can add a webpack config loader for this specific file for now, until we move over to Monaco.

[2017-10-06 23:51] tkrotoff commented on #111
Would be nice to list the TypeScript template on the front page

[2017-10-07 10:28] niieani opened #219 "Empty (non-framework) template for JavaScript and TypeScript"
Hey @CompuIves. Again, awesome work with CodeSandbox!

It would be great if we could have an empty (non-react/non-framework) templates for both plain JavaScript and TypeScript. I often just want to try out or share pure data-based JavaScript, like RxJS concepts and I don't need any visual representation for that, yet CodeSandbox is great for this use case too. Even better, perhaps the View part in

[2017-10-07 19:19] danielearwicker opened #220 "TypeScript errors on local module imports"
First - thank you for the TypeScript support, it's a wonderful thing.

One thing I noticed, which you may be able to see replicated here:

https://codesandbox.io/s/j40262x8zy

Certain module imports show an error `Cannot find module` with red underline. I have created ones called `model.ts`, `sierpinski.ts` and `Painter.tsx`. For some reason the import of `./model` in `index` is fine, but several

[2017-10-07 22:50] aarongarciah opened #221 "Add CONTRIBUTING.md"
Would be nice to have a CONTRIBUTING.md in this repository.

[2017-10-08 13:04] RIP21 opened #222 "Add possibility to change hotkeys keymap."
Hi @CompuIves
I here to propose a nice and very convenient change.
Since it uses VS Code editor, it also uses its default keymap. It's amazing for VS Code users. But for guys who are move from Webstorm, Sublime etc. is a little pain :)
Can you add an option to change keymap from the list of default ones like Sublime, Webstorm, Atom etc. (basically those which have such plugins in VS Code marketpla

[2017-10-08 15:09] tansongyang commented on #108
I'm interested in helping with this issue. I took a look at the code, and it seems like `src/sandbox/errors/dependency-not-found-error.js` and `src/sandbox/react-error-overlay/components/suggestions.js` are the relevant files.

A couple of questions:

1. Do you want to actually list every available version? Or do you want to just present a text input to let the user type the version in? The second

[2017-10-09 14:26] alansouzati commented on #217
Thank you!!! I will try this ;)

[2017-10-10 00:28] CompuIves commented on #108
Great @tansongyang!! I think best scenario would be to show list of all major semver versions (eg. React has `15.5.6` and `16.0.0` etc.).

The api is a documented in the docs folder (https://unpkg.com/codesandbox-api@0.0.6/dist/docs/index.html). The second argument can be a version, if it's omitted it will install latest version. You can give it any kind of version (`latest`, `^16.0.0`, etc.)

I r

[2017-10-10 01:03] CompuIves commented on #179
Just tested, this will be fixed with https://github.com/CompuIves/codesandbox-client/pull/225 :D

[2017-10-10 01:28] tansongyang commented on #108
OK. I want to clarify what "all major semver versions" means.

Let's say `package` has versions 0.0.1, 0.0.2, 0.1.0, 1.0.0, 1.0.1, 2.0.0, 2.1.0, 2.2.0. Would we only list 0.1.0, 1.0.1, and 2.2.0?

I will hold off on my other questions until after your PR.

[2017-10-10 04:05] malwilley opened #226 "Embed throws errors to console when editing or switching views"
This can be seen on the homepage or any direct link to an embed, [this one for example](https://codesandbox.io/embed/vue). While editing or switching views, it throws errors to the console:

![image](https://user-images.githubusercontent.com/10888943/31368191-270b5128-ad4a-11e7-8b1d-01cf690d0ded.png)

I poked around a bit and found that the CodeEditor component isn't being called with all the nece

[2017-10-10 07:43] alexvcasillas commented on #179
Awesome!! Wich was the bug causing this? I'm curious 🤔

[2017-10-10 09:55] CompuIves commented on #226
Thanks for reporting this! Your suggested solution is good, would be really great if you could open a PR for it. Man I'm really ashamed if how Flow is handled right now, it's a mess...

[2017-10-10 10:46] CompuIves commented on #179
Heh, I'm not really sure. I've rewritten the dependency handling and this seemed to work after that 😅 . I have a hunch that it could've been related to a cyclic dependency in styled-components, but not sure.

[2017-10-10 10:59] lbogdan commented on #110
With the new [sandbox history](https://github.com/CompuIves/codesandbox-client/pull/198) this should be doable.

[2017-10-10 11:22] alexvcasillas commented on #179
Haha!
It's awesome anyway that this is fully working ! Keep up with the awesome job you're doing with this project !!

[2017-10-10 11:22] #179 closed

[2017-10-10 15:07] lbogdan commented on #226
Maybe we should do a "fix flow" hackathon, as we did with "fix eslint"! (I have to admit I got a bit discouraged after fixing hundreds of eslint errors :smile:)

[2017-10-10 20:47] qm3ster opened #230 "Homepage crashes tab"
[codesandbox.io](//codesandbox.io) crashes the physical tab in seconds. There are also these in the console, not that they are remotely related to the crashing or anything:
[codesandbox.io-1507668111866.log](https://github.com/CompuIves/codesandbox-client/files/1373389/codesandbox.io-1507668111866.log)
To me this type of crash only ever happened when loading too much local files, at around 1.2GB.

[2017-10-11 11:25] michaellee8 opened #231 "400 Server error when importing from github"
Basically I navigated to https://codesandbox.io/s/github and gave it my repo here https://github.com/michaellee8/tkpss-table-tennis-club , clicked opening sandbox and it gives me 400 internal error

[2017-10-11 15:31] CompuIves commented on #231
Hey! Thank you very much for sending this, I just fixed another bug with it 😄 . I checked what the error could be and found that there are too many dependencies in the project (we set a limit of 20 for non-patrons).

The solution would be to move some dependencies which you don't need during in the browser bundle to `devDependencies`, so your package.json would look like this:

[code]

Then it sho

[2017-10-11 17:09] CompuIves commented on #230
This is big, thanks for the headsup. I'm lowering the embed count for the homepage to make it manageable.

[2017-10-11 17:13] ritz078 commented on #108
I would rather prefer an autosuggest input box with all the versions available and sorted with latest version at the top.

[2017-10-11 23:32] Hum4n01d commented on #18
+1 Yes please!

[2017-10-12 08:25] brumm commented on #50
Prior work:
https://jsbin.com/blog/protection
https://github.com/jsbin/loop-protect

[2017-10-12 10:52] CompuIves commented on #50
Ah interesting! Just checked loop-protect and they've done a really great job, cool solution. Would be cool if we had something similar but then that it alters the AST, like a babel plugin. This is what I quickly found: https://www.npmjs.com/package/babel-plugin-looptar but I believe repl.it also has a plugin to solve this.

[2017-10-12 10:55] CompuIves commented on #108
Hmm, I think that would be best as well. Though the error layout is currently behind an API with suggestions, this way others can easily add suggestions as well. Suggestions only support buttons currently, not inputs. So we could either expand the current API or use buttons.

[2017-10-12 11:36] maple3142 opened #233 "Path must be a string. Received undefined"
I'm trying to import `https://github.com/maple3142/WynnStats/tree/master` then it convert to `https://codesandbox.io/s/github/maple3142/WynnStats/tree/master`

But it always show **Path must be a string. Received undefined**, when I try other path

[2017-10-12 11:46] CompuIves commented on #233
Thanks for sending this in @maple3142. Just deployed a fix for this case.

[2017-10-12 11:46] #233 closed

[2017-10-12 11:49] brumm opened #234 "set prettier printWidth based on editor window width"
Hey,

I was demoing codesandbox to a coworker and ran into some space issues when having devtools window open. Actual editor width was fairly small, and led to some horizontal scrolling.
I realized I could use prettier's main input options `printWidth` to reformat code based on window width.

Here's a proof of concept:
https://i.imgur.com/tAjjJ19.mp4

Now, this should probably be opt-in, and also

[2017-10-12 11:57] wmhilton commented on #204
:grinning: This is perfect, exactly what I was thinking too!

[2017-10-12 12:24] Tushkiz commented on #221
@CompuIves @lbogdan I will create an initial draft and raise a PR out of it.

[2017-10-12 12:30] tansongyang commented on #108
Here's an alternative I just thought of. What if, when the user clicks the current add button, Codesandbox expands the left menu, fills out the name of the package, and puts your focus on the version input. From here, you can easily type your desired version, or just tab to the "Add Package" button.

Pros

* We can leverage the existing control.
* We don't have to change the existing suggestions A

[2017-10-12 12:45] CompuIves commented on #108
I like your suggested solution, I'm working on autocompleting dependencies and versions there, so you get that for free too. In that case I'd suggest to show 2 suggestions: 'add latest version of dependency' and 'add custom version'.

Hmm, now that I think of it... Maybe we could rework dep adding in general. I'm thinking that we should make 'Add Dependency' just a button, and show an input overla

[2017-10-12 12:49] CompuIves commented on #108
I mean this with overlay:

![screen shot 2017-10-12 at 14 48 37](https://user-images.githubusercontent.com/587016/31496636-7bc1d2b4-af5c-11e7-9f9d-ef7989ecbd07.png)

This allows us to easily show dropdown autocompletions with dependency names/descriptions/download counts.

[2017-10-12 12:50] CompuIves commented on #221
That's great @Tushkiz, I see that this is very important.

[2017-10-12 12:51] CompuIves commented on #234
This is really cool, maybe we could add this as option in Prettier settings? Change the printWidth option to allow for 'auto'?

[2017-10-12 12:59] #230 closed

[2017-10-12 13:01] CompuIves commented on #219
A vanilla template sounds very appealing! The big question is what we should include in this template in terms of webpack loaders, maybe we should just add everything and turn them on dynamically, but I don't want this template to be a catch-all template...

This is some tricky situation, would love to discuss this more.

Regarding the console, we have support for it very 🔜  thanks to the work of

[2017-10-12 13:13] niieani commented on #219
Hmm, I propose to have these two rows of big button choices when creating a new sandbox.

Select your framework:
- react (default)
- preact
- ... (whatever other framework)
- empty project

Select your language/transpiler:
- JavaScript + Babel (default)
- TypeScript
- Reason
- ... (whatever other transpiler)

And lastly, you'd have a tick box/button:
- Customize

and that last option would allow o

[2017-10-12 13:15] tansongyang commented on #108
I like this idea as well. I don't know Algolia, but some preliminary searching reveals [algolia/npm-search](https://github.com/algolia/npm-search), which seems like it could be useful.

[2017-10-12 13:24] CompuIves commented on #108
Yah, they provide the search for yarnpkg.com and we use them for codesandbox.io/search. They already gave me they API codes to use the yarn search, so we could actually already start implementing it 😄 .

[2017-10-12 13:26] CompuIves commented on #219
Ooooh I like this! Will think some more about this.

[2017-10-12 13:43] CompuIves opened #236 "Companies using CodeSandbox"
Does your company use CodeSandbox? Respond here if you do!

Something along the lines of:

Company name:
What you use it for:
Would you want to be featured on the homepage:

[2017-10-12 14:40] brumm commented on #234
That's neat, and would allow us to ignore resetting the previous value.

[2017-10-12 17:11] Xananax commented on #236
We teach full stack web dev in a coding bootcamp called [Codi](http://codi.tech). We use CodeSandbox daily to prototype things, show examples, start little projects that the students can then copy and improve on, and maybe more importantly allow students to develop applications without having to worry about setting up a webpack toolchain.

We don't yet use it this way, but I think it's also a grea

[2017-10-13 10:44] kanoshin opened #241 "Infinite loop protection"
Recently I was running interview of React Frontend Engineer with help of codesanbox and Skype screen share. Accidently the guy wrote infinite loop and Chrome tab became unresponsive. Also candidate was not saving his edits during the interview, so we lost everything.

We tried to open Chrome Dev Tools to stop scripts execution, but it didn't help to copy existing code to different place because ta

[2017-10-13 10:48] kanoshin commented on #206
Could be super-super useful to run interviews with remote developers. Currently we are using Hackerrank Codepair for it, but it doesn't support React.

[2017-10-13 11:12] CompuIves commented on #241
This is a serious issue, we need to detect endless loops and give the option to stop them. I already opened an issue for it here: https://github.com/CompuIves/codesandbox-client/issues/50. I'll give this more priority now, see if I can find a fix today.

[2017-10-13 11:12] #241 closed

[2017-10-13 11:14] CompuIves commented on #50
Just found this https://repl.it/site/blog/infinite-loops, interesting as they are using a babel plugin as well.

[2017-10-13 12:18] CompuIves commented on #221
Done, thanks @Tushkiz!

[2017-10-13 12:18] #221 closed

[2017-10-13 13:01] tansongyang commented on #108
Sounds good. I plan to start on it this weekend.

[2017-10-14 03:38] maple3142 opened #244 "Internal server error when trying to import from GitHub"
[https://codesandbox.io/s/github/maple3142/WynnStats/](https://codesandbox.io/s/github/maple3142/WynnStats/)
[https://codesandbox.io/api/v1/sandboxes/github/maple3142/WynnStats/](https://codesandbox.io/api/v1/sandboxes/github/maple3142/WynnStats/)
I still cannot import my project

[2017-10-15 16:32] ValentinH commented on #83
This issue still exists:
![image](https://user-images.githubusercontent.com/2678610/31586828-2ca84df2-b1d7-11e7-8ced-15629a477122.png)

I'll submit a PR now.

[2017-10-16 07:41] #226 closed

[2017-10-16 07:41] #231 closed

[2017-10-16 07:43] CompuIves commented on #244
I'll check this out later today, we need to propagate more clear errors to the user.

[2017-10-16 07:44] michaellee8 commented on #231
Hey, isn't babel preset is required in dependencies

[2017-10-16 08:08] CompuIves commented on #231
It's required for build tooling, that's why it should live in `devDependencies`. All dependencies that are sent to the browser live in `dependencies`.

[2017-10-16 08:27] michaellee8 commented on #231
I just copied and pasted what you said, but the problem is still here.
https://codesandbox.io/s/github/michaellee8/tkpss-table-tennis-club

[2017-10-16 10:46] CompuIves commented on #218
Fixed!

[2017-10-16 10:46] #218 closed

[2017-10-16 10:46] CompuIves commented on #164
Put this behind an environment flag 😄

[2017-10-16 10:46] #164 closed

[2017-10-16 10:46] CompuIves commented on #168
This one has been fixed.

[2017-10-16 10:46] #168 closed

[2017-10-16 10:48] CompuIves commented on #184
Thanks to @lbogdan this becomes possible now!

[2017-10-16 10:49] CompuIves commented on #91
Has been fixed!

[2017-10-16 10:49] #91 closed

[2017-10-16 16:15] artivilla opened #247 "Error fetching data the sandbox via Github Import: No dependencies in package.json"
Ref Repo: https://github.com/ianstormtaylor/is-hotkey

<img width="743" alt="screen shot 2017-10-16 at 12 05 29 pm" src="https://user-images.githubusercontent.com/2120159/31622801-67129c92-b26b-11e7-8ff6-89f0bf7c6197.png">

[2017-10-16 16:23] artivilla opened #248 "Lerna Support"
I think this is going a little out of scope for now, but for future reference, would love if this can support [lerna](https://github.com/lerna/lerna) since a lot of private larger repos are maintained this way.

Ref Repo: https://github.com/babel/babel
Error Message: The project should include a src folder. Network header tab shows `Status Code:422  (from ServiceWorker)` for req URL `https://codes

[2017-10-16 19:28] Kronuz opened #249 "Development versions of React"
Is it possible to have development versions of React available (as to see warnings and validations React do during development)?

[2017-10-16 22:32] jfsiii opened #250 "DependencyNotFoundError for installed dependency"
https://codesandbox.io/s/3r5jz2n8pm shows

[code]

even though `react-map-gl` is installed. I've tried re-installing, refreshing and everything else I can think of, but it still fails.

FWIW, this same code fails (with a different error) on stackblitz.com. I opened an issue there https://github.com/stackblitz/core/issues/173 and [apparently](https://github.com/stackblitz/core/issues/173#issuecomme

[2017-10-16 22:44] EricSimons commented on #250
Wow, I'm actually surprised that the server-side bundler CSB is using didn't actually fix this either. That must be one gnarly package. As I mentioned in the issue on the SB repo, you might wanna run the create-react-app template on Glitch for the time being and see if it works there: https://glitch.com/edit/#!/create-react-app-sample

[2017-10-16 23:13] CompuIves commented on #250
Indeed very interesting! Seems like Webpack has trouble resolving the file in that case as well. I'm curious if our new packager is capable of loading the package, I'm not at my MacBook right now but I'll tell tomorrow!

[2017-10-17 00:25] EricSimons commented on #250
@CompuIves I actually just tried and it didn't work (different errors coming back than the webpack bundler though). Did some additional digging on the StackBlitz end & it looks like the culprit package is really https://github.com/browserify/webworkify; there's some pretty intense stuff going on in there 😓

[2017-10-17 07:27] artivilla commented on #23
Happy to help here. Not sure which direction @CompuIves wants to take this -- as a separate window which is odd to me or part of the react dev tools plugin. There are also several places where `react-dom` is initialized so not sure where I'd place the block `if (window.parent !== window) {` mentioned in  https://github.com/facebook/react-devtools/issues/76.

[2017-10-19 19:57] CompuIves commented on #249
I believe our packager already generates dev bundles of dependencies. But maybe there's some setting missing, are you not seeing dev messages?

[2017-10-19 19:58] CompuIves commented on #248
Good one, I'll keep it in the issue list so we can take a look on it in a later stage. Thanks for the feature request!

[2017-10-19 21:17] artivilla commented on #248
@CompuIves watched your Zeit talk which is where I heard about codesandbox. Love the enthusiasm!! Thanks for this work.

[2017-10-19 22:25] alansouzati commented on #244
I'm facing the exact same issue with `path is not defined`.

Here is my repo: https://github.com/alansouzati/test-codesandbox

It has the exact same structure/api as a `create-react-app`. I've added npm scripts that matches their api: `npm run start`, `npm run build`. The webpack dev server runs in the same port.

The reason I'm not using create-react-app is that I wanted to add a simple babel plu

[2017-10-19 22:51] CompuIves commented on #248
That's great! Love to hear that you liked it 😄 .

[2017-10-20 17:19] alansouzati commented on #244
this issue seems to be fixed now!

[2017-10-20 21:50] gjactat commented on #50
Hello,
Maybe just being able to download the broken sandbox from the "Sandboxes" page could be an easy first step. From this point, one can fix the latest lines of code (the ones that broke the whole thing) and start a new sandbox whith that fixed code.
Or just being able to open a sandbox without any preview (just the editor, to fix things).

[2017-10-22 15:15] CompuIves commented on #247
This one got fixed 😄

[2017-10-22 15:15] #247 closed

[2017-10-25 02:51] Hum4n01d opened #256 "Export to GitHub"
It would be very useful to be able to export directly to GitHub from CodeSandbox.

On a side note, thank you so much for CodeSandbox. It is such an **amazing** app and makes React development from the web so much easier.

[2017-10-25 05:51] bakednevada opened #257 "Add the GPL notice to the LICENSE file"
Github doesn't recognize the project as GPLv3.  It unfortunately looks for specific text in LICENSE files.  The example in the "How to Apply These Terms to Your New Programs" section of http://www.gnu.org/licenses/gpl-3.0.html should suffice:

[code]

[2017-10-25 11:19] viankakrisna opened #258 "Search in all sandbox files"
Will help to debug this sandbox https://codesandbox.io/s/52pqxnprp4.

I think we can add a search icon in folders and open a modal to search/replace for text

[2017-10-25 22:59] Xananax commented on #220
Same for me, even on a freshly created project

![image](https://user-images.githubusercontent.com/836082/32027365-487734d6-b9f1-11e7-92fd-7531b0c8f43e.png)

[2017-10-26 06:40] varenya commented on #18
is someone still working on this? If any help needed would love to contribute :)

[2017-10-26 08:47] lbogdan commented on #18
@varenya You can find the work so far here https://github.com/lbogdan/codesandbox-client/tree/feature/preview-console, if you want to take a look.

[2017-10-26 08:49] varenya commented on #18
sure thanks, should I fork this branch repo to contribute? is any help needed :)?

[2017-10-26 09:05] CompuIves commented on #18
Ooh, I hope nothing bad! @lbogdan built an implementation, I need to check
it out. I've been a bit busy as well, but I'm going to check and work on it
tomorrow 😃

On Thu, Oct 26, 2017, 10:53 lbogdan <notifications@github.com> wrote:

[2017-10-26 09:45] varenya commented on #18
@lbogdan you have used react-console here and it looks to be working what else is pending here?
@CompuIves any inputs let me know I can help.

[2017-10-26 10:24] CompuIves commented on #18
Great to hear that it works! There are 2 things pending (I think):

1. Bit of styling, I want to play with this a bit
2. Right now the console executes code in the editor environment. I think
we should execute it in the sandbox environment so you can inspect eg.
window vars. So we should send a postMessage to the sandbox, execute it
there and postMessage back to the console what to show. Are you i

[2017-10-26 10:28] varenya commented on #18
No, I just checked he's doing it in Preview/index.js, basically what you just said postMessage and then switching based on the type and logging it on the react-console.

[2017-10-26 10:33] CompuIves commented on #18
Oh that's great!! Didn't know @lbogdan already finished that. Then the only
thing left is styling really, I'll can finish that tomorrow then.

On Thu, Oct 26, 2017, 12:28 Varenya Thyagaraj <notifications@github.com>
wrote:

[2017-10-26 10:50] lbogdan commented on #18
@CompuIves I didn't, the evaluation part is not done yet. For this we should also change `react-console`, which is currently doing the evaluation internally. So **2.** is still pending.

[2017-10-26 11:07] varenya commented on #18
@lbogdan what do you mean by eval? but the flow is as @CompuIves mentioned right i.e. postMessage etc..

[2017-10-26 11:36] lbogdan commented on #18
I mean when you write something in the console and it evals and displays it:
![](https://i.imgur.com/GRbaM6X.png)
In this example, it should evaluate it in the sandbox preview context and show `href: "http://localhost:3001/"`.

[2017-10-26 14:43] varenya commented on #18
hmm understood but any ideas how to go abt it?

[2017-10-26 14:50] Hum4n01d commented on #18
You could look at the applicable JSBin code; they do it quite nicely

[2017-10-26 14:54] varenya commented on #18
yeah, but they don't need to maintain preview context like in this case. And they are not using iframes either. let me see thanks for your inputs.

[2017-10-27 05:06] varenya commented on #18
Can somebody help me with high-level overview of the project as in how parts are connected so that I can hack on it faster?

[2017-10-27 17:08] ksmth opened #260 "Cursor keys not working on iPad"
I just tried navigating the code with the cursor keys with my attached Logitech Slim Combo keyboard and they plain don’t work. All other fields respond correctly (say, the description, etc.), but the editor ignores them.

[2017-10-27 23:15] alsuren commented on #206
I would be interested in helping out with this. I'm going to have a look around over the weekend to see whether there are any other open source editors that do collaborative editing already, but I like how codesandbox can do offline compilation (with a bit of webrtc magic, you might even be able to support local collaboration in countries with poor internet). I will also ask around at the mozilla

[2017-10-28 09:31] alsuren commented on #206
After a bit of research, I found that jsfiddle and kodeweave and a bunch of others are now using https://togetherjs.com/ . I expect this may be the way to go.

[2017-10-28 12:25] CompuIves commented on #206
Wow, what @alsuren sent is *really* interesting. I've investigated both and they both seem solid choices, togetherjs looks more plug 'n play though.

I tried togetherjs by just adding the script tag to the bundle, and it worked! I had this overlay and could see the cursor of others. I noticed some issues though. Togetherjs propagates clicks and keyboard events, but this doesn't work if one of the

[2017-10-28 12:28] CompuIves commented on #260
Ah, good one @ksmth. I think this could be related to the Monaco editor not working with touch screen devices.

What happens if you use CodeMirror instead? (Preferences -> Code Editor -> Use CodeMirror)

[2017-10-28 12:30] CompuIves commented on #258
Wow, that sandbox is beautiful!

I think I want to implement a search similar to vscode, with a sidebar with buttons. That would be very powerful, but maybe overkill? It's the most clear solution.

[2017-10-28 12:36] CompuIves commented on #257
Thanks! Changed it, but it seems like GitHub still can't infer the license 🤔

[2017-10-28 14:09] ksmth commented on #260
Hey @compulves! Thanks for the tip, I’ll try it when I get a chance. You’re right in that it is related to the monaco  editor. I can’t find it right now, but there is an open issue and the repository mentioning that the iPad external keyboard isn’t working, the reason being that mobile Safari doesn’t trigger the right keyboard events, it’s only triggering selection change events.

 I’ll report bac

[2017-10-28 14:40] christianalfoni commented on #206
TogetherJS does seems pretty amazing and a quick prototype would be interesting. But there is an other mode than "collabarative" that would be very good for Codesandbox and that would be "teaching". When we manually control the shared state of the application it is possible to give a "teacher <-> students" environment, where the teacher controls who can control the sandbox, and lock any interactio

[2017-10-28 15:05] bakednevada commented on #257
Hmm I wonder i the entire license needs to be included.  https://github.com/andrewngu/sound-redux/blob/master/LICENSE from a project GitHub recognizes as GPL v3

[2017-10-28 17:44] ksmth commented on #260
Yes, it is fixed by using CodeMirror instead, I’ve just checked it out and it works like a charm. ☺️

[2017-10-28 17:44] #260 closed

[2017-10-28 20:02] CompuIves commented on #260
Great! Then I'll add a check to check for mobile safari and enable CodeMirror by default for mobile safari.

[2017-10-28 22:47] oliviertassinari opened #263 "Prefill from a POST request"
I'm looking into building a `Edit in codesandbox` button for the documentation examples of Material-UI.

Do you have, or plan to support something similar to: https://blog.codepen.io/documentation/api/prefill/?

Thanks.

[2017-10-29 14:01] alsuren commented on #206
Some thoughts after talking to one of the thimble engineers ( @gideonthomas I think ) at mozilla festival:

Their tracking label for the collaboration issue is https://github.com/mozilla/thimble.mozilla.org/issues?q=is%3Aopen+is%3Aissue+label%3ACollaboration+sort%3Aupdated-desc

To summarize what he said (this is now 3rd hand so I might have something wrong):
* They've got a GSoC student working o

[2017-10-30 07:03] viankakrisna commented on #204
recently came across https://github.com/wmhilton/isomorphic-git, could it be possible to implement git terminal in CodeSandbox? :grinning:

[2017-10-30 16:39] alsuren commented on #206
After looking around for far too long, it seems like there are a number of different approaches. Operational Transforms and CRDTs are the main players.

(Side-note about read-only monaco panes: monaco has a readOnly bool that you can pass in, but doesn't have a way to say "yeah, but let any edits from the synchronisation library" as far as I can tell. I suspect that it would be possible to impleme

[2017-10-30 21:11] CompuIves commented on #206
Wow, @alsuren this is reaaally great!!! Thanks for such a clear summary and verdict. This really helps.

From your summary I think that we should go with AutoMerge in the future, and build a version now that lets 1 person edit the sandbox while others watch. I think that that already covers 70% of the use cases and in that case we can work on a simple implementation, then later move on to Automerg

[2017-10-30 21:23] CompuIves commented on #263
Hey @oliviertassinari. I love Material-UI, would be really cool to have the examples on CodeSandbox!

Define sounds like a great feature, I can try to implement something like it tomorrow. The main challenge will be persistability. I want to make it possible to persist the sandbox for different views, so that you keep all views etc on the same example sandbox. This will make it easier for users to

[2017-10-30 21:24] CompuIves commented on #256
Thanks @Hum4n01d! 😄 .

I'm working on it currently, using this issue as reference: https://github.com/CompuIves/codesandbox-client/issues/204. I'll close this one so we can move the discussion to there.

[2017-10-30 21:24] #256 closed

[2017-10-30 21:25] CompuIves commented on #220
Thanks for reporting this! I'm getting the same. I think we need to refresh all Monaco models after loading once to give them full context. I'll make sure to check it this week.

[2017-10-30 21:27] Hum4n01d commented on #204
Looking forward to this :) It would really help the github + react workflow

[2017-10-30 21:29] oliviertassinari commented on #263
After the issue template requirement, you gonna have https://github.com/callemall/material-ui/pull/8851 in the next release :).

I wish I could give you more benchmark to look into. I have discovered codepen API by looking at vuetifyjs. plnkr.co must have something similar given material angular@2 has the same feature.

[2017-10-30 21:29] CompuIves commented on #204
@viankakrisna isomorphic-git is great! Did some talking with @wmhilton, but the logic we implement (eg. GitHub PR) is pretty specific. That's why we thought we could better use the API for this.

Small update! I started working on this, I can now see the file differences between a sandbox and a repo. Now on to making the commit, then UI.

[2017-10-30 21:31] CompuIves commented on #18
I just deployed the new console with this https://github.com/CompuIves/codesandbox-client/pull/266.

I'm sorry for the silence @varenya, I already started working on the styling and thought that it would be quicker to quickly move the eval to the sandbox with it. I hope I'm not discouraging you from any further contributions to CodeSandbox. You can join our Discord (https://discord.gg/KE3TbEZ) if

[2017-10-30 21:31] #18 closed

[2017-10-30 21:32] CompuIves commented on #249
With the new packager we always use development. Closing 😄

[2017-10-30 21:32] #249 closed

[2017-10-30 21:32] Hum4n01d commented on #18
I just noticed this! Great job on the console @CompuIves

[2017-10-30 21:32] Hum4n01d commented on #18
It's really nice to have the errors printed out there since the computer I'm currently using doesn't have access to the dev tools :(

[2017-10-30 21:36] Hum4n01d commented on #176
This will be great; it's a bit frustrating to have to click on *Seach for a Sandbox*, my username, profile, *then* find the sandbox I'm looking for. My current solution is to use a bookmark to my profile and go from there.

[2017-10-31 03:54] donysukardi commented on #126
@CompuIves perhaps we should add a setting to enable it regardless (with some warning message). We shouldn't punish macOS users :grin:

[2017-10-31 07:19] christianalfoni commented on #206
@CompuIves There is another alternative for collaboration. When you first have the websocket communication that is pretty straight forward you can add a synchronization layer to it. Basically this is what happens:

1. An operation is performed at a client. A message is past to server with identity of user running it
2. Server timestamps the operation and sends it to everyone, including the origina

[2017-10-31 10:20] CompuIves commented on #206
@christianalfoni I agree, that approach sounds really solid.

[2017-10-31 10:24] CompuIves commented on #126
You're right @donysukardi. We could detect if the browser is Windows and hide the preference for them in the meantime. Would you be interested in opening a PR for this?

[2017-10-31 11:08] alsuren commented on #206
@christianalfoni in step 4 rather than reverting your own action when an out of order one comes in, the idea behind OT is to transform the out of order event into one that is equivalent to reverting and reapplying your own event. Whichever way around you do it, you need to transform either your event or the event that just came in, and avoiding the revert/reapply of your local event makes everythi

[2017-10-31 12:19] CompuIves commented on #263
That's great!! Nice!

I have an idea. I saw that you were hosting the examples as files on GitHub, maybe we can extend our GitHub integration for single file support.

For example, then you could point to a file (eg. codesandbox.io/s/github/callemall/material-ui/blob/v1-beta/docs/src/pages/demos/buttons/FlatButtons.js) and we'd infer the project settings from the nearest package.json up the tree.

[2017-10-31 12:25] oliviertassinari commented on #263
@CompuIves I can only see one problem with your suggestion. What about `ReactDOM.render`? How is going to render the component?

[2017-10-31 14:13] wmhilton commented on #204
@viankakrisna It would! I talked with @CompuIves about possible integrations. Where isomorphic-git really shines right now is in offline support and creating commits. (It's probably the only JS library for that can validate and create PGP-signed commits.) It has a decent "git log" mechanism. However it's pretty heavy in terms of memory and IndexedDB usage. (IDB is *really* slow at writes for some

[2017-10-31 14:14] #178 closed

[2017-10-31 14:27] CompuIves commented on #263
Ahh good one, I remember from the early days that we'd render the component regardless. We don't do that anymore though, hmmmmm. I need to think on this some more.

I could create a `/define` endpoint that creates a temporary sandbox that gets deleted after 24h, that would be the most trivial implementation. Though I first want to check if it'd be possible to do the GitHub approach.

We're 🔜  anno

[2017-10-31 16:40] christianalfoni commented on #206
@alsuren Thanks for the input here! I am not familiar with the transforming of the event, sounds interesting! Though at the same time that seems very complicated? If we use DOM updates as analogy I think of OT as handling the specific event and update the respective DOM content... the approach I listed is more like templating. You just render everything again with updates state. Simpler, though no

[2017-10-31 17:18] viankakrisna commented on #204
@wmhilton I see. So actually, it can be implemented regardless 😁

hurray!

[2017-10-31 17:27] viankakrisna opened #270 "Support publishing sandbox as npm package"
maybe it's better to work on this after https://github.com/CompuIves/codesandbox-client/issues/204

It would be nice if we can publish current sandbox as npm packages, so we can do package maintenance without ever cloning it locally. 😁

[2017-10-31 18:12] Hum4n01d commented on #176
I could add a link to the user's profile on the homepage, should I do this? Maybe an embed of your most recent project? (This would obviously be temporary but I think it's worth it)

[2017-11-01 00:57] wmhilton commented on #204
I started on a CacheStorage backend today. I hate being the bottleneck in the way of progress, and once I said out loud "wait until I make BrowserFS faster" I realized, "whoops I better actually do that then". Currently all the tests are failing but I'll post an update when I've got the new backend working with isomorphic-git.

[2017-11-01 01:06] wmhilton commented on #270
How dare you publish something to npm without unit tests! :grin: Or wait... it's been a few days since I played in the CodeSandbox, it probably has test runners built in by now. :P

On a more serious note, I think this is something that should be carefully added at the starter template level. That way you could define and follow best practices for publishing React/Vue/etc components. And so that i

[2017-11-01 11:58] donysukardi opened #271 "Line Height setting not getting persisted"
The lineHeight setting is getting persisted to localStorage as undefined instead due to missing key.
PR coming up!

Might be related to https://github.com/CompuIves/codesandbox-client/issues/87

[2017-11-01 14:35] CompuIves commented on #270
This is pretty funny, CodeSandbox was initially built for exactly this purpose. Create components and share them with others so you can easily build projects together. I still have the code lying around that publishes a sandbox to our own npm registry (even with the UI code for it!), so we're not that far from that feature as you thought 😉 . It's just disabled currently.

I've done some thinking o

[2017-11-01 14:41] CompuIves commented on #204
This is **great** @wmhilton! Keep us posted 😄 .

[2017-11-01 14:41] donysukardi commented on #126
@CompuIves I uncommented your code and tested it on Windows VM, both on Chrome and Edge. It seems that it's only not getting it the first time round. When I adjust the font size, the display would then be correct.

After that if I reload the browser, the display is fine. It's still usable after all.
Here's the screenshot of it running on Edge, with my patched version of Operator Mono and ligatures

[2017-11-01 14:42] CompuIves commented on #126
Hmm, interesting. Before this it persisted between refreshes. What happens when you change the line height?

[2017-11-01 14:45] CompuIves commented on #176
I started working on this a couple days ago @Hum4n01d. I'm planning to finish it by next week, so I don't think it would be worth the trouble 🙂 .

[2017-11-01 14:47] CompuIves commented on #220
This was a nasty bug, took me a while to figure out what it was 😅 .

So Monaco drops definition of files if they aren't touched for a while, this means that you cannot find the module anymore. The temporary solution is to add the files as dependencies and update them as soon as you switch from files. I'm going to deploy it now.

[2017-11-01 14:47] #220 closed

[2017-11-01 14:57] donysukardi commented on #126
I made two very interesting observations. These happen on Windows Chrome.

1. When I type in the line height field, for the first value(e.g. 1.5) the editor's line height resets to 1 and then when I enter another value (e.g. 1.7), it uses the previous one (which is 1.5).

![typing](https://user-images.githubusercontent.com/410792/32280562-46e20cde-bf57-11e7-8522-2cd90ad464e2.gif)

2. It seems to b

[2017-11-01 15:05] Hum4n01d commented on #176
Ok, great! Great work on the console btw

[2017-11-01 15:43] donysukardi commented on #126
Okay, apparently the same issue as issue 1 above happens when I just change the font size on Mac Chrome by typing into the field.

![image](https://user-images.githubusercontent.com/410792/32282983-154f8424-bf5e-11e7-94ae-b8d11082ceb4.png)

It might not have to do with Monaco after all. I'll try delving into the code :)

[2017-11-01 21:52] CompuIves opened #274 "Performance issues in editor"
I've been pulling my hair out with this. On my Macbook Pro 13" the editor is much slower than the embed:

https://codesandbox.io/s/new
https://codesandbox.io/embed/new

For me the embed is twice as fast.

I want to know if others experience the same, and if anyone knows what the editor does to make it so slow. This is frustrating!

[2017-11-01 22:21] kvklink commented on #274
Looking at the Chrome performance tool, /embed/new takes ~3500ms and /s/new takes ~3700ms on Linux.
How relatively small the difference may be, it's definitely there. What kind of loading times are you having?

[2017-11-02 03:27] wmhilton commented on #270
I wish that npm had made that distinction. 😢 Drives me nuts the way it mixes libraries with applications.

That's really cool. I like the idea, and I'm even OK with CodeSandbox being a separate registry... just think through the namespacing thing carefully. I'm optimistic that once `import` is set in stone we'll see a lot more of `require("https://full-path.to/a/module")` or some kind of official

[2017-11-02 06:11] chakrihacker opened #275 "Add chat on discord in navigation menu"
I am thinking to add chat on discord link in navigation bar, so users can come to discord and discuss about issues. I am also thinking to remove feed back button and replace with chat on discord. This may increase user engagement. please throw your thoughts @CompuIves , @lbogdan

[2017-11-02 09:48] CompuIves commented on #275
I agree, the feedback button is a lot of manual work for me and it's starting to get cumbersome. Would be good to replace it with something like Discord.

[2017-11-02 19:43] taylorham opened #277 "[Editor] Prettify and Save buttons - browser inconsistencies"
First off: I'm a big fan. I've wanted to create something like CodeSandbox ever since I started working with React, and you (and the community) have done a *stellar* job putting this together and adding features I didn't even think were possible.

Thank you **_so much_** for building this and keeping it open source. I hope to give back somehow!

On to my issue...

---

### IN CHROME:
The blue butt

[2017-11-03 09:25] viankakrisna commented on #270
@CompuIves nice! This would be really cool when #204 done. @wmhilton idea to run unit test in codesandbox is also cool, is it possible?

Would it also be accessible via npm? eg `@codesandbox-username/library-name`. I think creating a separate registry for codesandbox wouldn't be nice for downloaded projects CMIIW

[2017-11-03 20:56] goodmind opened #278 "Support github dependencies in npm"
How would I install dependency from github, npm supports this, but I can't do this in codesandbox

[2017-11-04 15:41] ValentinH opened #279 "Share options popup partly masked when sidebar collapsed"
When the sidebar is collapsed, the share options popup is partly masked:
![image](https://user-images.githubusercontent.com/2678610/32406780-e8d99862-c17e-11e7-93d9-b10b2f22346c.png)

[2017-11-04 15:45] ValentinH opened #280 "Sidebar splitter over share options popup"
When the sidebar is visible and you open the Share options, the splitter is visible over the popup:
![image](https://user-images.githubusercontent.com/2678610/32406819-8956e51a-c17f-11e7-96a9-a1ce98c1cdd7.png)

I have tried to increase the `z-index` of the ShareView component but it does not fix it.

[2017-11-04 17:13] ValentinH commented on #280
Since this popup is getting pretty big, why not using a modal like for the preferences? I'm preparing a PR for this.

[2017-11-04 19:25] #279 closed

[2017-11-05 00:23] #280 closed

[2017-11-05 11:28] CompuIves commented on #270
Yes, it would be available for downloaded projects 😄 . We create a file that let's npm know to resolve all @codesandbox namespaces to our registry. But I wasn't yet 100% sure on this flow though.

[2017-11-05 11:29] CompuIves commented on #278
Ah, yes I haven't tested this fully. I can work on this the coming week 😄

[2017-11-05 11:30] CompuIves commented on #277
Wow, this detailed description is great! I can take a look at what's happening the coming week, maybe it's related to our recent Webpack changes (I remember something weird with ModuleConcatenationPlugin and Prettier) 🤔 .

[2017-11-05 17:11] Anenth commented on #274
@CompuIves editor loads pretty fast for me, but the preview takes ages to load

[2017-11-07 15:42] CompuIves opened #285 "Prettify prettifies .json as .js"
It seems like we don't properly check for file type when giving a file to prettier, it makes JSON files invalid.

I think we need to change the code here:

https://github.com/CompuIves/codesandbox-client/blob/master/src/app/components/sandbox/CodeEditor/Monaco.js#L885-L892

Is someone interested in looking at this?

[2017-11-07 15:56] CompuIves opened #286 "Make "Clear Console" preference on by default"
We have a preference to clear the console between executions, this is off by default, but I think it'd be better if we turn this on by default. This will probably clear up some confusion for beginners.

[2017-11-08 04:08] chakrihacker opened #288 "Add package-lock.json"
It is recommended to add package-lock.json from npm5

[2017-11-08 09:19] andrerpena commented on #75
Is it released?

[2017-11-08 15:48] andrerpena commented on #75
@CompuIves. Thank you for your response.

I'm releasing a new version of https://github.com/andrerpena/react-mde and I'd like the demos to be moved to CodeSandBox. I've never used Preact. Would components implemented for React work on Preact? I suppose not.

[2017-11-11 12:26] OllieJennings opened #291 "No longer works in Safari"
You can no longer view a personal Sandbox in Safari.

Error:

[Error] SyntaxError: Cannot declare a let variable twice: 't'. (monaco-linter.f7fe4c09abe3764fa812.worker.js, line 3656)

[2017-11-11 14:20] CompuIves commented on #291
Hey @OllieJennings, thanks for reporting this (important) issue! On which page do you get this error, with which version? I tried to replicate the error, but I can't seem to get it.

[2017-11-11 14:24] #286 closed

[2017-11-11 18:07] ValentinH commented on #291
Yes, I also tried it with version 11.0 and everything looks fine.

[2017-11-11 18:32] ValentinH commented on #285
I'm on it.

[2017-11-11 18:44] ValentinH commented on #277
I have tried to reproduce on Safari 11.0 and Chrome 61 and both buttons are working fine here.

On Chrome:
![prettify-chrome](https://user-images.githubusercontent.com/2678610/32692464-bc4c7e6e-c718-11e7-91eb-ac84425e4a50.gif)

On Safari:
![pretify-safari](https://user-images.githubusercontent.com/2678610/32692467-c13c776c-c718-11e7-9eb5-221424472d98.gif)

[2017-11-11 18:53] ValentinH opened #293 "External links make the result panel break"
Currently, if a sandbox displays a link on an external URL (i.e. https://google.com), we get this error:
`Refused to display 'https://www.google.fr/?gfe_rd=cr&dcr=0&ei=SEYHWtiGI4TA8getrIWoCQ' in a frame because it set 'X-Frame-Options' to 'sameorigin'.`

And then, if you change the code, the result panel doesn't refresh.

A possible solution would be to automatically add `target="_blank" in this c

[2017-11-11 19:13] ValentinH commented on #293
If you like the idea, I can try to make a PR.

[2017-11-12 10:26] ValentinH commented on #293
I've tried this link issue on JSFiddle and Codepen and they have the same behavior. I guess there is not much to do about it....

[2017-11-12 10:26] #293 closed

[2017-11-12 15:09] OllieJennings commented on #291
Hi @CompuIves, so l only get this on the Sandbox page, nothing else.

I am on Safari 10 (haven't upgraded to MacOS High Serria just yet)

[2017-11-12 18:53] #285 closed

[2017-11-14 06:55] viankakrisna opened #294 "console.clear() not working in integrated console"
![codesandbox io_s_new](https://user-images.githubusercontent.com/9636410/32766863-5b9266f6-c943-11e7-8a41-8e8a523ffbd4.png)

[2017-11-14 09:36] yoonwaiyan opened #296 "Support git repos other than Github"
Not sure if it's being requested before, but I would like CodeSandbox to be able to import any public repo other than Github(by just providing a git repo HTTPS link maybe), is that possible? I've came to this idea because I have a repo to demo during tutorials sessions but I don't want to flood my Github repo with small repos so I'm using Gitlab for the repo for now.

[2017-11-14 09:48] #294 closed

[2017-11-14 15:04] chakrihacker commented on #75
@andrerpena with preact-compat react components work fine in preact, and fortunately codesandbox comes with preact-compat so it works seamlessly. check [preact-compat](https://github.com/developit/preact-compat)

[2017-11-14 17:57] taylorham commented on #277
Well I'll be damned.

It's still not working in my normal Chrome window but it *does* work in an Incognito tab. I must have some extension messing with functionality.

I also just checked it in Safari and was suddenly able to both format and save without issue or delay.

Looks like I didn't dig deep enough before reporting, and this issue can probably be closed since it appears to be an extension

[2017-11-15 19:06] #275 closed

[2017-11-16 00:02] xyc commented on #206
FYI supports of collab mode come to some major code editors:
Teletype for Atom: https://news.ycombinator.com/item?id=15704376
Visual Studio Live Share: https://news.ycombinator.com/item?id=15704376

[2017-11-16 00:14] CompuIves commented on #206
Teletype for Atom: news.ycombinator.com/item?id=15704376
Visual Studio Live Share: news.ycombinator.com/item?id=15704376

Wow, that looks really cool!

[2017-11-16 19:44] CompuIves commented on #204
It's here! We now have GitHub Commit, PR and Repo creation support. I'll keep this open, because I still want to move the UI around a bit + add a diff view.

[2017-11-17 09:25] vedam opened #299 ".css-files not loaded with preact-cli"
hey all,
first of thx for this really easy way of fast prototyping.
I created a fast test-case for an issue I had during local development with loading .css-files in preact-cli:
https://codesandbox.io/s/k05nxn4jxv

I asked for help at [preact slack](https://preact.slack.com/archives/C3M9NTD16/p1510818546000247)

and Jason Miller noticed:
https://preact.slack.com/archives/C3M9NTD16/p151088154100006

[2017-11-17 16:14] macklinu commented on #291
When I open Safari 10.1.1 (on MacOS version 10.12.5) and visit https://codesandbox.io/s/new (can be signed in with GitHub or not, both result in the following error):

![image](https://user-images.githubusercontent.com/2344137/32956311-6c2d9fd6-cb86-11e7-93fd-e6d2c5073db4.png)

[code]

The latest commit in this repo is https://github.com/CompuIves/codesandbox-client/commit/b2a64ad2d0c7d8f6e7181c77

[2017-11-17 19:11] serapath opened #300 "Can I deploy backend code?"
I used zeit to deploy a frontend project and saw it as a static page.

Can i deploy any nodejs (e.g. a express app) to zeit.co via codesandbox?

I wasn't able to find documentation how this deployment process works and what options I have to configure my project so that zeit.co picks it up nicely.

Could somebody point me at some documentation or tell me what is possible and what is planned? :-)

[2017-11-18 02:28] chakrihacker commented on #300
As of now codesandbox doesn't support it. In near future you can do that too 😀

[2017-11-18 08:03] ayusharma opened #301 "Unable to click on React cube"
<img width="1280" alt="screen shot 2017-11-18 at 1 30 21 pm" src="https://user-images.githubusercontent.com/6918450/32978278-e0820546-cc64-11e7-9545-4c1c11b572ed.png">

React cube get displace outside of the screen on the right side.

[2017-11-18 11:24] OllieJennings commented on #291
@CompuIves , @macklinu  This is the exact error am getting as well.

[2017-11-18 15:10] CompuIves commented on #291
Ahh I found the issue! It's related to this: https://github.com/mishoo/UglifyJS2/issues/1753. I'll make a deployment with the fix now.

[2017-11-18 15:22] CompuIves commented on #300
Yes, exactly what @chakrihacker says. Theoretically you can deploy a backend application, but it won't work inside CodeSandbox. You can do this by importing a git repository, alter the code and then deploy to ZEIT.

[2017-11-18 15:22] #300 closed

[2017-11-18 15:23] CompuIves commented on #301
Thanks for the report @ayusharma! I'll fix this somewhere in the coming week.

[2017-11-18 16:44] CompuIves commented on #299
Thanks for reporting this! I'm fixing it now.

[2017-11-18 20:58] CompuIves opened #303 "Remove `position: relative` from body tag in sandbox"
We add a `position: relative` to the body tag to measure its size. This pollutes the sandbox and it's better if we find another way to do this.

[2017-11-19 19:51] pfftdammitchris opened #305 "Creating a github repository for our sandbox silently renames and replaces files that include underscores (_) which breaks it"
As I was reading on the new github feature I went ahead and created a new repository on my github for my sandbox and it silently renamed one of my files **JSR_Toolbar.js** to JSRToolbar.js.

This throws an error for me and I would have to manually change the filename back to JSR_Toolbar.js for my project to work. I was then forced to refresh the page because it was giving an error that I had to pa

[2017-11-19 20:06] pfftdammitchris opened #306 "Support for different syntax highlighting themes"
It would be great to have different syntax highlighting themes.
The current theme is a little rough on the eyes

[2017-11-19 20:26] #291 closed

[2017-11-19 20:43] CompuIves commented on #305
This is a very good report, I know exactly what cases this issue. Thanks!

I'll fix that this evening.

[2017-11-19 22:20] #299 closed

[2017-11-19 22:28] #305 closed

[2017-11-20 02:10] nagamalli9999 opened #312 "package-lock.json is not checked into git"
package-lock.json is generated whenever we do some npm related operations. If it is not checked into the git, it always pops up in the git's untracked files. we can either check it into git or add it to .gitignore if there is a reason to not check it in

[2017-11-20 09:19] lbogdan opened #313 "Achieve "true" HMR"
Right now, whenever you change a file, the sandbox app gets re-evaluated, which re-initialises all app state. It would be very nice to have HMR support with the same [API as Webpack](https://webpack.github.io/docs/hot-module-replacement.html), so that we can leverage existing HMR loaders for React, Vue etc.

[2017-11-20 09:42] viankakrisna commented on #270
@CompuIves I think we can use https://github.com/insin/nwb#react-components-and-libraries as a template for npm libraries.

As for the flow for publishing it, I also not sure. Usually, my flow is like this:
* update the version in `package.json` and create the tags (this is usually `npm version patch|minor|major`)
* push it to the git repo
* publish to npm

I think this feature should only be avai

[2017-11-20 11:25] Andarist opened #314 "[feature request] Support env variables"
It would be cool to support env variables, they could be defined in a file like CRA does it.

[2017-11-21 07:04] chakrihacker commented on #312
Yes, But codesandbox is using ***yarn.lock***, so it can be safely ignored

[2017-11-21 23:26] CompuIves commented on #312
Yep, that's right. We don't use `package-lock.json` but use `yarn.lock`. I've added `package-lock.json` to the `.gitignore`.

[2017-11-21 23:26] #312 closed

[2017-11-22 11:29] CompuIves commented on #313
Yes! Okay, from what I know we should take this approach:

The `Manager` class should get an extra map for tracking all hot-reloading callbacks. Key = path, value = callback. We should add a global called `module.hot` before evaluation, with `accept` function that takes path+callback and adds it to the extra map.

So every time we start evaluation we first check if the hot module map is > 0. If it

[2017-11-22 15:42] eschaefer opened #319 "Broken on FF 57"
ServiceWorker error on FF57 makes CodeSandBox unusable on that browser. Seems like a pretty critical issue.

URL: https://codesandbox.io/s/j4w5orx8yw

Click any of the JS files in the filetree, and nothing responds.

<img width="1168" alt="screen shot 2017-11-22 at 16 40 11" src="https://user-images.githubusercontent.com/547148/33135850-e0604036-cfa3-11e7-974e-41139fd5594e.png">

[2017-11-22 15:44] eschaefer commented on #319
Apologies, the site does work with μBlock disabled. The service worker error persists, but doesn't break the UX.

[2017-11-22 15:44] #319 closed

[2017-11-22 15:50] lbogdan commented on #319
@eschaefer Can you please provide a stack trace?

[2017-11-22 15:51] CompuIves commented on #314
Good one!

[2017-11-23 08:07] CompuIves commented on #263
Heya! Yesterday I deployed a define endpoint that allows you to create temporary sandboxes. You can find an implementation on how to use it here: https://codesandbox.io/s/wylx7lrrl7.

I'll keep this open until we have official documentation for it.

[2017-11-23 08:59] oliviertassinari commented on #263
@CompuIves Oh, awesome. I'm having a look at it. Thanks!

[2017-11-23 09:48] JikkuJose opened #320 "[feature request] Honour NODE_PATH in package.json"
Please consider honouring `NODE_PATH` in package.json. For instance:

[code]

Then, things like this:

`import "../../../../../../../../library/NavBar.js"`

will become:

`import "library/NavBar.js"`

[2017-11-23 09:52] CompuIves commented on #320
We can combine this issue with https://github.com/CompuIves/codesandbox-client/issues/314. Our bundler already supports multiple `modulesDirectories` like webpack does, so the biggest thing to add here is environment variable support.

Parsing the `package.json` can be a bit tricky, and we need to check which templates support the `.env` file, but other than that this can be a pretty straightforwa

[2017-11-23 12:53] lbogdan commented on #263
@CompuIves That's nice, but isn't the URL limited to some 2000 characters? Even with compression, that wouldn't help with medium to large sandboxes, right?

[2017-11-23 14:04] CompuIves commented on #263
Yep, this API also works with POST requests. Same parameters.

On Thu, Nov 23, 2017, 13:53 Bogdan Luca <notifications@github.com> wrote:

[2017-11-23 14:05] lbogdan commented on #263
May I say this is *awesome*!?

[2017-11-23 15:58] #320 closed

[2017-11-23 16:13] CompuIves commented on #314
This has been deployed 😄 . You can now define environment variables in a `.env` file.

[2017-11-23 16:13] #314 closed

[2017-11-23 18:05] Andarist commented on #314
wow, this is great!

[2017-11-23 20:23] CompuIves opened #323 ".gitignore not honoured for Git commits"
Git ignored files still get committed.

[2017-11-24 02:09] yesmeck commented on #263
Wa (Ant Design) are  looking into adding CodeSandbox as one of `Open in CodeSandbox` button too.

[2017-11-24 02:33] VinSpee opened #324 "Add support for atomic css"
Hi!

Loving codesandbox. Game changer.

I've been following the [Atomic CSS methodology](http://acss.io/) lately and would love to see it enabled in codesandbox.

There are several ways to implement it, most commonly, via the [webpack loader](https://github.com/acss-io/webpack-atomizer-loader), but could likely be handled in a c-r-a fashion by doing something like [this](https://github.com/faceboo

[2017-11-24 02:40] yesmeck commented on #263
Try to use POST request, but got a `Internal server error`.

https://codesandbox.io/s/5x6rp53jxp

[2017-11-25 14:31] Piterden commented on #306
Would be great to have ability to upload own theme in `tmTheme` and other popular formats.

[2017-11-25 14:34] Piterden commented on #296
I use gitlab too. Also bitbucket sometimes.
I think, the best would be the universal client for any `git` server.

[2017-11-25 15:01] Piterden commented on #222
It is better to have an ability to edit keymap config, if it is possible. As I know, for the Codemirror you can edit a keymap.

[2017-11-25 15:25] Piterden commented on #324
What is the difference between atomic CSS and direct style setting in the HTML attribute?

[2017-11-25 15:40] VinSpee commented on #324
A bit out of scope for this request, but here’s a fantastic post about the merits that rebuts many arguments - I liked specifically to the section about inline styles:

http://cssmojo.com/a-retort-to-reuse-on-maintainablecss/#it-says-classred-is-the-same-as-stylecolor

[2017-11-25 20:02] Piterden opened #327 "Eslint error on json file"
I have an error which, I believe shouldn't be there.
![image](https://user-images.githubusercontent.com/5930429/33234256-9ddb440c-d234-11e7-9b27-7775e628e5c8.png)

[2017-11-25 20:05] Piterden commented on #327
Why don't me have a `.eslintrc` in newly created github repo?

[2017-11-25 20:07] Piterden commented on #327
Haha! But in `.vue` file eslint not works ))

![image](https://user-images.githubusercontent.com/5930429/33234303-66bdc2d2-d235-11e7-872a-2ae0b4bf5d41.png)

[2017-11-25 20:09] CompuIves commented on #327
Ahh, this is a good one @Piterden. The problem currently is in this check:

https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/app/components/sandbox/CodeEditor/Monaco.js#L556-L557

We should make this check for `.js`, `.jsx`, `.ts` and `.tsx` files. Would you be interested in opening a PR for this?

This is on the planning. But there are still some problems with plugin r

[2017-11-25 20:10] Piterden commented on #327
I use codemirror

[2017-11-25 20:15] CompuIves commented on #324
Interesting, I like the idea Atomic CSS.

I'd love to implement Atomic CSS in CodeSandbox, I want to combine this with sass/less support for React. The main idea with this is that we should eject CRA and add the given options manually, the question is how we can do this with the most simple/easy UX. I'm open for suggestions on this 😄.

[2017-11-25 20:17] CompuIves commented on #327
Right, for codemirror we need to change the `getMode` a bit (https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/app/components/sandbox/CodeEditor/CodeMirror.js#L321-L322). We should add `.(t|j)sx?` detection manually and fallback to `text` type.

[2017-11-25 20:21] Piterden commented on #327
Why don't you write comments on functions?
Like here https://github.com/Piterden/my_music_bot/blob/1.0/src/TgKeyboard.js

[2017-11-25 20:23] Piterden opened #328 "[feature request] [Vue] Stylus syntax highlighting"
Now it is not work

![image](https://user-images.githubusercontent.com/5930429/33234427-b422674c-d237-11e7-9b96-61c279789a99.png)

[2017-11-25 20:25] CompuIves commented on #327
Yes, I should definitely add more comments. The newer code has more inline documentation (because that was meant to be open sourced).

If you'd like to write more documentation, feel free to!

[2017-11-25 20:27] Piterden commented on #327
I want, but I need to dig into it a bit, at the first...

[2017-11-25 20:47] CompuIves opened #329 "ESLint Vue parser support"
Implement https://github.com/mysticatea/vue-eslint-parser to work as ESLint parser when the current template is `vue-cli`.

[2017-11-26 02:00] VinSpee commented on #324
I think it’d have to go in the sandbox sidebar under its own expandable, right? I’ll try to put together a concept in a PR to get the ball rolling (on the UI side of things at least)

[2017-11-26 21:30] oliviertassinari commented on #263
@yesmeck I confirm. Same issue on my side with the POST method.

[2017-11-26 21:51] CompuIves commented on #263
Ah sorry, didn't see the replies. I'm on my phone right now, but can send a
solution later. For the POST request the body should just be a json
structure with one key: `files`. So what goes in parameters in the get
request is the body. Also there's no lz string compressing required.

I can give a proper sandbox for it later today or tomorrow 😃.

On Sun, Nov 26, 2017, 22:30 Olivier Tassinari <notif

[2017-11-27 02:43] yesmeck opened #332 "Allow using tag for package version"
We are looking into use codesandbox as a reproduce tool for `Ant Design`. Do you have, or plan to support tag for package version? So that we can always pointing our package to the latest version.

[2017-11-27 12:49] CompuIves commented on #263
Just deployed a commit to the server that makes your codesandbox POST example work!

[2017-11-27 12:52] CompuIves commented on #332
That's great! We don't support version ranges yet, but we do support this on creation of a sandbox. So if you create a sandbox with a POST request you can do this:

[code]

And we'll resolve the latest version.

[2017-11-27 13:43] VinSpee commented on #324
I started the UI side of this in #331—I'd love feedback / iteration before I go further

[2017-11-28 00:02] Hum4n01d opened #334 "Sign in button on homepage"
It would be useful to have a link straight to the sign-in page on the homepage. I just opened CodeSandbox on a new computer and couldn't find an easy way to the sign-in page. If I remember correctly, there used to be one in the top right corner but it's no longer there.

[2017-11-28 00:53] davidm-public commented on #111
trying to create a vue typescript sandbox, not seeing how to do that?

[2017-11-28 01:28] davidm-public commented on #111
struggling with Vue Typescript, looks like `<script lang="ts">`is being ignored.

see:  https://codesandbox.io/s/vy8923vpq0

Also not sure what the file `index.js` is doing, seems to be marked as 'main', and undeletable?

Hoping to get Vue and Typescript working, because that's beyond the capabiity of other online sandboxes!

Thanks
David

[2017-11-28 05:11] eladcandroid opened #335 "Angular support"
Any chance for that?

[2017-11-28 09:32] CompuIves commented on #111
Hey @davidm-public! I just noticed that we only checked for `lang="typescript"` for Vue templates, I added `lang="ts"` as viable option with this PR: https://github.com/CompuIves/codesandbox-client/compare/fix/vue-ts?expand=1.

I will also add the option to change the `main` entry somewhere this or next week.

[2017-11-29 22:12] lbogdan opened #342 "[Feature request] Search in own sandboxes"
It would be nice to be able to search in my own sandboxes (in the https://codesandbox.io/u/:user/sandboxes page). Right now I'm doing Ctrl-F, next page, Ctrl-F, next page, Ctrl-F... ah, there it is! :smile:

[2017-11-30 14:52] ryanpcmcquen opened #344 "Tab width setting ignored when 'Use tabs' is active."
An easy way to reproduce this is to set `Tab width` settings to `4` and set `Use tabs` to true. The width stays at `2` spaces.

[2017-11-30 15:13] viankakrisna opened #345 "Use puppeteer to create thumbnail image of sandbox"
figure that we can use puppeteer to generate thumbnails. It would make the shared sandbox nicer :) I've searched ready to use solutions like https://github.com/zenato/puppeteer-renderer but they seem to not wait until the sandbox rendered before taking the screenshot. https://puppeteer-renderer-hfrnufoxcj.now.sh/?url=https://k375101wo7.codesandbox.io&type=screenshot.

I think we need to dispatch a

[2017-11-30 15:16] viankakrisna commented on #345
(or make a PR to puppeteer-renderer for a feature to listen to events before taking screenshots)

[2017-12-01 00:05] alansouzati opened #346 "Repo not syncing"
Hi I have this project [here](https://github.com/grommet/grommet-site) where the integration with github + codesandbox is enabled.

It seems that the repo is not syncing anymore. I added 4 new components and when I click in the "Edit in Codesandbox" button they are no there.

Here is an example: http://v2.grommet.io/tabs

[2017-12-01 01:33] CompuIves opened #347 "Sign in erases unsaved content"
Need to test it myself, reference is from [Twitter](https://twitter.com/GabeRicard/status/936344948630269952):

@CompuIves I noticed a bug in codesandbox when I was writing that. I started it off without being logged in, but then I logged in via github and it overwrote parts of it with the default react project. index.js was overwritten and Modal.js had the default Hello.js contents.

[2017-12-01 01:46] dgennetten opened #348 ""Repo is too big to import""
Consistently getting "Repo is too big to import" for all links launched from v2.grommet.io.

Example: https://codesandbox.io/s/github/grommet/grommet-site?initialpath=button&module=%2Fscreens%2FButton.js

[2017-12-01 02:58] gricard commented on #347
Hmm... I tried doing the exact same thing I did before, on the same computer, and it didn't happen this time. This is what I did:

- hit codesandbox.io
- click create sandbox in top right
- renamed Hello.js to Modal.js and put this code in:
[code]
- created a new module Title.js and put this code in:
[code]
- put this code in index.js:
[code]
- saved
- signed into my github account
- index.js was