[2019-10-07 13:18] pskelin opened #2679 "SyntaxError Unexpected token 'export' (ES6 export not first on the line)"
# 🐛 bug report

## Description of the problem
If I import a valid ES6 file (but minified), I get the following error:
[code]
even though the export statement is correct. While the same kind of file, but beatified so that the export statement is on its own line works correctly:

Here is a link to the broken import:
https://codesandbox.io/s/lucid-kilby-t8zhs
And the file causing it:
https://unpkg.co

[2019-10-07 16:36] babramczyk opened #2682 "Crash"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>
Sign in

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | OS X 10.14.4           |

  **Route:**
  https://codesandbox.io/dashboard/recent

  </details>

  <details>

[2019-10-07 18:49] ndresx opened #2684 "Forking a sandbox shows empty error/warning snackbars"
# 🐛 bug report

## Description of the problem

Trying to save a sandbox through one of the "Save" options shows two additional empty snackbars. This doesn't happen when trying to fork it by clicking the "Fork" button directly.

![image](https://user-images.githubusercontent.com/27507295/66340483-88e16980-e945-11e9-9a40-3092497b7527.png)

This console error log might be related to this issue:

[cod

[2019-10-07 19:13] ndresx opened #2685 "Blank code editor on user navigate back"
# 🐛 bug report

## Description of the problem

1. Open sandbox
2. Click user avatar/name
3. Navigate back (from the user's profile page)

Observe the blank code editor. Clicking into it shows a new Untitled file, not the initial code. Saving it causes another error to appear (see attached screenshot below).

![image](https://user-images.githubusercontent.com/27507295/66340669-f8575900-e945-11e9-9a

[2019-10-07 20:29] Noobiest9 opened #2687 "Fork or vanilla js template, change to private sandbox and run fails out of the box. TypeError: Cannot set property 'innerHTML' of null"
# 🐛 bug report

## Description of the problem

## How has this issue affected you? What are you trying to accomplish?

### Link to sandbox: [link]() (optional)

### Your Environment

| Software         | Name/Version |
| ---------------- | ------------ |
| Сodesandbox      |
| Browser          |
| Operating System |

[2019-10-08 05:01] yeoupooh opened #2694 "A crash after adding vue-pixi library from nuxt.js sandbox."
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | Windows 10           |

  **Route:**
  https://codesandbox.io/s/cod

[2019-10-08 06:01] jyash97 commented on #2684
Hey @ndresx
I have created a PR for this issue on #2683

[2019-10-08 07:45] abumuawiyah commented on #1603
@libetl the codesandbox is awesome!

[2019-10-08 09:03] kosirm opened #2695 "Crashed on Brave browser (latest build)"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | Windows 10           |

  **Route:**
  https://codesandbox.io/s/dia

[2019-10-08 09:08] Hedlainer opened #2696 "Something broke (("
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | Windows Server 2008 R2 / 7           |

  **Route:**
  https://code

[2019-10-08 09:09] FabienHP opened #2697 "crash"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | Linux x86_64           |

  **Route:**
  https://codesandbox.io/s/q

[2019-10-08 09:11] LasCC opened #2698 "Cash after the update"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | Windows 10           |

  **Route:**

  </details>

  <details>
  <

[2019-10-08 09:13] truongtv1909 opened #2699 "oh"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | Windows 10           |

  **Route:**
  https://codesandbox.io/s/bor

[2019-10-08 09:13] truongtv1909 commented on #2699
a

[2019-10-08 09:13] jinchaofs opened #2700 "Bug"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 78.0.3904 | OS X 10.14.5           |

  **Route:**
  https://codesandbox.io/s/v

[2019-10-08 09:14] sventhevenn opened #2701 "Sandbox won't open after restart (as prompted because of update)"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | Windows 10           |

  **Route:**
  https://codesandbox.io/s/eik

[2019-10-08 09:16] CompuIves commented on #2701
Checking now!

[2019-10-08 09:19] sventhevenn commented on #2701
Happens on all projects on Chrome Version 77.0.3865.90 (Official Build) (64-bit)windows 10 and Safari iOS 13.

[2019-10-08 09:19] przelu opened #2702 "New Sandbox save/fork crash"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

Just created a new React sandbox and tried to save/fork it.   A couple of minutes before I saw this toast notification that there was a new version and I have clicked to install it / reloaded the page.  I am also not able to open the sandbox I have just created.

  <h3>Crash Details</h3>

  <details>

[2019-10-08 09:20] sventhevenn commented on #2701
Works again!

[2019-10-08 09:21] TaraMcC opened #2703 "Crash when adding react-redux 7.1.1 to default react sandbox"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | Windows Server 2008 R2 / 7           |

  **Route:**
  https://code

[2019-10-08 09:21] przelu commented on #2702
Just saw another update and it all seems okay now. Thank you.

[2019-10-08 09:21] #2702 closed

[2019-10-08 09:31] CompuIves commented on #2701
Sorry for the inconvenience!

[2019-10-08 09:31] #2701 closed

[2019-10-08 09:35] CompuIves commented on #2703
Sorry for this! The issue should be resolved now.

[2019-10-08 09:35] #2703 closed

[2019-10-08 09:35] CompuIves commented on #2700
Sorry for this! The issue should be resolved now.

[2019-10-08 09:35] #2700 closed

[2019-10-08 09:35] CompuIves commented on #2699
Sorry for this! The issue should be resolved now.

[2019-10-08 09:35] #2699 closed

[2019-10-08 09:36] CompuIves commented on #2698
Sorry for this! The issue should be resolved now.

[2019-10-08 09:36] #2698 closed

[2019-10-08 09:36] CompuIves commented on #2697
Sorry for this! The issue should be resolved now.

[2019-10-08 09:36] #2697 closed

[2019-10-08 09:36] CompuIves commented on #2696
Sorry for this! The issue should be resolved now.

[2019-10-08 09:36] #2696 closed

[2019-10-08 09:36] CompuIves commented on #2695
Sorry for this! The issue should be resolved now.

[2019-10-08 09:36] #2695 closed

[2019-10-08 09:36] CompuIves commented on #2694
Sorry for this! The issue should be resolved now.

[2019-10-08 09:36] #2694 closed

[2019-10-08 09:39] sventhevenn commented on #2701
No problem at all. That was quick - color me impressed! Earned yourself a new patron.

[2019-10-08 09:43] jinchaofs commented on #2700
@CompuIves Yes, that's all right, thank you

[2019-10-08 09:44] FreaKnight opened #2704 "Crash Report"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

I was just trying to save what I have done. I have a tendency to Ctrl+S, but each time I do that, it chashes.

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- |

[2019-10-08 09:48] CompuIves commented on #2704
I'm sorry for this issue! It should be fixed now after refreshing (make sure to copy the file contents before doing so). This shouldn't happen again.

[2019-10-08 09:48] #2704 closed

[2019-10-08 11:38] Ajdija opened #2705 "Crash Patron page"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | OS X 10.14.6           |

  **Route:**
  https://codesandbox.io/pat

[2019-10-08 11:54] ownspark opened #2706 "cannot access this page."
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | firefox | 69.0.0 | Windows 10           |

  **Route:**
  https://codesandbox.io/patron

[2019-10-08 12:02] razi-ed opened #2707 "Auth Failed"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 76.0.3809 | Linux x86_64           |

  **Route:**
  https://codesandbox.io/das

[2019-10-08 12:22] OliCpg opened #2708 "Broken :-("
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  Redirected to Patron page after proceeding with subscription.

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | OS

[2019-10-08 12:55] garethx commented on #2708
Thanks for reporting. We've a fix going out for this. See https://github.com/codesandbox/codesandbox-client/compare/337b44fbb31d...f9c0eee86ad5

[2019-10-08 12:55] #2708 closed

[2019-10-08 12:55] garethx commented on #2705
Thanks for reporting. We've a fix going out for this. See https://github.com/codesandbox/codesandbox-client/compare/337b44fbb31d...f9c0eee86ad5

[2019-10-08 12:55] #2705 closed

[2019-10-08 12:56] garethx commented on #2706
Thanks for reporting. We've a fix going out for this. See https://github.com/codesandbox/codesandbox-client/compare/337b44fbb31d...f9c0eee86ad5

[2019-10-08 12:56] #2706 closed

[2019-10-08 13:08] rbrander opened #2709 "crash report"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | OS X 10.14.6           |

  **Route:**
  https://codesandbox.io/das

[2019-10-08 13:46] marekrozmus opened #2710 "Crash report - opening profile / sandboxes"
<h1>💥 Crash Report</h1>

  <h2>Go to My Profile / Sandboxes</h2>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | Windows 10           |

  **Route:**
  https://codesandbox.io/u/marekrozmus/sandboxes

  </details>

  <details>
  <summary>Error Message</summary>

[2019-10-08 14:16] CompuIves commented on #2710
Sorry! This should be fixed in the next deploy.

[2019-10-08 16:30] rebornix opened #2712 "Monaco Editor bundling failture"
# 🐛 bug report

## Description of the problem

Monaco Editor is not bundled successfully one way or another

## How has this issue affected you? What are you trying to accomplish?

Bundle Monaco Editor into a vanilla project

### Link to sandbox: [link](https://codesandbox.io/s/trusting-resonance-c7uy3) (optional)

### Your Environment

| Software         | Name/Version |
| ---------------- | ----

[2019-10-08 19:26] nik72619c commented on #1821
shall I make the required changes ? I'd love to make my first pr at codesandbox

[2019-10-08 20:19] armujahid commented on #2621
Hi, I am working on `/app/pages/Dashboard/index.js`

[2019-10-08 22:01] #2710 closed

[2019-10-09 11:59] rajatvijay commented on #2621
Hi! would like to work on `/app/pages/common/Modals/DeploymentModal/index.js`

[2019-10-09 12:19] imagoiq opened #2719 "Live mode - Switch "Hide notifications" doesn't have any effect"
# 🐛 bug report

## Description of the problem

In live mode, we tried to hide notifications in classroom mode. Professors and students could still see all the notifications about people joining and leaving the session (which is very annoying).

### Link to sandbox: [https://codesandbox.io/s/tp-etape-2-36880](https://codesandbox.io/s/tp-etape-2-36880)

### Your Environment

| Software         | Nam

[2019-10-09 17:15] Saeris commented on #2621
Just got around to updating the list. Thanks so much for all of the contributions so far! We're all really impressed with how many of you have decided to pitch in!

[2019-10-09 19:10] Ajdija opened #2721 "Patron: cannot change visibility of my sandboxes"
# 🐛 bug report

## Description of the problem
Cannot change visibility of my sandboxes to "unlisted".
## How has this issue affected you? What are you trying to accomplish?
suddenly after a page refresh... (around 9:00 pm 9 October 2019 CEST) must have been latest rollout
https://codesandbox.io/u/Ajdija

### Link to sandbox: [link]() (optional)
any of my sandboxes
### Your Environment

| Software

[2019-10-10 12:07] siddharthkp commented on #2709
Hi! We had some trouble on Tuesday, should be all good now. Can you confirm on your side as well?

[2019-10-10 12:08] siddharthkp commented on #2682
Hi! We had some trouble on Tuesday, should be all good now. Can you confirm on your side as well?

[2019-10-10 12:18] siddharthkp commented on #1603
@libetl This is great! You should create a `template` from this so that others can also use this as a base (we are working on improving the discovery of templates 🤫)

[2019-10-10 12:27] siddharthkp commented on #1603
@libetl Is there a pull request / issue we can track along with this one. I'd like to keep an eye 👀 on the compatibility work so that we can help out if needed

[2019-10-10 12:39] rbrander commented on #2709
Confirmed all is working

[2019-10-10 12:39] #2709 closed

[2019-10-10 12:40] siddharthkp commented on #2709
That's great! If you have any feedback, you know where to reach out 😉

[2019-10-10 12:44] siddharthkp commented on #2719
Hi @imagoiq, thanks for reporting this bug! We're on it.

[2019-10-10 12:51] lbogdan commented on #2673
Hey @steventsao ,

Have you tried the [port forwarding](https://code.visualstudio.com/docs/remote/ssh#_forwarding-a-port-creating-ssh-tunnel) feature of Remote SSH?

[2019-10-10 12:54] lbogdan commented on #2721
Hey @Ajdija ,

What exactly happens when you're trying to change the visibility? Do you get any error in the UI or the devtools console?

[2019-10-10 13:13] siddharthkp commented on #2651
Hi!

That's a pretty good idea! Do you think it would make sense to use the existing GitHub integration and add a way to go through the commits?

That way, you can use the already working commit mechanism and also get a nice history

[2019-10-10 15:35] aem opened #2726 "CodeSandbox will break with next Firefox release"
# 🐛 bug report

## Description of the problem

CodeSandbox does not render anything on the next version of Firefox (`v70.0b7`, currently in beta, but reaching stable soon). I've confirmed that the same apps render fine in the current stable release (v69.0.1). I see a blurry image of the text in the rendered starter app and then just a blank white screen.

Console errors:

<img width="779" alt="ima

[2019-10-10 17:52] NileshPatel17 commented on #2621
PR #2727 refactors /app/pages/common/Modals/NetlifyLogs/index.js

[2019-10-10 19:58] stackyism commented on #2621
Hello! 👋
PR #2728 refactors `/Netlify/SiteInfo/Actions/VisitSiteButton/VisitSiteButton.tsx`.
Thank You! :)

[2019-10-11 04:04] RandomFractals commented on #1274
was a good idea but I have not looked at any code sandboxes in months & never got more info on how to add 3rd party ext's to this plat. closing it :)

[2019-10-11 04:04] #1274 closed

[2019-10-11 12:05] renanborgez opened #2730 "CodeSanbox is already crashing in Opera"
# 🐛 bug report

## Description of the problem
The codesanbox starts to load properly
![image](https://user-images.githubusercontent.com/1863024/66650025-e6203800-ec2f-11e9-9d8a-cdc28150e39f.png)

However it breaks just few secs later even not changing anything in the page
![image](https://user-images.githubusercontent.com/1863024/66649369-43b38500-ec2e-11e9-8a8d-aeeef2b26f01.png)

- Tested in anon

[2019-10-11 14:55] lwxbr commented on #2651
Hi, @siddharthkp! Yes, initially could be Github integration, but if it all goes well it can have another integrations like Bitbucket, Gitlab, etc. But Github itself is a good start and is the environment Codesandbox is already immersed.

[2019-10-11 16:44] AleksandrHovhannisyan opened #2733 "Minor UI issue: Button text overflows when left pane resized."
# 🐛 bug report

## Description of the problem

I like to make the leftmost pane narrow to maximize the editor pane. However, I noticed this leads to a noticeable overflow of the text:

![image](https://user-images.githubusercontent.com/19352442/66668762-f4685700-ec23-11e9-97b0-b864c53fb165.png)

This actually happens on a couple other buttons, too:

![image](https://user-images.githubusercontent.c

[2019-10-11 17:32] dagolinuxoid commented on #2685
@ndresx I was able to reproduce your issue - after navigating back I saw the same blank page in the source code area (all my tabs disappeared). I came up with the next solution: click on *explorer* menu and open needed files again - they should reappear in form of tabs as expected. I agree that it's a little bit tedious to do so and it would be nice if they preserve state but it's not the end of t

[2019-10-11 17:55] theghostyced commented on #2733
If this issue is approved, I would love to take it up

[2019-10-11 19:23] dagolinuxoid commented on #2685
BTW surprisingly Firefox 69 doesn't have the issue. I'm waiting when some awesome maintainer implements vim for Firefox =).

[2019-10-11 19:24] BPScott opened #2735 "Importing JSON files in TS config reports error but it still works"
# 🐛 bug report

## Description of the problem

In a project that uses typescript but without a tsconfig file you can do:

[code]

This works and you can access the content is loaded from the json file (I assume because the react template actually uses babel/webpack to parse and build ts files instead of the typescript compiler).

However the typescript type checker suggests that there is an error

[2019-10-11 19:57] AleksandrHovhannisyan commented on #2733
That helps a lot! Thanks :)

[2019-10-11 20:23] babramczyk commented on #2682
Yup, all good! For what it's worth, a page refresh fixed this issue immediately for me as well.

[2019-10-12 06:08] MihirGH commented on #2621
Hello,
I would like to work on refactoring /app/pages/common/Modals/SelectSandboxModal/index.js
Thank you

[2019-10-12 07:48] sakthivel-tw commented on #2621
Hello,
Took `/app/pages/Dashboard/Sidebar/TemplateItem/TemplateItem.tsx` and PR is
https://github.com/codesandbox/codesandbox-client/pull/2737

[2019-10-12 07:50] siddharthkp commented on #2682
Good to hear!

[2019-10-12 07:50] #2682 closed

[2019-10-12 08:48] stackyism commented on #2621
Hello! 👋
PR #2738 refactors `/app/pages/Sandbox/Editor/Workspace/items/Deployment/Netlify/SiteInfo/SiteInfo.tsx`.

Thank You! :)

[2019-10-12 09:34] #2719 closed

[2019-10-12 10:33] jthegedus commented on #1159
I feel https://github.com/codesandbox/codesandbox-client/issues/1928 is related

[2019-10-12 10:34] hasparus opened #2739 "Patron page -- billing day is incorrect"
# 🐛 bug report

## Description of the problem

The day when the Patrons are billed is a little bit off.

![image](https://user-images.githubusercontent.com/15332326/66699883-111b9200-eceb-11e9-87fc-85d8400e1041.png)

## How has this issue affected you? What are you trying to accomplish?

I wanted to finally send some 💲 for the excellent app I'm using for a long time. I think I'll wait with becomin

[2019-10-12 10:46] hetpatel33 commented on #2621
Took `/app/pages/Sandbox/Editor/Workspace/items/Deployment/Netlify/SiteInfo/SiteInfo.tsx` and PR is [https://github.com/codesandbox/codesandbox-client/pull/2740](url)

[2019-10-12 10:58] hasparus commented on #2621
Hello there! I've noticed this issue thanks to a bug on Patron page :D

I'd like to help with `/app/pages/common/Modals/PickSandboxModal/index.js`.

[2019-10-12 11:10] hetpatel33 commented on #2621
Took `/app/pages/Sandbox/Editor/Workspace/items/Deployment/Zeit/Deploys/Actions/AliasDeploymentButton/AliasDeploymentButton.tsx` and PR is #2742

[2019-10-12 11:24] stackyism commented on #2621
@hetpatel33 I'm afraid I had already taken this up in PR #2738 .

[2019-10-12 11:39] MihirGH commented on #2621
Hello,
PR #2743 refactors  `/app/pages/common/Modals/SelectSandboxModal/index.js`
Thank you! :D

[2019-10-12 11:48] hetpatel33 commented on #2621
Took `/app/pages/common/Modals/SelectSandboxModal/index.js` and PR is #2745

[2019-10-12 12:08] hetpatel33 commented on #2621
Took `app/pages/common/Modals/PreferencesModal/index.js` and PR is #2746

[2019-10-12 12:19] MihirGH commented on #2621
Hello,
PR #2747 refactors `app/pages/common/Modals/SearchDependenciesModal/index.js`
Thank you! :D

[2019-10-12 12:26] hetpatel33 commented on #2621
Took `/app/pages/NewSandbox/index.js` and PR is #2748

[2019-10-12 13:03] nikitavoloboev commented on #2244
That helped, can type now.

Still would love to use Vim extension with Safari.

[2019-10-12 14:38] hegphegp opened #2749 "TypeError [ERR_INVALID_ARG_TYPE]: The "id" argument must be of type string. Received type object"
# 🐛 bug report

## Description of the problem
[code]
## How has this issue affected you? What are you trying to accomplish?

### Link to sandbox: [link]() (optional)

### Your Environment

| Software         | Name/Version |
| ---------------- | ------------ |
| Сodesandbox      | In Master branch On 2019-10-12
| Browser          |
| Operating System |

[2019-10-12 16:11] MihirGH commented on #2621
Hello,
I have refactored  `/app/pages/common/Modals/MoveSandboxFolderModal/index.js` and PR is #2751
Thanks

[2019-10-12 17:19] MihirGH commented on #2621
Hello,
I have refactored ` /app/pages/common/Modals/StorageManagementModal/index.js` and PR is #2753
Thank you! :D

[2019-10-12 17:32] jenac opened #2754 "crash after add dependency 'express'"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | Linux x86_64           |

  **Route:**
  https://codesandbox.io/s/p

[2019-10-12 18:12] hetpatel33 commented on #2621
Took `/app/pages/common/Modals/PRModal/index.js` and PR is #2755

[2019-10-12 18:52] milap1296 commented on #2621
Took `app/pages/Sandbox/Editor/Workspace/Project/SandboxConfig/SandboxConfig.tsx` and PR is #2757

[2019-10-12 21:30] milap1296 commented on #2621
Took `app/pages/common/Modals/PreferencesModal/EditorPageSettings/PreviewSettings/index.tsx` and PR is #2758

[2019-10-13 04:37] NileshPatel17 commented on #2621
Took ```/app/pages/common/Modals/PreferencesModal/CodeFormatting/Prettier/index.js```

[2019-10-13 09:09] Infi-Knight commented on #2621
Hi, I would like to start my contributions with ` /app/pages/common/Modals/DeleteDeploymentModal/index.js`

[2019-10-13 14:05] ganes1410 commented on #2621
Hi , I am starting with this `/app/pages/Profile/index.js`

[2019-10-13 15:40] ganes1410 commented on #2621
Hi , I am starting with this files
[code]

[2019-10-13 15:49] Infi-Knight commented on #2621
Took `/app/pages/Dashboard/Content/DragLayer/SelectedSandboxItems/index.js`

[2019-10-13 16:15] Infi-Knight commented on #2621
Took ` /app/pages/Sandbox/Editor/Workspace/Dependencies/AddVersion/index.js`

[2019-10-13 16:57] mindplay-dk commented on #405
The settings UI distinguishes between "User Settings" and "Workspace Settings".

Wouldn't it make sense for "User Settings" to be saved to my user account?

And "Workspace Settings" to be saved to the project sandbox?

(For some reason, the app locks up for me a lot lately, and I have to clear the application cache - every time, I lose all my user settings, colors, etc... since prettier gets enabl

[2019-10-13 17:58] steventsao commented on #2673
Thank you. I need to forward both `:3000` and `:3031` to my remote to work.

[2019-10-13 17:58] #2673 closed

[2019-10-13 18:36] fullstackzach commented on #2621
I will work on `/app/pages/common/Modals/LiveSessionEnded/index.js`

[2019-10-13 19:30] sheriallis commented on #2621
Hi, I'll work on `/app/pages/Sandbox/Editor/Workspace/Project/Project.tsx`

[2019-10-13 20:19] fullstackzach commented on #2621
I'll take `/app/pages/Sandbox/Editor/Workspace/OpenedTabs/index.js` next

[2019-10-13 21:07] sajadhsm commented on #2621
Hi
I would like to work on `/app/pages/common/Modals/PreferencesModal/Appearance/index.js`

[2019-10-14 08:33] AlixWang opened #2770 "sandbox can be undefined in EditorPreview's render()"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | Windows 10           |

  **Route:**
  https://codesandbox.io/s/bol

[2019-10-14 11:15] NANASHI0X74 opened #2771 "relative urls in codesandbox"
# Relative Urls in codesandbox

- ## What is this feature?
if I use relative urls anywhere in the html document, that should work or there should be a setting which enables redirecting relative paths to the right static path on codesandbox (if the files are present in the sandbox)
- ## How the feature should work?
relative paths to any sort of resource (img, stylesheet,, script, document...) shoul

[2019-10-14 11:23] NANASHI0X74 commented on #2771
simply looking at the commit messages in the pr, the original developer might have actually finished his work, but then didn't respond to a maintainer engaging with him a few months later

[2019-10-14 11:37] oskarabc commented on #2739
Thanks for this catch @hasparus and we'll be shipping a fix as soon as we can.

[2019-10-14 13:09] alanhoskins commented on #2621
Submitted PR for /app/pages/common/Modals/ForkServerModal/index.js #2774

[2019-10-14 13:10] burtek commented on #2730
Same here

[2019-10-14 13:12] Infi-Knight commented on #2621
Oops I just finished refactoring the same Component, should have notified in the issue😅

[2019-10-14 13:20] Infi-Knight commented on #2621
Took `/app/pages/common/Modals/FeedbackModal/index.js`

[2019-10-14 13:22] IPR-Kaspar opened #2775 "3 max big cubes animation"
# 🐛 bug report

![image](https://user-images.githubusercontent.com/54580256/66754377-81b6e000-ee9e-11e9-9550-31379fb5a60a.png)

## Description of the problem

Does it suppose to have 3 max big cubes? Or it's a feature? :)
It happened after clicking the smaller and avoid hover over big ones.

## How has this issue affected you? What are you trying to accomplish?

Perfectionism

### Link to sandbox:

[2019-10-14 15:40] pauldariye opened #2777 "TypeError: Cannot read property 'collection' of undefined"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 79.0.3941 | OS X 10.15.0           |

  **Route:**
  https://codesandbox.io/das

[2019-10-14 17:54] seanaleid opened #2779 "Crashed during testing"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | OS X 10.14.6           |

  **Route:**
  https://codesandbox.io/s/t

[2019-10-14 18:07] armujahid commented on #2621
Submitted PR for `/app/pages/Search/index.js` https://github.com/codesandbox/codesandbox-client/pull/2780

[2019-10-14 19:28] kalaivanan-muthusamy commented on #2621
Hi, I will work on  /app/pages/Sandbox/Editor/Workspace/Project/Project.tsx

[2019-10-14 19:34] ivandevp commented on #2621
Hi! I would like to contribute with `/app/pages/Sandbox/Editor/Workspace/Files/index.js` :blush:

[2019-10-14 20:27] ftonato opened #2783 "🔨 Refactored 🧠 Overmind Hacktober | /app/pages/common/Modals/EmptyTrash/index.js : refactor to use Overmind"
## What kind of change does this PR introduce?

Refactors code as a part of hacktoberfest mentioned in #2621.
@Saeris @christianalfoni

## What is the current behavior?

/app/pages/common/Modals/EmptyTrash/index.js was using inject and hooksObserver from app/componentConnectors and written in JS.

## What is the new behavior?

uses useOvermind hook from app/overmind and converted to tsx.

## What

[2019-10-14 20:32] #2783 closed

[2019-10-14 20:33] ftonato commented on #2783
Hey,

Ignore this issue it was my mistake!

[2019-10-14 21:34] hasparus commented on #2739
Thanks :)

[2019-10-14 21:36] sheriallis commented on #2621
I'm working on `/app/pages/Curator/index.js`

[2019-10-15 00:35] aoberoi commented on #2583
I understand that the above PR will prevent more than one main port tab from being opened.

But for a sandbox which already has several main port tabs open, once the above PR is deployed, will I be able to close them? Will they automatically be closed?

[2019-10-15 00:40] aoberoi commented on #530
I know this is an old issue, but I think its the most relevant for my question.

Is there a way to hide the "Browser" part of the preview, and still keep the "Terminal", "Console", "Problems", etc panels which are usually split below?

I'm building a Node application that isn't consumed by a browser, so the Browser panel always displays 404. But the Terminal and other panels still have valuable ou

[2019-10-15 06:23] khanakia opened #2788 "Error: Cannot find module './config'"
# 🐛 bug report
Error: Cannot find module './config'

## Description of the problem
I have simple node.js program and when i run the command in TERMINAL i get this error. I have config.js file already in the same directory.
`node src/pubsub/subscriber.js`

## How has this issue affected you? What are you trying to accomplish?
I have just created a simple node.js program.

### Link to sandbox: [link

[2019-10-15 08:40] eps1lon commented on #1570
While being able to use packages from arbitrary URLs would still be nice the use case of this issue should be solved with https://twitter.com/codesandbox/status/1181184975460282368

[2019-10-15 09:36] jepser commented on #2770
I don't see anything here @AlixWang if you could bring more info it will be useful.

[2019-10-15 10:08] devin6391 opened #2792 "Login cause crashes frequently"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | Windows 10           |

  **Route:**
  https://codesandbox.io/dashb

[2019-10-15 10:42] CompuIves commented on #2726
Hmm, interesting. This seems to reside in our BrowserFS implementation, I'll take a look!

[2019-10-15 10:46] CompuIves commented on #2726
Hmm, do you still experience this in Firefox 70.0b14? I can't seem to reproduce this right now.

[2019-10-15 10:58] CompuIves opened #2793 "Preferences items still show if not signed in"
# 🐛 bug report

## Description of the problem
If you're not signed in, we show items. I think this was introduced in a refactor?
![image](https://user-images.githubusercontent.com/587016/66825878-dcf6da00-ef53-11e9-8593-796e7288474e.png)

[2019-10-15 12:13] dotnetspec opened #2794 "DependencyNotFoundError: Could not find dependency: '' relative to <path/file>'"
# 🐛 bug report

## Description of the problem
import {
  render
} from "@testing-library/react"
causes error:
'DependencyNotFoundError: Could not find dependency: '' relative to <path/file>''
in a file at src/app/js level in a Create-React-App.
The same import in files lower down in the project structure cause no error.
Codesandbox reports:
[code]
But it has already been added.

## How has this is

[2019-10-15 12:17] christianalfoni commented on #2726
Yeah, just tested: `71.0a1 (2019-10-14) (64-bit)` , opens fine?

Maybe they have fixed the issue already? :)

[2019-10-15 12:42] siddharthkp opened #2796 "Recovered changes can't be discarded"
# 🐛 bug report

Thanks to @wolverineks for the detailed repro. I have copy pasted some of the feedback they gave us.

## Description of the problem

Paraphrased: When you close the editor without saving changes (intentionally) and come back later, codesandbox recovers the changes for you but does not let you discard the changes (or go back to the saved state with undo)

## How has this issue affec

[2019-10-15 12:45] CompuIves commented on #2796
Right now it's possible, but too hidden. You can do it this way:

![image](https://user-images.githubusercontent.com/587016/66832449-9c528d00-ef62-11e9-8d5f-1227dc535688.png)

Or this way:

![image](https://user-images.githubusercontent.com/587016/66832493-b42a1100-ef62-11e9-9205-5ab1ae2cf243.png)

BUT, it's disabled here for some reason:

![image](https://user-images.githubusercontent.com/587016/

[2019-10-15 12:48] siddharthkp commented on #2796
I recommend adding it to the notification itself:

![Screenshot 2019-10-15 at 2 48 07 PM](https://user-images.githubusercontent.com/1863771/66832752-d4ee6880-ef5a-11e9-946e-6402b20c1b8f.png)

[2019-10-15 12:50] CompuIves commented on #2794
Ah, this is because we don't process `devDependencies` right now for bundle size reasons. One quick fix is moving `@testing-library/react` to `dependencies` in `package.json`. We have to fix this in the future, or move detected big projects automatically to containers.

[2019-10-15 13:30] divyenduz opened #2799 "Remove some default VSCode keybindings for UX"
# 🐛 bug report

## Description of the problem

`cmd + 1`, `cmd + 2`, `cmd + 3` are some of the default VSCode keybindings used to split panes. When running VSCode in browser, these keybindings override the tab switch behavior.

## How has this issue affected you? What are you trying to accomplish?

I was trying to use CSB and switch tabs.

### Your Environment

| Software         | Name/Version |

[2019-10-15 13:32] divyenduz commented on #2799
This is not really a bug but more of a usability issue 🙌 (can easily be marked as a feature request).

Current workaround is to manually remove these keybindings.

[2019-10-15 14:49] kushagra12 commented on #2621
Submitted a PR for refactor of `/app/pages/common/Modals/PRModal/index.js` #2800

[2019-10-15 15:19] kushagra12 opened #2801 "Github sign in doesn't work in localhost"
# 🐛 bug report

## Description of the problem

As part of hacktoberfest, I was making testing my code for PR #2800. I observed a bug where if you have not authorized GitHub in main site, sign in via Github in localhost doesn't work.

## How has this issue affected you? What are you trying to accomplish?

Wasn't able to test my code but as stated, problem is only there in localhost.

### Link to sa

[2019-10-15 15:41] ftonato commented on #2621
Heyy,
- [ ] I am working on `/app/pages/common/Modals/PRModal/index.js`

[2019-10-15 15:43] lusan commented on #2621
Hi I am working on, please assign it to me
/app/pages/Sandbox/index.js
/app/pages/Sandbox/Editor/Workspace/Project/SandboxConfig/TemplateConfig.tsx
/app/pages/Sandbox/Editor/Workspace/Project/SandboxConfig/SandboxConfig.tsx
/app/pages/Sandbox/Editor/Workspace/items/Live/LiveInfo.js

[2019-10-15 15:46] eliamartani commented on #2621
Hi, can you assign to me
` /app/pages/common/Modals/PreferencesModal/index.js` ?

[2019-10-15 16:32] jyotiarora2610 commented on #1846
Hi, I'm also facing the same issue with node v10.16.3 and here is my error log file
[yarn-error.log](https://github.com/codesandbox/codesandbox-client/files/3730418/yarn-error.log)

[2019-10-15 17:39] NileshPatel17 commented on #2621
I am working on ```/app/pages/Profile/index.js```

[2019-10-15 18:09] melugi commented on #2621
Hey, I'll be working on `/app/pages/common/Modals/PreferencesModal/Badges/index.js`.

[2019-10-15 19:23] Avi98 commented on #2621
hi, if it's okay I can refactor ` /app/pages/common/Modals/index.js`

[2019-10-15 21:07] deinakings commented on #2621
Hi! I can help refactoring `app/pages/Sandbox/Editor/Workspace/OpenedTabs/index.js`

[2019-10-16 00:14] dotnetspec commented on #2794
Ok, thanks for the notification. Done that and all works now.
Codesandbox is great, BTW ...

[2019-10-16 00:14] #2794 closed

[2019-10-16 09:04] armujahid commented on #2801
You can copy the contents of the jwt local storage key from production to dev environment.
Quote from [CONTRIBUTING.md](https://github.com/codesandbox/codesandbox-client/blob/master/CONTRIBUTING.md)

[2019-10-16 10:27] burtek commented on #2730
Looks like Opera's issue: https://www.reddit.com/r/operabrowser/comments/di67hf/codesandbox/

[2019-10-16 13:04] ganes1410 commented on #2621
I am working on this `/app/pages/common/Modals/NetlifyLogs/index.js`

[2019-10-16 13:12] kushagra12 commented on #2801
I can see this behaviour was recently changed in #2750. I am using the build with that change.

[2019-10-16 13:32] theghostyced opened #2813 "Implement shortcut for popping up terminal or console"
# 🌈 Feature

## What is this feature?
So after playing around with codesandbox, I found out that though it had a console/terminal no shortcut was provided as we have in `VSCode` . After trying to implement this myself and fail 😅 decided to raise the issue here and hopefully someone would implement it.

## How the feature should work?
Given a user of codesandbox uses the shortcut `Ctrl + ,` it shou

[2019-10-16 13:58] nuragic opened #2814 "The content of master doesn't reflect what's actually in production: why?"
Hello!

I've found 2 issues today and I was planning to fix them, but it seems that they've been already fixed on master... cool, but then... the problem here is that those changes doesn't appear to be deployed in production! At least from me... I've checked by visiting the affected pages in incognito mode, so, not a cache problem on my side I guess.

Why is so? Is it the intended behaviour? How c

[2019-10-16 14:03] nuragic commented on #2814
First issue: wrong date format on https://codesandbox.io/patron
![Screen Shot 2019-10-16 at 10 10 41](https://user-images.githubusercontent.com/1586378/66926318-1bf95e00-f02e-11e9-9ca0-2ae6025f901a.png)

Second issue: empty section on https://codesandbox.io/legal/terms
![Screen Shot 2019-10-16 at 15 58 49](https://user-images.githubusercontent.com/1586378/66926328-2156a880-f02e-11e9-961f-4afc891b0

[2019-10-16 18:49] zivanovicb opened #2822 "Cannot use JSX unless the '--jsx' flag is provided as soon as new dependency is added"
# 🐛 bug report

## Description of the problem
I create a React + TS sandbox, and everything looks fine - no errors. As soon as I add a new dependency [this](https://imgur.com/a/ITCHHxT) appears. If I refresh, there are no errors. Then I add a new package, and the error is there again.

## How has this issue affected you? What are you trying to accomplish?
Red is annoying.

### Your Environment

|

[2019-10-16 18:50] libetl commented on #1603
Sorry, I did not put my eyes anywhere in storybook lately because we had some big team problems in my regular job.

The feature is in *very* stale status, because :
1) it is hard to keep the feature up to date with all the major compilation and build pipeline changes in the storybook repository
2) the sandpack project is in abandoned status

[2019-10-16 21:54] shobhitg commented on #2822
+1 I am seeing this issue too. I am using Chrome Version 77.0.3865.90.

[2019-10-16 22:47] deinakings commented on #2621
Opened a PR for `app/pages/Sandbox/Editor/Workspace/items/Server/EnvVars/index.js` https://github.com/codesandbox/codesandbox-client/pull/2818

[2019-10-17 00:41] SAPikachu commented on #2822
+1 My project had been working fine until today, and then this error happens in all TSX files. I also see "Module XXX can only be default-imported using the 'esModuleInterop' flag" error in some of the files. I am using Firefox 69. Weirdedly it is working if I try to open the sandbox without logging in.

[2019-10-17 00:45] #2749 closed

[2019-10-17 01:13] ganes1410 commented on #2621
Hey @christianalfoni, Is this file `/app/pages/common/Modals/ShareModal/index.js` also getting changed in the parallel rewrite. Because I am seeing a lot of unused methods.

[2019-10-17 02:32] christineoo commented on #2621
Hi 👋 I created PR for the files below:

app/src/app/pages/common/Modals/StorageManagementModal/index.js https://github.com/codesandbox/codesandbox-client/pull/2808
app/pages/common/Modals/PickSandboxModal/index.js https://github.com/codesandbox/codesandbox-client/pull/2811
packages/app/src/app/pages/Search/index.js https://github.com/codesandbox/codesandbox-client/pull/2819

[2019-10-17 06:12] kishanbhimani opened #2823 "Preview fail when Instant preview enabled (Show preview on every keypress) in preferences."
## There are two scenarios:

1. With **Preview on edit** enabled
        Preview works fine when **_Instant preview_** disabled, But it **fails** when it's enabled
(as shown in attached screen recording)
2. With **Preview on edit** disabled
        Preview works fine on save.

[codesandbox_instant_preview_issue.mp4.zip](https://github.com/codesandbox/codesandbox-client/files/3737622/codesandbox_in

[2019-10-17 06:21] lich-yoo opened #2824 "crash log"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | Windows Server 2008 R2 / 7           |

  **Route:**
  https://code

[2019-10-17 07:19] burtek commented on #2822
+1 same here

[2019-10-17 12:14] oskarabc commented on #2739
This should have been fixed with the latest deploy. Thanks!

[2019-10-17 12:14] #2739 closed

[2019-10-17 14:59] 8clever commented on #2822
+1

[2019-10-17 17:06] br1anchen commented on #2621
Hi, I would like to work on `/app/pages/common/Modals/PreferencesModal/EditorPageSettings/EditorSettings/index.js` file

[2019-10-17 19:30] Zaldos commented on #2726
Just had a look into this as I was directed here. Seems that with version 71.0b1 (64-bit) of developer this still happens. Whenver the tracking protection is on and you set it to custom -> block cookies -> unvisited websites, it causes the sandbox to not load:
![image](https://user-images.githubusercontent.com/350699/67040887-52150b80-f11c-11e9-9d6c-29400c5838fb.png)
First error is
![image](https:

[2019-10-17 23:12] jeremy-deutsch opened #2836 "tsconfig options ignored after saving"
# 🐛 bug report

## Description of the problem

When tsconfig has strictness flags in `compilerOptions` (such as `strictNullChecks`, `strictBindCallApply`, or just `strict`), after you save the file, the editor stops showing type errors that reflect those flags. If unsaved changes are made to `tsconfig.json` in a separate tab, the tab with code will show the correct errors until the files are saved

[2019-10-18 04:10] wolverineks commented on #2822
have you checked the version of typescript in package.json?
i had this error, then i changed it to `"typescript": "3.6.2"` and this error went away

[2019-10-18 06:33] adrianloh opened #2838 "Cache Storage gets wiped on reload. How to stop this?"
# ❔ Question

When I hit reload, the entire Cache Storage gets wiped, including caches I created -- which I need to persist across reloads -- is this expected behavior? Is there a way to stop this?

### Link to sandbox: [link]() (optional)

### Your Environment

| Software         | Name/Version |
| ---------------- | ------------ |
| Сodesandbox      |
| Browser          |
| Operating System |

[2019-10-18 08:26] coldbrewstudios commented on #1912
for me it was adding `lang='scss'` to the `<style>` tag. It looks like "sass" is supported but "scss" is bugging out. Also I think the empty style tag as mentioned above will cause the issue too.

[2019-10-18 10:28] kai-wanders opened #2840 "Explorer won't rescan"
# 🐛 bug report

## Description of the problem

The file explorer doesn't refresh and there isn't/I can't find a way to force it to rescan. The files exist, I can link them, use them, and see them in the terminal, but there's no way to make the explorer see them.

## How has this issue affected you? What are you trying to accomplish?

They're not files I need to edit, so not being able to open them

[2019-10-18 10:42] lbogdan commented on #2840
Hey @kai-wanders

That's expected behavior under certain use-cases. A link to the sandbox would help to investigate further.

[2019-10-18 12:26] zx6658 opened #2842 "Error "Uncaught ReferenceError: BrowserFS is not defined " in preview when create react sandbox"
# 🐛 bug report

## Description of the problem
`"Uncaught ReferenceError: BrowserFS is not defined "` Error in browser preview when make app with create react sandbox .
<img width="544" alt="스크린샷 2019-10-18 오후 9 24 37" src="https://user-images.githubusercontent.com/26598542/67094022-dc797000-f1ed-11e9-92d1-53020896e74e.png">
<img width="785" alt="스크린샷 2019-10-18 오후 9 23 37" src="htt

[2019-10-18 12:35] lbogdan commented on #2842
Hey @zx6658 ,

It seems to work here:

![image](https://user-images.githubusercontent.com/2083930/67094583-d4550c80-f1bc-11e9-9143-1482b1e6292f.png)

Can you also take a look at the "Network" tab, maybe requests are blocked by you ad-blocker or some other browser extension?

[2019-10-18 12:38] lbogdan commented on #2838
Hey @adrianloh ,

Can you please provide a link to your sandbox, and detail a bit current vs. expected behavior?

[2019-10-18 12:55] CompuIves commented on #2770
I saw this too, but it seems like an impossible state because that component shouldn't even render if currentSandbox is undefined.

[2019-10-18 12:58] lbogdan commented on #2824
Closing as duplicate of #2770 .

[2019-10-18 12:58] #2824 closed

[2019-10-18 13:06] lbogdan commented on #2814
Hey @nuragic ,

Thanks for the feedback! Currently this is intended behavior, yes, but we're working towers a workflow that will ensure that `master` is always deployed to production. You can see the latest deployed commit at the bottom of the sidebar, for example now it's

![image](https://user-images.githubusercontent.com/2083930/67096497-09635e00-f1c1-11e9-81f5-48454fac47e5.png)

which means th

[2019-10-18 13:06] #2814 closed

[2019-10-18 13:12] lbogdan commented on #2801
Closing this, as it was addressed in #2750 . @kushagra12 If this is still an issue, please make sure your PR is merged with latest master.

[2019-10-18 13:12] #2801 closed

[2019-10-18 13:16] lbogdan commented on #2775
Closing as duplicate of #452 . We're also working on a new homepage, which will hopefully be *more perfect* than the current one. 🙂

[2019-10-18 13:16] #2775 closed

[2019-10-18 13:18] lbogdan commented on #2754
Closing as duplicate of #2770 , please follow that instead.

[2019-10-18 13:18] #2754 closed

[2019-10-18 13:25] lbogdan commented on #2779
Looks like `state.files[test.path]` is `undefined` here:
https://github.com/codesandbox/codesandbox-client/blob/729d375557db6d21a692184e91bae14c12116df2/packages/app/src/app/components/Preview/DevTools/Tests/index.tsx#L388

[2019-10-18 13:28] lbogdan commented on #2771
Hey @NANASHI0X74 ,

I don't think #463 is related, though, that was about having relative URLs in the preview's address bar.

[2019-10-18 13:33] Gobinath-Manokaran commented on #2621
Hi I would like to work on  /app/pages/Sandbox/QuickActions/index.js

[2019-10-18 13:42] lbogdan commented on #2777
Looks like `data.me` is `undefined` here:
https://github.com/codesandbox/codesandbox-client/blob/729d375557db6d21a692184e91bae14c12116df2/packages/app/src/app/pages/Dashboard/Content/routes/PathedSandboxes/index.js#L36

[2019-10-18 13:49] lbogdan commented on #2712
Hey @rebornix ,

We only support a limited set of `parcel` features inside client sandboxes, but you could try with a container sandbox - see my comment [here](https://github.com/codesandbox/codesandbox-client/issues/2354#issuecomment-527564461) for reference. Let us know if that works or you encounter further issues.

[2019-10-18 13:52] lbogdan commented on #2836
Hey @jeremy-deutsch ,

Can you please detail a bit what's the current vs. expected behavior? I here see the expected `null` check errors inside your sandbox:

![image](https://user-images.githubusercontent.com/2083930/67100040-ab864480-f1c7-11e9-993e-22ffa46dd342.png)

[2019-10-18 13:57] lbogdan commented on #2792
Looks like `data.me` is `undefined` here:
https://github.com/codesandbox/codesandbox-client/blob/729d375557db6d21a692184e91bae14c12116df2/packages/app/src/app/pages/Dashboard/Sidebar/SandboxesItem/index.js#L93-L95

[2019-10-18 14:05] lbogdan commented on #2707
Closing as duplicate of #2792 , please follow that instead.

[2019-10-18 14:05] #2707 closed

[2019-10-18 14:21] lbogdan commented on #2679
Hey @pskelin ,

This is probably because we don't properly detect the `exports` in those files; btw, npm packages should only expose ES6 code if under `module` field in `package.json`, we only added support for it because there's quite a few improperly authored npm packages. 🙁 It works when you copy it to the project because we always transpile ES6 in project files.

[2019-10-18 14:41] lbogdan commented on #2674
Closing this as it was fixed in #2676 .

[2019-10-18 14:41] #2674 closed

[2019-10-18 14:47] lbogdan commented on #2668
Looks like `sandbox` is `undefined` here:
https://github.com/codesandbox/codesandbox-client/blob/43d96d5957d164b3ab0e368182633958a0a21d89/packages/common/src/utils/url-generator.ts#L115

[2019-10-18 14:47] jeremy-deutsch commented on #2836
That’s odd. I’ll look into it more and post screenshots once I’m at a computer, but for now, could you try opening `index.ts` and hitting ctrl-s/cmd-s, potentially after making some trivial edits? That tends to make the type errors disappear for me.

[2019-10-18 14:49] lbogdan commented on #2649
Closing as duplicate of #2792 , please follow that instead.

[2019-10-18 14:49] #2649 closed

[2019-10-18 14:51] lbogdan commented on #2637
Closing as duplicate of #2792 , please follow that instead.

[2019-10-18 14:51] #2637 closed

[2019-10-18 15:04] lbogdan commented on #2634
Hey @Riccardo-Andreatta ,

Here's an article about how to make Angular 8 work in CodeSandbox: https://scotch.io/@mathieu-vacher/how-to-build-a-template-with-angular-material-v8 . Following the steps there I ended up with a working Angular 8 sandbox: https://codesandbox.io/s/angular-9hbmc . Does that address your issue?

[2019-10-18 15:08] lbogdan commented on #2629
This looks like a duplicate of #2674 , which was fixed in #2676 . @HarishTeens Can you please confirm it's fixed for you?

[2019-10-18 15:10] lbogdan commented on #2622
@jyash97 Looks like this was fixed in #2624 , can you please confirm?

[2019-10-18 15:17] nuragic commented on #2814
Ookk gotcha thanks for clarifying!

[2019-10-18 16:20] jeremy-deutsch commented on #2836
Yeah, confirmed that (I'll update the description).

Before hitting ctrl-s:
![Screenshot from 2019-10-18 09-18-05](https://user-images.githubusercontent.com/13303900/67110746-4bbc7900-f188-11e9-940e-180f596386ed.png)

After hitting ctrl-s:
![Screenshot from 2019-10-18 09-18-31](https://user-images.githubusercontent.com/13303900/67110748-4c550f80-f188-11e9-817c-de65e3b9b02a.png)

[2019-10-18 17:40] bryceosterhaus commented on #2842
I'm also seeing this issue. And I don't see anything being blocked in the network tab, I've disabled all browser extensions as well.

Codesandbox: PROD-1571237038-a19d42751
OS: Catalina, 10.15
Browser: Chrome(77.0.3865.120)

[2019-10-18 20:50] kiliman commented on #2621
Any chance we can get the claim listed updated? I've seen people claiming pages, or not claiming and issuing PRs. It's getting hard to make sure we're not stepping on each other.

Thanks!

[2019-10-18 22:33] kiliman commented on #2621
I went through all the comments and PRs and updated the check list. All Completed/Merged PRs are checked and link to PR #. All Open PRs are linked. All Claimed items have name and date, so you can tell how long ago the claim was made. Some are nearly 2 weeks old with no PR. Here's the display version and the "text" version that can be copy+pasted is below.

Hope this helps.

- [x]  [Completed by @

[2019-10-18 23:05] br1anchen commented on #2621
I would like to work on `/app/pages/Dashboard/Content/DragLayer/SelectedSandboxItems/index.js`

[2019-10-19 04:13] Gobinath-Manokaran commented on #2621
I would like to work on /app/pages/Sandbox/Editor/Header/SandboxName/SandboxName.tsx

[2019-10-19 04:31] Gobinath-Manokaran commented on #2621
I am woking on /app/pages/Sandbox/Editor/Header/index.tsx

[2019-10-19 07:03] patelrr commented on #2621
Created pull request [#2864 ](https://github.com/codesandbox/codesandbox-client/pull/2864) which refactors `/app/pages/Curator/index.js`

[2019-10-19 07:04] nianxiongdi opened #2866 "unavailable"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 74.0.3729 | Linux x86_64           |

  **Route:**
  https://codesandbox.io/das

[2019-10-19 07:19] Gobinath-Manokaran commented on #2621
Created pull request #2865 for refactoring /app/pages/Sandbox/Editor/Header/index.tsx

[2019-10-19 07:25] Gobinath-Manokaran commented on #2621
I would like to work on the refactoring of /app/pages/Sandbox/Editor/Workspace/Chat/index.js

[2019-10-19 08:36] Gobinath-Manokaran commented on #2621
Created pull request for refactoring /app/pages/Sandbox/Editor/Workspace/Project/Keywords.tsx #2867

[2019-10-19 09:36] armujahid commented on #2621
@kiliman You missed https://github.com/codesandbox/codesandbox-client/pull/2780 for /app/pages/Search/index.js. Kindly also add it in your table

[2019-10-19 12:02] br1anchen commented on #2621
I would like to work on `/app/pages/Dashboard/Content/routes/PathedSandboxes/Navigation/NavigationLink.js`

[2019-10-19 12:40] mariajorgemonteiro opened #2868 "Error accessing dashboard"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | Windows 10           |

  **Route:**
  https://codesandbox.io/dashb

[2019-10-19 15:06] mindplay-dk commented on #1281
I don't think that's true anymore?

I recently cleaned up many of my sandboxes after hitting the limit, and have been able to create several new sandboxes since without problems.

[2019-10-19 15:10] mindplay-dk opened #2870 "Invalid "cannot find module" warning"
# 🐛 bug report

I seem to run into this error a lot lately:

![image](https://user-images.githubusercontent.com/103348/67147202-09339300-f293-11e9-8b55-c70639c58e57.png)

It must be a false positive? I am able to import the function and run it, so. 🤷‍♂️

Here's a link to the sandbox:

https://codesandbox.io/s/ant-design-playground-p5lvj

[2019-10-19 20:26] vijaybritto opened #2871 "The UI broke while trying to login"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | Windows 10           |

  **Route:**
  https://codesandbox.io/dashb

[2019-10-19 20:26] vijaybritto commented on #2871
but the login was successful though.

[2019-10-19 22:28] caesarsol commented on #2870
I get it when types definitions cannot be found.
Example: same error with `lodash`, installing `@types/lodash` fixed the problem.

Is that your case?

[2019-10-19 22:44] kiliman commented on #2621
Updated checklist https://github.com/codesandbox/codesandbox-client/issues/2621#issuecomment-543984618

[2019-10-20 00:25] joshuaaron commented on #2822
+ 1 for this and the esModuleInterop flag error, even though I've set this to true in my tsconfig. Pretty annoying bug.

[2019-10-20 07:05] jyotiarora2610 commented on #2621
Hi, I'm working on /app/pages/Live/index.js, please assign it to me

[2019-10-20 07:26] yevhenorlov commented on #2621
Hello! I'd like to do `/app/pages/Dashboard/Content/routes/RecentSandboxes/index.js`

[2019-10-20 08:33] HarishTeens commented on #2629
Yes it is . Thanks @lbogdan

[2019-10-20 08:33] #2629 closed

[2019-10-20 08:44] bingjianguo opened #2875 "compiler error question for the project of master branch"
# ❔ Question
Is there something wrong for the  compilation error for master branch. For example:

1. in the file "packages/notifications/tsconfig.json" and packages/common/tsconfig.json
It missed the skipLibCheck: true in the compilerOptions section, if not, it will cause "Duplicate identifier" ts compilation errors

2. in the file "standalone-packages/monaco-typescript/src/lib/emmet/expand/extrac

[2019-10-20 08:50] mindplay-dk commented on #2870
Oh, sorry!

The package was *written* in TS, so I just assumed... But apparently the author forgot to actually emit and publish the typings. 😶

[2019-10-20 08:50] #2870 closed

[2019-10-20 11:47] Akryum opened #2877 "Display an helpful error message when Privacy protections may break the app preview pane"
# 🌈 Feature

In some cases, Privacy protections from the browser may break the app preview pane. Currently it displays nothing (blank). It would be nice to have an error message instead.

When the App Preview iframe doesn't load, display an error message like:

[code]

To reproduce this, you can go to Firefox settings, under the Privacy & Security > Content blocking section, select Custom and then

[2019-10-20 13:50] ganes1410 commented on #2621
Starting with `/app/pages/Sandbox/Editor/index.js`

[2019-10-20 15:11] lusan commented on #2621
Raised PR [2878](https://github.com/codesandbox/codesandbox-client/pull/2878) for /app/src/app/pages/Sandbox/Editor/Workspace/items/Live/LiveInfo.tsx

Raised PR [2874](https://github.com/codesandbox/codesandbox-client/pull/2874) for /app/src/app/pages/Sandbox/index.tsx

[2019-10-20 15:28] lusan commented on #2621
I am working on /app/pages/Dashboard/Sidebar/index.js.

[2019-10-20 17:07] lusan commented on #2621
Raised PR [[2880](https://github.com/codesandbox/codesandbox-client/pull/2880)] for /app/pages/Dashboard/Sidebar/index.js.

Raised PR [[2881](https://github.com/codesandbox/codesandbox-client/pull/2881/files)] for packages/app/src/app/pages/Sandbox/Editor/Content/Tabs/index.tsx

[2019-10-20 20:02] hetpatel33 commented on #2777
@Saeris @CompuIves @lbogdan
Can someone please review my fix for this?
PR is #2882

[2019-10-20 20:09] hetpatel33 commented on #2792
@Saeris @CompuIves @lbogdan
Can someone please review my fix for this?
PR is #2883

[2019-10-20 20:37] neochaochaos commented on #2621
Hi, I am working on /app/pages/Sandbox/Editor/Workspace/Files/DirectoryEntry/DirectoryChildren/index.js

[2019-10-21 00:15] neochaochaos commented on #2621
PR [[2887](https://github.com/codesandbox/codesandbox-client/pull/2887)] for /app/pages/Sandbox/Editor/Workspace/Files/DirectoryEntry/DirectoryChildren/ModuleEntry.js

[2019-10-21 01:44] jeffsieu commented on #2621
Hi, I'd like to do `/app/pages/Sandbox/Editor/Workspace/Project/SandboxConfig/SandboxConfig.tsx`

[2019-10-21 06:56] acerola1 commented on #2822
+1

[2019-10-21 06:59] jyotiarora2610 commented on #2621
Hi, I'd like to work on Modals/ForkServerModal/index.js

[2019-10-21 08:38] volodymyrkr opened #2889 "Error"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | OS X 10.14.5           |

  **Route:**
  https://codesandbox.io/das

[2019-10-21 09:05] pskelin commented on #2679
Thanks for the explanation @lbogdan

We changed the code to have the export on a single line so now it works.

I just wanted to point out a legitimate reason to ship ES6 modules via npm and not have a `module` field in `package.json`.

Our project https://www.npmjs.com/package/@ui5/webcomponents ships a set of UI web components, so developers are expected to only import the ones they use (we ship

[2019-10-21 13:07] yevhenorlov opened #2894 "yarn contributors:add throws an error"
# 🐛 bug report

## Description of the problem

`yarn contributors:add` throws an error: `is/are invalid contribution type(s)`.

## How has this issue affected you? What are you trying to accomplish?

Tried to add myself to the list of contributors and wasn't able to.

### Your Environment

| Software           | Name/Version  |
| ------------------ | ------------- |
| `all-contributors` | v.6.9.1

[2019-10-21 13:26] #2894 closed

[2019-10-21 13:46] kiliman commented on #2621
Updated checklist https://github.com/codesandbox/codesandbox-client/issues/2621#issuecomment-543984618

[2019-10-21 15:56] divyenduz opened #2895 "Flickering on initialization animation on Chrome"
# 🐛 bug report

## Description of the problem

When CSB is loading, the browser panel flickers a lot on chrome.
Video: https://www.loom.com/share/93ac0acaaac044d3891b4c71d3cd337e (see the browser panel at 4-5 sec)

## How has this issue affected you? What are you trying to accomplish?

UI/UX issue

### Link to sandbox: [link]() (optional)

### Your Environment

| Software         | Name/Version |

[2019-10-21 16:04] divyenduz opened #2896 "File synchronization rate limit"
# 🐛 bug report

## Description of the problem

Codesandbox has a rate limit for file synchronization set to 10. When we generate [Photon](https://photonjs.prisma.io/) outside of `node_modules` we get the following error:

![Untitled](https://user-images.githubusercontent.com/746482/67222162-0e2c4a00-f42d-11e9-8e0a-a29391acefee.png)

## How has this issue affected you? What are you trying to accomp

[2019-10-21 16:13] divyenduz opened #2897 "Module generated into node_modules is not found by the typescript language service"
# 🐛 bug report

## Description of the problem

We recommend [generating Photon into `node_modules`](https://github.com/prisma/prisma2/blob/master/docs/photon/codegen-and-node-setup.md). This doesn't get registered by the TS language server running within CSB.

## How has this issue affected you? What are you trying to accomplish?

The runtime works but users see a `Cannot find module` error all th

[2019-10-21 18:58] SyedMuhammadMuhsinKarim opened #2899 "💥 Crash Report"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | Windows 10           |

  **Route:**
  https://codesandbox.io/dashb

[2019-10-21 20:28] ldanet opened #2900 "Server hangs when trying to fetch "My Sandboxes""
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

I was on my dashboard and trying to access [My Sandboxes](https://codesandbox.io/dashboard/sandboxes) in the left-hand side menu. Instead of getting to view my sandboxes I got the text `Error!`. I then clicked on `My Templates` and was prompted to report this crash.
Viewing my dashboard works fine, but

[2019-10-21 20:29] robwdev opened #2901 "Site is crashing when I click into 'my sandboxes'"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | OS X 10.14.5           |

  **Route:**
  https://codesandbox.io/das

[2019-10-21 20:35] #2901 closed

[2019-10-21 20:35] ldanet commented on #2900
Part of the issue (error handling) is being fixed by https://github.com/codesandbox/codesandbox-client/pull/2883

[2019-10-22 00:00] primelos opened #2903 "Can't access my dashboard?"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 77.0.3865 | OS X 10.12.6           |

  **Route:**
  https://codesandbox.io/das

[2019-10-22 06:28] yevhenorlov commented on #2621
PR for `/app/pages/Dashboard/Content/routes/RecentSandboxes/index.js`: https://github.com/codesandbox/codesandbox-client/pull/2893

I'll take `/app/pages/Dashboard/Content/routes/TeamView/AddTeamMember/index.js` next.

[2019-10-22 08:32] webskydavid commented on #323
Github support on codesandbox is still in beta phase. I think it will be fully supported in the future. It will be nice to have this option, and also a way to select files that are committed. :)

[2019-10-22 08:38] changicho opened #2904 "Cannot copy and paste even any browser"
# 🐛 bug report

## Description of the problem

![error](https://user-images.githubusercontent.com/38618187/67269985-b3f5bc80-f4f2-11e9-9033-10773a37ca53.gif)

i cannot copy and paste in editor even in any of my brower...

## How has this issue affected you? What are you trying to accomplish?

### Link to sandbox: [link]() (optional)

### Your Environment

| Software         | Name/Version |
| ----

[2019-10-22 08:40] SaraVieira commented on #2889
closed by #2883

[2019-10-22 08:41] SaraVieira commented on #2871
We added some safety and it was closed by #2883

[2019-10-22 08:41] #2871 closed

[2019-10-22 08:41] SaraVieira commented on #2866
We added some safety and it was closed by #2883

[2019-10-22 08:41] #2866 closed

[2019-10-22 08:41] SaraVieira commented on #2792
We added some safety and it was closed by #2883

[2019-10-22 08:41] #2792 closed

[2019-10-22 08:58] schumannd opened #2905 "unable to open any sandboxes. get logged out with internal server error everytime"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | firefox | 69.0.0 | OS X 10.15           |

  **Route:**
  https://codesandbox.io/dashboa

[2019-10-22 09:26] yevhenorlov commented on #2621
Starting `/app/pages/Sandbox/Editor/Workspace/Chat/index.js`

[2019-10-22 09:45] renanborgez commented on #2730
Yes, I've tested with Opera version 66 and it works pretty well.

[2019-10-22 09:46] Nasdan opened #2907 "Cannot set property 'innerHTML' of null"
# 🐛 bug report

## Description of the problem

Getting error (Cannot set property 'innerHTML' of null) when create new plain vanilla project. It looks like it doesn't wait for the document to be mounted

### Link to sandbox: [link](https://codesandbox.io/s/infallible-microservice-d348j)

### Your Environment

| Software         | Name/Version |
| ---------------- | ------------ |
| Сodesandbox

[2019-10-22 10:41] NANASHI0X74 commented on #2771
https://codesandbox.io/embed/rians-html-cv-n8cxj?codemirror=1
this is the sandbox I'm struggling with. It uses relative urls for a stylesheet and some graphics

[2019-10-22 11:30] Tarektouati commented on #2621
Hi. I'd like to refactor this one  /app/pages/common/Modals/DeleteProfileSandboxModal/index.js

[2019-10-22 12:10] lbogdan commented on #2907
Hey @Nasdan ,

We had some temporary issues which might be related. Is this still happening for you?

[2019-10-22 12:20] SaraVieira commented on #2905
Hey

We had some server issues this morning and i think that may have been what caused this

Can you please test again?

[2019-10-22 12:21] SaraVieira commented on #2777
Closed by #2225 2882

[2019-10-22 12:36] #2889 closed

[2019-10-22 12:37] lbogdan commented on #2904
Hey @changicho ,

What if you use the keyboard shortcuts (Ctrl-C / Ctrl-V) instead?

[2019-10-22 12:37] SaraVieira commented on #2903
Hey!

This seems to have been fixed by #2882

[2019-10-22 12:37] #2903 closed

[2019-10-22 12:38] SaraVieira commented on #2900
Closing this as now it should wait for everything to be back

We had some issues with timeouts

[2019-10-22 12:38] #2900 closed

[2019-10-22 12:38] SaraVieira commented on #2899
Closed by #2883

[2019-10-22 12:38] #2899 closed

[2019-10-22 12:38] #2777 closed

[2019-10-22 12:40] changicho commented on #2904
Sadly, it does not work either

[2019-10-22 12:55] schumannd commented on #2905
it is fixed

[2019-10-22 12:55] schumannd commented on #2905
it is fixed

[2019-10-22 12:55] #2905 closed

[2019-10-22 17:55] Nasdan commented on #2907
Hi @lbogdan, it looks like it's working now, even if I refresh the example. Thank you.

![image](https://user-images.githubusercontent.com/4374977/67313950-2ae78100-f504-11e9-8703-b368e8671d02.png)

It was weird because the react examples was working and it doesn't the plain vanilla ones.
I don't know if it makes sense for you.

Thank you :)

[2019-10-23 02:49] zizizheng commented on #2822
+1

[2019-10-23 11:11] hacknlove commented on #1519
This is #1519, so maybe you mix up the issue number.

¿Could you indicate which issue should I look for?

[2019-10-23 11:18] hacknlove opened #2909 "¿How to set which port is considered the main one?"
# ❔ Question
¿How to set which port is considered the main one?

https://codesandbox.io/s/piano-wkfoe

This open two ports, the GraphQL 4000 and the client 3000.

4000 get opened first and then becomes Main.

I couldn't find anythis about this nor in the documentation, neither here, nor in Internet.

It would be great to be able to set this up in codesandbox.config.json

[2019-10-23 11:22] hacknlove commented on #2909
Now I am delaying 5 seconds the GraphQL server start, so the client port opens first and becomes the main port.

But it is an ugly way to do it, and very prone to problems with race conditions.

[2019-10-23 11:36] yevhenorlov commented on #2621
PR for `/app/pages/Sandbox/Editor/Workspace/Chat/index.js` is here: https://github.com/codesandbox/codesandbox-client/pull/2910
It's a work in progress (Typescript got the best of me for now), would appreciate feedback 😉

[2019-10-23 13:11] CompuIves commented on #2909
Hey @hacknlove, you can force a default port in the sandbox by creating `sandbox.config.json` and setting the contents to:

[code]

I hope this helps! I'll close the issue now, please open a new issue if you have a new question 😄 .

[2019-10-23 13:11] #2909 closed

[2019-10-23 13:24] hacknlove commented on #2909
Yes. It works.

Thank you very much!

[2019-10-23 15:58] dagatsoin opened #2911 "Typescript: modules not founds"
# 🐛 bug report

## Description of the problem
I reopened a project wrote two weeks ago. All my typescript modules became not founds.

## How has this issue affected you? What are you trying to accomplish?
![image](https://user-images.githubusercontent.com/3670794/67411775-6fcfee00-f5be-11e9-9bbd-191472d39845.png)
As soon I make a modification, all my typescript modules becomes not found.
If I refr

[2019-10-23 17:17] bryceosterhaus commented on #2842
I am no longer seeing this issue on `PROD-1571674162-0e9c0cfe9`

[2019-10-23 20:37] eckmLJE opened #2917 "Next.js - custom _app.js not being detected in pages directory"
# 🐛 bug report

## Description of the problem

In a Next.js sandbox, adding a `_app.js` file to the pages directory to override/extend the default is not being detected by the sandbox. `_app.js` is not being included in the next.js build / dev process.

## How has this issue affected you? What are you trying to accomplish?

I'm trying to experiment with persisting / manipulating components between

[2019-10-23 21:54] 22PoojaGaur commented on #2621
Hi, I am taking up /app/pages/common/Modals/PreferencesModal/Experiments/index.tsx

[2019-10-23 22:09] mdsadiq commented on #2621
i am taking up `pages/NewSandbox/index.js`

[2019-10-23 22:27] mdsadiq commented on #2621
I am taking up `/pages/Profile/Showcase/index.js`

[2019-10-23 22:46] 22PoojaGaur commented on #2621
Please review #2918
@Saeris and @christianalfoni

[2019-10-23 22:48] 22PoojaGaur commented on #2621
Meanwhile I am taking  /app/pages/Sandbox/Editor/Workspace/OpenedTabs/index.js

[2019-10-24 08:29] #2822 closed, assigned to nobody

[2019-10-24 08:32] lbogdan commented on #2911
Closing this, as it should be fixed in #2913 , and we just deployed it. Please reopen if it's still an issue for you.

[2019-10-24 08:32] #2911 closed

[2019-10-24 08:35] lbogdan commented on #2836
Closing this, as it should be fixed in #2913 , and we just deployed it. Please reopen if it's still an issue for you.

[2019-10-24 08:35] #2836 closed

[2019-10-24 09:14] sowmyy opened #2919 "Not able to Type/Edit in the editor."
# 🐛 bug report

Not able to type/edit in the editor.

Сodesandbox
Google Chrome | Version 78.0.3904.70 (Official Build) (64-bit)
Ubuntu

[CodeSandbox_Type_Bug.zip](https://github.com/codesandbox/codesandbox-client/files/3766648/CodeSandbox_Type_Bug.zip)

[2019-10-24 11:21] renanborgez commented on #2730
Opera fixed this issue in last stable release
![image](https://user-images.githubusercontent.com/1863024/67480883-0ce36300-f661-11e9-9bab-cb5aa53f12d6.png)

So, I'm closing this issue

[2019-10-24 11:21] #2730 closed

[2019-10-24 11:24] RickyWong33 opened #2920 "Serious problem of Javascript' console.log"
# 🐛 bug report

## Description of the problem
run this javascript below
[code]

## How has this issue affected you? What are you trying to accomplish?
The console should show `{text:'hello'}` but show `{text:''}`

### Link to sandbox: [link]() (optional)
https://codesandbox.io/s/static-hhehm?fontsize=14

### Your Environment

| Software         | Name/Version |
| ---------------- | ------------ |

[2019-10-24 11:28] lbogdan commented on #2920
Closing as duplicate of #1043 , please see the workaround there and subscribe to it for updates.

[2019-10-24 11:28] #2920 closed

[2019-10-24 11:28] lbogdan commented on #1978
Closing as duplicate of #1043 , please see the workaround there and subscribe to it for updates.

[2019-10-24 11:28] #1978 closed

[2019-10-24 11:29] lbogdan commented on #1043
@samdenty Ping?

[2019-10-24 12:24] #2907 closed

[2019-10-24 12:40] garethx commented on #2823
I can reproduce this in a fork of the recorded sandbox at https://codesandbox.io/s/relaxed-thompson-yn6up

[2019-10-24 12:45] garethx commented on #2788
You're seeing the error 'Error: Cannot find module './config'' in the terminal after running `node src/pubsub/subscriber.js`? Is this still the case? I'm not able to reproduce in a fork of the linked sandbox. Thanks.

[2019-10-24 13:18] garethx commented on #2771
It looks like the problem is caused by the use of the create-react-app environment (which importing from GitHub seems to default to) for a static site. If you use a static environment then the relative URLs work correctly. See https://codesandbox.io/s/static-i2y9l

[2019-10-24 13:18] sajadhsm commented on #2621
PR [#2922] for `/app/pages/common/Modals/DeploymentModal/index.js`
(Since no activity was done by its claimer for a long time)

[2019-10-24 13:32] kiliman commented on #2621
Updated checklist https://github.com/codesandbox/codesandbox-client/issues/2621#issuecomment-543984618

[2019-10-24 15:58] khanakia commented on #2788
It's seems working now.

[2019-10-24 15:58] #2788 closed

[2019-10-24 16:40] #2842 closed

[2019-10-24 19:49] doom777 commented on #2518
?

[2019-10-24 20:49] gragland commented on #2276
Okay figured out the culprit with the help of @DavidWells. uBlock Origin was blocking the script from being loaded from unpkg, even with it set to "allow all scripts" (presumably because it's loaded from the csb.app domain). Guess it doesn't like anything with the term "analytics" in the path. @lbogdan Not sure if there's an elegant fix here on the CodeSandbox side, but maybe you have an idea.

[2019-10-24 20:49] #2276 closed

[2019-10-25 12:14] Tarektouati commented on #2621
PR[#2926] for `/app/pages/Profile/Showcase/index.js` is ready, need review

[2019-10-25 15:34] krvajal commented on #2375
I just tried to follow the steps and it seems  that

does not work. `useOvermind` is not defined

[2019-10-25 18:46] nguanh commented on #2621
Hi
I would like to claim
/app/pages/Sandbox/Editor/index.js

[2019-10-25 20:52] jhsu commented on #2621
it looks like some components are already refactored and using overmind:
-  `/app/pages/Sandbox/Editor/Workspace/Dependencies/AddVersion/index.js` (is now `/app/pages/Sandbox/Editor/Workspace/Dependencies/AddVersion/index.tsx`)
- `/app/pages/Sandbox/Editor/Header/SandboxName/SandboxName.tsx`

[2019-10-25 21:50] kiliman commented on #2621
Updated checklist https://github.com/codesandbox/codesandbox-client/issues/2621#issuecomment-543984618

@Tarektouati /app/pages/Profile/Showcase/index.js (existing PR #2766)

@22PoojaGaur /app/pages/Sandbox/Editor/Workspace/OpenedTabs/index.js (existing PR #2769)

@nguanh /app/pages/Sandbox/Editor/index.js added claim

@jhsu /app/pages/Sandbox/Editor/Workspace/Dependencies/AddVersion/index.js (Com

[2019-10-25 22:18] Avi98 commented on #2621
Hi  i can work on /app/pages/Dashboard/Content/SandboxGrid/index.js

[2019-10-26 13:08] alexdevero commented on #667
I ran into this issue as well with React 16.11.0.

[2019-10-28 10:15] CompuIves opened #2931 "TypeScript version is not applied to tests"
# 🐛 bug report

## Description of the problem

Trying to use `as const` in a test doesn't work, but it does in the preview by changing the TS version in dependencies.

## How has this issue affected you? What are you trying to accomplish?

Using `as const` in tests.

### Link to sandbox: [link](https://codesandbox.io/s/red-voice-3tsmr) (optional)

### Your Environment

| Software         | Name/Ve

[2019-10-28 12:54] maniac0s opened #2933 "Codesandbox doesn't run"
I created this sandbox and it does nothing

https://codesandbox.io/s/romantic-cherry-l8g14?from-embed

[2019-10-28 13:52] changicho commented on #2904
i can copy & paste using my desktop, but i cannot in my laptop. even it is exactly same OS (windows 10 edu).

[2019-10-28 14:48] #2904 closed

[2019-10-28 16:31] zzrez commented on #2933
I have the same problem with a React starter I copied and was working 2 days ago. Now the Sandbox does not open, just shows the message "A sandbox error occurred, you can refresh the page to restart the container.". Refreshing the page results in same, opening the sandbox in another window just shows the whole control panel but with same error.

[2019-10-28 18:13] fauna-ryan opened #2935 "Unable to delete ZEIT integration"
# 🐛 bug report

## Description of the problem
Red "X" next to ZEIT integration at `Preferences` | `Integrations` does nothing. Error in console: 405 response to `DELETE` request to https://codesandbox.io/users/current_user/integrations/zeit

## How has this issue affected you? What are you trying to accomplish?
Unable to delete ZEIT integration

### Your Environment

| Software         | Name/Vers

[2019-10-29 04:01] samdenty commented on #1043
@lbogdan without a rewrite, it's a limitation. You could switch it to synchronous processing, but it will cause main thread to block.

[2019-10-29 04:59] mrblog opened #2936 "repo not associated with github repo anymore"
# 🐛 bug report

## Description of the problem

I have a sandbox at https://zhuym.codesandbox.io/. I used the "Create repo" option in the Github tab of the sandbox to create the repo https://github.com/mrblog/devMission-Laptimes-ReactJS but now the Sandbox doesn't appear to be associated with the repo anymore. Under the Github tab on the sandbox it doesn't have the PR or commit options anymore but

[2019-10-29 11:31] CompuIves commented on #2933
Hey @zzrez, the sandbox you mentioned tries to import `index.css`, but it seems like only `styles.css` is available. If you rename the import from `index.css` to `styles.css` it should work.

Which other sandbox do you have issues with?

[2019-10-29 13:26] #2771 closed

[2019-10-29 13:29] #2721 closed

[2019-10-29 13:51] #2619 closed

[2019-10-29 13:54] #1886 closed

[2019-10-29 13:54] #1767 closed

[2019-10-29 13:57] #2407 closed

[2019-10-29 14:11] Tarektouati commented on #2621
@kiliman my PR #2926  passed all checks and is ready to be merged instead of #2766

[2019-10-29 15:17] ivandevp commented on #2621
Hey @kiliman! My PR is ready for review/merge https://github.com/codesandbox/codesandbox-client/pull/2860, too.

[2019-10-29 15:33] kiliman commented on #2621
@Tarektouati and @ivandevp

I'm not part of the codesandbox team. I was simply trying to help manage the checklist so people would know what was already done/being worked on.

I believe the team is working on reviewing the PRs this week. They stated they will process them in PR order, so if you worked on a PR that's already been submitted, they may close yours (assuming the initial PR was fine).

[2019-10-29 18:51] zzrez commented on #2933
Thanks @CompuIves for answering. I didn't reference that sandbox, and think I deleted yesterday out of desperation when testing out. I am trying to find a good online editor close to VSCode for React & Gatsby projects. After simple tests setting up basic Gatsby starters on codesandbox, I signed up as a patron on Sat. But I fear prematurely, as since then have had difficulties.

As test I have been

[2019-10-29 19:05] zzrez commented on #2933
Now I just again started yellowcake2 and yellowcake, the copies of the original Gatsby starter. Both threw out different error from the previous errors above, see below. This time yarn seemed to do its bit, and otherwise it looked almost processed. I had to refresh the preview browser to run it through again a couple of times. So each time it seems a different glitch can appear.

![image](https://

[2019-10-30 02:18] ez-dev opened #2942 "Cannot load the result in the right side browser"
# 🐛 bug report

## Description of the problem
When I open any sandbax, the browser on the right which shows the result tries to load xxxx.csb.app which the dns of this domain cannot be resolved.

for example for this sandbox:
https://codesandbox.io/s/64pw7275nw
the browser tries to load "https://64pw7275nw.csb.app/" which is not working.

This problem happens at my workplace. When I try it on my c

[2019-10-30 09:42] daggala opened #2943 "Cannot find module "@styled-system/css"
# 🐛 bug report

## Description of the problem

I install it as a dependency and it seems to have worked but then I get a red line under the import statement and it says "Cannot find module "@styled-system/css" ts(2307). Still it seems it's working and I'm using the package. Maybe the error is just that  I can't hyperlink to the module? And something linked to typescript?

## How has this issue aff

[2019-10-30 10:10] daggala commented on #2943
oh ok no this was just a beginner's mistake using typescript. had to add this as a dependency: @types/styled-system__css

[2019-10-30 10:10] #2943 closed

[2019-10-30 11:03] garethx commented on #2942
Sorry about that - this should be resolved now!

[2019-10-30 11:24] #2942 closed

[2019-10-30 11:25] janmyler commented on #2465
Closing for the issue has been fixed.

[2019-10-30 11:25] #2465 closed

[2019-10-31 09:38] iamdileepkumar opened #2944 "API call Proxy redirection issue for React in codesandbox"
# ❔ Question

Hi,

Proxy redirection for api calls is not working in the react project present in codesandbox, but working fine in my local. And the app is behaving wierd and getting 405 status code for api call.

Am trying to call the api that is present in codesandbox (https://codesandbox.io/s/devconnector-api-1y5l4). I have kept the codesandbox hosted api link in proxy field in my react package

[2019-10-31 13:12] christianalfoni commented on #1074
this should have been resolved, closing now. Please reopen if still an issue

[2019-10-31 13:12] #1074 closed

[2019-10-31 13:14] siddharthkp commented on #2933
error Command failed with exit code 137.

If I'm not wrong 137 refers to out of memory. @lbogdan can probably check this out

Sandbox: https://codesandbox.io/s/github/thriveweb/yellowcake

[2019-10-31 13:18] christianalfoni commented on #1589
Closing this as it is fixed :)

[2019-10-31 13:18] #1589 closed

[2019-10-31 13:20] garethx commented on #2935
Trying to reproduce - have you been able to use the Zeit integration or does it not work with your current account linked? when first connecting Zeit to CodeSandbox did you exit at some stage before finishing the OAuth flow?

[2019-10-31 13:22] lbogdan commented on #2944
Hey @iamdileepkumar ,

This is expected behavior, as `create-react-app` sandboxes run in the browser, so there's no way to support the API proxy feature. You could however use a server sandbox for the client project, too, as shown in my comment here: https://github.com/codesandbox/codesandbox-client/issues/2354#issuecomment-527564461.

Does that address your issue?

[2019-10-31 13:27] christianalfoni commented on #1449
We have a new version of this coming out shortly, will close this for now. Stay tuned for an update and please create a new issue if you find any challenges with the new UI :) Sorry, do not have exact ETA, but very soon

[2019-10-31 13:27] #1449 closed

[2019-10-31 13:29] garethx commented on #2919
I'm unable to open the video, but do you still get the same issue when viewing in a private or incognito window?

[2019-10-31 13:34] CompuIves commented on #1643
It seems like this sandbox is working now! Let's open a new issue if there's still a problem coming up 😄 .

[2019-10-31 13:34] #1643 closed

[2019-10-31 13:35] christianalfoni commented on #452
These cubes are being expired shortly 😉

[2019-10-31 13:35] #452 closed

[2019-10-31 13:36] lbogdan commented on #2933
As @siddharthkp said, we're currently limiting the sandbox container memory to 1GB, so if the dev server (which in Gatsby's case is webpack) tries to use more than that, it will get killed. Anyhow, I can see that https://codesandbox.io/s/github/thriveweb/yellowcake is working now. @maniac0s Did you change anything?

[2019-10-31 13:41] lbogdan commented on #2917
Hey @eckmLJE ,

Did you get this to work in the meanwhile? It seems to be working now:

![image](https://user-images.githubusercontent.com/2083930/67951736-bf34a080-fbf4-11e9-9626-736a35a42bbd.png)

[2019-10-31 13:52] marcosvillabasa commented on #1215
how to use emmet in codesandbox ???'

[2019-10-31 14:07] siddharthkp commented on #2917
I can guess what happened here.

When you add `_app.js`, you have to restart nextjs (as far as I know, it doesn't restart itself on `_app.js` creation)

On CodeSandbox, you can restart the server from the Server tab on the left.

![Screenshot 2019-10-31 at 3 05 38 PM](https://user-images.githubusercontent.com/1863771/67953805-1c7a2300-fbf0-11e9-8143-0ada5e9dd01f.png)

[2019-10-31 14:09] lbogdan commented on #2875
Hey @bingjianguo ,

This is really strange, as we're all working on master without any issues. Can you please tell us what steps you followed to setup your local development environment?

[2019-10-31 14:13] siddharthkp commented on #2917
If it doesn't work for you or if there is any additional context you'd like to add, feel free to reply here and we'll re-open this issue.

[2019-10-31 14:13] #2917 closed

[2019-10-31 14:22] siddharthkp commented on #2936
Hey @mrblog It seems like a different sandbox: https://codesandbox.io/s/new-9bvmo is linked to the repo you mentioned.

Not sure what happened here. Can you repeat the steps and list them down for me here so I have more context on digging up the bug?

[2019-10-31 14:30] lbogdan commented on #2944
No, just create `sandbox.config.json` in the repo root, with
[code]
and re-import (reload) the sandbox in CodeSandbox, that should turn it into a server sandbox.

Can you link me to a sandbox in which this happens?

[2019-10-31 14:44] lbogdan commented on #2944
Ok, but how can I actually trigger an API request and see the `405` response you're referring to?

[2019-10-31 15:12] rohitjindal18 commented on #2793
@CompuIves What items need to be removed for not signed in users?

[2019-10-31 16:06] fauna-ryan commented on #2935
thanks for looking into it!
- i can use the ZEIT integration
- i did not exit the OAuth flow when first connecting; completed without error

[2019-10-31 16:15] #2935 closed

[2019-10-31 16:22] iamdileepkumar commented on #2944
Jus open the below codesandbox's in two tabs,

React Client - https://codesandbox.io/s/devconnector-client-uqunk
Node API - https://codesandbox.io/s/devconnector-api-1y5l4

Then in the react sandbox, in the browser, in the app, click on login link, give some random cred and click login. Then see in the network tab, api/auth call is rejected with status code 405.

**Expected**: It should throw an e

[2019-10-31 16:47] lbogdan commented on #2944
What I see right now is that it users the client sandbox URL, which would be right when using an API proxy:

![image](https://user-images.githubusercontent.com/2083930/67967682-b4870500-fc0e-11e9-8fa6-4454982f6d64.png)

You should use the server sandbox URL, like `POST https://1y5l4.sse.codesandbox.io/api/auth`.

[2019-10-31 17:45] iamdileepkumar commented on #2944
Hey @lbogdan , the concept of proxy in CRA is to redirect the API call to the proxy set in the package.json.

Eventhough api call seen in network tab is https://uqunk.csb.app/api/auth, but the actual API call that was done from our app is like POST https://1y5l4.sse.codesandbox.io/api/auth.

Request u to please, go through below links for better understanding of proxy particularly in CRA
https://c

[2019-10-31 18:06] iamdileepkumar commented on #2944
Hey @lbogdan ,

This is super cooool. This is working absolutely fine when creating sandbox.config.json with 'template' key in it. And a big thanks !!

But eager to know why this proxy doesn't work in the create-react-app sandbox and why does it work in server sandbox?
Can you explain in breif ? :)

[2019-10-31 20:39] lbogdan commented on #2944
Glad the server sandbox is working!

As I said in my first comment, `create-react-app` sandboxes run entirely in the browser, which is a limited environment, and there's no (easy) way of implementing the API proxy feature that local `create-react-app` apps support. Server sandboxes solve this issue by running the sandbox inside a container, pretty much mirroring your local development environment.

[2019-10-31 21:02] iamdileepkumar commented on #2944
Yeah I got it now. It is the container which is making the difference where we host our apps in container like AWS or Azure.

Thanks for your support @lbogdan  :)
Closing the issue.

[2019-10-31 21:02] #2944 closed

[2019-10-31 21:58] mrblog commented on #2936
Yeah, I was able to import the repo to a new Sandbox and rename the old broken one. I don't know how to duplicate what happened that made the sandbox no longer be associated with the github repo that it created it because it just stopped working as far as I can tell. At least I'm back working again with the new sandbox for now.

[2019-10-31 22:16] perfectcircle opened #2949 ""Oh no! Something broke!" - not able to create new or open existing sandboxes anymore"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

Creating a new Codesandbox or trying to open an old one will always result in an error.

  <h3>Crash Details</h3>

  <details>
Not able to create or open existing codesandboxes. The only exception are vanilla js codesandboxes.
Creating/Opening codesandboxes with this account on this machine with Firefo

[2019-11-01 00:14] ginkgo1928 opened #2950 "commit"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 78.0.3904 | Windows 10           |

  **Route:**
  https://codesandbox.io/u/gin

[2019-11-01 12:27] mshecket opened #2952 "I was trying to look at one of my old sandboxes, and the very minimal React app wouldn't come up"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 78.0.3904 | Linux x86_64           |

  **Route:**
  https://codesandbox.io/s/n

[2019-11-01 14:09] CompuIves commented on #2952
Heyo! That's indeed weird, I can't open the sandbox, is it deleted?

[2019-11-01 14:10] CompuIves commented on #2949
Heyo! Does incognito work in Chrome? Checking whether it's a caching issue.

[2019-11-01 20:04] mshecket commented on #2952
Sorry about that! I'm not experienced with putting in issues. I was actually trying to get a look at the sandbox to decide if I was ready to delete it. When I hard-reloaded codesandbox, the sandbox came up OK and I decided I was good to get rid of it. I should have left it around for debugging purposes.

I just went into my trash and restored it...hope that helps!

[2019-11-02 05:36] LogicRoom opened #2960 "Running a test and left a http request in it"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

Ran a test with backend call, then used jest to mock it. It crashed.

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 78.0.3904

[2019-11-02 13:35] klucsik opened #2962 "On android chrome can't type"
# 🐛 bug report

## Description of the problem

If I open codesandbox on android chrome (default mode) I can't type in to the code interface
Screen cap from the problem: https://youtu.be/lM3kEgQhn1g
## How has this issue affected you? What are you trying to accomplish?

Use codesandbox from smartphone

### Link to sandbox: [link]() (optional)

### Your Environment

| Software         | Name/Version

[2019-11-02 13:44] klucsik opened #2963 "Android chrome - autozoom in desktop site mode"
# 🐛 bug report

## Description of the problem

If I open codesandbox in android in desktop mode and try to write code, the site zooms in too much
Screencap: https://youtu.be/bH6dZEZgWY8
## How has this issue affected you? What are you trying to accomplish?
Use codesandbox from smartphone
### Link to sandbox: [link]() (optional)

### Your Environment

| Software         | Name/Version |
| ---------

[2019-11-02 22:15] saachibhayani opened #2964 "editor is not running the code"
# 🐛 bug report
I wrote most of this code on codepen.io and then I uploaded it to github so I could transfer it to codesandbox.  In codesandbox, the preview is just a blank screen.

### Link to sandbox: [link]() (optional)
https://codesandbox.io/s/new-gvc1k?fontsize=14

[2019-11-03 10:52] kidonng opened #2965 "Parcel with Pug doesn't work"
# 🐛 bug report

## Description of the problem

Using Pug with Parcel doesn't work, preview shows a blank screen. I checked preview's HTML and found no output but CodeSandbox's own template.

## How has this issue affected you? What are you trying to accomplish?

I want to move one of my repo to CodeSandbox but can't make it work. I've also tried Node envrionment but can't connect to the sandbox wh

[2019-11-03 14:19] chj-damon opened #2966 "Can I integrate codesandbox in my project?"
# ❔ Question

I want to preview some code in my project, I know codesandbox can do the same thing, so I think it would be perfect if I can use codesandbox directly in my project.
### Link to sandbox: [link]() (optional)

### Your Environment

| Software         | Name/Version |
| ---------------- | ------------ |
| Сodesandbox      |
| Browser          |
| Operating System |

[2019-11-04 06:23] Strahinja opened #2972 "Cannot import GitHub repository"
# 🐛 Cannot import GitHub repository

## Description of the problem

When trying to import a repository from GitHub (created by exporting to GitHub from Codesandbox container which was deleted, with emptied trash), I get the following message:

Upon refresh, I get the same error again, and my sandbox container can't start.

## How has this issue affected you? What are you trying to accomplish?

Cre

[2019-11-04 09:50] #2375 closed

[2019-11-04 10:24] lbogdan commented on #2972
Hey @Strahinja ,

There's an ongoing issue with [githack](https://raw.githack.com), a 3rd party service we're using for binary static assets for sandboxes from GitHub. We just added a fallback to GitHub raw URLs, can you please try again and confirm it's working?

[2019-11-04 11:04] Strahinja commented on #2972
I just tried it from Opera Touch on my phone, it works now. I was able to create the sandbox. Thanks for the help.

[2019-11-04 11:04] #2972 closed

[2019-11-04 11:20] raunofreiberg commented on #1570
Regarding this CI feature, is it now also possible to use tar.gz URLs directly in package.json on Codesandbox?

[2019-11-04 11:44] CompuIves opened #2973 "Support `codesandbox` field in `package.json`"
# 🌈 Feature

Similar to how we handle the `browser` field in `package.json`, we would support a `codesandbox` field. Some files don't work in CodeSandbox, like the `worker-loader`, and this would allow the library author to give a different version that works in CodeSandbox. The nice idea behind this is that we would still be able to make it work when exporting to zip, which is the most important

[2019-11-04 11:49] lbogdan commented on #2973
I was also thinking of using the `codesandbox` field in `package.json` as an alternative to `sandbox.config.json`, so maybe we can somehow conflate the two.

[2019-11-04 11:57] MichaelDeBoey commented on #2973
Maybe use [`cosmiconfig`](https://github.com/davidtheclark/cosmiconfig) so most commonly used config file types are supported? 🤔

[2019-11-04 13:02] andrei-cacio opened #2974 "Invalid plugin specified in Babel options: "proposal-optional-chaining""
# 🐛 bug report

## Description of the problem

I am trying to use the babel plugin `proposal-optional-chaining` in a custom `.babelrc` file. I simply added the depedency `@babel/plugin-proposal-optional-chaining` via the Add Dependency button and then I added the `@babel/plugin-proposal-optional-chaining` plugin name in the `plugins` attribute in the `.babelrc` file. Just like the docs stated: htt

[2019-11-04 16:57] Austinmoore1492 commented on #2964
You just need to change welcome.html to index.html and it should work.

[2019-11-04 18:52] zxti commented on #1311
Hello, just wanted to see if anything has changed in the past year.

I'm specifically interested in a use case similar to the [pagedraw stackblitz integration](https://pagedraw.io/fiddles/0ziyVbuEDB_s), where on page load, one creates a new sandbox, and then can continue to update various files in that sandbox from the hosting app.

Opening this up would encourage deep integration and adoption of

[2019-11-04 20:29] LilZcrazyG commented on #2072
I am still having this problem.

[2019-11-04 21:06] ldanet commented on #514
This would be really useful to me. I keep running into this issue where I write code to demonstrate something, but I do so in a separate file to the main entry point since the entry point has distracting boilerplate code. When I give the link or open my own sandbox I would like to see the relevant file with the demo, not the boilerplate.

[2019-11-04 23:39] nikgraf opened #2976 "Need to use Package.default to get the default export"
# 🐛 bug report

## Description of the problem

I published a small package using `tsdx`. I used it inside create-react-app for verification and then wanted to create a shareable CodeSandbox example.

I noticed somehow CodeSandbox does something unexpected. I need to `GraphiQlSpark.default` to get the default export. I wonder why this is the case.

## How has this issue affected you? What are you t

[2019-11-05 00:00] eloiqs opened #2977 ".env.development variables are not overriding .env variables"
# 🐛 bug report

## Description of the problem

As per [the official CRA documentation](https://create-react-app.dev/docs/adding-custom-environment-variables/#adding-development-environment-variables-in-env), creating a `.env.development` file and adding `REACT_APP_` prefixed variables should expose those variables on the `process.env` object when building in development mode. I would assume codesa

[2019-11-05 02:49] saachibhayani commented on #2964
This partially worked.  The css is not working like it should.  When I run it on codepen the css does work.

[2019-11-05 14:10] BingoRUS opened #2983 "🐛 Sandboxes with large packages in dependencies don't work"
# 🐛 bug report

## Description of the problem

Sandboxes with large packages in dependencies don't work anymore because jsdelivr has a 50Mb limit of package size. Previously, those sandboxes downloaded modules from unpkg. I think the issues appeared after [this commit](https://github.com/codesandbox/codesandbox-client/commit/7d3d90d43ec09df5f8aef8c55f0878c71e22d2d7#diff-d226da871ae5532ae042e1a98dc

[2019-11-05 15:44] allforabit opened #2985 "Mobile version of app reverts to desktop layout when used as a PWA"
# 🐛 bug report

## Description of the problem
The mobile version of the app works great but after installing on android chrome it reverts to desktop mode

## How has this issue affected you? What are you trying to accomplish?

### Link to sandbox: [link]() (optional)

### Your Environment

| Software         | Name/Version |
| ---------------- | ------------ |
| Сodesandbox      |
| Browser

[2019-11-05 16:58] jyash97 opened #2986 "Github repo dependency version mismatch"
# 🐛 bug report

## Description of the problem
On importing this repo: https://github.com/gaearon/suspense-experimental-github-demo/

It doesn't seem to work. On checking it further by logging version of `React` it pointed to `16.7.0-canary-fec00a869`

Also on hovering react version in dependencies, there is a version mismatch.

## Workaround

Select the specific version from the dependencies dropd

[2019-11-05 19:14] MartinKolarik commented on #2983
We are currently looking into ways of significantly increasing this limit at jsDelivr, but in the meantime, I'd recommend falling back to unpkg for requests that return `403` status.

[2019-11-05 19:20] MichaelDeBoey commented on #2458
Closed by #2460

[2019-11-05 19:20] #2458 closed

[2019-11-05 19:21] #2467 closed

[2019-11-05 19:23] #2521 closed

[2019-11-05 19:26] #2622 closed

[2019-11-05 19:26] #2616 closed

[2019-11-05 19:40] #2501 closed

[2019-11-05 20:01] danieldanielecki opened #2988 "Sign up/in using email and password"
# 🌈 Feature

It would have been good addition to give users a choice between GitHub's SSO and "traditional" email/password signing in/up.

[2019-11-05 20:34] Austinmoore1492 commented on #2964
@saachibhayani I think it has to do with your environment being create-react-app. I downloaded the files and used the Static template, under client templates and it works.

[2019-11-05 23:12] #2621 closed

[2019-11-06 06:01] henryachen commented on #2058
Same error too:
https://codesandbox.io/s/tribe-fullstack-project-4ccgf

[2019-11-06 07:56] MarcelloTheArcane opened #2991 "Nuxt preview is constantly reloading"
# 🐛 bug report

## Description of the problem

I'm trying to run the Layouts example on the Nuxt documentation: https://nuxtjs.org/examples/layouts/

When I try to view it in the browser, the page flashes (constant reloading, which you can see from the repeated console logs)

See for yourself! https://gofile.io/?c=nHQGJT

## How has this issue affected you? What are you trying to accomplish?

The

[2019-11-06 08:01] MarcelloTheArcane commented on #2991
Of note, it _only_ happens inside the https://nuxtjs.org/examples/layouts/ embedded page. Viewing on [codesandbox.io](https://codesandbox.io) is fine.

[2019-11-06 10:01] jyash97 commented on #2986
@CompuIves any thoughts on this?

This PR: https://github.com/gaearon/suspense-experimental-github-demo/pull/3 on the repo  has fixed it but I think there is some issue which we should look into.

[2019-11-06 10:26] lbogdan commented on #2991
Hey @MarcelloTheArcane ,

Thank you very much for this report, it helped us pinpoint an issue we were chasing for a couple of days now! We just deployed a fix, can you please test and let us know if this is still happening?

[2019-11-06 10:42] garethx opened #2992 "CORS error deploying to Netlify"
# 🐛 bug report

## Description of the problem
The following errors occur when trying to deploy https://codesandbox.io/s/mycoal-uixmf to Netlify ![Screenshot 2019-11-06 at 10 39 23](https://user-images.githubusercontent.com/1830035/68291519-efab8d00-0081-11ea-9936-b10a0d9684a1.png)

## How has this issue affected you? What are you trying to accomplish?
Unable to deploy sandbox to Netlify

### Link

[2019-11-06 14:23] jasonmcaffee commented on #1048
thank you for opening this issue!  I like codesandbox, but having this enabled by default and no clear way of disabling it almost lost me as a user.

[2019-11-07 09:01] ottopan opened #2996 "How to open the ‘web box model preview’ function？like chrome"
# ❔ Question

### Link to sandbox: [link](https://codesandbox.io/embed/static-12djn?fontsize=14) (optional)

### Your Environment

| Software         | Name/Version |
| ---------------- | ------------ |
| Сodesandbox      | Latest
| Browser          | Chrome
| Operating System |Win 10

![image](https://user-images.githubusercontent.com/18224971/68374516-ffa99680-017f-11ea-9484-d39053fab910.png)
![

[2019-11-07 15:04] sylvainpolletvillard commented on #2111
How about the other way around ? How can I convert a Container Sandbox to a Client Sandbox ? It looks like Container sandboxes are used by default now when opening Codesandbox from a Github repo URL, and it breaks previous behaviour (like Jest tests auto-detect).

[2019-11-07 16:25] sylvainpolletvillard opened #3002 "State of button to "Toggle File Watching" for tests is not visible"
# 🐛 bug report

## Description of the problem

In Tests Panel, the state of the "Toggle File Watching" for tests is not clear. It is supposed to have a different opacity whether the option is active or not, but the opacity is left unchanged in any case.

![image](https://user-images.githubusercontent.com/566536/68407186-709e7d80-0183-11ea-8799-2bdd0c0d50f1.png)

The related source code is here: ht

[2019-11-08 09:49] ConstantinChirila commented on #2749
@hegphegp Did you manage to solve this issue?

[2019-11-08 13:05] mahnouel commented on #2619
Crashing for me, too, after changing the theme in the VSCode settings to "custom".

 <details>
  <summary>My Custom Theme</summary>

[code]

</details>

[2019-11-08 13:39] MichaelDeBoey commented on #323
Closed by #3003

[2019-11-08 13:39] #323 closed

[2019-11-08 22:06] RupenAnjaria commented on #2749
Facing the same issue.

[2019-11-09 15:10] nikitavoloboev opened #3011 "Is it possible to create CLI that will let users `git clone` codesandboxes by URL"
I want to effectively be able to run

`git clone https://codesandbox.io/s/dry-microservice-qnle3`

And have the codesandbox be cloned as project of files in my file system.

I was thinking of creating a tool like [hub](https://github.com/github/hub) that lets you do it.

Is there CodeSandbox API I can use to create such tool. Or perhaps such functionality already exists?

My use case is I often se

[2019-11-09 17:17] lbogdan commented on #3011
Hey @nikitavoloboev ,

We've been thinking about exposing sandboxes as git repositories for a while, and it's on our road-map, but we don't have an ETA yet. Until then, you can download sandboxes using File -> Export to ZIP. Does this address your needs?

[2019-11-09 17:30] nikitavoloboev commented on #3011
It doesn't in that I want to automate it in similar way as described here:

https://medium.com/@nikitavoloboev/insta-cloning-ff5f38eb1d32

Clicking and then exporting it to ZIP, and then having to open up the ZIP is not great.

[2019-11-09 18:03] reed-jones opened #3012 "Svelte/SCSS not working"
# 🐛 bug report

## Description of the problem
Svelte preprocessing is not working. whenever i use scss feature I got `ParseError: Identifier is expected` in the console (since its not valid css anymore). I have tried several preprocessors but the all fail in the same way

## How has this issue affected you? What are you trying to accomplish?
I was trying to use scss in a svelte project. The same c

[2019-11-09 18:07] reed-jones commented on #3011
Even an endpoint to download the zip via wget or curl would be great!

[2019-11-09 22:42] phryneas opened #3013 "Could we get `strict: true`for vanilla-ts and react-ts Sandboxes?"
# ❔ Question

Right now, new vanilla-ts and react-ts sandboxes are missing the line `"strict": true` in their `tsconfig.json`. And unfortunately, without this line, the strict compiler option defaults to `false`, leaving a very inconsistent development experience.

Now, one could argue that this being the default value for that option, it should also be the default. But I guess that this is just t

[2019-11-11 15:08] MarcelloTheArcane commented on #2991
Hello @lbogdan,

Awesome, looks like your fix has sorted it! I'm not getting an issue on that URL any more.

[2019-11-11 15:08] #2991 closed

[2019-11-11 18:37] statianzo commented on #1828
This error is still happening for me in the linked sandbox @SaraVieira included. Just click "Tests" tab and then back to the preview.

https://codesandbox.io/s/github/hodgef/simple-keyboard-npm-demos/tree/master/

It's also showing in the console
![image](https://user-images.githubusercontent.com/57737/68611476-747a1a80-0477-11ea-9ff5-5df48b76bca9.png)

[2019-11-11 18:43] maritaria opened #3019 "Unclear error report when missing build in package.json"
# 🐛 bug report

## Description of the problem
When deploying to ZEIT it shows "unknown error"

## How has this issue affected you? What are you trying to accomplish?
Unable to create production deployment

### Link to sandbox: [link](https://codesandbox.io/s/share-server-1y83o)

### Your Environment

| Software         | Name/Version |
| ---------------- | ------------ |
| Сodesandbox      | PROD-

[2019-11-11 18:57] maritaria opened #3020 "🌈 Customize container starter script"
# 🌈 Feature

Be able to specify a specific yarn script to run as main for backend container projects.
The main reason being that `now` (zeit) and codesandbox both use the same `yarn start` script for running the application. While developing code in codesandbox this is fine but if you then want to deploy the project to production the same main is used.

I like to use nodemon to auto-rebuild my typ

[2019-11-11 19:08] lbogdan commented on #3020
Hey @maritaria ,

We're looking for the script to start in this exact order: `dev`, `develop`, `serve`, `start`, so you can use `dev` to run inside the sandbox container, and `start` to run on Now.

[2019-11-11 21:05] maritaria commented on #3020
That resolves my issue

[2019-11-11 21:05] #3020 closed

[2019-11-13 07:18] madrus opened #3021 "After crash or reopening the sandbox all changes lost time after time again"
# 🐛 bug report

## Description of the problem
After crash or reopening the sandbox all changes lost time after time again. Even the versions of the installed React libraries were reset. It happened to me several times today. My autosave was on, and I kept saving all the files regularly with Ctrl-S.

## How has this issue affected you? What are you trying to accomplish?
I have tried to create an ex

[2019-11-13 12:16] madrus commented on #667
Same here with `useHistory` hook. Try uncommenting the useHistory lines in `src/App.tsx` file of my otherwise working [sandbox](https://codesandbox.io/s/nostalgic-chatterjee-pcztm).

[2019-11-13 15:24] #2357 closed

[2019-11-13 15:24] #2486 closed

[2019-11-13 15:33] alexdevero commented on #667
Good observation.

This error may not be specifically about cross-origin problem. In my app, I solved this error by adding some default, empty, values for the data I wanted to fetch from API. After this, the error disappeared and app worked.

So, the real error can actually be caused by some `null` or `undefined`, not cross-origin error per se.

Any thoughts about this @CompuIves?

[2019-11-13 18:35] NordlingDev commented on #1595
Any update??

[2019-11-13 19:13] santosh898 commented on #667
Allowed CORS using https://addons.mozilla.org/en-US/firefox/addon/access-control-allow-origin/

Expected this issue to be gone. but that did'nt happen. may be there is another reason. or am i missing something here?

[2019-11-13 22:06] cdevguy117 opened #3026 "Cannot delete sandboxes after moving to trash"
Cannot delete sandboxes after moving to trash, getting the error:
"Network Error: ServerParseError: Unexpected end of JSON input"

[2019-11-14 01:21] mark-friedman opened #3027 "What does the "Project view" toggle do?"
# ❔ What does the "Project view" toggle do?

### Link to sandbox: [link]() (optional)

### Your Environment

| Software         | Name/Version |
| ---------------- | ------------ |
| Сodesandbox      |
| Browser          |
| Operating System |

[2019-11-14 05:42] mrdulin commented on #1233
same issue.

[2019-11-14 10:10] hazae41 opened #3028 "Add deno-js support"
# Feature

What is Deno?
https://deno.land/std/manual.md#project-status--disclaimer
https://medium.com/lean-mind/deno-node-js-killer-718c8969770b

Why Deno?
https://www.youtube.com/watch?v=M3BM9TB-8yA

Source code
https://github.com/denoland/deno

Website / repository
https://deno.land/

[2019-11-14 11:03] Genroa opened #3029 "Vue template + Vuetify 2 extremely long building times with tree shaking"
# 🐛 bug report

## Description of the problem

When building a Vue+Vuetify 2 application and following the recommended way of referencing components (for automatic tree shaking), the sandbox takes a very, very long time to transpile/build before displaying anything. The app works fine after that, but any modification causes the entire process to start again, even if only one file was modified. It

[2019-11-14 13:49] MichaelDeBoey opened #3030 "Join GitHub sponsors as organization"
Instead of just this repo, join with the full organization (now in beta).

https://github.com/sponsors

[2019-11-14 17:53] dejay-at-work commented on #667
Still having this issue, and it's hindering our company's ability to use this as a tool for remote interviews.  Obviously, we cannot ask our hiring candidates to fiddle around with their browsers to overcome these issues.

[2019-11-15 11:41] arthurdenner commented on #2626
@yashguptaz, I believe that [your PR](https://github.com/codesandbox/codesandbox-client/pull/2660) fixed. Can you close the issue, please?

[2019-11-15 11:51] yashguptaz commented on #2626
Closing it right now :)
Will be looking forward to more contributions from my side.

[2019-11-15 11:51] #2626 closed

[2019-11-15 20:51] ogonzal87 opened #3036 "Stuck in Transpiling Modules"
# 🐛 bug report

## Description of the problem
The app is stuck in Transpiling Modules.. and does not give me an error.

## How has this issue affected you? What are you trying to accomplish?
I am building an app that showcases my personal design system and I need to way for people to see the code. I am not able to continue as I am not sure how to fix the issue.

### Link to sandbox: [App](https://

[2019-11-15 22:21] yiyi1026 commented on #2974
I got the same, showing "Transpiling Modules...".

[2019-11-16 01:23] hodgef commented on #2012
Hello @CompuIves, @Saeris,

Are there any updates on this issue? The embeds are really broken in this state.

![broken](https://i.imgur.com/zuL9Hfm.gif)

Thanks!
Francisco Hodge

[2019-11-16 01:44] hodgef opened #3037 "Window resizer interferes with previews (EMBED)"
# 🐛 bug report

## Description of the problem
The resizer changes affects the preview. Please refer to the following gif:

![bug](https://i.imgur.com/mSuHVP5.gif)

## How has this issue affected you? What are you trying to accomplish?
The resizer seems to be interfering with the preview. This leads users to believe there's something wrong with the library. Would it be possible not to add UI over t

[2019-11-16 01:47] arthurdenner commented on #2301
@R4M80MrX, since you've fixed the error (thank you for that), can you close this issue, please?

[2019-11-16 01:55] #2301 closed

[2019-11-16 10:52] distinctperspective opened #3039 "250 limit"
I paid for patron and cant load my project....something about 250 limit....but I thought patron was unlimited??

[2019-11-16 12:37] MichaelDeBoey commented on #3039
Hi @distinctperspective!

Thanks for raising the issue.

As @CompuIves already explained in https://github.com/codesandbox/codesandbox-client/issues/563#issuecomment-513249892, the team is working on a solution for this problem. 🙂

Closing this in favor of #563

[2019-11-16 12:37] #3039 closed

[2019-11-16 22:57] esr360 commented on #1595
<img width="211" alt="Screenshot 2019-11-16 at 22 57 29" src="https://user-images.githubusercontent.com/3431882/69000246-7eab7700-08c4-11ea-880e-496d20fe92e8.png">

Still an issue - really bugs me :/

[2019-11-17 15:06] danpantry commented on #2794
Hi, this appears to still be present and the workaround does not appear to work: https://codesandbox.io/s/trusting-sammet-llee1

[2019-11-17 17:05] keverw commented on #896
Looks like I mistakenly made a loop too. https://codesandbox.io/s/vigilant-shannon-veu5b

I'd be cool if you could maybe add a query string like `?safemode=1` that would not auto run the code, so could fix it, save and exit safe mode when ready to run it again.

[2019-11-17 21:58] esr360 commented on #514
Would love to be able to specify default file opened! +1

[2019-11-18 10:20] MasGaNo opened #3042 "Live Coding erase whole file on save"
# 🐛 bug report

## Description of the problem
Hi Team!
I'm using CodeSandbox for several months now, it's a great tool to have some technical interview (candidates love this approach) and also for me to give some training remotely.
But since 2-3 weeks, when I activate the Live Coding session, when we modify a file and save it, the whole file is erase (file empty), and I cannot use Cmd + Z to cance

[2019-11-18 11:32] siddharthkp commented on #3037
@hodgef Thanks for reporting this! This definitely isn't ideal, I'll try to find a  way to make a not-interfering way 👍

[2019-11-18 11:34] siddharthkp commented on #2259
Hey @karlhorky, we got rid of the header in the new redesign. Instead of opting for a minimal resizer between code and preview.

More here: https://codesandbox.io/post/codesandbox-ci-embeds#a-new-look-for-embeds

Let us know what you think about that!

[2019-11-18 11:34] #2259 closed

[2019-11-18 12:49] karlhorky commented on #2259
@siddharthkp Sweet, that's great to have more space by default, thanks!

[2019-11-18 17:08] gregg-cbs opened #3043 "Lost all codesandbox projects when I converted my github account into an organisation"
# 🐛 bug report

## Description of the problem
I used to login to codesandbox with my github account.
I then updated my account to an organisation.

Now my email address for github is different as I am a user on this organisation.
When i log into codesandbox with my account, everything is blank.

Which makes sense, but how do I now access my old codesandbox account?
I am also a patron, so now if I

[2019-11-18 17:27] CompuIves commented on #3043
Heyo! Can you send an email to hello@codesandbox.io with your old email and new email? I'll make sure to move the sandboxes!

[2019-11-18 23:56] bz-stripe opened #3044 "Can the preview iframe access the webcam?"
# ❔ Question

## Can the preview iframe access the webcam?

Looking at the iframe attributes, it looks like the `camera` permissions are enabled. But a quick-&-dirty test wasn't able to access my webcam.

[code]

_Related to: https://github.com/codesandbox/codesandbox-client/issues/1112_

### Link to sandbox:
*I can update later with a Sandbox that requests camera access*

### Your Environment

|

[2019-11-19 00:02] bz-stripe commented on #3044
_Update_: I'm testing a cross-origin use-case.

The sandbox I'm testing starts in CodeSandbox's domain and then redirects to another domain where it requests webcam access.

[2019-11-19 01:02] MichaelDeBoey commented on #3044
Hi @bz-stripe!

As you can see in [Google’s post](https://sites.google.com/a/chromium.org/dev/Home/chromium-security/deprecating-permissions-in-cross-origin-iframes#TOC-To-continue-to-use-permissions-from-iframes-on-your-website...), you have to explicitly add permissions for the redirected website, since camera is (by default) only enabled for the embed domain.

[2019-11-19 06:53] jyash97 opened #3045 "Embed: Mobile Experience"
# 🐛 bug report
Mobile Experience in Embed

## Description of the problem

- Editing File

1. There is a cursor mismatch when typing fast which leads to incorrect spelling. Replicate by typing fast.
2. When IntelliSense popup is shown, backspace doesn't seem to work.
![Screenshot_20191119-121914](https://user-images.githubusercontent.com/22376783/69123304-0234b600-0ac7-11ea-8616-eb421c6c0a22.jpg)
3

[2019-11-19 07:07] bz-stripe commented on #3044
@MichaelDeBoey how would folks feel about granting access to all origins? Or is there an obvious security concern?

[2019-11-19 11:19] esr360 commented on #928
Is Codesandbox even looking to an existing `.sassrc` file? It doesn't seem to be from my experience. I'm not sure how I can configure Sass using Codesandbox.

[2019-11-19 12:33] MichaelDeBoey commented on #3044
I think it's logical to keep the default behaviour, but if you as a user of the sandbox would like to have other permissions, you can just change the iframe code when using it.
Nobody's permitting you to do so on your own website.

[2019-11-19 13:21] garethx commented on #3027
The toggle turns module view on and off - when it's off it's in project view. Module view allows you to show just the component you're working on in the preview. When it's in project view it shows the full project in preview.

[2019-11-19 13:39] yeion7 commented on #3036
hey @ogonzal87 👋

the root of this problem is the sandbox has a few recursive renders, and these generate an infinite loop in the compiler

`LeftNav` renders `ColorPage` and `ColorPage` renders `LeftNav`
`HomePage` renders `LeftNav` and `LeftNav` renders `HomePage`

I forked your sandbox and remove those loops and seems works

https://codesandbox.io/s/oskrhq-playground-app-k3r2w

[2019-11-19 14:35] ogonzal87 commented on #3036
Ohhhhh! Thank you so much!! Makes sense. Any way of catching that in the future would be super helpful. Like an error message or something like that.

Thanks for your help!

[2019-11-19 14:36] ogonzal87 commented on #3036
Ohhhhh! Thank you so much!! Makes sense. Any way of catching that in the future would be super helpful. Like an error message or something like that.

Thanks for your help!

[2019-11-19 14:40] pckilgore commented on #3042
As much as I hate "me too" reports, I want to emphasize how reproducible (and frustrating!) this bug is.  It also occurs for me in a Create React App project (so it does not seem to be limited to certain environments), it emerged in the last two weeks (I hope this helps you intersect the appropriate commit) and it can be triggered by a user on either side of the pairing session.

I'd also like to

[2019-11-19 15:53] MichaelDeBoey commented on #3042
Fixed by #3046

[2019-11-19 15:53] #3042 closed

[2019-11-19 15:54] #3044 closed

[2019-11-19 17:46] bz-stripe commented on #3044
Sorry, last question: is there an easier way to "change the iframe code" than to use the dev console every time?

[2019-11-19 20:18] yeion7 commented on #3036
I'm not sure if is possible, codesandbox eval each file and we can't know if the evaluation is done or fall in an infinite loop, I think this is an example of [Halting Problem](https://www.youtube.com/watch?v=macM_MtS_w4), but maybe @CompuIves knows

[2019-11-20 08:45] arthurdenner commented on #2330
@CompuIves, I saw that the limit was increased to 128 characters but I noticed that the error message doesn't say _what_ should be limited to 128 characters and the error key is wrong too.

`{"errors":{"alias":["should be at most 128 character(s)"]}}`

I think that the error key should be `title` instead of `alias` and the message could contain "title should be at most 128 character(s)" or somethi

[2019-11-20 09:43] garethx commented on #3044
Yes - use the 'Share' menu in the top-right of the editor view for the sandbox you want to embed ![Screenshot 2019-11-20 at 09 42 09](https://user-images.githubusercontent.com/1830035/69227635-0cfc5300-0b7a-11ea-9246-57ff4345108c.png)

[2019-11-21 13:19] CompuIves opened #3052 "CodeSandbox CI: Support Containers"
# 🌈 Feature

Support containers in CodeSandbox CI. It should already work, but it seems like there's one thing missing. I created this issue for people to follow progress on this.

[2019-11-21 13:27] geelen commented on #3052
Thanks @CompuIves!

For reference, I'm trying to use this on [fab-spec/fab](https://github.com/fab-spec/fab).

I have a container that I've manually got working against a recent CI-published version of `@fab/static` here: https://codesandbox.io/s/pensive-wildflower-bnipe

I've taken that container, forked it and removed references to anything FAB-related, then have added that new sandbox ID to the

[2019-11-21 13:37] CompuIves commented on #3052
Thanks for all the info @geelen. I'll keep you posted on this!

By the way, you don't have to remove the dependencies, we will overwrite the existing entries with the newly built versions if we find them 😄.

[2019-11-21 14:25] Klaasvaak opened #3053 "Crash when clicking on a Map in console"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

I console logged a Map object and clicked on it in the console.

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 78.0.3904 | OS

[2019-11-21 15:02] jyash97 commented on #3045
Ping @siddharthkp

[2019-11-21 15:37] geelen commented on #3052
Ooh dank. Also, it's now working!

One other bug report, if you have `"packages": ["packages/*"]` in your config, CodeSandbox doesn't inject all the NPM dependencies. Switching that to...

[code]

...fixed the issue. I tried removing `fab-compile` there, since it's only a dependency of `fab-static`, but then since the old version was still referenced in the `yarn.lock` file, it didn't update. So s

[2019-11-21 23:38] LucasZapico commented on #1437
+1 this would be huge! I use code sandbox...well to sandbox 😉.  As you all know the Angular workflow is highly CLI dependent. Cheers!

[2019-11-22 04:40] atomiks opened #3059 "Tooltips overlap reference elements in console UI"
# 🐛 bug report

![overlapping tippy](https://i.imgur.com/jObyzgh.png)

You can fix this by setting `boundary="window"` prop on your tippy tooltips.

Popper v2 will have a smarter default to prevent this: https://github.com/FezVrasta/popper.js/pull/793 🎉

[2019-11-22 06:55] 792472461 opened #3060 "I want to create a react project and introduce the internal component library. What should I do"
I want to create a react project and introduce the internal component library. What should I do

[2019-11-22 09:19] atomiks commented on #3059
Also if you update to latest Tippy you can have singleton tippies that look cool and improve the UX of delayed tooltips:

gif: https://twitter.com/thekitze/status/1196864091786223617
docs: https://github.com/atomiks/tippy.js-react#-singleton
demo: https://atomiks.github.io/tippyjs/#singleton-1

I'm working on a PR for these two things, but might take a while as I'm learning the codebase and where

[2019-11-22 11:19] siddharthkp commented on #3045
@jyash97 👋

that's a long list 🙃, i'm going down the list slowly

[2019-11-22 15:17] alekslario commented on #2974
Bump

[2019-11-22 17:44] diegohaz opened #3076 "CodeSandbox CI: Support querystrings"
# 🌈 Feature

This issue (https://github.com/reakit/reakit/issues/502) has a CodeSandbox url with querystrings. The CodeSandbox bot has identified the link and posted it into the PR (https://github.com/reakit/reakit/pull/503), but without querystrings. It would be good if it could add querystrings too.

CodeSandbox CI is awesome! Thanks for that!

[2019-11-23 14:09] jyash97 commented on #3045
Awesome, thanks for taking time to look into this :)

Let me know if you need any help from my side.

[2019-11-23 23:13] jayenashar commented on #2156
@oddswop and i are still experiencing this issue.

[2019-11-24 13:15] IzabellaD opened #3077 "Can't delete files in storage management"
# 🐛 bug report

Hi, I'm new to this. I wanted to upload to big of a project into sandbox and it exceeded storage space, when I go to storage management to delete files, check them and click the delete selected button, nothing happens.

I tried different browsers.

| Operating System | MacOs

[2019-11-24 17:15] crazymousethief commented on #2966
See this https://www.npmjs.com/package/smooshpack

[2019-11-24 20:59] Hotell opened #3078 "Chose installed version of TypeScript for editor"
# Question / Bug

I'm not able to choose installed TypeScript version in editor. is this a bug or missing feature ?

Thanks!

![image](https://user-images.githubusercontent.com/1223799/69501463-7e832b00-0f05-11ea-8eca-bb30dc940ffc.png)

**.vscode/settings.json**

[code]

**package.json**
[code]

related https://github.com/codesandbox/codesandbox-client/issues/942

[2019-11-24 22:25] Hotell opened #3079 "TypeScript const assertions cannot be used with CRA"
# 🐛 bug report

## Description of the problem

Unable to use `as const` cast with CRA

## How has this issue affected you? What are you trying to accomplish?

Standard TS features cannot be used.

The culprit is probably that CRA template uses typescript 3.3 and because [`as const` was introduced in `3.4`](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-4.html#const-asserti

[2019-11-24 23:45] elomid opened #3080 "Show status of view items in the menu"
# 🌈 Feature

It would be helpful to show the status of all items in the view menu so that it is easier to know what items are toggled on or off. Currently, some items like `Toggle Minimap` indicate their status with a checkmark but others like  `Toggle Side Bar` don't.

<img width="478" alt="Screen Shot 2019-11-24 at 4 20 08 PM" src="https://user-images.githubusercontent.com/3935236/69504328-ac9d4

[2019-11-25 02:43] MichaelDeBoey commented on #3060
Hi @792472461!

Can you explain a bit what you mean with “the internal component library” please?

[2019-11-25 13:14] #3077 closed

[2019-11-25 15:02] arthurdenner commented on #753
@tkrotoff, I see that you've updated the codesandbox. Can you confirm if this behavior is still happening? If so, could you provide a new sanbox? If it's not, can you close the issue, please?

[2019-11-25 15:24] huy-nguyen opened #3082 "JSON file not loaded correctly in sandbox"
# 🐛 bug report

## Description of the problem

In the linked Sandbox, the `require` statement generates an error:
[code]
but the JSON data (`646.json`) is actually valid. When I clicked on `646.json` in Codesandbox's file browser, instead of seeing the actual file content, I see this:
[code]
which I take to mean Codesandbox is doing some performance optimization by loading the file content from Gi

[2019-11-26 11:09] MartinKolarik commented on #2983
We increased the limit to 100 MB (will consider increasing it further soon) so the sandbox should work now.

[2019-11-26 13:21] siddharthkp commented on #3082
Hi @huy-nguyen 👋

Yep, you got that right.

It's meant to be an optimisation because the file is too big to be usable inside codesandbox. But, instead of replacing the contents, we could look at making it ready only. That will increase the load time of the sandbox but it will work after it loads.

[2019-11-26 13:26] siddharthkp commented on #2983
Can confirm, the sandbox in the issue is opening 💯

[2019-11-26 13:31] #2983 closed

[2019-11-26 13:46] siddharthkp commented on #2966
@chj-damon Hi 👋

Can you add a little more info about what you're trying to accomplish.

If you'd like to show the preview of a snippet of code, you might want to embed a sandbox. Docs here: https://codesandbox.io/docs/embedding

Are you also looking at modifying the code programmatically, via options/props?

[2019-11-26 13:52] siddharthkp commented on #3080
@CompuIves correct me if i'm wrong, we borrow that functionality from vscode, right?

So, to implement this change, we would need to modify the vscode codebase, not just ours?

[2019-11-26 13:56] siddharthkp commented on #3059
Singleton tippies look great!

 I'll add it to my list but to be honest, same here 😄

[2019-11-26 14:24] siddharthkp commented on #2974
Hi 👋

I did some tweaking and was able to make this work: https://codesandbox.io/s/proud-hooks-icp6r

1. Move `@babel/core` to `dependencies` instead of `devDependencies`
2. In `.babelrc`, call it `proposal-optional-chaining` instead of `@babel/plugin-proposal-optional-chaining`

Both of these are workarounds and the parsing logic gone wrong, I'm keeping this open as a bug but have fun with option

[2019-11-26 15:47] garethx opened #3087 "Can't import blank files"
# 🐛 bug report

## Description of the problem
If you drag and drop and empty file into the editor, you get the error: "Failed to execute 'atob' on 'Window': The string to be decoded is not correctly encoded."

That error isn't accurate, and it would be useful if this case could be specifically handled to allow importing of projects with blank files for better UX.

## How has this issue affected yo

[2019-11-26 23:09] elomid commented on #3080
@siddharthkp thanks for the reply. For what it's worth, VS Code does show the checkmarks for these items. Here is a screenshot from VS Code:

<img width="491" alt="Screen Shot 2019-11-26 at 3 07 31 PM" src="https://user-images.githubusercontent.com/3935236/69680064-a2a64f80-105e-11ea-890b-b57af9a66424.png">

[2019-11-27 04:46] pjhanzlik opened #3088 "Document the `container` option"
# 🌈 Document the `container` option

## The feature
Expand Sandbox Configuration documentation to explain the `container` option of `sandbox.config.json`.  (Assuming a good set of sub-properties, like `port`, are ready for use.)

## How it could work
The [Codesandbox Documentation on Configuration](https://codesandbox.io/docs/configuration) should be updated to show the `container` option currentl

[2019-11-27 08:27] andrei-cacio commented on #2974
thank you @siddharthkp! I will give it a go.

[2019-11-27 13:23] siddharthkp commented on #3080
Oh this is a learning experience, _my vscode_ doesn't show the same checkmarks 😅

<img width="404" alt="Screenshot 2019-11-27 at 2 22 48 PM" src="https://user-images.githubusercontent.com/1863771/69726758-7d2e4a00-1121-11ea-8e99-487793e9afa5.png">

My guess is this is about versions, what VS Code version are you on?

[2019-11-27 18:40] #502 closed

[2019-11-27 18:40] #1744 closed

[2019-11-27 19:36] elomid commented on #3080
@siddharthkp ha interesting! I am on version 1.40.2

[2019-11-27 20:13] agubler opened #3092 "Cannot find module `cldrjs` in codesandbox CI sandbox"
# 🐛 bug report

## Description of the problem

Experiencing an error with a sandbox deployed via codesandbox CI, seemingly a missing dependency/missing module. However the dependency is correctly in the `package.json` for the sandbox.

Error:

`Could not find module in path: 'cldrjs' relative to '/node_modules/globalize/dist/globalize/message.js'`

## How has this issue affected you? What are you

[2019-11-28 06:21] siccoo opened #3093 "Internal Server Error"
I get an internal server error when trying to make commits to my Github
I don't really know where this problem is but I've made 32 commits to my github before to a projects and later deleted it due to this internal server error that was yesterday, I even sent a message to Code Sand Box
Please help me because I'm in a test task and my pc doesn't have the necessary modules installed to enable gatsby

[2019-11-28 13:48] garethx opened #3094 "Svelte 3.12+ stuck transpiling modules"
# 🐛 bug report

## Description of the problem
Any version of Svelte 3.12 and above hangs on transpiling modules and never loads.

## How has this issue affected you? What are you trying to accomplish?
Unable to use most recent versions of Svelte

### Link to sandbox: [link](https://codesandbox.io/s/modest-wind-fpzv0)

[2019-11-29 01:12] arthurdenner commented on #2468
@davidsavoie1, I noticed that the linked sandbox is unavailable. Can you confirm if this is still happening? I couldn't reproduce it. If it is, could you provide a new sandbox? If it's not, could you close the issue, please?

[2019-11-29 01:33] davidsavoie1 commented on #2468
Oh! Sorry about that! Nope, everything seems to be working fine now. Thanks a lot for this awesome tool!

[2019-11-29 01:33] #2468 closed

[2019-11-29 09:25] chintanvyas360 commented on #667
can't debug serverless code due to this issue. It's working fine elsewhere. I'm stuck with the same issue in vscode debug.

[2019-11-29 09:31] arthurdenner commented on #1075
Hi @stolinski! 👋 Could you verify if this is still happening? I tried to reproduce but I couldn't. If it's not, could you close the issue, please?

[2019-11-29 11:46] AndyOGo commented on #667
I just created a PR #3098 to set proper [Content Security Policy](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP) to fix [React's `cross-origin` error](https://fb.me/react-crossorigin-error).

@mescalito
@nbosco
@alexdevero
@shrutikapoor08
@CompuIves
@lbogdan
I would be happy if we can collect your reproduction examples and check if they work now.

I used following reproduction example:
- b

[2019-11-29 11:55] tkrotoff commented on #753
Cannot do anything: AFK up to mid december

[2019-11-29 13:36] garethx commented on #3093
Unfortunately, since you deleted the sandbox we're unable to look into the issue. If you run into this again, please provide a link to the sandbox and do not remove it. Thanks.

[2019-11-29 13:36] #3093 closed

[2019-11-29 15:08] 792472461 commented on #3060
For example, some component packages can only be downloaded in the local area network

[2019-11-29 15:09] 792472461 commented on #3060
For example, some component packages can only be downloaded in the local area network

[2019-11-29 19:20] hodgef commented on #3037
Hello @siddharthkp!

The issues are still ongoing sadly, would you happen to have an ETA on where the fix will land?

I completely understand if this is not something of priority.

Thanks!
Francisco Hodge

[2019-11-30 03:41] JacobMGEvans opened #3100 "Template Menu Collapse UI Glitch"
# 🐛 bug report
<img width="359" alt="Screen Shot 2019-11-29 at 9 33 05 PM" src="https://user-images.githubusercontent.com/27247160/69895188-f203ae80-12f0-11ea-8783-3ea1a1cba7ab.png">

## Description of the problem
While I was using the template feature, I pressed on the collapse icon which caused the delete button to move up and the text elements for template features were still visible. I tried r

[2019-11-30 14:46] #3002 closed

[2019-11-30 14:47] #488 closed

[2019-11-30 14:48] #3019 closed

[2019-11-30 14:50] #2733 closed

[2019-11-30 14:50] #2796 closed

[2019-12-01 07:51] balamuruganjbm opened #3104 "Sandbox Crashed"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 78.0.3904 | Windows 10           |

  **Route:**
  https://codesandbox.io/s/sch

[2019-12-01 10:12] caiyongmin opened #3105 "[Crash Report] when modify `package.json` file, cause the page to crash"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 78.0.3904 | OS X 10.11.0           |

  **Route:**
  https://codesandbox.io/s/e

[2019-12-01 21:04] MichaelDeBoey commented on #3105
This one should be fixed by 90e666a

[2019-12-01 21:04] #3105 closed

[2019-12-01 21:06] MichaelDeBoey commented on #3104
This one's fixed by 90e666a

[2019-12-01 21:06] #3104 closed

[2019-12-01 22:26] epfromer opened #3110 "snippets working?"
# 🐛 bug report

## Description of the problem

Not sure if related to deployment today, but snippets stopped working for me on codesandbox.io.  I can't bring them up either through the menu.

## How has this issue affected you? What are you trying to accomplish?

Trying to use several personal Vue snippets.  Then, try to bring up snippet list via menu.

### Link to sandbox: [link]() (optional)

##

[2019-12-02 07:14] beldariakhil opened #3111 "Crash"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 78.0.3904 | Windows 10           |

  **Route:**
  https://codesandbox.io/s/git

[2019-12-02 09:16] tgarciafo opened #3112 "Error crash"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System |
  | ------- | --------- | ---------------- |
  | chrome | 78.0.3904 | Windows 10           |

  **Route:**
  https://codesandbox.io/s/mky

[2019-12-02 09:21] #3112 closed

[2019-12-02 12:23] az67128 commented on #3094
Are there any news on this issue?

[2019-12-02 12:53] beldariakhil opened #3113 "Unable to connect to react-table sand box"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System | CodeSandbox Version |
  | ------- | --------- | ---------------- | ------------------- |
  | chrome | 78.0.3904 | Windows 10           |

[2019-12-02 16:22] arthurdenner commented on #3053
This is related to https://github.com/samdenty/console-feed/issues/34.

[2019-12-02 22:47] tajo commented on #3092
Same problem with react-view in this [sandbox](https://codesandbox.io/s/i3dbn?fontsize=14&hidenavigation=1&theme=dark)

[2019-12-03 16:11] jdolearydl commented on #667
This happened to me when I accidentally invoked `setState` within a React Functional Component FYI

[2019-12-03 17:19] AndyOGo commented on #667
@jdolearydl

I also created reproduction for your case at my PR #3098
- broken: https://codesandbox.io/s/react-88o0s
- works (PR): https://pr3098.build.csb.dev/s/react-q1xc8

[2019-12-04 10:13] eschaefer commented on #1787
@sync I started looking at this last night. It seems like we need to build some new artifacts that were custom-tweaked by @jaredly.

https://github.com/codesandbox/codesandbox-client/blob/master/packages/app/src/sandbox/eval/presets/reason/reason-remap.js
https://github.com/codesandbox/codesandbox-client/blob/master/packages/app/src/sandbox/eval/transpilers/reason/worker/index.js

[2019-12-04 13:26] mtorcellini opened #3124 "Can't move sandbox from "My Sandboxes" to a folder"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <p>Clicking and attempting to drag a sandbox from within the My Sandboxes directory into one of my folders within My Sandboxes causes the sandbox to disappear from view (as soon as I begin dragging) and I cannot move it. This occurs in both Firefox and Safari. If I release the mouse button, the sandb

[2019-12-04 14:58] #3124 closed

[2019-12-04 14:58] CompuIves commented on #3124
Sorry for the issue! This has been a regression, I'm deploying a fix now.

[2019-12-04 17:12] joumichy commented on #1892
Up

[2019-12-04 19:54] yugandhar-pathi commented on #1286
Me too face the same issue, irrespective of target it always moves the code to ES5.

[2019-12-04 22:34] NawarA opened #3129 "Bug: reloads on every keypress, instead of file save, even when `Instant Preview Disabled` disabled"
# 🐛 bug report
`Preview` bug

## Description of the problem
Behavior
* `Preview on edit` enabled
* `Instant preview` disabled

Software reloads on every keystroke, even on up arrow and down arrow. As a result, the sandbox constantly reloads, so often it crashes.

`Instant preview` (reload on every keypress) is disabled, so this is not expected behavior.

Expected behavior -> preview reloads when `

[2019-12-05 04:17] mtorcellini commented on #3124
Great! Thanks so much!

[2019-12-05 21:19] #3094 closed

[2019-12-05 22:11] jfmmm opened #3133 "Weird typescript linting issue with class public/private/protected properties"
# 🐛 bug report

## Description of the problem
Codesandbox throws an error when trying to add public, private or protected in front of a class attribute. It works fine if you export the sandbox and open it in vscode.

![Screen Shot 2019-12-05 at 5 06 55 PM](https://user-images.githubusercontent.com/2498456/70278413-36c09700-1782-11ea-9a48-085a869a152e.png)

## How has this issue affected you? What

[2019-12-06 00:28] jfmmm commented on #3133
if I don't have any attribute in my class it complains about the first method with a public modifier.

![image](https://user-images.githubusercontent.com/2498456/70285394-56ad8600-1795-11ea-8b29-aefb9adb663a.png)

[2019-12-06 12:32] alundiak commented on #667
@AndyOGo I there hope after merging those PRs issue will be gone? Is it really codesandbox issue? I also have same error w React/ReactDOM, Redux and Express, but I'am not yet sure if it's the fact of my code or codebox behavior?

[2019-12-06 16:33] Ethan-Arrowood opened #3135 "Add Fastify Node.js backend template"
# 🌈 Feature

I'd like to add some templates for a Node.js backend framework called [Fastify](https://fastify.io)

Are public template contributions okay? If so where would I get started?

[2019-12-06 16:44] CompuIves commented on #3135
Hey @Ethan-Arrowood, absolutely! Just send a template url to me and I'll add it to the Template Universe. I was planning on highlghting more node servers there anyways

[2019-12-06 16:45] Ethan-Arrowood commented on #3135
Wonderful! I'll get to work on something and reply back here when it is complete. Thank you @CompuIves 😄

[2019-12-06 17:01] mcollina commented on #3135
I'm happy to review!

[2019-12-06 17:31] Ethan-Arrowood commented on #3135
Here is the simplest example:
https://codesandbox.io/s/fastify-starter-luepu

@mcollina what are some other things we should include in the starter template?

[2019-12-06 17:42] matthewlal opened #3136 "Private Github repo with branches created from CodeSandbox Github integration PR not working"
# 🐛 bug report

## Description of the problem
When I create a PR from CodeSandbox it creates a branch on my GitHub repo and links that to a new sandbox in CodeSandbox.

There are no issues doing this when the Github repo is public. But when the repo is private the sandbox linked to the branch comes with the following behaviour: A sandbox error occurred, you can refresh the page to restart the cont

[2019-12-06 20:11] denvash opened #3139 "Custom Theme not working in new version"
# 🐛 bug report

## Description of the problem

As from the last update, `PROD-1575648515-06c8e032d`, setting custom theme not working.

## Reproduction

1. Open VSCode
2. Developer: Generate color theme from current settings.
3. Paste it within Codesandbox: User -> Preferences -> Appearance
4. Refresh page
5. Pick custom theme: File -> Preferences -> Color Theme -> Custom Theme

<details>
<summary

[2019-12-06 22:20] mcollina commented on #3135
I would add some form of tests, and change the code to have a `build()` function that returns the server but don't call `listen()`

[code]

[2019-12-06 22:22] Ethan-Arrowood commented on #3135
Awesome, I like these ideas. I'll make the changes shortly.

[2019-12-07 08:38] karlmey commented on #1982
@Saeris tried this (Chrome/Windows), not working, can't get my menu back
![image](https://user-images.githubusercontent.com/58620248/70371589-43a1cf80-18d5-11ea-969f-5182ba1f0df0.png)

[2019-12-07 11:17] HWiese1980 opened #3141 "Content empty, and a load of error messages"
# 🐛 bug report

## Description of the problem
The UI of Codesandbox itself works but the expected output of the code is empty (white box).

## How has this issue affected you? What are you trying to accomplish?
Just trying to load some example code from the Elastic UI git repo.

I'm seeing a bunch of error messages (unfortunately in German, sorry, hope it helps determining the error nevertheless):

[2019-12-07 12:27] CompuIves commented on #3141
Interesting, this seems like a service worker issue in the sandbox. Does it work after a second refresh? Otherwise it might be necessary to delete the cache of the sandbox in the Chrome devtools. I'll take a look into how it got into this state.

[2019-12-07 13:27] HWiese1980 commented on #3141
Nope, it doesn't work after a second refresh, unfortunately. Emtying the cache does not help either.

Awesome! Looking forward to the results. If I remember correctly, I've seen this behavior on other sites as well since FF 70 or since it has this new tracker blocking feature... it might be related to that.

Furthermore I'm using _uMatrix_ to block tracking scripts. However, that is completely (in

[2019-12-07 13:33] CompuIves commented on #3141
Ah, I see! Thanks for the trust, I appreciate that! Do you also have `csb.app` in the whitelist? The project gets executed on that domain, so that might be the issue.

[2019-12-07 13:42] CompuIves commented on #3133
Hey! Do you have a link to a repro sandbox?

[2019-12-07 18:47] knksmith57 opened #3146 "patron plan removed? being force redirected to $12 pro plan page"
# ❔ Question
Have [patron subscription options (`/patron`)](https://codesandbox.io/patron) been removed?

I tried signing up for a patron subscription today ($5 / month) to gain access to private sandboxes, but after the page loads, I'm immediately force redirected (client side) to the pro plan ($12 / month) [page (`/pro`)](https://codesandbox.io/pro).

I can confirm that the redirect happens rega

[2019-12-07 19:20] MichaelDeBoey commented on #3146
Since [Wednesday's announcement](https://codesandbox.io/post/hello-template-universe-goodbye-project-setup) of Template Universe and [not having any sandbox limits anymore](https://codesandbox.io/post/hello-template-universe-goodbye-project-setup#no-sandbox-limits), the `patron` subscription is rebranded to the `pro` subscription.
From now on, it's only possible to visit the `patron` page when you

[2019-12-07 19:24] Ethan-Arrowood commented on #3135
Okay made updates let me know what you think: https://codesandbox.io/s/fastify-starter-luepu

[2019-12-08 10:50] mcollina commented on #3135
A few notes:

1. `npm start` is often used inside `Dockerfile`s and other system to start the application in production. Using `nodemon` there is something to avoid, as restarting is better done at the infra level. I'm not sure how this interacts with the codesandbox environemnt, so this is worth a chat.
2. Please put "use strict" everywhere. Those are not ESM.
3. Run tap with `--no-esm`.
4. Have

[2019-12-08 13:44] HWiese1980 commented on #3141
Yes, csb.app is also whitelisted.

Whatever it's worth, I've just tried it on another computer, a MacBook Pro, using Chrome. I also had uMatrix activated but completely whitelisted everything from codesandbox.io - and it had shown the same behavior (not sure about the error messages though as I did not check for them). However, after I deactivated uMatrix completely (i.e., I deactivated the extens

[2019-12-08 18:27] knksmith57 commented on #3146
thanks for following up, @MichaelDeBoey!

it'd definitely be great to get some input from @CompuIves or @garethx whenever y'all have a chance.

[2019-12-08 21:55] arthurdenner commented on #2500
@haquezameer, could you elaborate on what is the issue? Were you expecting the name on the tab to change or the import? I tried here and the first scenario happens. If you were expecting the second, I don't think it's a feature we can work on since it's inside VSCode.

[2019-12-08 22:15] arthurdenner commented on #2463
@garethx, should we close this since the Patron was rebranded to Pro, the interface has changed and there is no value input anymore?

[2019-12-08 22:30] arthurdenner commented on #2877
@Akryum, is there a way to know if this config is active?

[2019-12-08 22:37] JacobMGEvans opened #3149 "I keep getting crashes while working in React Testing Library"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System | CodeSandbox Version |
  | ------- | --------- | ---------------- | ------------------- |
  | chrome | 78.0.3904 | OS X 10.15.1

[2019-12-09 04:12] Akryum commented on #2877
I guess an error is thrown like in the OP?

[2019-12-09 06:44] sanandnarayan commented on #2408
facing the same issue when I am trying to import [this repo](https://github.com/Codebrahma/cbweb)

[2019-12-09 13:13] #3059 closed

[2019-12-09 15:14] garethx commented on #3146
What Michael said is true, Pro has replaced the Patron plan. The /patron page exists just for existing subscribers, new users should use the /pro page. What's available in the pro plan is indicated on the pricing page at https://codesandbox.io/pricing, but it does include private sandboxes.

[2019-12-09 15:14] #3146 closed

[2019-12-09 15:14] #2463 closed

[2019-12-09 16:19] akhileshcoder opened #3152 "Crash Report"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System | CodeSandbox Version |
  | ------- | --------- | ---------------- | ------------------- |
  | chrome | 78.0.3904 | OS X 10.13.6

[2019-12-09 16:20] SaraVieira commented on #3152
Hey!

Can you please tell me what you were doing when this error occured?

[2019-12-09 16:36] #3100 closed

[2019-12-09 17:27] Ethan-Arrowood commented on #3135
Okay made the updates. I used `t.beforeEach` and `t.afterEach` instead of the helper function

[2019-12-09 21:00] lxradda opened #3154 "ERROR"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System | CodeSandbox Version |
  | ------- | --------- | ---------------- | ------------------- |
  | chrome | 78.0.3904 | Windows 10           |

[2019-12-09 23:46] SaraVieira commented on #3154
Hey

Can you please explain what you were doing at the time of the crash?

[2019-12-10 07:30] YikaJ commented on #1363
I am pretty sure that they need a bundler instead of eval in sandbox. Maybe Parcel can help it?

[2019-12-10 09:14] jeffryang24 commented on #667
Sometime the cross origin error occurs if you forget to import `react` when using JSX. (https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/react-in-jsx-scope.md). For example, inside codesandbox

index.js
[code]

app.js
[code]

app.js
[code]

Yes, the cross origin is confusing since we don't know what actually the error is... :bowing_man:

[2019-12-10 11:02] mcollina commented on #3135
Is there any codesandbox feature to have it run `npm run dev` with nodemon installed?

I think `got` is a spurious dependency.

You can use async in `afterEach`. I would do `return server.ready()` or `await server.ready()` in `beforeEach`.

You'll need to add some form of eslint config to the editor to avoid the `'use strict' is unnecessary inside of modules. (strict)eslint` warning.

[2019-12-10 12:11] jeffryang24 commented on #667
Current temporary solution to let you know the actual error is by using error boundary and then open the project in the new window. You will find the clue for your error inside the browser console in your new browser window. (The error doesn't appear inside codesandbox console... :thinking: don't know why...)

ErrorBoundary.js (copy paste from react official doc [here](https://reactjs.org/docs/err

[2019-12-10 12:16] jeffryang24 commented on #667
Sorry, actually you don't need error boundary. Just open your project in the new window, and you will find the error clue inside the browser console. :bowing_man:

[2019-12-10 13:05] lbogdan commented on #3135
@mcollina We're not that opinionated on which watch manager you'd like to use 🙂, so if you want to use `nodemon`, add it to `devDependencies` and also to the `dev` script.

[2019-12-10 13:41] garethx commented on #1305
This looks to have been resolved as I'm unable to reproduce, re-open if you're still seeing this issue.

[2019-12-10 13:41] #1305 closed

[2019-12-10 14:29] Jhonatangiraldo opened #3160 "all console.logs shows the same value of the last object modification"
# 🐛 bug report

## Description of the problem
If I want to do console.logs while editing an object, the logs show the last object information. So let's say I'm incrementing a property of an object, every time I increment the value I do a console.logs. In the sandbox logs, it shows all the logs as the final value of the object property.
This happens with arrays and objects.

![Screenshot from 2019-

[2019-12-10 14:34] lbogdan commented on #3160
Closing as duplicate of #1043. @Jhonatangiraldo Please subscribe to / comment on that one instead. Thanks!

[2019-12-10 14:34] #3160 closed

[2019-12-10 15:20] Jhonatangiraldo commented on #3160
Thank you @lbogdan

[2019-12-10 15:25] Jhonatangiraldo commented on #1043
@samdenty is it possible to manually switch to synchronous processing? So for let's say for X exercise where I need a good trace of values in the console, I use the synchronous way

[2019-12-10 16:43] CompuIves opened #3167 "Tooltip of template badge is hidden under the editor"
# 🐛 bug report

## Description of the problem

The tooltip of the template badge is hidden under the editor:
![image](https://user-images.githubusercontent.com/587016/70549455-88976180-1b74-11ea-82e2-639a5d13822c.png)

## How has this issue affected you? What are you trying to accomplish?

Can't see the explanation of what a template is.

### Link to sandbox: [link]() (optional)

### Your Environm

[2019-12-10 16:52] CompuIves commented on #3149
Hey! I pushed something that might fix your issue, I haven't been able to repro it yet. It'll go live tomorrow 🤞

[2019-12-11 01:02] souldzin opened #3173 "Error with smooshpack "Permission denied to access cross-origin property""
# 🐛 bug report

## Description of the problem

When building [an integration](https://gitlab.com/gitlab-org/gitlab/issues/27144) using `smooshpack`, the following error has occurred on version `0.0.61`

![Screen Shot 2019-12-10 at 5 10 06 PM](https://user-images.githubusercontent.com/4908127/70582248-6d7e1f00-1b7f-11ea-974b-3dd0f18e7f23.png)

## How has this issue affected you? What are you trying

[2019-12-11 01:02] souldzin commented on #3173
I have a semi-dirty fix for this which I'll be submitting in a PR shortly...

[2019-12-11 01:44] ryancogswell opened #3175 "No longer able to successfully rename sandbox via app bar"
# 🐛 bug report

## Description of the problem

When I try to rename a sandbox from the auto-generated name, I get the following error message:

To reproduce:

* Need to be logged in. The behavior does not seem to be present when using it as an anonymous user. I have a patron account and I sign in using GitHub.
* Start a new React sandbox via https://codesandbox.io/s/new
* Make a change to index.js

[2019-12-11 08:16] CompuIves commented on #3175
Thanks for the clear description! I'm taking a look now.

[2019-12-11 08:29] #3173 closed

[2019-12-11 08:58] #3175 closed

[2019-12-11 11:32] garrytaulu commented on #2345
+1

[2019-12-11 12:34] ChigguhMain commented on #2345
+1

Really love using this otherwise but this is making it a pretty annoying.

[2019-12-11 13:07] SaraVieira commented on #1014
I am doing spring cleaning of all the issues and I noticed we no longer have the error mentioned here as weare now using CRA

[2019-12-11 13:07] #1014 closed

[2019-12-11 15:47] mustangJaro opened #3186 "Error Joining Live Session"
<h1>💥 Crash Report</h1>

  <h2>Attempted to join live JS session</h2>

  ### Link to sandbox: [link](https://codesandbox.io/live/2RNOxv)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System | CodeSandbox Version |
  | ------- | --------- | ---------------- | ------------------- |
  | chrome | 78.0.3904 | OS X 10.13.6           | P

[2019-12-11 15:54] CompuIves commented on #3186
Thanks for the report! I can reproduce it, this seems to cause it: https://github.com/codesandbox/codesandbox-client/commit/2b5089474881b4a6a3ca5df1a05a3834ed03dbfc

[2019-12-11 15:54] CompuIves commented on #3186
I'm going to fix this now.

[2019-12-11 15:58] Ethan-Arrowood commented on #3135
@lbogdan @CompuIves how soon is custom ESLint configs or ESLint overrides coming?

Looks like `sourceType` is set to `module` when we would need it to be `script`

and @mcollina i've updated the code to use async in the `beforeEach` and `afterEach`

[2019-12-11 16:03] CompuIves commented on #3186
A fix should be live in 10 min

[2019-12-11 16:39] SaraVieira commented on #3135
Hey!

We don't have a plan for that because that would require some really hacky work and we had some issues with that :(

[2019-12-11 16:41] SaraVieira commented on #1663
This was actually realeased in the latest embed release!

https://codesandbox.io/post/codesandbox-ci-embeds

[2019-12-11 16:41] #1663 closed

[2019-12-11 16:43] SaraVieira commented on #422
Hey!

At the moment we are trying to reduce the amount of stuff we have in the editor but this field is still available in the API if you need it

https://codesandbox.io/api/v1/sandboxes/fastify-starter-luepu

replace fastify-starter-luepu with the sandbox url or id and you can see when it was last updated :)

[2019-12-11 16:43] #422 closed

[2019-12-11 16:45] SaraVieira commented on #1043
As that is the way it at least for now I will close this issue and any other issues can be taken to the https://github.com/samdenty/console-feed repo

[2019-12-11 16:45] #1043 closed

[2019-12-11 16:47] SaraVieira commented on #3060
Hey!

At the moment we don't siupport any type of custom npm rc that would allow you to say what is the custom url to download from so you can either upload it to codesandbox or to github and use github as a dependency but if you can only acess it in your network I would say you need to upload the bundles :(

Sorry

[2019-12-11 16:47] #3060 closed

[2019-12-11 16:49] SaraVieira commented on #3011
Hey

The reason this doesn't exist for now is that we package them and zip them in the frontend on demand so thats why the api doesn't provide a URL even though it is possible but needs to be done in our end :(

[2019-12-11 16:50] CompuIves commented on #3060
Let's keep a reference to this issue, this is definitely something we want to implement in the near future, but we don't support it right now.

[2019-12-11 16:50] SaraVieira commented on #753
Hey!

I am doing some spring cleaning, and as you seem to not be available and we cannot reproduce I will close this issue, if it is stil happening when you are back please reopen with a sandbox URL

[2019-12-11 16:50] #753 closed

[2019-12-11 16:51] SaraVieira commented on #2966
Closed by lack of response

[2019-12-11 16:51] #2966 closed

[2019-12-11 16:52] SaraVieira commented on #2712
Closed as this is a limitation of client sandboxes and can be achieved in container ones

[2019-12-11 16:52] #2712 closed

[2019-12-11 16:53] SaraVieira commented on #2518
Sorry for the late response but at the time I didn't get this issue

Is it still happening?

[2019-12-11 16:54] SaraVieira commented on #1303
This issue seems to be fixed as we work with pure CRA now :)

[2019-12-11 16:54] #1303 closed

[2019-12-11 17:27] Ethan-Arrowood commented on #3135
Okay! I'll include a comment then. Thank you 😄

[2019-12-11 18:38] SaraVieira commented on #3111
Hey!

Can you please  explain what you were doing when this error showed up?

[2019-12-11 18:57] SaraVieira commented on #3088
Thannk you for pointing this up! I will work on this tomorrow

[2019-12-11 19:06] SaraVieira commented on #3027
Closed as the answer was given :)

[2019-12-11 19:06] #3027 closed

[2019-12-11 19:33] verydanny opened #3188 "Add optional chaining for TypeScript"
Current Issue:

![Screen Shot 2019-12-11 at 2 33 51 PM](https://user-images.githubusercontent.com/13333822/70653881-4bd67380-1c23-11ea-930c-9cf8919e7056.png)

It works, as in it compiles, but the TSServer (I'm guessing) is outdated.

[2019-12-11 19:35] bz-stripe commented on #1373
Is this a different ask from using secrets in the Server menu?

<img width="362" alt="Screen Shot 2019-12-11 at 11 32 15 AM" src="https://user-images.githubusercontent.com/53073303/70653898-2c7f1c80-1c0a-11ea-9042-dacc22293815.png">

*(note: must fork an imported sandbox to see the server menu)*

[2019-12-11 21:20] SaraVieira commented on #2919
Closed for lack of response

[2019-12-11 21:20] #2919 closed

[2019-12-11 21:25] SaraVieira commented on #2356
Closed for lack of information :(

[2019-12-11 21:25] #2356 closed

[2019-12-11 21:25] SaraVieira commented on #2358
Closed for lack of information :(

[2019-12-11 21:25] SaraVieira commented on #2358
Also duplicate

[2019-12-11 21:25] #2358 closed

[2019-12-11 21:25] SaraVieira commented on #2361
This issue has been fixed with some conditionals on the dashboard

[2019-12-11 21:25] #2361 closed

[2019-12-11 21:25] SaraVieira commented on #2337
Closed for lack of information :(

[2019-12-11 21:25] #2337 closed

[2019-12-11 21:26] SaraVieira commented on #2303
Closed for lack of information :(

[2019-12-11 21:26] #2303 closed

[2019-12-11 21:26] SaraVieira commented on #2329
Also fixed with some if statements added in dashboard codebase

[2019-12-11 21:26] #2329 closed

[2019-12-11 21:26] SaraVieira commented on #2272
Closed for lack of information :(

[2019-12-11 21:26] #2272 closed

[2019-12-11 21:27] SaraVieira commented on #2248
Closed for lack of information :(

[2019-12-11 21:27] #2248 closed

[2019-12-11 21:27] SaraVieira commented on #2235
Closed for lack of information :(

[2019-12-11 21:27] #2235 closed

[2019-12-11 21:28] SaraVieira commented on #2200
Closed for lack of information :(

[2019-12-11 21:28] #2200 closed

[2019-12-11 21:30] SaraVieira commented on #1395
Hey!

Doing some spring cleaning and realized we already have this 🎉

if you tap `cmd + shift + p` and type full screen it will go into full screen mode :D

[2019-12-11 21:30] #1395 closed

[2019-12-11 21:32] SaraVieira commented on #1614
Fixed with the new Create Sandbox Modal 🎉

[2019-12-11 21:32] #1614 closed

[2019-12-12 07:23] doom777 commented on #2518
No

[2019-12-12 07:23] #2518 closed

[2019-12-12 09:43] rizdaprasetya opened #3191 "Unable to sign in with Github, stuck on this screen."
# 🐛 bug report

## Description of the problem
Env:
- Chrome 78.0.3904.108 (Official Build) (64-bit)
- Mac OS Mojave

Unable to sign in, stuck on this page:
<img width="1225" alt="Screen Shot 2019-12-12 at 16 38 39" src="https://user-images.githubusercontent.com/13027142/70700841-f3c06f80-1cfd-11ea-91a8-c7db0f6777ab.png">

Console log doesn't print anything, no error, no log, etc.

Have tried:
- cl

[2019-12-12 14:46] SaraVieira commented on #1437
Hey!

After a while we changed how templates work so we now have a template with the angular CLI:

https://codesandbox.io/s/angular-cli-n61gs

You can bookmark it and you will always find it in the explore templates section of the explore tab in create new sandbox here:

![Screenshot 2019-12-12 at 15 46 07](https://user-images.githubusercontent.com/1051509/70721805-88bf6a80-1cf6-11ea-8ed6-1c13708f

[2019-12-12 14:46] #1437 closed

[2019-12-12 15:03] SaraVieira commented on #2085
Hey!

We no longer have popular templates and started going to an idea of community templates so I added a starter templates for aurelia in the explore section of the new modal that you can bookmark and have always in your modal:

![Screenshot 2019-12-12 at 16 02 30](https://user-images.githubusercontent.com/1051509/70723281-ece32e00-1cf8-11ea-8ab1-1b1a3913cdb5.png)

Here is the template link too:

[2019-12-12 15:03] #2085 closed

[2019-12-12 15:18] tcozzens commented on #1437
@SaraVieira this is awesome! Works great!

[2019-12-12 15:34] SaraVieira commented on #2421
Hey!

Right now we did change this to be able to have users creating them and also remove popular so you can control your modal and also in the explore they are organized by technology 🌈

[2019-12-12 15:34] #2421 closed

[2019-12-12 15:39] SaraVieira commented on #3186
This was fixed yesterday, we had some issues in that page

[2019-12-12 15:39] #3186 closed

[2019-12-12 16:03] mustangJaro commented on #3186
Thanks so much for the fast response @CompuIves! We definitely tested it yesterday and this morning with great success!

[2019-12-12 16:05] SaraVieira commented on #2996
Hey!

Sorry this is not something we support also because of browser constrains :(

[2019-12-12 16:05] #2996 closed

[2019-12-12 16:08] carloslfu commented on #2306
For anyone with stability concerns, I think this package is stable enough. Here some context:
- It's used by Gitlab in production: https://twitter.com/compuives/status/1032697802676027392?lang=en.
- It's used by CodeSandbox in production.

[2019-12-12 16:16] myusrn commented on #2085
excellent thanks for the followup on this and the solution to allowing aurelia templates into the codesandbox.io experience.

[2019-12-12 16:42] SaraVieira commented on #1112
Hey!

We actualy fixed this a while ago when someone needed this and we became available of a solution.

You can test here: https://codesandbox.io/s/74pzm9lkq6

We now have this in our iframe:
[code]

[2019-12-12 16:42] #1112 closed

[2019-12-12 17:15] NullVoxPopuli commented on #2421
The new organization is much better. The sorting is goofy, but at least everything is on the same page now

[2019-12-12 17:46] natkuhn commented on #667
In case it is helpful, here is a Minimal non-Working Example (MnWE) of the CORS error. Maybe a dozen lines in all. The only external resources are completely standard (Material-UI).

This is the second project in a row where this has happened, so I am guessing it happens to a lot of folks.

https://codesandbox.io/s/cors-error-demo-uvsoo

[2019-12-12 18:14] natkuhn commented on #667
In case it is of any help, here is a minimal example of the problem, less than a dozen lines of code, using just React and Material-UI.

https://codesandbox.io/s/cors-error-demo-uvsoo

The error is caused by an undefined variable in the JSX (which is even noted  by the syntax highlighter). If you un-comment the variable's declaration, everything works as expected.

Here is `index.js`:
[code]
And `

[2019-12-12 20:10] arthurdenner commented on #3139
Hi @denvash, can you double-check if this is still happening for you? I just tried with your theme and it worked. See [video](https://www.loom.com/share/eeaf114531964301adc740eaf6155875).

[2019-12-12 20:18] denvash commented on #3139
It's not working, even in your video its not working, my theme is colored like `dracula`.

[2019-12-12 21:19] #3133 closed

[2019-12-12 21:33] davidchanho commented on #3191
I had this issue as well. I remember turning off my pop up and ad blocker for the sign in. It seemed to work.

[2019-12-12 21:37] davidchanho opened #3197 "Why isn't there a paste option in right click and edit menu?"
# ❔ Question
I think its inconsistent not to have paste right click and edit menus but have copy and cut there. Also its inconsistent with other websites and applications.

![image](https://user-images.githubusercontent.com/33166931/70750975-739a0a00-1cfd-11ea-9ae3-43a7ac680918.png)

### Link to sandbox: [link]() (optional)

### Your Environment

| Software         | Name/Version |
| -------------

[2019-12-12 21:54] davidchanho opened #3198 "Deleted files come back"
# 🐛 bug report

## Description of the problem
After deleting a file through the explorer menu and then closing it in the editor menu, the files comes back in the explorer menu.

Also when you move a file into a different folder, it marks the file in the editor as deleted. However, when you close it in the editor menu, it will come back in the explorer menu where it was before. Then you end up with

[2019-12-13 09:32] agubler commented on #3092
Good morning, does anyone have any information for this issue? I would dearly love to use codesandbox ci for the dojo widgets library but at the moment this is a blocker unfortunately.

[2019-12-13 10:05] rizdaprasetya commented on #3191
Ah thanks for the advice @davidchanho

**It works** after I disable Chrome Extension [Adblock Plus](https://chrome.google.com/webstore/detail/adblock-plus-free-ad-bloc/cfhdojbkjhnklbpkdaibdccddilifddb)

So the issue is because of adblocker.
Tho nothing seems to be blocked:
[code]

[2019-12-13 10:05] #3191 closed

[2019-12-13 15:17] wojciechczerniak opened #3203 "CodeSandbox is trying to fetch JSDelivr URL with missing `version` variable"
# 🐛 bug report

## Description of the problem
CodeSandbox is trying to fetch JSDelivr URL with missing `version` variable:
`https://cdn.jsdelivr.net/npm/voc@/package.json`

![Screenshot 2019-12-13 at 16 06 14](https://user-images.githubusercontent.com/4718998/70809952-2b451f80-1dc3-11ea-8e5d-7012d851f77f.png)

Looks like a dependency version wasn't parsed correctly.

## How has this issue affected

[2019-12-13 17:30] c17r commented on #1912
Seems if `<style>` is empty AND has `lang="scss"` is when it breaks. Remove either one of those conditions and everything works.

[2019-12-13 17:38] aldrinpvincent opened #3206 "CodesandBox client crashes"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: https://codesandbox.io/s/interesting-dan-vkh3f</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System | CodeSandbox Version |
  | ------- | --------- | ---------------- | ------------------- |
  | chrome | 78.0.390

[2019-12-13 19:15] Ethan-Arrowood commented on #3135
Added comments and a readme. I believe this is ready to be shipped now

[2019-12-14 15:12] haroldao commented on #926
How did you fix your issue?

[2019-12-15 01:43] fryftpbmb opened #3210 "?"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System | CodeSandbox Version |
  | ------- | --------- | ---------------- | ------------------- |
  | chrome | 79.0.3945 | OS X 10.14.6

[2019-12-15 11:06] SaraVieira commented on #3210
Can you please let us know what you were doing when that happened?

[2019-12-15 15:17] iqno commented on #1320
Has anything like this been added since the opening of the request? I tried a https://codesandbox.io/s/SANDBOX_ID/download request but its just a 404.

[2019-12-16 14:48] #2435 closed

[2019-12-16 14:48] #3053 closed

[2019-12-16 15:04] #3088 closed

[2019-12-16 15:20] oskarabc commented on #563
File limit is now 500 and should be noticeably faster.

[2019-12-17 00:39] zerosheepmoo opened #3219 "Is there any way to extract the code from the sandbox except for downloading as a zip or using the github?"
# ❔ Question

My question is exactly same to the issue title. Especially, I wanted to extract the code or files from the iframed-sandbox or embedded one and I couldn't find the way. Is there any API or functionality to get the source files or code from sandbox or editor? It is not supposed to be directly copy and paste, downloading as a zip, and save the code on github.

### Your Environment

| So

[2019-12-17 09:33] nardove opened #3220 "Tryning to change the color or icon themes throw an error"
From the Preferences Menu trying to change the colour or icons theme throw an error

This happens on both Mac and PC, Firefox and Chrome

![Untitled-1](https://user-images.githubusercontent.com/277690/70983119-19f45f80-20b0-11ea-8514-182dd72f9eb0.jpg)

[2019-12-17 14:09] fang092 opened #3221 "Not sure what has been going on :/"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System | CodeSandbox Version |
  | ------- | --------- | ---------------- | ------------------- |
  | chrome | 77.0.3865 | Windows Server 2008 R2

[2019-12-17 15:11] garethx commented on #3219
Not at the moment, what is it that you're trying to do?

[2019-12-17 15:45] CompuIves opened #3222 "Dependency missing for CI project"
# 🐛 bug report

## Description of the problem
Can't find the transient dependency of a root dependency.

## How has this issue affected you? What are you trying to accomplish?

Link to sandbox: https://codesandbox.io/s/lucid-ui-basic-app-9fkvu

### Your Environment

| Software         | Name/Version |
| ---------------- | ------------ |
| Сodesandbox      |
| Browser          |
| Operating System

[2019-12-17 19:13] jhsu commented on #3222
here's a side-by-side of a next.js project and a create-react-app project using the same build:
https://ci.codesandbox.io/status/jhsu/lucid/pr/1/builds/5169

[2019-12-17 22:49] steveswork commented on #1975
Dealing with the same issue right now. "Saved all" codesandbox work, updated local machine and reloaded codesandbox. Codesandbox says it recovered lost files. But there were no lost files prior to shutting down the machine. Now, my files are outdated and contained unfinished files. And several child components are breaking in several places. My intention was to start integrating the finished work

[2019-12-18 03:19] iamhenry commented on #3110
I am also having this issue. I had set some custom snippets for React and they are no longer working.

Browser: Mac OS Brave 1.1.2.0

[2019-12-18 04:07] zerosheepmoo commented on #3219
Thanks! I am trying to combine the codesandbox with [draft.js](https://draftjs.org/) as a tool or plugin.

[2019-12-18 07:33] lbogdan commented on #3219
@zerosheepmoo Actually, if the sandbox is public, you can get its contents using the API endpoint `https://codesandbox.io/api/v1/sandboxes/[id]` , where `id` is the sandbox id - for example for the sandbox https://codesandbox.io/s/eager-cherry-s1ii2 you can get the contents from https://codesandbox.io/api/v1/sandboxes/s1ii2 .

[2019-12-18 07:51] alanlal opened #3225 "Right clicking projects in dashboard not closing the menu appeared in previous click"
# 🐛 bug report

## Description of the problem
If you goto the dashboard and right click different sandbox previews , all the right click menus persists on the screen

## How has this issue affected you? What are you trying to accomplish?
As a better user experiencem the menu from the previous right click should dissapear in the next right click

### Your Environment

| Software         | Name/Vers

[2019-12-18 08:05] jonaskkristensen opened #3226 "Svelte template returns undefined counter"
# 🐛 bug report
I was exploring Svelte in a new sandbox, and can see that the counter is returning undefined after first click. I'm not well known with svelte, so can't tell what makes the error

## Description of the problem
Counter returns undefined after first click

<img width="1112" alt="Screenshot 2019-12-18 at 09 01 58" src="https://user-images.githubusercontent.com/26645731/71067784-7837460

[2019-12-18 08:36] zerosheepmoo commented on #3219
@lbogdan
Oh, that's what I expected. It would be enough to be used to achieve my goal. Thanks.
By the way, is this info mentioned on docs? If you know where it is, please, reply with the link.

[2019-12-18 08:37] lbogdan commented on #3219
Unfortunately the API is not (yet) documented.

[2019-12-18 08:50] zerosheepmoo commented on #3219
@lbogdan
Thanks.
It was really helpful.
One more then, — this is not related the issue — is it available to edit the sandbox on the embed?
I mean, edit and save the code.

[2019-12-18 08:53] lbogdan commented on #3219
As far as I know, you can't edit / save code from the embed, you can only open the full editor and edit / save code there. @siddharthkp knows more, he's the "embeds jedi". 🙂

[2019-12-18 09:11] siddharthkp commented on #3219
Sorry, we don't save the code in embeds. You'd have to open sandbox in editor.

What's your use case? Sounds like you want a minimal ui with codesandbox's functionality 😇

[2019-12-18 12:02] iamandrewluca commented on #667
One more use case I encountered that throws `A cross-origin error was thrown.` When using a class before its declaration.

**Does throw error**

[code]

**Does not throw**

[code]

Keep in mind, a `class` not a `function`.

https://scotch.io/tutorials/understanding-hoisting-in-javascript

[2019-12-18 14:59] jhsu commented on #3222
taking a look at the network requests, the requests to unpkg (several `package.json` requests including  https://unpkg.com/d3-time-format@2/package.json) get a `429` (too many requests).

[2019-12-18 15:16] zerosheepmoo commented on #3219
@siddharthkp
Thanks, jedi! 😄
Actually, you may right. Only the code editor, live-view, and storage functionality are enough.

What I intended is making a component that shows someone's demonstration and can be shared. Then, creating it as a plugin of draft-js, and on the rich-editor, making a demo—which can be shared and stored on codesandbox flatform.

[2019-12-18 15:20] lbogdan commented on #3219
@zerosheepmoo Looks like you could make use of the define API, which is documented here: https://codesandbox.io/docs/importing#define-api .
Also, if you don't have any more questions, we'd appreciate you closing this, to keep the list of issues clean! 🙂 Thanks!

[2019-12-18 15:21] zerosheepmoo commented on #3219
Sure. Thanks.

[2019-12-18 15:21] #3219 closed

[2019-12-18 17:10] siddharthkp commented on #3219
Don't forget to show us what you build! <3

[2019-12-18 19:23] shiftyp opened #3228 "Unable to edit in Live mode"
# 🐛 bug report

## Description of the problem

In live mode (classroom) there came a point where noone in the room could edit the file.

## How has this issue affected you? What are you trying to accomplish?

Trying to teach using Live Mode

### Link to sandbox: [link]() (optional)

I don't have the sandbox link anymore, but [here](https://dev.to/shiftyp/introducing-emoji-island-2n7d) is a video r

[2019-12-19 02:37] nur91m opened #3229 "I'm getting error when I try to log in with my github account"
<h1>💥 Crash Report</h1>

  <h2>What were you trying to accomplish when the crash occurred?</h2>

  <h3>Link to sandbox: [link]() (optional)</h3>

  <h3>Crash Details</h3>

  <details>
  <summary>Environment</summary>

  | Browser |  Version  | Operating System | CodeSandbox Version |
  | ------- | --------- | ---------------- | ------------------- |
  | chrome | 79.0.3945 | Windows 10           |

[2019-12-19 08:51] #3111 closed

[2019-12-19 08:51] #3113 closed

[2019-12-19 08:51] #3229 closed

[2019-12-19 08:51] #2587 closed

[2019-12-19 10:00] nur91m commented on #3229
@CompuIves Hi Ivan. When I try import repository from github it says Somthing went wrong. Status code 422 error.

[2019-12-19 10:04] garethx commented on #3229
The error in the 422 is 'Only a max of 500 modules is allowed in a sandbox'. So your dependencies are using more than 500 modules, which is a hard limit on what can be used on CodeSandbox at the moment for performance reasons.

[2019-12-19 15:04] fcdeveloper opened #3230 "Stripe checkout-single-subscription"
# ❔ Question

I am getting this error "root path required"
but don't see where I have to set this value?

Code with sandbox on Window 10

[2019-12-19 15:09] garethx commented on #3230
You can have to add the environment variables specified in .env.example, which you can do from the server control panel on the left in the editor, under Secret Keys, in-particular `STATIC_DIR`, which is '../../client' in their example app.

[2019-12-19 15:09] #3230 closed

[2019-12-19 15:16] fcdeveloper commented on #3230
Yes I did.. but still getting the same error message when I try to launch the server

[2019-12-19 15:21] fcdeveloper commented on #3230
Done.. Thank You!

[2019-12-19 15:42] NikhilVerma opened #3231 "Code being duplicated in live mode"
# 🐛 bug report

## Description of the problem

1. Start a live editing session - Open Mode (Parcel + Vanilla JS)
2. Have a Javascript file around 100 lines
3. Invite 3 attendees to the live editing session
4. Ask the attendees to make changes in different locations (e.g. Person A copy pastes a line from line 10 to line 20, Person B changes something in the middle of the file, Person C updates the

[2019-12-19 19:04] shiftyp commented on #3231
Possibly related to my issue #3228

[2019-12-20 10:11] wojciechczerniak commented on #3197
Only in native context menus. You can't have a custom context menu with `paste` option. Paste API was removed from web-browsers for security reasons.

[2019-12-20 11:48] CompuIves commented on #3231
Ahhh hmmm, I thought we had fixed this specific issue with the last Overmind move. I think this happens because of singing of changes, where someone broadcasts the changes they've received. Let's say you have User A and User B, and this happens:

- User A sends "aa"
- User B applies "aa", but there's a race condition where User B is not only applying the code, but also sending "aa" to everyone els

[2019-12-20 17:15] garethx commented on #3226
I've updated to the latest version and this resolve the issue. Thanks for reporting.

[2019-12-20 17:15] #3226 closed

[2019-12-21 09:31] gimme4free opened #3234 "How to deploy codesandbox repo without any need for access to codesandbox servers"
Is there a way to setup/deploy codesandbox locally without needing access to the server? So can we get rid of the templates feature from our local deployment so we can use it without needing access to codesandbox servers?

[2019-12-21 16:49] davidchanho commented on #3197
Ok, thank you.

[2019-12-21 16:49] davidchanho commented on #3197
Ok, thank you

[2019-12-21 16:49] #3197 closed

[2019-12-22 05:47] ntucker commented on #1286
seems to ignore browserslist configurations set in package.json

[2019-12-22 17:58] andyrichardson commented on #2249
Weirdly enough I'm having this same issue.

[Here's my sandbox](https://codesandbox.io/s/github/andyrichardson/fielder/tree/master/examples/2-multi-step).

Currently despite my main being set in `package.json`, it always opens the lock file by default.

Note: Also using Parcel.js

[2019-12-23 06:29] Shriram-Balaji opened #3235 "ENOSPC: No Space Left on Device with yarn-workspaces and typescript"
# 🐛 bug report

## Description of the problem

Error: Could not write file '/sandbox/packages/core/dist/api/client.d.ts': ENOSPC: no space left on device, mkdir '/sandbox/packages/core/dist'.

Is there a way to increase the space on the device, using sandbox configuration maybe? Could be related to https://github.com/codesandbox/codesandbox-client/issues/1892, but I'm not sure if the cause for the

[2019-12-23 08:24] lbogdan commented on #3235
Hey @Shriram-Balaji ,

Unfortunately we have a hard storage limit of 1GB, which your sandbox seems to be reaching:
[code]
There's currently no way of increasing this limit.

[2019-12-25 00:02] ChrisBrownie55 commented on #1053
Hey, I'm interested in what the current status is on the possibility of adding in a feature to be able to preview markdown. It seems like @SaraVieira got started on MDX preview capability but the PR was closed without any comments.

[2019-12-25 12:33] SaraVieira commented on #1053
Hey!

We are still gonna build this but that PR had code that was waay too old to be merged :/

[2019-12-25 21:59] ChrisBrownie55 commented on #1053
Glad to hear it's still on the radar 👍 I'd love to help with the development if at all possible

[2019-12-26 00:28] Snickdx opened #3236 "Navigated html page not showed in the preview url"
# 🐛 bug report

## Description of the problem
1. The current page is not shown in the preview browser url. Works if the browser is popped out in a separate window though.
![cs](https://user-images.githubusercontent.com/5845054/71451513-1b77f480-274e-11ea-8f5c-66e3474b8a54.gif)

2. On edits to project html files other than index.html live-reload loads the contents of index.html and not the currentl

[2019-12-27 18:43] nardove commented on #3220
I can see this is no longer an issue

[2019-12-27 18:43] #3220 closed

[2019-12-27 18:43] nardove commented on #3220
I can see this is no longer an issue

[2019-12-28 14:43] asimdahall opened #3238 "`console.dir()` doesn't work"
# 🐛 bug report

## The `console.dir()` method doesn't  log any information in the console

Wanted to see the dom object structure but didn't show up in the console. I had to use the browser's console to see the information.

### Your Environment

| Software         | Name/Version |
| ---------------- | ------------ |
| Сodesandbox      | Latest
| Browser          | Chrome latest
| Operating System

[2019-12-28 15:01] rlee1990 commented on #2634
I have the same issue

[2019-12-28 15:53] rlee1990 commented on #2634
@lbogdan that didn’t help me at all

[2019-12-30 04:37] #3235 closed

[2019-12-30 07:11] sreetamdas commented on #3221
Is the repository a private repo? Your link currently gives me a 422 error.

[2019-12-30 17:48] chadananda commented on #1233
Even a small project is going to have more than 250 files. Is Codesandbox not trying to compete with Cloud9? Am I misunderstanding the nature of the project?

[2019-12-30 18:46] adamkleingit opened #3241 "Website is showing as a mobile interface - it's unusable"
# 🐛 bug report
The website is showing as a mobile interface on desktop web - it's unusable.

## Description of the problem
See image:
![image](https://user-images.githubusercontent.com/889418/71595703-670f1180-2b45-11ea-8403-52d5ba924b0d.png)

## How has this issue affected you? What are you trying to accomplish?
Can't use the website

### Link to sandbox: [link]() (optional)
### Your Environment

[2019-12-30 19:29] SaraVieira commented on #3241
Hey!

Can you share your browser dimensions?

[2019-12-30 22:38] asiahpolo commented on #1437
For some reason I cant type anything on a new terminal tab.

[2019-12-30 23:20] colemars opened #3242 "Does the sandbox detect accessibility settings?"
# ❔ Question

On my mac I have `Reduce Motion` enabled, but this sandbox, while targeting `prefers-reduced-motion`, is behaving like it is not and triggering `no-preference` instead of `reduce`.

### https://codesandbox.io/s/material-demo-u0hwk

### Your Environment

| Software         | Name/Version |
| ---------------- | ------------ |
| Сodesandbox      |
| Chrome          |
| Mojave |

[2019-12-30 23:36] colemars commented on #3242
System issue.

[2019-12-30 23:36] #3242 closed

[2019-12-31 11:31] JulianG opened #3243 "Semver Tilde Ranges wrong when importing from github repo?"
# 🐛 bug report

[code]

## Description of the problem

My package.json specifies `"typescript": "~3.7.2"` but when loaded into codesandbox it is resolved as "3.8.0-dev.20191231"

![semver](https://user-images.githubusercontent.com/237818/71620576-931ca800-2bc2-11ea-9020-5cebc47678fa.gif)

[According to yarn](https://yarnpkg.com/lang/en/docs/dependency-versions/#toc-tilde-ranges), "using ~ with a m

[2019-12-31 11:33] NataliaTepluhina opened #3244 "Embedded sandbox shows only Preview on the width less than 816px"
# 🐛 bug report

## Description of the problem

When trying to add an embedded sandbox into the container with the width less than 816px, it shows the Preview tab only even if 'Editor+Preview' was selected

## How has this issue affected you? What are you trying to accomplish?

I am trying to add sandboxed to the documentation based on VuePress and the main container there is 740px width (a good ex

[2019-12-31 11:56] SaraVieira commented on #3244
👋👋

Gonna ping @DannyRuchtie and @siddharthkp as they worked on the new embeds

[2019-12-31 12:59] adamkleingit commented on #3241
Hi!

I just checked again and I was zoomed in. But I understand how that happened - I hit cmd+0 but that doesn't work on Codesandbox' dashboard page, so I was sure I was at baseline zoom. Funny...

Anyway - closing :)

[2019-12-31 12:59] #3241 closed

[2019-12-31 15:56] SaraVieira commented on #3241
Ohhh, but it is weird that the dashboard won't let you do that :/

[2019-12-31 23:35] matthewlal commented on #3136
No support for paying customers?

[2020-01-01 14:46] MinimumViablePerson opened #3245 "Undo set template giving a 500"
# 🐛 bug report

## Description of the problem

Whenever I'm in my overview page, accidentally click on the "Make Sandbox a Template" option (it's really close to the move to trash one), and then try to undo my changes, I consistently get the following error:

![image](https://user-images.githubusercontent.com/16916098/71642572-4d84db80-2ca5-11ea-91f2-09a27336108b.png)

Had a look at the network ta

[2020-01-01 22:02] tayelno commented on #3110
Yup me too here is my **WIP Snippet: ** https://atayel.netlify.com/slides/react-hooks/
sandbox itself is here https://codesandbox.io/s/github/tayelno/react-hooks-demo

On Brave guarding against cross-site trackers will make the iframe hang on an empty editor.

### Link to website: https://atayel.netlify.com/slides/react-hooks/
### Link to sandbox:  https://codesandbox.io/s/github/tayelno/react-hoo

[2020-01-02 00:03] benprofitt commented on #1264
I am currently experiencing this error on a react-ts project imported from a github repo

[2020-01-02 01:52] briandeheus opened #3246 "Console messages not showing up in console."
# 🐛 bug report

## Description of the problem
Messages sent to console via `console.log`, `console.debug`, `console.warn` et cetera are not showing up in the console section of codesandbox.

When opening the sandbox in a separate window, outside of the codesandbox GUI, it does show up in the native browser console.

In the browser native console the message does show up, but then inexplicably code