[2018-10-07 19:07] cloud-walker commented on #1152
Yes, thats my thought, but I'm open to other solutions.

I also think I could make the change myself, but I'm not familiar with the codebase yet 🤔

[2018-10-08 09:16] SaraVieira commented on #1152
Hey!

I looked into this and this is a constrain of Monaco itself :(

https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.ieditoroptions.html#fontsize

You can only pass a number to it and it always assumes px: https://github.com/Microsoft/monaco-editor/blob/3a22d5d/monaco.d.ts#L2955

:(

[2018-10-08 09:58] elrumordelaluz opened #1171 "Layout isue opening the console"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?

Layout issue opening the `console`.
![codesanbox-issue](https://user-images.githubusercontent.com/784056/46602733-4ba78900-caf1-11e8-8f04-1fe092fc1deb.gif)

###  Link to sandbox: [link](https://codesandbox.io/s/momwrp78xj)
### Your Environment
| Software         | Name/Version|
| -

[2018-10-08 10:47] Haroenv opened #1172 "422 error on Vue CLI 3 project from GitHub"
# 🐛 bug report

## Description of the problem

https://codesandbox.io/s/github/algolia/vue-instantsearch/tree/feat/connectors/examples/media

Will throw an error in CodeSandbox

[code]

This is returned from the backend.

## How has this issue affected you? What are you trying to accomplish?

I can't see anything, since there's a 422 error

###  Link to sandbox: [link](https://codesandbox.io/s/git

[2018-10-08 13:00] #1152 closed

[2018-10-08 13:10] SaraVieira commented on #1171
This is a firefox issue :(

I'll try to look into it

[2018-10-08 13:18] eps1lon opened #1174 "TypeError when setting react-scripts to a npm tag"
# 🐛 bug report

## Description of the problem
Setting the version string in `package.json` to a npm tag causes codesandbox to crash with
[code]
## How has this issue affected you? What are you trying to accomplish?
We have the versions of our examples in material-ui always set to `latest`. npm and yarn are able to resolve this but codesandbox requires a valid semver range in that field:
https://gi

[2018-10-08 13:30] yoonwaiyan commented on #296
@jensMG I believe this could be done through a local clone from CodeSandbox as long as a git repo gives public access. For private repos and in this case of using BitBucket, CodeSandbox users would need to authorize access to their BitBucket account through OAuth so that CodeSandbox could get the list of repos and clone it through the [API](https://developer.atlassian.com/bitbucket/api/2/reference

[2018-10-08 13:52] Bobgy opened #1177 "build failure: Could not find/install babel plugin 'transform-object-rest-spread'"
# 🐛 bug report

## Description of the problem
I imported a repo from github created by CRA 2, and it fails to compile in codesandbox with error message: `Could not find/install babel plugin 'transform-object-rest-spread': Cannot find module '@babel/plugin-transform-object-rest-spread' from '/src'`

I tried creating a new repo with template create-react-app in codesandbox and copied my code there,

[2018-10-08 19:29] arthurdenner commented on #1148
@tansongyang is this error still happening to you? If not, could you close the issue? My PR was merged and now the grid is updates as expected.

[2018-10-08 21:08] tansongyang commented on #1148
Hi @arthurdenner , did you mean to tag me or someone else?

[2018-10-08 21:35] elrumordelaluz commented on #1171
Awesome Sara!
I initially thought was related on the big string logged after loading an image in [that specific snadbox](https://codesandbox.io/s/momwrp78xj) that set the `width: calc(100% - ${very-big}px)`.

![codesandbox](https://user-images.githubusercontent.com/784056/46634833-90afd780-cb52-11e8-9e0e-28145bc6f57d.gif)

Probably [this PR](https://github.com/samdenty99/console-feed/pull/6) solve

[2018-10-09 00:36] arthurdenner commented on #1148
Hahaha sorry, I meant to tag @taranvohra.

[2018-10-09 06:56] taranvohra commented on #1148
@arthurdenner the error is still there.

[2018-10-09 08:36] CompuIves commented on #764
Whoop!

[2018-10-09 08:36] #764 closed

[2018-10-09 08:37] CompuIves commented on #696
Whoop whoop!

[2018-10-09 08:37] #696 closed

[2018-10-09 08:38] CompuIves commented on #1140
Nice! You can now just change any file to see the editor update, I'd recommend checking out pages/Sandbox.js as that's the entry point of the editor.

I'll close this one now, you can check our Discord for more questions on this!

[2018-10-09 08:38] #1140 closed

[2018-10-09 08:42] #1174 closed

[2018-10-09 08:42] CompuIves commented on #1174
Hey! Sorry for that, fixed now!

[2018-10-09 09:04] #1169 closed

[2018-10-09 09:04] CompuIves commented on #1177
Should be fixed with a deploy in 15 min! The isssue was that we run CRA v1 transforms on the jsx files, I fixed that.

[2018-10-09 09:04] #1177 closed

[2018-10-09 09:05] CompuIves commented on #1169
Fixed with the next deploy!

[2018-10-09 09:07] CompuIves commented on #1170
Heyo! Thanks for reporting the issue!

Do you still have this issue? I can't reproduce it currently. What do the console errors say?

[2018-10-09 09:50] pahund commented on #1169
👍 Thanks – keep up the great work!

[2018-10-09 10:27] JonShort opened #1178 "React template errors on @babel/plugin-transform-object-rest-spread"
# 🐛 bug report

## Description of the problem
The latest react template errors at random, requesting `'@babel/plugin-transform-object-rest-spread'`, despite spread/rest not being used in codebase.

![image](https://user-images.githubusercontent.com/21317379/46663198-67746300-cbb5-11e8-8811-434349daf157.png)

This error seems to appear sporadically when:
- changing project name
- changing project d

[2018-10-09 10:39] Haroenv commented on #1172
looking forward to the fix ❤️

[2018-10-09 10:47] CompuIves commented on #1172
Deployed 😄

[2018-10-09 10:47] #1172 closed

[2018-10-09 10:48] CompuIves commented on #1178
I just pushed a fix for this 😄.

Feel free to reopen this if it occurs again!

[2018-10-09 10:48] #1178 closed

[2018-10-09 10:48] CompuIves commented on #1170
That sounds good! I pushed some other fixes so it may have fixed this too. Feel free to reopen if it happens again!

[2018-10-09 10:48] #1170 closed

[2018-10-09 10:49] CompuIves commented on #1148
Just got deployed. I did a test and it seems to work! Don't hesitate to reopen if it happens again.

[2018-10-09 10:49] #1148 closed

[2018-10-09 10:50] CompuIves commented on #1167
Heya! Do you have an example sandbox? I'm not able to reproduce the issue.

[2018-10-09 10:51] CompuIves commented on #1166
Hmm, this one is hard to solve I think. We execute the code in the browser, so there isn't really permissions to open a program directly from the editor. I could be mistaken though, what are you trying to build in this sandbox?

[2018-10-09 10:52] JonShort commented on #1178
🎉 Excellent! Apologies for the duplicate issue, I did not see 1177 😱

[2018-10-09 10:52] CompuIves commented on #1165
Try `react-smooshpack`! It isn't officially released yet, that's the main reason we don't have it on that namespace yet.

[2018-10-09 10:52] #1165 closed

[2018-10-09 10:54] CompuIves commented on #1150
The sandpack-xxx.codesandbox.io just is a proxy to https://unpkg.com/smooshpack@0.0.52/sandpack/, so if you want to host that yourself you can do that and link to it 😄.

The application that you find there does the actual bundling, we load that application in an iframe and let Manager communicate to it with postMessage. So in this case the manager sends all the files and the bundler in the iframe

[2018-10-09 12:08] Haroenv opened #1179 "Babel error on Vue CLI 3 template"
# 🐛 bug report

## Description of the problem

This is likely because some mismatch of Babel versions?

## How has this issue affected you? What are you trying to accomplish?

<img width="562" alt="screen shot 2018-10-09 at 14 05 50" src="https://user-images.githubusercontent.com/6270048/46668406-9f3ad500-cbcc-11e8-9d46-00d1e3109644.png">

[code]

###  Link to sandbox: [link](https://codesandbox.i

[2018-10-09 12:11] Haroenv commented on #1179
I think it has something to do with one of these dependencies:

[code]

[2018-10-09 12:17] Haroenv opened #1180 "Rawgit is closing down"
# 🐛 bug report

## Description of the problem

There are some links on rawgit, which will be closed down (see [main page](https://rawgit.com)). These should be replaced with regular GitHub links and forcing the mime type somehow; or with an alternative like https://raw.githack.com

## How has this issue affected you? What are you trying to accomplish?

Not yet, but there's [5 places](https://githu

[2018-10-09 12:20] marko-invision opened #1181 "Console/Problems not working"
# 🐛 bug report

## Description of the problem

Sandbox console/problems window not working (no outputs). This starts 10 minutes ago.
Browser console still working. If the browser-preview-window is open in a new window, the sandbox console works. 🤔

## How has this issue affected you? What are you trying to accomplish?

Nothing changed. All React Projects Sandboxes are effected.

###  Link to sandb

[2018-10-09 12:30] shiv15 commented on #1150
Thank you so much. This definitely solves the bundler in my thimble. Thanks a Lot. Closing the issue now.

[2018-10-09 12:30] #1150 closed

[2018-10-09 12:42] Haroenv commented on #1179
Maybe it's because the cli-plugin-babel has babel 7 alpha, and you might have the released version?

[2018-10-09 12:48] Haroenv commented on #1147
Yes, seems like the version of ReasonReact somehow isn't the one you ask for. See also `ReasonReact.string`

[2018-10-09 12:49] CompuIves commented on #1181
Working on a fix!

[2018-10-09 13:02] CompuIves commented on #1181
Fix is live!

[2018-10-09 13:02] #1181 closed

[2018-10-09 13:04] CompuIves commented on #1180
Good one. We should either create a mime type proxy ourselves or we should use another service. raw.githack.com looks very similar to rawgit. We'd need to check how reliable they are with hosting, rawgit was really good.

[2018-10-09 13:16] Haroenv commented on #1180
Note that rawgit is open source, so that's an option to run it on codesandbox' servers instead :) https://github.com/rgrove/rawgit

[2018-10-09 14:07] skirankumar7 commented on #1042
**I also have same error**

[2018-10-09 14:20] skirankumar7 commented on #1042
this error due to **"I am not robot" verification**,
above is not asking in code sandbox,
go to network tab in dev tools,
there select the **first failled response** , and in right side select **preview** you will see  "I am not robot" verification, c**opy that corresponding url** and paste in new tab and complete verification
After that **refresh** your codesandbox.

[2018-10-09 15:06] eps1lon commented on #1174
@CompuIves Thank you! How can I subscribe to deployed changes?

[2018-10-09 15:10] Bobgy commented on #1177
@CompuIves thank you! confirmed it's working now

[2018-10-09 15:17] CompuIves commented on #1174
We show the version you're on in the bottom left (in the sidebar), it will
update to the latest commit sha on every deploy. Other than that it would
be good to build something for this.

On Tue, Oct 9, 2018 at 5:06 PM Sebastian Silbermann <
notifications@github.com> wrote:

[2018-10-09 15:57] SaraVieira commented on #873
This already launched 🎉

[2018-10-09 15:57] #873 closed

[2018-10-09 17:15] dangdennis commented on #1147
I tried to dig for the area where the Reason config files or maybe a `bsconfig.json` could be, but no luck. Was hoping I can fix this myself to use the latest stuff in ReasonReact.

[2018-10-09 17:18] boonyasukd opened #1182 "Babel doesn't work well with Vue"
# 🐛 bug report

## Description of the problem
There are several instances which I tried to use Vue in Codesandbox, but encountered problems:

- I first created a [sandbox](https://codesandbox.io/s/j3qqqx88mv) to play around. I found that things work mostly okay, until I tried to use spread operator, in which the system starts throwing out error. Removing spread operator brings application back to

[2018-10-09 17:20] peterschussheim opened #1183 "How does the 'pr deployment' check work?"
Hi Ives,

Is the source available for the PR check that deploys each PR to `prXXXX.cs.lbogdan.tk/s/new`?  I am trying to do that same workflow and I am curious how you implemented it in this repo.

best,
Peter

[2018-10-10 12:12] SaraVieira commented on #119
This has been implemented 🎉🎉

[2018-10-10 12:12] #119 closed

[2018-10-10 16:55] Dremora commented on #936
It seems the issue is still present... occasionally. I had [a sandbox](https://codesandbox.io/s/3rxq4x2oq1) which was broken but resrtarting it a few times has somehow resolved the issue.

[2018-10-12 12:17] taranvohra opened #1186 "Unable to delete permanently from trash"
# 🐛 bug report
Unable to delete items from trash
## Description of the problem
I have a sandbox in trash for quite awhile, and when I try to delete it permanently it gives me an error. @CompuIves This issue was closed before but doesn't seem to have gone completely
## How has this issue affected you? What are you trying to accomplish?

###  Link to sandbox: [link]() (optional)
[GIF](http://g.recor

[2018-10-12 16:00] husayt commented on #1167
Hi @CompuIves It seems, you have done some magic and now all the images work:

https://31v6l067mm.sse.codesandbox.io/

[2018-10-12 16:01] #1167 closed

[2018-10-12 20:43] malwilley opened #1187 "Sandboxes don't load in IE11"
# 🐛 bug report

## Description of the problem

IE11 does not load any sandbox, user is greeted only with a blank page. Console error shows `SCRIPT1005: Expected '('`. Seems to be related to generator functions not being transpiled since this is the problem spot:

![image](https://user-images.githubusercontent.com/10888943/46892746-21790280-ce34-11e8-94fa-a6cf64fbaa28.png)

## How has this issue af

[2018-10-12 20:48] SaraVieira commented on #35
@CompuIves Is this still valid ? Most things are already responsive

[2018-10-12 20:51] SaraVieira commented on #59
closed by lack of comments in over a year

[2018-10-12 20:51] #59 closed

[2018-10-12 20:54] SaraVieira commented on #171
Closed because demo does not exist anymore

[2018-10-12 20:54] #171 closed

[2018-10-12 20:57] SaraVieira commented on #234
This is a really nice idea!!

<img width="613" alt="screenshot 2018-10-12 at 22 56 42" src="https://user-images.githubusercontent.com/1051509/46893693-1d6bd580-ce72-11e8-836d-735b9b53d942.png">

Is this supposed to achieve that ?

[2018-10-12 21:00] SaraVieira commented on #334
This has been created! YAAAAY

[2018-10-12 21:08] SaraVieira commented on #422
Hey!

We could add this to the info box.

What do you think of something like this ?
<img width="568" alt="screenshot 2018-10-12 at 23 08 13" src="https://user-images.githubusercontent.com/1051509/46894142-bbac6b00-ce73-11e8-96a1-df07e97642d7.png">

[2018-10-12 21:10] SaraVieira commented on #452
@radi-cho Can you still reproduce this? I tried on chrome and couldn't anymore

[2018-10-12 21:21] #583 closed

[2018-10-12 21:22] #587 closed

[2018-10-13 01:14] KKS1 commented on #1035
Hi @reccanti , two steps fixed this for me.

1) Add `redux-devtools-extension`  and `redux-devtools` as dependencies in your sandbox.

2) In your store js, do this
``` import { devToolsEnhancer } from "redux-devtools-extension" ```

    ```export default createStore(rootReducer, devToolsEnhancer())```

where `rootReducer` is simply default export from `combineReducers` output.
Here is a sandbox To

[2018-10-13 03:50] Hum4n01d commented on #334
I don't see it on the website, has it not been pushed?

[2018-10-13 08:12] SaraVieira commented on #334
Sorry, this was my mistake . It's still not in it :(

[2018-10-13 12:34] radi-cho commented on #452
@SaraVieira Yup, I'm still able to reproduce it in Chrome 69, Win 10.
Screenshot captured a minute ago:
![image](https://user-images.githubusercontent.com/12954909/46905510-7cc2f780-cefd-11e8-9b7c-02f587131cd9.png)

[2018-10-14 00:29] bernatfortet commented on #1166
I was just trying to present an issue coming from some libraries interacting with Electron. Not super important though.

Thanks for answering.

[2018-10-14 21:39] ealipio commented on #950
Agree, that will be amazing! any news about this ?

[2018-10-15 09:58] saityro commented on #1177
Hello there! I'm having this exact problem today. Same config but on windows 10.
[code]

[2018-10-15 13:58] kro12 commented on #935
Was searching to see if this feature was supported and landed here **+1**

[2018-10-15 14:46] francoischalifour opened #1189 "External JavaScript imports in HTML break sandboxes"
# 🐛 bug report

## Description of the problem

External JavaScript imports in HTML break sandboxes since ~12pm (GMT+2):

[code]

If the external script is also added as a npm dependency, the error disappears.

Note that internal JS imports still work.

## How has this issue affected you? What are you trying to accomplish?

I was trying to load a previously working sandbox.

###  Link to sandbox: [

[2018-10-16 04:37] deecewan opened #1191 "ModuleNotFound when other people view the sandbox."
# 🐛 bug report

## Description of the problem

When looking at the sandbox from the edit view, everything works normally. If I go to [the direct link](https://815z28rpp8.codesandbox.io/) it works, too.

However, if I open either the sandbox or the page in Incognito, or I send the sandbox link to someone else, I get a ModuleNotFoundError.

![image](https://user-images.githubusercontent.com/4755785/

[2018-10-16 04:41] deecewan commented on #1191
Hmm. So. Forking it maintains the problem. It seems to be fixed if I edit the line that is importing it.

If I remove the `import { IntlProvider, FormattedMessage, addLocaleData } from "react-intl";` line, save, and re-add, it seems to work.

[2018-10-16 06:05] bigopon opened #1192 "How to config HtmlWebpackPlugin"
# ❔ Question

###  Link to sandbox: (https://codesandbox.io/s/p7km1z3jlx)
### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Browser | Brave

I'm having difficulty making the example in the link above work. The way a normal Aurelia app works is an entry script pointing to module `aurelia-bootstrapper`, which does all the bootstrapping, and then find element

[2018-10-16 08:01] SaraVieira commented on #1183
CC @lbogdan

[2018-10-16 08:56] lbogdan commented on #1183
Hey @peterschussheim , it is not available (mostly because it was put together in a hurry and the code is ugly 🙂 ), but it's just a [github webhook](https://developer.github.com/webhooks/) that listens for PR create / update and builds and deploys that PR in a docker container.

[2018-10-16 10:14] prateekgoel commented on #1023
Hi @CompuIves, I would like to work on this if this is a desired feature. It would be my first PR. Do you have any thoughts on this?

[2018-10-16 12:20] jadjoubran opened #1193 "Possibility to expose editor in embed mode"
# 🌈 Feature

## What is this feature?
It would be cool to allow an embedded codesandbox to expose the code that is being written in it to the original page (feature should be opt-in of course) as this allows new use cases to built on top of codesandbox.

## How the feature should work?
Not entirely sure but communication between iframe and main page (different domain) should work using `postMessag

[2018-10-16 13:42] THEozmic opened #1195 "Option to display file tree on the right side"
# 🌈 Feature

### What is this feature?

Have the option put the left-side file tree pane on the right side of the browser.

### How the feature should work?

Perhaps have a "dock-to" button just like we have for the browser pane. Or an option in the appearance preferences.

### You have examples or an idea how it can be implemented?
An example is the browser and console pane dock buttons.

[2018-10-16 14:53] vegarringdal opened #1196 "DevTools failed to parse SourceMap"
# 🐛 bug report

## Description of the problem

I get a lot of warnings in dev console in chrome about sourcemaps.

What I see with sourcemaps
![image](https://user-images.githubusercontent.com/2901416/47024662-6ff30d80-d162-11e8-9200-202e1e1480a7.png)

Also if I use `import()` with html it breaks it.
See `loadTemplate()` function in index.html.

## How has this issue affected you? What are you try

[2018-10-16 15:19] GulcanBaran commented on #1177
Hello there, you can use "Add Dependency" button to add babel-plugin-transform-es2015-modules-commonjs in CodeSandBox. It solves the same problem on windows 10.

[2018-10-16 15:49] peterschussheim commented on #1183
Thank you both 🙂

[2018-10-16 15:49] #1183 closed

[2018-10-16 16:13] lbogdan commented on #1183
@peterschussheim Btw, I'm `BogdanL` on [CodeSandbox Discord](https://discord.gg/KE3TbEZ), if you need any kind of guidance (or just wanna talk 🙂).

[2018-10-16 21:10] jgierer12 opened #1198 "Improve PWA icon contrast"
# 🌈 Feature

First off, I was very happy to discover that CodeSandbox already supports Chrome 70's desktop PWA installation feature! This means that I can now run it like any other Windows program. However, I noticed that the app icon is almost indistinguishable from Windows 10's black taskbar:

![Current icon](https://user-images.githubusercontent.com/4331946/47047217-44d6e100-d197-11e8-9db2-21eb

[2018-10-17 06:14] JReinhold opened #1199 "Running mdx-deck in a container gives a nginx 502 error - possibly due to websockets"
# 🐛 bug report

Hi great people of the internet, I could use your help. 🙋🏻‍♂️ ☺️

## Description of the problem

When trying to use the new container feature to set up a [mdx-deck](https://github.com/jxnblk/mdx-deck) environment, it never actually shows the deck output, hence it doesn't work.
Instead, the preview window just shows a classic nginx "502 Bad Gateway" error. Judging from the terminal

[2018-10-17 13:29] vegarringdal commented on #1196
I tried to use the react-ts with my hobby framework, I also get sourcemap warnings here.
But `import()` works, so that issue is related to just parcel template
https://codesandbox.io/s/28ww10j0r

Looking at default angular template I can see the sourcemaps warnings here too.
https://codesandbox.io/s/angular?from-embed

**Off topic:**
@CompuIves
Would have been nice if we had a clean typescript lik

[2018-10-17 15:54] peterschussheim commented on #1183
Thanks @lbogdan <https://github.com/lbogdan>, I will talk to you soon on Discord :)

On Tue, Oct 16, 2018 at 12:13 PM Bogdan Luca <notifications@github.com <mailto:notifications@github.com>> wrote:
@peterschussheim <https://github.com/peterschussheim> Btw, I'm BogdanL on CodeSandbox Discord <https://discord.gg/KE3TbEZ>, if you need any kind of guidance (or just wanna talk 🙂).

—
You are receiving

[2018-10-17 17:09] einarlove commented on #1006
![image](https://user-images.githubusercontent.com/1495211/47103598-d9951980-d23f-11e8-8232-48c85c859a2f.png)

Here in Norway—and probably many no-English countries—the `/` key is behind a modifier key. So ⌘+⇧+7 is required to comment which does work in vscode, but not Codesandbox.

[2018-10-17 20:45] ergunsh commented on #21
Hey!

I would like to work on this, do you think this is a good issue to dive into the codebase?

Also, how do you think `folder/file` structure should be handled?
https://codesandbox.io/s/[id]#file-[folder/filename]-L[linenumber] is good?

Aaaand, Thank you very much for this awesome tool! I'm amazed the things you've achieved as a student! 🎉

[2018-10-18 04:56] artalar opened #1202 "Add options to choose the template for import from GitHub"
# Add options to choose the template for import from GitHub

Right now (by my experience) import from GitHub always set "create-react-app" template
(for example https://codesandbox.io/s/github/rtcad/rtcad), but what if I need `node` template or other for an imported project?

Please, add the ability to choose a template for import from GitHub

[2018-10-18 05:02] artalar commented on #1202
I was trying to add `sandbox.config.json` (after import) and set `"template": "node"`, but nothing was change

[2018-10-18 05:05] artalar commented on #1202
BBy the way I was not found `"node"` case here https://github.com/codesandbox-app/codesandbox-importers/blob/master/packages/import-utils/src/create-sandbox/templates.ts

[2018-10-18 06:18] lbogdan commented on #1202
Hey @artalar , it should work with a `sandbox.config.json` with `"template": "node"`- I forked your repo and added it here: https://github.com/lbogdan/rtcad/blob/master/sandbox.config.json / https://codesandbox.io/s/github/lbogdan/rtcad . Also, you don't have a main script in `package.json`, which should be one of `dev`, `develop`, `serve` or `start`.

[2018-10-18 13:34] artalar commented on #1202
@lbogdan thanks! But will be greate if the type of template can be switched after import - for import and inspect others repos

[2018-10-18 13:45] lbogdan commented on #1202
The template gets updated as soon as you add / update `sandbox.config.json` in the repo (as you can see with your rtcad/rtcad repo, which now is seen as a node sandbox: https://codesandbox.io/s/github/rtcad/rtcad .

[2018-10-18 14:42] SaraVieira commented on #1006
I have the same issue with a Portuguese keyboard :(

[2018-10-18 14:45] SaraVieira commented on #1006
You can override this if you are using vscode win codesanbox now

[2018-10-18 14:46] SaraVieira commented on #1166
Hey @bernatfortet !

I'm gonna close this issue as codesanbox does not support adding libraries that need electron :/

[2018-10-18 14:46] #1166 closed

[2018-10-18 15:32] jasepellerin opened #1204 "If you show all commands (⇧⌘P) and then escape, the editor loses focus"
# 🐛 bug report

## Description of the problem

Showing all commands, and then using escape to go back to the editor causes focus loss.

## How has this issue affected you? What are you trying to accomplish?

Was just playing around and noticed that when I accidentally opened all commands instead of the file opener (⌘P), then quickly escaped and pressed the correct key command, it tried to print th

[2018-10-18 18:03] CompuIves commented on #1204
Heya! Is this on the VSCode version or on the Monaco version?

VSCode is enabled if you go to preferences and then click on 'Experimental VSCode'.

[2018-10-18 18:04] #1102 closed

[2018-10-18 18:11] jasepellerin commented on #1204
Hey, there. This is on the Monaco version.

[2018-10-18 20:26] nicknisi opened #1205 "Typings files not initially found"
# 🐛 bug report

## Description of the problem

Typings are not initially found by the editor. This seems to be affecting both Monaco and VSCode editors. After a file is edited, the red underlines go away for the node_modules typings in Monaco, and everything in VSCode. This seems to be occurring on both the Dojo and React+TS templates.

![screen shot 2018-10-18 at 3 26 23 pm](https://user-images.g

[2018-10-18 20:34] CompuIves commented on #1205
Interesting. It seems to me we should delay the type checking until we made sure that all the types have been downloaded. Definitely something in VSCode, I can fix it tomorrow!

[2018-10-19 06:52] grant opened #1207 "Support jsconfig.json"
# 🐛 bug report

## Description of the problem

`jsconfig.json` isn't supported like VSCode. This could make autocompletion much better for certain apps.

Repro:

Use the Vanilla (+TS) template.

- Create a `jsconfig` file.
[code]
- Notice how ts autocompletion is still huge despite us not wanting to use most libs.

## Examples

Code Sandbox:

<img width="368" alt="screen shot 2018-10-18 at 23 48 3

[2018-10-19 09:57] techytuppers commented on #860
I thought I was doing something wrong when I got 404 errors for my private Github repos :). To "fix" this I keep temporarily switching my Github repo to public in order to check in code! Became a Patron in order to keep everything Private - fingers crossed this is available soon. Thanks for all the hard work!

[2018-10-19 13:30] CompuIves commented on #1205
Whooh I have improved this a lot! You can now also view/edit typing files in the editor, we also download peer dependencies of types and we don't show errors initially. Exciting! Will deploy it today.

Also fixes #819 #1127 #1164.

![image](https://user-images.githubusercontent.com/587016/47221062-c4d99280-d3b3-11e8-8903-3479e9f95cca.png)

[2018-10-19 14:13] tonister commented on #1054
I'm fine with GitHub integration, just give me a "pull" button please :'(, or just gimme a terminal with git in it, anything that would enable me to grab changes or change branches, I've done a PR, but now the darn sandbox is stuck on the side-branch...

[2018-10-19 14:45] nicknisi commented on #1205
Amazing! Thanks so much!

[2018-10-19 17:55] CompuIves commented on #1205
It's live!

[2018-10-19 17:55] #1205 closed

[2018-10-19 17:55] CompuIves commented on #1127
Fixed!

[2018-10-19 17:55] #1127 closed

[2018-10-19 17:56] CompuIves commented on #1164
Fixed!

[2018-10-19 17:56] #1164 closed

[2018-10-19 17:56] CompuIves commented on #819
Fixed!

[2018-10-19 17:56] #819 closed

[2018-10-19 21:08] jbranchaud commented on #1129
@CompuIves I'd love to work on fixing this bug, but I could use a little bit of guidance.

[2018-10-20 21:30] kube opened #1208 "Add option to disable left scroll to go back in history"
# 🌈 Feature
On macOS, browsers **go back in history on left scroll**.

It is often triggered in CodeSandbox when **scrolling in the editor**, which is kind of painful.

Maybe some users want this behaviour in CodeSandbox, but there could be **an option to disable it**.

*I know this can be disabled at the system level but find it useful on classical webpages though.*

## Implementation example

ht

[2018-10-20 22:40] colshacol opened #1209 "Import from Github UX confusion."
# 🐛 bug report

## Description of the problem

The UX for importing a repo from Github is not great. It took me ~10 minutes to figure out how to do it.

## How has this issue affected you?

It has made me 10 minutes older.

## What are you trying to accomplish?

I am trying to get younger.

😆 When I clicked "create sandbox" and then "import from Github", I really expected to land on the form where

[2018-10-21 16:09] manniL opened #1211 "Initialize CSB on nested routes (not only when accessing index)"
# 🌈 Feature

If you currently access a nested route of an **inactive CSB**, a 404 will be thrown (example: https://1rmqv4xkx3.sse.codesandbox.io/reactivity/wrong).

It'd be great if the sandbox would start initializing (similar like when you access the root/index page).

[2018-10-21 19:21] dance2die opened #1212 "Prompt on saving frozen sandbox"
# 🌈 Feature

## What is this feature?
Prompt a user before forking a `frozen` sandbox.

## How the feature should work?
A user should be notified before forking a frozen sandbox.

## You have examples or an idea how it can be implemented?
Hovering over `?` button shows that saving frozen`

![image](https://user-images.githubusercontent.com/8465237/47271167-e7021a80-d543-11e8-8277-e7fb28d2def4.png)

[2018-10-21 23:42] pshrmn opened #1213 ""Open in New Window" Experience"
# 🌈 Feature

Currently, the experience with opening a sandbox in a new window is a bit wanting. In particular, there are two issues that I feel it has:

1. The new window uses the fake `window.history` (from `url-listeners`) for navigation. This uses `history.replaceState` for all navigation, so the browser's forward/back buttons do not work.
2. Opening the sandbox in a new window does not hide th

[2018-10-22 09:20] #802 closed

[2018-10-22 10:13] SaraVieira commented on #1212
Hey !

You are completely right ! It was an oversight to not include an alert for that .

Is the alert that shows up when you click to fork your own sandbox something that would work here ?

[2018-10-22 13:15] smdimagerie opened #1214 "Login button on the homepage"
# 🌈 Feature

It would be nice to have an explicit Login button on the homepage. its a bit annoying trying to login

[2018-10-22 13:17] smdimagerie opened #1215 "Emmet"
# 🌈 Feature

An emmet implementation would be nice for writing static assets

[2018-10-22 13:17] smdimagerie opened #1216 "Less and sass compilation"
# 🌈 Feature
Less and sass compilation would be cool

[2018-10-22 13:18] eps1lon opened #1217 "No Type Checking on initial load"
# 🐛 bug report

## Description of the problem
No type errors are reported in the editor or console.
## How has this issue affected you? What are you trying to accomplish?
On the initial load of https://codesandbox.io/s/react-ts I get type errors as well as #1205. Once I fork this I don't get type errors or the linked issue.

###  Link to sandbox: [link](https://codesandbox.io/s/50yz11838k)
### You

[2018-10-22 13:44] CompuIves commented on #1213
Oh wow, I wasn't aware of this issue. Thanks for mentioning it!

Yep, this seems like the best and quickest solution.

That is an interesting one, I just did a quick check (https://codesandbox.io/s/1q7m8qmy5l) and it seems that in editor `window.opener` and `window.referrer` are `null` and `undefined` respectively. Opened externally they are `Window` and `undefined`. It seems like we could use tha

[2018-10-22 14:01] dance2die commented on #1212
The easiest way to implement this is to **disable** `ctrl+s` keyboard shortcut.
But yes, an alert to prevent you from forking accidentally would work better
_(as the intention is more explicit and leave people hanging why it's not saving/forking)_

[2018-10-22 16:08] lbogdan commented on #1214
Closed as duplicate of #334 .

[2018-10-22 16:08] #1214 closed

[2018-10-22 16:08] lbogdan commented on #654
Closed as duplicate of #334 .

[2018-10-22 16:08] #654 closed

[2018-10-22 19:02] lbogdan commented on #1202
Closing this since it works as expected.

[2018-10-22 19:02] #1202 closed

[2018-10-22 20:02] artalar commented on #1202
@lbogdan
Yes, i see the project template with preadded sandbox.config.json works fine. But what if i want clone and play with other repo with node based code? I need fork it, add sandbox.config and only then add to the _sandbox_? It is not UX friendly. Can u add some modal dialog for the GitHub import to choose template?

[2018-10-22 21:22] adamwathan commented on #1030
Noticed custom PostCSS plugin configuration works with the Nuxt preset:

https://codesandbox.io/s/w263lk042l

...but can't get it to work anywhere else. Trying to understand what's supported and what's not 🤔

[2018-10-22 21:40] lbogdan commented on #1030
Hey @adamwathan , I don't know if you're aware, but the nuxt template is actually a [server / container sandbox template](https://hackernoon.com/codesandbox-containers-5864a8f26715), which means it's like your local development environment, only running in a container in "the cloud". The majority of templates (the "Client Templates" from https://codesandbox.io/s/ ) are running directly in the brow

[2018-10-23 01:51] CompuIves commented on #1215
Just deployed Emmet support in JSX, is this what you were looking for? 😄

[2018-10-23 01:51] CompuIves commented on #1038
Hey! Both issues you mentioned should be fixed by now, I just deployed Emmet support in Monaco/VSCode as well!

[2018-10-23 01:51] #1038 closed

[2018-10-23 01:52] CompuIves commented on #194
Emmet is back!

[2018-10-23 01:52] #194 closed

[2018-10-23 01:54] CompuIves commented on #827
I'm closing this one right now because of inactivity, I think removing the homepage could change the dependency install locations which causes it to crash.

[2018-10-23 01:54] #827 closed

[2018-10-23 03:18] rupertparry opened #1219 ""lscpu" error when deploying to Zeit"
# 🐛 bug report

## Description of the problem

There's an error when deploying a Parcel-based "vanilla" site to Zeit. Here's the offending line from the Zeit logs:

Full logs can be found here: https://zeit.co/rupert/csb-218093wwl0/sgslqzeiyb

## How has this issue affected you? What are you trying to accomplish?

I'm trying to deploy a site and, well, my site isn't there.

### Your Environment
|

[2018-10-23 04:08] shallwefootball commented on #1219
me too

[2018-10-23 04:59] Pauan opened #1220 "Incredibly slow performance"
# 🐛 bug report

## Description of the problem

Hello, I am speaking of behalf of [AmCharts](https://www.amcharts.com/).

We have hundreds of examples and tutorials on Codepen, but we would really like to move them over to CodeSandbox, because it is far superior in almost every way (great job, by the way!)

However, there is one major blocker which is preventing us from doing so, and that is perfor

[2018-10-23 09:30] SaraVieira commented on #1219
Hey !

That part is only a warning. The problem is the now is trying to access the file system on start and that's not allowed on a deployment.

Their examples has a version for parcel here: https://github.com/zeit/now-examples/tree/master/static-parcel

So you need a custom now.json to deploy with docker and we literally started supporting them yesterday.

Here is an example of it working: https:

[2018-10-23 10:07] badass-icon opened #1222 "Dank Mono is a bad font!"
# 🐛 bug report

## Dank Mono is a bad font!

![333](https://user-images.githubusercontent.com/857949/47353242-6cacd400-d6c4-11e8-9a6a-76ff1dcd64e2.png)

Just check the screenshot, especially 'f' character looks ugly.
Windows 10 / Chrome 70

### Solution:
Remove 'dm' from the Code Mirror theme / font families
```font-family: dm, Menlo, "Source Code Pro", monospace;```

[2018-10-23 10:13] CompuIves commented on #1222
You can disable it if you want, it's a preference in your settings.

[2018-10-23 10:16] badass-icon commented on #1222
@CompuIves thanks! changing settings helped, but for me it still looks like default font is really wrong.
Was it chosen intentionally? Can we have a poll if people like it?

[2018-10-23 11:13] CompuIves commented on #1220
Hey! Really cool to hear that you're considering using CodeSandbox for your examples! Thanks for letting us know about the performance issues, I just tried running the sandbox and I noticed the same thing. I think I pinpointed the issues though, I wrote a report on what causes the slowness and what we could do to solve it.

It's mostly because we weren't able to do many optimizations in this case,

[2018-10-23 11:33] lbogdan commented on #1180
Closing this, since we switched to [raw.githack.com](http://raw.githack.com/).

[2018-10-23 11:33] #1180 closed

[2018-10-23 11:50] lbogdan commented on #1199
Closing this for now. If there's anything else we might help you with, please reopen.

[2018-10-23 11:50] #1199 closed

[2018-10-23 12:02] lbogdan commented on #1192
Hey @bigopon , thanks for opening this issue! We'll probably need to add an Aurelia template, as it seems to be doing some low-level stuff. Cc @CompuIves .

If you want to fiddle around (and maybe add an Aurelia template), you can find the existing templates' configuration here: https://github.com/CompuIves/codesandbox-client/tree/master/packages/common/templates .

You can also take a look at #70

[2018-10-23 12:16] lbogdan commented on #1182
Hey @boonyasukd , thanks for opening this issue!

Looks like there was a babel issue (probably from when we switched to babel 7) which seems fixed now (@CompuIves, do you know anything about this?). Here's your forked initial sandbox using `...mapGetters()`: https://codesandbox.io/s/8574q0z2j?module=%2Fsrc%2Fcomponents%2FLogin.vue . Can you confirm it also works for you?

About Vue CLI 3, we don't

[2018-10-23 12:47] lbogdan commented on #1182
As promised, here's an example repo / sandbox with Vue CLI 3: https://codesandbox.io/s/github/lbogdan/cs-vue-cli-3 .

[2018-10-23 15:44] carloslfu opened #1224 "Frozen Github authentication"
# 🐛 bug report

## Description of the problem
I get the screen frozen on "Signing in..." when trying to authenticate with Github.
![screen shot 2018-10-23 at 10 37 48 am](https://user-images.githubusercontent.com/5993168/47372791-19c92180-d6b0-11e8-804a-9cd0ab8e3943.png)
## How has this issue affected you? What are you trying to accomplish?
I was trying to sign in with Github with this account (@c

[2018-10-23 15:52] lbogdan commented on #1179
@Haroenv Meanwhile you can play around with (most probably) the prototype to the Vue CLI 3 server / container template here: https://codesandbox.io/s/github/lbogdan/cs-vue-cli-3 . 🙂

[2018-10-23 15:56] carloslfu commented on #1224
It's weird, it sometimes happens and it sometimes not. Right now, I'm not able to reproduce. But I noticed the button doesn't change when you "sign in with Github" from a sandbox (sometimes).

[2018-10-23 15:56] lbogdan commented on #1137
Hey @mike-north , thanks for creating this issue!

Just wanted to let you know this is an outstanding issue on which we'll be focusing this week, so expect it to be fixed by the beginning of next week!

[2018-10-23 16:01] CompuIves commented on #1224
This might be related to the recent GitHub downtime, we'll need to keep an eye on it.

[2018-10-23 22:14] pshrmn opened #1226 "Hash link click interceptor"
# 🐛 bug report

## Description of the problem

Clicking a link with a hash should be intercepted by the [hash link interceptor](https://github.com/CompuIves/codesandbox-client/blob/f885a183963cd881c8025ac0e115caf4aac6104f/packages/sandbox-hooks/url-listeners.js#L109-L136). However, the event listener is never called, so the location does not change.

I have also tried adding other event listeners

[2018-10-23 23:28] rupertparry commented on #1219
Ah thanks – great to hear that's fixable.

It would be great if Code Sandbox could automatically do these steps, or at least prompt with a link to that Now documentation when you try to upload a Parcel project.

It just seems strange to press the "Deploy" button and get an error.

[2018-10-23 23:34] SaraVieira commented on #1219
I'll add a disclaimer if it's a parcel thing, you are right. It's the first time I tried to deploy some parcel so I actually didn't know this :/

[2018-10-24 00:48] gkiely opened #1227 "Add dependencies automatically"
# 🌈 Feature

**Use case:**
User copies code into codesandbox, but they have to install dependencies to get it to work. Would be great if it just did this automatically for you.

**Current behavior:**
You have to install dependencies with the add dependency button.

**Awesome behavior:**
Codesandbox detects import and installs it automatically for you

**Some kind of regex that looks for the depend

[2018-10-24 07:45] Haroenv commented on #1179
thanks @lbogdan, did you fix it by adding `"vue-template-compiler": "^2.5.17"`?

[2018-10-24 08:56] artalar opened #1229 "Your card was declined."
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?
Half year ago I was trying to pay the subscription (patron) but got an error and forgot about that for some time. Today I was trying again and receive the error `Your card was declined.`.
I have a friend with the same problem, we from Russia, сould that be the case?

### Your Enviro

[2018-10-24 16:31] Sharpie360 opened #1230 "Emmet auto-markup in JS in non html files"
# 🐛 bug report

## When using the dot notation for objects and properties, Emmet auto-completes the immediate notation as an HTML element when pressing enter or tab.
## Emmet should be enabled when working in HTML and such, but not-enabled when working in JS files and such.

###  No Link Necessary
### Vanilla Sandbox
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbo

[2018-10-24 19:38] boonyasukd commented on #1182
@lbogdan Thanks for looking into this. My original sandbox, and the one that you forked, seems to work fine now. :+1:

One quick question: in order to import Vue CLI 3 from github as a container sandbox, I just need to add `sandbox.config.json` to the root of the project, right? We just need tell the system that we're using `nuxt` (though we might/might not really need it).

[2018-10-24 20:14] rajjejosefsson opened #1231 "@import rule"
# 🐛 bug report

## Description of the problem
using CSS @import Rule doesn't import styles.

## How has this issue affected you? What are you trying to accomplish?

Trying to use the @import rule it in codesandbox without any success. Have tried to download it an run it, and works as expected in that case.

###  Link to sandbox: [https://codesandbox.io/s/m39y06p5op](https://codesandbox.io/s/m39y06

[2018-10-24 20:31] lbogdan commented on #1182
@boonyasukd Right now you need both `sanbox.config.json` and the config from my `vue.config.js` (that fixes an HMR issue that will hopefully be fixed in the next release of Vue CLI 3 - see https://github.com/vuejs/vue-cli/pull/2795).

I'm closing this for now, if you have other related issues please reopen.

[2018-10-24 20:31] #1182 closed

[2018-10-24 22:34] JonShort commented on #1212
Hi both 👋

I've submitted a PR adding in this functionality, like Sara suggested above I added a browser alert when the user is trying to save edits to a frozen sandbox which they own.

I'd be interested in getting opinions on the message we should display to the user, or other approaches to solving this problem 👍

[2018-10-24 23:38] smdimagerie commented on #1215
1) I dont know if that is supposed to work, but it doesn't seems to work

2) Emmet is more important when developping static assets;
in css: writing br:nr is way faster that background-repeat: no-repeat; so... more productive
in html .class is faster than <div class="class"></div>
of course that translate to JSX

[2018-10-25 08:46] krajcot opened #1233 "Only a max of 200 modules is allowed in a sandbox"
# ❔ Question

When I trying to add a new file I get an error: "Only a max of 200 modules is allowed in a sandbox".
Is there a possibility to remove the limit on the number of modules?

###  Link to sandbox: [https://codesandbox.io/s/km8lrz98y7]

[2018-10-25 11:54] CompuIves commented on #1230
Ahh, I see the issue here. We enabled it for React/Preact projects, but I can see that it can be irritating.

Does it automatically apply the autocompletion for you? I tested a bit in VSCode and noticed the same behaviour, but I can see that it's very irritating if it accidentally applies the transformation.

![image](https://user-images.githubusercontent.com/587016/47498397-70c02980-d85d-11e8-89b

[2018-10-25 11:55] CompuIves commented on #1215
It should show as an autocompletion, like here:
![image](https://user-images.githubusercontent.com/587016/47498471-a82ed600-d85d-11e8-92f5-2d17a2e35385.png). Does that happen for you? Maybe it works after clearing caches.

[2018-10-25 12:08] lbogdan commented on #1224
@carloslfu Does this issue still persist? Can we close it?

[2018-10-25 12:09] lbogdan commented on #1222
Closing this, as it's the only complaint we got about the default font.

[2018-10-25 12:09] #1222 closed

[2018-10-25 16:01] wpitallo commented on #860
Any updates?

[2018-10-25 16:13] sylvainpolletvillard opened #1235 "How do I change jest unit test timeout ?"
# ❔ Question

I need to change the default timeout (5000ms) of a Jest unit test. The error states :

but then I got `jest.setTimeout is not a function` error.

How do I override the timeout for the unit tests ? (globally or per test, I don't care)

### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  | latest
| Browser | Chrome 70
| Operating Sys

[2018-10-25 18:29] trusktr opened #1236 "How to make a sandbox from scratch?"
# ❔ Question

I don't find any docs on how to make a sandbox from scratch in my own empty repo. F.e., What are the requirements? Do I just need to have a `start` script in `package.json`? What are the requirements to get something running in the sandbox browser? Does a server need to run on a specific port?

It'd be great to know exactly what is required.

[2018-10-25 18:37] trusktr commented on #1236
Do we have to have `src/index.html`? Is that how the web app gets loaded?

[2018-10-25 18:46] trusktr commented on #1236
Here's the sandbox I'm trying to make work: https://codesandbox.io/s/ly6jp49z7

[2018-10-25 19:10] lbogdan commented on #1236
Hey @trusktr !

First of all, do you want a client sandbox (that runs completely in the browser), or a [server / container sandbox](https://hackernoon.com/codesandbox-containers-5864a8f26715)?

[2018-10-25 19:19] trusktr commented on #1236
Good question. I just wanted to make a custom Webpack config, and have it display content in the sandbox browser, but I don't need it to hit any APIs. So I think just client sandbox?

[2018-10-25 19:21] lbogdan commented on #1236
If you want webpack, you'll probably need a server one. The browser bundler is "webpack like", but it doesn't support actual webpack config, loaders etc.

[2018-10-25 20:23] bjankord opened #1238 "Scss file resolution error - Error: Could not find /node_modules/terra-mixins"
# 🐛 bug report

## Description of the problem
Trying to use a [react component](https://www.npmjs.com/package/terra-hyperlink) that works in create-react-app v2 without ejecting but does not work in codesandbox. The component [pulls in a SCSS file](https://github.com/cerner/terra-core/blob/master/packages/terra-hyperlink/src/Hyperlink.jsx#L5) that then [imports another SCSS file](https://github.co

[2018-10-25 22:40] trusktr commented on #1236
oh okay. How would one do that?

I mean, I'm am familiar with Webpack, I've made plenty of Webpack projects. But how to we make one for codesandbox?

[2018-10-26 12:35] vitkon commented on #758
Any update on this one, guys?

[2018-10-26 14:57] Sharpie360 commented on #1230
It does seem to happen pretty regularly, although im not using any react or preact libraries, is that a feature that could be set based on if the file is a react file or not? maybe check if nothing in the package.json refers to anything react, then emmet could auto default to disabled for js files?

[2018-10-26 15:58] smdimagerie commented on #1230
Could it be a Toggle option, like the Use CodeMirror ?

[2018-10-26 15:59] smdimagerie commented on #1215
Cool, i've made test, it seems to work in JSX (unfortunatly for some), LESS, CSS, .....but not in HTML (! -> tab should bring a template)

[2018-10-26 19:22] ghost opened #1240 "[GitHub] Multiple repositories"
Allow a sandbox to use multiple repositories.

Example workflow (my use case):

- Create sandbox out of [gatsby-starter-default](https://github.com/gatsbyjs/gatsby-starter-default/tree/master/).
- Fork it and build a custom Gatsby site.
- Create a repository of this fork in my linked GitHub account.
- Choose the commit/PR destination (source repo or new one).

I think for a better experience, this

[2018-10-26 19:29] cardiv commented on #1216
Hey @smdimagerie,

what's your use case for that? Which environment do you use?

Primarily I work on Gatsby projects which has drop-in support for `less` with [gatsby-plugin-less](https://www.gatsbyjs.org/packages/gatsby-plugin-less/).

[2018-10-26 19:38] cardiv commented on #1231
Not tested this myself, but I think you will need to use [css-loader](https://github.com/webpack-contrib/css-loader) for React/Webpack.

And for that, you will need a server/container sandbox that [supports Webpack config](https://github.com/CompuIves/codesandbox-client/issues/1236#issuecomment-433174055).

[2018-10-26 20:02] eminaz commented on #699
This happens often a lot when I do "Command + Z"

[2018-10-26 20:32] gamedevsam opened #1241 "Cannot Import My Repository"
# 🐛 bug report

## Description of the problem
When attempting to load the github repository the application freezes and never completes: https://github.com/gamedevsam/react-simple-chatbot

## How has this issue affected you? What are you trying to accomplish?
I'm trying to test out this sandbox with a pure static site (github pages).

###  Link to sandbox: [link](https://codesandbox.io/s/github/ga

[2018-10-27 02:59] katranci opened #1242 "Calls to navigator.mediaDevices.getUserMedia fail"
# 🐛 bug report

## Description of the problem
Calls to `navigator.mediaDevices.getUserMedia` fail

## How has this issue affected you? What are you trying to accomplish?
I'm trying to acquire camera stream

###  Link to sandbox: [https://codesandbox.io/s/xowpol50wz](https://codesandbox.io/s/xowpol50wz)
### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сode

[2018-10-27 04:48] EisenbergEffect commented on #1192
@lbogdan We are thrilled about the potential of getting Aurelia on CodeSandbox. Once that's setup, we're going to start embedding it directly within our documentation and hopefully our home page as well. We'll also be blogging about it (and using it in our official blog too). It will be great for our community. In light of that, would you be able to assist us a bit more directly in getting the tem

[2018-10-27 06:48] Pauan commented on #1220
@CompuIves Thank you very much for the very long (and fast!) response!

I've spent some time reading and thinking about what you said, and I generally understand the situation. I'm very glad to hear that CodeSandbox has extensive caching.

However, I have some more questions:

* Why can't it precompute the dependency graph for npm packages which don't have a `main`?

   It should be able to look a

[2018-10-27 06:56] Pauan commented on #1220
Also, I just now tested [the `<script>` version of our demo](https://codesandbox.io/s/xjmy6m37jw), it works great in Chrome (loads very fast), but doesn't work at all in Firefox or Edge. Is that also happening for you, or is it a stale cache issue?

[2018-10-27 07:28] lbogdan commented on #1192
@EisenbergEffect Sure, I'll try!
@bigopon Can you please point me at an Aurelia simple app github repo?

[2018-10-27 08:11] bigopon commented on #1192
@lbogdan Thanks for helping!. I have 2 examples atm:
- Simple: https://github.com/questmetrics/aurelia-webpack-bare It's mostly nothing beside few basic stuff to get an Aurelia app up and running. It uses TypeScript, Sass, PostCSS, `html-webpack-plugin`, `copy-webpack-plugin`
- Full: A potential new shape of aurelia-cli generated project template https://github.com/chrisckc/aurelia-cli-skeleton-ty

[2018-10-27 08:41] cardiv commented on #1233
Hey @krajcot,

the sandbox link does not work for me.

But I ran into the same issue and it is a bit disappointing.
Codesandbox is not suitable for larger projects with this limit.

I found another issue with a PR attached. #1007
Please consider raising the limit (only for patrons maybe) and/or explain a bit more about this decision, @CompuIves.

[2018-10-27 10:29] lbogdan commented on #1192
@bigopon @EisenbergEffect
So it looks like Aurelia's infrastructure is complex enough to require using a [server / container template](https://hackernoon.com/codesandbox-containers-5864a8f26715). I've taken your first repo and [adapted it to work inside a container sandbox](https://codesandbox.io/s/github/lbogdan/aurelia-webpack-bare) (you can take a look at [what I did](https://github.com/lbogdan

[2018-10-27 11:47] bigopon commented on #1192
I feel it would require a much simpler version and preferably stay as plain as possible. For example, Html webpack plugin can be removed, if we know how to point `index.html` to the entry, copy webpack plugin is really needed as static resources can be loaded from CDNs, dynamic resources like CSS can still be bundled like normal. Aurelia webpack plugin can handle that I think. Npm / Yarn also woul

[2018-10-27 12:02] lbogdan commented on #1192
The thing is that the client bundler is not webpack, but "webpack like", so it doesn't support webpack plugins out of the box (we would have to adapt `AureliaPlugin` to it, which depending on what it does under the covers, could be quite complex). @CompuIves is the expert in the client bundler (as he completely wrote it 🙂 ), so I'll let him give you the achievability and pros/conf of the client te

[2018-10-27 12:19] CompuIves commented on #1220
We precompute the dependency graph for a single entry point, determines from main. We could look at multiple entry points and precompute a graph for that, but that can become very big. I haven't thought of partial dependency graphs per file though, and that does sound super interesting! Then we could kind of stitch the partial dependency graphs to one big one for the entry point. I will look into

[2018-10-27 16:18] pshrmn opened #1243 "Creating sandbox from modal doesn't close modal"
# 🐛 bug report

## Description of the problem

When on the dashboard page, clicking the "New Sandbox" button opens a modal. When a sandbox type is selected, CS goes to the new page for the template, but the modal is not closed.

This also happens when opening the new sandbox modal from the profile, but doesn't happen when creating a sandbox from codesandbox.io/s. I haven't looked at the code, but

[2018-10-27 16:55] Komar0ff commented on #1242
**Hi @katranci!**
you forgot brackets in addEventListener
try this: `.addEventListener("click", getUserMedia())`

[2018-10-27 17:31] Komar0ff commented on #1235
Hi, **@sylvainpolletvillard**, what template for project do you use?

[2018-10-27 20:11] sylvainpolletvillard commented on #1235
Hello @Komar0ff ,

I use the `parcel` template

[2018-10-27 20:16] katranci commented on #1242
Hey @Komar0ff 👋 `getUserMedia` is the event handler and it gets invoked if you click on the button. So the problem is not parentheses.

[2018-10-27 20:37] CompuIves commented on #1242
Hey @katranci, thanks for sending this issue! I believe browsers don't allow iframes to access camera/microphone streams. You can open it by opening the iframe externally (next to the address bar there is an 'Open Externally' button).

I'll close this one as this one is unfixable without changing browser behaviour.

[2018-10-27 20:37] #1242 closed

[2018-10-27 22:17] bigopon commented on #1192
@lbogdan Thanks for that. @lbogdan @CompuIves  For the context, I'm not sure if it will help clarify anything, current I'm using 2 base projects:

TS https://codesandbox.io/s/1zk698l74
JS https://codesandbox.io/s/woz49l74y7

[2018-10-28 03:11] NoahBres commented on #220
Hi. Sorry for resurfacing this old issue but I seem to be experiencing the same issue. However, the code seems to run fine. The editor just displays the error. Thanks for your time!

![screenshot from 2018-10-27 22-09-55](https://user-images.githubusercontent.com/6739076/47611508-0f52b300-da35-11e8-970e-3722dd16d54d.png)

[2018-10-28 03:31] katranci commented on #1242
Thanks @CompuIves, I've found out that [Chrome deprecated permissions in cross-origin iframes in C64 release](https://dev.chromium.org/Home/chromium-security/deprecating-permissions-in-cross-origin-iframes). However, they can be enabled by specifying a Feature Policy. Example `<iframe allow="camera microphone geolocation midi encrypted-media">`

[2018-10-28 18:51] adamwathan commented on #1030
@lbogdan Ah that makes a lot of sense, thanks for clearing that up!

[2018-10-29 08:03] krajcot commented on #1233
Hi @CompuIves,
I changed privacy policy of project to public, maybe it was reason that link did not work for you.
I thought, that limitations on the number of modules did not apply to patrons.
I'm preparing an application prototype and I need to use over 200 files.
If the codesandbox does not support more then 200 files, I'll need to use another tool.

[2018-10-29 11:34] sairam opened #1244 "Gatsby Starter Sandbox shows 502"
# 🐛 bug report

## Gatsby Starter Sandbox does not load

###  Link to sandbox: [gatsby-starter-default](https://codesandbox.io/s/github/gatsbyjs/gatsby-starter-default)
### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  | PROD-1540564451-5ce2475 |
| Browser |  Chrome 70 |
| Operating System | Mac OS X 10.12 |

![image](https://user-images.githu

[2018-10-29 11:44] cardiv commented on #1244
Hey @sairam,

I stumbled upon the same bug. Forking the sandbox solves this issue.

Look at this example: https://codesandbox.io/s/q3ypqyv3n9

[2018-10-29 11:47] sairam commented on #1244
@cardiv , just able to confirm forking this works. I think something should be done to fix the error since users may hesitant not to try gatsby on Codesandbox website

[2018-10-29 14:51] brunolemos opened #1245 "TypeScript support from CRA 2 does not work"
# 🐛 bug report

## Description of the problem

CRA 2 with `react-scripts@next`supports TypeScript, but it doesn't work on codesanbox. It is not recognizing ts or tsx files.

## How has this issue affected you? What are you trying to accomplish?

###  Link to sandbox: [link](https://codesandbox.io/s/xl1y2vjwk4)
### Your Environment
| Software         | Name/Version|
| ---------------- | ----------

[2018-10-29 15:45] CompuIves commented on #1245
Fixed by #1239. Will deploy that tomorrow!

[2018-10-29 17:04] lbogdan commented on #1244
Should be fixed now, please check and close if it works.

[2018-10-29 18:02] jods4 commented on #1192
@lbogdan `AureliaPlugin` is actually made up of many smaller parts. Some might be easier to reuse than others.
Overall it is deeply integrated with Webpack internal structure (how modules and dependencies are represented internally) so if you are just "webpack like" on the surface, I guess `AureliaPlugin` not gonna work well out of the box.

[2018-10-29 18:29] justinfagnani opened #1246 "Truly vanilla project template"
# 🌈 Feature

I'd like to have a project that's not compiled at all, nor bundled with Parcel. This is necessary for demo'ing native JS modules and Custom Elements without any polyfills.

[2018-10-29 20:18] #1244 closed

[2018-10-29 21:09] dobromir-hristov opened #1247 "Listing sandboxes linked to the users Github on their Dashboard"
# 🌈 Feature

This is a proposal for listing Github imported Sandboxes on the Dashboard.

A user should be able to see all the Sandboxes that are linked to/created from their linked Github account.

Once a sandbox is **imported from** or **exported to** a user's Github account, it can be listed as "Readonly" on the user's dashboard, noting it can only be "Forked". This would allow for easier tracki

[2018-10-29 21:51] mcanas opened #1248 "Fix emoji encoding in uploaded files"
# 🐛 bug report

## Description of the problem

Emoji's or special characters in uploaded JSON files not rendering correctly.

## How has this issue affected you? What are you trying to accomplish?

I'm trying to upload a JSON file that contains emoji's or special characters, and it's not rendering those emoji's or characters correctly.

###  Link to sandbox: [link](https://codesandbox.io/s/38mwp9q

[2018-10-30 00:03] jthegedus opened #1249 "Parcel Absolute Path Module Resolution"
# 🐛 bug report

## Description of the problem

Parcel supports using Absolute Paths for module resolution - https://parceljs.org/module_resolution.html#absolute-paths which does not appear to be working - https://codesandbox.io/s/github/jthegedus/examples/tree/master/flow-with-absolute-module-resolution

Similarly, Parcel's Tilde path module resolution does also not work - https://codesandbox.io/s

[2018-10-30 01:48] bjankord commented on #1238
I've created [another codesandbox](https://codesandbox.io/s/42411oz9q0) to test the scss import in a file created directly in the sandbox instead of in a npm package that is pulled in.

In the sandbox, I made a file, `custom.scss` and then used the same import syntax used in npm package that is causing an error: `@import "~terra-mixins";`.

I believe I understand the issue now, in webpack, the fol

[2018-10-30 02:35] jthegedus commented on #864
I have experienced this issue too, even after adding a `sandbox.config.json` with
[code]

The "Project Info" tab still shows the auto-detected template, not the explicitly defined one.

[2018-10-30 10:40] soufDev opened #1250 "the new Create React APP Release 2.1 does not work with typecript"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?

I have a probleme when I installed the new CRA 2.1 using typecript it tells me there is not file and I have to add a main property in package.json specifying the index.tsx I did it, but there is no render any more

###  Link to sandbox: [link]() (optional)
https://codesandbox.io/s/

[2018-10-30 10:45] eps1lon commented on #1250
Duplicate of #1245

[2018-10-30 10:46] CompuIves commented on #1250
Thanks for the notice @eps1lon!

[2018-10-30 10:46] #1250 closed

[2018-10-30 13:07] bengry opened #1251 "Codesandbox not working when using certain dependencies (Angular)"
# 🐛 bug report

## Description of the problem
I tried to create a sandbox with a bit of a complex setup, but one that should still work (works locally).
The base of the Sandbox is an Angular template, with all the dependencies upgraded to their latest versions.
As soon as I use any module from one of the packages, the whole app crashes.
![image](https://user-images.githubusercontent.com/260431/477

[2018-10-30 19:36] CompuIves opened #1253 "Test"
Test for @lbogdan

[2018-10-30 19:36] #1253 closed

[2018-10-30 19:37] lbogdan commented on #1253
Test comment.

[2018-10-30 19:50] eps1lon commented on #1217
I'm currently encountering one of the following states though I cant reproduce them deterministically:
- no typechecking (with type information in the editor though)
- typechecking and #1205

[2018-10-30 21:07] bjankord commented on #1238
Closing this out, we've found a solution in our component library to make the import more explicit. Feel free to reopen if you're interested in working on a resolution heuristic similar to what webpack / scss-loader / css-loader are doing.

[2018-10-30 21:07] #1238 closed

[2018-10-30 22:05] brunolemos commented on #1245
It works now!

[2018-10-30 22:05] #1245 closed

[2018-10-30 22:39] CompuIves commented on #1217
Yes, I think this is an issue for all TS projects right now. When you just load a sandbox there are no type errors, because the typing files haven't been downloaded yet. Only when you switch a file we start type checking.

We should fix this!

[2018-10-30 23:11] eps1lon commented on #1217
@CompuIves They should probably treated as normal dependencies when listed as such.

Some more observations:
- I don't have to change a file. Simply editing triggers typechecking
- experimental vscode editor does not trigger #1205

[2018-10-31 00:43] edm00se commented on #848
Currently on iOS 12.0.1, I’m not able to reproduce this.

[2018-10-31 00:43] #848 closed

[2018-10-31 04:53] EisenbergEffect opened #1254 "Add sandbox configuration to change default opened file"
# 🌈 Feature

When building out sandboxes for Aurelia, we have to include a custom loader to enable Aurelia to integrate with the codesandbox loader/bundler. This file is not needed in a real Aurelia project at all. However, it's needed for the sandbox to function. To get everything working, we have to set this file to the package's main. As a result, an Aurelia sandbox always opens up to this spec

[2018-10-31 09:57] LakshanKarunathilake opened #1255 "Downloadable content can not be edited"
# 🌈 Selecting the downloadable Content

Currently in my project i need to remove some conent in the preview when downloading. But in the existing system it can not be controlled.

You can add to settings which files should be included in the downloadable content.Some thing like a tickbox. This will be a small imporvement but will have lot of attraction.

[2018-10-31 15:01] CompuIves commented on #1217
Agreed, but we only start downloading dependency files after the editor has been loaded, otherwise we would have a pretty big startup time. I need to find a way to trigger a type check in Monaco/VSCode after the files have been downloaded, that should be enough to make it work.

This is interesting, I tested with the experimental editor (I use this as my primary editor) and it seemed to work. Does

[2018-10-31 15:01] CompuIves commented on #864
This one is coming in today! You can set your template in `sandbox.config.json` and if it changes we update all settings.

[2018-10-31 15:04] CompuIves commented on #1247
Thanks for this elaborate feature request, I completely agree with all your points and we should make it a priority.

I like the idea of read-only sandboxes in the dashboard, we should probably show this explicitly in the view to not confuse users.

[2018-10-31 15:04] CompuIves commented on #1246
This one is coming in today as the `static` template!

There will be no bundling at all, we will just host the files of the sandbox.

[2018-10-31 15:05] CompuIves commented on #1243
This one will be fixed today!

[2018-10-31 15:11] dobromir-hristov commented on #1247
It should be noted that a sandbox is read-only, yes, be it by a distinct styling feature on the list item or by listing them separate in general.

Can I help in any way with this? I realize its mostly Api related changes and a minor styling one probably.

[2018-10-31 15:17] justinfagnani commented on #1246
Awesome!

One additional request though... We still need module resolution, like unpkg.com does with the ?module query parameter. Right not that's done in the bundler I presume, instead of a Babel transform.

[2018-10-31 15:19] eps1lon commented on #1217
Tested again (incognito window, disabled cache, disabled service worker) and now I encounter #1205 in the normal and experimental editor once typechecking kicks in.

[2018-10-31 15:42] justinfagnani commented on #1246
To clarify the need here. Lots of modules are published to npm as nearly web-compatible, with the exception of the import specifier. They'll use "bare specifiers", like `import * as redux from 'redux';`. The specifiers need to be rewritten at either `npm install` time or serving time (what we do in `polymer serve`).

[2018-10-31 15:57] justinfagnani opened #1257 "Excess package duplication"
# 🐛 bug report

## Description of the problem

When depending on a package, and one of its transitive dependencies directly, I'm getting package duplication that causes errors in my program.

[code]

## How has this issue affected you? What are you trying to accomplish?

`instanceof` and other branding checks (module-scoped WeakMaps) are failing because of two versions of the same package. This br

[2018-10-31 15:58] justinfagnani commented on #1257
One problem here is that I can't inspect the `node_modules` folder to directly see any duplication, nor can I use paths into `node_modules` for imports to try to work around the problem. Imports like `../node_modules/@polymer/lit-element/node_modules/lit-html/lit-html.js` seem like they are being re-written to strip the leading `../node_modules/`.

[2018-10-31 16:18] CompuIves commented on #1257
Hmmm that's interesting, when looking at the sandbox there doesn't seem to be duplication. A trick to see all files in the sandbox is opening your devtools, pointing to the frame and use the fs API:

[code]

You can also inspect the files by doing the same but checking the manager, which is global:

[code]

or

[code]

[2018-10-31 16:22] CompuIves commented on #1246
Hmm, in the current version we completely strip the bundler away in this case, including our package resolving/transpiling etc.

I'll deploy it as it is now and we can look into making the use case work!

[2018-10-31 16:25] CompuIves commented on #1217
Hmm, so you see the red squiggles for all files?

[2018-10-31 16:31] CompuIves commented on #1230
I initially wanted to implement this, but then I realized that lots of dependencies we don't know about could be using JSX.

I think we should make this a setting, so I will work on that somewhere this week!

[2018-10-31 16:33] MarvDann opened #1258 "Dojo 4 with tsx not working"
# 🐛 bug report

## Description of the problem
While using the Dojo 4 template, we should be able to use tsx as an alternative to hyperscript for rendering widgets. When we try to use tsx by renaming the widget file to a .tsx extension and using the '@dojo/framework/widget-core/tsx' import, we get an error which looks like it is trying to transpile to react code.

[code]

## How has this issue affe

[2018-10-31 16:47] CompuIves commented on #1258
Hmm, it seems like this is a configuration in the template @nicknisi?

[2018-10-31 16:53] CompuIves commented on #1254
This is so interesting!

I agree with the feature request, it's a really good one, but wouldn't it also make sense to have an Aurelia template that handles this logic?

I think we could introduce a new template that has the `initialize();` in `preset.setup` and maybe a custom transpiler to inject the configure logic?

[2018-10-31 17:04] eps1lon commented on #1217
I switched to https://codesandbox.io/s/j4wkmo2nx3 but the original sandbox with `react-scripts-ts` has the same issue. A [fork of react-ts](https://codesandbox.io/s/kwz6q3rw87) however has no typechecking at all.

I'm trying a local dev setup to verify that this is not some weird issue with caching or serviceWorkers.

[2018-10-31 17:31] CompuIves commented on #1217
Oh yep! I'm having the same issue now, it happens when adding @material-ui/core. This is a problem on our side, we cancel download type files for dependencies that have more than 400 typing files to download (otherwise the editor would get laggy and lots of download).

It seems that react/react-dom typings are also cancelled by this for some reason, which is really weird.

I wish we wouldn't have

[2018-10-31 17:36] CompuIves commented on #1217
This perfectly describes the issue: https://github.com/Microsoft/TypeScript/issues/1857#issuecomment-289123408

[2018-10-31 17:46] eps1lon commented on #1217
With a local setup on master I get no typechecking in the normal editor. The experimental editor works perfect.

I would like to bundle our typings into a single file but all the packages I know don't support bundling for declaration files. I guess this can become an issue for other libraries since typescript emits declarations for every file and 400 is not that many but I totally get why you bail

[2018-10-31 17:46] #1217 closed

[2018-10-31 18:46] Zoxive commented on #946
Same tried setting jest.setTimeout in my setupTests and it doesnt affect this timeout im getting.

[2018-10-31 20:46] justinfagnani commented on #1257
Oops, I was using a not-yet-released API, and the result happened to look like what also happens when we get package duplication. Sorry!

Thanks for the BrowserFS tip though!

[2018-10-31 20:46] #1257 closed

[2018-10-31 20:55] Sharpie360 commented on #1230
That's a very good point! I think a toggle option would be the best solution.

[2018-10-31 23:34] EisenbergEffect commented on #1254
We would certainly love to have a custom template. There's another issue somewhere related to that and some work @bigopon was doing to try to put it together. I think it was a bit difficult figuring out the best way to put it all together. @bigopon can provide a few more details and the issue link.

[2018-11-01 01:24] ronaldroe opened #1259 ""Could not Fetch Dependencies" Error when Adding to Object Prototype in Vanilla JS"
# 🐛 bug report

## Adding a method to the Object prototype causes the error in the title,
## Execution halts on failure.

The following error is in the console: `Error: Could not fetch dependencies, please try again in a couple seconds: Could not fetch version for sortGroupBy@function(sortBy)`.

In short, I'm trying to add a sortGroupBy method to the Object prototype. I don't get an error on anoth

[2018-11-01 03:11] nicknisi commented on #1258
Yeah, it looks like it's not using the right factory. I'll dig into why!

[2018-11-01 12:22] tesla3327 opened #1261 "React Hooks linting rules are triggered in Vue component"
# 🐛 bug report

## Description of the problem
The rules around usage of `useXXXX` methods are linting Vue components as well.

## How has this issue affected you? What are you trying to accomplish?
It is annoying.

###  Link to sandbox: [link](https://codesandbox.io/s/4jk8o314kx)

<img width="561" alt="screen shot 2018-11-01 at 8 21 34 am" src="https://user-images.githubusercontent.com/3078446/478

[2018-11-01 12:29] Bassetts opened #1262 ""Illegal value for token color" when using custom VSCode theme"
# 🐛 bug report

## Description of the problem
When generating a color theme using the `Generate Color Theme From Custom Settings` in VSCode and pasting the resulting output into the `Custom VSCode Theme` setting I get the error `Problem initializing template in editor: Illegal value for token color:`.

I am using the [Material theme](https://github.com/equinusocio/vsc-material-theme ) in VS Code.

[2018-11-01 12:41] CompuIves commented on #1261
Are `useXXX` methods common in Vue?

[2018-11-01 12:55] CompuIves commented on #1262
Found the issue here, VSCode has trouble handling the empty values (`""`).

Until we deploy a fix, a workaround would be to find all `""` values and delete those lines (I think there are 3).

[2018-11-02 10:51] dance2die opened #1263 "Directory title length increase"
# 🐛 bug report

## Description of the problem

[Importing from a GitHub](https://codesandbox.io/s/github) repository [dance2die/JavaScript30](https://github.com/dance2die/JavaScript30) displays `should be at least 32 character(s)` messages.

![codesandbox import error](https://user-images.githubusercontent.com/8465237/47910866-7ecc0680-de6a-11e8-9875-1eb6fc3bb8de.gif)

## How has this issue affect

[2018-11-02 11:46] CompuIves commented on #1263
Just deployed an update that doubles the max length!

[2018-11-02 11:46] #1263 closed

[2018-11-02 11:51] CompuIves commented on #1263
Oh, new problem... I think the directory/module titles don't pass our format validation: `/^[^<>:;,?"*|\/]+/`. I believe I took this one from the Windows format validator, so it's interesting that the file is correctly hosted on GitHub 🤔

[2018-11-02 11:53] CompuIves commented on #1263
I think this is the name with the issue (because of the `,`): "25 - Event Capture, Propagation, Bubbling and Once"

[2018-11-02 13:55] dance2die commented on #1263
Thank you @CompuIves. 👊

The repo was originally forked from Wes Bos's [JavaScript 30 repo](https://github.com/wesbos/JavaScript30).
He uses a Mac so would it have something to do with it?

[2018-11-02 14:05] OculusMode opened #1264 "DependencyNotFoundError: Could not find dependency: '' relative to '/src/main.js'"
# 🐛 bug report

## Can't run sandbox which has no issue
Details:
DependencyNotFoundError
Could not find dependency: '' relative to '/src/main.js'

Note: if i try to add dependency, it adds some blank dependency and generates another error
## Simply trying to run

###  Link to sandbox: [link](https://codesandbox.io/s/o9zjqyk8n9)
### Your Environment
| Software         | Name/Version|
| ------------

[2018-11-02 16:08] bobziroll commented on #926
@CompuIves I'm also receiving this error, but it only happens when I try to submit a PR via CodeSandbox. No slash in the URL for this one. Only happens for some repos, e.g.:

[Student 1's toy project](https://github.com/Hamaerox/assignments/tree/master/assignments/projects/Mario)
[Student 2's toy project](https://github.com/Tyler-Palmer/assignments/tree/master/exercises/business-time)

[2018-11-02 21:10] feelextra opened #1266 "Error with BrowserFS while rendering a React app"
# 🐛 bug report
## Description of the problem
This React project works for me on my local environment. Tried to upload it and this issue happens on the provided URL below.

Might be related to [this open issue at BrowserFS](https://github.com/jvilk/BrowserFS/issues/210#issuecomment-435501601)

Attached image showing what it looks like.
[code]
## How has this issue affected you? What are you trying

[2018-11-03 01:56] Guihgo opened #1267 "How add a global module ?"
# ❔ Question

Is there any way to add global package to use on terminal ?

I want install AtomicReact module globally to use CLI commands.

[2018-11-03 08:08] lbogdan commented on #1267
Hey @Guihgo ! You can install the package locally, and then run `yarn cli_command` or `npx cli_command`.

[2018-11-03 10:57] aleksspeaker opened #1268 "Please put back the React-Typescript boilerplate starter. We really enjoyed and need it."
# 🌈 Feature

[2018-11-03 11:04] CompuIves commented on #1268
It's still there: https://codesandbox.io/s/react-ts. I'm redoing the 'New Sandbox' modal a bit to show the TypeScript variants again.

[2018-11-03 13:08] olegdovger commented on #1117
I can create a file using commands from CLI, and I even could see results using commands - `ls` and `cat` BUT I cannot see any changes in directories visually.

[2018-11-03 13:59] CompuIves commented on #1117
Fix will land coming week for this!

[2018-11-03 15:07] CompuIves commented on #1217
I found a compromise where you won't be able to open the type definitions in the editor, but they will be available in the type checking! Will go live today.

[2018-11-03 15:08] #1258 closed

[2018-11-03 15:45] pshrmn commented on #1243
I didn't spot which commit fixed this, but it looks like this can be closed.

[2018-11-03 15:45] #1243 closed

[2018-11-03 20:11] #1267 closed

[2018-11-03 20:15] Guihgo opened #1270 "Files on ./sandbox folder doesn't showed on FileEditor"
# ❔ Question

Files on ./sandbox folder doesn't showed on FileEditor.
When i type `ls` command on terminal there are a lot of files doesn't showed on FileEditor, how can i show them ?

###  Link to sandbox: [link](https://codesandbox.io/s/v3no221955)

[2018-11-03 20:16] CompuIves commented on #1270
Hey! This is currently a feature we're missing, but we're deploying this
functionality within a few days. Stay tuned!

On Sat, Nov 3, 2018 at 9:15 PM Guilherme Henrique <notifications@github.com>
wrote:

[2018-11-03 20:18] #1270 closed

[2018-11-04 14:58] etienne-dldc commented on #1071
Closing because It has been implemented by @melanieseltzer (thanks 😊)

[2018-11-04 14:58] #1071 closed

[2018-11-05 06:01] sudazx opened #1271 "Formatter Error in `Vue` Porject"
# 🐛 bug report

# Document Formatter in Vue

### Repeat Procedure

Open the console, and right click the menu option: ***FormatDocument***,  you will see the error like following
[code]
i'm taking some time to find the root cause, and find the origin is the `monaco-vue` plugin which used in codesandbox.

###  Link to sandbox: [Official Vue template](https://codesandbox.io/s/vue)
### Environment
|

[2018-11-05 06:06] sudazx commented on #1271
If you want to immediate solve this problem, you can moneypatch or just fix the following three pieces of code in `vue-worker.js ` which under the path `monaco-vue/release/min`

[code]
[code]
[code]
remove `t.insertSpaces` and use the default setting which you desire.

I hope the official team could offer a better solution.

Thansk!

[2018-11-05 11:58] luisherranz opened #1272 "Cannot extract value at path "sandbox.id" error"
# 🐛 bug report

## Description of the problem

I've forked this sandbox and I cannot access the original anymore: https://codesandbox.io/s/oqrn065pw5

Console error is `Uncaught Error: Cannot extract value at path "sandbox.id" ("id" is not defined).`

## How has this issue affected you? What are you trying to accomplish?

If I access it in incognito (no login) it works fine. Logging out and refres

[2018-11-05 12:18] CompuIves commented on #1272
Hey! Thanks for the report, looking into it now. Do you know which line this happened on?

[2018-11-05 12:20] CompuIves commented on #1272
Sentry issue: [FRONTEND-91E](https://sentry.io/codesandbox/frontend/issues/673732357/)

[2018-11-05 17:07] RandomFractals opened #1274 "let's add vega embed code project sandbox template"
# 🌈 Feature
After a short chat with Dominik Moritz on VegaJS Slack (https://communityinviter.com/apps/vega-js/join) about your codesandbox.io and a quick recon of sandbox templates in code looking at templates:

https://github.com/CompuIves/codesandbox-client/tree/master/packages/common/src/templates

we'd like to push a pre-flight PR for you to add vega-embed to your JS project teamplates to show

[2018-11-05 17:52] domoritz commented on #1274
I'm happy to provide support for this feature from the Vega and Vega-Lite side.

[2018-11-05 18:13] luisherranz commented on #1272
I can't reproduce that error anymore 😅

Did you catch it?

[2018-11-05 21:01] jaruesink commented on #1187
I am getting a similar issue trying to load a project with react 16.6 https://codesandbox.io/embed/w0573w2owk

[2018-11-06 02:49] Pauan commented on #1220
Here are some places inside our library which contain dynamic imports:

https://github.com/amcharts/amcharts4/blob/aa37ef9baf11d43a4884dedfe2ad680575cdeecb/dist/es2015/.internal/core/export/Export.js#L2524

https://github.com/amcharts/amcharts4/blob/aa37ef9baf11d43a4884dedfe2ad680575cdeecb/dist/es2015/.internal/core/export/Export.js#L2559-L2560

https://github.com/amcharts/amcharts4/blob/aa37ef9ba

[2018-11-06 14:46] vivek12345 commented on #1247
@dobromir-hristov Regarding
Q) The original Sandbox you had, that is bound to get outdated. Also it states nowhere that it was exported to a repo
On the left sidebar, when you click on github icon, you can that a particular sandbox belong's to a repo.

Q) The floating Github sandbox, that technically will auto-deploy it self on each commit
Will the github linked codesandbox auto-deploy if you make

[2018-11-06 14:55] dobromir-hristov commented on #1247
@vivek12345 Hi. Thanks for taking your time.
1. Not entirely true. https://codesandbox.io/s/j2njmmmqr3 this one was exported here https://github.com/dobromir-hristov/vue-testing-challenge and now I if I dont forget, I can visit it here https://codesandbox.io/s/github/dobromir-hristov/vue-testing-challenge. Here now I have the "link" but thats because github is the "owner" of that sandbox, from wha

[2018-11-06 15:02] vivek12345 commented on #1247
Thanks for answering @dobromir-hristov.
Regarding the first point of github link, I can see the repo name that the sandbox is linked to

<img width="1440" alt="screenshot 2018-11-06 at 8 29 39 pm" src="https://user-images.githubusercontent.com/4931048/48072619-f3a09700-e202-11e8-8fe7-98b718a72d8e.png">

Am I missing to understand something here?

[2018-11-06 15:03] dobromir-hristov commented on #1247
https://gyazo.com/c8f59a4aa2cda58d76305acb193959de I dont see it on mine 😞

[2018-11-06 15:07] samhotchkiss commented on #860
Hey @CompuIves , what are the blockers here?

[2018-11-06 15:09] vivek12345 commented on #1247
So here are the steps that I did,
1) Created a sandbox
2) exported in to github using that sidebar github link
3) sandbox gets forked into a github sort of url like this `https://codesandbox.io/s/github/vivek12345/react-hooks-demo`
4) I edit it and it get's forked into a new sandbox but still maintains the github repo name from which it was forked.

[2018-11-06 15:10] dobromir-hristov commented on #1247
Oh yeah. I was referring to the original Sandbox, from which I created the Github one :) The "Mother" one. Forks are connected to the repo, otherwise you wont be able to commit.

[2018-11-06 15:13] vivek12345 commented on #1247
Ahh, that makes sense. Now I understand. That makes me think, should code sandbox retain the mother one if someone exports it to a github repo and creates a fork of it when trying to edit it.

[2018-11-06 16:54] KaneFreeman opened #1277 "Embed sandbox breaks when switching files repeatedly"
# 🐛 bug report

## Description of the problem
The sandbox loads just fine, but if you click between the two typescript files (`App.tsx` and `main.ts`) a couple of times the sandbox silently dies.

## How has this issue affected you? What are you trying to accomplish?
I am trying to embed a dojo 4 sandbox on a static webpage.

###  Link to sandbox: [link](https://codesandbox.io/s/oj8qylzq0z) ([embe

[2018-11-06 17:37] knksmith57 opened #1278 "clarify transition behavior and side effects when cancelling patron subscription"
# ❔ Question

When a patron subscriber cancels a subscription:
1. Are privacy and sharing features of private sandboxes preserved?
2. What happens to sandboxes if the patron has more than the free limit (currently documented as 50)?
3. What happens to static hosting assets / resources if the patron is using more than the free limit (currently documented as 20Mb)?
4. Are there any additional conseq

[2018-11-06 17:37] knksmith57 commented on #1278
/cc @CompuIves

[2018-11-06 18:47] CompuIves commented on #1278
I completely agree, I will focus on our pricing system for the coming weeks and will take this with that.

[2018-11-06 18:51] knksmith57 commented on #1278
@CompuIves thanks for the speedy reply!

If it's not too much to ask, I'd very much appreciate clarification for the provided questions ASAP, even if that means simplified answers in this thread vs comprehensive documentation on the site.

I am a current subscriber and am rebalancing my monthly donations and evaluating whether or not I will keep my codesandbox subscription. Before I suspend paymen

[2018-11-06 18:54] CompuIves commented on #1278
Absolutely!

Yes, we don't make all the sandboxes public. You'll lose the option to change privacy of your sandboxes.

You won't be able to create new sandboxes until you've deleted some.

Same story as sandboxes, you won't be able to upload until you've deleted uploads.

Not that I know of. I have to admit that I haven't tested this thoroughly. So any feedback is appreciated!

[2018-11-06 19:23] manniL opened #1279 "Feature: Increased capacity for server CSBs"
Hey all!

I know that the functionality is still in beta but I hit my limit for recently (and have to delete the "less important" ones).

Is there a plan to update the capacity?

[2018-11-06 19:26] manniL opened #1280 "Feature: "Empty trash" button"
Heya! :wave:

As the trash becomes more important with server-side CSBs, as the limit is fairly lower in comparison to client-side ones and the trashed ones count as well, I'd love to see a "delete all from trash" button (with an extra confirmation dialog or so).

[2018-11-06 19:27] manniL opened #1281 "Feature: Trash hint on limit hit"
I wasn't aware that trashed Sandboxes are a thing (and count towards the limit) when I used CodeSandbox the first time. A notice in the "You've hit your limit" dialog would be neat! :+1:

[2018-11-06 19:36] manniL opened #1282 "Bug: drag-and-drop hangs sometimes"
# 🐛 bug report

![drag-drop-fail-2](https://user-images.githubusercontent.com/640208/48088885-0c0cb380-e1fb-11e8-9782-058632f8984b.gif)

## Description of the problem

When dragging a CSB in your dashboard, it sometimes gets stuck on the "My Sandboxes" folder.

### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  | latest?
| Browser | Firefox 63

[2018-11-06 19:38] manniL opened #1283 "bug: can't move CSB from subfolder back to top level"
# 🐛 bug report

![drag-back-to-top](https://user-images.githubusercontent.com/640208/48089029-686fd300-e1fb-11e8-8dd8-d586fda7ab9f.gif)

## Description of the problem

When I want to move a CodeSandbox from a sub-folder to the top level again, it does not move the Sandbox back and keeps it in the subfolder. Moving to other folders does work

### Your Environment
| Software         | Name/Version|

[2018-11-06 19:41] manniL opened #1284 "bug: moving a sandbox to subfolder triggers visual glitch"
# 🐛 bug report

![folder-move](https://user-images.githubusercontent.com/640208/48089147-abca4180-e1fb-11e8-9a93-b2172708a7c0.gif)

## Description of the problem

When I move a Sandbox to a subfolder, it is moved (on the back end) but the 2nd sandbox in the row disappears.

The GIF should help to identify the problem clearly.

### Your Environment
| Software         | Name/Version|
| -------------

[2018-11-06 19:44] knksmith57 commented on #1278
excellent, thanks so much for clarifying! 🙏

[2018-11-06 19:44] #1278 closed

[2018-11-06 21:32] puddlecoded opened #1285 "Angular Template - test runner fails due to zone.js sourcemap missing freezes environment"
# 🐛 Environment becomes unusable after adding a failing spec to Angular project

- [ ] Given I've created a brand new Angular template app
- [ ] When I add app.component.spec.ts with the following

[code]

- [ ] If I have the spec file opened in editor
- [ ] I modify the spec file so I have a failing spec

Then
- [ ] I see an error about zone.js sourcemap missing
[code]
- [ ] The error continues t

[2018-11-07 00:25] blikblum opened #1286 "Babel env preset browser target is not respected in vanilla template"
# 🐛 bug report

## Description of the problem
In a project forked from vanilla template with a custom .babelrc, the browser target of env preset is not respected.

For example, setting the browser target to "chrome 68" the ES classes are still compiled to ES5, while in a local setup no transpilation is done at all:

[code]

## How has this issue affected you? What are you trying to accomplish?
I'm

[2018-11-07 01:44] feelextra commented on #1266
Update: previous error message is gone, here is the new error message:

![error-cannot-find-emotion-macro-from-src](https://user-images.githubusercontent.com/43674238/48105267-76474780-e23f-11e8-8e3b-25b0985e2ede.png)

[2018-11-07 02:33] calebmer opened #1287 "Can’t sign into Codesandbox"
# 🐛 bug report

## Description of the problem

When trying to sign into Codesandbox using GitHub I get redirected to https://codesandbox.io/signin/... and I get stuck there. I tried revoking my GitHub access token then signing in again. No dice.

<img width="1680" alt="screen shot 2018-11-06 at 6 30 12 pm" src="https://user-images.githubusercontent.com/8282507/48106888-44f45a80-e1f2-11e8-804e-f803

[2018-11-07 04:11] trusktr commented on #1236
ping. This would be great to know. Then we can figure how to take any template and use it on codesandbox.

[2018-11-07 07:59] aleksspeaker commented on #1268
Awesome! Thanks!

[2018-11-07 09:43] #1268 closed

[2018-11-07 10:43] tomsiwik opened #1288 "Bug: label + for() statement crashing tab/client"
# 🐛 bug report

Pretty thanks in looking into it, in advance.

## Description of the problem

Using `label:` and a `for()` statement crashes the sandbox. Used typescript + react template.

## How has this issue affected you? What are you trying to accomplish?

Using labels is not possible as per:
https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Statements/label

###  Link to sandbox:

[2018-11-07 10:51] CompuIves commented on #1287
Hey! Does the console say anything on that page? Normally the page should open in a window, so that could be the cause of the issue maybe.

It could also be something with the server. I wonder if it's still happening right now.

[2018-11-07 12:30] lbogdan commented on #1211
This has been added. Please test and close this if it works as expected.

[2018-11-07 12:33] lbogdan commented on #1114
Hey @jimthedev , thanks for opening this issue, and sorry for the late reply!

This was a known issue since we launched CodeSandbox Containers, which was finally fixed in the quite big update we deployed last night. Please test and close this if it works as expected.

[2018-11-07 13:35] manniL commented on #1211
Whoop, that was fast!
Works as expected, thank you ☺️ 👍

[2018-11-07 13:35] #1211 closed

[2018-11-07 14:31] vadimshvetsov opened #1289 "Prettier prettify package.json on save after update"
# 🐛 bug report
Hi, there is an issue with Prettier after Codesandbox update.
It prettifies `json` on every save if it's not disabled.

[2018-11-07 16:07] phiter commented on #1289
Same. I disabled prettier in the configs in order to save package.json. Then I enabled it again.

[2018-11-07 16:08] lbogdan commented on #1289
Hey guys, this should be fixed, can you please test and let us know?

[2018-11-07 16:13] lbogdan commented on #1289
Ok, closing this.

Regarding #924, @CompuIves is the "master of the bundler", so you'll have to talk to him about that.

[2018-11-07 16:13] #1289 closed

[2018-11-07 18:55] vivek12345 commented on #1261
@CompuIves I think we can close this issue now. Thanks 🎉

[2018-11-07 18:58] vivek12345 commented on #1247
@CompuIves In debugging, so far what I have seen is when I open the sandbox editor, the xhr call gives me a json response which has  forked_from_sandbox as one of the key.

Now I was thinking that on the dashboard, when we do a graphql query for recent sandbox, can we get this detail too?

For that I am struggling to find out the graphql schema, but the docs ain't loading.

Any help on this?

On a

[2018-11-07 20:39] bobziroll commented on #926
The CSB links in my above comment won't work anymore because we were able to get the PR functionality to work, but now it seems very spotty (most of the time it fails with a 422 error again). I haven't been able to figure out what steps make it work. I'll probably open my own issue for this.

[2018-11-07 20:52] siordache94 commented on #1020
Issue isn't solved
what information can I provide?

[2018-11-07 21:35] lbogdan commented on #1261
Fixed in #1276 .

[2018-11-07 21:35] #1261 closed

[2018-11-07 23:03] oleersoy opened #1290 "Jest test times out"
# 🐛 bug report

The following RxJS Jest test times out:
https://codesandbox.io/s/nk6rv45oz4

Thoughts?

[2018-11-07 23:21] oleersoy commented on #1290
Hmmm - Strange - I switched tabs, came back later and then back and now it no longer times out.  The same type of thing would happen with my imports..."rxjs" would have red squiggly lines under it, and when I opened the same project in a different tab they disappeared.   This can be closed if need be.

[2018-11-08 20:33] calebmer commented on #1287
It worked today. Sorry for the noise.

[2018-11-08 20:33] #1287 closed

[2018-11-09 04:05] marskid commented on #1264
The same issue [https://codesandbox.io/s/rmykx7k5rn](https://codesandbox.io/s/rmykx7k5rn)

[2018-11-09 14:36] rbiggs opened #1291 "Support Resize of Editor Panel on iPad"
# 🌈 Feature

Allow user to resize the Editor Panel using touch on iPad. Currently it is possible to resize the tree view on the left side while on iPad. But this only affects the size of the Tree Panel. The result is that the editing area is small and cramped on iPad with no way to increase its size through touch and drag.

User should be able to touch and drag from either side of the Editor Panel

[2018-11-09 17:48] remmythical opened #1292 "Unexpected behaviour regarding logout and automatically created forks."
# 🐛 bug report

## Description of the problem
i just ran into the case that i was working on my code and found out that i'm suddenly in a different sandbox id than before, the app showed me that i forked my old one.
I was confused by this, so i went to the link of the old version and pasted my changes there only to land in another fork.

The issue was that i was (automatically) logged out, so the

[2018-11-09 17:53] remhume commented on #1292
Oh there is apparently more to this issue?

Even after logging back in with the same account i'm not able to save the project without creating a new fork now? :(
Not sure what's happening there.

Link to (the first) sandbox: https://codesandbox.io/s/vjmnjlxvl

[2018-11-10 06:05] bang88 opened #1293 "Unexpected token"
# It looks like `codesandbox` does not use our version of `react-scripts`.

## Description of the problem

We have a `react-native` example want render it to the web platform use` react-native-web`. it works
well on local computer but after uploaded to `codesandbox` it fails to at `Transpiling` node_modules files.

We use a custom `react-scripts` which support transpiling files under node_modules.

[2018-11-10 08:30] ParsonsProjects commented on #1264
Same issue happening here https://codesandbox.io/s/84vpkojoxl

[2018-11-10 17:52] RichardJJacobs opened #1294 "Loading Sandbox Fetching gitrepository .. forever"
# 🐛 bug report

## Description of the problem
When I try and access my angular sandbox I just get "Loading Sandbox Fetching gitrepository" which just sits there forever. Reloading doesn't help. I'm not even using git as a repository. I created the sandbox by running codesandbox ./ in the project directory. It also seems very very slow loading files. Is this because its trying to test the software

[2018-11-11 18:26] manniL opened #1295 "Change default command or kill default process"
# 🌈 Feature

I'd be awesome for SSE sandboxes to change the default command and kill the process that one runs in. In my case, I can't deploy a production version of Nuxt in the sandbox otherwise.

[2018-11-12 00:48] CompuIves commented on #1106
Oh yep! We can close this one, we go through a list of scripts (like `start`, `dev`) to find what to run first.

[2018-11-12 00:48] #1106 closed

[2018-11-12 06:13] vzaidman commented on #1106
is it documented somewhere?
is there a plan to add it as a config in `sandbox.config.json` ?

[2018-11-12 07:36] ngryman commented on #1027
Hey guys, it seems that the Stockholm theme deviates from the original Codesandbox theme. So if you are interested, I took the liberty to publish a straight copy or the original theme here: https://marketplace.visualstudio.com/items?itemName=ngryman.codesandbox-theme.

[2018-11-12 10:56] sandroden opened #1296 "@edia not being trggered while working out of codesandbox"
# 🐛 bug report

A simple snippet that is working correctly in a real setup is failing to apply @media queries

## Description of the problem:
We have a vuejs setup with a container for the home page
the container has css @media that don't get applied

###  Link to sandbox:
https://codesandbox.io/s/l9rmv8ym7z
### Your Environment
vuejs:               2.5
Сodesandbox: vuejs

[2018-11-13 00:53] calpa opened #1297 "Facebook share codesanbox.io warning"
# ❔ Question

I don't know why but it happens when I share link of codesandbox in facebook...
[code]

###  Link to sandbox: [link]() (optional)
### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  |
| Browser | Chrome
| Operating System | MacOS

[2018-11-13 01:22] sandroden commented on #1296
SOLVED. Sorry for the noise... it was a bogus, invisible char in css.
Thanks for this wonderful tool!!!

[2018-11-13 01:22] #1296 closed

[2018-11-13 09:31] neonovic commented on #1020
Is this resolved? I am new to Codesandbox, but I had one file overwritten by another and I don't know why.

[2018-11-13 11:38] bluedusk commented on #1042
I got same issue with chrome.
Have you managed to solve this ?

[2018-11-13 13:34] desirelabs opened #1298 "GitHub : can only create PR instead of starting a fresh github repository"
Hello,

I noticed that for container sandbox, I cannot Export Sandbox to my GitHub account. I can only create PRs to the original project. Example : with Nextjs

Is this the only available behaviour ?

Thanks

[2018-11-14 08:59] rahulparmar339 commented on #1266
change import statement from import { css } from "emotion/macro";
to import { css } from "emotion";   in style.css file it worked for me

[2018-11-14 10:30] deadcoder0904 commented on #1042
I didn't use this for long but I came back again to try it. The worst thing is now happening. It overwrites my one file with other files contents & it happened to me at least 5 times. Makes me not use Sandbox now. Sad but I have to use local environment now as I have to press CMD+Z all the time after saving :(

[2018-11-14 11:44] murtraja opened #1299 "classProperties support"
# ❔ What needs to be done in order to enable classProperty support

/node_modules/react-native-confirmation-code-input/components/ConfirmationCodeInput.js: Support for the experimental syntax 'classProperties' isn't currently enabled (10:20):

###  Link to sandbox: [link](https://codesandbox.io/s/14jr1kq7q7) (optional)
### Your Environment
| Software         | Name/Version|
| ---------------- | --

[2018-11-14 11:53] d3dc commented on #1042
@skirankumar7 Are captcha responses sent through codesandboxes API? I would think these network requests would complete with an authorization error.

@deadcoder0904 I'm not sure that's the same issue. That sounds like your network requests are completing.

[2018-11-14 12:07] CompuIves commented on #1042
@deadcoder0904 could you specify which editor you're using? I've been seeing some race conditions for the vscode editor.

We do have some verification by Cloudflare against DDOS attacks and other kind of attacks, I lower the sensitivity to see if that improves anything.

[2018-11-14 12:15] deadcoder0904 commented on #1042
@CompuIves I'm using VSCode. Should I Switch then?

The thing that happens is if I change some other file, it overwrites the content on my `index.js` file

[2018-11-14 12:17] CompuIves commented on #1042
Yeah that's a bug in VSCode, VSCode is more experimental than Monaco currently, so in Monaco this shouldn't happen. I'm looking into VSCode today.

[2018-11-14 12:19] deadcoder0904 commented on #1042
Confirmed, doesn't happen in Monaco. Thanks :)

[2018-11-14 12:55] lbogdan commented on #1117
We just deployed this, please see the discussion in #1137 .

[2018-11-14 12:55] #1117 closed

[2018-11-14 13:02] lbogdan commented on #779
Hello there,

Closing this, as we recently launched [CodeSandbox Containers](https://hackernoon.com/codesandbox-containers-5864a8f26715), and you can now open a terminal inside a container / server sandbox.

[2018-11-14 13:02] #779 closed

[2018-11-14 16:12] feelextra commented on #1266
Hi, thanks for trying it out! that suggestion does solve the error for me as well.

The truth is I already knew that it solves it (that's why I kept it in commented out).

However, **There is still a reason why I wanted to keep this issue open**, though.

There is an **inconsistency** between the build produced by *CodeSandbox* and the build I use with my dev server.

As you can see from the attac

[2018-11-15 05:46] sudoris commented on #1298
Also suddenly can not export to my Github (area where you enter new repo name is greyed out). I was able to export sandboxes to Github fine just a few weeks ago.

[2018-11-15 06:39] tonykiselis opened #1300 "Is it planned to support webcomponents?"
I'm let to believe that due to typescript compilation,
[code]
is being called twice, which throws an error. Are the any plans to address this? I mean, is it even possible? Perhpas there is a workaround while you're mingling in codesandbox for time being to play with webcomponents around.

Now it's kinda a bummer.

[2018-11-15 20:00] johncokos opened #1301 "More options in the dashboard menu"
# 🌈 Feature

In the drop down menu, add a clone/fork option

![screen shot 2018-11-15 at 11 57 04 am](https://user-images.githubusercontent.com/1766332/48578101-9de88080-e8cd-11e8-9f91-5c3cde55ccad.png)

- `Clone Sandbox` Menu Item -- Creates a fork of the sandbox in the folder you're currently in, and let me rename it immediately.

As an instructor, a key part of my workflow is to create assignme

[2018-11-15 20:15] dwuster commented on #1130
The [tutorial](https://codesandbox.io/docs/importing#import-from-github) say to use `{ "template":"node" }` in `./sandbox.config.json`

`codesandbox-importers/packages/types/index.d.ts` -> [ITemplate](https://github.com/codesandbox-app/codesandbox-importers/blob/master/packages/types/index.d.ts#L24)
don't have "node" option.

[2018-11-15 23:32] grant commented on #236
Company name: Google
What you use it for: [Apps Script](https://developers.google.com/apps-script/) development with [clasp](https://github.com/google/clasp/).
Would you want to be featured on the homepage: Eventually, if the use case with Google worked. Probably a Google Cloud feature. Would need legal approval on my side.

It looks like some further additions would be required to make a good dev

[2018-11-16 07:44] nick-vanvynckt opened #1302 "Could not find module in path: 'tslib' relative to '/src/App.tsx'"
# 🐛 bug report
## Description of the problem
When importing an existing React project into codesandbox, I get this strange compiler error. Can you take a look at this? Don't really know what I'm doing wrong here..
## How has this issue affected you? What are you trying to accomplish?
See above.
###  Link to sandbox: [https://codesandbox.io/s/5zm2y69m8l](https://codesandbox.io/s/5zm2y69m8l)
### You

[2018-11-16 09:14] vitkon commented on #1014
`wmonk/create-react-app-typescript` is out of date.
It'd be better to use the latest `create-react-app my-app --typescript`.
Is there a pull request for it?

[2018-11-16 09:14] ThatToti commented on #1130
thanks!

It seems like the problem is solved.So,I close this issue.

[2018-11-16 09:14] #1130 closed

[2018-11-16 09:20] vitkon opened #1303 "Replace React+Typescript template"
# 🌈 Replace React+Typescript template

## Current state
Currently react-scripts are used to create React+TS sandbox.
e.g. `create-react-app my-sandbox --scripts-version=react-scripts-ts`

However, it lacks the recent features from CRA v2 (e.g. CSS modules support).
CRA v2 also supports creating a React+TS projects now.

## Suggested solution
- remove `create-react-app my-app --scripts-version=reac

[2018-11-16 14:39] rayfoss opened #1304 "Bug: VS Code settings inaccessible in linux with Gnome (Fedora/Ubuntu)"
# 🐛 bug report

## Description of the problem
The shortcut for accessing the VS Code settings should be `Ctrl+Backtick` on Windows/Linux, on Mac it's `Cmd+Backtick`.

## How has this issue affected you? What are you trying to accomplish?
I'm unable to configure VS Code or disable some of it's less useful features.

###  Link to sandbox: [https://codesandbox.io/s/xk52mqm7o](https://codesandbox.io/s

[2018-11-16 16:15] onexdata commented on #860
I'm a patron. I want this feature so bad I am scratching chalk boards and running around outside naked and screaming while painting my body with mint chocolate chip ice cream.

Please, make the madness stop.

[2018-11-16 20:06] dwuster commented on #1130
It's not solved, I have the same problem with "node" template

[2018-11-17 10:03] izikenmichael commented on #1285
I am having a similar issue with my angular 7 app. When i import from GitHub repo.
[Angular 7 not working on codesandbox](https://github.com/izikenmichael/starwars-movies/issues/1
)

[2018-11-17 10:27] izikenmichael opened #1305 "Angular 7 project does not open on Codesandbox. Continuously throws error to browser console"
# 🐛 bug report

## Description of the problem
My Angular 7 app can not open on codesandbox due to continuous error on console.
## How has this issue affected you? What are you trying to accomplish?
I want to import my angular 7 app to codesandbox so i can share for a job interview task.
###  Link to sandbox: [link](
https://codesandbox.io/s/github/izikenmichael/starwars-movies/tree/master/) (optio

[2018-11-17 21:23] AureliaEffect opened #1308 "Sandbox Does Not Load When Logged In"
# 🐛 bug report

## Description of the problem

I have a sandbox located here: https://codesandbox.io/s/zw9zjy0683 When logged out or logged in from a different account, the Sandbox loads. When logged into the account that created the sandbox, it gets stuck while loading.

## How has this issue affected you? What are you trying to accomplish?

I'm trying to fork my own sandbox to create some new sa

[2018-11-17 21:24] AureliaEffect commented on #1308
I should also point out that I've tried clearing all site data and then logging in again. It works before logging in (anonymous) but not after logging into my account.

[2018-11-17 23:32] sushruth opened #1309 "zeit version 2 support"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?

I am trying to use zeit version 2. the API needs updating. Please update to ZEIT version 2. it results in lower cost for people using it.

###  Link to sandbox: [link]() (optional)
### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandb

[2018-11-18 10:08] zkwsk opened #1310 "Math.random() does not generate random numbers"
# 🐛 bug report

## Description of the problem
## I tried to set boolean values at random, but found that I was only getting `true`. I was using the following line of code to do so `!!Math.floor(Math.random() * 2)`. When I tried removing the floor function I realized that all the "random" numbers were in fact the same number. I've tested the same line of code in Chrome Devtools and it works find, s

[2018-11-18 13:07] CompuIves commented on #1310
Hmm, I think this is expected behaviour. When you evaluate `randomValue()` you get a random value back, the array then gets prefilled with this value (https://github.com/spion/array-2d.js/blob/master/array-2d.js#L4-L12). If you'd execute this locally I think you'd see the same result.

I'll keep this open so you can double check, maybe I'm wrong.

[2018-11-18 14:08] OpherV opened #1311 "Updating Sandbox via api/cli?"
# ❔ Question

I'm trying to assess how to use codesandbox for examples on the official documentation site of Eko: http://developer.helloeko.com

I want our examples to auto-update whenever we change APIs, but I couldn't find a way to update existing codesandboxes, only to create new ones. I'd like to avoid cluttering our account with hundreds of unused boxes.

Is there a way to update boxes via AP

[2018-11-18 14:45] OpherV commented on #1311
Maybe a mix of the two? Have an authenticated Define API, which creates sandboxes tied to the account (and use the same authenticated token to update them). That way we have a list of example sandboxes on our account which our support staff can link the URLs of in tickets.

Also it would be nice to be able to have an API endpoint that creates sandboxes from a Github repo or a zip file url (for aut

[2018-11-18 15:59] wmhilton commented on #864
This is awesome @CompuIves ! I successfully converted my React template project to a Vanilla template project and started using the `alias` package.json field #467 and now have a monorepo-style project!

[2018-11-18 16:19] zkwsk commented on #1310
You're right. Happens locally as well. Did not consider that the Array2D constructor might not be designed to accept a function. Sorry for bothering :)

[2018-11-18 16:19] #1310 closed

[2018-11-18 16:59] c089 commented on #502
I can reproduce this on safari 12.0.1, while it works in chrome.

[2018-11-18 17:28] pshrmn opened #1312 "Redirect to template selection when deleting sandbox"
# 🌈 Feature

Currently, when you delete a sandbox, the application redirects to `/s/new`, which is the template for a React application.

I think that it would be nice to redirect to `/s` (the "template selection" route) instead.

Alternatively, deleting could redirect to the new template page for the type of sandbox that was deleted.

I prefer redirecting to the template selection route. If I del

[2018-11-18 19:09] prideaux opened #1314 "Can I import React-Native project from GitHub ?"
Hi, I really like the look of CodeSandbox iso I became a Patron to test it out in the hope I can edit code etc on computes using an iPad Pro, I would like to know if it is possible to to import a (expo) React-Native project from GitHub that was created using:

`expo init my-new-project`

I am using my MacBook Pro/Chrome to test this out for the import and very time I try using 'Import from GitHub'

[2018-11-18 23:09] AureliaEffect opened #1315 "Feature: Multiple Module Open on Embed"
# 🌈 Feature

In almost 100% of the cases that we want to embed a sandbox in another page, we want to focus our reader's attention on more than one file. Usually, it's two or three files. Unfortunately, when we embed, we have to choose a single file to open and then the reader must click the hamburger menu to see other files. Once they do, they must know which secondary file to look for and select

[2018-11-18 23:10] NoahZinsmeister opened #1316 "Failed to fetch dynamically imported module"
# 🐛 bug report
NPM package using the [`React.lazy`](https://reactjs.org/docs/code-splitting.html#reactlazy) API is broken on CodeSandbox.

## Description of the problem
I'm using the new `React.lazy` API in [one of my npm packages: web3-react](https://github.com/NoahZinsmeister/web3-react/blob/master/src/index.js#L163). When I try to use this package in CodeSandbox, it throws a `Failed to fetch dy

[2018-11-18 23:19] #1312 closed

[2018-11-18 23:20] CompuIves commented on #864
Coool! I'll close this one now 😄

[2018-11-18 23:20] #864 closed

[2018-11-18 23:35] EisenbergEffect commented on #1315
To add further clarity, today we have this:

<img width="1313" alt="screen shot 2018-11-18 at 3 31 55 pm" src="https://user-images.githubusercontent.com/131485/48679607-579e5600-eb47-11e8-8932-84652a495cd3.png">

But we want to have this:

<img width="1313" alt="screen shot 2018-11-18 at 3 32 11 pm" src="https://user-images.githubusercontent.com/131485/48679615-62f18180-eb47-11e8-840b-004c217877b2

[2018-11-18 23:36] CompuIves commented on #1315
Great feature request! I pushed a fix and will deploy it tomorrow morning.

[2018-11-18 23:38] EisenbergEffect commented on #1315
Wow. Super awesome! Can you provide some quick documentation on how to use it once you release? We'll take advantage immediately and would want to make sure we get it configured correctly.

[2018-11-18 23:38] #1315 closed

[2018-11-18 23:39] CompuIves commented on #1315
This will work from tomorrow: `(eg. ?module=/src/index.js,/src/styles.css)`

[2018-11-18 23:39] EisenbergEffect commented on #1315
Excellent!

[2018-11-19 01:36] Vheissu commented on #1315
I just wanted to leave a comment and say how genuinely I am impressed with the speed in which this suggestion was taken on board and implemented. I am really proud to be a Codesandbox supporter and this is by far one of the greatest things to happen to development in a long time. @CompuIves

[2018-11-19 04:52] EisenbergEffect commented on #1315
Thanks again @CompuIves ! You can see the new feature in action on hour home page here: https://aurelia.io/

[2018-11-19 09:10] Infi-Knight commented on #1316
React.lazy is not yet available for SSR. React docs suggest using React Loadable to achieve code splitting in a ssr app. The [sandbox](https://codesandbox.io/s/3x9mvl51yq) which you forked contains the workaround.

[2018-11-19 09:19] snirp commented on #1264
Same here https://codesandbox.io/s/zr070m9vjp for a Vue project. Attempted to publish from Github and from the npm commandline tool.

[2018-11-19 09:20] snirp commented on #1264
Anyone found a workaround? Would be much appreciated.

[2018-11-19 09:40] Infi-Knight commented on #1299
Try adding the plugin in your .babelrc
[code]
It might be the case that .babelrc is being ignored in which case you can try creating a babel.config.js and setting up babel config there.

[2018-11-19 10:38] madflow opened #1317 "Honour Jest configuration in package.json"
# 🌈 Feature

*  What is this feature?

Jest allows configuration entries like:

[code]

in the package.json file.

These configuration entries are ignored in codesandbox - leading to passing tests in a local copy - and failing tests in codesandbox.

*  How the feature should work?

It will read and process the "jest" property from the package.json file.

* You have examples or an idea how it can b

[2018-11-19 15:07] NoahHydro commented on #1316
Cool, thanks @Infi-Knight !

[2018-11-19 15:08] NoahZinsmeister commented on #1316
Cool, thanks @Infi-Knight !

[2018-11-19 15:08] #1316 closed

[2018-11-19 18:55] jgrenat commented on #155
I've been trying to set up a codesandbox with Elm through Parcel (Vanilla) but failed. I'm not sure where it fails because Parcel should have support for Elm, right?

[2018-11-20 09:08] gabriel403 commented on #955
I know this is a slightly old issue, but I'm still getting this now
[code]
[code]

[2018-11-20 12:44] CompuIves commented on #955
Hey @gabriel403, on which version of CodeSandbox (you can find it in the bottom left corner) do you get this? I am not able to reproduce this.

[2018-11-20 16:04] zpreston123 opened #1318 "Sublime Text Theme Port?"
# ❔ Question
Any plans on porting the default CodeSandbox theme to Sublime Text?

[2018-11-20 16:56] manniL opened #1320 "Download CodeSandbox via wget or download URL"
# 🌈 Feature

Currently a Codesandbox has no dedicated download link. That means, downloading a CSB via console/terminal is practically impossible.

It'd be great if you could simply use `wget https://codesandbox.io/s/SANDBOX_ID` to download the CSB.

[2018-11-20 18:30] splodingsocks commented on #194
I can't seem to get it to work with either ctrl-e or command-e (editing an HTML file). And control-F10 isn't possible to test on my current keyboard :D, any tips?

[2018-11-20 19:43] iDVB commented on #530
I'm looking at the code committed here and its not clear to me what this nets out to in the UI.
How CAN we hide that preview panel when we pop it into external browser window/tab?

[2018-11-20 20:13] CompuIves commented on #530
You can find the button here (red arrow):
![image](https://user-images.githubusercontent.com/587016/48800069-0a69e200-ed09-11e8-8d2b-7f82b29741e8.png)

[2018-11-20 20:54] CompuIves commented on #194
Ahh, it seems like I haven't enabled it in the HTML templates yet. I'll enable that either this or next week with the new VSCode deploy.

[2018-11-20 20:54] CompuIves commented on #1315
Hah, that's awesome @EisenbergEffect!

Thank you @Vheissu, that's really motivating!

[2018-11-20 20:54] splodingsocks commented on #194
Thanks!
On Nov 20, 2018, 1:54 PM -0700, Ives van Hoorne <notifications@github.com>, wrote:

[2018-11-20 21:30] iDVB commented on #530
Doh! Thanks.
My issue was that I had experimental VSCode editor turned on and for that
one those buttons are missing. Not sure if that is intensional or not.

On Tue, Nov 20, 2018 at 3:13 PM Ives van Hoorne <notifications@github.com>
wrote:

[2018-11-20 21:31] CompuIves commented on #530
Ahhh, that makes sense!

For VSCode we have it next to the 'Split Editor' button, or you can do (CTRL/CMD + SHIFT + D).

[2018-11-20 21:40] johncokos opened #1321 "Can you disconnect a repo from git?"
# ❔ Question
I've got a few sandboxes that I connected to git, and I'd like to undo that.

Why?

When someone forks your sandbox, it maintains that git connection, and I don't want them committing changes and PRs, I'd like my students to just get a copy of the sandbox for their own use.

[2018-11-20 21:41] johncokos opened #1322 "How do your turn live mode off?"
# ❔ Question

I've got a couple of sandboxes that I turned on live mode for, but I don't see how to turn sharing off. Very often I'll share during a class, and then afterwards just want my sandbox back ... Sometimes, you can't open them as the live server thing is trying to connect.

Is there a button or a link that I'm just too old to see?

[2018-11-20 22:00] samsch commented on #194
ctrl-e also doesn't work in js(x) contexts, though it will expand with tab if it recognizes an html element name. Meaning emmet doesn't work at all for React components right now.

[2018-11-20 22:07] zlw11063 commented on #860
Same! Any update?

[2018-11-21 02:20] sitaramshelke opened #1323 "React-Sandpack example: CSS styles not loaded."
# 🐛 bug report

## Description of the problem
Following the [Readme](https://github.com/CompuIves/codesandbox-client/blob/master/packages/react-sandpack/README.md) from `react-sandpack` project, I have created a new CRA App and added `react-smooshpack` as a dependancy. I copied the example code. But it seems the CSS styles are not loaded.

## How has this issue affected you? What are you trying to

[2018-11-21 08:16] JustinTBrown commented on #926
I am receiving 422s when exporting to GitHub as well.

[2018-11-21 08:20] gabriel403 commented on #955
@CompuIves PROD-1542588735-05f552a

[2018-11-21 10:29] alittlehotcurry opened #1324 "Command Line Tools"
# ❔ Question
Hi,

I am using CSB for an angular project.
My inquiry is that, can I use commands like _ng generate component xxxxxx_ in the console tab at the bottom? OR is there any way that I can?
Do I have reply on the manual way and to create a folder in the directory and so on...

Thanks!

###  Link to sandbox: [link]() (optional)
### Your Environment
| Software         | Name/Version|
| -----

[2018-11-22 03:39] murtraja commented on #1299
@Infi-Knight , Thank you for your response. I have updated the [sandbox](https://codesandbox.io/s/14jr1kq7q7). Added entries in babelrc + have a babel config + have an override for the particular project which is causing problems. Unfortunately, the error persists. One thing I could try is simply copy-paste the contents of the project into src and then try if the error is still there.

[2018-11-22 09:48] jthegedus commented on #514
The material-ui method is not quite the same as it is using a pre-existing template. It somehow infers that I am using the `create-react-app` template :man_shrugging: but the fact that I can create a sandbox with my repo allows me to use Codesandbox for rendering my code snippets. I am not sure what changed over the past 5 months that now lets this work.

What would be ideal is if `sandbox.config.

[2018-11-22 12:38] #860 closed

[2018-11-22 20:50] manniL opened #1327 "feat: improve error message when importing github repo"
# 🌈 Feature

Hey all! Just tried to import my GH repo and a cryptic error occurred

![image](https://user-images.githubusercontent.com/640208/48921478-f9031000-ee97-11e8-85ae-df90f0b6961d.png)

After a while, I realized that my `package.json` had a trailing comma and was invalid ([ref](https://github.com/manniL/nuxt-decouple-and-organize-api-calls/commit/caf95088596f1d6387d900e1883ea816d9a56886)).

[2018-11-24 00:08] mike-north commented on #1137
@lbogdan the various tests I've tried now work as expected. Thanks for the fix!

[2018-11-24 00:08] #1137 closed

[2018-11-24 12:03] SaraVieira commented on #1327
All the messages around importing and committing from Github repos need to be improved :(

[2018-11-24 12:34] SaraVieira commented on #1323
Hey !

It's an issue with the docs that I will create PR for. You need to also import the CSS:

You can see it here: https://codesandbox.io/s/l552ox9qo7

Thank you for letting us know :D

[2018-11-24 12:34] #1323 closed

[2018-11-24 12:36] SaraVieira commented on #1323
https://github.com/CompuIves/codesandbox-client/pull/1328

[2018-11-24 12:37] SaraVieira commented on #1322
![screenshot 2018-11-24 at 13 37 12](https://user-images.githubusercontent.com/1051509/48968322-1c3fd380-efee-11e8-810e-c3fc7fe48689.png)

It's called close session :)

[2018-11-24 12:38] SaraVieira commented on #1322
Never did it so I am not sure it closes the session

[2018-11-24 12:40] SaraVieira commented on #1320
That's a pretty good idea, maybe always append a /download

[2018-11-24 12:41] SaraVieira commented on #1318
Hey!

It's just CSS for now, if you know how to do themes in Sublimes text themes we can hack on this

[2018-11-24 12:44] SaraVieira commented on #1317
Hey !

Can you provide a link to the sandbox?

Thanks :D

[2018-11-24 12:47] SaraVieira commented on #1264
Wow! This is really weird and a nasty one. I will try to take a look at it with Ives. Thank you for letting us know

[2018-11-24 12:48] SaraVieira commented on #1308
Get any errors in the console ?

Btw thanks for a ton of Sandboxes in the past while

[2018-11-24 12:52] SaraVieira commented on #1300
Can you create an example sandbox pls? I don't have webcomponents experience

[2018-11-24 12:54] SaraVieira commented on #1302
That+s weird because importing tslib fixes it 🤔

[2018-11-24 12:58] SaraVieira commented on #1027
@ngryman Can you publish some screenshots ?

[2018-11-24 12:59] SaraVieira commented on #1318
Here are the colors btw: https://github.com/CompuIves/codesandbox-client/blob/master/packages/common/themes/codesandbox.json

[2018-11-24 13:00] SaraVieira commented on #1295
Hey!

Can you explain this better pls ?

[2018-11-24 13:02] SaraVieira commented on #1290
We will still see if we can make this happen again but closing for now

Thank you

[2018-11-24 13:02] #1290 closed

[2018-11-24 13:04] SaraVieira commented on #1288
It seems the sandbox link no longer has the code mentioned :/

[2018-11-24 13:04] #1114 closed

[2018-11-24 13:08] SaraVieira commented on #1279
Hey!

There are plans to increase it in the coming weeks as soon as it leaves beta :)

Thank you for other issues, good points :)

[2018-11-24 13:09] manniL commented on #1295
@SaraVieira Sure!

Say you fork the [official Nuxt template CSB](https://codesandbox.io/s/github/nuxt/codesandbox-nuxt/). Then you always have the default command running in the Terminal section

![image](https://user-images.githubusercontent.com/640208/48968608-e567be80-efe9-11e8-9513-a6efe6232ed9.png)

If you open new terminal windows, you can kill them with the :x: button but you cannot kill th

[2018-11-24 13:09] SaraVieira commented on #1272
@luisherranz Can I close and then you can reopen if it happens again ? :)

[2018-11-24 13:14] SaraVieira commented on #1295
OH! Makes sense, it would be a cool enhancement!

Maybe a kill serverr button here:

![screenshot 2018-11-24 at 14 13 43](https://user-images.githubusercontent.com/1051509/48968685-36c87b80-eff3-11e8-947c-ea6e41a35260.png)

[2018-11-24 14:10] tonykiselis commented on #1300
https://codesandbox.io/s/8n2kyx0xn8

Interestingly enough it worked when I saved and reloaded it.
However, if you even attempt to change code and force codesandbox to recompile it it fails on `::define()`

I'm let to believe that it has something to do with typescript compilation re-evaluating the function twice, which goes against the customElement api which does not allow it to happen twice.

Th

[2018-11-24 15:57] lbogdan commented on #1295
Actually, not really. This is by design, we assume there is a "main process" running at all times. We try to run `dev`, `develop`, `serve`, `start` scripts defined in `package.json`, in this specific order. So if you want to start `nuxt build && nuxt start`, define that as your `dev` script (or remove the `dev` script and define it as the `start` script).

[2018-11-24 16:10] manniL commented on #1295
@lbogdan Okay that makes sense! I thought that'd be based on the used `template` instead (and not based on the `package.json`).

I still think that bit of freedom would be nice to have (but it's not as important with that new peace of info)

[2018-11-24 16:15] SaraVieira commented on #1300
This is super weird, I don't know if it's a parcek thing because with the static template it works: https://codesandbox.io/s/ry5x3k03vp

The thing is that this template does not reload when you make changes :(

I think this template was actually created because of google and web components but it should reload

[2018-11-24 16:19] lbogdan commented on #1295
That assumption was mainly because if there's nothing running, there would be nothing to preview, either, and we wanted users to have pretty much the same experience on client and server sandboxes.

Closing this, as I hope that answered your issue.

[2018-11-24 16:19] #1295 closed

[2018-11-24 16:44] zpreston123 commented on #1318
I don't know how to develop Sublime Text themes, but the format is pretty similar to codesandbox.json file.  See https://www.sublimetext.com/docs/3/color_schemes.html.

[2018-11-24 17:02] SaraVieira commented on #1318
If you wanna do it then you can as you please

I don't work with sublime but can help if you want :)

[2018-11-24 19:32] tonykiselis commented on #1300
Hmm, when it's parcel problem I suppose. My bad.
Shadow dom prevents css being applied from global scope. It's supposed to work that way.

[2018-11-24 19:47] #1264 closed

[2018-11-24 19:48] CompuIves commented on #1264
We fixed this one! Should be live around tomorrow morning.

[2018-11-24 19:49] CompuIves commented on #860
No need to run outside naked covered in mint chocolate chip ice cream anymore! It's live 😄

[2018-11-24 19:53] SaraVieira commented on #1300
Oh yay!!!

Can I close this ? :D

[2018-11-24 20:31] RyanReedUSE commented on #860
@compulves, are there any docs on how to use private repos as it’s still not working after a refresh. Main reason why I signed up. Thanks!

[2018-11-24 20:33] onexdata commented on #860
Thank you so so so much!! 👍

I switched to cheese nips on account of the weather in the North... For what its worth spreading "cheese nip" grease all over your body can lead to actual "cheese nips". Its hard to describe and probably for the better that way. But I will say this... Traffic cones.

[2018-11-24 20:59] luisherranz commented on #1272
Sure! 👍

[2018-11-24 21:00] #1272 closed

[2018-11-24 23:51] tonykiselis commented on #1300
Sure. My bad. Thanks for explaining though. I'll try to make stencil js work though.

[2018-11-24 23:58] SaraVieira commented on #1300
Let me know your progress here or on twitter at @NikkitaFTW pls :)

[2018-11-24 23:58] #1300 closed

[2018-11-24 23:59] EisenbergEffect commented on #1308
I tried it again today and it was working again. Not sure what the issue was. I close this for now and let you know if I see it again.

[2018-11-25 00:07] #1308 closed

[2018-11-25 01:32] tomsiwik commented on #1288
Apparently this issue now temporary crashes the full link. New link edited and found [here](https://codesandbox.io/s/r75pj4l16p).

[code]

[2018-11-25 11:30] madflow commented on #1317
@SaraVieira

https://codesandbox.io/s/3r0npo7r61

The jest configuration is ignored by codesandbox. When I change the path the the setup file in the `jest` entry in package.json - the tests still pass (they shouldn't).

Thanks!

[2018-11-25 19:21] hanspagel opened #1329 "Hot reloading fails: TypeError: Cannot read property 'Ctor' of undefined"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?

I worked on a Vue.js app today. An hour ago hot reload stopped to work:

`TypeError: Cannot read property 'Ctor' of undefined`

I tried to create a new app based on the Vue.js template, but the same error occurs.

###  Link to sandbox: [https://codesandbox.io/s/2p99yjx23r](https://

[2018-11-25 20:06] goodmind commented on #1229
@CompuIves

[2018-11-25 20:52] samdenty opened #1330 "Cloudfront dependencies URL MaxSizeAllowed"
# 🐛 bug report

## Description of the problem
If the combined length of all the package names along with versions exceed 1024 chars, cloudfront responds with 400 Bad Request.

## How has this issue affected you? What are you trying to accomplish?
Loading up a repo with quite a few dependencies

###  Link: [link](https://d1jyvh0kxilfa7.cloudfront.net/v1/combinations/mdx-js-loader@0.15.7%2Bmdx-js-md

[2018-11-26 03:50] RyanReedUSE commented on #860
This works now!

[2018-11-26 04:23] alexdevero opened #1331 "Codesandbox doesn't remember settings"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?
Codesandbox doesn't remember global and settings set via "preferences". Every time I log in, the settings for appearance, editor, prettier, etc. are set to defaults. It is then necessary to change the settings with every login, at least every day.

###  Link to sandbox: [link]() (op

[2018-11-26 20:33] Shanery commented on #1329
I am having this issue as well.

[2018-11-27 04:33] johncokos opened #1333 "Update all dependencies?"
# 🌈 Feature

Today, we can update any single dependency to the latest version available through the link next to the package. Would be nice if we could do them all at once ... Can you add a hot-link in the dependencies drop-down that would update all dependencies to the latest versions

Execute an ncu update or whatever you're using to let us update each dependency individually right now.

[2018-11-27 12:05] diegolameira commented on #1014
Man, I just sent on July, since then many things has changed. If some one is still having this issue and want to contribute go ahead.

[2018-11-27 19:59] jimscarver opened #1334 "finding devDependancies for VUE"
# ❔ Question
What are the devDependancies for a VUE project?

The code runs in codesandbox but the package.json does not include the dev dependencies. We have been unable to get it running on ubuntu. We installed needed dependencies but do not know what version to load. Once the dependencies are resolved we get:

diglife@rhobot:~/DigLifePortal$ node run.js
/home/diglife/DigLifePortal/node_modules/

[2018-11-28 09:58] esocode opened #1335 "Firefox problems"
# 🐛 bug report

## Description of the problem
I just discovered CSB and noticed several problems when I started using it with my default browser, Firefox. First I noticed that the preview is not updated on edits although the corresponding option is enabled. In chromium-based browsers it works.

The next problem can be seen in the sandbox linked below. The HTML contains several event handler regist

[2018-11-28 11:16] kilohaty opened #1336 "Where is Server Control Panel ?"
I can't find Server Control Panel, where is it?

[2018-11-28 12:06] CompuIves commented on #1336
Hey!

You should own the sandbox and the sandbox should be a container sandbox (it's in the list of server sandboxes) to see the Server Control Panel on the left. Which sandbox are you looking at?

[2018-11-28 13:13] jimscarver commented on #1334
We currently have these dependencies:
 "name": "diglife-portal-dev",
  "keywords": [],
  "dependencies": {
    "@babel/runtime": "^7.1.5",
    "@johmun/vue-tags-input": "1.5.9",
    "axios": "0.18.0",
    "kinto-http": "4.6.1",
    "node-slack": "0.0.7",
    "particles.js": "2.0.0",
    "vue": "2.5.17",
    "vue-axios": "2.1.4",
    "vue-cookies": "1.5.7",
    "vue-material": "1.0.0-beta-10.2"
  }

[2018-11-28 13:59] kilohaty commented on #1336
Thanks!
Oh, I'm import from GitHub,
is it impossible to use the Server Control Panel?

[2018-11-28 16:35] madflow opened #1337 "Console logs undefined in vanilla template"
# 🐛 bug report

## Description of the problem

A newly created sandbox logs "undefined" to the console when starting.

![undefined](https://user-images.githubusercontent.com/183248/49166534-dbb8c080-f333-11e8-80a7-23050b5caa46.gif)

###  Link to sandbox: [https://codesandbox.io/s/vanilla]()

### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  |

[2018-11-28 17:00] manniL commented on #1279
@SaraVieira Thanks for the info! In case there won't be a large announcement (or similar but I guess there will be ☺️ ), I'd appreciate a ping.

[2018-11-29 08:34] mysteryven opened #1338 "vim mode can't work"
# 🐛 bug report

When I create a new React sandbox, and I set the mode to vim, but it doesn't work.

![屏幕快照 2018-11-29 下午4.33.05.png](https://i.loli.net/2018/11/29/5bffa4630e8f0.png)

[2018-11-29 09:00] serdartkm opened #1339 "default app can only be set once; error"
# 🐛 bug report

## When I am trying to edit code I get this error
## I can not use codesandbox because  code editor's error. Every time I type I get this error

###  Link to sandbox: [link](https://codesandbox.io/s/8z2y6zzvk0) (optional)
### My Environment is
| React js        | 16|
| Сodesandbox  |
| Browser |
| Operating System |
![mongodb atlas stitch error](https://user-images.githubuserconten

[2018-11-29 14:32] Sharpie360 commented on #1230
Emmet seems to be working correctly now from my experience. 😄

[2018-11-29 17:56] #1230 closed

[2018-11-29 22:00] fieg opened #1340 "Simple two page sandbox not working"
I have a simple 2-page sandbox with a link to page2 on the index. When the sandbox runs it shows page2 instead of the index page.

Am I doing something wrong? Please advise.

###  Link to sandbox: [https://codesandbox.io/s/mml36zoq2x](https://codesandbox.io/s/mml36zoq2x) (optional)

### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  | parcel |

[2018-11-30 04:29] jimthedev opened #1341 "ModuleNotFound broadcast-channel/leader-election"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?

I have been trying to use the module broadcast-channel/leader-election.

The issue presents similar to #1058 in that you randomly get ModuleNotFound and refreshing fixes it sometimes. Interestingly it seems only to happen when bring in leader-election. This issue does not happen lo

[2018-11-30 09:21] rootion commented on #860
Cant make this to work? Is there any documentation to import private repos? It just says there was an error.

[2018-11-30 12:22] desirelabs commented on #1298
Hi, some news about this issue ?

[2018-11-30 15:38] YerkoPalma opened #1342 "Custom elements only works the first time?"
# 🐛 bug report

## Description of the problem
I'm using [litElement](https://github.com/Polymer/lit-element) to play with custom elements (but I guess the same happen to native custom elements) and the first time I run my app it works well, but after any change it complains

![image](https://user-images.githubusercontent.com/5105812/49298442-33723b80-f49c-11e8-9f05-508e65b6b1a4.png)

It seems like

[2018-11-30 15:40] YerkoPalma commented on #1342
To reproduce:

- Go to the linked sandbox and wait it to load
- Make any minor change (like changing `this.mood = 'happy'` to `this.mood = 'Happy'`)
- Watch the error

[2018-11-30 16:07] jimthedev commented on #1341
For reference, here is the same thing working in Stackblitz: https://stackblitz.com/edit/react-wuuunj?file=index.js

[2018-11-30 17:41] CompuIves commented on #1341
Hmm, I can see what's happening here. We're forgetting to cache something. So for the first run it works (tested it here https://codesandbox.io/s/pw8m3nm480), but for the run with the cache it doesn't. I'll fix this now.

[2018-11-30 18:10] jimthedev commented on #1341
Thanks!

[2018-11-30 18:32] CompuIves commented on #1342
Hmm, it seems like the sandbox relies on global state. This can be fixed in two ways:

1. Create a `sandbox.config.json` and enable in that config: 'Hard reload' (this refreshes the page on every change).
2. Create a `sandbox.config.json` and mark the template as `static`. This disables the bundler.

[2018-11-30 18:33] CompuIves commented on #1342
Here's an example sandbox: https://codesandbox.io/s/pj42p1v6wm

[2018-11-30 18:41] CompuIves commented on #1341
It's live!

[2018-11-30 20:39] jimthedev commented on #1341
Thanks!

On November 30, 2018 at 12:41:41 PM, Ives van Hoorne (
notifications@github.com) wrote:

[2018-11-30 20:49] #1341 closed

[2018-11-30 22:18] orlov-vo commented on #1342
You should define custom element only once. You can't to redefine it. It is prohibited in the spec. I guess you can get a new version of your component via `module.hot.accept` and call render again?

It is similar with: https://github.com/skatejs/skatejs/issues/564

[2018-11-30 22:28] Agustin-JV opened #1343 "Newest update overrides documents on save"
# 🐛 bug report

## Description of the problem
The current open file will override another file of the open tab, replacing its content with the other when using the save button.
*-not entirely sure if is the current open file to another file or the other way around-*

One of the latest updates should have created it, probably one from  29 of November.

## How has this issue affected you?
It essenti

[2018-11-30 22:31] YerkoPalma commented on #1342
@orlov-vo I'm not redefining custom elements, it is just that I run the same code more than once (because I'm developing). @Compulves I'll try the static option later, thanks for the response

[2018-11-30 22:38] bobziroll commented on #926
Update: it seems like any repository that contains a React app (bootstrapped with create-react-app) seems to have no issues at all with the PR feature. On the other hand, static websites seem to have the highest likelihood of getting the 422 error. I'll update this message if I find out more info that might help diagnose the problem.

[2018-12-01 13:18] madflow commented on #1337
I am not seeing this anymore - so I guess something has been done.

[2018-12-01 13:18] #1337 closed

[2018-12-01 14:08] CompuIves commented on #1343
Hey! I believe I fixed this recently, so I need to make sure which version you're getting this issue with.

Do you have VSCode enabled? And which version of CodeSandbox are you running? (You can find the latter in the bottom left corner of the editor).

[2018-12-01 18:03] EnriqueSalazar commented on #1033
Hi. Did you solve it? I am having the same issue.

[2018-12-01 19:16] saya-nel commented on #1033
Nope :/

Le sam. 1 déc. 2018 à 19:03, Enrique Salazar <notifications@github.com> a
écrit :

[2018-12-01 21:00] CompuIves commented on #1033
I believe this is not an issue with CodeSandbox. I think these requests fail because of a CORS mechanism (https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS). What kind of error are you getting?

[2018-12-01 21:53] saya-nel commented on #1033
i don't know I tried some months ago, you can enable CORS in your server
side but that don't work to. Maybe just work without web browser IDE, if
you can.

Le sam. 1 déc. 2018 à 22:00, Ives van Hoorne <notifications@github.com> a
écrit :

[2018-12-01 21:57] CompuIves commented on #1033
This works the same way for local code, it's not specific to CodeSandbox. It fully depends on where you host your server/whether you added the right CORS headers.

[2018-12-01 22:13] saya-nel commented on #1033
Oh, for me that work's with local bot not with codesandbox, very strange

Le sam. 1 déc. 2018 à 22:57, Ives van Hoorne <notifications@github.com> a
écrit :

[2018-12-02 00:54] zhaoyi0113 opened #1344 "How to get code from embed codesandbox?"
I am creating a website and want to use cdoesandbox embed iframe. I am able to embed the iframe inside my webpage but is there an API I can use to get the source code in the iframe? I'd like to use the embed iframe to interactive with my web page. For example, when the user make any changes on the iframe, I want to listen on the code change and save user's code in my backend database. Is this a wa

[2018-12-02 04:00] EnriqueSalazar commented on #1033
I opened the preview outside the IDE and allowed me to get more info about the error. Express CORS Middleware  fixed it for me. Thanks.

[2018-12-02 04:48] kt3k opened #1345 "[Question] Is babel 7 supported?"
# ❔ Question

I'm trying to use new decorators implementation which has been added in babel 7.1.

I created parcel settings for transpiling new decorators but it shows the error like the below:
<img width="555" alt="2018-12-02 13 38 11" src="https://user-images.githubusercontent.com/613956/49335772-93511980-f637-11e8-8077-5592cfd4160e.png">

The path shown in error message seems strange. It doesn'

[2018-12-02 05:55] claytoncrockett commented on #1147
Yeah looks like it is still outdated :/ ReasonReact.string still won't work

[2018-12-02 07:18] dangdennis commented on #1147
If someone can figure out where to update the reason-script, that'd be a good PR. I can't find it myself 😞

[2018-12-02 14:53] thian4 opened #1346 "setup jest enzyme with package.json setup failed?"
There are other few example using jest and enzyme in codesanbox but why this setup with package.json got error?
[code]
in package.json is ignored?

[2018-12-02 14:54] zixuan75 opened #1347 "Switching to another branch"
# 🌈 Feature

For now, we only could commit and send PR, but can we switch to another branch?
Feature name: Switch to another branch

If you click on a button, that will show you all the branches of the repository. Then navigate and click on the branch you want to switch to.

For example, there could be a "Switch branches" button. Now, I'm in the csb-1543761723396 branch, and I want to switch to th

[2018-12-02 18:32] zixuan75 commented on #1322
I think so.

[2018-12-02 20:06] YerkoPalma commented on #1342
@CompuIves this is solved, thanks for your response

[2018-12-02 20:06] #1342 closed

[2018-12-02 21:14] fawmi opened #1348 "Add a shortcut for toggling zen mode"
# 🌈 Feature

Add a shortcut to toggle zen mode
In vs code cmd+k+z is used to toggle zen mode.
I usually switch between normal and zen mode, and right now the only way to go zen mode is going to settings and activating it. I would love a button in interface or a shortcut to toggle zen mode.

[2018-12-02 21:17] claytoncrockett commented on #1147
I'm thinking the problem is not having the bs-platform dependency, which is required now. I've tried to add it but it fails, possibly because no ocaml compiler? Gonna keep looking into it

[2018-12-03 00:55] CompuIves commented on #1344
Hmm, I like this feature request. I'm working on a way to make interacting with the iframe a bit more smooth, I'll try to include this as well. Can't make any promises on when this will be released but it's on my radar!

[2018-12-03 01:46] alizbazar commented on #860
Hmm... did not quite work. The private repo is owned by an organization. I granted access to Codesandbox and became a patron. In Github Organization access for Codesandbox appears correct. Trying to create the sandbox using the Github wizard gives this error: ![screenshot 2018-12-02 17 43 38](https://user-images.githubusercontent.com/736771/49348385-f2278a80-f659-11e8-8379-3dd16c154570.png)

[2018-12-03 09:48] CompuIves commented on #1348
Hmm, I think we already have this:

<img width="914" alt="screenshot 2018-12-03 at 10 41 02" src="https://user-images.githubusercontent.com/587016/49365840-1b8ef780-f6e8-11e8-934b-4b5247a745ef.png">

[2018-12-03 09:55] CompuIves commented on #1331
We store the settings in the `localStorage`. It may be because your disk is full that we cannot save.

Another solution would be to store it per user, that's something that I want to work on before 2019!

[2018-12-03 09:56] CompuIves commented on #1298
Oh wow, this is a good point. We should allow you to create a new repo too. I will fix this today!

[2018-12-03 10:06] #1298 closed

[2018-12-03 10:10] CompuIves commented on #924
Yeah, this is something we really need to add soon.

The biggest initial reason was to lower downloaded bundle size, as there are many projects with >20 dev dependencies and only using one dependency.

The way to fix it is to check during the initialization which `devDependencies` are used in the code and include those to the request. This means adding an extra pass during transpilation to the bun

[2018-12-03 10:10] CompuIves commented on #1322
@johncokos Is this for a team sandbox or for a live session that's explicitly created?

[2018-12-03 10:12] CompuIves commented on #1347
This is a good feature request, we should query all git sandboxes created from the sandbox and show those in the sidebar.

This can be part of the feature where we show your GitHub sandboxes in the dashboard.

[2018-12-03 10:13] alexdevero commented on #1331
`localStorage`? So it can be also caused by using browser in anonymous mode? Then, fresh start of the browser would erase the data and reset settings. Correct?

[2018-12-03 10:16] CompuIves commented on #1288
Hmm, well the browser is crashing because that's an infinite loop being executed. Since the sandbox preview shares the same thread as the editor it can freeze up the UI. We do have some precautions for this scenario:

1. We save code changes to localStorage, so you won't miss them
2. Next time you open the sandbox we don't execute the code so you can make the proper changes

We also have a babel p

[2018-12-03 10:22] CompuIves commented on #1236
Hey! Sorry for the silence on this issue!

For CodeSandbox we have two kind of templates: client and server templates. Client templates fully execute in the browser with a custom bundler that works in the browser. The bundler is not Webpack, so custom Webpack configurations don't work for those scenarios.

Partly because custom Webpack doesn't work for client sandboxes, we started to develop a way

[2018-12-03 10:33] #1340 closed

[2018-12-03 10:54] #1345 closed

[2018-12-03 10:55] CompuIves commented on #1345
I forgot to add the right code to detect Babel 7 in parcel. I fixed it and will deploy it today!

[2018-12-03 10:57] CompuIves commented on #860
Hmm, that is indeed weird. Did you give private repo access? (It should ask for it beforehand)

For some reason we counted more than 200 files in the repository. Are `node_modules` committed to the GitHub repo? I'm trying to find a reason why it found more than 200 files.

[2018-12-03 10:59] CompuIves commented on #220
Oh man, seems like it comes back in some race conditions. I have half the mind to not show type definitions when not all type files have been loaded yet just to keep TypeScript from throwing errors prematurely. This will probably be fixed when we go fully to VSCode, in the meantime I'll try to find an alternative!

[2018-12-03 11:01] CompuIves commented on #1043
Observing values over a set time frame is a bit more tricky. I'm not sure if we can make that work in short time (@samdenty do you know if this is feasible?).

In the meantime I think it makes most sense to use the browser console for checking observables.

[2018-12-03 11:03] CompuIves commented on #1043
Oh wait I seemed to miss the initial problem. So if I understand correctly, mutated objects are also mutated in the console? That is really weird indeed, I was expecting that the object would be cloned before being sent to the main thread to show it. Maybe we only send the console.log after the mutation happened?

[2018-12-03 11:05] CompuIves commented on #1335
This one is tricky. I found out that Firefox handles `document.write` differently than Chrome, because of this the Parcel template might act finicky.

I will need to rewrite how Parcel templates are handled. It might be needed to use a service worker instead of `document.write`.

[2018-12-03 11:23] CompuIves commented on #1331
Yep, that's correct!

[2018-12-03 11:24] CompuIves commented on #926
Hey @bobziroll, I can't seem to access the sandbox you linked here. Is it private perhaps?

[2018-12-03 11:30] KingHenne commented on #220
I noticed the errors as well and they disappeared when I switched to VSCode.

[2018-12-03 11:51] alexdevero commented on #1331
Well, this is the root cause of this issue. I am using browser always in incognito mode.

[2018-12-03 12:15] Haroenv commented on #1179
Seems like this is still happening, but now a different error message:

[code]

[2018-12-03 12:17] Haroenv commented on #1179
(reproducible with https://github.com/algolia/vue-instantsearch-v2-starter/tree/fb3476a9b24c604035a36e8a1a59052a02a5a0ce) or https://github.com/algolia/vue-instantsearch-v2-starter/tree/fb3476a9b24c604035a36e8a1a59052a02a5a0ce

[2018-12-03 12:20] fawmi commented on #1348
Oh, sorry. I should have searched setting beside documentation.

[2018-12-03 12:20] #1348 closed

[2018-12-03 13:31] CompuIves commented on #1179
There's a fix on master for this, should be live within 3 hours!

[2018-12-03 13:51] Haroenv commented on #1179
Yay! Did I ever tell you that you're the best @CompuIves? ❤️

[2018-12-03 13:54] CompuIves commented on #1303
Hmm yes, I agree. We already support typescript files in the `new` template. I think it's just a matter of switching the IDs to a proper react preset.

[2018-12-03 15:32] Agustin-JV commented on #1343
Hello,
A bit more detail on my end and also a friend that had the same issue, we are running some what slow computers that sometimes lags when changing tabs in chrome, and when the bug occurs also happens that while using the save button it stalls for a bit, it may only happen to us and anyone running a slow machine that is mono-task and usually happens when we are close to ending our codding sess

[2018-12-03 16:03] tomsiwik commented on #1288
Thank you for the response. I didn't know that the browser executes an empty `for()` without curly braces. You are right, apparently label isn't the culprit at all.

In response to point 2: when I click next to the for loop and want to change something it immediately re-executes the code again. Isn't there some on demand method that can pause the auto-execution? The only way I can circumvent this

[2018-12-03 16:30] fieg commented on #1340
@CompuIves I see you referenced this issue in your commit. When will the fix be released?

[2018-12-03 17:19] blikblum commented on #502
Just hit the same error on Firefox 63

[2018-12-03 18:47] alizbazar commented on #860
Aah, I see, so it's dependent on the number of files in the repo? We have 229 files, out of which 95% are JSON5 files containing the structure of our program, i.e. lessons, their structures and copy (think MOOC content). Hmm... wonder if there's a way around that.

[2018-12-03 20:07] blikblum opened #1350 "Error using Jest test.each function in tests"
# 🐛 bug report

## Description of the problem

Using [test.each](https://jestjs.io/docs/en/api#2-testeach-table-name-fn-timeout) on tests fails with an error:  "TypeError: test.each is not a function"

## How has this issue affected you? What are you trying to accomplish?

I'm trying to use Jest "cases" feature

###  Link to sandbox: [link](https://codesandbox.io/s/x23y4q6x1q)
### Your Environment

[2018-12-04 02:04] bang88 commented on #1293
Ping @CompuIves

[2018-12-04 07:15] AWolf81 commented on #747
I'm working on an export feature for Guppy and at the default CRA app the spinning svg is not loading - see this [sandbox](https://codesandbox.io/s/6vql1r0v6z)

Changing the file to a text file ending `.txt` or using `import logo from "!raw-loader!./logo.svg"` will fix the problem. I think that's OK for a work-around but it would be great if Codesandbox would support it.

[2018-12-04 10:39] CompuIves commented on #747
Hey @AWolf81, that's so cool!

I'm deploying a fix for this in a minute, it seems like the wrong URL was returned.

[2018-12-04 10:40] #981 closed

[2018-12-04 11:05] #1293 closed

[2018-12-04 11:05] CompuIves commented on #1293
Fixed this just now! Will be live within an hour.

[2018-12-04 11:18] CompuIves commented on #1340
In about an hour!

[2018-12-04 11:19] CompuIves commented on #502
So you got `Error.captureStackTrace`? @blikblum

[2018-12-04 12:00] bang88 commented on #1293
Thanks

[2018-12-04 14:16] CompuIves commented on #1266
This one has been fixed!

[2018-12-04 14:16] #1266 closed

[2018-12-04 14:16] CompuIves commented on #1179
Hahaha, thank you @Haroenv :smil

[2018-12-04 14:17] #1179 closed

[2018-12-04 14:18] CompuIves commented on #1286
We now respect it! Sorry for the inconvenience.

Note that I enabled it for babel 7 only, you can force babel7 by adding `@babel/core` to the `devDependencies`.

[2018-12-04 14:18] #1286 closed

[2018-12-04 14:46] Haroenv commented on #1179
Aww yeah, glad to make them all back frontend implementations!

[2018-12-04 14:52] fieg commented on #1340
Thank you for the fix and release. It now works as expected 👍

[2018-12-04 14:59] blikblum commented on #502
Yes. On console Error.captureStackTrace evaluates to undefined

This is the stack show in Tests side panel:

[code]

This is the error that is show in the console:
[code]

This is a sandbox with the issue: https://codesandbox.io/s/52zzxpq32n (just make a test fails)

Using Firefox 63 on Windows

[2018-12-05 03:39] pamcy commented on #194
Anything new this week?  Without emmet tab function is really painful :(

[2018-12-05 04:41] samdenty commented on #1330
I was opening a large repo via the github url, so it defaulted to non-sandboxed. Both the above would be ideal.

Maybe if the project throws errors / has a lot of dependencies, loading it in a server sandbox automatically would be useful?

[2018-12-05 04:44] christosnc opened #1353 "Comments not adjusting properly in embedded languages"
Hello,

When you are in a language mode that has embedded modes (ex. html -> css, js) the "toggle comment" functionality works according to the configuration of the parent mode no matter if you are in a block with an embedded language mode.

**To reproduce and understand better:**
1) Go to [codesandbox.io/s/new](https://codesandbox.io/s/new)
2) Open index.html file
3) Paste somewhere
`<script>`
`v

[2018-12-05 08:48] feelextra commented on #1266
Yep just verified that the bug is gone :v:

The behaviour is consistent with `create-react-app` environment I showed [in previous comment](https://github.com/CompuIves/codesandbox-client/issues/1266#issuecomment-438719446):

![codesandbox-macro-issue-solved](https://user-images.githubusercontent.com/43674238/49501134-dd760d00-f87a-11e8-9807-21cc36296110.png)

[2018-12-05 15:25] Pathel commented on #1294
Seeing this same issue with my sandbox: https://codesandbox.io/s/wnn8kkzkl5

[2018-12-05 15:52] jeandat opened #1354 "Puppeteer support"
# 🌈 Feature

It would be cool being able to use puppeteer in codesandbox.io

It can be installed but chrome doesn't start when using the api (browser.launch()).

I think at least one system dependency is missing. See err message:

[code]

[2018-12-05 18:23] RichardJJacobs commented on #1294
There seems to be no support for codesandbox. I posted to this thread and also emailed the developers but no response. I'm looking around for a better sandbox.

[2018-12-05 18:31] lbogdan commented on #1294
@Pathel We had some DDoS issues earlier, your sandbox seems to work fine now, can you confirm?

@RichardJJacobs Sorry for the radio silence, since you didn't follow up, we thought that you had a spurious issue that resolved by itself. Are you still having issues? If yes, a link to your sandbox would greately help.

[2018-12-05 19:06] RichardJJacobs commented on #1294
What do you mean by follow up? Do issues have to be reported more than once?

[2018-12-05 19:14] RichardJJacobs commented on #1294
https://codesandbox.io/s/x2375zo7vw
I got the original issue fixed by posting on stackoverflow - it was due to an angular.json problem, although the angular.json seemed ok in visualstudiocode. Following that fix I then got hundreds of errors so gave up as I hadn't had a response to the first issue.

[2018-12-05 19:57] lbogdan commented on #1294
Yeah, Angular is quite the beast, and, although we tried to keep up to date with the latest version(s), it still breaks once in a while. However, since we launched [CodeSandbox Containers](https://hackernoon.com/codesandbox-containers-5864a8f26715), there's also the possibility of running your Angular project in a container and edit it and preview inside CodeSandbox - this is your sandbox running

[2018-12-05 22:22] CompuIves commented on #502
For some reason the polyfill got removed? Can't find anything in the history, just put it back with this commit: https://github.com/CompuIves/codesandbox-client/commit/a4f707f375df9ce254df5fd917057e7438613626.

[2018-12-05 22:34] CompuIves commented on #1350
Thanks for letting us know! Our Jest API in the browser is limited, it doesn't have everything from Jest. This is on the roadmap, but not a high priority currently.

An alternative is to create a node sandbox (https://codesandbox.io/s/node) and run Jest on there. Node sandboxes are executed on a server so in those sandboxes you can use everything from Jest.

[2018-12-05 22:54] bobziroll commented on #926
@CompuIves Shoot, I've since deleted it because I was testing out steps to fixing it. Sorry!

Relating to testing what causes this - I seriously can't figure out any consistent pattern that causes the 422 error when trying to create the PR. I ran through the following steps:

1. Have 2 computers side-by-side, each logged in to a different Github account
2. Import a sandbox from a Github url (both

[2018-12-06 11:42] Andarist opened #1355 "Can't invalidate cached dependencies"
# 🐛 bug report

## Description of the problem

We had a bug report with repro on codesandbox, the bug got fixed and I have wanted to confirm that it has been fixed by updating the codesandbox dependencies, but I cant make it work (even when I copy-paste sandbox code into a completely fresh sandbox). It still uses old version of `pose-core`.

###  Link to sandbox:
Forked & updated  with pose-core@2

[2018-12-06 14:59] camflan commented on #1322
@CompuIves related -- is there a way to disable live sessions for sandboxes in a team? I don't see the `Stop Session` button on my team sandboxes

[2018-12-06 15:02] camflan commented on #1343
I had this happen to me and lost the contents of a few large files 😬. I was able to rebuild them manually, but now I'm very worried about something that has always been bulletproof.

| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  | PROD-1543948045-b1c31dd0 |
| Browser | Chrome 70.0.3538.110 (Official Build) (64-bit) |
| Operating System | Mac OS 10.14.1 |

[2018-12-06 15:13] camflan commented on #699
We saw this yesterday during my team's first attempt at a live session, we had to fall back to a Zoom webconference which was not nearly as good :(

[2018-12-06 15:38] RichardJJacobs commented on #1294
Ok thanks. How do I get a project to run in a container? The way I loaded my first project was by running codesandbox ./ in my project directory.

[2018-12-06 15:43] lbogdan commented on #1294
You need a `sandbox.config.json` in the project folder, with
[code]
(or a different server template, if you're using a framework we support, you can see the list [here](https://codesandbox.io/s/), under "Server Templates").

Worth mentioning that it only works with sandboxes imported from github or from codesandbox-cli, currently there is no way to easily change a client sandbox to a server one.

[2018-12-06 15:55] Blanen opened #1356 "Browsers freeze on opening sandbox"
# 🐛 bug report
Codesandbox completely freezes my browsers since today.

Tested on firefox and chrome

Had to block the embeds with Ublock
## Description of the problem
Complete freeze of web page in the tab. Console also less responsive (synchronous code blocking UI).
Get's stuck on the following regex somehow: (.*)<\w(.|\n)*?\/?>

## How has this issue affected you? What are you trying to accompl

[2018-12-06 16:12] lbogdan commented on #1356
Hey there, thank you for reporting this!

Looks to be an issue introduced by https://github.com/CompuIves/codesandbox-client/commit/47419bccc8d2bb716606463aada35534f038fefd , I already pinged @CompuIves , he'll take a look at it and fix it as soon as possible!

[2018-12-06 16:43] lbogdan commented on #1356
As it was kind of high priority, I went ahead, reverted that commit and deployed. It seems to work fine now, please test and let us know!

[2018-12-06 16:53] hiredgunhouse opened #1357 "Jest does not work as described in the docs"
The docs here https://codesandbox.io/docs/tests state that adding Jest and files that match specific patterns will make test work.
Here's an example that shows it does not work: https://codesandbox.io/s/w7knyzxl75
I'm guessing that in order to use Jest you need to use the React template because an example at the bottom of the docs page I referred to does exactly that, but the docs don't state that

[2018-12-06 18:58] RichardJJacobs commented on #1294
That works. Thanks.

[2018-12-06 20:46] CompuIves commented on #1343
I think I fixed it with this commit; https://github.com/CompuIves/codesandbox-client/commit/954eac626819ba1a3b26c514aad3b63997a89796.

It's pretty  hard to test because I can't seem to reproduce the bug 😅. Hopefully this one will fix it.

[2018-12-06 23:12] zixuan75 commented on #1347
:rainbow:

[2018-12-07 10:20] kilohaty commented on #1336
Thank you for the help,
I added this file to the project, but there's still no Server Control Panel.
Must the sandbox to be a container sandbox? and how to be a container sandbox?

[2018-12-07 10:35] Blanen commented on #1356
@lbogdan Seems to be working

[2018-12-07 10:57] LimeWub opened #1358 "Editor crashes when pasting long strings."
# 🐛 bug report
First of all, thank you very much for your work on CodeSandbox, it is a great project and I've used it a bunch this year. Just encountered this issue this past few days and it has caused me to lose some code so I think it's worth bringing up.

## Description of the problem
When pasting very long strings to the editor, the whole website hangs and stops responding. Refreshing tries to

[2018-12-07 11:54] lbogdan commented on #1294
Nice, I'm gonna close this, then. If you have further issues, you can find me on [CodeSandbox Discord](https://discord.gg/KE3TbEZ), I'm @BogdanL there.

[2018-12-07 11:54] #1294 closed

[2018-12-07 12:50] lbogdan commented on #1356
Nice, closing.

[2018-12-07 12:50] #1356 closed

[2018-12-07 16:23] soukypro opened #1359 "Vue.js ZEIT Deployment doesnt work"
When I am trying to deploy for example new Vue sandbox, always "An unknown error occurred when connecting to ZEIT", i tried that on multiple instances, for example on this:
https://codesandbox.io/s/r0qz0wlj0m
https://codesandbox.io/s/vv88x303zl

But for React instances it works fine....

I tried on Chrome and Edge

[2018-12-08 01:37] haxxxton opened #1361 "Forked container sandbox doesnt update files"
# 🐛 bug report

## Description of the problem
I forked a container sandbox [here](https://codesandbox.io/s/github/lbogdan/aurelia-webpack-bare/tree/master/), and then went about changing/removing/adding a bunch of files to the sandbox. When i `ls` in the terminal, all of the files listed, are from the original forked sandbox, not the files i have made changes to.

## How has this issue affected yo

[2018-12-08 16:36] CompuIves commented on #699
Ahh I couldn't find why this still happened, but it turns out that the VSCode editor was using an outdated version of the CodeSandbox Live logic. That explains a lot. Hopefully this PR will fix it (https://github.com/CompuIves/codesandbox-client/pull/1362) for VSCode as well.

[2018-12-08 18:31] Glazy commented on #1208
If you're going to disable back scrolling you may as well also disable forward scrolling. Scrolling either left or right on a trackpad is currently precarious and disabling it would make using Codesandbox with a trackpad a lot more enjoyable.

[2018-12-08 19:35] CompuIves commented on #1208
Which browser do you experience it in? We actually have the preventScroll you mentioned running right now. https://github.com/CompuIves/codesandbox-client/blob/master/packages/app/src/app/pages/Sandbox/Editor/Content/prevent-gesture-scroll.js

[2018-12-08 21:30] kube commented on #1208
A simple solution today would be to apply `preventGestureScroll` to left panel too.

[2018-12-08 22:44] reccanti commented on #668
Doesn't look like it supports it by default, but you can enable it by creating a `.babelrc` with the contents:

[code]

At least in the Vanilla template

[2018-12-08 23:02] reccanti commented on #668
Actually, looking at this more, it doesn't seem to work when you try to export a type to another file

[2018-12-09 13:16] SaraVieira commented on #1359
Hey!

Looking at it they both give back the error:

[code]

Have you tried downloading and deploying locally ?

[2018-12-09 22:46] zixuan75 commented on #1280
Trash?

[2018-12-09 23:04] hobbes7878 commented on #496
Just cross-referencing some prospective work the folks at parcel.js are doing to make their bundler work in the browser: https://github.com/parcel-bundler/parcel/issues/1253

Whoever gets their first, I really think this is a tool that's going to change the game for a lot of us.

@CompuIves any update on whether you're still interested in separating the sandpack bundler for general use?

[2018-12-09 23:12] CompuIves commented on #496
Sandpack already released! @hobbes7878

I just never wrote a Medium post/tweet about it. You can find it here: https://github.com/CompuIves/codesandbox-client/tree/master/packages/sandpack

[2018-12-09 23:49] hobbes7878 commented on #496
Great! Didn't realize it was ready.

I'll give it a run through. Thanks very much!

[2018-12-10 01:52] hobbes7878 opened #1363 "Accessing bundle when using sandpack/smooshpack as a standalone bundler"
# ❔ Question

Hello! I'm trying out sandpack as a standalone bundler as recommended in  https://github.com/CompuIves/codesandbox-client/issues/496

I have a basic example setup and generating a preview correctly, but I'm wondering if there's any method on the manager to directly access the files output by the bundler process.

For example, if I set the `skipEval` option on the manager because I wa

[2018-12-10 04:54] looeee opened #1364 ""Internal Server error" when importing github sandbox after renaming directory"
# 🐛 bug report

## Description of the problem

I'm trying to import this github URL:
https://github.com/looeee/discoverthree.com-examples/tree/master/1-first-steps/ch-2-lights-color-action

Which is an exact copy of this one:
https://github.com/looeee/discoverthree.com-examples/tree/master/section-1/ch-2-lights-color-action

However, this sandbox doesn't work (first URL), and gives an unhelpful "I

[2018-12-10 05:04] looeee commented on #1364
UPDATE: It seems some of the duplicated folders work, while others don't.

I duplicated this folder: https://github.com/looeee/discoverthree.com-examples/tree/master/section-1
To create this one: https://github.com/looeee/discoverthree.com-examples/tree/master/1-first-steps

All folders in "section-1" were previously importing correctly, and still import correctly now.

However, in the "1-first-st

[2018-12-10 07:56] KenzoBenzo commented on #1291
+1

[2018-12-10 11:08] gc opened #1365 "Right click menu displays underneath sidebar"
# 🐛 bug report

## Description of the problem

When right clicking near the line numbers on the left side, the popup menu is hidden underneath the sidebar. Maybe display it on other side of mouse if it cant fit there, or just render it ontop of the sidebar?

![chrome_2018-12-10_22-03-09](https://user-images.githubusercontent.com/30398469/49728679-8384a580-fcc7-11e8-922a-c795bcff2f6e.png)

## How h

[2018-12-10 11:40] soukypro commented on #1359
I will try it today.
But my expectation was, that if I create new Sandbox with Vue and after creation deploy will be working, because there should not be problem with "invalid_files".

[2018-12-10 19:48] soukypro commented on #1359
I tried this localy and works fine https://codesandbox.io/s/r48wzzp98o ... but on ZEIT same problem @SaraVieira

[2018-12-10 20:02] SaraVieira commented on #1359
Dang, i will take a look at it, what a cryptic error too :/

[2018-12-10 21:06] bjankord commented on #849
@CompuIves I believe this can be closed out now 😄

[2018-12-10 21:17] lbogdan commented on #849
Fixed in #1124 , closing.

[2018-12-10 21:17] #849 closed

[2018-12-10 21:46] CompuIves commented on #1122
We recently got this in! Documentation will follow.

[2018-12-10 21:46] #1122 closed

[2018-12-10 21:47] CompuIves opened #1369 "Docs on Secrets"
Add some documentation on how the secrets feature works.

[2018-12-10 22:15] CompuIves commented on #1363
You should get everything back from the `state` event, of you listen to all events it should come up:

[code]

[2018-12-10 22:39] lbogdan commented on #1359
Looks like a Now API bug, reported on their Spectrum, you can follow it here: https://spectrum.chat/?t=a95fc4d6-ccd8-432c-8dd2-8e2badd1d73d .

[2018-12-11 00:36] hobbes7878 commented on #1363
Sorry, is that something I can do from the perspective of a manager instance?

For example, if I have a simple instance like this...

[code]

... how would I attach the listener so that I can retrieve the transpiled code, something like...

[code]

[2018-12-11 05:50] noobling opened #1370 "Scrolling does not work properly in .prettierrc file"
# 🐛 bug report

## Description of the problem
Scrolling is not reliable in the `.prettierrc` file

## How has this issue affected you? What are you trying to accomplish?
When you scroll to the bottom then try to scroll upwards it does not work anymore. You can work around this by using the side bar to scroll upwards.

###  Link to sandbox: [link]() (optional)
Just the default create-react-app proj

[2018-12-11 07:09] noobling opened #1371 "Multiple code panes"
# 🌈 Feature

Have multiple code panes.

Like the split editor button in vscode

Like this
![](https://media.giphy.com/media/1fhGq0Ni5vLgbwsxsd/giphy.gif)

[2018-12-11 07:54] MVSICA-FICTA opened #1372 "Running Scripts and ES6 Modules in a Node Sandbox"
I found a simple use case for an online editor and CodeSandbox worked out perfectly, thanks! Looking around further I see that there is also a Node template that is using Nodemon. Can I use this to run individual files that also use ES6 modules?

On my home (vs work :) computer I use the vscode code-runner extension to run files. Before that I was considering Nodemon but it seemed to only watch on

[2018-12-11 12:00] qwabra commented on #1342
in pure `customElements`

`"hardReloadOnChange": true,` didn't help me
but set `template` as `static` is works

[2018-12-11 12:04] lbogdan commented on #1372
To better understand your use case, can you please join [CodeSandbox Discord](https://discord.gg/KE3TbEZ) and look for me? - I'm `@BogdanL` there.

[2018-12-11 12:08] lbogdan commented on #1371
Closing this, as we already have this feature when using VSCode (but be warned, this is still experimental), which you can enable from Preferences -> Experiments -> Use VSCode in the browser:
![image](https://user-images.githubusercontent.com/2083930/49799625-1405c900-fd4e-11e8-8a61-ea53e79ccaec.png)

[2018-12-11 12:08] #1371 closed

[2018-12-11 22:08] YoungElPaso commented on #1057
I feel like (I can't really remember) that this is a Chrome(ium) issue but not present on Firefox. I did most of my stuff on Firefox recently, but switched back to Chrome in the last month.  Is there a work-around to re-focus on the editor?

[2018-12-12 01:12] homam opened #1373 "Using environment variables in browser sandboxes"
# ❔ How can I use env variables in browser sandboxes?

I tried creating a `.env` file, and passing the variables in npm start script, none has worked for me.

###  Link to sandbox: [link](https://codesandbox.io/s/1v7x715594)
### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  |  |
| Browser |  Chrome |
| Operating System | OSX |

[2018-12-12 02:58] ArsalaBangash commented on #829
Another +1 for Gitlab integration

[2018-12-12 03:47] HighOnDrive commented on #1372
Thanks for your help on CodeSandbox Discord tonight. Using the Parcel template with it toggled to the Module vs Project View it was possible to get output from separate files in the console.

However, the console shows refreshed output from all files in the project not just the file in the active tab whenever a edit is made to any of the standalone files. This is not great when working with a lot

[2018-12-12 03:49] MVSICA-FICTA commented on #1372
Thanks for your help on CodeSandbox Discord tonight. Using the Parcel template with it toggled to the Module vs Project View it was possible to get output from separate files in the console.

However, the console shows refreshed output from all files in the project not just the file in the active tab whenever a edit is made to any of the standalone files. This is not great when working with a lot

[2018-12-12 07:45] AndrewJDR opened #1374 "How to get the new(ish) aliasing support to work with preact projects?"
Hello, I'm trying to get the new(ish) aliasing support #853 to work on a React project along with preact-compat.

I've given it a shot here:
https://codesandbox.io/s/wqw94y097l

But I am still getting an error "Cannot read property 'childNodes' of null". I also had to add an extra `var h = React.createElement;` bit at the top of the jsx file to get around an "h is not defined" issue -- you can rem

[2018-12-12 12:16] euZebe commented on #1035
@KKS1 Why would `redux-devtools` be required ? It seems to work well without it.

[2018-12-12 13:41] nickbreaton commented on #1208
I have experienced this on Chrome on macOS High Sierra, but not on Chrome on Mojave. Maybe a bug with Chrome on older versions of macOS is causing it? I will update if I find anything else.

[2018-12-12 14:44] samdenty commented on #1043
The log events block the main thread whilst serializing, so in order to prevent noticeable lag, they're deferred using setTimeout.

[2018-12-12 14:48] #1338 closed

[2018-12-12 16:29] cristiano-belloni opened #1377 "Could not fetch dependencies, please try again in a couple seconds: Failed to fetch"
# 🐛 bug report

## Description of the problem
Getting `Type Error - Could not fetch dependencies, please try again in a couple seconds: Failed to fetch` repeatedly. This happened after I tried to install `date-fns`

## How has this issue affected you? What are you trying to accomplish?
Trying to install the `date-fns` NPM package

###  Link to sandbox: [link](https://codesandbox.io/s/kx6n86myv7) (

[2018-12-12 16:31] lbogdan commented on #1377
@cristiano-belloni Can you reproduce this in a public sandbox?

[2018-12-12 16:41] cristiano-belloni commented on #1377
@lbogdan - it seems to do the same in https://codesandbox.io/s/4q35ol586x (I didn't get to the error part, but installing is taking a lot of time like in the other)

It might also be related to the fact that I'm using `react@next` for hooks support and installing `date-fns` just re-triggered a yarn install, but that's strange, because it worked perfectly in many other sandboxes in the past month.

[2018-12-12 17:12] cristiano-belloni commented on #1377
What I see in the browser console is a 422 response to `https://codesandbox.io/api/v1/dependencies/react-dom@16.7.0-alpha.2%20-%20next`. It seems you're using the dropdown label value to generate the dependency and that corrupts package.json. If I change package.json by hand, it works. so I guess it's a bug on your dependency wizard.

[2018-12-12 17:13] lbogdan commented on #1377
@cristiano-belloni Yeah, looks like it, thanks for investigating this. We'll fix this ASAP!

[2018-12-12 17:14] cristiano-belloni commented on #1377
@lbogdan Thanks!

[2018-12-12 18:20] lbogdan commented on #1377
Fixed in https://github.com/CompuIves/codesandbox-client/commit/a946e07a0cee9a529fece09c4cee20be3b2e6e3b and deployed. Please test and close this if it works as expected.
And thanks for reporting this! 🙂

[2018-12-12 18:52] cristiano-belloni commented on #1377
Confirmed working from here 👍 . Thanks for fixing!

[2018-12-12 18:52] #1377 closed

[2018-12-13 04:34] parwat08 opened #1378 "VS Code Dark + (default dark) Color theme"
# 🌈 Feature

It would be great to see VS code Dark + theme.

[2018-12-13 07:54] soukypro commented on #1359
They fixed that ..
TEST OK ...

[2018-12-13 20:47] SaraVieira opened #1379 "Autofocus when the add dependency modal pops up"
# 🌈 Feature

👋

When you create on add a dependency the modal input should autofocus so that a user can just start typing.

I think a simple autofocus attr on the input could fix this

[2018-12-13 20:49] Saeris opened #1380 "🐛 New File Duplication when using VSCode UI Experiment"
Filling this issue as requested by @lbogdan after discussing it in Discord.

When you use the file explorer UI to create a new file within a sandbox, that file and it's nested folder structure is duplicated in that part of the UI once the file has been given a name. This only seems to happen when the VSCode experiment is turned on, and the file explorer UI will go back to normal if you refresh the

[2018-12-14 10:27] #1359 closed, assigned to nobody

[2018-12-14 11:12] parwat08 commented on #1378
You could get the file

https://stackoverflow.com/questions/35165362/how-to-edit-default-dark-theme-for-visual-studio-code/44470364#44470364

[2018-12-14 15:01] steventsao commented on #1379
Hi, did you mean the "Add Dependency" button on the left pane of the editor? I'm probably wrong, but Is it working as expected? See video: https://youtu.be/2owrI8ZOpBQ

[2018-12-14 18:10] CompuIves commented on #1322
Not right now, I am hesitant of enabling that because it will make collision between saves pretty hard. Eg. a user changes a file and saves, then someone else changes that same file and saves, the initial changes are overwritten.

What's the reason that you're looking for a button like this?

[2018-12-14 20:02] SamSamskies opened #1381 "react-map-gl > v4.0.0 doesn't work in sandbox"
# 🐛 bug report

## Description of the problem
There seems to be some kind of dependency resolution error when using react-map-gl > v4.0.0 in a sandbox. Things work fine locally if I download the sandbox.

<img width="565" alt="screen shot 2018-12-14 at 12 00 55 pm" src="https://user-images.githubusercontent.com/3655410/50024654-f1ff8700-ff97-11e8-9d18-f969ebd202e4.png">

## How has this issue affe

[2018-12-14 20:58] johhansantana commented on #1338
I'm having the same issue.

[2018-12-14 22:12] blikblum commented on #1286
Hi, it fixed partially and example with lit-element still not working.

See https://codesandbox.io/s/47l21wjlx

I added babel/core to devDependencies and updated babelrc syntax. Set preset to chrome 68 i.e. should not transpile ES classes or async functions

The sandbox own files (src/index.js) are not transpiled (ES class syntax is kept) but dependency (@polymer/lit-element/lib/updating-element.j

[2018-12-14 23:43] blikblum opened #1382 "Message of error ocurred in sandbox is not displayed in Firefox"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?

When a sandbox fails due to an error in its code or its dependencies, e.g. TypeError, the error is not show in Firefox. For example the sandbox linked below, the "regeneratorRuntime is not defined" message is show in the preview and in problems tab in Chrome but not in Firefox.

In

[2018-12-15 01:58] dance2die commented on #1379
@steventsao Sorry but the video seems unavailable... 🤔

![image](https://user-images.githubusercontent.com/8465237/50037793-f309d600-ffe2-11e8-8276-0aed2696a095.png)

[2018-12-15 14:54] AlexGrafe opened #1384 "CoffeeScript not working"
# 🐛 bug report

## Description of the problem

CoffeeScript does not appear to work (e.g. using the vanilla template), although ParcelJS and Babel support it out of the box.

Below is the snippet which should/could work – it does work exactly like that for TypeScript, but not for CoffeeScript. ParcelJS itself mentions on its website how it packages everything up through an HTML file that reference

[2018-12-15 15:17] RaedsLab opened #1385 ""add a tag" loses focus on every key press"
# 🐛 bug report

## Description of the problem
## How has this issue affected you? What are you trying to accomplish?

When adding a tag, the input loses focus on every key press.

###  Link to sandbox: [link](https://codesandbox.io/s/yq6lvqxo6x)

[2018-12-16 06:54] looeee commented on #1364
OK, I renamed the folders another time and it seems to be working now.

I'm not sure if there was some minor type or if it was another problem, but in any case the main issue here was the the error message was not helpful, and that's already being tracked in #1327 so I'll close this.

[2018-12-16 06:54] #1364 closed

[2018-12-16 19:38] CompuIves commented on #1379
I think this should fix it; https://github.com/CompuIves/codesandbox-client/commit/9e2451871638645235298ce9f27e863a8421a153

[2018-12-16 22:41] dance2die commented on #1379
Woohoo it works~ Thank you~

[2018-12-16 22:45] #1379 closed

[2018-12-16 23:12] chantastic commented on #1379
you all ate beautiful 🤩

[2018-12-16 23:19] SaraVieira commented on #1379
So are you 🤩

[2018-12-17 07:45] noobling commented on #133
Could this possibly be extended to code diffs for git commits?

[2018-12-17 08:53] #1336 closed

[2018-12-17 20:04] steventsao commented on #1379
=o It might've defaulted to private. Good to know that it's fixed now tho!

[2018-12-17 20:40] #1385 closed

[2018-12-17 22:17] doasync opened #1389 "Can’t extract a custom React hook"
**Do you want to request a *feature* or report a *bug*?**
bug maybe

**What is the current behavior?**
https://codesandbox.io/s/km21z2l2rv

**What is the expected behavior?**
I extracted my utils.js to a package. When I replace imports from "./utils" with a real npm package, I get an error: `Hooks can only be called inside the body of a function component.` (see codesandbox)
Since files are identi

[2018-12-18 04:16] brennowilliam commented on #1068
Is someone still working on this? I'm interested in contribute for the first time.

[2018-12-18 07:53] fabb commented on #1303
I noticed that in the current React + TS Preset, when I create a GitHub repo, suddenly a lot of unnecessary and confusing files pop up like `index.js`, `registerServiceWorker.js`, and also `App.tsx` since `index.tsx` defines its own `const App`.
Should I create a new issue for this, or does this fit here?

[2018-12-18 08:02] fabb opened #1390 "Imports like 'import React from "react";' not working for JSX parsing"
# 🐛 bug report

## Description of the problem
When using an import style like `import React from "react"`, then JSX cannot be parsed. `import * as React from "react"` works though.

###  Link to sandbox: [https://codesandbox.io/s/w2282mlq77]()

### Your Environment
| Software         | Name/Version|
| ---------------- | ---------- |
| Сodesandbox  | Current version as of 2018-12-18
| Browser | Chr

[2018-12-18 09:49] CompuIves commented on #1390
Isn't this intended behaviour from TypeScript? (Correct me if I'm wrong)

[2018-12-18 09:49] CompuIves commented on #1303
Good point @fabb, it fits in here. When we replace the React+TS with just the React one with TS files we'll have a better export. I'll focus on this today.

[2018-12-18 09:52] CompuIves commented on #1381
Interesting, for some reason it doesn't detect a require statement and thus doesn't download the necessary file. Taking a look at it now!

[2018-12-18 10:12] #1381 closed

[2018-12-18 10:13] CompuIves commented on #1381
Found the fix! It will be live in a couple hours.

[2018-12-18 10:19] CompuIves commented on #1373
Ah, yes, this only works in the CRA sandbox right now: https://codesandbox.io/s/km94jx6l3r

I'm going to replace the React+TS sandbox with the CRA sandbox soon, a solution right now would be to rename all the JS files to TS in the sandbox I just linked. That way it works.

[2018-12-18 12:39] fabb commented on #1390
I yet need to compare the TS configs, but in our company‘s webapp, which is based on next.js, this works fine. Bit maybe it‘s because next.js uses babel-preset-typescript. I need to check.

[2018-12-18 19:08] brennowilliam commented on #1380
I'm looking to make a contribution to code sandbox.

Do you guys think it would be a good first issue for me to work on?

[2018-12-18 20:32] camflan commented on #1322
Ohhh, I see. I didn't think about that. I just figured it would be a sandbox with access to anyone from my team. I understand now why you'd always have live mode on with it.

I guess I'd like to be able to turn it off until someone else opens the file, mostly because it seems like (in the past, not sure about the current version) that live reload is less reliable when live mode is running.

[2018-12-19 15:11] hobbes7878 commented on #1363
Hi there. Still poking around at the standalone bundler.

Using react-smooshpack, I'm now seeing how to get at the `managerState` using the `SandpackConsumer` component. From there I can access the transpiled code like this:

[code]

I have 2 questions that I hope will get me further on the path:

1. While I can access my transpiled code, I'm not sure whether I can get at an _actual bundle_ that i

[2018-12-19 22:07] timfish opened #1392 "Embedded client does not work with third-party cookies disabled"
# 🐛 bug report

## Description of the problem
Codesandbox client embedded in another page does not work with third-party cookies disabled in Chrome.

In Chrome 70 (and probably many before that), if third-party cookies are disabled, the codesandbox demos on [aurelia.io](aurelia.io) do not load and `localStorage` access denied/not available is shown in the console.

[2018-12-20 10:12] CompuIves commented on #1392
Thanks for the report! I pushed a fix and will deploy it this hour.

On Wed, Dec 19, 2018 at 11:07 PM Tim Fish <notifications@github.com> wrote:

[2018-12-20 10:50] cristiano-belloni opened #1394 "Could not find module in path: 'immutable/4.0.0-rc.12'"
# 🐛 bug report

## Description of the problem
When I link [this library](https://github.com/zambezi/caballo-vivo), which depends on `immutable@4.0.0-rc.12`, and I install the same `immutable@4.0.0-rc.12` dependence in my package.json, the app blows up with this message:

[code]

## How has this issue affected you? What are you trying to accomplish?

This doesn't happen if I run the same exact code

[2018-12-20 14:10] supasympa opened #1395 "Full screen support via the fullscreen api"
# 🌈 Feature
Codesandbox is awesome. Great job.

Add support within the application for making the IDE run full screen. This would make it feel almost native on a tablet / ipad.

Add a button to allow the user to view their workspace in full screen and implement the full screen API (which is now supported by Safari).

https://www.w3.org/TR/fullscreen/

The guys here have implemented it and an examp

[2018-12-21 05:21] aadamsx opened #1397 "Error importing dependency express-graphql"
I'm using the Node sandbox template...

[code]

When adding express-graphql I get the following message.

[nodemon] starting `node index.js localhost 4000`
module.js:550
    throw err;
    ^

Error: Cannot find module 'express-graphql'
    at Function.Module._resolveFilename (module.js:548:15)
    at Function.Module._load (module.js:475:25)
    at Module.require (module.js:597:17)
    at require (

[2018-12-21 09:48] lbogdan commented on #1397
Hey @aadamsx , can you give us the url to that sandbox?

[2018-12-21 11:43] SaraVieira commented on #141
That was a mistake, let me open this again because it's amazing

[2018-12-21 15:00] georapbox opened #1398 "Flex layout issue"
# 🐛 bug report

## Description of the problem

It seems that there is an issue with flex layout that prevents the right pane from filling the rest of the available viewport.

Please see the attached screenshot below:

![img_0033](https://user-images.githubusercontent.com/6596039/50348532-b9d0e900-0541-11e9-92ed-61e62d97f9cc.PNG)

### Your Environment
| Software         | Name/Version|
| ----------

[2018-12-22 01:51] aadamsx commented on #1397
Sure, here you go: https://codesandbox.io/s/0xjv1pmnxv

I tried both the Node and Apollo templates.  Just adding ```const graphqlHttp = require("express-graphql");``` is enough for any of these templates to throw.

[2018-12-22 01:52] aadamsx commented on #1397
I just signed up as a patron yesterday since the service is so useful. :)

[2018-12-22 09:40] fabb commented on #1390
Ok, when I add `"esModuleInterop": true` to `tsconfig.json`, it works fine in Codesandbox 🎉
Related issue: https://github.com/Microsoft/TypeScript-React-Starter/issues/8

Interestingly, when checking out the repo locally, and trying to run it, I run into additional errors that don't happen in Codesandbox:
1. `(1,8): Module '"[...]/node_modules/@types/react/index"' has no default export.` which is

[2018-12-22 09:40] #1390 closed

[2018-12-22 09:43] fabb opened #1399 "Solarized Light Theme: Font Contrast"
# 🐛 bug report

In the Solarized Light theme, a few texts cannot be read because of contrast:

![screenshot 2018-12-22 at 10 38 17](https://user-images.githubusercontent.com/153960/50372853-43ca9180-05d6-11e9-8c59-3ab08e557e96.png)

![screenshot 2018-12-22 at 10 38 26](https://user-images.githubusercontent.com/153960/50372856-46c58200-05d6-11e9-9058-87b0bc8a2c0f.png)

### Your Environment
| Softwa

[2018-12-22 11:05] lbogdan commented on #1397
Ok, you're getting that error because `yarn install` errors because of
[code]

This is caused because NPM removed event-stream version 3.3.6 from
their registry (you can read more about it here:
https://blog.npmjs.org/post/180565383195/details-about-the-event-stream-incident),
but you have a reference to it in your yarn.lock, because `nodemon` (indirectly) depended on it (to see which package(s) d

[2018-12-22 15:35] Lodin opened #1400 "Cannot omit "presets" option in ".babelrc""
# 🐛 bug report

## Description of the problem
If I omit `presets` option in the `.babelrc` file, sandbox fails with following error:
[code]
## How has this issue affected you? What are you trying to accomplish?
I'm trying to work with Web Components without compiling code to ES5. Due to `presets` error I'm unable to get it working. I also tried to set the latest Chrome version, but these settings

[2018-12-22 17:33] doasync commented on #1389
I solved this issue by **removing the caret** for React dependency in my `package.json`:
[code]
See this comment for more info: https://github.com/facebook/react/issues/14454#issuecomment-449585005

[2018-12-22 17:33] #1389 closed

[2018-12-23 06:20] mDibyo commented on #270
If we are gonna make a distinction between "library" sandboxes and "project" sandboxes, we could use create-react-library for "library" sandboxes in React. I tried it out recently and really like how easy the project makes it to work with a library and its example. It currently requires two compilation processes though, one for the library and one for the example, but seems like it could easily be

[2018-12-23 06:26] mDibyo opened #1401 "Forking a sandbox should show a dialog to rename the forked sandbox"
# 🌈 Feature

I was experimenting with some stuff yesterday, and ended up with 10 sandboxes with the same name. Needless to say, it was very confusing, and I had to spend a lot of time figuring out which sandbox had which code and renaming them.

It would be nice if forking a sandbox showed a dialog to name the forked sandbox.

The dialog would start off with the same name as the sandbox being fork

[2018-12-23 14:46] lzxxxxx opened #1402 "JavaScript run error when HTML been saved before"
# 🐛 bug report

I'm working with a vue project, when i save the JavaScript file before HTML, the Console will show something wrong , it looks like my JavaScript haven't run after i save my html.

Link to sandbox: [link](https://codesandbox.io/s/qk92rlzk0q) (optional)

you can make some Insignificant  changes in HTML and have a look at the Console.
After that make some other Insignificant  changes

[2018-12-23 17:42] JoelCodes opened #1404 "Go to file (Cmd-P / Ctrl-P) doesn't focus on the text box"
# 🐛 bug report

## Description of the problem

In VS Code (and other IDE's), when you use Cmd-P / Ctrl-P to go to a specific file, there is a text box that automatically gains focus.  In CodeSandbox, it does not.

## How has this issue affected you? What are you trying to accomplish?

When I use CodeSandbox, I expect it to behave like my IDE.  I either remember that CodeSandbox is different and ha

[2018-12-23 17:59] CompuIves commented on #1404
Hmm, interesting. Seems like the functionality broke, I remember it working before. I'll fix this today.

If you're looking for the same editor experience as local I recommend to enable "VSCode Experiment" (in the preferences). That's VSCode ported to the browser, and has the auto focus for CMD+P.

[2018-12-23 18:01] #1404 closed

[2018-12-23 19:11] aadamsx commented on #1397
That worked great!  Thanks for the help!  I didn't realize I could terminal in an update the dependencies like this... this is just like a local enviornment, which is awesome!

Very happy to pay for this service!

[2018-12-23 19:20] lbogdan commented on #1397
Glad you're enjoying it!

That was the whole idea with [CodeSandbox Containers](https://hackernoon.com/codesandbox-containers-5864a8f26715), to have a complete development environment, only in the cloud! 🙂

I'm gonna close this, if you need further assistance please open a new issue, or, if it's more like questions / suggestions, you can also join us on [Spectrum](https://spectrum.chat/codesandbox

[2018-12-23 19:20] #1397 closed

[2018-12-23 20:44] #1394 closed

[2018-12-23 20:44] CompuIves commented on #1394
Found the problem! Deploying fix now.